interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1/commonserviceitem?%7B%22Filter%22:%20%7B%22Provider.Class%22:%20%22dns%22,%20%22Name%22:%20%22example.com%22%7D%7D
  response:
    body: {string: '{"From":0,"Count":1,"Total":1,"CommonServiceItems":[{"Index":0,"ID":"112901284755","Name":"example.com","Description":"","Settings":{"DNS":{"ResourceRecordSets":[]}},"SettingsHash":"c63cedb2357b0f262cf61a6f9a61967b","Status":{"Zone":"example.com","NS":["ns1.gslb4.sakura.ne.jp","ns2.gslb4.sakura.ne.jp"]},"ServiceClass":"cloud\/dns","Availability":"available","CreatedAt":"2017-10-12T12:23:40+09:00","ModifiedAt":"2017-10-12T12:23:40+09:00","Provider":{"ID":2000002,"Class":"dns","Name":"gslb4.sakura.ne.jp","ServiceClass":"cloud\/dns"},"Icon":null,"Tags":[]}],"is_ok":true,"_log_url":"http:\/\/is1a-so.cloud.alpha.sakura.ad.jp\/apilog\/#!\/51d5798d7745a86abc86695ee8fa333a"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Status: [200 OK]
      X-Sakura-Content-Length: ['693']
      X-Sakura-Encode-Microtime: ['279']
      X-Sakura-Proxy-Decode-Microtime: ['74']
      X-Sakura-Proxy-Microtime: ['65437']
      X-Sakura-Serial: [51d5798d7745a86abc86695ee8fa333a]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1/commonserviceitem/112901284755
  response:
    body: {string: '{"CommonServiceItem":{"ID":"112901284755","Name":"example.com","Description":"","Settings":{"DNS":{"ResourceRecordSets":[]}},"SettingsHash":"c63cedb2357b0f262cf61a6f9a61967b","Status":{"Zone":"example.com","NS":["ns1.gslb4.sakura.ne.jp","ns2.gslb4.sakura.ne.jp"]},"ServiceClass":"cloud\/dns","Availability":"available","CreatedAt":"2017-10-12T12:23:40+09:00","ModifiedAt":"2017-10-12T12:23:40+09:00","Provider":{"ID":2000002,"Class":"dns","Name":"gslb4.sakura.ne.jp","ServiceClass":"cloud\/dns"},"Icon":null,"Tags":[]},"is_ok":true,"_log_url":"http:\/\/is1a-so.cloud.alpha.sakura.ad.jp\/apilog\/#!\/cb2dbd65950aaf98345bcda63e842a23"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Status: [200 OK]
      X-Sakura-Content-Length: ['651']
      X-Sakura-Encode-Microtime: ['263']
      X-Sakura-Proxy-Decode-Microtime: ['53']
      X-Sakura-Proxy-Microtime: ['49058']
      X-Sakura-Serial: [cb2dbd65950aaf98345bcda63e842a23]
    status: {code: 200, message: OK}
- request:
    body: '{"CommonServiceItem": {"Settings": {"DNS": {"ResourceRecordSets": [{"Name":
      "localhost", "Type": "A", "RData": "127.0.0.1", "TTL": 3600}]}}}}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1/commonserviceitem/112901284755
  response:
    body: {string: '{"CommonServiceItem":{"ID":"112901284755","Name":"example.com","Description":"","Settings":{"DNS":{"ResourceRecordSets":[{"Name":"localhost","Type":"A","RData":"127.0.0.1","TTL":3600}]}},"SettingsHash":"8820135dc5c208780856282fde1dc989","Status":{"Zone":"example.com","NS":["ns1.gslb4.sakura.ne.jp","ns2.gslb4.sakura.ne.jp"]},"ServiceClass":"cloud\/dns","Availability":"available","CreatedAt":"2017-10-12T12:23:40+09:00","ModifiedAt":"2017-10-12T12:23:40+09:00","Provider":{"ID":2000002,"Class":"dns","Name":"gslb4.sakura.ne.jp","ServiceClass":"cloud\/dns"},"Icon":null,"Tags":[]},"Success":true,"is_ok":true,"_log_url":"http:\/\/is1a-so.cloud.alpha.sakura.ad.jp\/apilog\/#!\/1c98c3929fe693d5cdaa243ef5daeb6d"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Status: [200 OK]
      X-Sakura-Content-Length: ['728']
      X-Sakura-Encode-Microtime: ['315']
      X-Sakura-Proxy-Decode-Microtime: ['63']
      X-Sakura-Proxy-Microtime: ['1750992']
      X-Sakura-Serial: [1c98c3929fe693d5cdaa243ef5daeb6d]
    status: {code: 200, message: OK}
version: 1
