interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1/commonserviceitem?%7B%22Filter%22:%20%7B%22Provider.Class%22:%20%22dns%22,%20%22Name%22:%20%22example.com%22%7D%7D
  response:
    body: {string: '{"From":0,"Count":1,"Total":1,"CommonServiceItems":[{"Index":0,"ID":"112901284755","Name":"example.com","Description":"","Settings":{"DNS":{"ResourceRecordSets":[{"Name":"localhost","Type":"A","RData":"127.0.0.1","TTL":3600}]}},"SettingsHash":"8820135dc5c208780856282fde1dc989","Status":{"Zone":"example.com","NS":["ns1.gslb4.sakura.ne.jp","ns2.gslb4.sakura.ne.jp"]},"ServiceClass":"cloud\/dns","Availability":"available","CreatedAt":"2017-10-12T12:23:40+09:00","ModifiedAt":"2017-10-12T12:23:40+09:00","Provider":{"ID":2000002,"Class":"dns","Name":"gslb4.sakura.ne.jp","ServiceClass":"cloud\/dns"},"Icon":null,"Tags":[]}],"is_ok":true,"_log_url":"http:\/\/is1a-so.cloud.alpha.sakura.ad.jp\/apilog\/#!\/40383691c057225b7897c63c3261819e"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Status: [200 OK]
      X-Sakura-Content-Length: ['755']
      X-Sakura-Encode-Microtime: ['280']
      X-Sakura-Proxy-Decode-Microtime: ['43']
      X-Sakura-Proxy-Microtime: ['61448']
      X-Sakura-Serial: [40383691c057225b7897c63c3261819e]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1/commonserviceitem/112901284755
  response:
    body: {string: '{"CommonServiceItem":{"ID":"112901284755","Name":"example.com","Description":"","Settings":{"DNS":{"ResourceRecordSets":[{"Name":"localhost","Type":"A","RData":"127.0.0.1","TTL":3600}]}},"SettingsHash":"8820135dc5c208780856282fde1dc989","Status":{"Zone":"example.com","NS":["ns1.gslb4.sakura.ne.jp","ns2.gslb4.sakura.ne.jp"]},"ServiceClass":"cloud\/dns","Availability":"available","CreatedAt":"2017-10-12T12:23:40+09:00","ModifiedAt":"2017-10-12T12:23:40+09:00","Provider":{"ID":2000002,"Class":"dns","Name":"gslb4.sakura.ne.jp","ServiceClass":"cloud\/dns"},"Icon":null,"Tags":[]},"is_ok":true,"_log_url":"http:\/\/is1a-so.cloud.alpha.sakura.ad.jp\/apilog\/#!\/9a890637a981af37490702d7486ef9df"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Status: [200 OK]
      X-Sakura-Content-Length: ['713']
      X-Sakura-Encode-Microtime: ['567']
      X-Sakura-Proxy-Decode-Microtime: ['112']
      X-Sakura-Proxy-Microtime: ['60254']
      X-Sakura-Serial: [9a890637a981af37490702d7486ef9df]
    status: {code: 200, message: OK}
- request:
    body: '{"CommonServiceItem": {"Settings": {"DNS": {"ResourceRecordSets": [{"Name":
      "localhost", "Type": "A", "RData": "127.0.0.1", "TTL": 3600}, {"Name": "docs",
      "Type": "CNAME", "RData": "docs.example.com.", "TTL": 3600}]}}}}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1/commonserviceitem/112901284755
  response:
    body: {string: '{}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Status: [200 OK]
      X-Sakura-Content-Length: ['2']
      X-Sakura-Encode-Microtime: ['20815']
      X-Sakura-Proxy-Decode-Microtime: ['75']
      X-Sakura-Proxy-Microtime: ['142956']
      X-Sakura-Serial: [bd95e160ce33ecc0ed2363900b98dd1b]
    status: {code: 200, message: OK}
version: 1
