interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1/commonserviceitem?%7B%22Filter%22:%20%7B%22Provider.Class%22:%20%22dns%22,%20%22Name%22:%20%22thisisadomainidonotown.com%22%7D%7D
  response:
    body: {string: '{"From":0,"Count":0,"Total":0,"CommonServiceItems":[],"is_ok":true,"_log_url":"http:\/\/is1a-so.cloud.alpha.sakura.ad.jp\/apilog\/#!\/44af5498bcbbc85be4331a6e2f3e6e6a"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Status: [200 OK]
      X-Sakura-Content-Length: ['168']
      X-Sakura-Encode-Microtime: ['227']
      X-Sakura-Proxy-Decode-Microtime: ['42']
      X-Sakura-Proxy-Microtime: ['47523']
      X-Sakura-Serial: [44af5498bcbbc85be4331a6e2f3e6e6a]
    status: {code: 200, message: OK}
version: 1
