interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1/commonserviceitem?%7B%22Filter%22:%20%7B%22Provider.Class%22:%20%22dns%22,%20%22Name%22:%20%22example.com%22%7D%7D
  response:
    body: {string: '{"From":0,"Count":1,"Total":1,"CommonServiceItems":[{"Index":0,"ID":"112901284755","Name":"example.com","Description":"","Settings":{"DNS":{"ResourceRecordSets":[{"Name":"localhost","Type":"A","RData":"127.0.0.1","TTL":3600},{"Name":"_acme-challenge.fqdn","Type":"TXT","RData":"challengetoken","TTL":3600},{"Name":"_acme-challenge.full","Type":"TXT","RData":"challengetoken","TTL":3600},{"Name":"_acme-challenge.test","Type":"TXT","RData":"challengetoken","TTL":3600},{"Name":"ttl.fqdn","Type":"TXT","RData":"ttlshouldbe3600","TTL":3600},{"Name":"random.fqdntest","Type":"TXT","RData":"challengetoken","TTL":3600},{"Name":"random.fulltest","Type":"TXT","RData":"challengetoken","TTL":3600},{"Name":"random.test","Type":"TXT","RData":"challengetoken","TTL":3600},{"Name":"orig.test","Type":"TXT","RData":"challengetoken","TTL":3600},{"Name":"updated.test","Type":"TXT","RData":"challengetoken","TTL":3600},{"Name":"orig.nameonly.test","Type":"TXT","RData":"updated","TTL":3600},{"Name":"orig.testfqdn","Type":"TXT","RData":"challengetoken","TTL":3600},{"Name":"updated.testfqdn","Type":"TXT","RData":"challengetoken","TTL":3600}]}},"SettingsHash":"12383d069f2d7b45a1cecdfa6ccb46a4","Status":{"Zone":"example.com","NS":["ns1.gslb4.sakura.ne.jp","ns2.gslb4.sakura.ne.jp"]},"ServiceClass":"cloud\/dns","Availability":"available","CreatedAt":"2017-10-12T12:23:40+09:00","ModifiedAt":"2017-10-12T12:23:40+09:00","Provider":{"ID":2000002,"Class":"dns","Name":"gslb4.sakura.ne.jp","ServiceClass":"cloud\/dns"},"Icon":null,"Tags":[]}],"is_ok":true,"_log_url":"http:\/\/is1a-so.cloud.alpha.sakura.ad.jp\/apilog\/#!\/671b6fe8c72583a2d0ee8bf24b8facf2"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Status: [200 OK]
      X-Sakura-Content-Length: ['1658']
      X-Sakura-Encode-Microtime: ['707']
      X-Sakura-Proxy-Decode-Microtime: ['152']
      X-Sakura-Proxy-Microtime: ['59777']
      X-Sakura-Serial: [671b6fe8c72583a2d0ee8bf24b8facf2]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1/commonserviceitem/112901284755
  response:
    body: {string: '{"CommonServiceItem":{"ID":"112901284755","Name":"example.com","Description":"","Settings":{"DNS":{"ResourceRecordSets":[{"Name":"localhost","Type":"A","RData":"127.0.0.1","TTL":3600},{"Name":"_acme-challenge.fqdn","Type":"TXT","RData":"challengetoken","TTL":3600},{"Name":"_acme-challenge.full","Type":"TXT","RData":"challengetoken","TTL":3600},{"Name":"_acme-challenge.test","Type":"TXT","RData":"challengetoken","TTL":3600},{"Name":"ttl.fqdn","Type":"TXT","RData":"ttlshouldbe3600","TTL":3600},{"Name":"random.fqdntest[...]
[...]
