interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns-service.tyo1.conoha.io/v1/domains?name=narusejun.com.
  response:
    body: {string: "{\n  \"domains\": [\n    {\n      \"created_at\": \"2018-10-29T06:35:32.000000\"\
        ,\n      \"description\": null,\n      \"email\": \"postmaster@example.org\"\
        ,\n      \"gslb\": 0,\n      \"id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n      \"name\": \"narusejun.com.\",\n      \"serial\": 1540794998,\n  \
        \    \"ttl\": 3600,\n      \"updated_at\": \"2018-10-29T06:36:28.000000\"\n\
        \    }\n  ]\n}"}
    headers:
      Content-Type: [application/json]
      X-Openstack-Request-Id: [req-3f0ed0a2-911b-4cab-8d03-97af9641ed85]
    status: {code: 200, message: OK}
- request:
    body: '{"name": "orig.test.narusejun.com.", "type": "TXT", "data": "challengetoken",
      "priority": null, "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records
  response:
    body: {string: "{\n  \"created_at\": \"2018-10-29T06:36:29.000000\",\n  \"data\"\
        : \"challengetoken\",\n  \"description\": null,\n  \"domain_id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n  \"gslb_check\": null,\n  \"gslb_region\": null,\n  \"gslb_weight\": null,\n\
        \  \"id\": \"42cf6657-0e80-4e53-97a8-2c1f3d7bf3f6\",\n  \"name\": \"orig.test.narusejun.com.\"\
        ,\n  \"priority\": null,\n  \"ttl\": 3600,\n  \"type\": \"TXT\",\n  \"updated_at\"\
        : null\n}"}
    headers:
      Content-Type: [application/json]
      Location: ['http://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records/42cf6657-0e80-4e53-97a8-2c1f3d7bf3f6']
      X-Openstack-Request-Id: [req-0420636e-170c-4689-88de-e6a1a4704b15]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records
  response:
    body: {string: "{\n  \"records\": [\n    {\n      \"created_at\": \"2018-10-29T06:35:33.000000\"\
        ,\n      \"data\": \"ns-a1.conoha.io.\",\n      \"description\": null,\n \
        \     \"domain_id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\",\n      \"gslb_check\"\
        : null,\n      \"gslb_region\": null,\n      \"gslb_weight\": null,\n    \
        \  \"id\": \"36f7bcfc-3b24-4fda-8fef-52375bcd2fb2\",\n      \"name\": \"narusejun.com.\"\
        ,\n      \"priority\": null,\n      \"ttl\": null,\n      \"type\": \[...]
- request:
    body: '{"name": "updated.test.narusejun.com.", "type": "TXT", "data": "challengetoken",
      "priority": null, "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records/42cf6657-0e80-4e53-97a8-2c1f3d7bf3f6
  response:
    body: {string: "{\n  \"created_at\": \"2018-10-29T06:36:29.000000\",\n  \"data\"\
        : \"challengetoken\",\n  \"description\": null,\n  \"domain_id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n  \"gslb_check\": null,\n  \"gslb_region\": null,\n  \"gslb_weight\": null,\n\
        \  \"id\": \"42cf6657-0e80-4e53-97a8-2c1f3d7bf3f6\",\n  \"name\": \"updated.test.narusejun.com.\"\
        ,\n  \"priority\": null,\n  \"ttl\": 3600,\n  \"type\": \"TXT\",\n  \"updated_at\"\
        : \"2018-10-29T06:36:30.000000\"\n}"}
    headers:
      Content-Type: [application/json]
      X-Openstack-Request-Id: [req-ce778af3-572c-4769-a9b4-9d6b51d97ade]
    status: {code: 200, message: OK}
version: 1
