interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns-service.tyo1.conoha.io/v1/domains?name=narusejun.com.
  response:
    body: {string: "{\n  \"domains\": [\n    {\n      \"created_at\": \"2018-10-29T06:35:32.000000\"\
        ,\n      \"description\": null,\n      \"email\": \"postmaster@example.org\"\
        ,\n      \"gslb\": 0,\n      \"id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n      \"name\": \"narusejun.com.\",\n      \"serial\": 1540794968,\n  \
        \    \"ttl\": 3600,\n      \"updated_at\": \"2018-10-29T06:36:07.000000\"\n\
        \    }\n  ]\n}"}
    headers:
      Content-Type: [application/json]
      X-Openstack-Request-Id: [req-0a170816-09ef-4e19-a77a-9763b993e3cf]
    status: {code: 200, message: OK}
- request:
    body: '{"name": "_acme-challenge.test.narusejun.com.", "type": "TXT", "data":
      "challengetoken", "priority": null, "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records
  response:
    body: {string: "{\n  \"created_at\": \"2018-10-29T06:36:08.000000\",\n  \"data\"\
        : \"challengetoken\",\n  \"description\": null,\n  \"domain_id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n  \"gslb_check\": null,\n  \"gslb_region\": null,\n  \"gslb_weight\": null,\n\
        \  \"id\": \"7a8993fd-2b77-41a8-99b9-d6edab68a43b\",\n  \"name\": \"_acme-challenge.test.narusejun.com.\"\
        ,\n  \"priority\": null,\n  \"ttl\": 3600,\n  \"type\": \"TXT\",\n  \"updated_at\"\
        : null\n}"}
    headers:
      Content-Type: [application/json]
      Location: ['http://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records/7a8993fd-2b77-41a8-99b9-d6edab68a43b']
      X-Openstack-Request-Id: [req-879e47b9-05f8-4685-b0af-466a7c8eb3e2]
    status: {code: 200, message: OK}
version: 1
