interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns-service.tyo1.conoha.io/v1/domains?name=narusejun.com.
  response:
    body: {string: "{\n  \"domains\": [\n    {\n      \"created_at\": \"2018-10-29T06:35:32.000000\"\
        ,\n      \"description\": null,\n      \"email\": \"postmaster@example.org\"\
        ,\n      \"gslb\": 0,\n      \"id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n      \"name\": \"narusejun.com.\",\n      \"serial\": 1540795007,\n  \
        \    \"ttl\": 3600,\n      \"updated_at\": \"2018-10-29T06:36:34.000000\"\n\
        \    }\n  ]\n}"}
    headers:
      Content-Type: [application/json]
      X-Openstack-Request-Id: [req-b89a8984-5955-4f7a-89c4-56c6ec7dab78]
    status: {code: 200, message: OK}
- request:
    body: '{"name": "orig.testfull.narusejun.com.", "type": "TXT", "data": "challengetoken",
      "priority": null, "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records
  response:
    body: {string: "{\n  \"created_at\": \"2018-10-29T06:36:35.000000\",\n  \"data\"\
        : \"challengetoken\",\n  \"description\": null,\n  \"domain_id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n  \"gslb_check\": null,\n  \"gslb_region\": null,\n  \"gslb_weight\": null,\n\
        \  \"id\": \"48a3e31c-5455-4306-9e4b-8990f91865ec\",\n  \"name\": \"orig.testfull.narusejun.com.\"\
        ,\n  \"priority\": null,\n  \"ttl\": 3600,\n  \"type\": \"TXT\",\n  \"updated_at\"\
        : null\n}"}
    headers:
      Content-Type: [application/json]
      Location: ['http://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records/48a3e31c-5455-4306-9e4b-8990f91865ec']
      X-Openstack-Request-Id: [req-50bcdf13-55e5-4b33-a52e-b2b0bb395f46]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records
  response:
    body: {string: "{\n  \"records\": [\n    {\n      \"created_at\": \"2018-10-29T06:35:33.000000\"\
        ,\n      \"data\": \"ns-a1.conoha.io.\",\n      \"description\": null,\n \
        \     \"domain_id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\",\n      \"gslb_check\"\
        : null,\n      \"gslb_region\": null,\n      \"gslb_weight\": null,\n    \
        \  \"id\": \"36f7bcfc-3b24-4fda-8fef-52375bcd2fb2\",\n      \"name\": \"narusejun.com.\"\
        ,\n      \"priority\": null,\n      \"ttl\": null,\n      \"type\": \[...]
- request:
    body: '{"name": "updated.testfull.narusejun.com.", "type": "TXT", "data": "challengetoken",
      "priority": null, "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records/48a3e31c-5455-4306-9e4b-8990f91865ec
  response:
    body: {string: "{\n  \"created_at\": \"2018-10-29T06:36:35.000000\",\n  \"data\"\
        : \"challengetoken\",\n  \"description\": null,\n  \"domain_id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n  \"gslb_check\": null,\n  \"gslb_region\": null,\n  \"gslb_weight\": null,\n\
        \  \"id\": \"48a3e31c-5455-4306-9e4b-8990f91865ec\",\n  \"name\": \"updated.testfull.narusejun.com.\"\
        ,\n  \"priority\": null,\n  \"ttl\": 3600,\n  \"type\": \"TXT\",\n  \"updated_at\"\
        : \"2018-10-29T06:36:35.000000\"\n}"}
    headers:
      Content-Type: [application/json]
      X-Openstack-Request-Id: [req-97723ac8-236a-46f8-8e17-4e3cee1cbf15]
    status: {code: 200, message: OK}
version: 1
