interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns-service.tyo1.conoha.io/v1/domains?name=narusejun.com.
  response:
    body: {string: "{\n  \"domains\": [\n    {\n      \"created_at\": \"2018-10-29T06:35:32.000000\"\
        ,\n      \"description\": null,\n      \"email\": \"postmaster@example.org\"\
        ,\n      \"gslb\": 0,\n      \"id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n      \"name\": \"narusejun.com.\",\n      \"serial\": 1540794987,\n  \
        \    \"ttl\": 3600,\n      \"updated_at\": \"2018-10-29T06:36:20.000000\"\n\
        \    }\n  ]\n}"}
    headers:
      Content-Type: [application/json]
      X-Openstack-Request-Id: [req-b06578c8-bcac-42ec-83b1-df9e595dba94]
    status: {code: 200, message: OK}
- request:
    body: '{"name": "_acme-challenge.deleterecordset.narusejun.com.", "type": "TXT",
      "data": "challengetoken1", "priority": null, "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records
  response:
    body: {string: "{\n  \"created_at\": \"2018-10-29T06:36:20.000000\",\n  \"data\"\
        : \"challengetoken1\",\n  \"description\": null,\n  \"domain_id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n  \"gslb_check\": null,\n  \"gslb_region\": null,\n  \"gslb_weight\": null,\n\
        \  \"id\": \"73a00cb9-22be-43f9-932d-d7a4f09b3ef6\",\n  \"name\": \"_acme-challenge.deleterecordset.narusejun.com.\"\
        ,\n  \"priority\": null,\n  \"ttl\": 3600,\n  \"type\": \"TXT\",\n  \"updated_at\"\
        : null\n}"}
    headers:
      Content-Type: [application/json]
      Location: ['http://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records/73a00cb9-22be-43f9-932d-d7a4f09b3ef6']
      X-Openstack-Request-Id: [req-67cc0bbb-0477-4424-aba2-c104d8a6491b]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records
  response:
    body: {string: "{\n  \"records\": [\n    {\n      \"created_at\": \"2018-10-29T06:35:33.000000\"\
        ,\n      \"data\": \"ns-a1.conoha.io.\",\n      \"description\": null,\n \
        \     \"domain_id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\",\n      \"gslb_check\"\
        : null,\n      \"gslb_region\": null,\n      \"gslb_weight\": null,\n    \
        \  \"id\": \"36f7bcfc-3b24-4fda-8fef-52375bcd2fb2\",\n      \"name\": \"narusejun.com.\"\
        ,\n      \"priority\": null,\n      \"ttl\": null,\n      \"type\": \[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records/73a00cb9-22be-43f9-932d-d7a4f09b3ef6
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      X-Openstack-Request-Id: [req-0faf2874-ab10-47e0-9c7c-0032e98f7942]
    status: {code: 200, message: OK}
[...]
