interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns-service.tyo1.conoha.io/v1/domains?name=narusejun.com.
  response:
    body: {string: "{\n  \"domains\": [\n    {\n      \"created_at\": \"2018-10-29T06:35:32.000000\"\
        ,\n      \"description\": null,\n      \"email\": \"postmaster@example.org\"\
        ,\n      \"gslb\": 0,\n      \"id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n      \"name\": \"narusejun.com.\",\n      \"serial\": 1540794971,\n  \
        \    \"ttl\": 3600,\n      \"updated_at\": \"2018-10-29T06:36:09.000000\"\n\
        \    }\n  ]\n}"}
    headers:
      Content-Type: [application/json]
      X-Openstack-Request-Id: [req-ac0ee529-de7c-4fb0-ab25-d99fb903fd8f]
    status: {code: 200, message: OK}
- request:
    body: '{"name": "_acme-challenge.noop.narusejun.com.", "type": "TXT", "data":
      "challengetoken", "priority": null, "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records
  response:
    body: {string: "{\n  \"created_at\": \"2018-10-29T06:36:10.000000\",\n  \"data\"\
        : \"challengetoken\",\n  \"description\": null,\n  \"domain_id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n  \"gslb_check\": null,\n  \"gslb_region\": null,\n  \"gslb_weight\": null,\n\
        \  \"id\": \"913e3bdc-1e58-4434-8f8e-d502932fd1b4\",\n  \"name\": \"_acme-challenge.noop.narusejun.com.\"\
        ,\n  \"priority\": null,\n  \"ttl\": 3600,\n  \"type\": \"TXT\",\n  \"updated_at\"\
        : null\n}"}
    headers:
      Content-Type: [application/json]
      Location: ['http://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records/913e3bdc-1e58-4434-8f8e-d502932fd1b4']
      X-Openstack-Request-Id: [req-baf2bdb4-e78a-47ad-977a-27f934f6a8e7]
    status: {code: 200, message: OK}
- request:
    body: '{"name": "_acme-challenge.noop.narusejun.com.", "type": "TXT", "data":
      "challengetoken", "priority": null, "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records
  response:
    body: {string: '{"code": 409, "type": "duplicate_record", "request_id": "req-ac67438a-4f93-437a-ab41-961bb8380079"}'}
    headers:
      Content-Type: [application/json]
      X-Openstack-Request-Id: [req-ac67438a-4f93-437a-ab41-961bb8380079]
    status: {code: 409, message: CONFLICT}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records
  response:
    body: {string: "{\n  \"records\": [\n    {\n      \"created_at\": \"2018-10-29T06:35:33.000000\"\
        ,\n      \"data\": \"ns-a1.conoha.io.\",\n      \"description\": null,\n \
        \     \"domain_id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\",\n      \"gslb_check\"\
        : null,\n      \"gslb_region\": null,\n      \"gslb_weight\": null,\n    \
        \  \"id\": \"36f7bcfc-3b24-4fda-8fef-52375bcd2fb2\",\n      \"name\": \"narusejun.com.\"\
        ,\n      \"priority\": null,\n      \"ttl\": null,\n      \"type\": \[...]
