interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns-service.tyo1.conoha.io/v1/domains?name=narusejun.com.
  response:
    body: {string: "{\n  \"domains\": [\n    {\n      \"created_at\": \"2018-10-29T06:35:32.000000\"\
        ,\n      \"description\": null,\n      \"email\": \"postmaster@example.org\"\
        ,\n      \"gslb\": 0,\n      \"id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n      \"name\": \"narusejun.com.\",\n      \"serial\": 1540794981,\n  \
        \    \"ttl\": 3600,\n      \"updated_at\": \"2018-10-29T06:36:16.000000\"\n\
        \    }\n  ]\n}"}
    headers:
      Content-Type: [application/json]
      X-Openstack-Request-Id: [req-3919ac03-020f-431f-b198-e7d6d7ac970d]
    status: {code: 200, message: OK}
- request:
    body: '{"name": "delete.testid.narusejun.com.", "type": "TXT", "data": "challengetoken",
      "priority": null, "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records
  response:
    body: {string: "{\n  \"created_at\": \"2018-10-29T06:36:16.000000\",\n  \"data\"\
        : \"challengetoken\",\n  \"description\": null,\n  \"domain_id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\"\
        ,\n  \"gslb_check\": null,\n  \"gslb_region\": null,\n  \"gslb_weight\": null,\n\
        \  \"id\": \"01084803-e932-4800-ad70-50c214144c4e\",\n  \"name\": \"delete.testid.narusejun.com.\"\
        ,\n  \"priority\": null,\n  \"ttl\": 3600,\n  \"type\": \"TXT\",\n  \"updated_at\"\
        : null\n}"}
    headers:
      Content-Type: [application/json]
      Location: ['http://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records/01084803-e932-4800-ad70-50c214144c4e']
      X-Openstack-Request-Id: [req-6a76098f-a5bc-4a2a-9064-d534a5d01fb1]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records
  response:
    body: {string: "{\n  \"records\": [\n    {\n      \"created_at\": \"2018-10-29T06:35:33.000000\"\
        ,\n      \"data\": \"ns-a1.conoha.io.\",\n      \"description\": null,\n \
        \     \"domain_id\": \"b5174df6-cc7f-484e-a09d-859027bad1c8\",\n      \"gslb_check\"\
        : null,\n      \"gslb_region\": null,\n      \"gslb_weight\": null,\n    \
        \  \"id\": \"36f7bcfc-3b24-4fda-8fef-52375bcd2fb2\",\n      \"name\": \"narusejun.com.\"\
        ,\n      \"priority\": null,\n      \"ttl\": null,\n      \"type\": \[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://dns-service.tyo1.conoha.io/v1/domains/b5174df6-cc7f-484e-a09d-859027bad1c8/records/01084803-e932-4800-ad70-50c214144c4e
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/html; charset=utf-8]
      X-Openstack-Request-Id: [req-9fbb450c-0d73-42c4-aa5a-d14914cab31c]
    status: {code: 200, message: OK}
[...]
