interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eu.api.ovh.com/1.0/auth/time
  response:
    body: {string: '1538728149'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Ovh-Queryid: [EU.ext-4.5bb720d5.32550.131ff46a-469e-494d-8a8a-f2138d8b79c8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1538728149']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/
  response:
    body: {string: '["pacalis.net"]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Ovh-Queryid: [EU.ext-4.5bb720d5.32550.b9fa3dbc-e660-45bc-91f4-fadf9e12f0c7]
      X-Recruitment: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1538728149']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/pacalis.net/status
  response:
    body: {string: '{"warnings":null,"errors":null,"isDeployed":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Ovh-Queryid: [EU.ext-4.5bb720d5.32550.c0cd7051-85ca-484a-bef3-923272f5495f]
      X-Recruitment: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1538728149']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/pacalis.net/record
  response:
    body: {string: '[1553644693,1553644694,1553644697,1553644695,1570610742,1570610744,1553644696,1553644690,1570610770,1570610771,1570610773,1570610763,1553644691,1553644692,1570610750,1570610751,1570610758,1570610745,1570610747,1570610766,1570610768,1570610752,1570610749]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Ovh-Queryid: [EU.ext-4.5bb720d5.32550.ee2fb4fb-1c76-4505-84b8-f788a5444db5]
      X-Recruitment: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1538728149']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/pacalis.net/record/1553644693
  response:
    body: {string: '{"target":"dns103.ovh.net.","ttl":0,"zone":"pacalis.net","fieldType":"NS","id":1553644693,"subDomain":""}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Ovh-Queryid: [EU.ext-4.5bb720d5.32550.a3b8f7b4-ed72-4e1f-947f-e62ddb2f67a0]
      X-Recruitment: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1538728151']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/pacalis.net/record/1570610749
  response:
    body: {string: '{"target":"challengetoken","ttl":3600,"zone":"pacalis.net","fieldType":"TXT","id":1570610749,"subDomain":"_acme-challenge.test"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Ovh-Queryid: [EU.ext-4.5bb720d7.32550.cc9a2fb6-1b78-40a1-a7e0-21d623682c94]
      X-Recruitment: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
version: 1
