interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com
  response:
    body:
      string: '{"zoneType":"PRIMARY","name":"lexicon-test.com","externalMasters":[],"self":"https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com","timeCreated":"2021-06-23T10:07:46Z","version":"448","serial":448,"nameservers":[{"hostname":"ns1.p68.dns.oraclecloud.net"},{"hostname":"ns2.p68.dns.oraclecloud.net"},{"hostname":"ns3.p68.dns.oraclecloud.net"},{"hostname":"ns4.p68.dns.oraclecloud.net"}],"compartmentId":"OCI-COMPARTMENT-ID","id":"DNS-ZONE-ID","lifecycleState":"ACTIVE","scope":"GLOBAL","viewId":null,"isProtected":false}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"448ocid1.dns-zone.oc1..847c27f48092401b867140660ee2168docid1.compartment.oc1..aaaaaaaakklh3onuoqfzgpe4tlflbmabkytrmmukcllef5vfc65quvqhtfsq164374825086dc65cd5dc548c248f61328b5d668#application/json--gzip"'
      opc-request-id:
      - /B269221EA13D24BC452952EEC26C3192/9B68BF2941832DAA06240CE44D1F0310
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "ADD", "rtype": "TXT", "rdata": "ttlshouldbe3600",
      "ttl": 3600}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/ttl.fqdn.lexicon-test.com
  response:
    body:
      string: '{"items":[{"domain":"ttl.fqdn.lexicon-test.com","recordHash":"b1a860728a050a1e193737002a8c392e","isProtected":false,"rdata":"\"ttlshouldbe3600\"","rrsetVersion":"298","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"298ocid1.dns-zone.oc1..847c27f48092401b867140660ee2168d#application/json"'
      opc-request-id:
      - /3F9F54DFA9E1D9D251C6BE4B1CC055CA/75C30151C23D41F079BF84A836A6CC81
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/ttl.fqdn.lexicon-test.com?limit=100&rtype=TXT
  response:
    body:
      string: '{"items":[{"domain":"ttl.fqdn.lexicon-test.com","recordHash":"b1a860728a050a1e193737002a8c392e","isProtected":false,"rdata":"\"ttlshouldbe3600\"","rrsetVersion":"298","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"298ocid1.dns-zone.oc1..847c27f48092401b867140660ee2168d#application/json"'
      opc-request-id:
      - /8BBB0E3A01CC54974DA7836544909B7B/28CA1D6F53D3DDA12C6434630403FC06
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
version: 1
