interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com
  response:
    body:
      string: '{"zoneType":"PRIMARY","name":"lexicon-test.com","externalMasters":[],"self":"https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com","timeCreated":"2021-06-23T10:07:46Z","version":"448","serial":448,"nameservers":[{"hostname":"ns1.p68.dns.oraclecloud.net"},{"hostname":"ns2.p68.dns.oraclecloud.net"},{"hostname":"ns3.p68.dns.oraclecloud.net"},{"hostname":"ns4.p68.dns.oraclecloud.net"}],"compartmentId":"OCI-COMPARTMENT-ID","id":"DNS-ZONE-ID","lifecycleState":"ACTIVE","scope":"GLOBAL","viewId":null,"isProtected":false}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"448ocid1.dns-zone.oc1..847c27f48092401b867140660ee2168docid1.compartment.oc1..aaaaaaaakklh3onuoqfzgpe4tlflbmabkytrmmukcllef5vfc65quvqhtfsq164374825086dc65cd5dc548c248f61328b5d668#application/json--gzip"'
      opc-request-id:
      - /6F4A2808BC35929BD3C9BA87A9EEFD96/9371DD325B9BD6539712FF6A3E1FCE99
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "ADD", "rtype": "TXT", "rdata": "challengetoken",
      "ttl": 3600}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/orig.testfull.lexicon-test.com
  response:
    body:
      string: '{"items":[{"domain":"orig.testfull.lexicon-test.com","recordHash":"5812b10f4c43f8ac590a8bd07f5dce3c","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"307","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"307ocid1.dns-zone.oc1..847c27f48092401b867140660ee2168d#application/json"'
      opc-request-id:
      - /1D33F59554B25C506A7910B6B8A739A3/2B95FE8EDE7AEEB2F5A4DA8ACBF3B052
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/orig.testfull.lexicon-test.com?limit=100&rtype=TXT
  response:
    body:
      string: '{"items":[{"domain":"orig.testfull.lexicon-test.com","recordHash":"5812b10f4c43f8ac590a8bd07f5dce3c","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"307","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"307ocid1.dns-zone.oc1..847c27f48092401b867140660ee2168d#application/json"'
      opc-request-id:
      - /026CA3DB015EDC94D1834B14480D1E38/D53FD4057BEF5700D1466A03C05D7825
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records?limit=100&rtype=TXT
  response:
    body:
      string: '{"items":[{"domain":"orig.nameonly.test.lexicon-test.com","recordHash":"896d848b26f834d9c8fe08f83aaa580b","isProtected":false,"rdata":"\"updated\"","rrsetVersion":"321","rtype":"TXT","ttl":3600},{"domain":"orig.nameonly.test.lexicon-test.com","recordHas[...]
[...]
