interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com
  response:
    body:
      string: '{"zoneType":"PRIMARY","name":"lexicon-test.com","externalMasters":[],"self":"https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com","timeCreated":"2021-06-23T10:07:46Z","version":"435","serial":435,"nameservers":[{"hostname":"ns1.p68.dns.oraclecloud.net"},{"hostname":"ns2.p68.dns.oraclecloud.net"},{"hostname":"ns3.p68.dns.oraclecloud.net"},{"hostname":"ns4.p68.dns.oraclecloud.net"}],"compartmentId":"OCI-COMPARTMENT-ID","id":"DNS-ZONE-ID","lifecycleState":"ACTIVE","scope":"GLOBAL","viewId":null,"isProtected":false}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"435ocid1.dns-zone.oc1..847c27f48092401b867140660ee2168docid1.compartment.oc1..aaaaaaaakklh3onuoqfzgpe4tlflbmabkytrmmukcllef5vfc65quvqhtfsq164374825086dc65cd5dc548c248f61328b5d668#application/json--gzip"'
      opc-request-id:
      - /CE86F09FF545C3FA72C08C3BAFF94EEC/3B9BCEA134331ED27E082540D4DEF763
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "ADD", "rtype": "CNAME", "rdata": "docs.example.com",
      "ttl": 3600}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/docs.lexicon-test.com
  response:
    body:
      string: '{"items":[{"domain":"docs.lexicon-test.com","recordHash":"d6fe36b079d4ac2985b25a5b96882cd7","isProtected":false,"rdata":"docs.example.com.","rrsetVersion":"278","rtype":"CNAME","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"278ocid1.dns-zone.oc1..847c27f48092401b867140660ee2168d#application/json"'
      opc-request-id:
      - /2C677C7D2C903ACF8B40E95026B1470E/0EE9C6673B38DAC4A3C9F4C3C18E4E8C
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
version: 1
