interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com
  response:
    body:
      string: '{"zoneType":"PRIMARY","name":"lexicon-test.com","externalMasters":[],"self":"https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com","timeCreated":"2022-05-13T19:21:39Z","version":"70","serial":70,"nameservers":[{"hostname":"ns1.p68.dns.oraclecloud.net"},{"hostname":"ns2.p68.dns.oraclecloud.net"},{"hostname":"ns3.p68.dns.oraclecloud.net"},{"hostname":"ns4.p68.dns.oraclecloud.net"}],"compartmentId":"OCI-COMPARTMENT-ID","id":"DNS-ZONE-ID","lifecycleState":"ACTIVE","definedTags":{"Oracle-Tags":{"CreatedBy":"USER-ID","CreatedOn":"2022-05-13T19:21:38.526Z"}},"scope":"GLOBAL","viewId":null,"isProtected":false,"dnssecState":"Disabled","dnssecConfig":null}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"70ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65-b76469c1df67f3a1078010f356d0d815a13fff620a82562f86461ef12b97119238a13e42#application/json--gzip"'
      opc-request-id:
      - /ECEFA3D0A008618EFF503917DE415878/FEF5521B6BA95D4302F5A1AB8CED7950
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "ADD", "domain": "delete.testid.lexicon-test.com",
      "rtype": "TXT", "rdata": "challengetoken", "ttl": 3600}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/delete.testid.lexicon-test.com
  response:
    body:
      string: '{"items":[{"domain":"delete.testid.lexicon-test.com","recordHash":"5c07143016211e8c9028506b751fabc8","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"71","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"71ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /38CE40390769FF19A97404619D5F3ACA/0E3DE5410CF1648B7BF529C2ED013B16
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/delete.testid.lexicon-test.com?limit=100&rtype=TXT
  response:
    body:
      string: '{"items":[{"domain":"delete.testid.lexicon-test.com","recordHash":"5c07143016211e8c9028506b751fabc8","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"71","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"71ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /D1C098381AB3FDBD0A03915A40289EC7/2D98821A38E369627732EAA439C84EDA
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records?limit=100
  response:
    body:
      string: '{"items":[{"domain":"delete.testid.lexicon-test.com","recordHash":"5c07143016211e8c9028506b751fabc8","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"71","rtype":"TXT","ttl":3600},{"domain":"docs.lexicon-test.com","recordHash":"0e991e1a14f5c7425ca[...]
- request:
    body: '{"items": [{"operation": "REMOVE", "recordHash": "5c07143016211e8c9028506b751fabc8"}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records
  response:
    body:
      string: '{"items":[{"domain":"docs.lexicon-test.com","recordHash":"0e991e1a14f5c7425caa0d4461328a8a","isProtected":false,"rdata":"docs.example.com.","rrsetVersion":"3","rtype":"CNAME","ttl":3600},[...]
[...]
