interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com
  response:
    body:
      string: '{"zoneType":"PRIMARY","name":"lexicon-test.com","externalMasters":[],"self":"https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com","timeCreated":"2021-06-23T10:07:46Z","version":"437","serial":437,"nameservers":[{"hostname":"ns1.p68.dns.oraclecloud.net"},{"hostname":"ns2.p68.dns.oraclecloud.net"},{"hostname":"ns3.p68.dns.oraclecloud.net"},{"hostname":"ns4.p68.dns.oraclecloud.net"}],"compartmentId":"OCI-COMPARTMENT-ID","id":"DNS-ZONE-ID","lifecycleState":"ACTIVE","scope":"GLOBAL","viewId":null,"isProtected":false}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"437ocid1.dns-zone.oc1..847c27f48092401b867140660ee2168docid1.compartment.oc1..aaaaaaaakklh3onuoqfzgpe4tlflbmabkytrmmukcllef5vfc65quvqhtfsq164374825086dc65cd5dc548c248f61328b5d668#application/json--gzip"'
      opc-request-id:
      - /24D5F52F671CA16599FF9B321823F75E/5AC0FE7EB527F4307CF1D7CB5CE035A1
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "ADD", "rtype": "TXT", "rdata": "challengetoken",
      "ttl": 3600}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/delete.testfqdn.lexicon-test.com
  response:
    body:
      string: '{"items":[{"domain":"delete.testfqdn.lexicon-test.com","recordHash":"9474b14f5a802399805027dd51c5d72e","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"438","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"438ocid1.dns-zone.oc1..847c27f48092401b867140660ee2168d#application/json"'
      opc-request-id:
      - /1A49377F2BB20DAD2C4F665DB43E5262/B7D600DACB04B29B186068F5FD65DC70
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/delete.testfqdn.lexicon-test.com?limit=100&rtype=TXT
  response:
    body:
      string: '{"items":[{"domain":"delete.testfqdn.lexicon-test.com","recordHash":"9474b14f5a802399805027dd51c5d72e","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"438","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"438ocid1.dns-zone.oc1..847c27f48092401b867140660ee2168d#application/json"'
      opc-request-id:
      - /9613808E081D3CC6A0EC7597ADEED716/6C69F87C949D2CCAF7EDC48BF2A02C88
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "REMOVE", "recordHash": "9474b14f5a802399805027dd51c5d72e"}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records
  response:
    body:
      string: '{"items":[{"domain":"docs.lexicon-test.com","recordHash":"d6fe36b079d4ac2985b25a5b96882cd7","isProtected":false,"rdata":"docs.example.com.","rrsetVersion":"278","rtype":"CNAME","ttl":3600[...]
[...]
