interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com
  response:
    body:
      string: '{"zoneType":"PRIMARY","name":"lexicon-test.com","externalMasters":[],"self":"https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com","timeCreated":"2022-05-13T19:21:39Z","version":"78","serial":78,"nameservers":[{"hostname":"ns1.p68.dns.oraclecloud.net"},{"hostname":"ns2.p68.dns.oraclecloud.net"},{"hostname":"ns3.p68.dns.oraclecloud.net"},{"hostname":"ns4.p68.dns.oraclecloud.net"}],"compartmentId":"OCI-COMPARTMENT-ID","id":"DNS-ZONE-ID","lifecycleState":"ACTIVE","definedTags":{"Oracle-Tags":{"CreatedBy":"USER-ID","CreatedOn":"2022-05-13T19:21:38.526Z"}},"scope":"GLOBAL","viewId":null,"isProtected":false,"dnssecState":"Disabled","dnssecConfig":null}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"78ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65-b76469c1df67f3a1078010f356d0d815a13fff620a82562f86461ef12b97119238a13e42#application/json--gzip"'
      opc-request-id:
      - /36D26232E69A426DD96E04A7DCE09B46/C8F5FCCD1E8648394A45FBE925A11304
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "ADD", "domain": "orig.testfull.lexicon-test.com",
      "rtype": "TXT", "rdata": "challengetoken", "ttl": 3600}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/orig.testfull.lexicon-test.com
  response:
    body:
      string: '{"items":[{"domain":"orig.testfull.lexicon-test.com","recordHash":"01003d82d88ebce5edd385f05ee73716","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"34","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"34ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /D56EF9E4AD1E0A4EE68552E0F188F2F5/45910348164534391134AB25921F1449
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/orig.testfull.lexicon-test.com?limit=100&rtype=TXT
  response:
    body:
      string: '{"items":[{"domain":"orig.testfull.lexicon-test.com","recordHash":"01003d82d88ebce5edd385f05ee73716","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"34","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"34ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /531E34AA70F2AA5FCB046A5D48E89D38/69C48AFF23D07952D9AA2954B0A5449C
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records?limit=100&rtype=TXT
  response:
    body:
      string: '{"items":[{"domain":"orig.nameonly.test.lexicon-test.com","recordHash":"b7cc5b46f09925b4216d3ad16b8cbf78","isProtected":false,"rdata":"\"updated\"","rrsetVersion":"78","rtype":"TXT","ttl":3600},{"domain":"orig.nameonly.test.lexicon-test.com","recordHash[...]
[...]
