interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=capsulecd.com
  response:
    body: {string: !!python/unicode '{"records": [{"content": "mx.yandex.net.", "domain":
        "capsulecd.com", "fqdn": "capsulecd.com", "priority": 10, "ttl": 21600, "record_id":
        39559783, "subdomain": "@", "type": "MX"}, {"content": "dns1.yandex.net.",
        "domain": "capsulecd.com", "fqdn": "capsulecd.com", "priority": "", "ttl":
        21600, "record_id": 39559782, "subdomain": "@", "type": "NS"}, {"content":
        "dns2.yandex.net.", "domain": "capsulecd.com", "fqdn": "capsulecd.com", "priority":
        "", "ttl": 21600, "record_id": 39559781, "subdomain": "@", "type": "NS"},
        {"content": "dns1.yandex.net.", "domain": "capsulecd.com", "retry": 900, "fqdn":
        "capsulecd.com", "refresh": 14400, "admin_mail": "lexicon.test.yandex.ru",
        "priority": "", "expire": 1209600, "ttl": 21600, "record_id": 39559780, "subdomain":
        "@", "type": "SOA", "minttl": 14400}, {"content": "v=spf1 redirect=_spf.yandex.net",
        "domain": "capsulecd.com", "fqdn": "capsulecd.com", "priority": "", "ttl":
        21600, "record_id": 39559784, "subdomain": "@", "type": "TXT"}, {"content":
        "docs.example.com.", "domain": "capsulecd.com", "fqdn": "docs.capsulecd.com",
        "priority": "", "ttl": 21600, "record_id": 39560158, "subdomain": "docs",
        "type": "CNAME"}, {"content": "domain.mail.yandex.net.", "domain": "capsulecd.com",
        "fqdn": "[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=capsulecd.com&type=TXT&subdomain=_acme-challenge.deleterecordinset&content=challengetoken1&ttl=3600
  response:
    body: {string: !!python/unicode '{"record": {"content": "challengetoken1", "domain":
        "capsulecd.com", "fqdn": "_acme-challenge.deleterecordinset.capsulecd.com",
        "priority": "", "ttl": 3600, "record_id": 48535408, "subdomain": "_acme-challenge.deleterecordinset",
        "type": "TXT"}, "domain": "capsulecd.com", "success": "ok"}

        '}
    headers:
      content-disposition: [attachment; filename="json.txt"; filename*=UTF-8''json.txt]
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/del?domain=capsulecd.com&record_id=48535408
  response:
    body: {string: !!python/unicode '{"record_id": 48535408, "domain": "capsulecd.com",
        "success": "ok"}

        '}
    headers:
      content-disposition: [attachment; filename="json.txt"; filename*=UTF-8''json.txt]
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
