interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=example.com
  response:
    body:
      string: '{"records": [{"domain": "example.com", "priority": "", "subdomain":
        "_acme-challenge.fqdn", "content": "challengetoken", "record_id": 33346411,
        "type": "TXT", "fqdn": "_acme-challenge.fqdn.example.com", "ttl": 3600}, {"domain":
        "example.com", "priority": "", "subdomain": "_acme-challenge.test", "content":
        "challengetoken", "record_id": 33346413, "type": "TXT", "fqdn": "_acme-challenge.test.example.com",
        "ttl": 3600}, {"domain": "example.com", "priority": "", "subdomain": "_acme-challenge.createrecordset",
        "content": "challengetoken1", "record_id": 33346414, "type": "TXT", "fqdn":
        "_acme-challenge.createrecordset.example.com", "ttl": 3600}, {"domain": "example.com",
        "priority": "", "subdomain": "_acme-challenge.createrecordset", "content":
        "challengetoken2", "record_id": 33346415, "type": "TXT", "fqdn": "_acme-challenge.createrecordset.example.com",
        "ttl": 3600}, {"domain": "example.com", "priority": "", "subdomain": "localhost",
        "content": "127.0.0.1", "record_id": 33346409, "type": "A", "fqdn": "localhost.example.com",
        "ttl": 3600}, {"domain": "example.com", "priority": "", "subdomain": "docs",
        "content": "docs.example.com.", "record_id": 33346410, "type": "CNAME", "fqdn":
        "docs.example.com", "ttl": 3600}, {"domain": "example.com", "priority": "",
        "subdomain": "_acme-challenge.full", "content": "challengetoken", "record_id":
        33346412, "type": "TXT", "fqdn": "_acme-challenge.full.example.com", "ttl":
        3600}], "domain": "example.com", "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=example.com&type=TXT&subdomain=_acme-challenge.noop&content=challengetoken&ttl=3600
  response:
    body:
      string: '{"domain": "example.com", "record": {"content": "challengetoken", "subdomain":
        "_acme-challenge.noop", "priority": "", "ttl": 3600, "domain": "example.com",
        "record_id": 33346416, "fqdn": "_acme-challenge.noop.example.com", "type":
        "TXT"}, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=example.com&type=TXT&subdomain=_acme-challenge.noop&content=challengetoken&ttl=3600
  response:
    body:
      string: '{"error": "record_exists", "success": "error", "domain": "example.com"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
