interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=example.com
  response:
    body:
      string: '{"domain": "example.com", "records": [{"subdomain": "_acme-challenge.fqdn",
        "record_id": 33346411, "domain": "example.com", "priority": "", "ttl": 3600,
        "fqdn": "_acme-challenge.fqdn.example.com", "content": "challengetoken", "type":
        "TXT"}, {"subdomain": "localhost", "record_id": 33346409, "domain": "example.com",
        "priority": "", "ttl": 3600, "fqdn": "localhost.example.com", "content": "127.0.0.1",
        "type": "A"}, {"subdomain": "docs", "record_id": 33346410, "domain": "example.com",
        "priority": "", "ttl": 3600, "fqdn": "docs.example.com", "content": "docs.example.com.",
        "type": "CNAME"}], "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=example.com&type=TXT&subdomain=_acme-challenge.full&content=challengetoken&ttl=3600
  response:
    body:
      string: '{"domain": "example.com", "record": {"subdomain": "_acme-challenge.full",
        "record_id": 33346412, "domain": "example.com", "priority": "", "ttl": 3600,
        "fqdn": "_acme-challenge.full.example.com", "content": "challengetoken", "type":
        "TXT"}, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
