interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=capsulecd.com
  response:
    body: {string: !!python/unicode '{"records": [{"content": "mx.yandex.net.", "domain":
        "capsulecd.com", "fqdn": "capsulecd.com", "priority": 10, "ttl": 21600, "record_id":
        39559783, "subdomain": "@", "type": "MX"}, {"content": "dns1.yandex.net.",
        "domain": "capsulecd.com", "fqdn": "capsulecd.com", "priority": "", "ttl":
        21600, "record_id": 39559782, "subdomain": "@", "type": "NS"}, {"content":
        "dns2.yandex.net.", "domain": "capsulecd.com", "fqdn": "capsulecd.com", "priority":
        "", "ttl": 21600, "record_id": 39559781, "subdomain": "@", "type": "NS"},
        {"content": "dns1.yandex.net.", "domain": "capsulecd.com", "retry": 900, "fqdn":
        "capsulecd.com", "refresh": 14400, "admin_mail": "lexicon.test.yandex.ru",
        "priority": "", "expire": 1209600, "ttl": 21600, "record_id": 39559780, "subdomain":
        "@", "type": "SOA", "minttl": 14400}, {"content": "v=spf1 redirect=_spf.yandex.net",
        "domain": "capsulecd.com", "fqdn": "capsulecd.com", "priority": "", "ttl":
        21600, "record_id": 39559784, "subdomain": "@", "type": "TXT"}, {"content":
        "docs.example.com.", "domain": "capsulecd.com", "fqdn": "docs.capsulecd.com",
        "priority": "", "ttl": 21600, "record_id": 39560158, "subdomain": "docs",
        "type": "CNAME"}, {"content": "127.0.0.1", "domain": "capsulecd.com", "fqdn":
        "localhost.caps[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=capsulecd.com&type=TXT&subdomain=orig.testfqdn&content=challengetoken&ttl=3600
  response:
    body: {string: !!python/unicode '{"record": {"content": "challengetoken", "domain":
        "capsulecd.com", "fqdn": "orig.testfqdn.capsulecd.com", "priority": "", "ttl":
        21600, "record_id": 39560411, "subdomain": "orig.testfqdn", "type": "TXT"},
        "domain": "capsulecd.com", "success": "ok"}

        '}
    headers:
      content-disposition: [attachment; filename="json.txt"; filename*=UTF-8''json.txt]
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/edit?domain=capsulecd.com&record_id=39560411&type=TXT&subdomain=updated.testfqdn&content=challengetoken
  response:
    body: {string: !!python/unicode '{"record_id": 39560411, "record": {"content":
        "challengetoken", "domain": "capsulecd.com", "fqdn": "updated.testfqdn.capsulecd.com",
        "priority": "", "ttl": 21600, "record_id": 39560411, "operation": "editing",
        "subdomain": "updated.testfqdn", "type": "TXT"}, "domain": "capsulecd.com",
        "success": "ok"}

        '}
    headers:
      content-disposition: [attachment; filename="json.txt"; filename*=UTF-8''json.txt]
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
