interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=capsulecd.com
  response:
    body: {string: !!python/unicode '{"records": [{"content": "mx.yandex.net.", "domain":
        "capsulecd.com", "fqdn": "capsulecd.com", "priority": 10, "ttl": 21600, "record_id":
        39559783, "subdomain": "@", "type": "MX"}, {"content": "dns1.yandex.net.",
        "domain": "capsulecd.com", "fqdn": "capsulecd.com", "priority": "", "ttl":
        21600, "record_id": 39559782, "subdomain": "@", "type": "NS"}, {"content":
        "dns2.yandex.net.", "domain": "capsulecd.com", "fqdn": "capsulecd.com", "priority":
        "", "ttl": 21600, "record_id": 39559781, "subdomain": "@", "type": "NS"},
        {"content": "dns1.yandex.net.", "domain": "capsulecd.com", "retry": 900, "fqdn":
        "capsulecd.com", "refresh": 14400, "admin_mail": "lexicon.test.yandex.ru",
        "priority": "", "expire": 1209600, "ttl": 21600, "record_id": 39559780, "subdomain":
        "@", "type": "SOA", "minttl": 14400}, {"content": "v=spf1 redirect=_spf.yandex.net",
        "domain": "capsulecd.com", "fqdn": "capsulecd.com", "priority": "", "ttl":
        21600, "record_id": 39559784, "subdomain": "@", "type": "TXT"}, {"content":
        "domain.mail.yandex.net.", "domain": "capsulecd.com", "fqdn": "mail.capsulecd.com",
        "priority": "", "ttl": 21600, "record_id": 39559969, "subdomain": "mail",
        "type": "CNAME"}, {"content": "104.31.76.164", "domain": "capsulecd.com",
        "fqdn": "www.capsulecd.com", "priority": "", "ttl": 21600, "record_id": 39559785,
        "subdomain": "www", "type": "A"}, {"content": "104.31.77.164", "domain": "capsulecd.com",
        "fqdn": "www.capsulecd.com", "priority": "", "ttl": 21600, "record_id": 39559786,
        "subdomain": "www", "type": "A"}, {"content": "2400:cb00:2048:1::681f:4ca4",
        "domain": "capsulecd.com", "fqdn": "www.capsulecd.com", "priority": "", "ttl":
        21600, "record_id": 39559791, "subdomain": "www", "type": "AAAA"}, {"content":
        "2400:cb00:2048:1::681f:4da4", "domain": "capsulecd.com", "fqdn": "www.capsulecd.com",
        "priority": "", "ttl": 21600, "record_id": 39559792, "subdomain": "www", "type":
        "AAAA"}, {"content": "domain-xmpp.yandex.net.", "domain": "capsulecd.com",
        "weight": 0, "fqdn": "_xmpp-client._tcp.capsulecd.com", "port": 5222, "priority":
        20, "ttl": 21600, "record_id": 39559787, "subdomain": "_xmpp-client._tcp",
        "type": "SRV"}, {"content": "domain-xmpp.yandex.net.", "domain": "capsulecd.com",
        "weight": 0, "fqdn": "_xmpp-client._tcp.conference.capsulecd.com", "port":
        5222, "priority": 20, "ttl": 21600, "record_id": 39559789, "subdomain": "_xmpp-client._tcp.conference",
        "type": "SRV"}, {"content": "domain-xmpp.yandex.net.", "domain": "capsulecd.com",
        "weight": 0, "fqdn": "_xmpp-server._tcp.capsulecd.com", "port": 5269, "priority":
        20, "ttl": 21600, "record_id": 39559788, "subdomain": "_xmpp-server._tcp",
        "type": "SRV"}, {"content": "domain-xmpp.yandex.net.", "domain": "capsulecd.com",
        "weight": 0, "fqdn": "_xmpp-server._tcp.conference.capsulecd.com", "port":
        5269, "priority": 20, "ttl": 21600, "record_id": 39559790, "subdomain": "_xmpp-server._tcp.conference",
        "type": "SRV"}], "domain": "capsulecd.com", "success": "ok"}

        '}
    headers:
      content-disposition: [attachment; filename="json.txt"; filename*=UTF-8''json.txt]
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=capsulecd.com&type=A&subdomain=localhost&content=127.0.0.1&ttl=3600
  response:
    body: {string: !!python/unicode '{"record": {"content": "127.0.0.1", "domain":
        "capsulecd.com", "fqdn": "localhost.capsulecd.com", "priority": "", "ttl":
        21600, "record_id": 39560119, "subdomain": "localhost", "type": "A"}, "domain":
        "capsulecd.com", "success": "ok"}

        '}
    headers:
      content-disposition: [attachment; filename="json.txt"; filename*=UTF-8''json.txt]
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
