interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=example.com
  response:
    body:
      string: '{"domain": "example.com", "records": [{"ttl": 3600, "type": "TXT", "record_id":
        33346411, "content": "challengetoken", "domain": "example.com", "priority":
        "", "fqdn": "_acme-challenge.fqdn.example.com", "subdomain": "_acme-challenge.fqdn"},
        {"ttl": 3600, "type": "TXT", "record_id": 33346413, "content": "challengetoken",
        "domain": "example.com", "priority": "", "fqdn": "_acme-challenge.test.example.com",
        "subdomain": "_acme-challenge.test"}, {"ttl": 3600, "type": "TXT", "record_id":
        33346414, "content": "challengetoken1", "domain": "example.com", "priority":
        "", "fqdn": "_acme-challenge.createrecordset.example.com", "subdomain": "_acme-challenge.createrecordset"},
   [...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=example.com&type=TXT&subdomain=orig.testfqdn&content=challengetoken&ttl=3600
  response:
    body:
      string: '{"domain": "example.com", "record": {"subdomain": "orig.testfqdn", "record_id":
        33346434, "domain": "example.com", "priority": "", "ttl": 3600, "fqdn": "orig.testfqdn.example.com",
        "content": "challengetoken", "type": "TXT"}, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/edit?domain=example.com&record_id=33346434&type=TXT&subdomain=updated.testfqdn&content=challengetoken
  response:
    body:
      string: '{"record": {"content": "challengetoken", "fqdn": "updated.testfqdn.example.com",
        "subdomain": "updated.testfqdn", "domain": "example.com", "priority": "", "type":
        "TXT", "ttl": 3600, "record_id": 33346434}, "domain": "example.com", "record_id":
        33346434, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
