interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=example.com
  response:
    body:
      string: '{"domain": "example.com", "records": [{"record_id": 33346411, "ttl":
        3600, "content": "challengetoken", "domain": "example.com", "fqdn": "_acme-challenge.fqdn.example.com",
        "subdomain": "_acme-challenge.fqdn", "type": "TXT", "priority": ""}, {"record_id":
        33346413, "ttl": 3600, "content": "challengetoken", "domain": "example.com",
        "fqdn": "_acme-challenge.test.example.com", "subdomain": "_acme-challenge.test",
        "type": "TXT", "priority": ""}, {"record_id": 33346409, "ttl": 3600, "content":
        "127.0.0.1", "domain": "example.com", "fqdn": "localhost.example.com", "subdomain":
        "localhost", "type": "A", "priority": ""}, {"record_id": 33346410, "ttl":
        3600, "content": "docs.example.com.", "domain": "example.com", "fqdn": "docs.example.com",
        "subdomain": "docs", "type": "CNAME", "priority": ""}, {"record_id": 33346412,
        "ttl": 3600, "content": "challengetoken", "domain": "example.com", "fqdn":
        "_acme-challenge.full.example.com", "subdomain": "_acme-challenge.full", "type":
        "TXT", "priority": ""}], "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=example.com&type=TXT&subdomain=_acme-challenge.createrecordset&content=challengetoken1&ttl=3600
  response:
    body:
      string: '{"domain": "example.com", "record": {"subdomain": "_acme-challenge.createrecordset",
        "record_id": 33346414, "domain": "example.com", "priority": "", "ttl": 3600,
        "fqdn": "_acme-challenge.createrecordset.example.com", "content": "challengetoken1",
        "type": "TXT"}, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=example.com&type=TXT&subdomain=_acme-challenge.createrecordset&content=challengetoken2&ttl=3600
  response:
    body:
      string: '{"domain": "example.com", "record": {"domain": "example.com", "priority":
        "", "subdomain": "_acme-challenge.createrecordset", "content": "challengetoken2",
        "record_id": 33346415, "type": "TXT", "fqdn": "_acme-challenge.createrecordset.example.com",
        "ttl": 3600}, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
