interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=example.com
  response:
    body:
      string: '{"domain": "example.com", "records": [{"record_id": 33346411, "ttl":
        3600, "content": "challengetoken", "domain": "example.com", "fqdn": "_acme-challenge.fqdn.example.com",
        "subdomain": "_acme-challenge.fqdn", "type": "TXT", "priority": ""}, {"record_id":
        33346413, "ttl": 3600, "content": "challengetoken", "domain": "example.com",
        "fqdn": "_acme-challenge.test.example.com", "subdomain": "_acme-challenge.test",
        "type": "TXT", "priority": ""}, {"record_id": 33346414, "ttl": 3600, "content":
        "challengetoken1", "domain": "example.com", "fqdn": "_acme-challenge.createrecordset.example.com",
        "subdomain": "_acme-challenge.createrecordset", "type": "TXT", "priority":
        ""}, {"record_id": 3[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=example.com&type=TXT&subdomain=orig.nameonly.test&content=challengetoken&ttl=3600
  response:
    body:
      string: '{"domain": "example.com", "record": {"subdomain": "orig.nameonly.test",
        "record_id": 33346433, "domain": "example.com", "priority": "", "ttl": 3600,
        "fqdn": "orig.nameonly.test.example.com", "content": "challengetoken", "type":
        "TXT"}, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/edit?domain=example.com&record_id=33346433&type=TXT&subdomain=orig.nameonly.test&content=updated
  response:
    body:
      string: '{"domain": "example.com", "record": {"domain": "example.com", "priority":
        "", "subdomain": "orig.nameonly.test", "content": "updated", "record_id":
        33346433, "type": "TXT", "fqdn": "orig.nameonly.test.example.com", "ttl": 3600},
        "record_id": 33346433, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
