interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=example.com
  response:
    body:
      string: '{"domain": "example.com", "records": [{"content": "127.0.0.1", "fqdn":
        "localhost.example.com", "subdomain": "localhost", "domain": "example.com",
        "priority": "", "type": "A", "ttl": 3600, "record_id": 33346409}, {"content":
        "docs.example.com.", "fqdn": "docs.example.com", "subdomain": "docs", "domain":
        "example.com", "priority": "", "type": "CNAME", "ttl": 3600, "record_id": 33346410}],
        "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=example.com&type=TXT&subdomain=_acme-challenge.fqdn&content=challengetoken&ttl=3600
  response:
    body:
      string: '{"domain": "example.com", "record": {"domain": "example.com", "priority":
        "", "subdomain": "_acme-challenge.fqdn", "content": "challengetoken", "record_id":
        33346411, "type": "TXT", "fqdn": "_acme-challenge.fqdn.example.com", "ttl":
        3600}, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
