interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=example.com
  response:
    body:
      string: '{"records": [{"domain": "example.com", "priority": "", "subdomain":
        "_acme-challenge.fqdn", "content": "challengetoken", "record_id": 33346411,
        "type": "TXT", "fqdn": "_acme-challenge.fqdn.example.com", "ttl": 3600}, {"domain":
        "example.com", "priority": "", "subdomain": "_acme-challenge.test", "content":
        "challengetoken", "record_id": 33346413, "type": "TXT", "fqdn": "_acme-challenge.test.example.com",
        "ttl": 3600}, {"domain": "example.com", "priority": "", "subdomain": "_acme-challenge.createrecordset",
        "content": "challengetoken1", "record_id": 33346414, "type": "TXT", "fqdn":
        "_acme-challenge.createrecordset.example.com", "ttl": 3600}, {"domain": "example.c[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=example.com&type=TXT&subdomain=random.test&content=challengetoken&ttl=3600
  response:
    body:
      string: '{"record": {"ttl": 3600, "type": "TXT", "record_id": 33346431, "content":
        "challengetoken", "domain": "example.com", "priority": "", "fqdn": "random.test.example.com",
        "subdomain": "random.test"}, "domain": "example.com", "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
