interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=example.com
  response:
    body:
      string: '{"domain": "example.com", "records": [{"content": "challengetoken",
        "fqdn": "_acme-challenge.fqdn.example.com", "subdomain": "_acme-challenge.fqdn",
        "domain": "example.com", "priority": "", "type": "TXT", "ttl": 3600, "record_id":
        33346411}, {"content": "challengetoken", "fqdn": "_acme-challenge.test.example.com",
        "subdomain": "_acme-challenge.test", "domain": "example.com", "priority": "",
        "type": "TXT", "ttl": 3600, "record_id": 33346413}, {"content": "challengetoken1",
        "fqdn": "_acme-challenge.createrecordset.example.com", "subdomain": "_acme-challenge.createrecordset",
        "domain": "example.com", "priority": "", "type": "TXT", "ttl": 3600, "record_id":
        33346414}, {"content[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=example.com&type=TXT&subdomain=delete.testid&content=challengetoken&ttl=3600
  response:
    body:
      string: '{"record": {"content": "challengetoken", "fqdn": "delete.testid.example.com",
        "subdomain": "delete.testid", "domain": "example.com", "priority": "", "type":
        "TXT", "ttl": 3600, "record_id": 33346421}, "domain": "example.com", "success":
        "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/del?domain=example.com&record_id=33346421
  response:
    body:
      string: '{"domain": "example.com", "record_id": 33346421, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
