interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=example.com
  response:
    body:
      string: '{"domain": "example.com", "records": [], "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=example.com&type=A&subdomain=localhost&content=127.0.0.1&ttl=3600
  response:
    body:
      string: '{"domain": "example.com", "record": {"domain": "example.com", "priority":
        "", "subdomain": "localhost", "content": "127.0.0.1", "record_id": 33346409,
        "type": "A", "fqdn": "localhost.example.com", "ttl": 3600}, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
