interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=example.com
  response:
    body:
      string: '{"records": [{"domain": "example.com", "priority": "", "subdomain":
        "_acme-challenge.fqdn", "content": "challengetoken", "record_id": 33346411,
        "type": "TXT", "fqdn": "_acme-challenge.fqdn.example.com", "ttl": 3600}, {"domain":
        "example.com", "priority": "", "subdomain": "_acme-challenge.test", "content":
        "challengetoken", "record_id": 33346413, "type": "TXT", "fqdn": "_acme-challenge.test.example.com",
        "ttl": 3600}, {"domain": "example.com", "priority": "", "subdomain": "_acme-challenge.createrecordset",
        "content": "challengetoken1", "record_id": 33346414, "type": "TXT", "fqdn":
        "_acme-challenge.createrecordset.example.com", "ttl": 3600}, {"domain": "example.c[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=example.com&type=TXT&subdomain=_acme-challenge.deleterecordinset&content=challengetoken1&ttl=3600
  response:
    body:
      string: '{"domain": "example.com", "record": {"content": "challengetoken1", "subdomain":
        "_acme-challenge.deleterecordinset", "priority": "", "ttl": 3600, "domain":
        "example.com", "record_id": 33346422, "fqdn": "_acme-challenge.deleterecordinset.example.com",
        "type": "TXT"}, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/del?domain=example.com&record_id=33346422
  response:
    body:
      string: '{"domain": "example.com", "record_id": 33346422, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
