interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://pddimp.yandex.ru/api2/admin/dns/list?domain=example.com
  response:
    body:
      string: '{"domain": "example.com", "records": [{"subdomain": "_acme-challenge.fqdn",
        "record_id": 33346411, "domain": "example.com", "priority": "", "ttl": 3600,
        "fqdn": "_acme-challenge.fqdn.example.com", "content": "challengetoken", "type":
        "TXT"}, {"subdomain": "_acme-challenge.test", "record_id": 33346413, "domain":
        "example.com", "priority": "", "ttl": 3600, "fqdn": "_acme-challenge.test.example.com",
        "content": "challengetoken", "type": "TXT"}, {"subdomain": "_acme-challenge.createrecordset",
        "record_id": 33346414, "domain": "example.com", "priority": "", "ttl": 3600,
        "fqdn": "_acme-challenge.createrecordset.example.com", "content": "challengetoken1",
        "type": "TXT"}, {"subdomain"[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/add?domain=example.com&type=TXT&subdomain=_acme-challenge.deleterecordset&content=challengetoken1&ttl=3600
  response:
    body:
      string: '{"domain": "example.com", "record": {"content": "challengetoken1", "subdomain":
        "_acme-challenge.deleterecordset", "priority": "", "ttl": 3600, "domain":
        "example.com", "record_id": 33346424, "fqdn": "_acme-challenge.deleterecordset.example.com",
        "type": "TXT"}, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://pddimp.yandex.ru/api2/admin/dns/del?domain=example.com&record_id=33346424
  response:
    body:
      string: '{"domain": "example.com", "record_id": 33346424, "success": "ok"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
