interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-AuroraDNS-Date: [20180225T111303Z]
    method: GET
    uri: https://api.auroradns.eu/zones
  response:
    body: {string: "[\n  {\n    \"account_id\": \"ffffffff-0000-ffff-0000-ffffffffffff\",\n\
        \    \"cluster_id\": \"ffffffff-0000-ffff-0000-ffffffffffff\",\n    \"created\"\
        : \"2018-02-25T11:12:31Z\",\n    \"id\": \"0645e7fa-6b94-46dd-99dd-bfb572f4e740\"\
        ,\n    \"name\": \"example.nl\",\n    \"servers\": [\n      \"ns001.auroradns.eu\"\
        ,\n      \"ns002.auroradns.nl\",\n      \"ns003.auroradns.info\"\n    ]\n\
        \  }\n]\n"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"type": "TXT", "name": "ttl.fqdn", "content": "ttlshouldbe3600", "ttl":
      3600}'
    headers:
      Content-Type: [application/json]
      X-AuroraDNS-Date: [20180225T111304Z]
    method: POST
    uri: https://api.auroradns.eu/zones/0645e7fa-6b94-46dd-99dd-bfb572f4e740/records
  response:
    body: {string: "{\n  \"content\": \"ttlshouldbe3600\",\n  \"created\": \"2018-02-25T11:13:04Z\"\
        ,\n  \"disabled\": false,\n  \"health_check_id\": null,\n  \"id\": \"5f79805f-c02e-43c2-945e-c803dca4e959\"\
        ,\n  \"modified\": \"2018-02-25T11:13:04Z\",\n  \"name\": \"ttl.fqdn\",\n\
        \  \"prio\": 0,\n  \"ttl\": 3600,\n  \"type\": \"TXT\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 201, message: CREATED}
[...]
