interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-AuroraDNS-Date: [20180322T204150Z]
    method: GET
    uri: https://api.auroradns.eu/zones
  response:
    body: {string: "[\n  {\n    \"account_id\": \"e8cb5994-0158-5f45-82b2-879810619c84\",\n\
        \    \"cluster_id\": \"511d5146-ca0f-4cb0-b005-f546afaa1006\",\n    \"created\"\
        : \"2018-03-22T19:54:33Z\",\n    \"id\": \"2128b47e-556d-40c6-be5f-e595015921eb\"\
        ,\n    \"name\": \"example.nl\",\n    \"servers\": [\n      \"ns001.auroradns.eu\"\
        ,\n      \"ns002.auroradns.nl\",\n      \"ns003.auroradns.info\"\n    ]\n\
        \  }\n]\n"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"type": "CNAME", "name": "docs", "content": "docs.example.com", "ttl":
      3600}'
    headers:
      Content-Type: [application/json]
      X-AuroraDNS-Date: [20180322T204150Z]
    method: POST
    uri: https://api.auroradns.eu/zones/2128b47e-556d-40c6-be5f-e595015921eb/records
  response:
    body: {string: "{\n  \"content\": \"docs.example.com\",\n  \"created\": \"2018-03-22T20:41:51Z\"\
        ,\n  \"disabled\": false,\n  \"health_check_id\": null,\n  \"id\": \"f5ba986c-cf1a-46ea-b7ba-38173d7150ee\"\
        ,\n  \"modified\": \"2018-03-22T20:41:51Z\",\n  \"name\": \"docs\",\n  \"\
        prio\": 0,\n  \"ttl\": 3600,\n  \"type\": \"CNAME\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 201, message: CREATED}
version: 1
