interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-AuroraDNS-Date: [20180225T111252Z]
    method: GET
    uri: https://api.auroradns.eu/zones
  response:
    body: {string: "[\n  {\n    \"account_id\": \"ffffffff-0000-ffff-0000-ffffffffffff\",\n\
        \    \"cluster_id\": \"ffffffff-0000-ffff-0000-ffffffffffff\",\n    \"created\"\
        : \"2018-02-25T11:12:31Z\",\n    \"id\": \"0645e7fa-6b94-46dd-99dd-bfb572f4e740\"\
        ,\n    \"name\": \"example.nl\",\n    \"servers\": [\n      \"ns001.auroradns.eu\"\
        ,\n      \"ns002.auroradns.nl\",\n      \"ns003.auroradns.info\"\n    ]\n\
        \  }\n]\n"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"type": "CNAME", "name": "docs", "content": "docs.example.com", "ttl":
      3600}'
    headers:
      Content-Type: [application/json]
      X-AuroraDNS-Date: [20180225T111252Z]
    method: POST
    uri: https://api.auroradns.eu/zones/0645e7fa-6b94-46dd-99dd-bfb572f4e740/records
  response:
    body: {string: "{\n  \"content\": \"docs.example.com\",\n  \"created\": \"2018-02-25T11:12:53Z\"\
        ,\n  \"disabled\": false,\n  \"health_check_id\": null,\n  \"id\": \"a72321c3-ad80-44ae-bd26-2b891af7f803\"\
        ,\n  \"modified\": \"2018-02-25T11:12:53Z\",\n  \"name\": \"docs\",\n  \"\
        prio\": 0,\n  \"ttl\": 3600,\n  \"type\": \"CNAME\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 201, message: CREATED}
version: 1
