interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-AuroraDNS-Date: [20180322T204201Z]
    method: GET
    uri: https://api.auroradns.eu/zones
  response:
    body: {string: "[\n  {\n    \"account_id\": \"e8cb5994-0158-5f45-82b2-879810619c84\",\n\
        \    \"cluster_id\": \"511d5146-ca0f-4cb0-b005-f546afaa1006\",\n    \"created\"\
        : \"2018-03-22T19:54:33Z\",\n    \"id\": \"2128b47e-556d-40c6-be5f-e595015921eb\"\
        ,\n    \"name\": \"example.nl\",\n    \"servers\": [\n      \"ns001.auroradns.eu\"\
        ,\n      \"ns002.auroradns.nl\",\n      \"ns003.auroradns.info\"\n    ]\n\
        \  }\n]\n"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"type": "TXT", "name": "ttl.fqdn", "content": "ttlshouldbe3600", "ttl":
      3600}'
    headers:
      Content-Type: [application/json]
      X-AuroraDNS-Date: [20180322T204202Z]
    method: POST
    uri: https://api.auroradns.eu/zones/2128b47e-556d-40c6-be5f-e595015921eb/records
  response:
    body: {string: "{\n  \"content\": \"ttlshouldbe3600\",\n  \"created\": \"2018-03-22T20:42:03Z\"\
        ,\n  \"disabled\": false,\n  \"health_check_id\": null,\n  \"id\": \"fdbc01ab-83e5-465e-a0f5-698089620127\"\
        ,\n  \"modified\": \"2018-03-22T20:42:03Z\",\n  \"name\": \"ttl.fqdn\",\n\
        \  \"prio\": 0,\n  \"ttl\": 3600,\n  \"type\": \"TXT\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 201, message: CREATED}
[...]
