interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-AuroraDNS-Date: [20180225T111254Z]
    method: GET
    uri: https://api.auroradns.eu/zones
  response:
    body: {string: "[\n  {\n    \"account_id\": \"ffffffff-0000-ffff-0000-ffffffffffff\",\n\
        \    \"cluster_id\": \"ffffffff-0000-ffff-0000-ffffffffffff\",\n    \"created\"\
        : \"2018-02-25T11:12:31Z\",\n    \"id\": \"0645e7fa-6b94-46dd-99dd-bfb572f4e740\"\
        ,\n    \"name\": \"example.nl\",\n    \"servers\": [\n      \"ns001.auroradns.eu\"\
        ,\n      \"ns002.auroradns.nl\",\n      \"ns003.auroradns.info\"\n    ]\n\
        \  }\n]\n"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"type": "TXT", "name": "delete.testfilt", "content": "challengetoken",
      "ttl": 3600}'
    headers:
      Content-Type: [application/json]
      X-AuroraDNS-Date: [20180225T111254Z]
    method: POST
    uri: https://api.auroradns.eu/zones/0645e7fa-6b94-46dd-99dd-bfb572f4e740/records
  response:
    body: {string: "{\n  \"content\": \"challengetoken\",\n  \"created\": \"2018-02-25T11:12:54Z\"\
        ,\n  \"disabled\": false,\n  \"health_check_id\": null,\n  \"id\": \"25cd4830-d0d9-4cee-aea5-5384ff7f9fb1\"\
        ,\n  \"modified\": \"2018-02-25T11:12:54Z\",\n  \"name\": \"delete.testfilt\"\
        ,\n  \"prio\": 0,\n  \"ttl\": 3600,\n  \"type\": \"TXT\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 201, message: CREATED}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-AuroraDNS-Date: [20180225T111257Z]
    method: DELETE
    uri: https://api.auroradns.eu/zones/0645e7fa-6b94-46dd-99dd-bfb572f4e740/records/25cd4830-d0d9-4cee-aea5-5384ff7f9fb1
  response:
    body: {string: '


        '}
    headers:
      Content-Type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
[...]
