interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vultr.com/v1/dns/list
  response:
    body: {string: !!python/unicode '[{"domain":"capsulecd.com","date_created":"2016-04-13
        19:03:44"}]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: priority=0&data=%22challengetoken%22&domain=capsulecd.com&type=TXT&name=random.fulltest
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.vultr.com/v1/dns/create_record
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vultr.com/v1/dns/records?domain=capsulecd.com
  response:
    body: {string: !!python/unicode '[{"type":"A","name":"localhost","data":"127.0.0.1","priority":0,"RECORDID":2051670},{"type":"CNAME","name":"docs","data":"docs.example.com","priority":0,"RECORDID":2051671},{"type":"TXT","name":"random.fqdntest","data":"\"challengetoken\"","priority":0,"RECORDID":2051680},{"type":"TXT","name":"random.fulltest","data":"\"challengetoken\"","priority":0,"RECORDID":2051681},{"type":"TXT","name":"_acme-challenge.full","data":"\"challengetoken\"","priority":0,"RECORDID":2051668}]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
