interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vultr.com/v2/domains
  response:
    body:
      string: '{"domains":[{"domain":"lexicon-test.eu","date_created":"2021-03-27T09:40:29+00:00"},{"domain":"sielski.be","date_created":"2020-09-13T18:19:59+00:00"}],"meta":{"total":2,"links":{"next":"","prev":""}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vultr.com/v2/domains/lexicon-test.eu/records
  response:
    body:
      string: '{"records":[{"id":"727732b8-d5bb-48d2-a7dc-0d9244aac37b","type":"NS","name":"","data":"ns1.vultr.com","priority":-1,"ttl":300},{"id":"598e95b7-0a10-4bc4-a0a9-478ff7fa480c","type":"NS","name":"","data":"ns2.vultr.com","priority":-1,"ttl":300},{"id":"53feecb3-f006-4182-ab9c-f654a3b96e0f","type":"A","name":"","data":"127.0.0.1","priority":-1,"ttl":300},{"id":"401e8910-51dd-4f33-9345-cc089c501e35","type":"CNAME","name":"*","data":"lexicon-test.eu","priority":-1,"ttl":300},{"id":"6cd3c3fb-0aee-457e-929b-4729e5c8e6e0","type":"MX","name":"","data":"lexicon-test.eu","priority":10,"ttl":300},{"id":"b4ec45d4-8bf8-4aad-a189-4[...]
- request:
    body: '{"type": "TXT", "name": "random.test", "data": "\"challengetoken\"", "priority":
      0, "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vultr.com/v2/domains/lexicon-test.eu/records
  response:
    body:
      string: '{"record":{"id":"f0b1e837-2135-4be6-bbbb-0f14981f1d8f","type":"TXT","name":"random.test","data":"\"challengetoken\"","priority":0,"ttl":3600}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
