interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vultr.com/v1/dns/list
  response:
    body: {string: !!python/unicode '[{"domain":"capsulecd.com","date_created":"2016-04-13
        19:03:44"}]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: domain=capsulecd.com&name=ttl.fqdn&type=TXT&priority=0&ttl=3600&data=%22ttlshouldbe3600%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.vultr.com/v1/dns/create_record
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/html; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vultr.com/v1/dns/records?domain=capsulecd.com
  response:
    body: {string: !!python/unicode '[{"type":"A","name":"localhost","data":"127.0.0.1","priority":0,"RECORDID":2051670,"ttl":300},{"type":"CNAME","name":"docs","data":"docs.example.com","priority":0,"RECORDID":2051671,"ttl":300},{"type":"TXT","name":"random.fqdntest","data":"\"challengetoken\"","priority":0,"RECORDID":2051680,"ttl":300},{"type":"TXT","name":"random.fulltest","data":"\"challengetoken\"","priority":0,"RECORDID":2051681,"ttl":300},{"type":"TXT","name":"random.test","data":"\"challengetoken\"","priority":0,"RECORDID":2051682,"ttl":300},{"type":"TXT","name":"ttl.fqdn","data":"\"ttlshouldbe3600\"","priority":0,"RECORDID":2452603,"ttl":3600},{"type":"TXT","name":"updated.test","data":"\"challengetoken\"","priority":0,"RECORDID":2051716,"ttl":300},{"type":"TXT","name":"updated.testfqdn","data":"\"challengetoken\"","priority":0,"RECORDID":2051717,"ttl":300},{"type":"TXT","name":"updated.testfull","data":"\"challengetoken\"","priority":0,"RECORDID":2051718,"ttl":300},{"type":"TXT","name":"_acme-challenge.full","data":"\"challengetoken\"","priority":0,"RECORDID":2051668,"ttl":300}]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
