interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?method=json
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"sess_id":
        {"value": "SESSION_ID"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?email=EMAIL&method=json&password=PASSWORD&sess_id=SESSION_ID&subaction=login
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"sess_id":
        {"value": "SESSION_ID"}, "orders": [{"pg_id": {"value": 1}, "ord_description":
        {"value": "Contract Name\nschoettle.it"}, "ord_no": {"value": "ORDER_ID"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
