interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?method=json
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"sess_id":
        {"value": "SESSION_ID"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?email=EMAIL&method=json&password=PASSWORD&sess_id=SESSION_ID&subaction=login
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"sess_id":
        {"value": "SESSION_ID"}, "orders": [{"pg_id": {"value": 1}, "ord_description":
        {"value": "Contract Name\nschoettle.it"}, "ord_no": {"value": "ORDER_ID"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?method=json&ord_no=ORDER_ID&sess_id=SESSION_ID&subaction=choose_order
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?method=json&sess_id=SESSION_ID&subaction=kc2_domain_dns_get_records
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"dns_records_search_query":
        {"value": ""}, "dns_records_load_page": {"value": "1"}, "sess_id": {"value":
        "SESSION_ID"}, "domains": [{"dns_records": [{"can_edit": {"value": "1"}, "name":
        {"value": "random.fulltest.schoettle.it"}, "prio": {"value": ""}, "content":
        {"value": "challengetoken"}, "ttl": {"value": "3600"}, "subdomain": {"value":
        "random.fulltest"}, "type": {"value": "TXT"}, "id": {"value": "1094432"}},
        {"can_edit": {"value": "1"}, "name": {"value": "random.test.schoettle.it"},
        "prio": {"value": ""}, "content": {"value": "challengetoken"}, "ttl": {"value":
        "3600"}, "subdomain": {"value": "random.test"}, "type": {"value": "TXT"},
        "id": {"value": "1094433"}}, {"can_edit": {"value": "1"}, "name": {"value":
        "random.fqdntest.schoettle.it"}, "prio": {"value": ""}, "content": {"value":
        "challengetoken"}, "ttl": {"value": "3600"}, [...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?dns_records_load_only_for_dom_id=63532&method=json&sess_id=SESSION_ID&subaction=kc2_domain_dns_get_records
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"dns_records_search_query":
        {"value": "dns_records_load_only_for_dom_id=63532"}, "dns_records_load_page":
        {"value": "1"}, "dns_records_load_only_for_dom_id": {"value": "63532"}, "domains":
        [{"dns_records": [{"can_edit": {"value": "1"}, "name": {"value": "random.fulltest.schoettle.it"},
        "prio": {"value": ""}, "content": {"value": "challengetoken"}, "ttl": {"value":
        "3600"}, "subdomain": {"value": "random.fulltest"}, "type": {"value": "TXT"},
        "id": {"value": "1094432"}}, {"can_edit": {"value": "1"}, "name": {"value":
        "random.test.schoettle.it"}, "prio": {"value": ""}, "content": {"value": "challengetoken"},
    [...]
