interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?method=json
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"sess_id":
        {"value": "SESSION_ID"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?email=EMAIL&method=json&password=PASSWORD&sess_id=SESSION_ID&subaction=login
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"sess_id":
        {"value": "SESSION_ID"}, "orders": [{"pg_id": {"value": 1}, "ord_description":
        {"value": "Contract Name\nschoettle.it"}, "ord_no": {"value": "ORDER_ID"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?method=json&ord_no=ORDER_ID&sess_id=SESSION_ID&subaction=choose_order
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?method=json&sess_id=SESSION_ID&subaction=kc2_domain_dns_get_records
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"dns_records_search_query":
        {"value": ""}, "dns_records_load_page": {"value": "1"}, "sess_id": {"value":
        "SESSION_ID"}, "domains": [{"dom_id": {"value": "63532"}, "dom_domain": {"value":
        "schoettle.it"}, "nameservers_using_default": {"value": "1"}}], "dns_record_count_max":
        {"value": "100"}, "dns_record_count_total": {"value": "0"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
