interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?method=json
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"sess_id":
        {"value": "SESSION_ID"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?email=EMAIL&method=json&password=PASSWORD&sess_id=SESSION_ID&subaction=login
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"sess_id":
        {"value": "SESSION_ID"}, "orders": [{"pg_id": {"value": 1}, "ord_description":
        {"value": "Contract Name\nschoettle.it"}, "ord_no": {"value": "ORDER_ID"}}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?method=json&ord_no=ORDER_ID&sess_id=SESSION_ID&subaction=choose_order
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?method=json&sess_id=SESSION_ID&subaction=kc2_domain_dns_get_records
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"dns_records_search_query":
        {"value": ""}, "dns_records_load_page": {"value": "1"}, "sess_id": {"value":
        "SESSION_ID"}, "domains": [{"dns_records": [{"can_edit": {"value": "1"}, "name":
        {"value": "random.fulltest.schoettle.it"}, "prio": {"value": ""}, "content":
        {"value": "challengetoken"}, "ttl": {"value": "3600"}, "subdomain": {"value":
        "random.fulltest"}, "type": {"value": "TXT"}, "id": {"value": "1094432"}},
        {"can_edit": {"value": "1"}, "name": {"value": "random.test.schoettle.it"},
        "prio": {"value": ""}, "content": {"value": "challengetoken"}, "ttl": {"value":
        "3600"}, "subdomain": {"value": "random.test"}, "type": {"value": "TXT"},
        "id": {"value": "1094433"}}, {"can_edit": {"value": "1"}, "name": {"value":
        "updated.test.schoettle.it"}, "prio": {"value": ""}, "content": {"value":
        "challengetoken"}, "ttl": {"value": "3600"}, "su[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?dns_records_load_content=challengetoken&dns_records_load_only_for_dom_id=63532&dns_records_load_subdomain=orig.nameonly.test&dns_records_load_type=TXT&method=json&sess_id=SESSION_ID&subaction=kc2_domain_dns_get_records
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"dns_records_load_subdomain":
        {"value": "orig.nameonly.test"}, "dns_records_load_only_for_dom_id": {"value":
        "63532"}, "dns_records_load_page": {"value": "1"}, "dns_records_load_type":
        {"value": "TXT"}, "dns_records_load_content": {"value": "challengetoken"},
        "sess_id": {"value": "SESSION_ID"}, "domains": [{"dom_id": {"value": "63532"},
        "dom_domain": {"value": "schoettle.it"}, "nameservers_using_default": {"value":
        "1"}}], "dns_records_search_query": {"value": "dns_records_load_only_for_dom_id=63532&dns_records_load_subdomain=orig.nameonly.test&dns_records_load_type=TXT&dns_records_load_content=challengetoken"},
        "dns_record_count_max": {"value": "100"}, "dns_record_count_total": {"value":
        "0"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?content=challengetoken&dom_id=63532&method=json&sess_id=SESSION_ID&subaction=kc2_domain_dns_set&subdomain=orig.nameonly.test&ttl=3600&type=TXT
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"dns_records_load_page":
        {"value": "1"}, "dns_record_set": {"prio": {"value": "", "maxlength": "6"},
        "content": {"value": "", "maxlength": "1000"}, "dom_id": {"options": [{"caption":
        "schoettle.it", "value": "63532"}], "value": "63532"}, "ttl": {"value": "86400",
        "maxlength": "6"}, "subdomain": {"value": "", "maxlength": "255"}, "type":
        {"options": [{"caption": "A", "value": "A"}, {"caption": "AAAA", "value":
        "AAAA"}, {"caption": "AFSDB", "value": "AFSDB"}, {"caption": "CERT", "value":
        "CERT"}, {"caption": "CNAME", "value": "CNAME"}, {"caption": "DNSKEY", "value":
        "DNSKEY"}, {"caption": "DS", "value": "DS"}, {"caption": "HINFO", "value":
        "HINFO"}, {"caption": "KEY", "value": "KEY"}, {"caption": "LOC", "value":
        "LOC"}, {"caption": "MX", "value": "MX"}, {"caption": "NAPTR", "value": "NAPTR"},
        {"caption": "NSEC", "value": "NSEC"}, {"caption": "RP", "value": "RP"}, {"caption":
        "RRSIG", "value": "RRSIG"}, {"caption": "SPF", "value": "SPF"}, {"caption":
        "SRV", "value": "SRV"}, {"caption": "SSHFP", "value": "SSHFP"}, {"caption":
        "TXT", "value": "TXT"}], "value": "A"}}, "dns_record_search": {"dom_id": {"options":
        [{"caption": "Any", "value": "%"}, {"caption": "schoettle.it", "value": "63532"}]},
        "subdomain": {"value": ""}, "type": {"options": [{"caption": "Any", "value":
        ""}, {"caption": "A", "value": "A"}, {"caption": "AAAA", "value": "AAAA"},
        {"caption": "AFSDB", "value": "AFSDB"}, {"caption": "CAA", "value": "CAA"},
        {"caption": "CDNSKEY", "value": "CDNSKEY"}, {"caption": "CDS", "value": "CDS"},
        {"caption": "CERT", "value": "CERT"}[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?dns_records_load_only_for_dom_id=63532&dns_records_load_subdomain=orig.nameonly.test&dns_records_load_type=TXT&method=json&sess_id=SESSION_ID&subaction=kc2_domain_dns_get_records
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"dns_records_load_subdomain":
        {"value": "orig.nameonly.test"}, "dns_records_load_only_for_dom_id": {"value":
        "63532"}, "dns_records_load_page": {"value": "1"}, "dns_records_load_type":
        {"value": "TXT"}, "sess_id": {"value": "SESSION_ID"}, "domains": [{"dns_records":
        [{"can_edit": {"value": "1"}, "name": {"value": "orig.nameonly.test.schoettle.it"},
        "prio": {"value": ""}, "content": {"value": "challengetoken"}, "ttl": {"value":
        "3600"}, "subdomain": {"value": "orig.nameonly.test"}, "type": {"value": "TXT"},
        "id": {"value": "1094435"}}], "dom_id": {"value": "63532"}, "dns_record_count":
        {"value": "1"}, "dom_domain": {"value": "schoettle.it"}, "nameservers_using_default":
        {"value": "1"}}], "dns_records_search_query": {"value": "dns_records_load_only_for_dom_id=63532&dns_records_load_subdomain=orig.nameonly.test&dns_records_load_type=TXT"},
        "dns_record_count_max": {"value": "100"}, "dns_record_count_total": {"value":
        "1"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: GET
    uri: https://support.euserv.com/?content=updated&dns_record_id=1094435&method=json&sess_id=SESSION_ID&subaction=kc2_domain_dns_set&subdomain=orig.nameonly.test&ttl=3600&type=TXT
  response:
    body:
      string: !!python/unicode '{"message": "success", "code": "100", "result": {"dns_records_load_page":
        {"value": "1"}, "dns_record_set": {"can_edit": {"value": "1"}, "prio": {"value":
        "", "maxlength": "6"}, "dns_record_id": {"value": "1094435"}, "dom_domain":
        {"value": "schoettle.it"}, "content": {"value": "updated", "maxlength": "1000"},
        "dom_id": {"value": "63532"}, "ttl": {"value": "3600", "maxlength": "6"},
        "subdomain": {"value": "orig.nameonly.test", "maxlength": "255"}, "type":
        {"value": "TXT"}}, "dns_record_search": {"dom_id": {"options": [{"caption":
        "Any", "value": "%"}, {"caption": "schoettle.it", "value": "63532"}]}, "subdomain":
        {"value": ""}, "type": {"o[...]
