interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"id":6259,"user_id":null,"registrant_id":603,"account_id":241,"name":"capsulecd.com","unicode_name":"capsulecd.com","token":"yyMtxjkT67RPyEvy6t9UT6CgIYOSzj8u","state":"registered","lockable":true,"auto_renew":false,"whois_protected":false,"record_count":5,"service_count":0,"expires_on":"2017-03-16","created_at":"2016-03-16T06:14:11.347Z","updated_at":"2016-03-16T06:14:17.541Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"16f41476ceeeede092cdcffc3c091f5f"]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"record": {"content": "challengetoken", "record_type": "TXT", "name":
      "delete.testid"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"record":{"id":97311,"domain_id":6259,"parent_id":null,"name":"delete.testid","content":"challengetoken","ttl":3600,"prio":null,"record_type":"TXT","system_record":false,"created_at":"2016-03-30T01:59:49.229Z","updated_at":"2016-03-30T01:59:49.229Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"c7dc727ba6e1dc5f517aefbc19b46c66"]
      status: [201 Created]
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records?type=TXT&name=delete.testid
  response:
    body: {string: !!python/unicode '[{"record":{"id":97311,"domain_id":6259,"parent_id":null,"name":"delete.testid","content":"challengetoken","ttl":3600,"prio":null,"record_type":"TXT","system_record":false,"created_at":"2016-03-30T01:59:49.229Z","updated_at":"2016-03-30T01:59:49.229Z"}}]'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"65fa37982f690a3292782f63fe328bac"]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records/97311
  response:
    body: {string: !!python/unicode '{}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"99914b932bd37a50b983c5e7c90ae93b"]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records?type=TXT&name=delete.testid
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"d751713988987e9331980363e24189ce"]
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
