interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"id":6259,"user_id":null,"registrant_id":603,"account_id":241,"name":"capsulecd.com","unicode_name":"capsulecd.com","token":"yyMtxjkT67RPyEvy6t9UT6CgIYOSzj8u","state":"registered","lockable":true,"auto_renew":false,"whois_protected":false,"record_count":5,"service_count":0,"expires_on":"2017-03-16","created_at":"2016-03-16T06:14:11.347Z","updated_at":"2016-03-16T06:14:17.541Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"16f41476ceeeede092cdcffc3c091f5f"]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"record": {"content": "challengetoken", "record_type": "TXT", "name":
      "random.test"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"record":{"id":97314,"domain_id":6259,"parent_id":null,"name":"random.test","content":"challengetoken","ttl":3600,"prio":null,"record_type":"TXT","system_record":false,"created_at":"2016-03-30T01:59:52.201Z","updated_at":"2016-03-30T01:59:52.201Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"66be9ae638adfa065efdb3000ca27506"]
      status: [201 Created]
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records?type=TXT&name=random.test
  response:
    body: {string: !!python/unicode '[{"record":{"id":97314,"domain_id":6259,"parent_id":null,"name":"random.test","content":"challengetoken","ttl":3600,"prio":null,"record_type":"TXT","system_record":false,"created_at":"2016-03-30T01:59:52.201Z","updated_at":"2016-03-30T01:59:52.201Z"}}]'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"81754a2c8fc10caedb3abb54f26b396c"]
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
