interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/accounts
  response:
    body: {string: '{"data":[{"id":731,"email":"yoan.blanc@exoscale.ch","plan_identifier":"dnsimple-business","created_at":"2018-02-20T06:44:26Z","updated_at":"2018-02-20T06:47:12Z"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"72de87500fef8e7f6ff19729e509d6a3"]
      X-RateLimit-Limit: ['2400']
      X-RateLimit-Remaining: ['2137']
      X-RateLimit-Reset: ['1531117887']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/731/domains?name_like=lexicontest.us
  response:
    body: {string: '{"data":[{"id":57894,"account_id":731,"registrant_id":null,"name":"lexicontest.us","unicode_name":"lexicontest.us","state":"hosted","auto_renew":false,"private_whois":false,"expires_on":null,"created_at":"2018-07-09T05:29:54Z","updated_at":"2018-07-09T05:29:54Z"}],"pagination":{"current_page":1,"per_page":30,"total_entries":1,"total_pages":1}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"04f25ecf6f530c2d8d38ef8bdbb24738"]
      X-RateLimit-Limit: ['2400']
      X-RateLimit-Remaining: ['2136']
      X-RateLimit-Reset: ['1531117888']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/731/zones/lexicontest.us/records?type=TXT&name=orig.test
  response:
    body: {string: '{"data":[{"id":502894,"zone_id":"lexicontest.us","parent_id":null,"name":"orig.test","content":"challengetoken","ttl":3600,"priority":null,"type":"TXT","regions":["global"],"system_record":false,"created_at":"2018-07-09T05:39:15Z","updated_at":"2018-07-09T05:39:15Z"}],"pagination":{"current_page":1,"per_page":30,"total_entries":1,"total_pages":1}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"50547c73505bdf15e1b0e92c5c2cef38"]
      X-RateLimit-Limit: ['2400']
      X-RateLimit-Remaining: ['2135']
      X-RateLimit-Reset: ['1531117888']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"name": "updated.test", "content": "challengetoken", "ttl": 3600, "priority":
      "placeholder_priority", "regions": ["global"]}'
    headers:
      Content-Type: [application/json]
    method: PATCH
    uri: https://api.sandbox.dnsimple.com/v2/731/zones/lexicontest.us/records/502894
  response:
    body: {string: '{"data":{"id":502894,"zone_id":"lexicontest.us","parent_id":null,"name":"updated.test","content":"challengetoken","ttl":3600,"priority":null,"type":"TXT","regions":["global"],"system_record":false,"created_at":"2018-07-09T05:39:15Z","updated_at":"2018-07-09T05:46:40Z"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"25ebc40d3c675c78c4ef6b82b55aea81"]
      X-RateLimit-Limit: ['2400']
      X-RateLimit-Remaining: ['2133']
      X-RateLimit-Reset: ['1531117887']
    status: {code: 200, message: OK}
version: 1
