interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/accounts
  response:
    body: {string: !!python/unicode '{"data":[{"id":762,"email":"lexicontest@mailinator.com","plan_identifier":"dnsimple-professional","created_at":"2018-03-23T04:57:08Z","updated_at":"2018-03-23T04:57:35Z"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"41f6b179fd60416d261e24db13a6b843"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['1779']
      x-ratelimit-reset: ['1521784778']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/762/domains?name_like=lexicontest.com
  response:
    body: {string: !!python/unicode '{"data":[{"id":39243,"account_id":762,"registrant_id":null,"name":"lexicontest.com","unicode_name":"lexicontest.com","token":"Xq3UtdK2VXBM23CE0w3xNDQkigc8VnWj","state":"hosted","auto_renew":false,"private_whois":false,"expires_on":null,"created_at":"2018-03-23T04:58:39Z","updated_at":"2018-03-23T04:58:39Z"}],"pagination":{"current_page":1,"per_page":30,"total_entries":1,"total_pages":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"3c522308175b5c6e8cebe22bd408c32a"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['1778']
      x-ratelimit-reset: ['1521784779']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/762/zones/lexicontest.com/records?type=TXT&name=orig.testfqdn
  response:
    body: {string: !!python/unicode '{"data":[],"pagination":{"current_page":1,"per_page":30,"total_entries":0,"total_pages":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"0605e329ddd741bf0b60c52b68e9846b"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['1777']
      x-ratelimit-reset: ['1521784779']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"priority": "placeholder_priority", "name": "orig.testfqdn",
      "content": "challengetoken", "regions": ["global"], "ttl": 3600, "type": "TXT"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.dnsimple.com/v2762/zones/lexicontest.com/records
  response:
    body: {string: !!python/unicode '{"data":{"id":362820,"zone_id":"lexicontest.com","parent_id":null,"name":"orig.testfqdn","content":"challengetoken","ttl":3600,"priority":null,"type":"TXT","regions":["global"],"system_record":false,"created_at":"2018-03-23T05:35:40Z","updated_at":"2018-03-23T05:35:40Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"159b5223660b04a5e4f8ae0508556eff"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['1776']
      x-ratelimit-reset: ['1521784778']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"content": "challengetoken", "priority": "placeholder_priority",
      "regions": ["global"], "name": "updated.testfqdn", "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PATCH
    uri: https://api.sandbox.dnsimple.com/v2/762/zones/lexicontest.com/records/362820
  response:
    body: {string: !!python/unicode '{"data":{"id":362820,"zone_id":"lexicontest.com","parent_id":null,"name":"updated.testfqdn","content":"challengetoken","ttl":3600,"priority":null,"type":"TXT","regions":["global"],"system_record":false,"created_at":"2018-03-23T05:35:40Z","updated_at":"2018-03-23T05:35:41Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"d3b6aa6a0924f4dbf3a72fd53e595953"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['1774']
      x-ratelimit-reset: ['1521784778']
    status: {code: 200, message: OK}
version: 1
