interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/accounts
  response:
    body: {string: '{"data":[{"id":731,"email":"yoan.blanc@exoscale.ch","plan_identifier":"dnsimple-business","created_at":"2018-02-20T06:44:26Z","updated_at":"2018-02-20T06:47:12Z"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"72de87500fef8e7f6ff19729e509d6a3"]
      X-RateLimit-Limit: ['2400']
      X-RateLimit-Remaining: ['2161']
      X-RateLimit-Reset: ['1531117887']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/731/domains?name_like=lexicontest.us
  response:
    body: {string: '{"data":[{"id":57894,"account_id":731,"registrant_id":null,"name":"lexicontest.us","unicode_name":"lexicontest.us","state":"hosted","auto_renew":false,"private_whois":false,"expires_on":null,"created_at":"2018-07-09T05:29:54Z","updated_at":"2018-07-09T05:29:54Z"}],"pagination":{"current_page":1,"per_page":30,"total_entries":1,"total_pages":1}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"04f25ecf6f530c2d8d38ef8bdbb24738"]
      X-RateLimit-Limit: ['2400']
      X-RateLimit-Remaining: ['2160']
      X-RateLimit-Reset: ['1531117887']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/731/zones/lexicontest.us/records
  response:
    body: {string: '{"data":[{"id":502856,"zone_id":"lexicontest.us","parent_id":null,"name":"","content":"ns1.dnsimple.com
        admin.dnsimple.com 1531114244 86400 7200 604800 300","ttl":3600,"priority":null,"type":"SOA","regions":["global"],"system_record":true,"created_at":"2018-07-09T05:29:54Z","updated_at":"2018-07-09T05:38:50Z"},{"id":502857,"zone_id":"lexicontest.us","parent_id":null,"name":"","content":"ns1.dnsimple.com","ttl":3600,"priority":null,"type":"NS","regions":["global"],"system_record":true,"created_at":"2018-07-09T05:29:54Z","updated_at":"2018-07-09T05:29:54Z"},{"id":502858,"zone_id":"lexicontest.us","parent_id":null,"name":"","content":"ns2.dnsimple.com","ttl":3600,"priority":null,"type":"NS","regions":["global"],"system_record":[...]
