interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"id":6259,"user_id":null,"registrant_id":603,"account_id":241,"name":"capsulecd.com","unicode_name":"capsulecd.com","token":"yyMtxjkT67RPyEvy6t9UT6CgIYOSzj8u","state":"registered","lockable":true,"auto_renew":false,"whois_protected":false,"record_count":17,"service_count":0,"expires_on":"2017-03-16","created_at":"2016-03-16T06:14:11.347Z","updated_at":"2016-07-28T13:25:33.167Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"2b7e5f861f5a9611caaf3f8314223e03"]
    status: {code: 200, message: OK}
- request:
    body: '{"record": {"content": "ttlshouldbe3600", "record_type": "TXT", "name":
      "ttl.fqdn", "ttl": 3600}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"record":{"id":231859,"domain_id":6259,"parent_id":null,"name":"ttl.fqdn","content":"ttlshouldbe3600","ttl":3600,"prio":null,"record_type":"TXT","system_record":false,"created_at":"2016-07-30T21:18:39.228Z","updated_at":"2016-07-30T21:18:39.228Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"ec91b5f66cdc15a087c7e4f4e31e50a9"]
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records?type=TXT&name=ttl.fqdn
  response:
    body: {string: !!python/unicode '[{"record":{"id":231859,"domain_id":6259,"parent_id":null,"name":"ttl.fqdn","content":"ttlshouldbe3600","ttl":3600,"prio":null,"record_type":"TXT","system_record":false,"created_at":"2016-07-30T21:18:39.228Z","updated_at":"2016-07-30T21:18:39.228Z"}}]'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"46b59f4c682d9bd80f0ce66bf36ca229"]
    status: {code: 200, message: OK}
version: 1
