interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/accounts
  response:
    body: {string: '{"data":[{"id":731,"email":"yoan.blanc@exoscale.ch","plan_identifier":"dnsimple-business","created_at":"2018-02-20T06:44:26Z","updated_at":"2018-02-20T06:47:12Z"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"72de87500fef8e7f6ff19729e509d6a3"]
      X-RateLimit-Limit: ['2400']
      X-RateLimit-Remaining: ['2168']
      X-RateLimit-Reset: ['1531117888']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/731/domains?name_like=lexicontest.us
  response:
    body: {string: '{"data":[{"id":57894,"account_id":731,"registrant_id":null,"name":"lexicontest.us","unicode_name":"lexicontest.us","state":"hosted","auto_renew":false,"private_whois":false,"expires_on":null,"created_at":"2018-07-09T05:29:54Z","updated_at":"2018-07-09T05:29:54Z"}],"pagination":{"current_page":1,"per_page":30,"total_entries":1,"total_pages":1}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"04f25ecf6f530c2d8d38ef8bdbb24738"]
      X-RateLimit-Limit: ['2400']
      X-RateLimit-Remaining: ['2167']
      X-RateLimit-Reset: ['1531117888']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/731/zones/lexicontest.us/records?type=TXT&name=filter.thisdoesnotexist
  response:
    body: {string: '{"data":[],"pagination":{"current_page":1,"per_page":30,"total_entries":0,"total_pages":1}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"0605e329ddd741bf0b60c52b68e9846b"]
      X-RateLimit-Limit: ['2400']
      X-RateLimit-Remaining: ['2166']
      X-RateLimit-Reset: ['1531117887']
    status: {code: 200, message: OK}
version: 1
