interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/accounts
  response:
    body: {string: !!python/unicode '{"data":[{"id":762,"email":"lexicontest@mailinator.com","plan_identifier":"dnsimple-professional","created_at":"2018-03-23T04:57:08Z","updated_at":"2018-03-23T04:57:35Z"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"41f6b179fd60416d261e24db13a6b843"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['1773']
      x-ratelimit-reset: ['1521784779']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/762/domains?name_like=lexicontest.com
  response:
    body: {string: !!python/unicode '{"data":[{"id":39243,"account_id":762,"registrant_id":null,"name":"lexicontest.com","unicode_name":"lexicontest.com","token":"Xq3UtdK2VXBM23CE0w3xNDQkigc8VnWj","state":"hosted","auto_renew":false,"private_whois":false,"expires_on":null,"created_at":"2018-03-23T04:58:39Z","updated_at":"2018-03-23T04:58:39Z"}],"pagination":{"current_page":1,"per_page":30,"total_entries":1,"total_pages":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"3c522308175b5c6e8cebe22bd408c32a"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['1772']
      x-ratelimit-reset: ['1521784779']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/762/zones/lexicontest.com/records?type=TXT&name=orig.testfull
  response:
    body: {string: !!python/unicode '{"data":[],"pagination":{"current_page":1,"per_page":30,"total_entries":0,"total_pages":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"0605e329ddd741bf0b60c52b68e9846b"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['1771']
      x-ratelimit-reset: ['1521784778']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"priority": "placeholder_priority", "name": "orig.testfull",
      "content": "challengetoken", "regions": ["global"], "ttl": 3600, "type": "TXT"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.dnsimple.com/v2762/zones/lexicontest.com/records
  response:
    body: {string: !!python/unicode '{"data":{"id":362821,"zone_id":"lexicontest.com","parent_id":null,"name":"orig.testfull","content":"challengetoken","ttl":3600,"priority":null,"type":"TXT","regions":["global"],"system_record":false,"created_at":"2018-03-23T05:35:43Z","updated_at":"2018-03-23T05:35:43Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"fa60f7c2d0ee0bbd73a31f78e2fbd7a2"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['1770']
      x-ratelimit-reset: ['1521784779']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"content": "challengetoken", "priority": "placeholder_priority",
      "regions": ["global"], "name": "updated.testfull", "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PATCH
    uri: https://api.sandbox.dnsimple.com/v2/762/zones/lexicontest.com/records/362821
  response:
    body: {string: !!python/unicode '{"data":{"id":362821,"zone_id":"lexicontest.com","parent_id":null,"name":"updated.testfull","content":"challengetoken","ttl":3600,"priority":null,"type":"TXT","regions":["global"],"system_record":false,"created_at":"2018-03-23T05:35:43Z","updated_at":"2018-03-23T05:35:44Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"9f573a1d79aa7dbb3951ef4ec53fc2e7"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['1768']
      x-ratelimit-reset: ['1521784779']
    status: {code: 200, message: OK}
version: 1
