interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"id":6259,"user_id":null,"registrant_id":603,"account_id":241,"name":"capsulecd.com","unicode_name":"capsulecd.com","token":"yyMtxjkT67RPyEvy6t9UT6CgIYOSzj8u","state":"registered","lockable":true,"auto_renew":false,"whois_protected":false,"record_count":6,"service_count":0,"expires_on":"2017-03-16","created_at":"2016-03-16T06:14:11.347Z","updated_at":"2016-03-16T06:14:17.541Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"e6fa778344b069d0a7d7a9a3a1b506a2"]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"record": {"content": "challengetoken", "record_type": "TXT", "name":
      "random.fulltest"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"record":{"id":71918,"domain_id":6259,"parent_id":null,"name":"random.fulltest","content":"challengetoken","ttl":3600,"prio":null,"record_type":"TXT","system_record":false,"created_at":"2016-03-24T17:23:13.727Z","updated_at":"2016-03-24T17:23:13.727Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"6b00d476dd9deef0d95f1b54494f451f"]
      status: [201 Created]
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records?type=TXT&name=random.fulltest
  response:
    body: {string: !!python/unicode '[{"record":{"id":71918,"domain_id":6259,"parent_id":null,"name":"random.fulltest","content":"challengetoken","ttl":3600,"prio":null,"record_type":"TXT","system_record":false,"created_at":"2016-03-24T17:23:13.727Z","updated_at":"2016-03-24T17:23:13.727Z"}}]'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"f6a0da2f351feb84f36f0e62c6cb6824"]
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
