interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"id":6259,"user_id":null,"registrant_id":603,"account_id":241,"name":"capsulecd.com","unicode_name":"capsulecd.com","token":"yyMtxjkT67RPyEvy6t9UT6CgIYOSzj8u","state":"registered","lockable":true,"auto_renew":false,"whois_protected":false,"record_count":5,"service_count":0,"expires_on":"2017-03-16","created_at":"2016-03-16T06:14:11.347Z","updated_at":"2016-03-16T06:14:17.541Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"record": {"content": "127.0.0.1", "record_type": "A", "name": "localhost"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"record":{"id":68020,"domain_id":6259,"parent_id":null,"name":"localhost","content":"127.0.0.1","ttl":3600,"prio":null,"record_type":"A","system_record":false,"created_at":"2016-03-16T07:08:23.053Z","updated_at":"2016-03-16T07:08:23.053Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"0be7f2059414637122956252c380da7e"]
      status: [201 Created]
    status: {code: 201, message: Created}
version: 1
