interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"id":6259,"user_id":null,"registrant_id":603,"account_id":241,"name":"capsulecd.com","unicode_name":"capsulecd.com","token":"yyMtxjkT67RPyEvy6t9UT6CgIYOSzj8u","state":"registered","lockable":true,"auto_renew":false,"whois_protected":false,"record_count":5,"service_count":0,"expires_on":"2017-03-16","created_at":"2016-03-16T06:14:11.347Z","updated_at":"2016-03-16T06:14:17.541Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"16f41476ceeeede092cdcffc3c091f5f"]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"record": {"content": "challengetoken", "record_type": "TXT", "name":
      "orig.testfqdn"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"record":{"id":97316,"domain_id":6259,"parent_id":null,"name":"orig.testfqdn","content":"challengetoken","ttl":3600,"prio":null,"record_type":"TXT","system_record":false,"created_at":"2016-03-30T01:59:54.613Z","updated_at":"2016-03-30T01:59:54.613Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"e5de5ca5b52fc30ff07fc0a8ce9378be"]
      status: [201 Created]
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records?type=TXT&name=orig.testfqdn
  response:
    body: {string: !!python/unicode '[{"record":{"id":97316,"domain_id":6259,"parent_id":null,"name":"orig.testfqdn","content":"challengetoken","ttl":3600,"prio":null,"record_type":"TXT","system_record":false,"created_at":"2016-03-30T01:59:54.613Z","updated_at":"2016-03-30T01:59:54.613Z"}}]'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"af5731ab2bbfe3d58d26c0542dc495b7"]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"record": {"content": "challengetoken", "name": "updated.testfqdn"}}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records/97316
  response:
    body: {string: !!python/unicode '{"record":{"id":97316,"domain_id":6259,"parent_id":null,"name":"updated.testfqdn","content":"challengetoken","ttl":3600,"prio":null,"record_type":"TXT","system_record":false,"created_at":"2016-03-30T01:59:54.613Z","updated_at":"2016-03-30T02:00:15.240Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"8ec881ed84876a4e6b7fd6bc3f8a6f83"]
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
