interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/accounts
  response:
    body: {string: !!python/unicode '{"data":[{"id":762,"email":"lexicontest@mailinator.com","plan_identifier":"dnsimple-professional","created_at":"2018-03-23T04:57:08Z","updated_at":"2018-03-23T04:57:35Z"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"41f6b179fd60416d261e24db13a6b843"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['1788']
      x-ratelimit-reset: ['1521784779']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/762/domains?name_like=lexicontest.com
  response:
    body: {string: !!python/unicode '{"data":[{"id":39243,"account_id":762,"registrant_id":null,"name":"lexicontest.com","unicode_name":"lexicontest.com","token":"Xq3UtdK2VXBM23CE0w3xNDQkigc8VnWj","state":"hosted","auto_renew":false,"private_whois":false,"expires_on":null,"created_at":"2018-03-23T04:58:39Z","updated_at":"2018-03-23T04:58:39Z"}],"pagination":{"current_page":1,"per_page":30,"total_entries":1,"total_pages":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"3c522308175b5c6e8cebe22bd408c32a"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['1787']
      x-ratelimit-reset: ['1521784779']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/762/zones/lexicontest.com/records
  response:
    body: {string: !!python/unicode '{"data":[{"id":362717,"zone_id":"lexicontest.com","parent_id":null,"name":"","content":"ns1.dnsimple.com
        admin.dnsimple.com 1521781307 86400 7200 604800 300","ttl":3600,"priority":null,"type":"SOA","regions":["global"],"system_record":true,"created_at":"2018-03-23T04:58:39Z","updated_at":"2018-03-23T05:35:35Z"},{"id":362718,"zone_id":"lexicontest.com","parent_id":null,"name":"","content":"ns1.dnsimple.com","ttl":3600,"priority":null,"type":"NS","regions":["global"],"system_record":true,"created_at":"2018-03-23T04:58:40Z","updated_at":"2018-03-23T04:58:40Z"},{"id":362719,"zone_id":"lexicontest.com","parent_id":null,"name":"","content":"ns2.dnsimple.com","ttl":3600,"priority":null,"type":"NS","regions":["global"],"system_record[...]
