interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"id":6259,"user_id":null,"registrant_id":603,"account_id":241,"name":"capsulecd.com","unicode_name":"capsulecd.com","token":"yyMtxjkT67RPyEvy6t9UT6CgIYOSzj8u","state":"registered","lockable":true,"auto_renew":false,"whois_protected":false,"record_count":5,"service_count":0,"expires_on":"2017-03-16","created_at":"2016-03-16T06:14:11.347Z","updated_at":"2016-03-16T06:14:17.541Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"16f41476ceeeede092cdcffc3c091f5f"]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '[{"record":{"id":97303,"domain_id":6259,"parent_id":null,"name":"localhost","content":"127.0.0.1","ttl":3600,"prio":null,"record_type":"A","system_record":false,"created_at":"2016-03-30T01:59:41.850Z","updated_at":"2016-03-30T01:59:41.850Z"}},{"record":{"id":97304,"domain_id":6259,"parent_id":null,"name":"docs","content":"docs.example.com","ttl":3600,"prio":null,"record_type":"CNAME","system_record":false,"created_at":"2016-03-30T01:59:43.540Z","updated_at":"2016-03-30T01:59:43.540Z"}},{"record":{"id":68017,"domain_id":6259,"parent_id":null,"name":"","content":"ns2.dnsimple.com","ttl":3600,"prio":null,"record_type":"NS","system_record":true,"creat[...]
