interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"id":6259,"user_id":null,"registrant_id":603,"account_id":241,"name":"capsulecd.com","unicode_name":"capsulecd.com","token":"yyMtxjkT67RPyEvy6t9UT6CgIYOSzj8u","state":"registered","lockable":true,"auto_renew":false,"whois_protected":false,"record_count":6,"service_count":0,"expires_on":"2017-03-16","created_at":"2016-03-16T06:14:11.347Z","updated_at":"2016-03-16T06:14:17.541Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v1/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '[{"record":{"id":68018,"domain_id":6259,"parent_id":null,"name":"","content":"ns3.dnsimple.com","ttl":3600,"prio":null,"record_type":"NS","system_record":true,"created_at":"2016-03-16T06:14:11.476Z","updated_at":"2016-03-16T06:14:11.476Z"}},{"record":{"id":68019,"domain_id":6259,"parent_id":null,"name":"","content":"ns4.dnsimple.com","ttl":3600,"prio":null,"record_type":"NS","system_record":true,"created_at":"2016-03-16T06:14:11.489Z","updated_at":"2016-03-16T06:14:11.489Z"}},{"record":{"id":68017,"domain_id":6259,"parent_id":null,"name":"","content":"ns2.dnsimple.com","ttl":3600,"prio":null,"record_type":"NS","system_record":true,"created_at":"2[...]
