interactions:
- request:
    body: null
    headers:
      X-Amz-Date: [20161009T013240Z]
    method: !!python/unicode GET
    uri: https://route53.amazonaws.com/2013-04-01/hostedzonesbyname
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ListHostedZonesByNameResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZones><HostedZone><Id>/hostedzone/ZBEJSHF5L79VI</Id><Name>capsulecd.com.</Name><CallerReference>CD167CD7-84D9-E9B6-A9CA-368CF9590C4F</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>7</ResourceRecordSetCount></HostedZone><HostedZone><Id>/hostedzone/Z26VK10YTMHFYG</Id><Name>eadmundo.com.</Name><CallerReference>D3154B90-A6B5-C702-9EC1-F2C63DCCF274</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>17</ResourceRecordSetCount></HostedZone></HostedZones><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListHostedZonesByNameResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [453cf9fb-8dc0-11e6-b80f-fd822a08c6c3]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode <ChangeResourceRecordSetsRequest xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeBatch><Comment>CREATE
      using lexicon Route 53 provider</Comment><Changes><Change><ResourceRecordSet><Type>TXT</Type><ResourceRecords><ResourceRecord><Value>"challengetoken"</Value></ResourceRecord></ResourceRecords><Name>delete.testfqdn.capsulecd.com.</Name><TTL>300</TTL></ResourceRecordSet><Action>CREATE</Action></Change></Changes></ChangeBatch></ChangeResourceRecordSetsRequest>
    headers:
      X-Amz-Date: [20161009T013240Z]
    method: !!python/unicode POST
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/ZBEJSHF5L79VI/rrset/
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ChangeResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeInfo><Id>/change/C32D281ZMBH6IN</Id><Status>PENDING</Status><SubmittedAt>2016-10-09T01:32:41.807Z</SubmittedAt><Comment>CREATE
        using lexicon Route 53 provider</Comment></ChangeInfo></ChangeResourceRecordSetsResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [4552cbee-8dc0-11e6-b80f-fd822a08c6c3]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      X-Amz-Date: [20161009T013241Z]
    method: !!python/unicode GET
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/ZBEJSHF5L79VI/rrset
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ListResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ResourceRecordSets><ResourceRecordSet><Name>capsulecd.com.</Name><Type>NS</Type><TTL>172800</TTL><ResourceRecords><ResourceRecord><Value>ns-157.awsdns-19.com.</Value></ResourceRecord><ResourceRecord><Value>ns-581.awsdns-08.net.</Value></ResourceRecord><ResourceRecord><Value>ns-1197.awsdns-21.org.</Value></ResourceRecord><ResourceRecord><Value>ns-1858.awsdns-40.co.uk.</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>capsulecd.com.</Name><Type>SOA</Type><TTL>900</TTL><ResourceRe[...]
