interactions:
- request:
    body: null
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=AKIAJLWTLTJSBKSBCRTA/20161007/us-east-1/route53/aws4_request,
          SignedHeaders=host;x-amz-date, Signature=d3e744370464c1d6e7d6f936431d325925f39970e94cc58d6083311c3f82f415']
      X-Amz-Date: [20161007T001059Z]
    method: !!python/unicode GET
    uri: https://route53.amazonaws.com/2013-04-01/hostedzonesbyname
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ListHostedZonesByNameResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZones><HostedZone><Id>/hostedzone/Z26VK10YTMHFYG</Id><Name>capsulecd.com.</Name><CallerReference>D3154B90-A6B5-C702-9EC1-F2C63DCCF274</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>7</ResourceRecordSetCount></HostedZone></HostedZones><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListHostedZonesByNameResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [8672b57b-8c22-11e6-ae6d-ef4282e2655b]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode <ChangeResourceRecordSetsRequest xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeBatch><Comment>CREATE
      using lexicon Route 53 provider</Comment><Changes><Change><Action>CREATE</Action><ResourceRecordSet><ResourceRecords><ResourceRecord><Value>"ttlshouldbe3600"</Value></ResourceRecord></ResourceRecords><Type>TXT</Type><Name>ttl.fqdn.capsulecd.com.</Name><TTL>3600</TTL></ResourceRecordSet></Change></Changes></ChangeBatch></ChangeResourceRecordSetsRequest>
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=AKIAJLWTLTJSBKSBCRTA/20161007/us-east-1/route53/aws4_request,
          SignedHeaders=host;x-amz-date, Signature=f69ebf59b6a3c138d98bfd23d11e12faa410dcb4fdb2c592e2725e3e588eee7b']
      X-Amz-Date: [20161007T001059Z]
    method: !!python/unicode POST
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/Z26VK10YTMHFYG/rrset/
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ChangeResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeInfo><Id>/change/C1OAB6XEFG71XX</Id><Status>PENDING</Status><SubmittedAt>2016-10-07T00:10:59.510Z</SubmittedAt><Comment>CREATE
        using lexicon Route 53 provider</Comment></ChangeInfo></ChangeResourceRecordSetsResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [8681f7bd-8c22-11e6-ae6d-ef4282e2655b]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=AKIAJLWTLTJSBKSBCRTA/20161007/us-east-1/route53/aws4_request,
          SignedHeaders=host;x-amz-date, Signature=722e6df16afc82787f2cfb72ef0f59f09583e26d66a3b5afa4ed68aa144fc2a6']
      X-Amz-Date: [20161007T001059Z]
    method: !!python/unicode GET
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/Z26VK10YTMHFYG/rrset
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ListResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ResourceRecordSets><ResourceRecordSet><Name>capsulecd.com.</Name><Type>NS</Type><TTL>172800</TTL><ResourceRecords><ResourceRecord><Value>ns-1637.awsdns-12.co.uk.</Value></ResourceRecord><ResourceRecord><Value>ns-648.awsdns-17.net.</Value></ResourceRecord><ResourceRecord><Value>ns-1378.awsdns-44.org.</Value></ResourceRecord><ResourceRecord><Value>ns-198.awsdns-24.com.</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>capsulecd.com.</Name><Type>SOA</Type><TTL>900</TTL><ResourceRe[...]
