interactions:
- request:
    body: null
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=AKIAJLWTLTJSBKSBCRTA/20161007/us-east-1/route53/aws4_request,
          SignedHeaders=host;x-amz-date, Signature=099c06f198a097e2bc1ff5d499cf8e15845889d1b526fc1a409e3ec91d55dbfb']
      X-Amz-Date: [20161007T001103Z]
    method: !!python/unicode GET
    uri: https://route53.amazonaws.com/2013-04-01/hostedzonesbyname
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ListHostedZonesByNameResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZones><HostedZone><Id>/hostedzone/Z26VK10YTMHFYG</Id><Name>capsulecd.com.</Name><CallerReference>D3154B90-A6B5-C702-9EC1-F2C63DCCF274</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>13</ResourceRecordSetCount></HostedZone></HostedZones><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListHostedZonesByNameResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [89117cd5-8c22-11e6-a762-87e4489e0720]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode <ChangeResourceRecordSetsRequest xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeBatch><Comment>CREATE
      using lexicon Route 53 provider</Comment><Changes><Change><Action>CREATE</Action><ResourceRecordSet><ResourceRecords><ResourceRecord><Value>"challengetoken"</Value></ResourceRecord></ResourceRecords><Type>TXT</Type><Name>orig.testfqdn.capsulecd.com.</Name><TTL>300</TTL></ResourceRecordSet></Change></Changes></ChangeBatch></ChangeResourceRecordSetsRequest>
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=AKIAJLWTLTJSBKSBCRTA/20161007/us-east-1/route53/aws4_request,
          SignedHeaders=host;x-amz-date, Signature=f3d4b9e375330102241fc067f8f3056df122251b86d3e945275d5ae72442821f']
      X-Amz-Date: [20161007T001103Z]
    method: !!python/unicode POST
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/Z26VK10YTMHFYG/rrset/
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ChangeResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeInfo><Id>/change/CURHQ3F6CEOE7</Id><Status>PENDING</Status><SubmittedAt>2016-10-07T00:11:03.945Z</SubmittedAt><Comment>CREATE
        using lexicon Route 53 provider</Comment></ChangeInfo></ChangeResourceRecordSetsResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [89226cca-8c22-11e6-a762-87e4489e0720]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=AKIAJLWTLTJSBKSBCRTA/20161007/us-east-1/route53/aws4_request,
          SignedHeaders=host;x-amz-date, Signature=9b850c1ee045c7aa351bf629291b6ec848441c4aee5835ad2cc8a65536b60592']
      X-Amz-Date: [20161007T001104Z]
    method: !!python/unicode GET
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/Z26VK10YTMHFYG/rrset
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ListResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ResourceRecordSets><ResourceRecordSet><Name>capsulecd.com.</Name><Type>NS</Type><TTL>172800</TTL><ResourceRecords><ResourceRecord><Value>ns-1637.awsdns-12.co.uk.</Value></ResourceRecord><ResourceRecord><Value>ns-648.awsdns-17.net.</Value></ResourceRecord><ResourceRecord><Value>ns-1378.awsdns-44.org.</Value></ResourceRecord><ResourceRecord><Value>ns-198.awsdns-24.com.</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>capsulecd.com.</Name><Type>SOA</Type><TTL>900</TTL><ResourceRe[...]
- request:
    body: !!python/unicode <ChangeResourceRecordSetsRequest xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeBatch><Comment>UPSERT
      using lexicon Route 53 provider</Comment><Changes><Change><Action>UPSERT</Action><ResourceRecordSet><ResourceRecords><ResourceRecord><Value>"challengetoken"</Value></ResourceRecord></ResourceRecords><Type>TXT</Type><Name>updated.testfqdn.capsulecd.com.</Name><TTL>300</TTL></ResourceRecordSet></Change></Changes></ChangeBatch></ChangeResourceRecordSetsRequest>
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=AKIAJLWTLTJSBKSBCRTA/20161007/us-east-1/route53/aws4_request,
          SignedHeaders=host;x-amz-date, Signature=c58520f76f592bc28513df9b1a36869571e34243873d2fc416d743c8357acdaa']
      X-Amz-Date: [20161007T001104Z]
    method: !!python/unicode POST
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/Z26VK10YTMHFYG/rrset/
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ChangeResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeInfo><Id>/change/C3NM2KAYA9XTKZ</Id><Status>PENDING</Status><SubmittedAt>2016-10-07T00:11:04.186Z</SubmittedAt><Comment>UPSERT
        using lexicon Route 53 provider</Comment></ChangeInfo></ChangeResourceRecordSetsResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [894ab56b-8c22-11e6-a762-87e4489e0720]
    status: {code: 200, message: OK}
version: 1
