interactions:
- request:
    body: null
    headers:
      X-Amz-Date: [20161009T013238Z]
    method: !!python/unicode GET
    uri: https://route53.amazonaws.com/2013-04-01/hostedzonesbyname
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ListHostedZonesByNameResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZones><HostedZone><Id>/hostedzone/ZBEJSHF5L79VI</Id><Name>capsulecd.com.</Name><CallerReference>CD167CD7-84D9-E9B6-A9CA-368CF9590C4F</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>6</ResourceRecordSetCount></HostedZone><HostedZone><Id>/hostedzone/Z26VK10YTMHFYG</Id><Name>eadmundo.com.</Name><CallerReference>D3154B90-A6B5-C702-9EC1-F2C63DCCF274</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>17</ResourceRecordSetCount></HostedZone></HostedZones><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListHostedZonesByNameResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [44529985-8dc0-11e6-86bb-25110d14e1d9]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode <ChangeResourceRecordSetsRequest xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeBatch><Comment>CREATE
      using lexicon Route 53 provider</Comment><Changes><Change><ResourceRecordSet><Type>TXT</Type><ResourceRecords><ResourceRecord><Value>"challengetoken"</Value></ResourceRecord></ResourceRecords><Name>_acme-challenge.test.capsulecd.com.</Name><TTL>300</TTL></ResourceRecordSet><Action>CREATE</Action></Change></Changes></ChangeBatch></ChangeResourceRecordSetsRequest>
    headers:
      X-Amz-Date: [20161009T013239Z]
    method: !!python/unicode POST
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/ZBEJSHF5L79VI/rrset/
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ChangeResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeInfo><Id>/change/C3BNEPBUUIXTZQ</Id><Status>PENDING</Status><SubmittedAt>2016-10-09T01:32:40.246Z</SubmittedAt><Comment>CREATE
        using lexicon Route 53 provider</Comment></ChangeInfo></ChangeResourceRecordSetsResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [4465ac59-8dc0-11e6-86bb-25110d14e1d9]
    status: {code: 200, message: OK}
version: 1
