interactions:
- request:
    body: null
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=AKIAJLWTLTJSBKSBCRTA/20161007/us-east-1/route53/aws4_request,
          SignedHeaders=host;x-amz-date, Signature=e94c1994bd967673a7a1ac0dca6850e97f53f0b6ed6c79e8f36ed68255100a4d']
      X-Amz-Date: [20161007T001056Z]
    method: !!python/unicode GET
    uri: https://route53.amazonaws.com/2013-04-01/hostedzonesbyname
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ListHostedZonesByNameResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><HostedZones><HostedZone><Id>/hostedzone/Z26VK10YTMHFYG</Id><Name>capsulecd.com.</Name><CallerReference>D3154B90-A6B5-C702-9EC1-F2C63DCCF274</CallerReference><Config><PrivateZone>false</PrivateZone></Config><ResourceRecordSetCount>7</ResourceRecordSetCount></HostedZone></HostedZones><IsTruncated>false</IsTruncated><MaxItems>100</MaxItems></ListHostedZonesByNameResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [851ebe56-8c22-11e6-a762-87e4489e0720]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode <ChangeResourceRecordSetsRequest xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeBatch><Comment>CREATE
      using lexicon Route 53 provider</Comment><Changes><Change><Action>CREATE</Action><ResourceRecordSet><ResourceRecords><ResourceRecord><Value>"challengetoken"</Value></ResourceRecord></ResourceRecords><Type>TXT</Type><Name>delete.testfilt.capsulecd.com.</Name><TTL>300</TTL></ResourceRecordSet></Change></Changes></ChangeBatch></ChangeResourceRecordSetsRequest>
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=AKIAJLWTLTJSBKSBCRTA/20161007/us-east-1/route53/aws4_request,
          SignedHeaders=host;x-amz-date, Signature=5e962ff99ffaaa9e94babb891b0dfc0fb40d83b4420b383950c082583acf3ae6']
      X-Amz-Date: [20161007T001057Z]
    method: !!python/unicode POST
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/Z26VK10YTMHFYG/rrset/
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ChangeResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ChangeInfo><Id>/change/C3TSVJ43R9AKCU</Id><Status>PENDING</Status><SubmittedAt>2016-10-07T00:10:57.282Z</SubmittedAt><Comment>CREATE
        using lexicon Route 53 provider</Comment></ChangeInfo></ChangeResourceRecordSetsResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [852d645e-8c22-11e6-a762-87e4489e0720]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Authorization: ['AWS4-HMAC-SHA256 Credential=AKIAJLWTLTJSBKSBCRTA/20161007/us-east-1/route53/aws4_request,
          SignedHeaders=host;x-amz-date, Signature=1b8aad55e5d4bea9af7c61299ef0958ef80fe2097de78f854842496a415431d1']
      X-Amz-Date: [20161007T001057Z]
    method: !!python/unicode GET
    uri: https://route53.amazonaws.com/2013-04-01/hostedzone/Z26VK10YTMHFYG/rrset
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <ListResourceRecordSetsResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><ResourceRecordSets><ResourceRecordSet><Name>capsulecd.com.</Name><Type>NS</Type><TTL>172800</TTL><ResourceRecords><ResourceRecord><Value>ns-1637.awsdns-12.co.uk.</Value></ResourceRecord><ResourceRecord><Value>ns-648.awsdns-17.net.</Value></ResourceRecord><ResourceRecord><Value>ns-1378.awsdns-44.org.</Value></ResourceRecord><ResourceRecord><Value>ns-198.awsdns-24.com.</Value></ResourceRecord></ResourceRecords></ResourceRecordSet><ResourceRecordSet><Name>capsulecd.com.</Name><Type>SOA</Type><TTL>900</TTL><ResourceRe[...]
