interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eu.api.ovh.com/1.0/auth/time
  response:
    body: {string: '1497441457'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-3.594124b1.12749.6305]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1497441457']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/
  response:
    body: {string: '["elogium.net"]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-3.594124b1.21083.8428]
      X-RECRUITMENT: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1497441457']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/elogium.net/status
  response:
    body: {string: '{"warnings":null,"errors":null,"isDeployed":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-3.594124b1.12749.3378]
      X-RECRUITMENT: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
- request:
    body: '{"fieldType": "TXT", "subDomain": "orig.testfqdn", "target": "challengetoken",
      "ttl": 3600}'
    headers:
      Content-type: [application/json]
      X-Ovh-Timestamp: ['1497441457']
    method: POST
    uri: https://eu.api.ovh.com/1.0/domain/zone/elogium.net/record
  response:
    body: {string: '{"target":"challengetoken","ttl":3600,"zone":"elogium.net","fieldType":"TXT","id":1466302828,"subDomain":"orig.testfqdn"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-3.594124b1.21928.1255]
      X-RECRUITMENT: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1497441457']
    method: POST
    uri: https://eu.api.ovh.com/1.0/domain/zone/elogium.net/refresh
  response:
    body: {string: 'null'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-3.594124b1.28624.2747]
      X-RECRUITMENT: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1497441457']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/elogium.net/record?fieldType=TXT&subDomain=orig.testfqdn
  response:
    body: {string: '[1466302828]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-3.594124b1.12749.7979]
      X-RECRUITMENT: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1497441457']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/elogium.net/record/1466302828
  response:
    body: {string: '{"target":"challengetoken","ttl":3600,"zone":"elogium.net","fieldType":"TXT","id":1466302828,"subDomain":"orig.testfqdn"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-3.594124b1.28624.1912]
      X-RECRUITMENT: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1497441457']
    method: POST
    uri: https://eu.api.ovh.com/1.0/domain/zone/elogium.net/refresh
  response:
    body: {string: 'null'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-3.594124b2.7811.6438]
      X-RECRUITMENT: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
version: 1
