interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eu.api.ovh.com/1.0/auth/time
  response:
    body: {string: '1497441453'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-7.594124ad.24047.0397]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1497441453']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/
  response:
    body: {string: '["elogium.net"]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-7.594124ad.19219.5087]
      X-RECRUITMENT: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1497441453']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/elogium.net/status
  response:
    body: {string: '{"warnings":null,"errors":null,"isDeployed":true}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-7.594124ad.24047.4915]
      X-RECRUITMENT: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1497441453']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/elogium.net/record
  response:
    body: {string: '[1466302778,1466302779,1466302780,1466302795,1466302789,1466302799,1466302791,1466302781,1466302786,1466302808,1466302790,1466302796,1466302792,1466302784,1466302787,1466302810,1466302788,1466302785,1466302793,1466302777,1466302794,1466302782,1466302783,1466302822,1466302823,1466302824,1466302821,1466302798,1466302797,1466302811,1466302814,1466302815]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-7.594124ad.24047.2230]
      X-RECRUITMENT: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1497441453']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/elogium.net/record/1466302778
  response:
    body: {string: '{"target":"dns17.ovh.net.","ttl":0,"zone":"elogium.net","fieldType":"NS","id":1466302778,"subDomain":""}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-7.594124ad.19219.3930]
      X-RECRUITMENT: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      X-Ovh-Timestamp: ['1497441455']
    method: GET
    uri: https://eu.api.ovh.com/1.0/domain/zone/elogium.net/record/1466302815
  response:
    body: {string: '{"target":"challengetoken","ttl":3600,"zone":"elogium.net","fieldType":"TXT","id":1466302815,"subDomain":"_acme-challenge.test"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-OVH-QUERYID: [FR.ws-7.594124af.32032.3735]
      X-RECRUITMENT: ['You know how to code? This is a good start, but it may not
          be enough! We are looking for engineers who LOVE coding. Programming enthusiasts,
          code aesthetes, CTF winners, ... In short, geeks eager to learn, obstinate,
          involved. You want to challenge yourself? Join us! http://ovh.jobs']
    status: {code: 200, message: OK}
version: 1
