interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1/commonserviceitem?%7B%22Filter%22:%20%7B%22Provider.Class%22:%20%22dns%22,%20%22Name%22:%20%22example.com%22%7D%7D
  response:
    body: {string: '{"From":0,"Count":1,"Total":1,"CommonServiceItems":[{"Index":0,"ID":"112901284755","Name":"example.com","Description":"","Settings":{"DNS":{"ResourceRecordSets":[{"Name":"localhost","Type":"A","RData":"127.0.0.1","TTL":3600}]}},"SettingsHash":"8820135dc5c208780856282fde1dc989","Status":{"Zone":"example.com","NS":["ns1.gslb4.sakura.ne.jp","ns2.gslb4.sakura.ne.jp"]},"ServiceClass":"cloud\/dns","Availability":"available","CreatedAt":"2017-10-12T12:23:40+09:00","ModifiedAt":"2017-10-12T12:23:40+09:00","Provider":{"ID":2000002,"Class":"dns","Name":"gslb4.sakura.ne.jp","ServiceClass":"cloud\/dns"},"Icon":null,"Tags":[]}],"is_ok":true,"_log_url":"http:\/\/is1a-so.cloud.alpha.sakura.ad.jp\/apilog\/#!\/3c0c29c44dd4545e50df945704f34fcd"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Status: [200 OK]
      X-Sakura-Content-Length: ['755']
      X-Sakura-Encode-Microtime: ['558']
      X-Sakura-Proxy-Decode-Microtime: ['46']
      X-Sakura-Proxy-Microtime: ['67646']
      X-Sakura-Serial: [3c0c29c44dd4545e50df945704f34fcd]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1/commonserviceitem/112901284755
  response:
    body: {string: '{"CommonServiceItem":{"ID":"112901284755","Name":"example.com","Description":"","Settings":{"DNS":{"ResourceRecordSets":[{"Name":"localhost","Type":"A","RData":"127.0.0.1","TTL":3600}]}},"SettingsHash":"8820135dc5c208780856282fde1dc989","Status":{"Zone":"example.com","NS":["ns1.gslb4.sakura.ne.jp","ns2.gslb4.sakura.ne.jp"]},"ServiceClass":"cloud\/dns","Availability":"available","CreatedAt":"2017-10-12T12:23:40+09:00","ModifiedAt":"2017-10-12T12:23:40+09:00","Provider":{"ID":2000002,"Class":"dns","Name":"gslb4.sakura.ne.jp","ServiceClass":"cloud\/dns"},"Icon":null,"Tags":[]},"is_ok":true,"_log_url":"http:\/\/is1a-so.cloud.alpha.sakura.ad.jp\/apilog\/#!\/513b47310bdecfd6823fd63d5b767b0f"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Status: [200 OK]
      X-Sakura-Content-Length: ['713']
      X-Sakura-Encode-Microtime: ['545']
      X-Sakura-Proxy-Decode-Microtime: ['128']
      X-Sakura-Proxy-Microtime: ['75029']
      X-Sakura-Serial: [513b47310bdecfd6823fd63d5b767b0f]
    status: {code: 200, message: OK}
- request:
    body: '{"CommonServiceItem": {"Settings": {"DNS": {"ResourceRecordSets": [{"Name":
      "localhost", "Type": "A", "RData": "127.0.0.1", "TTL": 3600}, {"Name": "_acme-challenge.fqdn",
      "Type": "TXT", "RData": "challengetoken", "TTL": 3600}]}}}}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://secure.sakura.ad.jp/cloud/zone/is1a/api/cloud/1.1/commonserviceitem/112901284755
  response:
    body: {string: '{"CommonServiceItem":{"ID":"112901284755","Name":"example.com","Description":"","Settings":{"DNS":{"ResourceRecordSets":[{"Name":"localhost","Type":"A","RData":"127.0.0.1","TTL":3600},{"Name":"_acme-challenge.fqdn","Type":"TXT","RData":"challengetoken","TTL":3600}]}},"SettingsHash":"22355f172b303c041c62a5678e453557","Status":{"Zone":"example.com","NS":["ns1.gslb4.sakura.ne.jp","ns2.gslb4.sakura.ne.jp"]},"ServiceClass":"cloud\/dns","Availability":"available","CreatedAt":"2017-10-12T12:23:40+09:00","ModifiedAt":"2017-10-12T12:23:40+09:00","Provider":{"ID":2000002,"Class":"dns","Name":"gslb4.sakura.ne.jp","ServiceClass":"cloud\/dns"},"Icon":null,"Tags":[]},"Success":true,"is_ok":true,"_log_url":"http:\/\/is1a-so.cloud.alpha.sakura.ad.jp\/apilog\/#!\/171b4ad4aed2e4ef76c07bcc3259a388"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Status: [200 OK]
      X-Sakura-Content-Length: ['809']
      X-Sakura-Encode-Microtime: ['639']
      X-Sakura-Proxy-Decode-Microtime: ['119']
      X-Sakura-Proxy-Microtime: ['1929149']
      X-Sakura-Serial: [171b4ad4aed2e4ef76c07bcc3259a388]
    status: {code: 200, message: OK}
version: 1
