interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/zone_auth?fqdn=test.local&view=internal
  response:
    body: {string: !!python/unicode "[\n    {\n        \"_ref\": \"zone_auth/ZG5zLnpvbmUkLjIzLmxvY2FsLnRlc3Q:test.local/internal\"\
        , \n        \"fqdn\": \"test.local\", \n        \"view\": \"internal\"\n \
        \   }\n]"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:a?name=localhost.test.local&view=internal&_return_fields=ipv4addr,ttl,use_ttl
  response:
    body: {string: !!python/unicode "[\n    {\n        \"_ref\": \"record:a/ZG5zLmJpbmRfYSQuMjMubG9jYWwudGVzdCxsb2NhbGhvc3QsMTI3LjAuMC4x:localhost.test.local/internal\"\
        , \n        \"ipv4addr\": \"127.0.0.1\", \n        \"ttl\": 3600, \n     \
        \   \"use_ttl\": true\n    }\n]"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:aaaa?name=localhost.test.local&view=internal&_return_fields=ipv6addr,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:cname?name=localhost.test.local&view=internal&_return_fields=canonical,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:srv?name=localhost.test.local&view=internal&_return_fields=target,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:txt?name=localhost.test.local&view=internal&_return_fields=text,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:mx?name=localhost.test.local&view=internal&_return_fields=mail_exchanger,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
