interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/zone_auth?fqdn=test.local&view=internal
  response:
    body: {string: !!python/unicode "[\n    {\n        \"_ref\": \"zone_auth/ZG5zLnpvbmUkLjIzLmxvY2FsLnRlc3Q:test.local/internal\"\
        , \n        \"fqdn\": \"test.local\", \n        \"view\": \"internal\"\n \
        \   }\n]"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:a?name=random.fqdntest.test.local&view=internal&_return_fields=ipv4addr,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:aaaa?name=random.fqdntest.test.local&view=internal&_return_fields=ipv6addr,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:cname?name=random.fqdntest.test.local&view=internal&_return_fields=canonical,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:srv?name=random.fqdntest.test.local&view=internal&_return_fields=target,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:txt?name=random.fqdntest.test.local&view=internal&_return_fields=text,ttl,use_ttl
  response:
    body: {string: !!python/unicode "[\n    {\n        \"_ref\": \"record:txt/ZG5zLmJpbmRfdHh0JC4yMy5sb2NhbC50ZXN0LmZxZG50ZXN0LnJhbmRvbS4iY2hhbGxlbmdldG9rZW4i:random.fqdntest.test.local/internal\"\
        , \n        \"text\": \"challengetoken\", \n        \"ttl\": 3600, \n    \
        \    \"use_ttl\": true\n    }\n]"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:mx?name=random.fqdntest.test.local&view=internal&_return_fields=mail_exchanger,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:txt?name=random.fqdntest.test.local&view=internal&_return_fields=text,ttl,use_ttl
  response:
    body: {string: !!python/unicode "[\n    {\n        \"_ref\": \"record:txt/ZG5zLmJpbmRfdHh0JC4yMy5sb2NhbC50ZXN0LmZxZG50ZXN0LnJhbmRvbS4iY2hhbGxlbmdldG9rZW4i:random.fqdntest.test.local/internal\"\
        , \n        \"text\": \"challengetoken\", \n        \"ttl\": 3600, \n    \
        \    \"use_ttl\": true\n    }\n]"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
