interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/zone_auth?fqdn=test.local&view=internal
  response:
    body: {string: !!python/unicode "[\n    {\n        \"_ref\": \"zone_auth/ZG5zLnpvbmUkLjIzLmxvY2FsLnRlc3Q:test.local/internal\"\
        , \n        \"fqdn\": \"test.local\", \n        \"view\": \"internal\"\n \
        \   }\n]"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:a?name=_acme-challenge.deleterecordset.test.local&view=internal&_return_fields=ipv4addr,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:aaaa?name=_acme-challenge.deleterecordset.test.local&view=internal&_return_fields=ipv6addr,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:cname?name=_acme-challenge.deleterecordset.test.local&view=internal&_return_fields=canonical,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:srv?name=_acme-challenge.deleterecordset.test.local&view=internal&_return_fields=target,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:txt?name=_acme-challenge.deleterecordset.test.local&view=internal&_return_fields=text,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:mx?name=_acme-challenge.deleterecordset.test.local&view=internal&_return_fields=mail_exchanger,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"text": "\"challengetoken1\"", "use_ttl": true, "ttl":
      3600, "name": "_acme-challenge.deleterecordset.test.local", "view": "internal"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:txt
  response:
    body: {string: !!python/unicode '"record:txt/ZG5zLmJpbmRfdHh0JC4yMy5sb2NhbC50ZXN0LmRlbGV0ZXJlY29yZHNldC5fYWNtZS1jaGFsbGVuZ2UuImNoYWxsZW5nZXRva2VuMSI:_acme-challenge.deleterecordset.test.local/internal"'}
    headers:
      content-type: [application/json]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:txt/ZG5zLmJpbmRfdHh0JC4yMy5sb2NhbC50ZXN0LmRlbGV0ZXJlY29yZHNldC5fYWNtZS1jaGFsbGVuZ2UuImNoYWxsZW5nZXRva2VuMSI:_acme-challenge.deleterecordset.test.local/internal
  response:
    body: {string: !!python/unicode '"record:txt/ZG5zLmJpbmRfdHh0JC4yMy5sb2NhbC50ZXN0LmRlbGV0ZXJlY29yZHNldC5fYWNtZS1jaGFsbGVuZ2UuImNoYWxsZW5nZXRva2VuMSI:_acme-challenge.deleterecordset.test.local/internal"'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:txt/ZG5zLmJpbmRfdHh0JC4yMy5sb2NhbC50ZXN0LmRlbGV0ZXJlY29yZHNldC5fYWNtZS1jaGFsbGVuZ2UuImNoYWxsZW5nZXRva2VuMiI:_acme-challenge.deleterecordset.test.local/internal
  response:
    body: {string: !!python/unicode '"record:txt/ZG5zLmJpbmRfdHh0JC4yMy5sb2NhbC50ZXN0LmRlbGV0ZXJlY29yZHNldC5fYWNtZS1jaGFsbGVuZ2UuImNoYWxsZW5nZXRva2VuMiI:_acme-challenge.deleterecordset.test.local/internal"'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns1.int.metro-cc.com/wapi/v2.6.1/record:txt?name=_acme-challenge.deleterecordset.test.local&view=internal&_return_fields=text,ttl,use_ttl
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
