# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
# *.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
# *.go docs@example.com

lexicon/providers/aliyun.py         @wildcloud3
lexicon/providers/aurora.py         @joostdebruijn
lexicon/providers/auto.py           @adferrand
lexicon/providers/azure.py          @adferrand
lexicon/providers/cloudflare.py     @analogj
lexicon/providers/cloudns.py        @ppmathis
lexicon/providers/cloudxns.py       @zh99998
lexicon/providers/conoha.py         @kaz
lexicon/providers/constellix.py     @pmkane
lexicon/providers/digitalocean.py   @analogj
lexicon/providers/dinahosting.py    @iperurena
lexicon/providers/directadmin.py    @bauglir
lexicon/providers/dnsimple.py       @analogj
lexicon/providers/dnsmadeeasy.py    @analogj @nydr
lexicon/providers/dnspark.py        @analogj
lexicon/providers/dnspod.py         @analogj
lexicon/providers/dreamhost.py      @chhsiao1981
lexicon/providers/easydns.py        @analogj
lexicon/providers/easyname.py       @astzweig @rqelibari
lexicon/providers/euserv.py			@mschoettle
lexicon/providers/exoscale.py       @greut @brutasse
lexicon/providers/gandi.py          @hrunting @adferrand @tristan-weil
lexicon/providers/gehirn.py         @chibiegg
lexicon/providers/glesys.py         @hecd
lexicon/providers/godaddy.py        @adferrand
lexicon/providers/gratisdns.py      @skeen
lexicon/providers/henet.py          @hank
lexicon/providers/hetzner.py        @rembik
lexicon/providers/hostingde.py      @initit
lexicon/providers/hover.py          @bkanuka
lexicon/providers/internetbs.py     @edausq
lexicon/providers/inwx.py           @lociii
lexicon/providers/linode.py         @trinopoty
lexicon/providers/linode4.py        @trinopoty
lexicon/providers/localzone.py      @ags-slc
lexicon/providers/luadns.py         @analogj
lexicon/providers/memset.py         @tnwhitwell
lexicon/providers/namecheap.py      @pschmitt @rbelnap
lexicon/providers/namesilo.py       @analogj
lexicon/providers/netcup.py         @coldfix
lexicon/providers/nfsn.py           @tersers
lexicon/providers/nsone.py          @init-js @trinopoty
lexicon/providers/onapp.py          @alexzorin
lexicon/providers/online.py         @kapouer
lexicon/providers/ovh.py            @adferrand
lexicon/providers/plesk.py          @ctron
lexicon/providers/pointhq.py        @analogj
lexicon/providers/powerdns.py       @insertjokehere @splashx
lexicon/providers/rackspace.py      @rmarscher
lexicon/providers/rage4.py          @analogj
lexicon/providers/rcodezero.py      @MikeAT
lexicon/providers/route53.py        @eadmundo
lexicon/providers/sakuracloud.py    @chibiegg
lexicon/providers/safedns.py        @miff2000
lexicon/providers/softlayer.py      @adherzog
lexicon/providers/subreg.py         @oldium
lexicon/providers/transip.py        @LordGaav @yorickvP
lexicon/providers/vultr.py          @analogj
lexicon/providers/yandex.py         @kharkevich
lexicon/providers/zeit.py           @adferrand
lexicon/providers/zilore.py         @adferrand
lexicon/providers/zonomi.py         @jarossi
