[build-system]
requires = [
    "poetry>=0.12",
]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "dns-lexicon"
version = "3.3.28"
description = "Manipulate DNS records on various DNS providers in a standardized/agnostic way"
license = "MIT"
keywords = [
    "dns", "lexicon", "dns-lexicon", "dehydrated", "letsencrypt",
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Internet :: Name Service (DNS)",
    "Topic :: System :: Systems Administration",
    "Topic :: Utilities",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.5",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
]
authors = [
    "Jason Kulatunga", "Adrien Ferrand"
]
readme = "README.rst"
repository = "https://github.com/AnalogJ/lexicon"
packages = [
    { include = "lexicon" },
]

[tool.poetry.dependencies]
python = ">=3.5"
tldextract = "^2.2.2"
future = "^0.18.2"
cryptography = "^3.0"
pyyaml = "^5.3.1"
requests = { version = "^2.24.0" }
beautifulsoup4 = "^4.9.1"
# Optional dependencies required by some providers
pynamecheap = { version = "^0.0.3", optional = true }
boto3 = { version = "^1.14.28", optional = true }
transip = { version = "^2.1.2", optional = true }
xmltodict = { version = "^0.12.0", optional = true }
localzone = { version = "^0.9.6", optional = true }
softlayer = { version = "<5.6", optional = true }  # 5.6+ has incompatibilies with recent requests and Python < 3.5
zeep = { version = "^3.4.0", optional = true }
pygments = { version = "<2.6", optional = true }  # 2.6+ requires Python 3.5+ (transitive dep from softlayer)

[tool.poetry.extras]
namecheap = ["pynamecheap"]
route53 = ["boto3"]
transip = ["transip"]
plesk = ["xmltodict"]
localzone = ["localzone"]
softlayer = ["softlayer"]
gransy = ["zeep"]
# Extra "full" list must contain all other extras
full = ["pynamecheap", "boto3", "transip", "xmltodict", "localzone", "softlayer", "zeep"]

[tool.poetry.dev-dependencies]
pytest = "^5.4.3"
pytest-cov = "^2.10.0"
pytest-xdist = "^1.33.0"
vcrpy = "<4"  # 4.x requires Python 3.5+
mock = "^3.0"
flake8 = "^3.8.3"
isort = "^4.3.21"
tox = "^3.18.0"

[tool.poetry.scripts]
lexicon = "lexicon.cli:main"
