[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "dns-lexicon"
version = "3.8.1"
description = "Manipulate DNS records on various DNS providers in a standardized/agnostic way"
license = "MIT"
keywords = [
    "dns", "lexicon", "dns-lexicon", "dehydrated", "letsencrypt",
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Internet :: Name Service (DNS)",
    "Topic :: System :: Systems Administration",
    "Topic :: Utilities",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]
authors = [
    "Jason Kulatunga", "Adrien Ferrand"
]
readme = "README.rst"
repository = "https://github.com/AnalogJ/lexicon"
packages = [
    { include = "lexicon" },
]

[tool.poetry.dependencies]
python = "^3.6"
tldextract = ">=2"
cryptography = ">=2"
pyyaml = ">=3"
requests = ">=2"
beautifulsoup4 = ">=4"
# Optional dependencies required by some providers
boto3 = { version = ">=1", optional = true }
dnspython = { version = ">=2", optional = true }
localzone = { version = ">=0.9.8", optional = true }
transip = { version = ">=2", optional = true }
softlayer = {version = ">=5", optional = true}
zeep = { version = ">=3", optional = true }
oci = {version = ">=2", optional = true}

[tool.poetry.extras]
route53 = ["boto3"]
transip = ["transip"]
localzone = ["localzone"]
softlayer = ["softlayer"]
gransy = ["zeep"]
ddns = ["dnspython"]
oci = ["oci"]
# Extra "full" list must contain all other extras
# NB: transip is excluded from the full list because it cannot be maintained anymore.
full = ["boto3", "localzone", "softlayer", "zeep", "ddns", "oci"]

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
vcrpy = "*"
flake8 = "*"
isort = "*"
tox = "*"
black = { version = "*", allow-prereleases = true }
mypy = "*"
types-PyYAML = "*"
types-pytz = "*"
types-requests = "*"
types-setuptools = "*"
types-six = "*"
types-toml = "*"

[tool.poetry.scripts]
lexicon = "lexicon.cli:main"

[tool.pytest.ini_options]
junit_family = "xunit2"
