###############################################################################
# Test Dependencies
#
# 	This file specifies all test dependencies that are required for a
#	successful tox run.
#
###############################################################################

-e git+https://github.com/kevin1024/vcrpy.git#egg=vcrpy
pytest==2.9.0
pytest-cov==2.2.1
python-coveralls==2.7.0