###############################################################################
# Test Dependencies
#
# 	This file specifies all test dependencies that are required for a
#	successful tox run.
#
###############################################################################

-e git+https://github.com/kevin1024/vcrpy.git#egg=vcrpy
pytest==3.8.0
pytest-cov==2.6.0
python-coveralls==2.9.1