###############################################################################
# Test Dependencies
#
# 	This file specifies all test dependencies that are required for a
#	successful tox run.
#
###############################################################################

pytest==3.8.0
pytest-cov==2.6.0
pytest-xdist==1.23.0
python-coveralls==2.9.1
vcrpy==1.13.0
mock==2.0.0