interactions:
- request:
    body: null
    headers:
      Acccept:
      - application/json
      Content-Type:
      - application/json
    method: GET
    uri: https://api.regfish.de/dns/regfish-dev.de/rr
  response:
    body:
      string: '{"success":true,"response":[],"code":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27-mah8tQ8kJ3npOjOFvdQ5ydFxuP0"
      Ratelimit-Policy:
      - 500; w=60
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "A", "name": "localhost.regfish-dev.de.", "data": "127.0.0.1",
      "ttl": 3600}'
    headers:
      Acccept:
      - application/json
      Content-Type:
      - application/json
    method: POST
    uri: https://api.regfish.de/dns/rr
  response:
    body:
      string: '{"success":true,"response":{"id":3236253,"name":"localhost.regfish-dev.de.","type":"A","data":"127.0.0.1","ttl":3600,"auto":false,"active":true},"code":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a-rYQNb0g3SIfynquGLiKaLGG8fCw"
      Ratelimit-Policy:
      - 500; w=60
    status:
      code: 200
      message: OK
version: 1
