interactions:
- request:
    body: null
    headers:
      Acccept:
      - application/json
      Content-Type:
      - application/json
    method: GET
    uri: https://api.regfish.de/dns/regfish-dev.de/rr
  response:
    body:
      string: '{"success":true,"response":[{"id":3236253,"name":"localhost.regfish-dev.de.","type":"A","data":"127.0.0.1","ttl":3600,"auto":false,"active":true},{"id":3236254,"name":"docs.regfish-dev.de.","type":"CNAME","data":"docs.example.com.","ttl":3600,"auto":false,"active":true},{"id":3236255,"name":"_acme-challenge.fqdn.regfish-dev.de.","type":"TXT","data":"challengetoken","ttl":3600,"auto":false,"active":true},{"id":3236256,"name":"_acme-challenge.full.regfish-dev.de.","type":"TXT","data":"challengetoken","ttl":3600,"auto":false,"active":true},{"id":3236257,"name":"_acme-challenge.test.regfish-dev.de.","type":"TXT","data":"challengetoken","ttl":3600,"auto":false,"active":true},{"id":3236258,"name":"_acme-challenge.createrecordset.regfish-dev.de.","type":"TXT","data":"challengetoken1","ttl":3600,"auto":false,"active":true},{"id":3236259,"name":"_acme-challenge.createrecordset.regfish-dev.de.","type":"TXT","data":"challengetoken2","ttl":3600,"auto":false,"active":true},{"id":3236260,"name":"_acme-challenge.noop.regfish-dev.de.","type":"TXT","data":"challengetoken","ttl":3600,"auto":false,"active":true}],"code":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"461-ACRIKw7jJOEGvbVtfSlbngRq7fo"
      Ratelimit-Policy:
      - 500; w=60
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "TXT", "name": "delete.testid.regfish-dev.de.", "data": "challengetoken",
      "ttl": 3600}'
    headers:
      Acccept:
      - application/json
      Content-Type:
      - application/json
    method: POST
    uri: https://api.regfish.de/dns/rr
  response:
    body:
      string: '{"success":true,"response":{"id":3236264,"name":"delete.testid.regfish-dev.de.","type":"TXT","data":"challengetoken","ttl":3600,"auto":false,"active":true},"code":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a5-2dxBgC6daZkUW9iRk7/5E9oi6hY"
      Ratelimit-Policy:
      - 500; w=60
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Acccept:
      - application/json
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.regfish.de/dns/rr/3236264
  response:
    body:
      string: '{"success":true,"error":"Record successfully deleted","code":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f-0/DK72QPkU1fyoxVIE2EMaLHVxQ"
      Ratelimit-Policy:
      - 500; w=60
    status:
      code: 200
      message: OK
[...]
