interactions:
- request:
    body: null
    headers:
      Acccept:
      - application/json
      Content-Type:
      - application/json
    method: GET
    uri: https://api.regfish.de/dns/regfish-dev.de/rr
  response:
    body:
      string: '{"success":true,"response":[{"id":3236253,"name":"localhost.regfish-dev.de.","type":"A","data":"127.0.0.1","ttl":3600,"auto":false,"active":true},{"id":3236254,"name":"docs.regfish-dev.de.","type":"CNAME","data":"docs.example.com.","ttl":3600,"auto":false,"active":true},{"id":3236255,"name":"_acme-challenge.fqdn.regfish-dev.de.","type":"TXT","data":"challengetoken","ttl":3600,"auto":false,"active":true}],"code":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a1-9VgAaBjB8dZaLiUQGD9WE/YHXyc"
      Ratelimit-Policy:
      - 500; w=60
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "TXT", "name": "_acme-challenge.full.regfish-dev.de.", "data":
      "challengetoken", "ttl": 3600}'
    headers:
      Acccept:
      - application/json
      Content-Type:
      - application/json
    method: POST
    uri: https://api.regfish.de/dns/rr
  response:
    body:
      string: '{"success":true,"response":{"id":3236256,"name":"_acme-challenge.full.regfish-dev.de.","type":"TXT","data":"challengetoken","ttl":3600,"auto":false,"active":true},"code":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac-ULY+7dNyTvf13ahXbo7Wd+o8H9k"
      Ratelimit-Policy:
      - 500; w=60
    status:
      code: 200
      message: OK
version: 1
