interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.cloudflare.com/client/v4/zones?status=active&name=capsulecd.com
  response:
    body: {string: !!python/unicode '{"result":[{"id":"fac516c650e5a737bdc3e1e3dc1047f3","name":"capsulecd.com","status":"active","paused":false,"type":"full","development_mode":0,"name_servers":["dawn.ns.cloudflare.com","owen.ns.cloudflare.com"],"original_name_servers":["ns1glr.name.com","ns2bls.name.com","ns3nrz.name.com","ns4hny.name.com"],"original_registrar":null,"original_dnshost":null,"modified_on":"2018-03-19T18:52:17.204631Z","created_on":"2016-03-09T07:39:40.476430Z","meta":{"step":4,"wildcard_proxiable":false,"custom_certificate_quota":0,"page_rule_quota":3,"phishing_detected":false,"multiple_railguns_allowed":false},"owner":{"id":"521a961001d9333c8191f53a9f70eb31","type":"user","email":"darkmethodz@gmail.com"},"account":{"id":"b8a8f2a19ca47cd6e934b5d3f3d4c7a5","name":"darkmethodz@gmail.com"},"permissions":["#access:edit","#access:read","#analytics:read","#app:edit","#billing:edit","#billing:read","#cache_purge:edit","#dns_records:edit","#dns_records:read","#lb:edit","#lb:read","#logs:read","#member:edit","#member:read","#organization:edit","#organization:read","#ssl:edit","#ssl:read","#subscription:edit","#subscription:read","#waf:edit","#waf:read","#worker:edit","#worker:read","#zone:edit","#zone:read","#zone_settings:edit","#zone_settings:read"],"plan":{"id":"0feeeeeeeeeeeeeeeeeeeeeeeeeeeeee","name":"Free
        Website","price":0,"currency":"USD","frequency":"","is_subscribed":true,"can_subscribe":false,"legacy_id":"free","legacy_discount":false,"externally_managed":false}}],"result_info":{"page":1,"per_page":20,"total_pages":1,"count":1,"total_count":1},"success":true,"errors":[],"messages":[]}'}
    headers:
      content-type: [application/json]
      served-in-seconds: ['0.049']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"content": "challengetoken1", "type": "TXT", "name":
      "_acme-challenge.deleterecordset.capsulecd.com", "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.cloudflare.com/client/v4/zones/fac516c650e5a737bdc3e1e3dc1047f3/dns_records
  response:
    body: {string: !!python/unicode '{"result":{"id":"2f98e33d5265c03576c8deaed2dac568","type":"TXT","name":"_acme-challenge.deleterecordset.capsulecd.com","content":"challengetoken1","proxiable":false,"proxied":false,"ttl":3600,"locked":false,"zone_id":"fac516c650e5a737bdc3e1e3dc1047f3","zone_name":"capsulecd.com","modified_on":"2018-03-19T18:52:17.683569Z","created_on":"2018-03-19T18:52:17.683569Z","meta":{"auto_added":false,"managed_by_apps":false}},"success":true,"errors":[],"messages":[]}'}
    headers:
      content-type: [application/json]
      served-in-seconds: ['0.052']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.cloudflare.com/client/v4/zones/fac516c650e5a737bdc3e1e3dc1047f3/dns_records?per_page=100&type=TXT&name=_acme-challenge.deleterecordset.capsulecd.com
  response:
    body: {string: !!python/unicode '{"result":[{"id":"2f98e33d5265c03576c8deaed2dac568","type":"TXT","name":"_acme-challenge.deleterecordset.capsulecd.com","content":"challengetoken1","proxiable":false,"proxied":false,"ttl":3600,"locked":false,"zone_id":"fac516c650e5a737bdc3e1e3dc1047f3","zone_name":"capsulecd.com","modified_on":"2018-03-19T18:52:17.683569Z","created_on":"2018-03-19T18:52:17.683569Z","meta":{"auto_added":false,"managed_by_apps":false}},{"id":"60800950141034d5260b798f2c710819","type":"TXT","name":"_acme-challenge.deleterecordset.capsulecd.com","content":"challengetoken2","proxiable":false,"proxied":false,"ttl":3600,"locked":false,"zone_id":"fac516c650e5a737bdc3e1e3dc1047f3","zone_name":"capsulecd.com","modified_on":"2018-03-19T18:52:17.889294Z","created_on":"2018-03-19T18:52:17.889294Z","meta":{"auto_added":false,"managed_by_apps":false}}],"result_info":{"page":1,"per_page":100,"total_pages":1,"count":2,"total_count":2},"success":true,"errors":[],"messages":[]}'}
    headers:
      content-type: [application/json]
      served-in-seconds: ['0.041']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.cloudflare.com/client/v4/zones/fac516c650e5a737bdc3e1e3dc1047f3/dns_records/2f98e33d5265c03576c8deaed2dac568
  response:
    body: {string: !!python/unicode '{"result":{"id":"2f98e33d5265c03576c8deaed2dac568"},"success":true,"errors":[],"messages":[]}'}
    headers:
      content-type: [application/json]
      served-in-seconds: ['0.124']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.cloudflare.com/client/v4/zones/fac516c650e5a737bdc3e1e3dc1047f3/dns_records?per_page=100&type=TXT&name=_acme-challenge.deleterecordset.capsulecd.com
  response:
    body: {string: !!python/unicode '{"result":[],"result_info":{"page":1,"per_page":100,"total_pages":0,"count":0,"total_count":0},"success":true,"errors":[],"messages":[]}'}
    headers:
      content-type: [application/json]
      served-in-seconds: ['0.051']
    status: {code: 200, message: OK}
version: 1
