interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - Bearer gWLX2tc008RPN0yxuphRS2wGw-LviphCKb_KdRFw
      Content-Type:
      - application/json
    method: GET
    uri: https://api.cloudflare.com/client/v4/zones?name=pacalis.net&status=active
  response:
    body:
      string: '{"result":[{"id":"4f282fede870f505f531b56a761ecd44","name":"pacalis.net","status":"active","paused":false,"type":"full","development_mode":0,"name_servers":["christian.ns.cloudflare.com","dina.ns.cloudflare.com"],"original_name_servers":["ns1.digitalocean.com","ns2.digitalocean.com","ns3.digitalocean.com"],"original_registrar":"ovh
        sas (id: 433)","original_dnshost":null,"modified_on":"2020-05-05T21:30:13.661783Z","created_on":"2020-05-05T20:18:21.026572Z","activated_on":"2020-05-05T21:07:04.803131Z","meta":{"step":2,"wildcard_proxiable":false,"custom_certificate_quota":0,"page_rule_quota":3,"phishing_detected":false,"multiple_railguns_allowed":false},"owner":{"id":"66de559ecaa0169df8e3c950a86b4664","type":"user","email":"aferrand@ecomundo.eu"},"account":{"id":"5da32e1ae729aa30839477d7ff488fa0","name":"aferrand@ecomundo.eu"},"permissions":["#access:edit","#access:read","#analytics:read","#app:edit","#auditlogs:read","#billing:edit","#billing:read","#cache_purge:edit","#dns_records:edit","#dns_records:read","#lb:edit","#lb:read","#legal:edit","#legal:read","#logs:edit","#logs:read","#member:edit","#member:read","#organization:edit","#organization:read","#ssl:edit","#ssl:read","#stream:edit","#stream:read","#subscription:edit","#subscription:read","#teams:edit","#teams:read","#teams:report","#waf:edit","#waf:read","#webhooks:edit","#webhooks:read","#worker:edit","#worker:read","#zone:edit","#zone:read","#zone_settings:edit","#zone_settings:read"],"plan":{"id":"0feeeeeeeeeeeeeeeeeeeeeeeeeeeeee","name":"Free
        Website","price":0,"currency":"USD","frequency":"","is_subscribed":false,"can_subscribe":false,"legacy_id":"free","legacy_discount":false,"externally_managed":false}}],"result_info":{"page":1,"per_page":20,"total_pages":1,"count":1,"total_count":1},"success":true,"errors":[],"messages":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "A", "name": "localhost.pacalis.net", "content": "127.0.0.1",
      "ttl": 3600}'
    headers:
      Authorization:
      - Bearer gWLX2tc008RPN0yxuphRS2wGw-LviphCKb_KdRFw
      Content-Type:
      - application/json
    method: POST
    uri: https://api.cloudflare.com/client/v4/zones/4f282fede870f505f531b56a761ecd44/dns_records
  response:
    body:
      string: "{\n  \"result\": {\n    \"id\": \"4ae5be77d1ff913191aaf01f23b11369\"\
        ,\n    \"zone_id\": \"4f282fede870f505f531b56a761ecd44\",\n    \"zone_name\"\
        : \"pacalis.net\",\n    \"name\": \"localhost.pacalis.net\",\n    \"type\"\
        : \"A\",\n    \"content\": \"127.0.0.1\",\n    \"proxiable\": false,\n   \
        \ \"proxied\": false,\n    \"ttl\": 3600,\n    \"locked\": false,\n    \"\
        meta\": {\n      \"auto_added\": false,\n      \"managed_by_apps\": false,\n\
        \      \"managed_by_argo_tunnel\": false,\n      \"source\": \"primary\"\n\
        \    },\n    \"created_on\": \"2020-05-05T21:30:32.000693Z\",\n    \"modified_on\"\
        : \"2020-05-05T21:30:32.000693Z\"\n  },\n  \"success\": true,\n  \"errors\"\
        : [],\n  \"messages\": []\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
