interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.cloudflare.com/client/v4/zones?status=active&name=capsulecd.com
  response:
    body: {string: !!python/unicode '{"result":[{"id":"fac516c650e5a737bdc3e1e3dc1047f3","name":"capsulecd.com","status":"active","paused":false,"type":"full","development_mode":0,"name_servers":["dawn.ns.cloudflare.com","owen.ns.cloudflare.com"],"original_name_servers":["ns1glr.name.com","ns2bls.name.com","ns3nrz.name.com","ns4hny.name.com"],"original_registrar":null,"original_dnshost":null,"modified_on":"2016-03-22T01:17:44.127822Z","created_on":"2016-03-09T07:39:40.476430Z","meta":{"step":4,"wildcard_proxiable":false,"custom_certificate_quota":0,"page_rule_quota":"3","phishing_detected":false,"multiple_railguns_allowed":false},"owner":{"type":"user","id":"521a961001d9333c8191f53a9f70eb31","email":"darkmethodz@gmail.com"},"permissions":["#analytics:read","#billing:edit","#billing:read","#cache_purge:edit","#dns_records:edit","#dns_records:read","#lb:edit","#lb:read","#logs:read","#organization:edit","#organization:read","#ssl:edit","#ssl:read","#waf:edit","#waf:read","#zone:edit","#zone:read","#zone_settings:edit","#zone_settings:read"],"plan":{"id":"0feeeeeeeeeeeeeeeeeeeeeeeeeeeeee","name":"Free
        Website","price":0,"currency":"USD","frequency":"","legacy_id":"free","is_subscribed":true,"can_subscribe":true,"externally_managed":false}}],"result_info":{"page":1,"per_page":20,"total_pages":1,"count":1,"total_count":1},"success":true,"errors":[],"messages":[]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"content": "challengetoken", "type": "TXT", "name": "orig.test.capsulecd.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.cloudflare.com/client/v4/zones/fac516c650e5a737bdc3e1e3dc1047f3/dns_records
  response:
    body: {string: !!python/unicode '{"result":{"id":"da20cde4dd1536a9cb93f09555c874ba","type":"TXT","name":"orig.test.capsulecd.com","content":"challengetoken","proxiable":false,"proxied":false,"ttl":1,"locked":false,"zone_id":"fac516c650e5a737bdc3e1e3dc1047f3","zone_name":"capsulecd.com","modified_on":"2016-03-24T17:03:19.248270Z","created_on":"2016-03-24T17:03:19.248270Z","meta":{"auto_added":false}},"success":true,"errors":[],"messages":[]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.cloudflare.com/client/v4/zones/fac516c650e5a737bdc3e1e3dc1047f3/dns_records?per_page=100&type=TXT&name=orig.test.capsulecd.com
  response:
    body: {string: !!python/unicode '{"result":[{"id":"da20cde4dd1536a9cb93f09555c874ba","type":"TXT","name":"orig.test.capsulecd.com","content":"challengetoken","proxiable":false,"proxied":false,"ttl":1,"locked":false,"zone_id":"fac516c650e5a737bdc3e1e3dc1047f3","zone_name":"capsulecd.com","modified_on":"2016-03-24T17:03:19.248270Z","created_on":"2016-03-24T17:03:19.248270Z","meta":{"auto_added":false}}],"result_info":{"page":1,"per_page":100,"total_pages":1,"count":1,"total_count":1},"success":true,"errors":[],"messages":[]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"content": "challengetoken", "type": "TXT", "name": "updated.test.capsulecd.com"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.cloudflare.com/client/v4/zones/fac516c650e5a737bdc3e1e3dc1047f3/dns_records/da20cde4dd1536a9cb93f09555c874ba
  response:
    body: {string: !!python/unicode '{"result":{"id":"da20cde4dd1536a9cb93f09555c874ba","type":"TXT","name":"updated.test.capsulecd.com","content":"challengetoken","proxiable":false,"proxied":false,"ttl":1,"locked":false,"zone_id":"fac516c650e5a737bdc3e1e3dc1047f3","zone_name":"capsulecd.com","modified_on":"2016-03-24T17:03:25.071428Z","created_on":"2016-03-24T17:03:25.071428Z","meta":{"auto_added":false}},"success":true,"errors":[],"messages":[]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
