interactions:
- request:
    body: '{}'
    headers:
      Authorization:
      - Bearer gWLX2tc008RPN0yxuphRS2wGw-LviphCKb_KdRFw
      Content-Type:
      - application/json
    method: GET
    uri: https://api.cloudflare.com/client/v4/zones?name=thisisadomainidonotown.com&status=active
  response:
    body:
      string: '{"success":false,"errors":[{"code":0,"message":"Actor ''com.cloudflare.api.token.a633057935c0c4ff1a07cfd50ae97df6''
        requires permission ''com.cloudflare.api.account.zone.list'' to list zones"}],"messages":[],"result":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 403
      message: Forbidden
version: 1
