interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_domain_info?domain=testzone.com
  response:
    body: {string: !!python/unicode "{\n \"domain\": \"testzone.com\", \n \"zone_id\"\
        : \"ce64e02f2e2e893bdf14703bb8bef9c3\"\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_info?id=ce64e02f2e2e893bdf14703bb8bef9c3
  response:
    body: {string: !!python/unicode "{\n \"domains\": [\n  {\n   \"domain\": \"testzone.com\"\
        , \n   \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\"\n  }\n ], \n \"records\"\
        : [\n  {\n   \"priority\": 0, \n   \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\"\
        , \n   \"address\": \"docs.example.com\", \n   \"relative\": false, \n   \"\
        record\": \"docs\", \n   \"ttl\": 0, \n   \"type\": \"CNAME\", \n   \"id\"\
        : \"6661a42d3bc41cfedcace1bd13268fe4\"\n  }, \n  {\n   \"priority\": 0, \n\
        \   \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\", \n   \"address\": \"\
        127.0.0.1\", \n   \"relative\": false, \n   \"record\": \"localhost\", \n\
        \   \"ttl\": 0, \n   \"type\": \"A\", \n   \"id\": \"0403869cf4b27d4043907dfc0ffcffc6\"\
        \n  }, \n  {\n   \"priority\": 0, \n   \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\"\
        , \n   \"address\": \"challengetoken\", \n   \"relative\": false, \n   \"\
        record\": \"random.fqdntest\", \n   \"ttl\": 0, \n   \"type\": \"TXT\", \n\
        \   \"id\": \"cfed30ca5d5ee6b73547b450534d3da2\"\n  }, \n  {\n   \"priority\"\
        : 0, \n   \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\", \n   \"address\"\
        : \"challenget[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_record_create?record=orig.testfqdn&type=TXT&zone_id=ce64e02f2e2e893bdf14703bb8bef9c3&address=challengetoken&ttl=3600
  response:
    body: {string: !!python/unicode "{\n \"priority\": 0, \n \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\"\
        , \n \"address\": \"challengetoken\", \n \"relative\": false, \n \"record\"\
        : \"orig.testfqdn\", \n \"ttl\": 0, \n \"type\": \"TXT\", \n \"id\": \"cd59db899b0e6ae8051b6aaa4838497a\"\
        \n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.reload
  response:
    body: {string: !!python/unicode "{\n \"status\": \"NEW\", \n \"finished\": false,\
        \ \n \"type\": \"dns\", \n \"id\": \"8815c7212ceb7b0cf6b50d181c1aebbe\", \n\
        \ \"error\": false\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_record_update?record=updated.testfqdn&zone_id=ce64e02f2e2e893bdf14703bb8bef9c3&type=TXT&id=cd59db899b0e6ae8051b6aaa4838497a&address=challengetoken&ttl=3600
  response:
    body: {string: !!python/unicode "{\n \"priority\": 0, \n \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\"\
        , \n \"address\": \"challengetoken\", \n \"relative\": false, \n \"record\"\
        : \"updated.testfqdn\", \n \"ttl\": 0, \n \"type\": \"TXT\", \n \"id\": \"\
        cd59db899b0e6ae8051b6aaa4838497a\"\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.reload
  response:
    body: {string: !!python/unicode "{\n \"status\": \"NEW\", \n \"finished\": false,\
        \ \n \"type\": \"dns\", \n \"id\": \"15168be30c7d7dbeb33f41effc6352bf\", \n\
        \ \"error\": false\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
