interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_domain_info?domain=testzone.com
  response:
    body: {string: "{\n \"domain\": \"testzone.com\", \n \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\"\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_info?id=cbceea86fe9c099f019e386488ead6d8
  response:
    body: {string: "{\n \"domains\": [\n  {\n   \"domain\": \"testzone.com\", \n   \"zone_id\":
        \"cbceea86fe9c099f019e386488ead6d8\"\n  }\n ], \n \"records\": [\n  {\n   \"priority\":
        0, \n   \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\", \n   \"address\":
        \"docs.example.com\", \n   \"relative\": false, \n   \"record\": \"docs\",
        \n   \"ttl\": 3600, \n   \"type\": \"CNAME\", \n   \"id\": \"5e49665ad3974b5a5a1f705245429999\"\n
        \ }, \n  {\n   \"priority\": 0, \n   \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\",
        \n   \"address\": \"127.0.0.1\", \n   \"relative\": false, \n   \"record\":
        \"localhost\", \n   \"ttl\": 3600, \n   \"type\": \"A\", \n   \"id\": \"13fea9dd8b87f7c4bcb58b1669f93826\"\n
        \ }\n ], \n \"nickname\": \"testzone.com\", \n \"id\": \"cbceea86fe9c099f019e386488ead6d8\",
        \n \"ttl\": 0\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_record_create?type=TXT&record=_acme-challenge.fqdn&address=challengetoken&ttl=3600&zone_id=cbceea86fe9c099f019e386488ead6d8
  response:
    body: {string: "{\n \"priority\": 0, \n \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\",
        \n \"address\": \"challengetoken\", \n \"relative\": false, \n \"record\":
        \"_acme-challenge.fqdn\", \n \"ttl\": 3600, \n \"type\": \"TXT\", \n \"id\":
        \"7fd33d3581b11c3eccdb30179ad12efa\"\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.reload
  response:
    body: {string: "{\n \"status\": \"NEW\", \n \"finished\": false, \n \"type\":
        \"dns\", \n \"id\": \"7163a9ea645ba4945ac4ab4e4dce32f0\", \n \"error\": false\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
