interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_domain_info?domain=testzone.com
  response:
    body: {string: "{\n \"domain\": \"testzone.com\", \n \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\"\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_info?id=cbceea86fe9c099f019e386488ead6d8
  response:
    body: {string: "{\n \"domains\": [\n  {\n   \"domain\": \"testzone.com\", \n   \"zone_id\":
        \"cbceea86fe9c099f019e386488ead6d8\"\n  }\n ], \n \"records\": [\n  {\n   \"priority\":
        0, \n   \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\", \n   \"address\":
        \"docs.example.com\", \n   \"relative\": false, \n   \"record\": \"docs\",
        \n   \"ttl\": 3600, \n   \"type\": \"CNAME\", \n   \"id\": \"8ba7e5a33baa5690c9ad65cda81a175d\"\n
        \ }, \n  {\n   \"priority\": 0, \n   \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\",
        \n   \"address\": \"127.0.0.1\", \n   \"relative\": false, \n   \"record\":
        \"localhost\", \n   \"ttl\": 3600, \n   \"type\": \"A\", \n   \"id\": \"3a17279b89d0cc1e4ae69085dffb97c3\"\n
        \ }, \n  {\n   \"priority\": 0, \n   \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\",
        \n   \"address\": \"challengetoken\", \n   \"relative\": fa[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_record_update?type=TXT&record=orig.nameonly.test&address=updated&ttl=3600&id=85d661fc5b3a1c87e29e47166593e75e&zone_id=cbceea86fe9c099f019e386488ead6d8
  response:
    body: {string: "{\n \"priority\": 0, \n \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\",
        \n \"address\": \"updated\", \n \"relative\": false, \n \"record\": \"orig.nameonly.test\",
        \n \"ttl\": 3600, \n \"type\": \"TXT\", \n \"id\": \"85d661fc5b3a1c87e29e47166593e75e\"\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.reload
  response:
    body: {string: "{\n \"status\": \"NEW\", \n \"finished\": false, \n \"type\":
        \"dns\", \n \"id\": \"f5530474b5c5e89d7ce63710e47b9706\", \n \"error\": false\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
