interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_domain_info?domain=testzone.com
  response:
    body: {string: !!python/unicode "{\n \"domain\": \"testzone.com\", \n \"zone_id\"\
        : \"ce64e02f2e2e893bdf14703bb8bef9c3\"\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_info?id=ce64e02f2e2e893bdf14703bb8bef9c3
  response:
    body: {string: !!python/unicode "{\n \"domains\": [\n  {\n   \"domain\": \"testzone.com\"\
        , \n   \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\"\n  }\n ], \n \"records\"\
        : [\n  {\n   \"priority\": 0, \n   \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\"\
        , \n   \"address\": \"docs.example.com\", \n   \"relative\": false, \n   \"\
        record\": \"docs\", \n   \"ttl\": 0, \n   \"type\": \"CNAME\", \n   \"id\"\
        : \"6661a42d3bc41cfedcace1bd13268fe4\"\n  }, \n  {\n   \"priority\": 0, \n\
        \   \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\", \n   \"address\": \"\
        127.0.0.1\", \n   \"relative\": false, \n   \"record\": \"localhost\", \n\
        \   \"ttl\": 0, \n   \"type\": \"A\", \n   \"id\": \"0403869cf4b27d4043907dfc0ffcffc6\"\
        \n  }, \n  {\n   \"priority\": 0, \n   \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\"\
        , \n   \"address\": \"challengetoken\", \n   \"relative\": false, \n   \"\
        record\": \"_acme-challenge.fqdn\", \n   \"ttl\": 0, \n   \"type\": \"TXT\"\
        , \n   \"id\": \"7dad5e5595a27b60a9617da1f1a5165c\"\n  }, \n  {\n   \"priority\"\
        : 0, \n   \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\", \n   \"address\"\
        : \"challengetoken\", \n   \"relative\": false, \n   \"record\": \"_acme-challenge.full\"\
        , \n   \"ttl\": 0, \n   \"type\": \"TXT\", \n   \"id\": \"b3cfe8902774a8768b4acabaae1ac245\"\
        \n  }, \n  {\n   \"priority\": 0, \n   \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\"\
        , \n   \"address\": \"challengetoken\", \n   \"relative\": false, \n   \"\
        record\": \"_acme-challenge.test\", \n   \"ttl\": 0, \n   \"type\": \"TXT\"\
        , \n   \"id\": \"beefd8ad7b4db90995f0775827c7f2f9\"\n  }\n ], \n \"nickname\"\
        : \"testzone.com\", \n \"id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\", \n \"\
        ttl\": 0\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_record_create?record=delete.testid&type=TXT&zone_id=ce64e02f2e2e893bdf14703bb8bef9c3&address=challengetoken&ttl=3600
  response:
    body: {string: !!python/unicode "{\n \"priority\": 0, \n \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\"\
        , \n \"address\": \"challengetoken\", \n \"relative\": false, \n \"record\"\
        : \"delete.testid\", \n \"ttl\": 0, \n \"type\": \"TXT\", \n \"id\": \"36dd8d82f2b9543e28a1859371d84dc5\"\
        \n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.reload
  response:
    body: {string: !!python/unicode "{\n \"status\": \"NEW\", \n \"finished\": false,\
        \ \n \"type\": \"dns\", \n \"id\": \"ade838f87398440b8b392877006b8b9a\", \n\
        \ \"error\": false\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_record_delete?id=36dd8d82f2b9543e28a1859371d84dc5
  response:
    body: {string: !!python/unicode "{\n \"priority\": 0, \n \"zone_id\": \"ce64e02f2e2e893bdf14703bb8bef9c3\"\
        , \n \"address\": \"challengetoken\", \n \"relative\": false, \n \"record\"\
        : \"delete.testid\", \n \"ttl\": 0, \n \"type\": \"TXT\", \n \"id\": \"36dd8d82f2b9543e28a1859371d84dc5\"\
        \n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
