interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_domain_info?domain=testzone.com
  response:
    body: {string: !!python/unicode "{\n \"domain\": \"testzone.com\", \n \"zone_id\"\
        : \"cbceea86fe9c099f019e386488ead6d8\"\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_info?id=cbceea86fe9c099f019e386488ead6d8
  response:
    body: {string: !!python/unicode "{\n \"domains\": [\n  {\n   \"domain\": \"testzone.com\"\
        , \n   \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\"\n  }\n ], \n \"records\"\
        : [], \n \"nickname\": \"testzone.com\", \n \"id\": \"cbceea86fe9c099f019e386488ead6d8\"\
        , \n \"ttl\": 0\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_record_create?record=localhost&type=A&zone_id=cbceea86fe9c099f019e386488ead6d8&address=127.0.0.1&ttl=3600
  response:
    body: {string: !!python/unicode "{\n \"priority\": 0, \n \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\"\
        , \n \"address\": \"127.0.0.1\", \n \"relative\": false, \n \"record\": \"\
        localhost\", \n \"ttl\": 0, \n \"type\": \"A\", \n \"id\": \"6b3f0b55cff3843c1c592be27db44a66\"\
        \n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.reload
  response:
    body: {string: !!python/unicode "{\n \"status\": \"NEW\", \n \"finished\": false,\
        \ \n \"type\": \"dns\", \n \"id\": \"eb440a9c9321c0ed2c55849b4ca74550\", \n\
        \ \"error\": false\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
