interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_domain_info?domain=testzone.com
  response:
    body: {string: !!python/unicode "{\n \"domain\": \"testzone.com\", \n \"zone_id\"\
        : \"cbceea86fe9c099f019e386488ead6d8\"\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_info?id=cbceea86fe9c099f019e386488ead6d8
  response:
    body: {string: !!python/unicode "{\n \"domains\": [\n  {\n   \"domain\": \"testzone.com\"\
        , \n   \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\"\n  }\n ], \n \"records\"\
        : [\n  {\n   \"priority\": 0, \n   \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\"\
        , \n   \"address\": \"docs.example.com\", \n   \"relative\": false, \n   \"\
        record\": \"docs\", \n   \"ttl\": 0, \n   \"type\": \"CNAME\", \n   \"id\"\
        : \"5554241a3076d14abf34f28784691705\"\n  }, \n  {\n   \"priority\": 0, \n\
        \   \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\", \n   \"address\": \"\
        127.0.0.1\", \n   \"relative\": false, \n   \"record\": \"localhost\", \n\
        \   \"ttl\": 0, \n   \"type\": \"A\", \n   \"id\": \"6b3f0b55cff3843c1c592be27db44a66\"\
        \n  }\n ], \n \"nickname\": \"testzone.com\", \n \"id\": \"cbceea86fe9c099f019e386488ead6d8\"\
        , \n \"ttl\": 0\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_record_create?record=_acme-challenge.fqdn&type=TXT&zone_id=cbceea86fe9c099f019e386488ead6d8&address=challengetoken
  response:
    body: {string: !!python/unicode "{\n \"priority\": 0, \n \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\"\
        , \n \"address\": \"challengetoken\", \n \"relative\": false, \n \"record\"\
        : \"_acme-challenge.fqdn\", \n \"ttl\": 0, \n \"type\": \"TXT\", \n \"id\"\
        : \"2bd6771488f82a3cfd063ff115876291\"\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.reload
  response:
    body: {string: !!python/unicode "{\n \"status\": \"NEW\", \n \"finished\": false,\
        \ \n \"type\": \"dns\", \n \"id\": \"959f53d1aa899d6fbca55d694a7fd3c9\", \n\
        \ \"error\": false\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
