interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_domain_info?domain=testzone.com
  response:
    body: {string: "{\n \"domain\": \"testzone.com\", \n \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\"\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_info?id=cbceea86fe9c099f019e386488ead6d8
  response:
    body: {string: "{\n \"domains\": [\n  {\n   \"domain\": \"testzone.com\", \n   \"zone_id\":
        \"cbceea86fe9c099f019e386488ead6d8\"\n  }\n ], \n \"records\": [\n  {\n   \"priority\":
        0, \n   \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\", \n   \"address\":
        \"docs.example.com\", \n   \"relative\": false, \n   \"record\": \"docs\",
        \n   \"ttl\": 3600, \n   \"type\": \"CNAME\", \n   \"id\": \"e6a328a3d04b4fd86fac7112b1f3c225\"\n
        \ }, \n  {\n   \"priority\": 0, \n   \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\",
        \n   \"address\": \"127.0.0.1\", \n   \"relative\": false, \n   \"record\":
        \"localhost\", \n   \"ttl\": 3600, \n   \"type\": \"A\", \n   \"id\": \"26f9fb49fd75c14850c3d491bda525f4\"\n
        \ }, \n  {\n   \"priority\": 0, \n   \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\",
        \n   \"address\": \"challengetoken1\", \n   \"relative\": f[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_record_create?type=TXT&record=delete.testfull&address=challengetoken&ttl=3600&zone_id=cbceea86fe9c099f019e386488ead6d8
  response:
    body: {string: "{\n \"priority\": 0, \n \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\",
        \n \"address\": \"challengetoken\", \n \"relative\": false, \n \"record\":
        \"delete.testfull\", \n \"ttl\": 3600, \n \"type\": \"TXT\", \n \"id\": \"337ed31c5d8c1aa7635729aa4c5fb646\"\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.reload
  response:
    body: {string: "{\n \"status\": \"NEW\", \n \"finished\": false, \n \"type\":
        \"dns\", \n \"id\": \"017ed6eae0b65981d6e14eee2f197881\", \n \"error\": false\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_record_delete?id=337ed31c5d8c1aa7635729aa4c5fb646
  response:
    body: {string: "{\n \"priority\": 0, \n \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\",
        \n \"address\": \"challengetoken\", \n \"relative\": false, \n \"record\":
        \"delete.testfull\", \n \"ttl\": 3600, \n \"type\": \"TXT\", \n \"id\": \"337ed31c5d8c1aa7635729aa4c5fb646\"\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
