interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_domain_info?domain=testzone.com
  response:
    body: {string: "{\n \"domain\": \"testzone.com\", \n \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\"\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_info?id=cbceea86fe9c099f019e386488ead6d8
  response:
    body: {string: "{\n \"domains\": [\n  {\n   \"domain\": \"testzone.com\", \n   \"zone_id\":
        \"cbceea86fe9c099f019e386488ead6d8\"\n  }\n ], \n \"records\": [], \n \"nickname\":
        \"testzone.com\", \n \"id\": \"cbceea86fe9c099f019e386488ead6d8\", \n \"ttl\":
        0\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.zone_record_create?type=A&record=localhost&address=127.0.0.1&ttl=3600&zone_id=cbceea86fe9c099f019e386488ead6d8
  response:
    body: {string: "{\n \"priority\": 0, \n \"zone_id\": \"cbceea86fe9c099f019e386488ead6d8\",
        \n \"address\": \"127.0.0.1\", \n \"relative\": false, \n \"record\": \"localhost\",
        \n \"ttl\": 3600, \n \"type\": \"A\", \n \"id\": \"13fea9dd8b87f7c4bcb58b1669f93826\"\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.memset.com/v1/json/dns.reload
  response:
    body: {string: "{\n \"status\": \"NEW\", \n \"finished\": false, \n \"type\":
        \"dns\", \n \"id\": \"c1a74134352438fb8fc78b1ecbe34a10\", \n \"error\": false\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
