interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A33%3A09Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=rNS2ZqrDhSbWURmjhLeDU1vPMto%3D&Action=DescribeDomainInfo&SignatureNonce=15566095892686
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"194B85CB-0551-4D17-AD4E-FB778FE1E970","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A09Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=gLDO9P%2Bnv7SppO0ap8u4I%2B6fkAs%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095898667&Action=DescribeDomainRecords&RRKeyWord=orig.testfqdn
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"F59C3528-0802-43DD-8F5B-FFA95D6F08F8","DomainRecords":{"Record":[{"RR":"orig.testfqdn","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526476636558336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A10Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=orig.testfqdn&Signature=KzONlbcae627oqDDoHJgsAhaNzc%3D&Action=DescribeDomainRecords&SignatureNonce=15566095902178
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"A450657F-DECC-47CA-A82A-7B881AF38E15","DomainRecords":{"Record":[{"RR":"orig.testfqdn","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526476636558336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A10Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=updated.testfqdn&Signature=Hl3DW%2BGKnC2JASuuFpvuc4Yb1zc%3D&Action=DescribeDomainRecords&SignatureNonce=15566095902835
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"D873ADFA-73D4-4521-8223-C85F72EE1CFC","DomainRecords":{"Record":[{"RR":"updated.testfqdn","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526443197340672","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
