interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A22%3A47Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=NCsv5qws3NQ6MZaK9y9jbRBHHhA%3D&Action=DescribeDomainInfo&SignatureNonce=15565189672586
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"3E554983-0348-43B3-95C0-FCBFA0C3FF26","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
