interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A33%3A05Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=4Qaa%2F49pegbpTKnhKWYIeN70Oe0%3D&Action=DescribeDomainInfo&SignatureNonce=15566095854699
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"B15791B9-423B-4381-BFE5-230853DF3AC3","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A05Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=filter.thisdoesnotexist&Signature=%2F%2FaKEzzB40Y1TmgoMdhQXwcnDlM%3D&Action=DescribeDomainRecords&SignatureNonce=15566095859143
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"BE614CB3-9EA8-4496-A386-57B4B244D32F","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
