interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?AccessKeyId=DUMMY_KEY_ID&Action=DescribeDomainInfo&DomainName=thisisadomainidonotown.com&Format=json&Signature=DUMMY_SIGNATURE&SignatureMethod=HMAC-SHA1&SignatureNonce=DUMMY_SIGNATURE_NONCE&SignatureVersion=1.0&Timestamp=DUMMY_TIMESTAMP&Version=2015-01-09
  response:
    body:
      string: '{"RequestId":"52617F98-3E38-4DE2-A75D-82CB82569E84","HostId":"alidns.aliyuncs.com","Code":"InvalidDomainName.NoExist","Message":"The
        specified domain name does not exist. Refresh the page and try again."}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
version: 1
