interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A33%3A04Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=jmSz8yTe%2FyTpt0Q8GusE035t%2FHM%3D&Action=DescribeDomainInfo&SignatureNonce=15566095847129
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"7AD2D9F5-A138-46C0-A4F0-8666DB73B8E5","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A04Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=PslzxmtjQok63jLoJqO%2FXxf8%2FuU%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken1&SignatureNonce=15566095846175&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.listrecordset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"B73B81F9-81EB-4B5F-A92E-2801DF5A6217","DomainRecords":{"Record":[{"RR":"_acme-challenge.listrecordset","Status":"ENABLE","Value":"challengetoken1","Weight":1,"RecordId":"17542935732622336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A04Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=fT%2BYK3aRcBZ86MegFI5hGBZZCfY%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken2&SignatureNonce=15566095844862&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.listrecordset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"04A9B010-313D-4BDD-AF2F-F19AB0D69265","DomainRecords":{"Record":[{"RR":"_acme-challenge.listrecordset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17542935774237696","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A04Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=_acme-challenge.listrecordset&Signature=2Dudy1jnHRJRYqVZCSuoev6UBTw%3D&Action=DescribeDomainRecords&SignatureNonce=15566095849770
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":2,"PageSize":20,"RequestId":"E08C17B4-E295-4DFB-8243-FA7303C1F2A3","DomainRecords":{"Record":[{"RR":"_acme-challenge.listrecordset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17542935774237696","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600},{"RR":"_acme-challenge.listrecordset","Status":"ENABLE","Value":"challengetoken1","Weight":1,"RecordId":"17542935732622336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
