interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A23%3A09Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=zjH4Z0FzZ9fPwfTG6U8vhGjLBE4%3D&Action=DescribeDomainInfo&SignatureNonce=15565189893568
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"A23D5336-9B7F-4AA0-A73A-270969F83C2E","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A23%3A09Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=b8Z61YjMc5hO%2FYLiPPiNZU7HFiY%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15565189895187&Action=DescribeDomainRecords&RRKeyWord=orig.test
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":3,"PageSize":20,"RequestId":"8D2A487E-C04D-4987-B6D7-BD574DB60EB8","DomainRecords":{"Record":[{"RR":"orig.testfull","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526707257021440","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"orig.testfqdn","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526476636558336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"orig.test","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526443068756992","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A23%3A10Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=orig.test&Signature=xsV6Ni2wCcun7ILjmQqJTn5QVxA%3D&Action=DescribeDomainRecords&SignatureNonce=15565189901295
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":3,"PageSize":20,"RequestId":"83EF1E46-6E3C-4258-AD7D-47CAE60402CB","DomainRecords":{"Record":[{"RR":"orig.testfull","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526707257021440","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"orig.testfqdn","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526476636558336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"orig.test","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526443068756992","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A23%3A10Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=updated.test&Signature=pLMfAPOioJpdqrSp2zSWPrBX1dk%3D&Action=DescribeDomainRecords&SignatureNonce=15565189902794
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":5,"PageSize":20,"Requ[...]
