interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A23%3A05Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=TF9zHxC780QsNJLw%2FVQ06c5eI0g%3D&Action=DescribeDomainInfo&SignatureNonce=15565189854657
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"FB6BD8FF-400A-45D9-8781-3ECBF126C95C","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A23%3A05Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=Mv0bjmSjUHWm%2BCDqBxQ27kk2%2FLc%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15565189858923&Action=DescribeDomainRecords&RRKeyWord=random.fulltest
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"2AA47D9C-1F1E-4E96-9FA1-9CF4CD4D8CC4","DomainRecords":{"Record":[{"RR":"random.fulltest.mean.space","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526413458542592","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A23%3A05Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=random.fulltest&Signature=KQgIzJ0DphIm%2FDiVxSoadAn2oe8%3D&Action=DescribeDomainRecords&SignatureNonce=15565189855014
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"74ABA28F-EA55-4F87-B37A-B8C61B1E31F0","DomainRecords":{"Record":[{"RR":"random.fulltest.mean.space","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526413458542592","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
