interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A23%3A09Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=oQeSUX%2BDM70x8duc4xR0URybP9g%3D&Action=DescribeDomainInfo&SignatureNonce=15565189891114
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"A0AB32A0-3F7D-4FAB-96F8-BCA01970129A","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A23%3A09Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=8C8bBUhy%2BIIcPFmL2K8QLxBqCnU%3D&Action=DescribeDomainRecords&SignatureNonce=15565189894451
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":27,"PageSize":20,"RequestId":"9F9947AA-175B-413D-A7BB-8D0E374A2ED8","DomainRecords":{"Record":[{"RR":"_acme-challenge.listrecordset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17542935774237696","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600},{"RR":"_acme-challenge.listrecordset","Status":"ENABLE","Value":"challengetoken1","Weight":1,"RecordId":"17542935732622336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600},{"RR":"_acme-challenge.deleterecordinset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17542935361296384","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600},{"RR":"ttl.fqdn","Status":"ENABLE","Value":"ttlshouldbe3600","Weight":1,"Rec[...]
