interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Action=DescribeDomainInfo&DomainName=mean.space&Format=json&SignatureMethod=HMAC-SHA1&SignatureVersion=1.0&Version=2015-01-09
  response:
    body:
      string: '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"981A969E-4DAB-4F13-9741-229569EB857E","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Action=DescribeDomainRecords&DomainName=mean.space&Format=json&RRKeyWord=random.fulltest&SignatureMethod=HMAC-SHA1&SignatureVersion=1.0&TypeKeyWord=TXT&ValueKeyWord=challengetoken&Version=2015-01-09
  response:
    body:
      string: '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"38EEF8D4-1344-4D33-8A43-4574BE519214","DomainRecords":{"Record":[{"RR":"random.fulltest.mean.space","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526413458542592","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Action=DescribeDomainRecords&DomainName=mean.space&Format=json&RRKeyWord=random.fulltest&SignatureMethod=HMAC-SHA1&SignatureVersion=1.0&TypeKeyWord=TXT&Version=2015-01-09
  response:
    body:
      string: '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"4E513C27-FB11-4766-9C08-7D3E7EC82EDF","DomainRecords":{"Record":[{"RR":"random.fulltest.mean.space","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526413458542592","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
