interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A33%3A05Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=lf%2B9tStnsQK0Wts2mjWlaqpuYDo%3D&Action=DescribeDomainInfo&SignatureNonce=15566095856613
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"771DACB5-8D78-4C88-A67B-4FE292696FAD","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A05Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=lq6deKQYZJD2uz%2BLvi52rnNEy5w%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095854253&Action=DescribeDomainRecords&RRKeyWord=random.fulltest
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"9122D8DF-3525-4ADF-A7E7-630AF2A51A77","DomainRecords":{"Record":[{"RR":"random.fulltest.mean.space","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526413458542592","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A05Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=random.fulltest&Signature=HTn4R3pxV6pZn5jfXCiJO2gCdtc%3D&Action=DescribeDomainRecords&SignatureNonce=15566095858516
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"D4017252-827A-46A1-AB6D-674BF1F2317B","DomainRecords":{"Record":[{"RR":"random.fulltest.mean.space","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526413458542592","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
