interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=thisisadomainidonotown.com&Timestamp=2019-04-30T07%3A32%3A49Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=haDls%2BD8eIXINOIyEIuD%2FvvEwv4%3D&Action=DescribeDomainInfo&SignatureNonce=15566095695960
  response:
    body:
      string: !!python/unicode '{"RequestId":"88B7CB67-3528-4CA4-8F74-780E2F1A5E06","HostId":"alidns.aliyuncs.com","Code":"InvalidDomainName.NoExist","Message":"The
        specified domain name does not exist. Refresh the page and try again."}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
version: 1
