interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A32%3A51Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=n%2Bs1uw3VjMws8Omsfx7ZtjN6pFg%3D&Action=DescribeDomainInfo&SignatureNonce=15566095714437
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"8D861425-34F2-4D0A-8675-76B3ECD20A41","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A51Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=%2BwclZjZ4JpdnvN0Lf%2FHTI%2FJrOuA%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095713446&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.noop
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"2A9EBCDB-7E7A-45AB-AFED-B18CFEB8349A","DomainRecords":{"Record":[{"RR":"_acme-challenge.noop","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526442084472832","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A51Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=GCzqZK7TzS1b9RDJGQrbp6E5RhA%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095718502&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.noop
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"CFD659EE-E532-405B-BBF4-0D3F493DA6C2","DomainRecords":{"Record":[{"RR":"_acme-challenge.noop","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526442084472832","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A51Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=_acme-challenge.noop&Signature=y9O5bnzlgg%2BMH2%2BA5Goss8Hbfeo%3D&Action=DescribeDomainRecords&SignatureNonce=15566095715972
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"20F407F1-14C6-44F6-89BB-FC62D376BE95","DomainRecords":{"Record":[{"RR":"_acme-challenge.noop","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526442084472832","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
