interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Action=DescribeDomainInfo&DomainName=thisisadomainidonotown.com&Format=json&SignatureMethod=HMAC-SHA1&SignatureVersion=1.0&Version=2015-01-09
  response:
    body:
      string: '{"RequestId":"1609AF33-707D-4DC5-BA05-1B75E0BBA0FB","HostId":"alidns.aliyuncs.com","Code":"InvalidDomainName.NoExist","Message":"The
        specified domain name does not exist. Refresh the page and try again."}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
version: 1
