interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A33%3A09Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=CkwRhRFavvKHOf5%2BlBsr0XhD0k4%3D&Action=DescribeDomainInfo&SignatureNonce=15566095894374
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"D335E5CA-15B6-4D0B-BA15-0E9597C3A4C0","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A09Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=zsWEqGku%2B5APva5Nsh1UfsnylRc%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095898608&Action=DescribeDomainRecords&RRKeyWord=orig.nameonly.test
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"2CA20CD5-AF79-4C46-A1E5-E5012D933C48","DomainRecords":{"Record":[{"RR":"orig.nameonly.test","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526443133441024","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A09Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=orig.nameonly.test&Signature=YMSPG0BG9r%2FxILprlJz0Wt1oa6A%3D&Action=DescribeDomainRecords&SignatureNonce=15566095892046
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":2,"PageSize":20,"RequestId":"F010FD02-1BC5-47D5-AA79-C339C8D748CD","DomainRecords":{"Record":[{"RR":"orig.nameonly.test","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526443133441024","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"orig.nameonly.test","Status":"ENABLE","Value":"updated","Weight":1,"RecordId":"17526413660329984","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
