interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A32%3A55Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=lSxmclRtAzLIDc65Q1eHk27RGn0%3D&Action=DescribeDomainInfo&SignatureNonce=15566095758421
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"7B4E7804-D25C-48E4-9BBB-BD000105D938","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A55Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=%2BwBkISQZWOiF0T76qglOH%2BMG4E4%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095751192&Action=DescribeDomainRecords&RRKeyWord=delete.testfull
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"E065BB78-CAFE-450C-BEBA-255BF86DE973","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Signature=mPRQpcagMZxxV2UJsP6QbH7gFFc%3D&SignatureVersion=1.0&RR=delete.testfull&Format=json&Timestamp=2019-04-30T07%3A32%3A55Z&DomainName=mean.space&Value=challengetoken&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&TTL=3600&Action=AddDomainRecord&SignatureNonce=15566095759149&Type=TXT
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876287250432","RequestId":"C4DEA093-453F-4F58-B60D-276665B325D3"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A56Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=3iiDuFjLkjHOja57wJPN8JeRaTg%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095769684&Action=DescribeDomainRecords&RRKeyWord=delete.testfull
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"D6F70851-AE29-4915-8B0C-F4C99F0603A8","DomainRecords":{"Record":[{"RR":"delete.testfull","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17548876287250432","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&RecordId=17548876287250432&Timestamp=2019-04-30T07%3A32%3A56Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=our%2FSJMlHAwsakindYkMQEn0ASk%3D&Action=DeleteDomainRecord&SignatureNonce=15566095765912
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876287250432","RequestId":"AB307F42-A014-4158-B0BC-1F50B593E486"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A57Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=delete.testfull&Signature=4q0tHLdrvoMs5HH4mg0JEEhd1No%3D&Action=DescribeDomainRecords&SignatureNonce=15566095773557
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"C55EB2FB-14A8-46EB-AB60-243AD93D3FB4","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
