interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A32%3A53Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=Jfc%2F5xGRowTa5pPk4frI0KgS0wc%3D&Action=DescribeDomainInfo&SignatureNonce=15566095739230
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"2D27756D-52CD-4D28-A27E-F16791017A39","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A53Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=TbjUszS2ypMt4LKmqE7RZmpiqig%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095734881&Action=DescribeDomainRecords&RRKeyWord=delete.testfqdn
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"D6010744-A13E-468A-8763-5D69BB3454BA","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Signature=cnmKkRgF95BkiyoSRu9TBU3kbOs%3D&SignatureVersion=1.0&RR=delete.testfqdn&Format=json&Timestamp=2019-04-30T07%3A32%3A54Z&DomainName=mean.space&Value=challengetoken&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&TTL=3600&Action=AddDomainRecord&SignatureNonce=15566095744700&Type=TXT
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876166142976","RequestId":"12E3F608-B1FA-4305-B7D4-3E4D629F1EE4"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A54Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=ag5BEs1L9s2s74IDHYaseH6lYKs%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095741807&Action=DescribeDomainRecords&RRKeyWord=delete.testfqdn
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"4B23F89B-856C-46A1-83BE-681DA8A429BB","DomainRecords":{"Record":[{"RR":"delete.testfqdn","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17548876166142976","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&RecordId=17548876166142976&Timestamp=2019-04-30T07%3A32%3A54Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=G8KT4x90%2BJtSvJgarTQ5PYTeS8U%3D&Action=DeleteDomainRecord&SignatureNonce=15566095745699
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876166142976","RequestId":"CDA36BAD-94E2-4F71-8078-F989DF7AA316"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A55Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=delete.testfqdn&Signature=EgTuvLnd9djXKX0USuqtgiQiLTU%3D&Action=DescribeDomainRecords&SignatureNonce=15566095755443
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"0A7B8592-CFA6-453B-87AA-7D7FEC79814A","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
