interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?AccessKeyId=DUMMY_KEY_ID&Action=DescribeDomainInfo&DomainName=mean.space&Format=json&Signature=DUMMY_SIGNATURE&SignatureMethod=HMAC-SHA1&SignatureNonce=DUMMY_SIGNATURE_NONCE&SignatureVersion=1.0&Timestamp=DUMMY_TIMESTAMP&Version=2015-01-09
  response:
    body:
      string: '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"7A621D39-226B-4BEF-B1BA-705E87379EEC","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?AccessKeyId=DUMMY_KEY_ID&Action=DescribeDomainRecords&DomainName=mean.space&Format=json&RRKeyWord=orig.test&Signature=DUMMY_SIGNATURE&SignatureMethod=HMAC-SHA1&SignatureNonce=DUMMY_SIGNATURE_NONCE&SignatureVersion=1.0&Timestamp=DUMMY_TIMESTAMP&TypeKeyWord=TXT&ValueKeyWord=challengetoken&Version=2015-01-09
  response:
    body:
      string: '{"PageNumber":1,"TotalCount":3,"PageSize":20,"RequestId":"A1F03F40-B6D4-4137-A2CB-3FF994D93790","DomainRecords":{"Record":[{"RR":"orig.testfull","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526707257021440","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"orig.testfqdn","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526476636558336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"orig.test","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526443068756992","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?AccessKeyId=DUMMY_KEY_ID&Action=DescribeDomainRecords&DomainName=mean.space&Format=json&RRKeyWord=orig.test&Signature=DUMMY_SIGNATURE&SignatureMethod=HMAC-SHA1&SignatureNonce=DUMMY_SIGNATURE_NONCE&SignatureVersion=1.0&Timestamp=DUMMY_TIMESTAMP&TypeKeyWord=TXT&Version=2015-01-09
  response:
    body:
      string: '{"PageNumber":1,"TotalCount":3,"PageSize":20,"RequestId":"22E1BEBD-90FC-4B6B-941D-77DB3CFD01D9","DomainRecords":{"Record":[{"RR":"orig.testfull","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526707257021440","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"orig.testfqdn","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526476636558336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"orig.test","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526443068756992","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?AccessKeyId=DUMMY_KEY_ID&Action=DescribeDomainRecords&DomainName=mean.space&Format=json&RRKeyWord=updated.test&Signature=DUMMY_SIGNATURE&SignatureMethod=HMAC-SHA1&SignatureNonce=DUMMY_SIGNATURE_NONCE&SignatureVersion=1.0&Timestamp=DUMMY_TIMESTAMP&TypeKeyWord=TXT&Version=2015-01-09
  response:
    body:
      string: '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"8278E6B6-6571-482B-96C3-4136A66F70F6","DomainRecords":{"Record":[]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?AccessKeyId=DUMMY_KEY_ID&Action=UpdateDomainRecord&DomainName=mean.space&Format=json&RR=updated.test&RecordId=17526707257021440&Signature=DUMMY_SIGNATURE&SignatureMethod=HMAC-SHA1&SignatureNonce=DUMMY_SIGNATURE_NONCE&SignatureVersion=1.0&TTL=3600&Timestamp=DUMMY_TIMESTAMP&Type=TXT&Value=challengetoken&Version=2015-01-09
  response:
    body:
      string: '{"RecordId":"17526707257021440","RequestId":"F93190E0-B6C4-4BC0-9FF1-89CF9A29DA33"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
