interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A32%3A57Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=xxAqBKN8O3W9iUOVnn0wCcSdyuQ%3D&Action=DescribeDomainInfo&SignatureNonce=15566095778146
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"05623EA7-E147-472D-8493-490520505BEA","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A57Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=nA682y4S3qEGbG%2BykgjoIhImz%2Bo%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095777907&Action=DescribeDomainRecords&RRKeyWord=delete.testid
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"FB0A5D84-C47F-4614-964A-145AF7A6E1B3","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Signature=lsjG1In4dx%2B4wQERSNBeurR5n68%3D&SignatureVersion=1.0&RR=delete.testid&Format=json&Timestamp=2019-04-30T07%3A32%3A57Z&DomainName=mean.space&Value=challengetoken&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&TTL=3600&Action=AddDomainRecord&SignatureNonce=15566095776106&Type=TXT
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876404690944","RequestId":"CD6C2B4E-8F3F-4984-A8DD-42DAEA42E59E"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A58Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=delete.testid&Signature=o0fCyAtmb58tkLv7kvf5Xgm7wAw%3D&Action=DescribeDomainRecords&SignatureNonce=15566095785341
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"7CDF1540-EAA9-4B62-8633-FE8D65B9190B","DomainRecords":{"Record":[{"RR":"delete.testid","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17548876404690944","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&RecordId=17548876404690944&Timestamp=2019-04-30T07%3A32%3A58Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=ki8M%2FpptzNtNcw7FSMfgbXX0mZo%3D&Action=DeleteDomainRecord&SignatureNonce=15566095781941
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876404690944","RequestId":"0046B8CE-1839-44C6-AB93-3F58EF956F80"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A58Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=delete.testid&Signature=OJlmaPDxeVxhPQl%2FHkJc%2FPjT2iI%3D&Action=DescribeDomainRecords&SignatureNonce=15566095782022
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"CDBA5703-19C5-4881-8EFC-265E66025567","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
