interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A33%3A10Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=vRbsbKFY8iL7cohfAE%2Fe91uJJDc%3D&Action=DescribeDomainInfo&SignatureNonce=15566095903262
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"C0C84CB9-AEC4-48DB-A003-A27F40821F8C","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A10Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=aIPnlnT%2FkNd9R%2B2H91awhm5EEfU%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095904976&Action=DescribeDomainRecords&RRKeyWord=orig.testfull
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"62D4CC3B-51EA-40E6-AE45-43C6AB62C674","DomainRecords":{"Record":[{"RR":"orig.testfull","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526707257021440","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A10Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=orig.testfull&Signature=RtxWqnaqoI3Q%2BI3WZTGZvMFleEU%3D&Action=DescribeDomainRecords&SignatureNonce=15566095901967
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"4617452F-04C9-4134-809B-1C4B9D109C90","DomainRecords":{"Record":[{"RR":"orig.testfull","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526707257021440","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A10Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=updated.testfull&Signature=BR9ITEAf28a8oc4WWr%2BwsAks%2Fe8%3D&Action=DescribeDomainRecords&SignatureNonce=15566095904617
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":3,"PageSize":20,"RequestId":"C81EA0E0-D9CA-4724-8BB2-7C772B556DF4","DomainRecords":{"Record":[{"RR":"updated.testfull","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526476678567936","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"updated.testfull","Status":"ENABLE","Value":"token","Weight":1,"RecordId":"17526443303442432","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"updated.testfull.mean.space","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526413771740160","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
