interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A33%3A03Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=Sphn4GerBNEgNVCUrcNAgso%2BQAA%3D&Action=DescribeDomainInfo&SignatureNonce=15566095834836
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"7D974337-B897-4A68-B096-872E38BEF7BF","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A04Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=36P2nAKLhf9kIxXD1kDIZkpW8Fs%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=ttlshouldbe3600&SignatureNonce=15566095842276&Action=DescribeDomainRecords&RRKeyWord=ttl.fqdn
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"9FC5F57E-53FC-4099-8B11-090C6460E616","DomainRecords":{"Record":[{"RR":"ttl.fqdn","Status":"ENABLE","Value":"ttlshouldbe3600","Weight":1,"RecordId":"17526889451100160","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A04Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=ttl.fqdn&Signature=wEk09Wo8tw4p2XzpR%2B6ErlfNWgY%3D&Action=DescribeDomainRecords&SignatureNonce=15566095846797
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"88B6A6E9-7752-48EF-9522-16B55CCC6E3B","DomainRecords":{"Record":[{"RR":"ttl.fqdn","Status":"ENABLE","Value":"ttlshouldbe3600","Weight":1,"RecordId":"17526889451100160","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
