interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A32%3A49Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=GiqX8p2qzr6MbW91F0O3HDIDMsE%3D&Action=DescribeDomainInfo&SignatureNonce=15566095691854
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"0065B063-C086-44E2-A0D4-C37D060AE2F1","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A49Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=B55ImQ9Ltn4Fg%2BognfjHy6QDg80%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=CNAME&Version=2015-01-09&ValueKeyWord=docs.example.com&SignatureNonce=15566095695037&Action=DescribeDomainRecords&RRKeyWord=docs
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"ADDE6A01-A3FB-40A3-817F-6FFB3FAA32D4","DomainRecords":{"Record":[{"RR":"docs","Status":"ENABLE","Value":"docs.example.com","Weight":1,"RecordId":"17519145560251392","Type":"CNAME","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
