interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A23%3A04Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=QUEvFVO1i08a4zzNVKRyQOfw4qQ%3D&Action=DescribeDomainInfo&SignatureNonce=15565189846921
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"E23A8C46-00B9-48D1-865D-4A1EE9D79763","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A23%3A04Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=m5U4caNfrbxCUgmR55NwsImhvJw%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15565189848047&Action=DescribeDomainRecords&RRKeyWord=random.fqdntest
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"1C43ABB6-78DA-463B-AC20-98380FD92DF1","DomainRecords":{"Record":[{"RR":"random.fqdntest","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526442980808704","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A23%3A05Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=random.fqdntest&Signature=4CJRnzAqfZckQ0wVWuniGSibuvE%3D&Action=DescribeDomainRecords&SignatureNonce=15565189859516
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"E8C912DD-2824-4FF3-B5C5-B57A8A99D282","DomainRecords":{"Record":[{"RR":"random.fqdntest","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526442980808704","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
