interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A22%3A52Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=MV7%2BESqgKD3XaM5maw92ur106iQ%3D&Action=DescribeDomainInfo&SignatureNonce=15565189727675
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"BBF743FA-05DA-4787-B0E4-F80296E7344F","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A53Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=GF7u8Pqg6po0KcM%2Fh7Ckz%2BgjTGo%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15565189735868&Action=DescribeDomainRecords&RRKeyWord=delete.testfqdn
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"85D53C43-F0A2-4782-8CE2-C737DEADFB99","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Signature=K16fE77CUP5w4klBFo2Xx5LiPiI%3D&SignatureVersion=1.0&RR=delete.testfqdn&Format=json&Timestamp=2019-04-29T06%3A22%3A53Z&DomainName=mean.space&Value=challengetoken&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&TTL=3600&Action=AddDomainRecord&SignatureNonce=15565189737449&Type=TXT
  response:
    body:
      string: !!python/unicode '{"RecordId":"17542938545822720","RequestId":"1ED19821-DAB3-4472-9B9D-3CE609638363"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A53Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=bQPbnquPU2EkPATXqplWX4C8LKA%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15565189733739&Action=DescribeDomainRecords&RRKeyWord=delete.testfqdn
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"5B9B9A15-043A-44A8-A051-7CEF039F7480","DomainRecords":{"Record":[{"RR":"delete.testfqdn","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17542938545822720","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&RecordId=17542938545822720&Timestamp=2019-04-29T06%3A22%3A53Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=kTZU2A8A2UkpRUhMhMQLUMFnsy4%3D&Action=DeleteDomainRecord&SignatureNonce=15565189738974
  response:
    body:
      string: !!python/unicode '{"RecordId":"17542938545822720","RequestId":"5134044B-B778-43B1-8D3B-4E47E9490872"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A54Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=delete.testfqdn&Signature=97udy7Wv37g8oU3lcz%2FW8ZUAi64%3D&Action=DescribeDomainRecords&SignatureNonce=15565189745037
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"F2D1E069-BE2B-44B5-88EB-0BB91FE3E868","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
