interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A22%3A48Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=dZwaJ9GFPQ6uY57O4aueAnoP4dw%3D&Action=DescribeDomainInfo&SignatureNonce=15565189689022
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"4D5687A3-1DB8-436D-B999-8F2CA1518F10","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A48Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=9GFA7eis8%2BNDS%2FD3tHbAgE2aX04%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=A&Version=2015-01-09&ValueKeyWord=127.0.0.1&SignatureNonce=15565189685830&Action=DescribeDomainRecords&RRKeyWord=localhost
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"803DDAB7-0FB6-4751-80A3-6D667D4CA44F","DomainRecords":{"Record":[{"RR":"localhost","Status":"ENABLE","Value":"127.0.0.1","Weight":1,"RecordId":"17519145516734464","Type":"A","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
