interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A22%3A48Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=FKcwS0oU5uKOFPeI9V6qul7XqU4%3D&Action=DescribeDomainInfo&SignatureNonce=15565189682116
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"22E3E95F-38CE-4BB1-B1F7-37979FF9F1F7","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A49Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=Inac%2FoW0SkC%2BJoZJ8NUV8dWhIZs%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15565189695143&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.fqdn
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"F92D084D-00AF-4D57-8DF7-E55E52657D1E","DomainRecords":{"Record":[{"RR":"_acme-challenge.fqdn","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526441963033600","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
