interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Action=DescribeDomainInfo&DomainName=mean.space&Format=json&SignatureMethod=HMAC-SHA1&SignatureVersion=1.0&Version=2015-01-09
  response:
    body:
      string: '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"75E9F415-F07A-4478-BC9B-CBB9E002E92E","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Action=DescribeDomainRecords&DomainName=mean.space&Format=json&RRKeyWord=_acme-challenge.listrecordset&SignatureMethod=HMAC-SHA1&SignatureVersion=1.0&TypeKeyWord=TXT&ValueKeyWord=challengetoken1&Version=2015-01-09
  response:
    body:
      string: '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"9B52B5C7-CB82-42E4-B055-7EC2D838CF62","DomainRecords":{"Record":[{"RR":"_acme-challenge.listrecordset","Status":"ENABLE","Value":"challengetoken1","Weight":1,"RecordId":"17542935732622336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Action=DescribeDomainRecords&DomainName=mean.space&Format=json&RRKeyWord=_acme-challenge.listrecordset&SignatureMethod=HMAC-SHA1&SignatureVersion=1.0&TypeKeyWord=TXT&Version=2015-01-09
  response:
    body:
      string: '{"PageNumber":1,"TotalCount":2,"PageSize":20,"RequestId":"BF317FCB-59E1-4F99-8207-1D818282E470","DomainRecords":{"Record":[{"RR":"_acme-challenge.listrecordset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17542935774237696","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600},{"RR":"_acme-challenge.listrecordset","Status":"ENABLE","Value":"challengetoken1","Weight":1,"RecordId":"17542935732622336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
