interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A22%3A54Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=cq%2FyZxpJk0M2ClORGpwDgWLRbYM%3D&Action=DescribeDomainInfo&SignatureNonce=15565189748183
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"4B71016C-A4BE-446A-BC06-97A928AAB889","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A54Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=KiK7b%2BOyJXN%2BjjoVlJdNikwWVFg%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15565189745502&Action=DescribeDomainRecords&RRKeyWord=delete.testfull
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"5A48C5D2-DDF0-49BB-A0B3-46AA18E78C39","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Signature=pxRIvx48a7V00%2B8hylVbPvxEBok%3D&SignatureVersion=1.0&RR=delete.testfull&Format=json&Timestamp=2019-04-29T06%3A22%3A54Z&DomainName=mean.space&Value=challengetoken&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&TTL=3600&Action=AddDomainRecord&SignatureNonce=15565189748065&Type=TXT
  response:
    body:
      string: !!python/unicode '{"RecordId":"17542938661164032","RequestId":"D1EDBFD0-503C-4E52-82C3-34FC338C1831"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A55Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=k%2BQh3HqqnljiP5XBC39G9i%2FSYac%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15565189756990&Action=DescribeDomainRecords&RRKeyWord=delete.testfull
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"C19D6B8E-7F9C-4B76-91BA-BA67487733D7","DomainRecords":{"Record":[{"RR":"delete.testfull","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17542938661164032","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&RecordId=17542938661164032&Timestamp=2019-04-29T06%3A22%3A55Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=GQJv3eyDNWZ9y7qmtsRTPRdFviY%3D&Action=DeleteDomainRecord&SignatureNonce=15565189758390
  response:
    body:
      string: !!python/unicode '{"RecordId":"17542938661164032","RequestId":"8BC901CF-0EE2-4CC4-BAD2-7C2DE3CE9362"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A56Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=delete.testfull&Signature=tVb3FnZmNCvy%2Bp2%2B%2FEocxmbNzZc%3D&Action=DescribeDomainRecords&SignatureNonce=15565189762850
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"85B27D17-6996-48B2-AA87-6E10AA4F84D4","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
