interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A23%3A09Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=AoozSyJNp2ennxOhm58mcY%2B01To%3D&Action=DescribeDomainInfo&SignatureNonce=15565189894648
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"F0886AFD-FB31-4476-97E6-46FCD79F7D51","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A23%3A09Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=SWwUYCJPTwaBZvJqKydY9c5SWc0%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15565189898953&Action=DescribeDomainRecords&RRKeyWord=random.test
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"D9D20A1B-9362-455B-92EA-F2D460498F47","DomainRecords":{"Record":[{"RR":"random.test","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526413511891968","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A23%3A09Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=random.test&Signature=j5Ekm1V1f%2FmJRWwsIKVx6cRWGAY%3D&Action=DescribeDomainRecords&SignatureNonce=15565189896999
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"5697035F-9DBD-47D6-BEF6-D467C9A91873","DomainRecords":{"Record":[{"RR":"random.test","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526413511891968","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
