interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A32%3A59Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=m4LT7cfgADoWp3sXOfgzZHXPmGo%3D&Action=DescribeDomainInfo&SignatureNonce=15566095798275
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"C715EEE2-E53B-4B69-86D7-208F7444505D","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A59Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=P42q0XaeTO3glXvosTkobye3pJ8%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken1&SignatureNonce=15566095798669&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.deleterecordinset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"FDC7D5FF-8847-437B-8A5A-E724CA8BBC2F","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Signature=dDk%2BXXUDWU1acaXoRuZsVVEqOSw%3D&SignatureVersion=1.0&RR=_acme-challenge.deleterecordinset&Format=json&Timestamp=2019-04-30T07%3A32%3A59Z&DomainName=mean.space&Value=challengetoken1&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&TTL=3600&Action=AddDomainRecord&SignatureNonce=15566095796351&Type=TXT
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876507910144","RequestId":"79255522-510C-45DC-B57E-0A367521C3AF"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A59Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=QHb3DeiEAQ8A2UgTioUNZ9FDVQ4%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken2&SignatureNonce=15566095795939&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.deleterecordinset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"60F94644-5FD8-4892-A9CC-71F77ECB6ECA","DomainRecords":{"Record":[{"RR":"_acme-challenge.deleterecordinset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17542935361296384","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A59Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=So7xTUvhjzhOXLnCSW3Cqityglg%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken1&SignatureNonce=15566095796516&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.deleterecordinset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"7A29DF69-8E7B-4391-ACF3-0225F0FDFC79","DomainRecords":{"Record":[{"RR":"_acme-challenge.deleterecordinset","Status":"ENABLE","Value":"challengetoken1","Weight":1,"RecordId":"17548876507910144","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&RecordId=17548876507910144&Timestamp=2019-04-30T07%3A32%3A59Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=thAdwQERvwghfP7fLkJQBxM5kOU%3D&Action=DeleteDomainRecord&SignatureNonce=15566095793704
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876507910144","RequestId":"FC0AD8A5-71EA-422D-8F65-F4F6AE796C41"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A00Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=_acme-challenge.deleterecordinset&Signature=rY2iCtWtWwRnh5SEE0ohprZ%2FuFM%3D&Action=DescribeDomainRecords&SignatureNonce=15566095806884
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"8BFC12A1-1968-4811-BB63-9AD2E71CAF24","DomainRecords":{"Record":[{"RR":"_acme-challenge.deleterecordinset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17542935361296384","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
