interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A33%3A07Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=5EyjrQYveAIco047VtkNTTT77Og%3D&Action=DescribeDomainInfo&SignatureNonce=15566095874310
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"1BE778EA-4B8E-46BC-9AAA-2076995605CE","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A07Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=HK4IkhQsnag5U1RlASWJWCE9wMM%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095877164&Action=DescribeDomainRecords&RRKeyWord=orig.test
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":3,"PageSize":20,"RequestId":"521B5A9A-B228-4BF2-A736-8D48204CDA4A","DomainRecords":{"Record":[{"RR":"orig.testfull","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526707257021440","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"orig.testfqdn","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526476636558336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"orig.test","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526443068756992","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A07Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=orig.test&Signature=9iTnnaNSbK8PUSnQtg16uAA5f2A%3D&Action=DescribeDomainRecords&SignatureNonce=15566095874122
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":3,"PageSize":20,"RequestId":"37B72ABF-9E4D-4C8D-B220-E9061E83C1F0","DomainRecords":{"Record":[{"RR":"orig.testfull","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526707257021440","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"orig.testfqdn","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526476636558336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600},{"RR":"orig.test","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526443068756992","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A09Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=updated.test&Signature=rHpZj6Kwa%2ByvoB7HUhk1xKClJ7c%3D&Action=DescribeDomainRecords&SignatureNonce=15566095897800
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":5,"PageSize":20,"Re[...]
