interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A22%3A50Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=Vl%2F%2BxHa%2FxIhhCcXVIltCL5Shylk%3D&Action=DescribeDomainInfo&SignatureNonce=15565189704783
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"51AFE118-5705-4234-9701-3606976E7CFB","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A51Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=bhsS1g4w%2FGaEiUrrFZgPryjRnic%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15565189719042&Action=DescribeDomainRecords&RRKeyWord=delete.testfilt
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"14DB78E8-708E-4199-9E79-86FC30469B36","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Signature=tm2EkOm%2FrYfc5X8isSO7Z715dTk%3D&SignatureVersion=1.0&RR=delete.testfilt&Format=json&Timestamp=2019-04-29T06%3A22%3A51Z&DomainName=mean.space&Value=challengetoken&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&TTL=3600&Action=AddDomainRecord&SignatureNonce=15565189715242&Type=TXT
  response:
    body:
      string: !!python/unicode '{"RecordId":"17542938424315904","RequestId":"C60BFC87-769C-4C1A-8E34-68F17225C55E"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A51Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=oJtC%2FCiOPRnMUHvKzlVX9xMnfZE%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15565189719901&Action=DescribeDomainRecords&RRKeyWord=delete.testfilt
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"0CF34586-CA67-4778-B820-005B6A9FB8AE","DomainRecords":{"Record":[{"RR":"delete.testfilt","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17542938424315904","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&RecordId=17542938424315904&Timestamp=2019-04-29T06%3A22%3A51Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=G97VF2MKbQlH0dPNR3Z%2FXWLJUZI%3D&Action=DeleteDomainRecord&SignatureNonce=15565189714635
  response:
    body:
      string: !!python/unicode '{"RecordId":"17542938424315904","RequestId":"3CEA06A2-9F72-4B35-B57F-58292A7E5F09"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A52Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=delete.testfilt&Signature=xNNw%2FxH5jywYJu2hBFcwfNRL%2Bdw%3D&Action=DescribeDomainRecords&SignatureNonce=15565189721828
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"8CD9E0E4-4646-4774-953D-7268219FFA25","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
