interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A32%3A49Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=tzAb2anVSMeXzE57wvRnGp%2FRgNQ%3D&Action=DescribeDomainInfo&SignatureNonce=15566095693385
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"C5B3372C-12F1-425F-9498-39F7A1BB0CFF","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A49Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=9BYNGlxO%2FvRdqlXGMTZQf0kDWGk%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=A&Version=2015-01-09&ValueKeyWord=127.0.0.1&SignatureNonce=15566095694307&Action=DescribeDomainRecords&RRKeyWord=localhost
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"A659F5EC-1EBD-4432-B03B-17869CB77E22","DomainRecords":{"Record":[{"RR":"localhost","Status":"ENABLE","Value":"127.0.0.1","Weight":1,"RecordId":"17519145516734464","Type":"A","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
