interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A33%3A00Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=0HsSDgZQ6g8d0xdB%2FKh9MtiukQI%3D&Action=DescribeDomainInfo&SignatureNonce=15566095809825
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"73B20C6B-165E-4853-896C-DD1A2F2EE7A4","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A00Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=SIxgOlXi%2FGw%2FKMIJKSkeb6Ld3Mk%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken1&SignatureNonce=15566095809674&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.deleterecordset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"7A8C5580-AEA8-4A13-9076-C795040C4C8F","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Signature=f7YA0TjmMGo46%2BTOio3VMSvAdF4%3D&SignatureVersion=1.0&RR=_acme-challenge.deleterecordset&Format=json&Timestamp=2019-04-30T07%3A33%3A01Z&DomainName=mean.space&Value=challengetoken1&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&TTL=3600&Action=AddDomainRecord&SignatureNonce=15566095811794&Type=TXT
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876624302080","RequestId":"7FE7F47A-E0CE-48E4-8E7D-054E7D5E3A8E"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A01Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=FtW5trhfRz63SeSL0EFj55wBySw%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken2&SignatureNonce=15566095813628&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.deleterecordset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"5BD2405D-A1E6-4E36-BE28-42E7B2EA8C99","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Signature=UIea8u8pBA09KmZKwmn6XyEWP6g%3D&SignatureVersion=1.0&RR=_acme-challenge.deleterecordset&Format=json&Timestamp=2019-04-30T07%3A33%3A01Z&DomainName=mean.space&Value=challengetoken2&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&TTL=3600&Action=AddDomainRecord&SignatureNonce=15566095815142&Type=TXT
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876662577152","RequestId":"AC4082E5-CAE6-4599-861E-E9345F18B4CD"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A02Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=_acme-challenge.deleterecordset&Signature=H%2BsXI%2Bw2iQjx3XEIFQ9icSL24fo%3D&Action=DescribeDomainRecords&SignatureNonce=15566095824208
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":2,"PageSize":20,"RequestId":"333E60A7-363B-452F-ABE2-875FAA5DE7C7","DomainRecords":{"Record":[{"RR":"_acme-challenge.deleterecordset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17548876662577152","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600},{"RR":"_acme-challenge.deleterecordset","Status":"ENABLE","Value":"challengetoken1","Weight":1,"RecordId":"17548876624302080","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&RecordId=17548876662577152&Timestamp=2019-04-30T07%3A33%3A02Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=SMuvJ%2BKWahDoi0ZnifIsmZDpgUI%3D&Action=DeleteDomainRecord&SignatureNonce=15566095824716
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876662577152","RequestId":"9D23DCD8-9114-4891-9D29-AA677A924FBD"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&RecordId=17548876624302080&Timestamp=2019-04-30T07%3A33%3A03Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=hIRmjQgZZHk0nhgmJtyZ13Mezb8%3D&Action=DeleteDomainRecord&SignatureNonce=15566095834065
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876624302080","RequestId":"F7B678A6-2DED-4030-9A09-7B8E2AC93C93"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A03Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=_acme-challenge.deleterecordset&Signature=9xEF2H2%2B2fb83dIMc5hC%2Fe9zIqA%3D&Action=DescribeDomainRecords&SignatureNonce=15566095837342
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"DA7ED2D3-421E-4FF2-A226-E4AC4D3D3E13","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
