interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A32%3A51Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=csBZKG9htQ3QX7CPVegbnJvgUfM%3D&Action=DescribeDomainInfo&SignatureNonce=15566095711990
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"8BD48669-AB33-430B-B851-A0F06EF4604A","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A51Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=f1bcvteMweXUT1HExwLFtIGeus0%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095713524&Action=DescribeDomainRecords&RRKeyWord=delete.testfilt
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"E4BA0E0A-DBFB-421B-8286-E5971A3792F7","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Signature=3dVmHU%2Fn2Z46tC5vei%2FB1Uxqh0c%3D&SignatureVersion=1.0&RR=delete.testfilt&Format=json&Timestamp=2019-04-30T07%3A32%3A52Z&DomainName=mean.space&Value=challengetoken&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&TTL=3600&Action=AddDomainRecord&SignatureNonce=15566095728939&Type=TXT
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876041492480","RequestId":"D88B6A7F-6021-418E-9C5C-938C312E10F9"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A52Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=gc%2BB3a%2FDKf51Ig3pNUN8jUP5Z9M%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095729706&Action=DescribeDomainRecords&RRKeyWord=delete.testfilt
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"1B6CFBEB-669E-482F-ADC6-5D4CE0CBE937","DomainRecords":{"Record":[{"RR":"delete.testfilt","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17548876041492480","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&RecordId=17548876041492480&Timestamp=2019-04-30T07%3A32%3A52Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=HWEL11JoF0kOPclgV2akHKDeSdQ%3D&Action=DeleteDomainRecord&SignatureNonce=15566095723124
  response:
    body:
      string: !!python/unicode '{"RecordId":"17548876041492480","RequestId":"B3CFC71A-829C-48FE-A885-1316AF95A253"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A53Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=delete.testfilt&Signature=6jwFKuHHkk8FHI791fxIU3SZhzE%3D&Action=DescribeDomainRecords&SignatureNonce=15566095731945
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"1ED2DC85-2285-4657-8021-375C5E6FC89A","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
