interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A33%3A04Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=764dzZjpXXFlcr%2Fjs%2FKDhhc6WtQ%3D&Action=DescribeDomainInfo&SignatureNonce=15566095842640
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"5C9723A4-183E-4509-B089-58D180BFA0C4","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A05Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=uRs7HGe2zm8QT6ieAk4oRbRn96c%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15566095851095&Action=DescribeDomainRecords&RRKeyWord=random.fqdntest
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"8C0229DD-7179-43CC-842A-3EAB4227EDC5","DomainRecords":{"Record":[{"RR":"random.fqdntest","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526442980808704","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A33%3A05Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=random.fqdntest&Signature=gdKcnqXadTZbTzzYiWUmD86A1QA%3D&Action=DescribeDomainRecords&SignatureNonce=15566095852995
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"7FDF4514-D990-4039-8AB6-2E27C9696EA5","DomainRecords":{"Record":[{"RR":"random.fqdntest","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526442980808704","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
