interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A22%3A50Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=Lv22GQOarayRWNbShSr4oglkxP4%3D&Action=DescribeDomainInfo&SignatureNonce=15565189706073
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"9C9FB128-8A9C-4C13-B820-B0D2865F53FF","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A50Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=%2BMvp%2FPE3kawocHUkRb9hXtwGhnE%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15565189705499&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.noop
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"4034D7DC-E8D3-45EF-8F16-9E5EFE0589AC","DomainRecords":{"Record":[{"RR":"_acme-challenge.noop","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526442084472832","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A50Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=e5RR7pwoV5utPMlVyEqYEJEKvqc%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken&SignatureNonce=15565189702192&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.noop
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"4317064B-D19E-4DE5-85AE-DC0DB4348F29","DomainRecords":{"Record":[{"RR":"_acme-challenge.noop","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526442084472832","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A50Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=_acme-challenge.noop&Signature=x83ZIviKQmSU7oznhgYBfK6HKT8%3D&Action=DescribeDomainRecords&SignatureNonce=15565189704422
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"FB7F819A-3FDB-4AC2-912D-EAE1DA34AB16","DomainRecords":{"Record":[{"RR":"_acme-challenge.noop","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17526442084472832","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
