interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-30T07%3A32%3A50Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=W2t7oh5SGRhUj8VO8CAR2pwq%2FKQ%3D&Action=DescribeDomainInfo&SignatureNonce=15566095701593
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"D245C4CF-DCC8-4FEB-B2B2-769F1C17B14E","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A50Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=rzjqIOLeuRx8OqAFsAeXgen1zM4%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken1&SignatureNonce=15566095706114&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.createrecordset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"4FD07A69-0206-4DE6-835D-029B69F727E5","DomainRecords":{"Record":[{"RR":"_acme-challenge.createrecordset","Status":"ENABLE","Value":"challengetoken1","Weight":1,"RecordId":"17526442012907520","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-30T07%3A32%3A51Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=dsDWtJhbZqtaxY4PqdX%2FUc36I6U%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken2&SignatureNonce=15566095711320&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.createrecordset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"F8281676-9D71-416B-B81C-FA7606846BE7","DomainRecords":{"Record":[{"RR":"_acme-challenge.createrecordset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17526442050654208","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
