interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A22%3A58Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=3OGY1qEiwLR3FIH%2Bmk19%2BjpEnAM%3D&Action=DescribeDomainInfo&SignatureNonce=15565189784446
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"6327C0B0-A8EF-4D06-AA49-3A6DA3F80310","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A58Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=4xmQ4Wyap%2BPqBgDbcdfVI5Ozubg%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken1&SignatureNonce=15565189785778&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.deleterecordinset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"414EBA91-0905-489C-876D-5C816270654D","DomainRecords":{"Record":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?Signature=lowitI3RptPP%2Bea%2BCdfQNW9I7A4%3D&SignatureVersion=1.0&RR=_acme-challenge.deleterecordinset&Format=json&Timestamp=2019-04-29T06%3A22%3A58Z&DomainName=mean.space&Value=challengetoken1&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&TTL=3600&Action=AddDomainRecord&SignatureNonce=15565189781081&Type=TXT
  response:
    body:
      string: !!python/unicode '{"RecordId":"17542938903252992","RequestId":"0F9D9BBD-016E-491C-9AE1-238944F4DD94"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A59Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=AErjm3hQGqKTutF45V0LVP%2BqYDs%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken2&SignatureNonce=15565189798845&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.deleterecordinset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"4595D52B-01A8-4C00-BA5F-A2C1DA026D3F","DomainRecords":{"Record":[{"RR":"_acme-challenge.deleterecordinset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17542935361296384","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A59Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=b3E6ySmUnyvGzXrI7J0tU8GnyTU%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken1&SignatureNonce=15565189796074&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.deleterecordinset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"DBC072BD-F5E4-4079-B7D4-A178FE5A65C0","DomainRecords":{"Record":[{"RR":"_acme-challenge.deleterecordinset","Status":"ENABLE","Value":"challengetoken1","Weight":1,"RecordId":"17542938903252992","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&RecordId=17542938903252992&Timestamp=2019-04-29T06%3A22%3A59Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=%2BWRl3nu4dz1TUp7JgP9FXtFUG3M%3D&Action=DeleteDomainRecord&SignatureNonce=15565189794982
  response:
    body:
      string: !!python/unicode '{"RecordId":"17542938903252992","RequestId":"F39766DE-FCBB-4A93-A490-BB30A64F3666"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A23%3A00Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=_acme-challenge.deleterecordinset&Signature=d2IdJG1pm0hBWlmG2MgHwpP%2BQx4%3D&Action=DescribeDomainRecords&SignatureNonce=15565189802579
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"ABDC7E65-FE30-4F35-B544-92383329A788","DomainRecords":{"Record":[{"RR":"_acme-challenge.deleterecordinset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17542935361296384","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
