interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A23%3A04Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=exulJMs8FwSDwDjxPZf1pLZzVZY%3D&Action=DescribeDomainInfo&SignatureNonce=15565189841954
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"34799CA6-7CF4-413A-AE1F-F585066CB7F2","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A23%3A04Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=j7H0VJZI6pUKzj2cAD5Cp0GEnOM%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken1&SignatureNonce=15565189848353&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.listrecordset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"1C299CA7-23C9-4FD0-903A-BFC86DA8E1DD","DomainRecords":{"Record":[{"RR":"_acme-challenge.listrecordset","Status":"ENABLE","Value":"challengetoken1","Weight":1,"RecordId":"17542935732622336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A23%3A04Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=Gqf4KGXZ%2FXnzCKO40DTl3fjoxp4%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken2&SignatureNonce=15565189849743&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.listrecordset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"1C9D7EE7-4B74-4CE2-858E-EC1587D33902","DomainRecords":{"Record":[{"RR":"_acme-challenge.listrecordset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17542935774237696","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A23%3A04Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&RRKeyWord=_acme-challenge.listrecordset&Signature=NJQyy36%2FFXAts7aukkbdOR549IY%3D&Action=DescribeDomainRecords&SignatureNonce=15565189843456
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":2,"PageSize":20,"RequestId":"16300A13-1BFF-416D-B605-6662F86EAEF6","DomainRecords":{"Record":[{"RR":"_acme-challenge.listrecordset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17542935774237696","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600},{"RR":"_acme-challenge.listrecordset","Status":"ENABLE","Value":"challengetoken1","Weight":1,"RecordId":"17542935732622336","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
