interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A22%3A48Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=Hka553SGG9NJZFfR8ilnUYvMVKM%3D&Action=DescribeDomainInfo&SignatureNonce=15565189684210
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"10A3F24F-723D-40E6-82BC-652CE41D383D","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A48Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=DDsKVDBwQkffDrB6TGZURd0AvIc%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=CNAME&Version=2015-01-09&ValueKeyWord=docs.example.com&SignatureNonce=15565189686210&Action=DescribeDomainRecords&RRKeyWord=docs
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"217F5A41-0D3A-437D-BA8D-375F11BD130B","DomainRecords":{"Record":[{"RR":"docs","Status":"ENABLE","Value":"docs.example.com","Weight":1,"RecordId":"17519145560251392","Type":"CNAME","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
