interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&DomainName=mean.space&Timestamp=2019-04-29T06%3A22%3A49Z&Format=json&AccessKeyId=LTAIrKlK05Pj2D0a&SignatureMethod=HMAC-SHA1&Version=2015-01-09&Signature=ygCXcr4pKcbX4rI4JeTW1nz4CwA%3D&Action=DescribeDomainInfo&SignatureNonce=15565189698137
  response:
    body:
      string: !!python/unicode '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"386C5941-E59D-4290-8AE4-0B90C0F8E432","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A50Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=bUPZ4YWF94tbi%2F2L2g%2FP4BMyRRw%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken1&SignatureNonce=15565189702139&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.createrecordset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"712F6041-EAD4-412B-9996-EE63A381E25E","DomainRecords":{"Record":[{"RR":"_acme-challenge.createrecordset","Status":"ENABLE","Value":"challengetoken1","Weight":1,"RecordId":"17526442012907520","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?SignatureVersion=1.0&Format=json&Timestamp=2019-04-29T06%3A22%3A50Z&DomainName=mean.space&SignatureMethod=HMAC-SHA1&Signature=gWRXNKIFOawS2VufZTVD5SkfHEM%3D&AccessKeyId=LTAIrKlK05Pj2D0a&TypeKeyWord=TXT&Version=2015-01-09&ValueKeyWord=challengetoken2&SignatureNonce=15565189706749&Action=DescribeDomainRecords&RRKeyWord=_acme-challenge.createrecordset
  response:
    body:
      string: !!python/unicode '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"2F76FC2A-5501-402F-81A1-AF66BA50C47E","DomainRecords":{"Record":[{"RR":"_acme-challenge.createrecordset","Status":"ENABLE","Value":"challengetoken2","Weight":1,"RecordId":"17526442050654208","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":600}]}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
