interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?AccessKeyId=DUMMY_KEY_ID&Action=DescribeDomainInfo&DomainName=mean.space&Format=json&Signature=DUMMY_SIGNATURE&SignatureMethod=HMAC-SHA1&SignatureNonce=DUMMY_SIGNATURE_NONCE&SignatureVersion=1.0&Timestamp=DUMMY_TIMESTAMP&Version=2015-01-09
  response:
    body:
      string: '{"RecordLines":{"RecordLine":[]},"PunyCode":"mean.space","AliDomain":true,"DnsServers":{"DnsServer":["dns9.hichina.com","dns10.hichina.com"]},"VersionName":"Alibaba
        Cloud DNS","RequestId":"B894B9F5-17E0-4B8D-81CB-254EB2C14DBB","VersionCode":"mianfei","DomainName":"mean.space","DomainId":"3926e93f-3f49-405d-9d39-0d226e54b4b1","AvailableTtls":{"AvailableTtl":[]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?AccessKeyId=DUMMY_KEY_ID&Action=DescribeDomainRecords&DomainName=mean.space&Format=json&RRKeyWord=random.fulltest&Signature=DUMMY_SIGNATURE&SignatureMethod=HMAC-SHA1&SignatureNonce=DUMMY_SIGNATURE_NONCE&SignatureVersion=1.0&Timestamp=DUMMY_TIMESTAMP&TypeKeyWord=TXT&ValueKeyWord=challengetoken&Version=2015-01-09
  response:
    body:
      string: '{"PageNumber":1,"TotalCount":0,"PageSize":20,"RequestId":"19B12352-696A-4AF8-9E1D-7D81A327D5E7","DomainRecords":{"Record":[]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?AccessKeyId=DUMMY_KEY_ID&Action=AddDomainRecord&DomainName=mean.space&Format=json&RR=random.fulltest&Signature=DUMMY_SIGNATURE&SignatureMethod=HMAC-SHA1&SignatureNonce=DUMMY_SIGNATURE_NONCE&SignatureVersion=1.0&TTL=3600&Timestamp=DUMMY_TIMESTAMP&Type=TXT&Value=challengetoken&Version=2015-01-09
  response:
    body:
      string: '{"RecordId":"17606202311798784","RequestId":"E942F391-73B3-4EAC-9974-5C4B09F5EA16"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://alidns.aliyuncs.com/?AccessKeyId=DUMMY_KEY_ID&Action=DescribeDomainRecords&DomainName=mean.space&Format=json&RRKeyWord=random.fulltest&Signature=DUMMY_SIGNATURE&SignatureMethod=HMAC-SHA1&SignatureNonce=DUMMY_SIGNATURE_NONCE&SignatureVersion=1.0&Timestamp=DUMMY_TIMESTAMP&TypeKeyWord=TXT&Version=2015-01-09
  response:
    body:
      string: '{"PageNumber":1,"TotalCount":1,"PageSize":20,"RequestId":"75A5A68C-6243-4AAF-B1E7-433649ADB73D","DomainRecords":{"Record":[{"RR":"random.fulltest","Status":"ENABLE","Value":"challengetoken","Weight":1,"RecordId":"17606202311798784","Type":"TXT","DomainName":"mean.space","Locked":false,"Line":"default","TTL":3600}]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
