interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/accounts
  response:
    body: {string: !!python/unicode '{"data":[{"id":475,"plan_identifier":"dnsimple-personal","created_at":"2017-03-11T04:50:42Z","updated_at":"2017-03-12T08:06:55Z"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"72b5baad57ee66be3c25031e6dd757be"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2392']
      x-ratelimit-reset: ['1489366392']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/475/domains?name_like=wopr.tech
  response:
    body: {string: !!python/unicode '{"data":[{"id":32240,"account_id":475,"registrant_id":null,"name":"wopr.tech","unicode_name":"wopr.tech","state":"hosted","auto_renew":false,"private_whois":false,"expires_on":null,"created_at":"2017-03-12T23:53:34Z","updated_at":"2017-03-12T23:53:34Z"}],"pagination":{"current_page":1,"per_page":30,"total_entries":1,"total_pages":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"f8acd1dd7c5dc59b6f1af98347e840ee"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2389']
      x-ratelimit-reset: ['1489366393']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/475/zones/wopr.tech/records?type=A&name=localhost
  response:
    body: {string: !!python/unicode '{"data":[],"pagination":{"current_page":1,"per_page":30,"total_entries":0,"total_pages":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"0605e329ddd741bf0b60c52b68e9846b"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2388']
      x-ratelimit-reset: ['1489366392']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"content": "127.0.0.1", "type": "A", "name": "localhost"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.dnsimple.com/v2475/zones/wopr.tech/records
  response:
    body: {string: !!python/unicode '{"data":{"id":311244,"zone_id":"wopr.tech","parent_id":null,"name":"localhost","content":"127.0.0.1","ttl":3600,"priority":null,"type":"A","regions":["global"],"system_record":false,"created_at":"2017-03-12T23:53:47Z","updated_at":"2017-03-12T23:53:47Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"93f0d8a723647a0f245b48cb3b12e716"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2387']
      x-ratelimit-reset: ['1489366392']
    status: {code: 201, message: Created}
version: 1
