interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/accounts
  response:
    body: {string: !!python/unicode '{"data":[{"id":475,"plan_identifier":"dnsimple-personal","created_at":"2017-03-11T04:50:42Z","updated_at":"2017-03-12T08:06:55Z"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"72b5baad57ee66be3c25031e6dd757be"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2380']
      x-ratelimit-reset: ['1489366392']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/475/domains?name_like=wopr.tech
  response:
    body: {string: !!python/unicode '{"data":[{"id":32240,"account_id":475,"registrant_id":null,"name":"wopr.tech","unicode_name":"wopr.tech","state":"hosted","auto_renew":false,"private_whois":false,"expires_on":null,"created_at":"2017-03-12T23:53:34Z","updated_at":"2017-03-12T23:53:34Z"}],"pagination":{"current_page":1,"per_page":30,"total_entries":1,"total_pages":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"f8acd1dd7c5dc59b6f1af98347e840ee"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2338']
      x-ratelimit-reset: ['1489366392']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/475/zones/wopr.tech/records?type=TXT&name=random.test
  response:
    body: {string: !!python/unicode '{"data":[],"pagination":{"current_page":1,"per_page":30,"total_entries":0,"total_pages":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"0605e329ddd741bf0b60c52b68e9846b"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2337']
      x-ratelimit-reset: ['1489366393']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"content": "challengetoken", "type": "TXT", "name": "random.test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.dnsimple.com/v2475/zones/wopr.tech/records
  response:
    body: {string: !!python/unicode '{"data":{"id":311256,"zone_id":"wopr.tech","parent_id":null,"name":"random.test","content":"challengetoken","ttl":3600,"priority":null,"type":"TXT","regions":["global"],"system_record":false,"created_at":"2017-03-12T23:54:14Z","updated_at":"2017-03-12T23:54:14Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"4a1a501df53a2470a82a097f7e256e7d"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2336']
      x-ratelimit-reset: ['1489366392']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/475/zones/wopr.tech/records?type=TXT&name=random.test
  response:
    body: {string: !!python/unicode '{"data":[{"id":311256,"zone_id":"wopr.tech","parent_id":null,"name":"random.test","content":"challengetoken","ttl":3600,"priority":null,"type":"TXT","regions":["global"],"system_record":false,"created_at":"2017-03-12T23:54:14Z","updated_at":"2017-03-12T23:54:14Z"}],"pagination":{"current_page":1,"per_page":30,"total_entries":1,"total_pages":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"3c6c8e568db7c6751184fd93adbeeda9"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2335']
      x-ratelimit-reset: ['1489366393']
    status: {code: 200, message: OK}
version: 1
