interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/accounts
  response:
    body: {string: !!python/unicode '{"data":[{"id":475,"plan_identifier":"dnsimple-personal","created_at":"2017-03-11T04:50:42Z","updated_at":"2017-03-12T08:06:55Z"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"72b5baad57ee66be3c25031e6dd757be"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2393']
      x-ratelimit-reset: ['1489366391']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/475/domains?name_like=thisisadomainidonotown.com
  response:
    body: {string: !!python/unicode '{"data":[],"pagination":{"current_page":1,"per_page":30,"total_entries":0,"total_pages":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"0605e329ddd741bf0b60c52b68e9846b"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2390']
      x-ratelimit-reset: ['1489366392']
    status: {code: 200, message: OK}
version: 1
