interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/accounts
  response:
    body: {string: !!python/unicode '{"data":[{"id":475,"plan_identifier":"dnsimple-personal","created_at":"2017-03-11T04:50:42Z","updated_at":"2017-03-12T08:06:55Z"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"72b5baad57ee66be3c25031e6dd757be"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2378']
      x-ratelimit-reset: ['1489366391']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/475/domains?name_like=wopr.tech
  response:
    body: {string: !!python/unicode '{"data":[{"id":32240,"account_id":475,"registrant_id":null,"name":"wopr.tech","unicode_name":"wopr.tech","state":"hosted","auto_renew":false,"private_whois":false,"expires_on":null,"created_at":"2017-03-12T23:53:34Z","updated_at":"2017-03-12T23:53:34Z"}],"pagination":{"current_page":1,"per_page":30,"total_entries":1,"total_pages":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"f8acd1dd7c5dc59b6f1af98347e840ee"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2332']
      x-ratelimit-reset: ['1489366393']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.sandbox.dnsimple.com/v2/475/zones/wopr.tech/records?type=TXT&name=orig.test
  response:
    body: {string: !!python/unicode '{"data":[],"pagination":{"current_page":1,"per_page":30,"total_entries":0,"total_pages":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"0605e329ddd741bf0b60c52b68e9846b"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2331']
      x-ratelimit-reset: ['1489366392']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"content": "challengetoken", "type": "TXT", "name": "orig.test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.sandbox.dnsimple.com/v2475/zones/wopr.tech/records
  response:
    body: {string: !!python/unicode '{"data":{"id":311257,"zone_id":"wopr.tech","parent_id":null,"name":"orig.test","content":"challengetoken","ttl":3600,"priority":null,"type":"TXT","regions":["global"],"system_record":false,"created_at":"2017-03-12T23:54:17Z","updated_at":"2017-03-12T23:54:17Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"d6f434853cc853184d45b2885e59780f"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2330']
      x-ratelimit-reset: ['1489366393']
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"content": "challengetoken", "name": "updated.test"}'
    headers:
      Content-Type: [application/json]
    method: PATCH
    uri: https://api.sandbox.dnsimple.com/v2/475/zones/wopr.tech/records/311257
  response:
    body: {string: !!python/unicode '{"data":{"id":311257,"zone_id":"wopr.tech","parent_id":null,"name":"updated.test","content":"challengetoken","ttl":3600,"priority":null,"type":"TXT","regions":["global"],"system_record":false,"created_at":"2017-03-12T23:54:17Z","updated_at":"2017-03-12T23:54:18Z"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"79913a662b3090e7f5ee7cceba9dbd40"]
      x-ratelimit-limit: ['2400']
      x-ratelimit-remaining: ['2328']
      x-ratelimit-reset: ['1489366392']
    status: {code: 200, message: OK}
version: 1
