interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.dreamhost.com/?cmd=domain-list_domains&format=json
  response:
    body: {string: !!python/unicode '{"result":"success","data":[{"domain":"lexicon-example.com"}]}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.dreamhost.com/?cmd=dns-add_record&format=json&record=delete.testfilt.lexicon-example.com&value=challengetoken&type=TXT
  response:
    body: {string: !!python/unicode '{"result":"success","data":"record_added"}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.dreamhost.com/?cmd=dns-list_records&format=json
  response:
    body: {string: !!python/unicode '{"result":"success","data":[{"value":"challengetoken","record":"random.test.lexicon-example.com","type":"TXT","zone":"lexicon-example.com"},{"record":"docs.lexicon-example.com","value":"docs.example.com","type":"CNAME","zone":"lexicon-example.com"},{"record":"localhost.lexicon-example.com","value":"127.0.0.1","type":"A","zone":"lexicon-example.com","zone":"lexicon-example.com"},{"value":"challengetoken","record":"_acme-challenge.fqdn.lexicon-example.com","type":"TXT","zone":"lexicon-example.com"},{"value":"challengetoken","record":"_acme-challenge.full.lexicon-example.com","type":"TXT","zone":"lexicon-example.com"},{"value":"challengetoken","record":"_acme-challenge.test.lexicon-example.com","type":"TXT","zone":"lexicon-example.com"},{"value":"challengetoken","record":"orig.test.lexicon-example.com","type":"TXT","zone":"lexicon-example.com"},{"value":"challengetoken","record":"delete.testfilt.lexicon-example.com","type":"TXT","zone":"lexicon-example.com"}]}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.dreamhost.com/?cmd=dns-remove_record&format=json&record=delete.testfilt.lexicon-example.com&value=challengetoken&type=TXT
  response:
    body: {string: !!python/unicode '{"result":"success","data":"record_removed"}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.dreamhost.com/?format=json&cmd=dns-list_records
  response:
    body: {string: !!python/unicode '{"result":"success","data":[{"value":"challengetoken","record":"random.test.lexicon-example.com","type":"TXT","zone":"lexicon-example.com"},{"record":"docs.lexicon-example.com","value":"docs.example.com","type":"CNAME","zone":"lexicon-example.com"},{"record":"localhost.lexicon-example.com","value":"127.0.0.1","type":"A","zone":"lexicon-example.com","zone":"lexicon-example.com"},{"value":"challengetoken","record":"_acme-challenge.fqdn.lexicon-example.com","type":"TXT","zone":"lexicon-example.com"},{"value":"challengetoken","record":"_acme-challenge.full.lexicon-example.com","type":"TXT","zone":"lexicon-example.com"},{"value":"challengetoken","record":"_acme-challenge.test.lexicon-example.com","type":"TXT","zone":"lexicon-example.com"},{"value":"challengetoken","record":"orig.test.lexicon-example.com","type":"TXT","zone":"lexicon-example.com"}]}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
