interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.timeweb.cloud/api/v1/domains/example.com
  response:
    body:
      string: '{"domain":{"domain_status":"paid","expiration":"2024-07-01","fqdn":"example.com","id":13140253,"is_premium":false,"is_technical":false,"days_left":0,"linked_ip":null,"paid_till":null,"person_id":852321,"premium_prolong_cost":null,"provider":"PDR","request_status":null,"subdomains":[{"fqdn":"subdomain.example.com","id":13170019,"linked_ip":null}],"tld_id":24,"is_whois_privacy_enabled":null},"response_id":"86932730-8179-45a2-a44e-742f905e25aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"45d-iEQqlJ8EB+6YCAyYiDvgrW5tyYk"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.timeweb.cloud/api/v1/domains/example.com/dns-records?limit=100&offset=0
  response:
    body:
      string: '{"meta":{"total":11},"dns_records":[{"data":{"subdomain":"random.fulltest","value":"challengetoken"},"id":55806403,"type":"TXT"},{"data":{"subdomain":"random.fqdntest","value":"challengetoken"},"id":55806401,"type":"TXT"},{"data":{"subdomain":"_acme-challenge.listrecordset","value":"challengetoken2"},"id":55806399,"type":"TXT"},{"data":{"subdomain":"_acme-challenge.listrecordset","value":"challengetoken1"},"id":55806397,"type":"TXT"},{"data":{"subdomain":"_acme-challenge.deleterecordinset","value":"challengetoken2"},"id":55806375,"type":"TXT"},{"data":{"subdomain":"_acme-challenge.noop","value":"challengetoken"},"id":55806363,"type":"TXT"},{"data":{"subdomain":"_acme-challenge.createrecordset","value":"challengetoken2"},"id":55806361,"type":"TXT"},{"data":{"subdomain":"_acme-challenge.createrecordset","value":"challengetoken1"},"id":55806359,"type":"TXT"},{"data":{"subdomain":"_acme-challenge.test","value":"challengetoken"},"id":55806357,"type":"TXT"},{"data":{"subdomain":"_acme-challenge.full","value":"challengetoken"},"id":55806355,"type":"TXT"},{"data":{"subdomain":"_acme-challenge.fqdn","value":"challengetoken"},"id":55806353,"type":"TXT"}],"response_id":"48e68d64-e056-43c8-9c7d-1d57d713fd55"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8ee-DGVSzcNjNi8rKCtvTdgExGmHslA"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 200
      message: OK
version: 1
