interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.timeweb.cloud/api/v1/domains/example.com
  response:
    body:
      string: '{"domain":{"domain_status":"paid","expiration":"2024-07-01","fqdn":"example.com","id":13140253,"is_premium":false,"is_technical":false,"days_left":0,"linked_ip":null,"paid_till":null,"person_id":852321,"premium_prolong_cost":null,"provider":"PDR","request_status":null,"subdomains":[{"fqdn":"subdomain.example.com","id":13170019,"linked_ip":null}],"tld_id":24,"is_whois_privacy_enabled":null},"response_id":"86932730-8179-45a2-a44e-742f905e25aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"45d-gL2Nuhw4He7PgUmqr6zojHB279E"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: '{"subdomain": "orig.test", "type": "TXT", "value": "challengetoken"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.timeweb.cloud/api/v1/domains/example.com/dns-records
  response:
    body:
      string: '{"dns_record":{"data":{"subdomain":"orig.test","value":"challengetoken"},"id":55806407,"type":"TXT"},"response_id":"10218abd-066b-4501-ab03-9803506d2b1b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a-sSnAhW5BWWdQraMrAYaVA7JYAPA"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.timeweb.cloud/api/v1/domains/example.com/dns-records?limit=100&offset=0
  response:
    body:
      string: '{"meta":{"total":13},"dns_records":[{"data":{"subdomain":"orig.test","value":"challengetoken"},"id":55806407,"type":"TXT"},{"data":{"subdomain":"random.test","value":"challengetoken"},"id":55806405,"type":"TXT"},{"data":{"subdomain":"random.fulltest","value":"challengetoken"},"id":55806403,"type":"TXT"},{"data":{"subdomain":"random.fqdntest","value":"challengetoken"},"id":55806401,"type":"TXT"},{"data":{"subdomain":"_acme-challenge.listrecordset","value":"challengetoken2"},"id":55806399,"type":"TXT"},{"data":{"subdomain":"_acme-c[...]
[...]
- request:
    body: '{"subdomain": "updated.test", "type": "TXT", "value": "challengetoken"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.timeweb.cloud/api/v1/domains/example.com/dns-records/55806407
  response:
    body:
      string: '{"dns_record":{"data":{"subdomain":"updated.test","value":"challengetoken"},"id":55806407,"type":"TXT"},"response_id":"b3ccde60-4227-4f6e-a68f-fdf049c31c49"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d-k0wRqREHAKWfAwtrTqwnFjGAK8s"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 200
      message: OK
version: 1
