interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.timeweb.cloud/api/v1/domains/example.com
  response:
    body:
      string: '{"domain":{"domain_status":"paid","expiration":"2024-07-01","fqdn":"example.com","id":13140253,"is_premium":false,"is_technical":false,"days_left":0,"linked_ip":null,"paid_till":null,"person_id":852321,"premium_prolong_cost":null,"provider":"PDR","request_status":null,"subdomains":[{"fqdn":"subdomain.example.com","id":13170019,"linked_ip":null}],"tld_id":24,"is_whois_privacy_enabled":null},"response_id":"86932730-8179-45a2-a44e-742f905e25aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"45d-jW7nVtreETCvyfQH5leBOwVdCS8"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: '{"subdomain": "_acme-challenge.test", "type": "TXT", "value": "challengetoken"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.timeweb.cloud/api/v1/domains/example.com/dns-records
  response:
    body:
      string: '{"dns_record":{"data":{"subdomain":"_acme-challenge.test","value":"challengetoken"},"id":55806357,"type":"TXT"},"response_id":"187e17fe-0c70-4eaf-8378-3fcbf7a2ca8c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a5-Dc2QOy9i1azyZdNTo/Jn4P/wLD0"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 201
      message: Created
version: 1
