interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.timeweb.cloud/api/v1/domains/thisisadomainidonotown.com
  response:
    body:
      string: '{"status_code":404,"error_code":"not_found","message":"Not found","response_id":"07b9450d-f806-4023-828e-9fd9f314543d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77-pbzDs7QM1PWBWl/fBmBdpxS7aXA"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 404
      message: Not Found
version: 1
