interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.timeweb.cloud/api/v1/domains/example.com
  response:
    body:
      string: '{"domain":{"domain_status":"paid","expiration":"2024-07-01","fqdn":"example.com","id":13140253,"is_premium":false,"is_technical":false,"days_left":0,"linked_ip":null,"paid_till":null,"person_id":852321,"premium_prolong_cost":null,"provider":"PDR","request_status":null,"subdomains":[{"fqdn":"subdomain.example.com","id":13170019,"linked_ip":null}],"tld_id":24,"is_whois_privacy_enabled":null},"response_id":"86932730-8179-45a2-a44e-742f905e25aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"45d-rb09UIatkW0a5bAkwMd0vrwH//k"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: '{"subdomain": "random.test", "type": "TXT", "value": "challengetoken"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.timeweb.cloud/api/v1/domains/example.com/dns-records
  response:
    body:
      string: '{"dns_record":{"data":{"subdomain":"random.test","value":"challengetoken"},"id":55806405,"type":"TXT"},"response_id":"c856f586-de1c-4cd5-8e47-fc3e8e831567"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c-Jp/5ljhsk9WHytfg1pIRQBZkbog"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.timeweb.cloud/api/v1/domains/example.com/dns-records?limit=100&offset=0
  response:
    body:
      string: '{"meta":{"total":12},"dns_records":[{"data":{"subdomain":"random.test","value":"challengetoken"},"id":55806405,"type":"TXT"},{"data":{"subdomain":"random.fulltest","value":"challengetoken"},"id":55806403,"type":"TXT"},{"data":{"subdomain":"random.fqdntest","value":"challengetoken"},"id":55806401,"type":"TXT"},{"data":{"subdomain":"_acme-challenge.listrecordset","value":"challengetoken2"},"id":55806399,"type":"TXT"},{"data":{"subdomain":"_acme-challenge.listrecordset","value":"challengetoken1"},"id":55806397,"type":"TXT"},{"data":[...]
