interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.timeweb.cloud/api/v1/domains/example.com
  response:
    body:
      string: '{"domain":{"domain_status":"paid","expiration":"2024-07-01","fqdn":"example.com","id":13140253,"is_premium":false,"is_technical":false,"days_left":0,"linked_ip":null,"paid_till":null,"person_id":852321,"premium_prolong_cost":null,"provider":"PDR","request_status":null,"subdomains":[{"fqdn":"subdomain.example.com","id":13170019,"linked_ip":null}],"tld_id":24,"is_whois_privacy_enabled":null},"response_id":"86932730-8179-45a2-a44e-742f905e25aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"45d-COKS31VFkzCCrOflrB2nKCGEbbo"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: '{"subdomain": "orig.testfqdn", "type": "TXT", "value": "challengetoken"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.timeweb.cloud/api/v1/domains/example.com/dns-records
  response:
    body:
      string: '{"dns_record":{"data":{"subdomain":"orig.testfqdn","value":"challengetoken"},"id":55806411,"type":"TXT"},"response_id":"3a700262-fc35-46b1-95c3-6b0ec07ef5e9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9e-9Ct8SLIDk8lI7T9H3o1UKJdvBTk"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.timeweb.cloud/api/v1/domains/example.com/dns-records?limit=100&offset=0
  response:
    body:
      string: '{"meta":{"total":15},"dns_records":[{"data":{"subdomain":"orig.testfqdn","value":"challengetoken"},"id":55806411,"type":"TXT"},{"data":{"subdomain":"orig.nameonly.test","value":"updated"},"id":55806409,"type":"TXT"},{"data":{"subdomain":"updated.test","value":"challengetoken"},"id":55806407,"type":"TXT"},{"data":{"subdomain":"random.test","value":"challengetoken"},"id":55806405,"type":"TXT"},{"data":{"subdomain":"random.fulltest","value":"challengetoken"},"id":55806403,"type":"TXT"},{"data":{"subdomain":"random.fqdntest","value":[...]
[...]
- request:
    body: '{"subdomain": "updated.testfqdn", "type": "TXT", "value": "challengetoken"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.timeweb.cloud/api/v1/domains/example.com/dns-records/55806411
  response:
    body:
      string: '{"dns_record":{"data":{"subdomain":"updated.testfqdn","value":"challengetoken"},"id":55806411,"type":"TXT"},"response_id":"5085598d-b0a9-4eeb-b914-89f51e0e3746"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a1-Tbbq3PTMniARoRiCrVKaxGYxBxk"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 200
      message: OK
version: 1
