interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.timeweb.cloud/api/v1/domains/example.com
  response:
    body:
      string: '{"domain":{"domain_status":"paid","expiration":"2024-07-01","fqdn":"example.com","id":13140253,"is_premium":false,"is_technical":false,"days_left":0,"linked_ip":null,"paid_till":null,"person_id":852321,"premium_prolong_cost":null,"provider":"PDR","request_status":null,"subdomains":[{"fqdn":"subdomain.example.com","id":13170019,"linked_ip":null}],"tld_id":24,"is_whois_privacy_enabled":null},"response_id":"86932730-8179-45a2-a44e-742f905e25aa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"45d-z0iu8DRThTTQy423bii2zvfOOqg"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 200
      message: OK
- request:
    body: '{"subdomain": "_acme-challenge.fqdn", "type": "TXT", "value": "challengetoken"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.timeweb.cloud/api/v1/domains/example.com/dns-records
  response:
    body:
      string: '{"dns_record":{"data":{"subdomain":"_acme-challenge.fqdn","value":"challengetoken"},"id":55806353,"type":"TXT"},"response_id":"8087997c-43c7-470a-99b6-79fd117e0d8c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a5-PXp9rOp3bp6RRP1dgYx9pbR2mgA"
      X-Krakend:
      - Version 2.4.3
      X-Krakend-Completed:
      - 'false'
    status:
      code: 201
      message: Created
version: 1
