interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: http://sandbox.rest.easydns.net/domain/thisisadomainidonotown.com?format=json
  response:
    body: {string: !!python/unicode '


        {"msg":"OK","tm":1459791538,"data":{"id":"thisisadomainidonotown.com","domain":"thisisadomainidonotown.com","exists":"N","onsystem":"N","expiry":null,"next_due":null,"cloned_to":"NONE","service":null,"sub_block":"NONE"},"status":200}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
