interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: http://sandbox.rest.easydns.net/domain/easydnstemp.com?format=json
  response:
    body: {string: !!python/unicode '


        {"msg":"OK","tm":1459792022,"data":{"id":"easydnstemp.com","domain":"easydnstemp.com","exists":"Y","onsystem":"Y","expiry":"2017-04-04","next_due":"2017-04-04","cloned_to":"NONE","service":"19","sub_block":"NONE"},"status":200}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"domain": "easydnstemp.com", "prio": 0, "ttl": 300, "host": "orig.test",
      "rdata": "challengetoken", "type": "TXT"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: http://sandbox.rest.easydns.net/zones/records/add/easydnstemp.com/TXT?format=json
  response:
    body: {string: !!python/unicode '


        {"error":{"code":409,"message":"Record already exists"}}'}
    headers:
      content-type: [application/json]
    status: {code: 409, message: Conflict}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: http://sandbox.rest.easydns.net/zones/records/all/easydnstemp.com?format=json
  response:
    body: {string: !!python/unicode '


        {"tm":1459792026,"data":[{"id":"28453449","domain":"easydnstemp.com","host":"random.fqdntest","ttl":"300","prio":"0","type":"TXT","rdata":"challengetoken","geozone_id":"0","last_mod":"2016-04-04
        13:44:03"},{"id":"28453450","domain":"easydnstemp.com","host":"random.fulltest","ttl":"300","prio":"0","type":"TXT","rdata":"challengetoken","geozone_id":"0","last_mod":"2016-04-04
        13:44:03"},{"id":"28453454","domain":"easydnstemp.com","host":"orig.testfull","ttl":"300","prio":"0","type":"TXT","rdata":"challengetoken","geozone_id":"0","last_mod":"2016-04-04
        13:44:03"},{"id":"28453451","domain":"easydnstemp.com","host":"random.test","ttl":"300","prio":"0","type[...]
- request:
    body: '{"host": "updated.test", "rdata": "challengetoken", "type": "TXT", "ttl":
      300}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: http://sandbox.rest.easydns.net/zones/records/28453452?format=json
  response:
    body: {string: !!python/unicode '


        {"msg":"Record updated successfully.","tm":1459792029,"data":{"id":"28453452","domain":"easydnstemp.com","host":"updated.test","ttl":"300","prio":"0","type":"TXT","rdata":"challengetoken","geozone_id":"0","last_mod":"2016-04-04
        13:47:09"},"status":200}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
