interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: http://sandbox.rest.easydns.net/domain/easydnstemp.com?format=json
  response:
    body: {string: !!python/unicode '


        {"msg":"OK","tm":1459791807,"data":{"id":"easydnstemp.com","domain":"easydnstemp.com","exists":"Y","onsystem":"Y","expiry":"2017-04-04","next_due":"2017-04-04","cloned_to":"NONE","service":"19","sub_block":"NONE"},"status":200}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"domain": "easydnstemp.com", "prio": 0, "ttl": 300, "host": "random.test",
      "rdata": "challengetoken", "type": "TXT"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: http://sandbox.rest.easydns.net/zones/records/add/easydnstemp.com/TXT?format=json
  response:
    body: {string: !!python/unicode '


        '}
    headers:
      content-type: [text/html]
    status: {code: 500, message: Internal Server Error}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: http://sandbox.rest.easydns.net/zones/records/all/easydnstemp.com?format=json
  response:
    body: {string: !!python/unicode '


        {"tm":1459791811,"data":[{"id":"28453449","domain":"easydnstemp.com","host":"random.fqdntest","ttl":"300","prio":"0","type":"TXT","rdata":"challengetoken","geozone_id":"0","last_mod":"2016-04-04
        13:43:31"},{"id":"28453450","domain":"easydnstemp.com","host":"random.fulltest","ttl":"300","prio":"0","type":"TXT","rdata":"challengetoken","geozone_id":"0","last_mod":"2016-04-04
        13:43:31"},{"id":"28453451","domain":"easydnstemp.com","host":"random.test","ttl":"300","prio":"0","type":"TXT","rdata":"challengetoken","geozone_id":"0","last_mod":"2016-04-04
        13:43:31"},{"id":"28453447","domain":"easydnstemp.com","host":"_acme-challenge.full","ttl":"300","prio":"0[...]
