interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: http://sandbox.rest.easydns.net/domain/easydnstemp.com?format=json
  response:
    body: {string: !!python/unicode '


        {"msg":"OK","tm":1469913500,"data":{"id":"easydnstemp.com","domain":"easydnstemp.com","exists":"Y","onsystem":"Y","expiry":"2017-04-04","next_due":"2017-04-04","cloned_to":"NONE","service":"19","sub_block":"NONE"},"status":200}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"domain": "easydnstemp.com", "prio": 0, "ttl": 3600, "host": "ttl.fqdn",
      "rdata": "ttlshouldbe3600", "type": "TXT"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: http://sandbox.rest.easydns.net/zones/records/add/easydnstemp.com/TXT?format=json
  response:
    body: {string: !!python/unicode '


        {"msg":"OK","tm":1469913523,"data":{"host":"ttl.fqdn","geozone_id":0,"ttl":3600,"prio":0,"rdata":"ttlshouldbe3600","revoked":0,"id":"30108531","new_host":"ttl.fqdn.easydnstemp.com"},"status":201}'}
    headers:
      content-type: [application/json]
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: http://sandbox.rest.easydns.net/zones/records/all/easydnstemp.com?format=json
  response:
    body: {string: !!python/unicode '


        {"tm":1469913540,"data":[{"id":"28453449","domain":"easydnstemp.com","host":"random.fqdntest","ttl":"300","prio":"0","type":"TXT","rdata":"challengetoken","geozone_id":"0","last_mod":"2016-07-30
        17:18:43"},{"id":"28453450","domain":"easydnstemp.com","host":"random.fulltest","ttl":"300","prio":"0","type":"TXT","rdata":"challengetoken","geozone_id":"0","last_mod":"2016-07-30
        17:18:43"},{"id":"28453454","domain":"easydnstemp.com","host":"updated.testfull","ttl":"300","prio":"0","type":"TXT","rdata":"challengetoken","geozone_id":"0","last_mod":"2016-07-30
        17:18:43"},{"id":"28453451","domain":"easydnstemp.com","host":"random.test","ttl":"300","prio":"0","t[...]
