interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: http://sandbox.rest.easydns.net/domain/easydnstemp.com?format=json
  response:
    body: {string: !!python/unicode '


        {"msg":"OK","tm":1459791710,"data":{"id":"easydnstemp.com","domain":"easydnstemp.com","exists":"Y","onsystem":"Y","expiry":"2017-04-04","next_due":"2017-04-04","cloned_to":"NONE","service":"19","sub_block":"NONE"},"status":200}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"domain": "easydnstemp.com", "prio": 0, "ttl": 300, "host": "localhost",
      "rdata": "127.0.0.1", "type": "A"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: http://sandbox.rest.easydns.net/zones/records/add/easydnstemp.com/A?format=json
  response:
    body: {string: !!python/unicode '


        '}
    headers:
      content-type: [text/html]
    status: {code: 500, message: Internal Server Error}
version: 1
