interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com
  response:
    body: {string: '{"domain":{"name":"lexicontest.com","expires_on":null,"service_count":0,"state":"hosted","unicode_name":"lexicontest.com","record_count":0,"updated_at":"2018-07-05T11:32:18Z","token":"aa2c71115e27af7806aa95b8859d94fd","id":384314,"whois_protected":false,"created_at":"2018-07-05T11:32:18Z","auto_renew":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records?record_type=TXT&name=_acme-challenge.createrecordset
  response:
    body: {string: '[{"record":{"record_type":"SOA","content":"ns1.exoscale.io admin.dnsimple.com
        1530790344 86400 7200 604800 300","name":"","updated_at":"2018-07-05T11:32:36Z","ttl":3600,"id":14193225,"domain_id":384314,"created_at":"2018-07-05T11:32:18Z","prio":null}},{"record":{"record_type":"NS","content":"ns1.exoscale.net","name":"","updated_at":"2018-07-05T11:32:18Z","ttl":3600,"id":14193226,"domain_id":384314,"created_at":"2018-07-05T11:32:18Z","prio":null}},{"record":{"record_type":"NS","content":"ns1.exoscale.ch","name":"","updated_at":"2018-07-05T11:32:18Z","ttl":3600,"id":14193227,"domain_id":384314,"created_at":"2018-07-05T11:32:18Z","prio":null}},{"record":{"record_type":"NS","content":"ns1.exoscale.com","name":"","updated_at":"2018-07-05T11[...]
- request:
    body: '{"record": {"record_type": "TXT", "name": "_acme-challenge.createrecordset",
      "content": "challengetoken1", "ttl": 3600}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records
  response:
    body: {string: '{"record":{"record_type":"TXT","content":"challengetoken1","name":"_acme-challenge.createrecordset","updated_at":"2018-07-05T11:32:37Z","ttl":3600,"id":14193237,"domain_id":384314,"created_at":"2018-07-05T11:32:37Z","prio":null}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"8db6afd3814febc46f30192664a24525"]
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"record": {"record_type": "TXT", "name": "_acme-challenge.createrecordset",
      "content": "challengetoken2", "ttl": 3600}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records
  response:
    body: {string: '{"record":{"record_type":"TXT","content":"challengetoken2","name":"_acme-challenge.createrecordset","updated_at":"2018-07-05T11:32:38Z","ttl":3600,"id":14193238,"domain_id":384314,"created_at":"2018-07-05T11:32:38Z","prio":null}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"e4d3934c76f233e22d627b59f6fac15c"]
    status: {code: 201, message: Created}
version: 1
