interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com
  response:
    body: {string: '{"domain":{"name":"lexicontest.com","expires_on":null,"service_count":0,"state":"hosted","unicode_name":"lexicontest.com","record_count":0,"updated_at":"2018-07-05T11:32:18Z","token":"aa2c71115e27af7806aa95b8859d94fd","id":384314,"whois_protected":false,"created_at":"2018-07-05T11:32:18Z","auto_renew":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records?record_type=TXT&name=orig.testfull
  response:
    body: {string: '[{"record":{"record_type":"SOA","content":"ns1.exoscale.io admin.dnsimple.com
        1530790373 86400 7200 604800 300","name":"","updated_at":"2018-07-05T11:33:07Z","ttl":3600,"id":14193225,"domain_id":384314,"created_at":"2018-07-05T11:32:18Z","prio":null}},{"record":{"record_type":"NS","content":"ns1.exoscale.net","name":"","updated_at":"2018-07-05T11:32:18Z","ttl":3600,"id":14193226,"domain_id":384314,"created_at":"2018-07-05T11:32:18Z","prio":null}},{"record":{"record_type":"NS","content":"ns1.exoscale.ch","name":"","updated_at":"2018-07-05T11:32:18Z","ttl":3600,"id":14193227,"domain_id":384314,"created_at":"2018-07-05T11:32:18Z","prio":null}},{"record":{"record_type":"NS","content":"ns1.exoscale.com","name":"","updated_at":"2018-07-05T11[...]
- request:
    body: '{"record": {"record_type": "TXT", "name": "orig.testfull", "content": "challengetoken",
      "ttl": 3600}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records
  response:
    body: {string: '{"record":{"record_type":"TXT","content":"challengetoken","name":"orig.testfull","updated_at":"2018-07-05T11:33:08Z","ttl":3600,"id":14193259,"domain_id":384314,"created_at":"2018-07-05T11:33:08Z","prio":null}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"48ce1f7d87d2c6a60e2c0ca6e8474ded"]
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"name": "updated.testfull", "content": "challengetoken", "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records/14193259
  response:
    body: {string: '{"record":{"record_type":"TXT","content":"challengetoken","name":"updated.testfull","updated_at":"2018-07-05T11:33:08Z","ttl":3600,"id":14193259,"domain_id":null,"created_at":"2018-07-05T11:33:08Z","prio":null}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"bc525d41594c12ced30f1a8aef87e02e"]
    status: {code: 200, message: OK}
version: 1
