interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com
  response:
    body: {string: '{"domain":{"name":"lexicontest.com","expires_on":null,"service_count":0,"state":"hosted","unicode_name":"lexicontest.com","record_count":0,"updated_at":"2018-07-06T08:55:12Z","token":"004b1d549f133893658ef67a2950dfd5","id":384572,"whois_protected":false,"created_at":"2018-07-06T08:55:12Z","auto_renew":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records?record_type=TXT&name=orig.testfqdn
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"record": {"record_type": "TXT", "name": "orig.testfqdn", "content": "challengetoken",
      "ttl": 3600}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records
  response:
    body: {string: '{"record":{"record_type":"TXT","content":"challengetoken","name":"orig.testfqdn","updated_at":"2018-07-06T09:00:13Z","ttl":3600,"id":14197236,"domain_id":384572,"created_at":"2018-07-06T09:00:13Z","prio":null}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"fd0bea489723d2925c455a878a3e1ab7"]
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"name": "updated.testfqdn", "content": "challengetoken", "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records/14197236
  response:
    body: {string: '{"record":{"record_type":"TXT","content":"challengetoken","name":"updated.testfqdn","updated_at":"2018-07-06T09:00:15Z","ttl":3600,"id":14197236,"domain_id":null,"created_at":"2018-07-06T09:00:13Z","prio":null}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"4f09c66e3c4943531ff761ca9d1146f2"]
    status: {code: 200, message: OK}
version: 1
