interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com
  response:
    body: {string: '{"domain":{"name":"lexicontest.com","expires_on":null,"service_count":0,"state":"hosted","unicode_name":"lexicontest.com","record_count":0,"updated_at":"2018-07-05T11:32:18Z","token":"aa2c71115e27af7806aa95b8859d94fd","id":384314,"whois_protected":false,"created_at":"2018-07-05T11:32:18Z","auto_renew":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
