interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com
  response:
    body: {string: '{"domain":{"name":"lexicontest.com","expires_on":null,"service_count":0,"state":"hosted","unicode_name":"lexicontest.com","record_count":0,"updated_at":"2018-07-06T08:55:12Z","token":"004b1d549f133893658ef67a2950dfd5","id":384572,"whois_protected":false,"created_at":"2018-07-06T08:55:12Z","auto_renew":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records?record_type=TXT&name=orig.test
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"record": {"record_type": "TXT", "name": "orig.test", "content": "challengetoken",
      "ttl": 3600}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records
  response:
    body: {string: '{"record":{"record_type":"TXT","content":"challengetoken","name":"orig.test","updated_at":"2018-07-06T08:59:52Z","ttl":3600,"id":14197235,"domain_id":384572,"created_at":"2018-07-06T08:59:52Z","prio":null}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"609b06e9be177b5035a98bba8c83e52d"]
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"name": "updated.test", "content": "challengetoken", "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records/14197235
  response:
    body: {string: '{"record":{"record_type":"TXT","content":"challengetoken","name":"updated.test","updated_at":"2018-07-06T08:59:54Z","ttl":3600,"id":14197235,"domain_id":null,"created_at":"2018-07-06T08:59:52Z","prio":null}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"57c3044e61aec05e2d814a0d3924dab2"]
    status: {code: 200, message: OK}
version: 1
