interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.com/dns/v1/domains/lexicontest.com
  response:
    body: {string: '{"domain":{"name":"lexicontest.com","expires_on":null,"service_count":0,"state":"hosted","unicode_name":"lexicontest.com","record_count":0,"updated_at":"2019-02-01T07:29:38Z","token":"9d30931ed5c454244b50855180e8ca75","id":440987,"whois_protected":false,"created_at":"2019-02-01T07:29:38Z","auto_renew":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.com/dns/v1/domains/lexicontest.com/records?record_type=A&name=localhost
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"record": {"record_type": "A", "name": "localhost", "content": "127.0.0.1",
      "ttl": 3600}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.exoscale.com/dns/v1/domains/lexicontest.com/records
  response:
    body: {string: '{"record":{"record_type":"A","content":"127.0.0.1","name":"localhost","updated_at":"2019-02-01T07:31:56Z","ttl":3600,"id":15204362,"domain_id":440987,"created_at":"2019-02-01T07:31:56Z","prio":null}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 201, message: Created}
version: 1
