interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com
  response:
    body: {string: '{"domain":{"name":"lexicontest.com","expires_on":null,"service_count":0,"state":"hosted","unicode_name":"lexicontest.com","record_count":0,"updated_at":"2018-07-06T08:55:12Z","token":"004b1d549f133893658ef67a2950dfd5","id":384572,"whois_protected":false,"created_at":"2018-07-06T08:55:12Z","auto_renew":false}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records?record_type=TXT&name=_acme-challenge.listrecordset
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"record": {"record_type": "TXT", "name": "_acme-challenge.listrecordset",
      "content": "challengetoken1", "ttl": 3600}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records
  response:
    body: {string: '{"record":{"record_type":"TXT","content":"challengetoken1","name":"_acme-challenge.listrecordset","updated_at":"2018-07-06T08:58:28Z","ttl":3600,"id":14197230,"domain_id":384572,"created_at":"2018-07-06T08:58:28Z","prio":null}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"6a3cb6ae03792fd5eecfb13ff8cf7f13"]
    status: {code: 201, message: Created}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.exoscale.ch/dns/v1/domains/lexicontest.com/records?record_type=TXT&name=_acme-challenge.listrecordset
  response:
    body: {string: '[{"record":{"record_type":"TXT","content":"challengetoken1","name":"_acme-challenge.listrecordset","updated_at":"2018-07-06T08:58:28Z","ttl":3600,"id":14197230,"domain_id":384572,"created_at":"2018-07-06T08:58:28Z","prio":null}},{"record":{"record_type":"TXT","content":"challengetoken2","name":"_acme-challenge.listrecordset","updated_at":"2018-07-06T08:58:29Z","ttl":3600,"id":14197231,"domain_id":384572,"created_at":"2018-07-06T08:58:29Z","prio":null}}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
