interactions:
- request:
    body: !!python/unicode 'client_secret=CLIENT_SECRET&grant_type=client_credentials&resource=https%3A%2F%2Fmanagement.azure.com&client_id=CLIENT_ID'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/TENANT_ID/oauth2/token
  response:
    body:
      string: !!python/unicode '{"token_type":"Bearer","expires_in":"3600","ext_expires_in":"3600","expires_on":"1557007345","not_before":"1557003445","resource":"https://management.azure.com","access_token":"TOKEN"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer TOKEN
    method: GET
    uri: https://management.azure.com/subscriptions/SUBSCRIPTION_ID/resourceGroups/dns-test/providers/Microsoft.Network/dnsZones?api-version=2018-03-01-preview
  response:
    body:
      string: !!python/unicode '{"value":[{"id":"\/subscriptions\/SUBSCRIPTION_ID\/resourceGroups\/dns-test\/providers\/Microsoft.Network\/dnszones\/full4ir.tk","name":"full4ir.tk","type":"Microsoft.Network\/dnszones","etag":"00000002-0000-0000-a2fa-8fbbededd401","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-07.azure-dns.com.","ns2-07.azure-dns.net.","ns3-07.azure-dns.org.","ns4-07.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '59998'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer TOKEN
    method: GET
    uri: https://management.azure.com/subscriptions/SUBSCRIPTION_ID/resourceGroups/dns-test/providers/Microsoft.Network/dnszones/full4ir.tk/A?api-version=2018-03-01-preview
  response:
    body:
      string: !!python/unicode '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '60000'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"properties": {"ARecords": [{"ipv4Address": "127.0.0.1"}],
      "TTL": 3600}}'
    headers:
      Authorization:
      - Bearer TOKEN
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/SUBSCRIPTION_ID/resourceGroups/dns-test/providers/Microsoft.Network/dnszones/full4ir.tk/A/localhost?api-version=2018-03-01-preview
  response:
    body:
      string: !!python/unicode '{"id":"\/subscriptions\/SUBSCRIPTION_ID\/resourceGroups\/dns-test\/providers\/Microsoft.Network\/dnszones\/full4ir.tk\/A\/localhost","name":"localhost","type":"Microsoft.Network\/dnszones\/A","etag":"047441b4-a07e-4c1d-a53f-312eebc95a29","properties":{"fqdn":"localhost.full4ir.tk.","TTL":3600,"ARecords":[{"ipv4Address":"127.0.0.1"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 047441b4-a07e-4c1d-a53f-312eebc95a29
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
version: 1
