interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/api/?api_key=xxxxxxxxxx&api_action=domain.list&resultFormat=JSON
  response:
    body: {string: '{"ACTION":"domain.list","DATA":[{"DOMAIN":"lexicon-example.com","AXFR_IPS":"none","TTL_SEC":0,"DOMAINID":1019812,"SOA_EMAIL":"trinopoty@hotmail.com","EXPIRE_SEC":0,"RETRY_SEC":0,"STATUS":1,"DESCRIPTION":"","LPM_DISPLAYGROUP":"","REFRESH_SEC":0,"MASTER_IPS":"","TYPE":"master"}],"ERRORARRAY":[]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/api/?api_key=xxxxxxxxxx&Type=TXT&TTL_sec=0&api_action=domain.resource.create&resultFormat=JSON&Name=_acme-challenge.full&DomainID=1019812&Target=challengetoken
  response:
    body: {string: '{"ACTION":"domain.resource.create","DATA":{"ResourceID":8584582},"ERRORARRAY":[]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
