interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/api/?api_action=domain.list&resultFormat=JSON
  response:
    body: {string: '{"ACTION":"domain.list","DATA":[{"DOMAIN":"lexicon-example.com","AXFR_IPS":"none","TTL_SEC":0,"DOMAINID":1019812,"SOA_EMAIL":"trinopoty@hotmail.com","EXPIRE_SEC":0,"RETRY_SEC":0,"STATUS":1,"DESCRIPTION":"","LPM_DISPLAYGROUP":"","REFRESH_SEC":0,"MASTER_IPS":"","TYPE":"master"}],"ERRORARRAY":[]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/api/?DomainID=1019812&Name=orig.test&TTL_sec=0&Target=challengetoken&Type=TXT&api_action=domain.resource.create&resultFormat=JSON
  response:
    body: {string: '{"ACTION":"domain.resource.create","DATA":{"ResourceID":8584660},"ERRORARRAY":[]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/api/?DomainID=1019812&api_action=domain.resource.list&resultFormat=JSON
  response:
    body: {string: '{"ACTION":"domain.resource.list","DATA":[{"TARGET":"docs.example.com","TTL_SEC":0,"PORT":80,"DOMAINID":1019812,"PROTOCOL":"","PRIORITY":10,"TAG":"","WEIGHT":5,"RESOURCEID":8584648,"TYPE":"CNAME","NAME":"docs"},{"TARGET":"127.0.0.1","TTL_SEC":0,"PORT":80,"DOMAINID":1019812,"PROTOCOL":"","PRIORITY":10,"TAG":"","WEIGHT":5,"RESOURCEID":8584647,"TYPE":"A","NAME":"localhost"},{"TARGET":"challengetoken","TTL_SEC":0,"PORT":80,"DOMAINID":1019812,"PROTOCOL":"","PRIORITY":10,"TAG":"","WEIGHT":5,"RESOURCEID":8584660,"TYPE":"TXT","NAME":"orig.test"},{"TARGET":"challengetoken","TTL_SEC":0,"PORT":80,"DOMAINID":1019812,"PROTOCOL":"","PRIORITY":10,"TAG":"","WEIGHT":5,"RESOURCEID":8584657,"TYPE":"TXT","NAME":"r[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/api/?DomainID=1019812&Name=updated.test&ResourceID=8584660&Target=challengetoken&Type=TXT&api_action=domain.resource.update&resultFormat=JSON
  response:
    body: {string: '{"ACTION":"domain.resource.update","DATA":{"ResourceID":8584660},"ERRORARRAY":[]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
