interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/api/?api_action=domain.list&resultFormat=JSON
  response:
    body: {string: !!python/unicode '{"ACTION":"domain.list","DATA":[{"DOMAIN":"lexicon-example.com","AXFR_IPS":"none","TTL_SEC":0,"DOMAINID":1047330,"SOA_EMAIL":"trinopoty@hotmail.com","EXPIRE_SEC":0,"RETRY_SEC":0,"STATUS":1,"DESCRIPTION":"","LPM_DISPLAYGROUP":"","REFRESH_SEC":0,"MASTER_IPS":"","TYPE":"master"}],"ERRORARRAY":[]}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/api/?DomainID=1047330&api_action=domain.resource.list&resultFormat=JSON
  response:
    body: {string: !!python/unicode '{"ACTION":"domain.resource.list","DATA":[{"TARGET":"127.0.0.1","TTL_SEC":0,"PORT":80,"DOMAINID":1047330,"PROTOCOL":"","PRIORITY":10,"TAG":"","WEIGHT":5,"RESOURCEID":9154867,"TYPE":"A","NAME":"localhost"}],"ERRORARRAY":[]}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/api/?DomainID=1047330&Name=docs&TTL_sec=0&Target=docs.example.com&Type=CNAME&api_action=domain.resource.create&resultFormat=JSON
  response:
    body: {string: !!python/unicode '{"ACTION":"domain.resource.create","DATA":{"ResourceID":9154868},"ERRORARRAY":[]}'}
    headers:
      content-type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
