interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.dns.constellix.com/v1/domains/
  response:
    body: {string: !!python/unicode '[{"id":23906,"name":"example.org","soa":{"primaryNameserver":"ns11.constellix.com.","email":"dns.constellix.com.","ttl":86400,"serial":2015010107,"refresh":43200,"retry":3600,"expire":1209600,"negCache":180},"createdTs":"2018-04-17T20:37:35Z","modifiedTs":"2018-04-17T20:37:56Z","typeId":1,"domainTags":[],"folder":null,"hasGtdRegions":false,"hasGeoIP":false,"nameserverGroup":1,"nameservers":["ns11.constellix.com.","ns21.constellix.com.","ns31.constellix.com.","ns41.constellix.net.","ns51.constellix.net.","ns61.constellix.net."],"note":"","version":5,"status":"ACTIVE","tags":[],"contactIds":[]},{"id":20063,"name":"actionkit.com","soa":{"primaryNameserver":"ns11.constellix.com.","email":"dns.constellix.com.","ttl":86400,"serial":2015010107,"refresh":43200,"retry":3600,"expire":1209600,"negCache":180},"createdTs":"2018-03-28T15:56:03Z","modifiedTs":"2018-04-15T03:39:50Z","typeId":1,"domainTags":[],"folder":null,"hasGtdRegions":false,"hasGeoIP":false,"nameserverGroup":1,"nameservers":["ns11.constellix.com.","ns21.constellix.com.","ns31.constellix.com.","ns41.constellix.net.","ns51.con[...]
- request:
    body: !!python/unicode '{"roundRobin": [{"disableFlag": false, "value": "challengetoken1"}],
      "name": "_acme-challenge.createrecordset", "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.dns.constellix.com/v1/domains/23906/records/TXT/
  response:
    body: {string: !!python/unicode '[{"id":92013,"type":"TXT","recordType":"txt","name":"_acme-challenge.createrecordset","recordOption":"roundRobin","noAnswer":false,"note":"","ttl":3600,"gtdRegion":1,"parentId":23906,"parent":"domain","source":"Domain","modifiedTs":1523997478031,"value":[{"value":"\"challengetoken1\"","disableFlag":false}],"roundRobin":[{"value":"\"challengetoken1\"","disableFlag":false}]}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
      requestlimitheader: ['300']
      requestsremainingheader: ['299']
      x-application-context: ['application:production']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"roundRobin": [{"disableFlag": false, "value": "challengetoken2"}],
      "name": "_acme-challenge.createrecordset", "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.dns.constellix.com/v1/domains/23906/records/TXT/
  response:
    body: {string: !!python/unicode '{"errors":["\"TXT\" record with name \"_acme-challenge.createrecordset\"
        in GTD Region \"Default\" of domain \"example.org\" already exists"]}'}
    headers:
      content-type: [application/json;charset=utf-8]
      requestlimitheader: ['300']
      requestsremainingheader: ['299']
      x-application-context: ['application:production']
    status: {code: 400, message: Bad Request}
[...]
- request:
    body: !!python/unicode '{"roundRobin": [{"disableFlag": false, "value": "challengetoken1"},
      {"disableFlag": false, "value": "challengetoken2"}], "id": 92013, "name": "_acme-challenge.createrecordset",
      "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.dns.constellix.com/v1/domains/23906/records/TXT/92013/
  response:
    body: {string: !!python/unicode '{"success":"Record  updated successfully"}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      requestlimitheader: ['300']
      requestsremainingheader: ['299']
      x-application-context: ['application:production']
    status: {code: 200, message: OK}
version: 1
