interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.dns.constellix.com/v1/domains/
  response:
    body: {string: !!python/unicode '[{"id":23906,"name":"example.org","soa":{"primaryNameserver":"ns11.constellix.com.","email":"dns.constellix.com.","ttl":86400,"serial":2015010112,"refresh":43200,"retry":3600,"expire":1209600,"negCache":180},"createdTs":"2018-04-17T20:37:35Z","modifiedTs":"2018-04-17T20:38:05Z","typeId":1,"domainTags":[],"folder":null,"hasGtdRegions":false,"hasGeoIP":false,"nameserverGroup":1,"nameservers":["ns11.constellix.com.","ns21.constellix.com.","ns31.constellix.com.","ns41.constellix.net.","ns51.constellix.net.","ns61.constellix.net."],"note":"","version":10,"status":"ACTIVE","tags":[],"contactIds":[]},{"id":20063,"name":"actionkit.com","soa":{"primaryNameserver":"ns11.constellix.com.","email":"dns.constellix.com.","ttl":86400,"serial":2015010107,"refresh":43200,"retry":3600,"expire":1209600,"negCache":180},"createdTs":"2018-03-28T15:56:03Z","modifiedTs":"2018-04-15T03:39:50Z","typeId":1,"domainTags":[],"folder":null,"hasGtdRegions":false,"hasGeoIP":false,"nameserverGroup":1,"nameservers":["ns11.constellix.com.","ns21.constellix.com.","ns31.constellix.com.","ns41.constellix.net.","ns51.con[...]
- request:
    body: !!python/unicode '{"roundRobin": [{"disableFlag": false, "value": "challengetoken"}],
      "name": "delete.testfqdn", "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.dns.constellix.com/v1/domains/23906/records/TXT/
  response:
    body: {string: !!python/unicode '[{"id":92018,"type":"TXT","recordType":"txt","name":"delete.testfqdn","recordOption":"roundRobin","noAnswer":false,"note":"","ttl":3600,"gtdRegion":1,"parentId":23906,"parent":"domain","source":"Domain","modifiedTs":1523997487213,"value":[{"value":"\"challengetoken\"","disableFlag":false}],"roundRobin":[{"value":"\"challengetoken\"","disableFlag":false}]}]'}
    headers:
      content-type: [application/json;charset=UTF-8]
      requestlimitheader: ['300']
      requestsremainingheader: ['299']
      x-application-context: ['application:production']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.dns.constellix.com/v1/domains/23906/records/TXT/92018/
  response:
    body: {string: !!python/unicode '{"success":"Record  deleted successfully"}'}
    headers:
      content-type: [application/json;charset=UTF-8]
      requestlimitheader: ['300']
      requestsremainingheader: ['299']
      x-application-context: ['application:production']
    status: {code: 200, message: OK}
[...]
