interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.sandbox.namecheap.com/xml.response?ClientIP=127.0.0.1&Command=namecheap.domains.getInfo&DomainName=thisisadomainidonotown.com
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ApiResponse Status=\"ERROR\"
        xmlns=\"http://api.namecheap.com/xml.response\">\r\n  <Errors>\r\n    <Error
        Number=\"2030166\">Domain is invalid</Error>\r\n  </Errors>\r\n  <Warnings
        />\r\n  <RequestedCommand>namecheap.domains.getinfo</RequestedCommand>\r\n
        \ <CommandResponse Type=\"namecheap.domains.getInfo\">\r\n    <DomainGetInfoResult
        ID=\"0\" IsOwner=\"false\" IsPremium=\"false\">\r\n      <DomainDetails>\r\n
        \       <NumYears>0</NumYears>\r\n      </DomainDetails>\r\n      <LockDetails
        />\r\n      <Whoisguard>\r\n        <ID>0</ID>\r\n      </Whoisguard>\r\n
        \     <PremiumDnsSubscription>\r\n        <UseAutoRenew>false</UseAutoRenew>\r\n
        \       <SubscriptionId>-1</SubscriptionId>\r\n        <CreatedDate>0001-01-01T00:00:00</CreatedDate>\r\n
        \       <ExpirationDate>0001-01-01T00:00:00</ExpirationDate>\r\n        <IsActive>false</IsActive>\r\n
        \     </PremiumDnsSubscription>\r\n      <DnsDetails IsUsingOurDNS=\"false\"
        HostCount=\"0\" DynamicDNSStatus=\"false\" IsFailover=\"false\" />\r\n      <Modificationrights
        />\r\n    </DomainGetInfoResult>\r\n  </CommandResponse>\r\n  <Server>PHX01SBAPIEXT02</Server>\r\n
        \ <GMTTimeDifference>--4:00</GMTTimeDifference>\r\n  <ExecutionTime>0.168</ExecutionTime>\r\n</ApiResponse>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
