interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.gis.gehirn.jp/dns/v1/zones
  response:
    body: {string: "[\n  {\n    \"id\": \"4c6409ac-b37f-4ca4-87ea-7915f44a84eb\",\n\
        \    \"current_version\": {\n      \"id\": \"fcd441e2-50ad-44e9-981b-7958200e8186\"\
        ,\n      \"created_at\": \"2018-03-05T10:35:45Z\",\n      \"editable\": true,\n\
        \      \"last_modified_at\": \"2018-03-05T10:35:45Z\",\n      \"name\": \"\
        test-01\"\n    },\n    \"current_version_id\": \"fcd441e2-50ad-44e9-981b-7958200e8186\"\
        ,\n    \"name\": \"example.com\"\n  }\n]"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
