interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.gis.gehirn.jp/dns/v1/zones
  response:
    body: {string: "[\n  {\n    \"id\": \"4c6409ac-b37f-4ca4-87ea-7915f44a84eb\",\n\
        \    \"current_version\": {\n      \"id\": \"fcd441e2-50ad-44e9-981b-7958200e8186\"\
        ,\n      \"created_at\": \"2018-03-05T10:35:45Z\",\n      \"editable\": true,\n\
        \      \"last_modified_at\": \"2018-03-05T10:36:23Z\",\n      \"name\": \"\
        test-01\"\n    },\n    \"current_version_id\": \"fcd441e2-50ad-44e9-981b-7958200e8186\"\
        ,\n    \"name\": \"example.com\"\n  }\n]"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.gis.gehirn.jp/dns/v1/zones/4c6409ac-b37f-4ca4-87ea-7915f44a84eb/versions/fcd441e2-50ad-44e9-981b-7958200e8186/records
  response:
    body: {string: "[\n  {\n    \"id\": \"6177fabf-e3e7-4a72-bfc7-9bc3c22d25da\",\n\
        \    \"type\": \"CNAME\",\n    \"name\": \"docs.example.com.\",\n\
        \    \"enable_alias\": false,\n    \"ttl\": 3600,\n    \"records\": [\n  \
        \    {\n        \"cname\": \"docs.example.com.example.com.\"\n \
        \     }\n    ]\n  },\n  {\n    \"id\": \"327ed843-a551-4602-82b5-b7b526ddd0fb\"\
        ,\n    \"type\": \"NS\",\n    \"name\": \"example.com.\",\n    \"\
        enable_alias\": false,\n    \"ttl\": 86400,\n    \"records\": [\n      {\n\
        \        \"nsdname\": \"ns2.gehirndns.com.\"\n      },\n      {\n        \"\
        nsdname\": \"ns2.gehirndns.net.\"\n      },\n      {\n        \"nsdname\"\
        : \"ns2.gehirndns.org.\"\n      },\n      {\n        \"nsdname\": \"ns2.gehirndns.jp.\"\
        \n      }\n    ]\n  },\n  {\n    \"id\": \"5c549aa3-2040-43a2-ac68-8393bad30c08\"\
        ,\n    \"type\": \"A\",\n    \"name\": \"localhost.example.com.\"\
        ,\n    \"enable_alias\": false,\n    \"ttl\": 3600,\n    \"records\": [\n\
        \      {\n        \"address\": \"127.0.0.1\"\n      }\n    ]\n  },\n  {\n\
        \    \"id\": \"a0eb2f2a-09a5-471f-852c-cbc25dcbb277\",\n    \"type\": \"TXT\"\
        ,\n    \"name\": \"random.fqdntest.example.com.\",\n    \"enable_alias\"\
        : false,\n    \"ttl\": 3600,\n    \"records\": [\n      {\n        \"data\"\
        : \"challengetoken\"\n      }\n    ]\n  },\n  {\n    \"id\": \"309991ef-f06b-4259-9701-336e60d0e2d7\"\
        ,\n    \"type\": \"TXT\",\n    \"name\": \"random.fulltest.example.com.\"\
        ,\n    \"enable_alias\": false,\n    \"ttl\": 3600,\n    \"records\": [\n\
        \      {\n        \"data\": \"challengetoken\"\n      }\n    ]\n  },\n  {\n\
        \    \"id\": \"ef3a2171-1b5f-48c2-874f-aae0020fbc12\",\n    \"type\": \"TXT\"\
        ,\n    \"name\": \"ttl.fqdn.example.com.\",\n    \"enable_alias\"\
        : false,\n    \"ttl\": 3600,\n    \"records\": [\n      {\n        \"data\"\
        : \"ttlshouldbe3600\"\n      }\n    ]\n  },\n  {\n    \"id\": \"d26dc9ec-1899-43e5-a522-1d6b01b00113\"\
        ,\n    \"type\": \"TXT\",\n    \"name\": \"_acme-challenge.fqdn.example.com.\"\
        ,\n    \"enable_alias\": false,\n    \"ttl\": 3600,\n    \"records\": [\n\
        \      {\n        \"data\": \"challengetoken\"\n      }\n    ]\n  },\n  {\n\
        \    \"id\": \"4bc40681-2698-4bed-9a25-2b9e102d8646\",\n    \"type\": \"TXT\"\
        ,\n    \"name\": \"_acme-challenge.full.example.com.\",\n    \"\
        enable_alias\": false,\n    \"ttl\": 3600,\n    \"records\": [\n      {\n\
        \        \"data\": \"challengetoken\"\n      }\n    ]\n  },\n  {\n    \"id\"\
        : \"ad5a7b14-7e7a-4a6b-bbc1-5d1d116782b2\",\n    \"type\": \"TXT\",\n    \"\
        name\": \"_acme-challenge.test.example.com.\",\n    \"enable_alias\"\
        : false,\n    \"ttl\": 3600,\n    \"records\": [\n      {\n        \"data\"\
        : \"challengetoken\"\n      }\n    ]\n  }\n]"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
