interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.gis.gehirn.jp/dns/v1/zones
  response:
    body: {string: "[\n  {\n    \"id\": \"4c6409ac-b37f-4ca4-87ea-7915f44a84eb\",\n\
        \    \"current_version\": {\n      \"id\": \"be70daaf-0f51-459b-881e-07dc82a4b092\"\
        ,\n      \"created_at\": \"2018-03-06T07:40:10Z\",\n      \"editable\": true,\n\
        \      \"last_modified_at\": \"2018-03-06T07:41:00Z\",\n      \"name\": \"\
        test05\"\n    },\n    \"current_version_id\": \"be70daaf-0f51-459b-881e-07dc82a4b092\"\
        ,\n    \"name\": \"example.com\"\n  }\n]"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.gis.gehirn.jp/dns/v1/zones/4c6409ac-b37f-4ca4-87ea-7915f44a84eb/versions/be70daaf-0f51-459b-881e-07dc82a4b092/records
  response:
    body: {string: "[\n  {\n    \"id\": \"1627d630-f6c3-47bc-ab93-f092b84b8bd7\",\n\
        \    \"type\": \"CNAME\",\n    \"name\": \"docs.example.com.\",\n\
        \    \"enable_alias\": false,\n    \"ttl\": 3600,\n    \"records\": [\n  \
        \    {\n        \"cname\": \"docs.example.com.example.com.\"\n \
        \     }\n    ]\n  },\n  {\n    \"id\": \"e693bb87-8d5f-436d-99cf-19db1028b428\"\
        ,\n    \"type\": \"NS\",\n    \"name\": \"example.com.\",\n    \"\
        enable_alias\": false,\n    \"ttl\": 86400,\n    \"records\": [\n      {\n\
        \        \"nsdname\": \"ns2.gehirndns.com.\"\n      },\n      {\n        \"\
        nsdname\": \"ns2.gehirndns.net.\"\n      },\n      {\n        \"nsdname\"\
        : \"ns2.gehirndns.jp.\"\n      },\n      {\n        \"nsdname\": \"ns2.gehirndns.org.\"\
        \n      }\n    ]\n  },\n  {\n    \"id\": \"bb624c31-4dbc-41e9-aa83-af3090496cff\"\
        ,\n    \"type\": \"A\",\n    \"name\": \"localhost.example.com.\"\
        ,\n    \"enable_alias\": false,\n    \"ttl\": 3600,\n    \"records\": [\n\
        \      {\n        \"address\": \"127.0.0.1\"\n      }\n    ]\n  },\n  {\n\
        \    \"id\": \"e063ab4f-fb1a-41fe-a926-c42556b0d6a4\",\n    \"type\": \"TXT\"\
        ,\n    \"name\": \"orig.nameonly.test.example.com.\",\n    \"enable_alias\"\
        : false,\n    \"ttl\": 3600,\n    \"records\": [\n      {\n        \"data\"\
        : \"updated\"\n      }\n    ]\n  },\n  {\n    \"id\": \"d3e9c27a-1140-4d71-830f-5785b185eb11\"\
        ,\n    \"type\": \"TXT\",\n    \"name\": \"random.fqdntest.example.com.\"\
        ,\n    \"enable_alias\": false,\n    \"ttl\": 3600,\n    \"records\": [\n\
        \      {\n        \"data\": \"challengetoken\"\n      }\n    ]\n  },\n  {\n\
        \    \"id\": \"6ffae3ad-7fef-4b58-9d15-99077f3b656a\",\n    \"type\": \"TXT\"\
        ,\n    \"name\": \"random.fulltest.example.com.\",\n    \"enable_alias\"\
        : false,\n    \"ttl\": 3600,\n    \"records\": [\n      {\n        \"data\"\
        : \"challengetoken\"\n      }\n    ]\n  },\n  {\n    \"id\": \"0375a31e-ce4a-4ae8-9018-2e4fb840ca5d\"\
        ,\n    \"type\": \"TXT\",\n    \"name\": \"random.test.example.com.\"\
      [...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.gis.gehirn.jp/dns/v1/zones/4c6409ac-b37f-4ca4-87ea-7915f44a84eb/versions/be70daaf-0f51-459b-881e-07dc82a4b092/records/a14387be-f133-411f-b878-72b39ff86bc5
  response:
    body: {string: "{\n  \"id\": \"a14387be-f133-411f-b878-72b39ff86bc5\",\n  \"type\"\
        : \"TXT\",\n  \"name\": \"orig.testfull.example.com.\",\n  \"enable_alias\"\
        : false,\n  \"ttl\": 3600,\n  \"records\": [\n    {\n      \"data\": \"challengetoken\"\
        \n    }\n  ]\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"type": "TXT", "name": "updated.testfull.example.com.", "enable_alias":
      false, "ttl": 3600, "records": [{"data": "challengetoken"}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.gis.gehirn.jp/dns/v1/zones/4c6409ac-b37f-4ca4-87ea-7915f44a84eb/versions/be70daaf-0f51-459b-881e-07dc82a4b092/records
  response:
    body: {string: "{\n  \"id\": \"57f3e013-cef0-4c1b-9453-5ad8b80f91d7\",\n  \"type\"\
        : \"TXT\",\n  \"name\": \"updated.testfull.example.com.\",\n  \"\
        enable_alias\": false,\n  \"ttl\": 3600,\n  \"records\": [\n    {\n      \"\
        data\": \"challengetoken\"\n    }\n  ]\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
