interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.gis.gehirn.jp/dns/v1/zones
  response:
    body: {string: "[\n  {\n    \"id\": \"4c6409ac-b37f-4ca4-87ea-7915f44a84eb\",\n\
        \    \"current_version\": {\n      \"id\": \"fcd441e2-50ad-44e9-981b-7958200e8186\"\
        ,\n      \"created_at\": \"2018-03-05T10:35:45Z\",\n      \"editable\": true,\n\
        \      \"last_modified_at\": \"2018-03-05T10:35:59Z\",\n      \"name\": \"\
        test-01\"\n    },\n    \"current_version_id\": \"fcd441e2-50ad-44e9-981b-7958200e8186\"\
        ,\n    \"name\": \"example.com\"\n  }\n]"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.gis.gehirn.jp/dns/v1/zones/4c6409ac-b37f-4ca4-87ea-7915f44a84eb/versions/fcd441e2-50ad-44e9-981b-7958200e8186/records
  response:
    body: {string: "[\n  {\n    \"id\": \"327ed843-a551-4602-82b5-b7b526ddd0fb\",\n\
        \    \"type\": \"NS\",\n    \"name\": \"example.com.\",\n    \"\
        enable_alias\": false,\n    \"ttl\": 86400,\n    \"records\": [\n      {\n\
        \        \"nsdname\": \"ns2.gehirndns.com.\"\n      },\n      {\n        \"\
        nsdname\": \"ns2.gehirndns.net.\"\n      },\n      {\n        \"nsdname\"\
        : \"ns2.gehirndns.org.\"\n      },\n      {\n        \"nsdname\": \"ns2.gehirndns.jp.\"\
        \n      }\n    ]\n  },\n  {\n    \"id\": \"5c549aa3-2040-43a2-ac68-8393bad30c08\"\
        ,\n    \"type\": \"A\",\n    \"name\": \"localhost.example.com.\"\
        ,\n    \"enable_alias\": false,\n    \"ttl\": 3600,\n    \"records\": [\n\
        \      {\n        \"address\": \"127.0.0.1\"\n      }\n    ]\n  }\n]"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"type": "CNAME", "name": "docs.example.com.", "enable_alias":
      false, "ttl": 3600, "records": [{"cname": "docs.example.com"}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.gis.gehirn.jp/dns/v1/zones/4c6409ac-b37f-4ca4-87ea-7915f44a84eb/versions/fcd441e2-50ad-44e9-981b-7958200e8186/records
  response:
    body: {string: "{\n  \"id\": \"6177fabf-e3e7-4a72-bfc7-9bc3c22d25da\",\n  \"type\"\
        : \"CNAME\",\n  \"name\": \"docs.example.com.\",\n  \"enable_alias\"\
        : false,\n  \"ttl\": 3600,\n  \"records\": [\n    {\n      \"cname\": \"docs.example.com.example.com.\"\
        \n    }\n  ]\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
