interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.gis.gehirn.jp/dns/v1/zones
  response:
    body: {string: "[\n  {\n    \"id\": \"4c6409ac-b37f-4ca4-87ea-7915f44a84eb\",\n\
        \    \"current_version\": {\n      \"id\": \"fcd441e2-50ad-44e9-981b-7958200e8186\"\
        ,\n      \"created_at\": \"2018-03-05T10:35:45Z\",\n      \"editable\": true,\n\
        \      \"last_modified_at\": \"2018-03-05T10:36:39Z\",\n      \"name\": \"\
        test-01\"\n    },\n    \"current_version_id\": \"fcd441e2-50ad-44e9-981b-7958200e8186\"\
        ,\n    \"name\": \"example.com\"\n  }\n]"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.gis.gehirn.jp/dns/v1/zones/4c6409ac-b37f-4ca4-87ea-7915f44a84eb/versions/fcd441e2-50ad-44e9-981b-7958200e8186/records
  response:
    body: {string: "[\n  {\n    \"id\": \"6177fabf-e3e7-4a72-bfc7-9bc3c22d25da\",\n\
        \    \"type\": \"CNAME\",\n    \"name\": \"docs.example.com.\",\n\
        \    \"enable_alias\": false,\n    \"ttl\": 3600,\n    \"records\": [\n  \
        \    {\n        \"cname\": \"docs.example.com.example.com.\"\n \
        \     }\n    ]\n  },\n  {\n    \"id\": \"327ed843-a551-4602-82b5-b7b526ddd0fb\"\
        ,\n    \"type\": \"NS\",\n    \"name\": \"example.com.\",\n    \"\
        enable_alias\": false,\n    \"ttl\": 86400,\n    \"records\": [\n      {\n\
        \        \"nsdname\": \"ns2.gehirndns.com.\"\n      },\n      {\n        \"\
        nsdname\": \"ns2.gehirndns.net.\"\n      },\n      {\n        \"nsdname\"\
        : \"ns2.gehirndns.org.\"\n      },\n      {\n        \"nsdname\": \"ns2.gehirndns.jp.\"\
        \n      }\n    ]\n  },\n  {\n    \"id\": \"5c549aa3-2040-43a2-ac68-8393bad30c08\"\
        ,\n    \"type\": \"A\",\n    \"name\": \"localhost.example.com.\"\
        ,\n    \"enable_alias\": false,\n    \"ttl\": 3600,\n    \"records\": [\n\
        \      {\n        \"address\": \"127.0.0.1\"\n      }\n    ]\n  },\n  {\n\
        \    \"id\": \"41db921b-83b3-49f9-a497-e5a72dd21dc6\",\n    \"type\": \"TXT\"\
        ,\n    \"name\": \"orig.nameonly.test.example.com.\",\n    \"enable_alias\"\
        : false,\n    \"ttl\": 3600,\n    \"records\": [\n      {\n        \"data\"\
        : \"updated\"\n      }\n    ]\n  },\n  {\n    \"id\": \"c55bcf1e-df7e-4932-ab3f-72aefd8dc394\"\
        ,\n    \"type\": \"TXT\",\n    \"name\": \"orig.test.example.com.\"\
        ,\n    \"enable_alias\": false,\n    \"ttl\": 3600,\n    \"records\": [\n\
        \      {\n        \"data\": \"challengetoken\"\n      }\n    ]\n  },\n  {\n\
        \    \"id\": \"3a398918-80f1-4c4c-809b-1935bab8ea75\",\n    \"type\": \"TXT\"\
        ,\n    \"name\": \"orig.testfqdn.example.com.\",\n    \"enable_alias\"\
        : false,\n    \"ttl\": 3600,\n    \"records\": [\n      {\n        \"data\"\
        : \"challengetoken\"\n      }\n    ]\n  },\n  {\n    \"id\": \"a0eb2f2a-09a5-471f-852c-cbc25dcbb277\"\
        ,\n    \"type\": \"TXT\",\n    \"name\": \"random.fqdntest.example.com.\"\
    [...]
[...]
- request:
    body: '{"type": "TXT", "name": "updated.testfull.example.com.", "enable_alias":
      false, "ttl": 3600, "records": [{"data": "challengetoken"}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.gis.gehirn.jp/dns/v1/zones/4c6409ac-b37f-4ca4-87ea-7915f44a84eb/versions/fcd441e2-50ad-44e9-981b-7958200e8186/records
  response:
    body: {string: "{\n  \"id\": \"c3314e3b-0a2e-44fa-ac48-c086fa2738fa\",\n  \"type\"\
        : \"TXT\",\n  \"name\": \"updated.testfull.example.com.\",\n  \"\
        enable_alias\": false,\n  \"ttl\": 3600,\n  \"records\": [\n    {\n      \"\
        data\": \"challengetoken\"\n    }\n  ]\n}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
