interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.gis.gehirn.jp/dns/v1/zones
  response:
    body: {string: "[\n  {\n    \"id\": \"4c6409ac-b37f-4ca4-87ea-7915f44a84eb\",\n\
        \    \"current_version\": {\n      \"id\": \"be70daaf-0f51-459b-881e-07dc82a4b092\"\
        ,\n      \"created_at\": \"2018-03-06T07:40:10Z\",\n      \"editable\": true,\n\
        \      \"last_modified_at\": \"2018-03-06T07:40:10Z\",\n      \"name\": \"\
        test05\"\n    },\n    \"current_version_id\": \"be70daaf-0f51-459b-881e-07dc82a4b092\"\
        ,\n    \"name\": \"example.com\"\n  }\n]"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
