interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.dynu.com/v2/dns
  response:
    body:
      string: '{"statusCode":200,"domains":[{"id":1024,"name":"example.com","unicodeName":"example.com","token":"LQFTMTBQVOYUGQRFIQMU","state":"Complete","location":"lexicon","group":"lexicon","ipv4Address":"127.0.0.1","ipv6Address":"::1","ttl":120,"ipv4":true,"ipv6":true,"ipv4WildcardAlias":true,"ipv6WildcardAlias":true,"createdOn":"2019-06-16T18:26:58","updatedOn":"2020-03-12T22:12:56.42"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"recordType": "A", "state": true, "nodeName": "test", "ipv4Address": "127.0.0.1",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.dynu.com/v2/dns/1024/record
  response:
    body:
      string: '{"statusCode":200,"id":6052991,"domainId":1024,"domainName":"example.com","nodeName":"test","hostname":"test.example.com","recordType":"A","ttl":3600,"state":true,"content":"test.example.com.
        3600 IN A 127.0.0.1","updatedOn":"2020-03-12T22:19:19.287","location":"","ipv4Address":"127.0.0.1"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.dynu.com/v2/dns/1024/record/6052991
  response:
    body:
      string: '{"statusCode":200}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
