interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.dynu.com/v2/dns
  response:
    body:
      string: '{"statusCode":200,"domains":[{"id":1024,"name":"example.com","unicodeName":"example.com","token":"LQFTMTBQVOYUGQRFIQMU","state":"Complete","location":"lexicon","group":"lexicon","ipv4Address":"127.0.0.1","ipv6Address":"::1","ttl":120,"ipv4":true,"ipv6":true,"ipv4WildcardAlias":true,"ipv6WildcardAlias":true,"createdOn":"2019-06-16T18:26:58","updatedOn":"2020-03-12T22:23:11.4"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"recordType": "TXT", "state": true, "nodeName": "ttl.fqdn", "textData":
      "ttlshouldbe3600", "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.dynu.com/v2/dns/1024/record
  response:
    body:
      string: '{"statusCode":200,"id":6053008,"domainId":1024,"domainName":"example.com","nodeName":"ttl.fqdn","hostname":"ttl.fqdn.example.com","recordType":"TXT","ttl":3600,"state":true,"content":"ttl.fqdn.example.com.
        3600 IN TXT \"ttlshouldbe3600\"","updatedOn":"2020-03-12T22:23:17.347","textData":"ttlshouldbe3600"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.dynu.com/v2/dns/1024/record
  response:
    body:
      string: '{"statusCode":200,"dnsRecords":[{"id":3660288,"domainId":1024,"domainName":"example.com","nodeName":"","hostname":"example.com","recordType":"SOA","ttl":120,"state":true,"content":"example.com.
        120 IN SOA ns1.dynu.com. administrator.dynu.com. 0 1800 300 86400 300","updatedOn":"2019-06-16T18:26:59","masterName":"ns1.dynu.com","responsibleName":"administrator.dynu.com","refresh":1800,"retry":300,"expire":86400,"negativeTTL":300},{"id":6053008,"domainId":1024,"domainName":"example.com","nodeName":"ttl.fqdn","hostname":"ttl.fqdn.example.com","recordType":"TXT","ttl":3600,"state":true,"content":"ttl.fqdn.example.com.
        3600 IN TXT \"ttlshouldbe3600\"","updatedOn":"2020-03-12T22:23:17.347","textData":"ttlshouldbe3600"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.dynu.com/v2/dns/1024/record/6053008
  response:
    body:
      string: '{"statusCode":200}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
