interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.zeit.co/v2/domains/fullm3tal.tech
  response:
    body: {string: '{"uid":"QmYcB61KpbGpwQCXMMeQdBHnWwfGgMhyKAQChi49r1z96H","created":"2018-07-06T10:14:44.579Z","boughtAt":"2018-07-06T10:14:42.835Z","expiresAt":"2019-07-06T10:14:42.835Z","isExternal":false,"serviceType":"zeit.world","verified":true,"aliases":[],"certs":[]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-RateLimit-Limit: ['120']
      X-RateLimit-Remaining: ['117']
      X-RateLimit-Reset: ['1530879616']
      x-now-trace: [bru1]
    status: {code: 200, message: OK}
version: 1
