interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones
  response:
    body:
      string: '[{"name": "example.com", "id": "4c9feb47-2a4d-11ec-bda4-0a5864441f49",
        "type": "NATIVE"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"name": "_acme-challenge.deleterecordinset.example.com", "type": "TXT",
      "content": "challengetoken1", "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "_acme-challenge.deleterecordinset.example.com", "rootName":
        "example.com", "type": "TXT", "content": "\"challengetoken1\"", "changeDate":
        "2024-11-28T13:45:55.649Z", "ttl": 3600, "disabled": false, "id": "435178fa-53f2-8e66-34f4-3cff1a94e89f"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49?recordType=TXT&recordName=_acme-challenge.deleterecordinset.example.com
  response:
    body:
      string: '{"name":"example.com","id":"4c9feb47-2a4d-11ec-bda4-0a5864441f49","type":"NATIVE","records":[{"name":"_acme-challenge.deleterecordinset.example.com","rootName":"example.com","type":"TXT","content":"\"challengetoken1\"","changeDate":"2024-11-28T13:45:55.649Z","ttl":3600,"disabled":false,"id":"435178fa-53f2-8e66-34f4-3cff1a94e89f"},{"name":"_acme-challenge.deleterecordinset.example.com","rootName":"example.com","type":"TXT","content":"\"challengetoken2\"","changeDate":"2024-11-28T13:45:56.301Z","ttl":3600,"disabled":false,"id":"ce0c11d4-791b-aabe-dbbe-33ca862ed470"}]}'
    headers:
      Content-Type:
      - application/json
      endpoint:
      - getZone
      status-code:
      - '200'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records/435178fa-53f2-8e66-34f4-3cff1a94e89f
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49?recordType=TXT&recordName=_acme-challenge.deleterecordinset.example.com
  response:
    body:
      string: '{"name":"example.com","id":"4c9feb47-2a4d-11ec-bda4-0a5864441f49","type":"NATIVE","records":[{"name":"_acme-challenge.deleterecordinset.example.com","rootName":"example.com","type":"TXT","content":"\"challengetoken2\"","changeDate":"2024-11-28T13:45:56.301Z","ttl":3600,"disabled":false,"id":"ce0c11d4-791b-aabe-dbbe-33ca862ed470"}]}'
    headers:
      Content-Type:
      - application/json
      endpoint:
      - getZone
      status-code:
      - '200'
    status:
      code: 200
      message: OK
version: 1
