interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones
  response:
    body:
      string: '[{"name": "example.com", "id": "4c9feb47-2a4d-11ec-bda4-0a5864441f49",
        "type": "NATIVE"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"name": "orig.nameonly.test.example.com", "type": "TXT", "content": "challengetoken",
      "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "orig.nameonly.test.example.com", "rootName": "example.com",
        "type": "TXT", "content": "\"challengetoken\"", "changeDate": "2024-11-28T13:46:08.981Z",
        "ttl": 3600, "disabled": false, "id": "f272799a-fd6f-f197-2344-0a17e49580b7"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49?recordType=TXT&recordName=orig.nameonly.test.example.com
  response:
    body:
      string: '{"name":"example.com","id":"4c9feb47-2a4d-11ec-bda4-0a5864441f49","type":"NATIVE","records":[{"name":"orig.nameonly.test.example.com","rootName":"example.com","type":"TXT","content":"\"updated\"","changeDate":"2024-11-28T13:41:07.475Z","ttl":3600,"disabled":false,"id":"83911d47-07c7-9b9b-3a5b-3aa39a5a8f5f"},{"name":"orig.nameonly.test.example.com","rootName":"example.com","type":"TXT","content":"\"challengetoken\"","changeDate":"2024-11-28T13:46:08.981Z","ttl":3600,"disabled":false,"id":"f272799a-fd6f-f197-2344-0a17e49580b7"}]}'
    headers:
      Content-Type:
      - application/json
      endpoint:
      - getZone
      status-code:
      - '200'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records/83911d47-07c7-9b9b-3a5b-3aa39a5a8f5f
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
[...]
- request:
    body: '[{"name": "orig.nameonly.test.example.com", "type": "TXT", "content": "updated",
      "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "orig.nameonly.test.example.com", "rootName": "example.com",
        "type": "TXT", "content": "\"updated\"", "changeDate": "2024-11-28T13:46:10.944Z",
        "ttl": 3600, "disabled": false, "id": "14e26875-6b29-f008-9cfe-3ce454b51a05"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
