interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones
  response:
    body:
      string: '[{"name": "example.com", "id": "4c9feb47-2a4d-11ec-bda4-0a5864441f49",
        "type": "NATIVE"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"name": "_acme-challenge.fqdn.example.com", "type": "TXT", "content":
      "challengetoken", "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "_acme-challenge.fqdn.example.com", "rootName": "example.com",
        "type": "TXT", "content": "\"challengetoken\"", "changeDate": "2024-11-28T13:45:44.889Z",
        "ttl": 3600, "disabled": false, "id": "14e12ccb-fbf2-e59a-53aa-0829ec24ce44"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
