interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones
  response:
    body:
      string: '[{"name": "example.com", "id": "4c9feb47-2a4d-11ec-bda4-0a5864441f49",
        "type": "NATIVE"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"name": "orig.testfqdn.example.com", "type": "TXT", "content": "challengetoken",
      "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "orig.testfqdn.example.com", "rootName": "example.com", "type":
        "TXT", "content": "\"challengetoken\"", "changeDate": "2024-11-28T13:46:11.606Z",
        "ttl": 3600, "disabled": false, "id": "81c22740-4a29-9f7c-10ce-a439f5231fd6"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49?recordType=TXT&recordName=orig.testfqdn.example.com
  response:
    body:
      string: '{"name":"example.com","id":"4c9feb47-2a4d-11ec-bda4-0a5864441f49","type":"NATIVE","records":[{"name":"orig.testfqdn.example.com","rootName":"example.com","type":"TXT","content":"\"challengetoken\"","changeDate":"2024-11-28T13:46:11.606Z","ttl":3600,"disabled":false,"id":"81c22740-4a29-9f7c-10ce-a439f5231fd6"}]}'
    headers:
      Content-Type:
      - application/json
      endpoint:
      - getZone
      status-code:
      - '200'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records/81c22740-4a29-9f7c-10ce-a439f5231fd6
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
- request:
    body: '[{"name": "updated.testfqdn.example.com", "type": "TXT", "content": "challengetoken",
      "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "updated.testfqdn.example.com", "rootName": "example.com",
        "type": "TXT", "content": "\"challengetoken\"", "changeDate": "2024-11-28T13:46:12.912Z",
        "ttl": 3600, "disabled": false, "id": "1581e9e1-3bd3-f768-8bdb-7171afe9476b"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
