interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones
  response:
    body:
      string: '[{"name": "example.com", "id": "4c9feb47-2a4d-11ec-bda4-0a5864441f49",
        "type": "NATIVE"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"name": "localhost.example.com", "type": "A", "content": "127.0.0.1",
      "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "localhost.example.com", "rootName": "example.com", "type":
        "A", "content": "127.0.0.1", "changeDate": "2024-11-28T13:45:43.504Z", "ttl":
        3600, "disabled": false, "id": "bf559199-4628-e782-da0d-c972363cb4c5"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
