interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones
  response:
    body:
      string: '[{"name": "example.com", "id": "4c9feb47-2a4d-11ec-bda4-0a5864441f49",
        "type": "NATIVE"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"name": "_acme-challenge.createrecordset.example.com", "type": "TXT",
      "content": "challengetoken1", "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "_acme-challenge.createrecordset.example.com", "rootName":
        "example.com", "type": "TXT", "content": "\"challengetoken1\"", "changeDate":
        "2024-11-28T13:45:46.825Z", "ttl": 3600, "disabled": false, "id": "77ae0333-f3df-b09a-cc61-8ca9e984f802"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '[{"name": "_acme-challenge.createrecordset.example.com", "type": "TXT",
      "content": "challengetoken2", "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "_acme-challenge.createrecordset.example.com", "rootName":
        "example.com", "type": "TXT", "content": "\"challengetoken2\"", "changeDate":
        "2024-11-28T13:45:47.433Z", "ttl": 3600, "disabled": false, "id": "bba28203-3caa-0aab-6842-594747e6c502"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
