interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones
  response:
    body:
      string: '[{"name": "example.com", "id": "4c9feb47-2a4d-11ec-bda4-0a5864441f49",
        "type": "NATIVE"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"name": "random.test.example.com", "type": "TXT", "content": "challengetoken",
      "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "random.test.example.com", "rootName": "example.com", "type":
        "TXT", "content": "\"challengetoken\"", "changeDate": "2024-11-28T13:46:05.637Z",
        "ttl": 3600, "disabled": false, "id": "e0be5b2f-4bc0-379d-354e-fd54d5b21342"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49?recordType=TXT&recordName=random.test.example.com
  response:
    body:
      string: '{"name":"example.com","id":"4c9feb47-2a4d-11ec-bda4-0a5864441f49","type":"NATIVE","records":[{"name":"random.test.example.com","rootName":"example.com","type":"TXT","content":"\"challengetoken\"","changeDate":"2024-11-28T13:46:05.637Z","ttl":3600,"disabled":false,"id":"e0be5b2f-4bc0-379d-354e-fd54d5b21342"}]}'
    headers:
      Content-Type:
      - application/json
      endpoint:
      - getZone
      status-code:
      - '200'
    status:
      code: 200
      message: OK
version: 1
