interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones
  response:
    body:
      string: '[{"name": "example.com", "id": "4c9feb47-2a4d-11ec-bda4-0a5864441f49",
        "type": "NATIVE"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49
  response:
    body:
      string: '{"name":"example.com","id":"4c9feb47-2a4d-11ec-bda4-0a5864441f49","type":"NATIVE","records":[{"name":"www.twitter-archive.example.com","rootName":"example.com","type":"A","content":"217.160.0.11","changeDate":"2023-05-27T08:12:19.681Z","ttl":3600,"disabled":false,"id":"5547121a-92cf-7df9-d4d5-16aea2db416d"},{"name":"twitter-archive.example.com","rootName":"example.com","type":"MX","content":"mx00.ionos.de","changeDate":"2023-05-27T08:12:19.789Z","ttl":3600,"prio":10,"disabled":false,"id":"4ac9d329-9de5-f0cf-c59b-42d8708e5ecc"},{"name":"twitter-archive.example.com","rootName":"example.com","type":"AAAA","content":"2001:8d8:100f:f000:0:0:0:2aa","changeDate":"2023-05-27T08:12:19.685Z","ttl":3600,"disabled":false,"id":"e48b7555-ad0d-d39d-8fd1-7ec173a03c52"},{"name":"twitter-archive.example.com","rootName":"example.com","type":"A","content":"217.160.0.11","changeDate":"2023-05-27T08:12:19.687Z","ttl":3600,"disabled":false,"id":"dda30efc-1fff-5a98-778f-1974512b2e5d"},{"name":"www.twitter-archive.example.com","rootName":"example.com","type":"AAAA","content":"2001:8d8:100f:f000:0:0:0:2aa","changeDate":"2023-05-27T08:12:19.689Z","ttl":3600,"disabled":false,"id":"53f60f0f-9ec8-d523-9166-481ee3752727"},{"name":"twitter-archive.example.com","rootName":"example.com","type":"TXT","content":"\"v=spf1
        include:_spf-eu.ionos.com ~all\"","changeDate":"2023-05-27T08:12:19.791Z","ttl":3600,"disabled":false,"id":"c494dfe2-701a-6e07-5d5a-2889ad61ac2c"},{"name":"twitter-archive.example.com","rootName":"example.com","type":"MX","content":"mx01.ionos.de","changeDate":"2023-05-27T08:12:19.793Z","ttl":3600,"prio":10,"disabled":false,"id":"917c98fb-1b7e-ebd2-5a31-7448d732c18a"},{"name":"autodiscover.twitter-archive.example.com","rootName":"example.com","type":"CNAME","content":"adsredir.ionos.info","changeDate":"[...]
