interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones
  response:
    body:
      string: '[{"name": "example.com", "id": "4c9feb47-2a4d-11ec-bda4-0a5864441f49",
        "type": "NATIVE"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"name": "_acme-challenge.listrecordset.example.com", "type": "TXT", "content":
      "challengetoken1", "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "_acme-challenge.listrecordset.example.com", "rootName":
        "example.com", "type": "TXT", "content": "\"challengetoken1\"", "changeDate":
        "2024-11-28T13:46:01.866Z", "ttl": 3600, "disabled": false, "id": "ba499350-c2e3-a30f-f736-055d930dd2be"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49?recordType=TXT&recordName=_acme-challenge.listrecordset.example.com
  response:
    body:
      string: '{"name":"example.com","id":"4c9feb47-2a4d-11ec-bda4-0a5864441f49","type":"NATIVE","records":[{"name":"_acme-challenge.listrecordset.example.com","rootName":"example.com","type":"TXT","content":"\"challengetoken1\"","changeDate":"2024-11-28T13:46:01.866Z","ttl":3600,"disabled":false,"id":"ba499350-c2e3-a30f-f736-055d930dd2be"},{"name":"_acme-challenge.listrecordset.example.com","rootName":"example.com","type":"TXT","content":"\"challengetoken2\"","changeDate":"2024-11-28T13:46:02.911Z","ttl":3600,"disabled":false,"id":"ac45f184-a14c-b6fe-ccce-1f990d684f0b"}]}'
    headers:
      Content-Type:
      - application/json
      endpoint:
      - getZone
      status-code:
      - '200'
    status:
      code: 200
      message: OK
version: 1
