interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones
  response:
    body:
      string: '[{"name": "example.com", "id": "4c9feb47-2a4d-11ec-bda4-0a5864441f49",
        "type": "NATIVE"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"name": "orig.test.example.com", "type": "TXT", "content": "challengetoken",
      "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "orig.test.example.com", "rootName": "example.com", "type":
        "TXT", "content": "\"challengetoken\"", "changeDate": "2024-11-28T13:46:06.767Z",
        "ttl": 3600, "disabled": false, "id": "a587d796-a6c5-af55-30ec-0e75d42f09c0"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49?recordType=TXT&recordName=orig.test.example.com
  response:
    body:
      string: '{"name":"example.com","id":"4c9feb47-2a4d-11ec-bda4-0a5864441f49","type":"NATIVE","records":[{"name":"orig.test.example.com","rootName":"example.com","type":"TXT","content":"\"challengetoken\"","changeDate":"2024-11-28T13:46:06.767Z","ttl":3600,"disabled":false,"id":"a587d796-a6c5-af55-30ec-0e75d42f09c0"}]}'
    headers:
      Content-Type:
      - application/json
      endpoint:
      - getZone
      status-code:
      - '200'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records/a587d796-a6c5-af55-30ec-0e75d42f09c0
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
- request:
    body: '[{"name": "updated.test.example.com", "type": "TXT", "content": "challengetoken",
      "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "updated.test.example.com", "rootName": "example.com", "type":
        "TXT", "content": "\"challengetoken\"", "changeDate": "2024-11-28T13:46:08.016Z",
        "ttl": 3600, "disabled": false, "id": "b1063db7-62c7-325d-9f92-194573ba6cc9"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
