interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones
  response:
    body:
      string: '[{"name": "example.com", "id": "4c9feb47-2a4d-11ec-bda4-0a5864441f49",
        "type": "NATIVE"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"name": "_acme-challenge.deleterecordset.example.com", "type": "TXT",
      "content": "challengetoken1", "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "_acme-challenge.deleterecordset.example.com", "rootName":
        "example.com", "type": "TXT", "content": "\"challengetoken1\"", "changeDate":
        "2024-11-28T13:45:58.046Z", "ttl": 3600, "disabled": false, "id": "75057244-ed87-ac2c-9004-be9410cfb0a6"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49?recordType=TXT&recordName=_acme-challenge.deleterecordset.example.com
  response:
    body:
      string: '{"name":"example.com","id":"4c9feb47-2a4d-11ec-bda4-0a5864441f49","type":"NATIVE","records":[{"name":"_acme-challenge.deleterecordset.example.com","rootName":"example.com","type":"TXT","content":"\"challengetoken1\"","changeDate":"2024-11-28T13:45:58.046Z","ttl":3600,"disabled":false,"id":"75057244-ed87-ac2c-9004-be9410cfb0a6"},{"name":"_acme-challenge.deleterecordset.example.com","rootName":"example.com","type":"TXT","content":"\"challengetoken2\"","changeDate":"2024-11-28T13:45:58.611Z","ttl":3600,"disabled":false,"id":"66ccffbb-6e7d-1f60-d228-c9207a686eff"}]}'
    headers:
      Content-Type:
      - application/json
      endpoint:
      - getZone
      status-code:
      - '200'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records/75057244-ed87-ac2c-9004-be9410cfb0a6
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49?recordType=TXT&recordName=_acme-challenge.deleterecordset.example.com
  response:
    body:
      string: '{"name":"example.com","id":"4c9feb47-2a4d-11ec-bda4-0a5864441f49","type":"NATIVE","records":[]}'
    headers:
      Content-Type:
      - application/json
      endpoint:
      - getZone
      status-code:
      - '200'
    status:
      code: 200
      message: OK
version: 1
