interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones
  response:
    body:
      string: '[{"name": "example.com", "id": "4c9feb47-2a4d-11ec-bda4-0a5864441f49",
        "type": "NATIVE"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '[{"name": "ttl.fqdn.example.com", "type": "TXT", "content": "ttlshouldbe3600",
      "ttl": 3600, "prio": 0, "disabled": false}]'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49/records
  response:
    body:
      string: '[{"name": "ttl.fqdn.example.com", "rootName": "example.com", "type":
        "TXT", "content": "\"ttlshouldbe3600\"", "changeDate": "2024-11-28T13:46:00.870Z",
        "ttl": 3600, "disabled": false, "id": "96d52e8d-13b6-80f5-adb7-489fde879f70"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hosting.ionos.com/dns/v1/zones/4c9feb47-2a4d-11ec-bda4-0a5864441f49?recordType=TXT&recordName=ttl.fqdn.example.com
  response:
    body:
      string: '{"name":"example.com","id":"4c9feb47-2a4d-11ec-bda4-0a5864441f49","type":"NATIVE","records":[{"name":"ttl.fqdn.example.com","rootName":"example.com","type":"TXT","content":"\"ttlshouldbe3600\"","changeDate":"2024-11-28T13:46:00.870Z","ttl":3600,"disabled":false,"id":"96d52e8d-13b6-80f5-adb7-489fde879f70"}]}'
    headers:
      Content-Type:
      - application/json
      endpoint:
      - getZone
      status-code:
      - '200'
    status:
      code: 200
      message: OK
version: 1
