interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.luadns.com/v1/zones
  response:
    body: {string: !!python/unicode '[{"id":39105,"name":"capsulecd.com","template_id":0,"synced":true,"queries_count":0,"records_count":10,"aliases_count":0,"redirects_count":0,"forwards_count":0}]'}
    headers:
      content-type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: '{"content": "challengetoken", "type": "TXT", "name": "random.fqdntest.capsulecd.com.",
      "ttl": 300}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.luadns.com/v1/zones/39105/records
  response:
    body: {string: !!python/unicode '{"id":23373163,"name":"random.fqdntest.capsulecd.com.","type":"TXT","content":"challengetoken","ttl":300,"zone_id":39105,"generated":false,"created_at":"2016-07-30T19:15:15.831438332Z","updated_at":"2016-07-30T19:15:15.831439424Z"}'}
    headers:
      content-type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
[...]
