interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.luadns.com/v1/zones
  response:
    body: {string: !!python/unicode '[{"id":39105,"name":"capsulecd.com","template_id":0,"synced":true,"queries_count":0,"records_count":10,"aliases_count":0,"redirects_count":0,"forwards_count":0}]

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.luadns.com/v1/zones/39105/records
  response:
    body: {string: !!python/unicode '[{"id":40753614,"name":"_acme-challenge.test.capsulecd.com.","type":"TXT","content":"challengetoken","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2018-03-20T07:18:11.252634Z","updated_at":"2018-03-20T07:18:11.252636Z"},{"id":40753613,"name":"_acme-challenge.full.capsulecd.com.","type":"TXT","content":"challengetoken","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2018-03-20T07:18:10.1051Z","updated_at":"2018-03-20T07:18:10.105102Z"},{"id":40753612,"name":"_acme-challenge.fqdn.capsulecd.com.","type":"TXT","content":"challengetoken","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2018-03-20T07:18:09.105352Z","updated_at":"2018-03-20T07:18:09.105354Z"},{"id":4[...]
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.luadns.com/v1/zones/39105/records/40753616
  response:
    body: {string: !!python/unicode '{"id":40753616,"name":"delete.testfqdn.capsulecd.com.","type":"TXT","content":"challengetoken","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2018-03-20T07:18:14.349696Z","updated_at":"2018-03-20T07:18:14.349698Z"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
