interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.luadns.com/v1/zones
  response:
    body: {string: !!python/unicode '[{"id":39105,"name":"capsulecd.com","template_id":0,"synced":true,"queries_count":0,"records_count":14,"aliases_count":0,"redirects_count":0,"forwards_count":0}]

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.luadns.com/v1/zones/39105/records
  response:
    body: {string: !!python/unicode '[{"id":40753626,"name":"random.test.capsulecd.com.","type":"TXT","content":"challengetoken","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2018-03-20T07:18:25.890875Z","updated_at":"2018-03-20T07:18:25.890877Z"},{"id":40753625,"name":"random.fulltest.capsulecd.com.","type":"TXT","content":"challengetoken","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2018-03-20T07:18:23.841171Z","updated_at":"2018-03-20T07:18:23.841173Z"},{"id":40753624,"name":"random.fqdntest.capsulecd.com.","type":"TXT","content":"challengetoken","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2018-03-20T07:18:22.447326Z","updated_at":"2018-03-20T07:18:22.447328Z"},{"id":40753623,[...]
[...]
- request:
    body: !!python/unicode '{"content": "challengetoken", "type": "TXT", "name": "updated.test.capsulecd.com.",
      "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.luadns.com/v1/zones/39105/records/40753627
  response:
    body: {string: !!python/unicode '{"id":40753627,"name":"updated.test.capsulecd.com.","type":"TXT","content":"challengetoken","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2018-03-20T07:18:27.947293Z","updated_at":"2018-03-20T07:18:28.610405931Z"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
