interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.luadns.com/v1/zones
  response:
    body: {string: !!python/unicode '[{"id":39105,"name":"capsulecd.com","template_id":0,"synced":true,"queries_count":0,"records_count":13,"aliases_count":0,"redirects_count":0,"forwards_count":0}]'}
    headers:
      content-type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: '{"content": "challengetoken", "type": "TXT", "name": "orig.test.capsulecd.com.",
      "ttl": 300}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.luadns.com/v1/zones/39105/records
  response:
    body: {string: !!python/unicode '{"id":23373227,"name":"orig.test.capsulecd.com.","type":"TXT","content":"challengetoken","ttl":300,"zone_id":39105,"generated":false,"created_at":"2016-07-30T19:19:03.199578099Z","updated_at":"2016-07-30T19:19:03.199578742Z"}'}
    headers:
      content-type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"content": "challengetoken", "type": "TXT", "name": "updated.test.capsulecd.com.",
      "ttl": 300}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.luadns.com/v1/zones/39105/records/23373227
  response:
    body: {string: !!python/unicode '{"id":23373227,"name":"updated.test.capsulecd.com.","type":"TXT","content":"challengetoken","ttl":300,"zone_id":39105,"generated":false,"created_at":"2016-07-30T19:19:03.199578Z","updated_at":"2016-07-30T19:19:09.760394609Z"}'}
    headers:
      content-type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
