interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.luadns.com/v1/zones
  response:
    body: {string: !!python/unicode '[{"id":39105,"name":"capsulecd.com","template_id":0,"synced":true,"queries_count":0,"records_count":6,"aliases_count":0,"redirects_count":0,"forwards_count":0}]

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.luadns.com/v1/zones/39105/records
  response:
    body: {string: !!python/unicode '[{"id":23373137,"name":"capsulecd.com.","type":"NS","content":"ns5.luadns.net.","ttl":86400,"zone_id":39105,"generated":false,"created_at":"2016-07-30T19:13:48.463466Z","updated_at":"2016-07-30T19:13:48.463467Z"},{"id":23373136,"name":"capsulecd.com.","type":"NS","content":"ns4.luadns.net.","ttl":86400,"zone_id":39105,"generated":false,"created_at":"2016-07-30T19:13:48.463465Z","updated_at":"2016-07-30T19:13:48.463465Z"},{"id":23373135,"name":"capsulecd.com.","type":"NS","content":"ns3.luadns.net.","ttl":86400,"zone_id":39105,"generated":false,"created_at":"2016-07-30T19:13:48.463463Z","updated_at":"2016-07-30T19:13:48.463464Z"},{"id":23373134,"name":"capsulecd.com.","type":"NS","content":"ns2.luadns.net.","ttl":86400,"zone_id":39105,"generated":false,"created_at":"2016-07-30T19:13:48.463462Z","updated_at":"2016-07-30T19:13:48.463462Z"},{"id":23373133,"name":"capsulecd.com.","type":"NS","content":"ns1.luadns.net.","ttl":86400,"zone_id":39105,"generated":false,"created_at":"2016-07-30T19:13:48.46346Z","updated_at":"2016-07-30T19:13:48.46346Z"},{"id":23373132,"name":"capsulecd.com.","type":"SOA","content":"ns1.luadns.net.
        hostmaster.luadns.com. 1521529623 1200 120 604800 3600","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2016-07-30T19:13:48.463456Z","updated_at":"2016-07-30T19:13:48.463456Z"}]

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"content": "127.0.0.1", "type": "A", "name": "localhost.capsulecd.com.",
      "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.luadns.com/v1/zones/39105/records
  response:
    body: {string: !!python/unicode '{"id":40753611,"name":"localhost.capsulecd.com.","type":"A","content":"127.0.0.1","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2018-03-20T07:18:08.068353602Z","updated_at":"2018-03-20T07:18:08.068355682Z"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
