interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.luadns.com/v1/zones
  response:
    body: {string: !!python/unicode '[{"id":39105,"name":"capsulecd.com","template_id":0,"synced":true,"queries_count":0,"records_count":17,"aliases_count":0,"redirects_count":0,"forwards_count":0}]'}
    headers:
      content-type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: '{"content": "ttlshouldbe3600", "type": "TXT", "name": "ttl.fqdn.capsulecd.com.",
      "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.luadns.com/v1/zones/39105/records
  response:
    body: {string: !!python/unicode '{"id":23375012,"name":"ttl.fqdn.capsulecd.com.","type":"TXT","content":"ttlshouldbe3600","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2016-07-30T21:18:23.944202567Z","updated_at":"2016-07-30T21:18:23.944203059Z"}'}
    headers:
      content-type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
[...]
