interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.luadns.com/v1/zones
  response:
    body: {string: !!python/unicode '[{"id":39105,"name":"capsulecd.com","template_id":0,"synced":true,"queries_count":0,"records_count":8,"aliases_count":0,"redirects_count":0,"forwards_count":0}]

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.luadns.com/v1/zones/39105/records
  response:
    body: {string: !!python/unicode '[{"id":40753612,"name":"_acme-challenge.fqdn.capsulecd.com.","type":"TXT","content":"challengetoken","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2018-03-20T07:18:09.105352Z","updated_at":"2018-03-20T07:18:09.105354Z"},{"id":40753611,"name":"localhost.capsulecd.com.","type":"A","content":"127.0.0.1","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2018-03-20T07:18:08.068354Z","updated_at":"2018-03-20T07:18:08.068356Z"},{"id":23373137,"name":"capsulecd.com.","type":"NS","content":"ns5.luadns.net.","ttl":86400,"zone_id":39105,"generated":false,"created_at":"2016-07-30T19:13:48.463466Z","updated_at":"2016-07-30T19:13:48.463467Z"},{"id":23373136,"name":"capsulecd.com.","typ[...]
- request:
    body: !!python/unicode '{"content": "challengetoken", "type": "TXT", "name": "_acme-challenge.full.capsulecd.com.",
      "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.luadns.com/v1/zones/39105/records
  response:
    body: {string: !!python/unicode '{"id":40753613,"name":"_acme-challenge.full.capsulecd.com.","type":"TXT","content":"challengetoken","ttl":3600,"zone_id":39105,"generated":false,"created_at":"2018-03-20T07:18:10.105099755Z","updated_at":"2018-03-20T07:18:10.105101656Z"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
