interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dashboard.dynomesh.com.au/dns_zones.json
  response:
    body: {string: '[{"dns_zone":{"created_at":"2018-01-23T13:10:10+11:00","id":643,"name":"zzzzzz.invalid","updated_at":"2018-01-23T13:10:10+11:00","user_id":348,"cdn_reference":172619460}},{"dns_zone":{"created_at":"2018-03-15T08:53:45+11:00","id":649,"name":"my-test.org","updated_at":"2018-03-15T08:53:45+11:00","user_id":348,"cdn_reference":73259687}}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"20964277e99a25982691d91da6e0d4ab"']
      Status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"dns_record": {"name": "docs", "type": "CNAME", "hostname": "docs.example.com",
      "ttl": "3600"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dashboard.dynomesh.com.au/dns_zones/649/records.json
  response:
    body: {string: '{"dns_record":{"hostname":"docs.example.com","id":2792031,"name":"docs","ttl":"3600","type":"CNAME"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"9c259421d1ee6cef582faebc8a0f7346"']
      Location: [/dns_zones/649/records]
      Status: [201 Created]
    status: {code: 201, message: Created}
version: 1
