interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dashboard.dynomesh.com.au/dns_zones.json
  response:
    body: {string: '[{"dns_zone":{"created_at":"2018-01-23T13:10:10+11:00","id":643,"name":"zzzzzz.invalid","updated_at":"2018-01-23T13:10:10+11:00","user_id":348,"cdn_reference":172619460}},{"dns_zone":{"created_at":"2018-03-15T08:53:45+11:00","id":649,"name":"my-test.org","updated_at":"2018-03-15T08:53:45+11:00","user_id":348,"cdn_reference":73259687}}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"20964277e99a25982691d91da6e0d4ab"']
      Status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"dns_record": {"name": "delete.testfqdn", "type": "TXT", "txt": "challengetoken",
      "ttl": "3600"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dashboard.dynomesh.com.au/dns_zones/649/records.json
  response:
    body: {string: '{"dns_record":{"id":2792036,"name":"delete.testfqdn","ttl":"3600","txt":"challengetoken","type":"TXT"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"32373201c684887e6905a0433ec19b4e"']
      Location: [/dns_zones/649/records]
      Status: [201 Created]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dashboard.dynomesh.com.au/dns_zones/649/records.json
  response:
    body: {string: '{"dns_zone":{"created_at":"2018-03-15T08:53:45+11:00","id":649,"name":"my-test.org","updated_at":"2018-03-15T08:53:45+11:00","user_id":348,"records":{"SOA":[{"dns_record":{"expire":1209600,"hostmaster":"support@fleetssl.com","id":2792029,"minimum":1200,"name":"@","primaryNs":"ns1.dynomesh.net.au","refresh":1200,"retry":180,"serial":31,"ttl":86400,"type":"SOA"}}],"NS":[{"dns_record":{"hostname":"ns1.dynomesh.net.au","id":2792025,"name":"@","ttl":86400,"type":"NS"}},{"dns_record":{"hostname":"ns2.dynomesh.net.au","id":2792026,"name":"@","ttl":86400,"type":"NS"}},{"dns_record":{"hostname":"ns3.dynomesh.net.au","id":2792027,"name":"@","ttl":86400,"type":"NS"}},{"dns_record":{"hostname":"ns4.dynomesh.net.au","id":2792028,"name":"@","ttl":86400,"type":"NS"}}],"A":[{"dns_record":{"id":2792030,"ip":"127.0.0.1","name":"localhost","ttl":3600,"type":"A"}}],"CNAME":[{"dns_record":{"hostname":"docs.example.com","id":2792031,"name":"docs","ttl":3600,"type":"CNAME"}}],"TXT":[{"dns_record":{"id":2792032,"name":"_acme-challenge.fqdn","ttl":3600,"txt":"challengetoken","type":"TXT"}},{"dns_record":{"id":2792033,"name":"_acme-challenge.full","ttl":3600,"txt":"challengetoken","type":"TXT"}},{"dns_record":{"id":2792034,"name":"_acme-challenge.test","ttl":3600,"txt":"challengetoken","type":"TXT"}},{"dns_record":{"id":2792036,"name":"delete.testfqdn","ttl":3600,"txt":"challengetoken","type":"TXT"}}]},"cdn_reference":73259687}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"d836613044873142db9dbdaf4fd05bbd"']
      Status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://dashboard.dynomesh.com.au/dns_zones/649/records/2792036.json
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/plain; charset=UTF-8]
      Status: [204 No Content]
    status: {code: 204, message: No Content}
[...]
