interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dashboard.dynomesh.com.au/dns_zones.json
  response:
    body: {string: '[{"dns_zone":{"created_at":"2018-01-23T13:10:10+11:00","id":643,"name":"zzzzzz.invalid","updated_at":"2018-01-23T13:10:10+11:00","user_id":348,"cdn_reference":172619460}},{"dns_zone":{"created_at":"2018-03-26T13:44:43+11:00","id":653,"name":"my-test.org","updated_at":"2018-03-26T13:44:43+11:00","user_id":348,"cdn_reference":624791005}}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"9882521221fa754b650a3428de7112cb"']
      Status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"dns_record": {"name": "localhost", "type": "A", "ip": "127.0.0.1", "ttl":
      "3600"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dashboard.dynomesh.com.au/dns_zones/653/records.json
  response:
    body: {string: '{"dns_record":{"id":2797633,"ip":"127.0.0.1","name":"localhost","ttl":"3600","type":"A"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"350b2e798d97641b4fde2d9a11291166"']
      Location: [/dns_zones/653/records]
      Status: [201 Created]
    status: {code: 201, message: Created}
version: 1
