interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dashboard.dynomesh.com.au/dns_zones.json
  response:
    body: {string: '[{"dns_zone":{"created_at":"2018-01-23T13:10:10+11:00","id":643,"name":"zzzzzz.invalid","updated_at":"2018-01-23T13:10:10+11:00","user_id":348,"cdn_reference":172619460}},{"dns_zone":{"created_at":"2018-03-14T20:37:34+11:00","id":648,"name":"my-test.org","updated_at":"2018-03-14T20:37:34+11:00","user_id":348,"cdn_reference":556960568}}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"ec75dde3c3b5ed64907fa69245eb9a86"']
      Status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"dns_record": {"name": "orig.nameonly.test", "type": "TXT", "txt": "challengetoken",
      "ttl": "3600"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dashboard.dynomesh.com.au/dns_zones/648/records.json
  response:
    body: {string: '{"dns_record":{"id":2791873,"name":"orig.nameonly.test","ttl":"3600","txt":"challengetoken","type":"TXT"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"0141d7e82a5dd547b970d9dd2bb7e032"']
      Location: [/dns_zones/648/records]
      Status: [201 Created]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dashboard.dynomesh.com.au/dns_zones/648/records.json
  response:
    body: {string: '{"dns_zone":{"created_at":"2018-03-14T20:37:34+11:00","id":648,"name":"my-test.org","updated_at":"2018-03-14T20:37:34+11:00","user_id":348,"records":{"SOA":[{"dns_record":{"expire":1209600,"hostmaster":"support@fleetssl.com","id":2791858,"minimum":1200,"name":"@","primaryNs":"ns1.dynomesh.net.au","refresh":1200,"retry":180,"serial":43,"ttl":86400,"type":"SOA"}}],"NS":[{"dns_record":{"hostname":"ns1.dynomesh.net.au","id":2791854,"name":"@","ttl":86400,"type":"NS"}},{"dns_record":{"hostname":"ns2.dynomesh.net.au","id":2791855,"name":"@","ttl":86400,"type":"NS"}},{"dns_record":{"hostname":"ns3.dynomesh.net.au","id":2791856,"name":"@","ttl":86400,"type":"NS"}},{"dns_record":{"hostname":"ns4.dynomesh.net.au","id":2791857,"name":"@","ttl":86400,"type":"NS"}}],"A":[{"dns_record":{"id":2791859,"ip":"127.0.0.1","name":"localhost","ttl":3600,"type":"A"}}],"CNAME":[{"dns_record":{"hostname":"docs.example.com","id":2791860,"name":"docs","ttl":3600,"type":"CNAME"}}],"TXT":[{"dns_record":{"id":2791861,"name":"_acme-challenge.fqdn","ttl":3600,"txt":"challengetoken","type":"TXT"}},{"dns_record":{"id":2791862,"name":"_acme-challenge.full","ttl":3600,"txt":"challengetoken","type":"TXT"}},{"dns_record":{"id":2791863,"name":"_acme-challenge.test","ttl":3600,"txt":"challengetoken","type":"TXT"}},{"dns_record":{"id":2791868,"name":"ttl.fqdn","ttl":3600,"txt":"ttlshouldbe3600","type":"TXT"}},{"dns_record":{"id":2791869,"name":"random.fqdntest","ttl":3600,"txt":"challengetoken","type":"TXT"}},{"dns_record":{"id":2791870,"name":"random.fulltest","ttl":3600,"txt":"challengetoken","type":"TXT"}},{"dns_record":{"id":2791871,"name":"random.test","ttl":3600,"txt":"challengetoken","type":"TXT"}},{"dns_record":{"id":2791872,"name":"updated.test","ttl":3600,"txt":"challengetoken","type":"TXT"}},{"dns_record":{"id":2791873,"name":"orig.nameonly.test","ttl":3600,"txt":"challengetoken","type":"TXT"}}]},"cdn_reference":556960568}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"d98e47e84b04567bfa01257f5f201355"']
      Status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"dns_record": {"name": "orig.nameonly.test", "ttl": "3600", "txt": "updated"}}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://dashboard.dynomesh.com.au/dns_zones/648/records/2791873.json
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/plain; charset=UTF-8]
      Status: [204 No Content]
    status: {code: 204, message: No Content}
version: 1
