interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dashboard.dynomesh.com.au/dns_zones.json
  response:
    body: {string: '[{"dns_zone":{"created_at":"2018-01-23T13:10:10+11:00","id":643,"name":"zzzzzz.invalid","updated_at":"2018-01-23T13:10:10+11:00","user_id":348,"cdn_reference":172619460}},{"dns_zone":{"created_at":"2018-03-14T20:37:34+11:00","id":648,"name":"my-test.org","updated_at":"2018-03-14T20:37:34+11:00","user_id":348,"cdn_reference":556960568}}]'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"ec75dde3c3b5ed64907fa69245eb9a86"']
      Status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"dns_record": {"name": "_acme-challenge.full", "type": "TXT", "txt": "challengetoken",
      "ttl": "3600"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dashboard.dynomesh.com.au/dns_zones/648/records.json
  response:
    body: {string: '{"dns_record":{"id":2791862,"name":"_acme-challenge.full","ttl":"3600","txt":"challengetoken","type":"TXT"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"d362c2c60e63023d022dc11feca7a404"']
      Location: [/dns_zones/648/records]
      Status: [201 Created]
    status: {code: 201, message: Created}
version: 1
