interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://rage4.com/rapi/getdomainbyname/?name=capsulecd.com
  response:
    body: {string: !!python/unicode '{"id":67787,"name":"capsulecd.com","owner_email":"lexicon@mailinator.com","type":0,"subnet_mask":0,"default_ns1":"ns1.r4ns.com","default_ns2":"ns2.r4ns.net","soa_refresh":10800,"soa_expiry":604800,"soa_retry":3600,"soa_nx":3600,"ns_ttl":3600}'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://rage4.com/rapi/getrecords/?id=67787
  response:
    body: {string: !!python/unicode '[{"id":2863407,"name":"capsulecd.com","content":"ns1.r4ns.com
        lexicon.mailinator.com 1521787998 10800 3600 604800 3600","type":"SOA","ttl":3600,"priority":1,"domain_id":67787,"geo_region_id":0,"geo_lat":0.0,"geo_long":0.0,"failover_enabled":false,"failover_active":false,"failover_content":null,"failover_withdraw":false,"webhook_id":-1,"is_active":true,"udp_limit":false,"description":null},{"id":2863409,"name":"capsulecd.com","content":"ns1.r4ns.com","type":"NS","ttl":3600,"priority":1,"domain_id":67787,"geo_region_id":0,"geo_lat":0.0,"geo_long":0.0,"failover_enabled":false,"failover_active":false,"failover_content":null,"failover_withdraw":false,"webhook_id":-1,"is_active":true,"udp_limit":false,"description":null},{"id":2863411,"name":"capsulecd.com","content":"ns2.r4ns.net","type":"NS","ttl":3600,"priority":1,"domain_id":67787,"geo_region_id":0,"geo_lat":0.0,"geo_long":0.[...]
