interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://rage4.com/rapi/getdomainbyname/?name=capsulecd.com
  response:
    body: {string: !!python/unicode '{"id":57039,"name":"capsulecd.com","owner_email":"lexicon@mailinator.com","type":0,"subnet_mask":0,"default_ns1":"ns1.r4ns.com","default_ns2":"ns2.r4ns.net"}'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rage4.com/rapi/createrecord/?content=challengetoken&type=TXT&id=57039&name=orig.test.capsulecd.com
  response:
    body: {string: !!python/unicode '{"status":true,"id":1952275,"error":""}'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://rage4.com/rapi/getrecords/?id=57039&name=orig.test.capsulecd.com
  response:
    body: {string: !!python/unicode '[{"id":1952275,"name":"orig.test.capsulecd.com","content":"challengetoken","type":"TXT","ttl":3600,"priority":1,"domain_id":57039,"geo_region_id":0,"geo_lat":0.0,"geo_long":0.0,"failover_enabled":false,"failover_active":false,"failover_content":null,"failover_withdraw":false,"webhook_id":-1,"is_active":true,"udp_limit":false,"description":null}]'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://rage4.com/rapi/updaterecord/?content=challengetoken&id=1952275&name=updated.test.capsulecd.com
  response:
    body: {string: !!python/unicode "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0\
        \ Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\r\n\
        <html xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head>\r\n<meta http-equiv=\"\
        Content-Type\" content=\"text/html; charset=iso-8859-1\"/>\r\n<title>405 -\
        \ HTTP verb used to access this page is not allowed.</title>\r\n<style type=\"\
        text/css\">\r\n<!--\r\nbody{margin:0;font-size:.7em;font-family:Verdana, Arial,\
        \ Helvetica, sans-serif;background:#EEEEEE;}\r\nfieldset{padding:0 15px 10px\
        \ 15px;} \r\nh1{font-size:2.4em;margin:0;color:#FFF;}\r\nh2{font-size:1.7em;margin:0;color:#CC0000;}\
        \ \r\nh3{font-size:1.2em;margin:10px 0 0 0;color:#000000;} \r\n#header{width:96%;margin:0\
        \ 0 0 0;padding:6px 2% 6px 2%;font-family:\"trebuchet MS\", Verdana, sans-serif;color:#FFF;\r\
        \nbackground-color:#555555;}\r\n#content{margin:0 0 0 2%;position:relative;}\r\
        \n.content-container{background:#FFF;width:96%;margin-top:8px;padding:10px;position:relative;}\r\
        \n-->\r\n</style>\r\n</head>\r\n<body>\r\n<div id=\"header\"><h1>Server Error</h1></div>\r\
        \n<div id=\"content\">\r\n <div class=\"content-container\"><fieldset>\r\n\
        \  <h2>405 - HTTP verb used to access this page is not allowed.</h2>\r\n \
        \ <h3>The page you are looking for cannot be displayed because an invalid\
        \ method (HTTP verb) was used to attempt access.</h3>\r\n </fieldset></div>\r\
        \n</div>\r\n</body>\r\n</html>\r\n"}
    headers:
      allow: ['GET, HEAD, OPTIONS, TRACE']
      content-type: [text/html]
    status: {code: 405, message: Method Not Allowed}
version: 1
