interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://rage4.com/rapi/getdomainbyname/?name=capsulecd.com
  response:
    body: {string: !!python/unicode '{"id":57039,"name":"capsulecd.com","owner_email":"lexicon@mailinator.com","type":0,"subnet_mask":0,"default_ns1":"ns1.r4ns.com","default_ns2":"ns2.r4ns.net"}'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rage4.com/rapi/createrecord/?content=challengetoken&type=TXT&id=57039&name=delete.test.capsulecd.com
  response:
    body: {string: !!python/unicode '{"status":true,"id":1952439,"error":""}'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://rage4.com/rapi/getrecords/?id=57039&name=delete.test.capsulecd.com
  response:
    body: {string: !!python/unicode '[{"id":1952439,"name":"delete.test.capsulecd.com","content":"challengetoken","type":"TXT","ttl":3600,"priority":1,"domain_id":57039,"geo_region_id":0,"geo_lat":0.0,"geo_long":0.0,"failover_enabled":false,"failover_active":false,"failover_content":null,"failover_withdraw":false,"webhook_id":-1,"is_active":true,"udp_limit":false,"description":null}]'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"id": 1952439}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rage4.com/rapi/deleterecord/
  response:
    body: {string: !!python/unicode '{"status":true,"id":1952439,"error":""}'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://rage4.com/rapi/getrecords/?id=57039&name=delete.test.capsulecd.com
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
