interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://rage4.com/rapi/getdomainbyname/?name=capsulecd.com
  response:
    body: {string: !!python/unicode '{"id":67787,"name":"capsulecd.com","owner_email":"lexicon@mailinator.com","type":0,"subnet_mask":0,"default_ns1":"ns1.r4ns.com","default_ns2":"ns2.r4ns.net","soa_refresh":10800,"soa_expiry":604800,"soa_retry":3600,"soa_nx":3600,"ns_ttl":3600}'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://rage4.com/rapi/getrecords/?id=67787&name=localhost.capsulecd.com
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rage4.com/rapi/createrecord/?content=127.0.0.1&ttl=3600&type=A&id=67787&name=localhost.capsulecd.com
  response:
    body: {string: !!python/unicode '{"status":true,"id":2863433,"error":""}'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
