interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://rage4.com/rapi/getdomainbyname/?name=capsulecd.com
  response:
    body: {string: !!python/unicode '{"id":57039,"name":"capsulecd.com","owner_email":"lexicon@mailinator.com","type":0,"subnet_mask":0,"default_ns1":"ns1.r4ns.com","default_ns2":"ns2.r4ns.net"}'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://rage4.com/rapi/createrecord/?content=127.0.0.1&type=A&id=57039&name=localhost.capsulecd.com
  response:
    body: {string: !!python/unicode '{"status":true,"id":1954621,"error":""}'}
    headers:
      content-type: [text/plain; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
