interactions:
- request:
    body: !!python/unicode '{"filter": {"field": "ZoneName", "value": "eruza.de"},
      "limit": 25, "page": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://secure.hosting.de/api/dns/v1/json/zoneConfigsFind
  response:
    body:
      string: !!python/unicode "{\n    \"errors\": [\n    ],\n    \"metadata\": {\n
        \       \"clientTransactionId\": \"\",\n        \"serverTransactionId\": \"20190820165146539-dnsrobot-robots1-23691-0\"\n
        \   },\n    \"response\": {\n        \"data\": [\n            {\n                \"accountId\":
        \"190402dqdf2q2ra7qjq\",\n                \"addDate\": \"2019-04-02T14:19:31Z\",\n
        \               \"dnsSecMode\": \"off\",\n                \"dnsServerGroupId\":
        null,\n                \"emailAddress\": \"hostmaster@eruza.de\",\n                \"id\":
        \"190402ie2pps4ds4zx4\",\n                \"lastChangeDate\": \"2019-08-20T16:51:46Z\",\n
        \               \"masterIp\": \"\",\n                \"name\": \"eruza.de\",\n
        \               \"nameUnicode\": \"eruza.de\",\n                \"soaValues\":
        {\n                    \"expire\": 3600000,\n                    \"negativeTtl\":
        900,\n                    \"refresh\": 86400,\n                    \"retry\":
        7200,\n                    \"ttl\": 86400\n                },\n                \"status\":
        \"blocked\",\n                \"templateValues\": null,\n                \"type\":
        \"NATIVE\",\n                \"zoneTransferWhitelist\": [\n                ]\n
        \           }\n        ],\n        \"limit\": 25,\n        \"page\": 1,\n
        \       \"totalEntries\": 1,\n        \"totalPages\": 1,\n        \"type\":
        \"FindZoneConfigsResult\"\n    },\n    \"status\": \"success\",\n    \"warnings\":
        [\n    ]\n}\n"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"filter": {"subFilterConnective": "AND", "subFilter":
      [{"field": "zoneConfigId", "value": "190402ie2pps4ds4zx4"}, {"field": "RecordType",
      "value": "TXT"}, {"field": "RecordName", "value": "orig.testfqdn.eruza.de"}]},
      "limit": 25, "page": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://secure.hosting.de/api/dns/v1/json/recordsFind
  response:
    body:
      string: !!python/unicode "{\n    \"errors\": [\n    ],\n    \"metadata\": {\n
        \       \"clientTransactionId\": \"\",\n        \"serverTransactionId\": \"20190820165146708-dnsrobot-robots1-23691-0\"\n
        \   },\n    \"response\": {\n        \"data\": [\n        ],\n        \"limit\":
        25,\n        \"page\": 1,\n        \"totalEntries\": 0,\n        \"totalPages\":
        0,\n        \"type\": \"FindRecordsResult\"\n    },\n    \"status\": \"success\",\n
        \   \"warnings\": [\n    ]\n}\n"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"zoneConfig": {"status": "active", "masterIp": "", "nameUnicode":
      "eruza.de", "addDate": "2019-04-02T14:19:31Z", "zoneTransferWhitelist": [],
      "soaValues": {"negativeTtl": 900, "expire": 3600000, "retry": 7200, "refresh":
      86400, "ttl": 86400}, "dnsServerGroupId": null, "accountId": "190402dqdf2q2ra7qjq",
      "emailAddress": "hostmaster@eruza.de", "templateValues": null, "lastChangeDate":
      "2019-08-20T16:51:47Z", "dnsSecMode": "off", "type": "NATIVE", "id": "190402ie2pps4ds4zx4",
      "name": "eruza.de"}, "limit": 25, "recordsToAdd": [{"content": "challengetoken",
      "type": "TXT", "name": "orig.testfqdn.eruza.de", "ttl": 3600}], "page": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://secure.hosting.de/api/dns/v1/json/zoneUpdate
  response:
    body:
      string: !!python/unicode "{\n    \"errors\": [\n    ],\n    \"metadata\": {\n
        \       \"clientTransactionId\": \"\",\n        \"serverTransactionId\": \"20190820165148960-dnsrobot-robots1-23691-0\"\n
        \   },\n    \"response\": {\n        \"records\": [\n            {\n                \"accountId\":
        \"190402dqdf2q2ra7qjq\",\n                \"addDate\": \"2019-04-02T14:19:31Z\",\n
        \               \"content\": \"ns1.hosting.de\",\n                \"id\":
        \"190402gl4kgqz5rnscq\",\n                \"lastChangeDate\": \"2019-04-02T14:19:31Z\",\n
        \               \"name\": \"eruza.de\",\n                \"priority\": null,\n
        \               \"recordTemplateId\": null,\n                \"ttl\": 86400,\n
        \               \"type\": \"NS\",\n                \"zoneConfigId\": \"190402ie2pps4ds4zx4\"\n
        \           },\n            {\n                \"accountId\": \"190402dqdf2q2ra7qjq\",\n
        \               \"addDate\": \"2019-04-02T14:19:31Z\",\n                \"content\":
        \"ns2.hosting.de\",\n                \"id\": \"190402w3oaepotopuf4\",\n                \"lastChangeDate\":
        \"2019-04-02T14:19:31Z\",\n                \"name\": \"eruza.de\",\n                \"priority\":
        null,\n                \"recordTemplateId\": null,\n  [...]
[...]
- request:
    body: !!python/unicode '{"zoneConfig": {"status": "blocked", "masterIp": "", "nameUnicode":
      "eruza.de", "addDate": "2019-04-02T14:19:31Z", "zoneTransferWhitelist": [],
      "soaValues": {"negativeTtl": 900, "expire": 3600000, "retry": 7200, "refresh":
      86400, "ttl": 86400}, "dnsServerGroupId": null, "accountId": "190402dqdf2q2ra7qjq",
      "emailAddress": "hostmaster@eruza.de", "templateValues": null, "lastChangeDate":
      "2019-08-20T16:51:49Z", "dnsSecMode": "off", "type": "NATIVE", "id": "190402ie2pps4ds4zx4",
      "name": "eruza.de"}, "recordsToDelete": [{"id": "190820s7xasbsrdbr4i"}], "limit":
      25, "page": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://secure.hosting.de/api/dns/v1/json/zoneUpdate
  response:
    body:
      string: !!python/unicode "{\n    \"errors\": [\n        {\n            \"code\":
        10205,\n            \"contextObject\": \"\",\n            \"contextPath\":
        \"\",\n            \"details\": [\n            ],\n            \"text\": \"The
        current status of an object you are trying to use does not allow that operation.\",\n
        \           \"value\": \"blocked\"\n        }\n    ],\n    \"metadata\": {\n
        \       \"clientTransactionId\": \"\",\n        \"serverTransactionId\": \"20190820165149640-dnsrobot-robots1-23691-0\"\n
        \   },\n    \"status\": \"error\",\n    \"warnings\": [\n    ]\n}\n"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
