interactions:
- request:
    body: !!python/unicode '{"filter": {"field": "ZoneName", "value": "thisisadomainidonotown.com"},
      "limit": 25, "page": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://secure.hosting.de/api/dns/v1/json/zoneConfigsFind
  response:
    body:
      string: !!python/unicode "{\n    \"errors\": [\n    ],\n    \"metadata\": {\n
        \       \"clientTransactionId\": \"\",\n        \"serverTransactionId\": \"20190820164936213-dnsrobot-robots1-23691-0\"\n
        \   },\n    \"response\": {\n        \"data\": [\n        ],\n        \"limit\":
        25,\n        \"page\": 1,\n        \"totalEntries\": 0,\n        \"totalPages\":
        0,\n        \"type\": \"FindZoneConfigsResult\"\n    },\n    \"status\": \"success\",\n
        \   \"warnings\": [\n    ]\n}\n"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
