interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 21 Mar 2018 05:25:20 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=capsulecd.com
  response:
    body: {string: !!python/unicode '{"created":1521590400000,"delegateNameServers":["dawn.ns.cloudflare.com.","owen.ns.cloudflare.com."],"folderId":2052,"gtdEnabled":false,"nameServers":[{"fqdn":"ns1.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.45","ipv6":"2600:1806:511:210:1eaf::45"},{"fqdn":"ns2.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.46","ipv6":"2600:1806:511:210:1eaf::46"},{"fqdn":"ns3.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.47","ipv6":"2600:1806:511:210:1eaf::47"},{"fqdn":"ns4.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.48","ipv6":"2600:1806:511:210:1eaf::48"},{"fqdn":"ns5.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.49","ipv6":"2600:1806:511:210:1eaf::49"}],"pendingActionId":0,"updated":1521609889401,"processMulti":false,"activeThirdParties":[],"name":"capsulecd.com","id":878951}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [babc2d7b-930a-4c41-b9d9-3a4d74f2b8ff]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['115']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"type": "TXT", "name": "delete.testid", "value": "challengetoken",
      "ttl": 3600}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 21 Mar 2018 05:25:20 GMT']
    method: POST
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/878951/records/
  response:
    body: {string: !!python/unicode '{"failover":false,"monitor":false,"sourceId":878951,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"source":1,"name":"delete.testid","value":"\"challengetoken\"","id":10168995,"type":"TXT"}'}
    headers:
      content-type: [application/json]
      location: ['http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/878951/records/10168995']
      x-dnsme-requestid: [571b4fdd-572e-405f-8505-e385fbfe87c4]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['114']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 21 Mar 2018 05:25:20 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/878951/records?recordName=delete.testid&type=TXT
  response:
    body: {string: !!python/unicode '{"totalPages":1,"totalRecords":1,"data":[{"failover":false,"monitor":false,"sourceId":878951,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"source":1,"name":"delete.testid","value":"\"challengetoken\"","id":10168995,"type":"TXT"}],"page":0}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [e29b2843-9c7f-42e9-a7e3-5ab66552778f]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['113']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 21 Mar 2018 05:25:21 GMT']
    method: DELETE
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/878951/records/10168995
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [1d68bdd4-0da7-49c7-91db-356360f976cd]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['112']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 21 Mar 2018 05:25:21 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/878951/records?recordName=delete.testid&type=TXT
  response:
    body: {string: !!python/unicode '{"totalPages":1,"totalRecords":0,"data":[],"page":0}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [b39db0c6-7318-4bb2-8805-2173db9acc90]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['111']
    status: {code: 200, message: OK}
version: 1
