interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:36 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=capsulecd.com
  response:
    body: {string: !!python/unicode '{"name":"capsulecd.com","id":874984,"created":1458864000000,"processMulti":false,"activeThirdParties":[],"delegateNameServers":["dawn.ns.cloudflare.com.","owen.ns.cloudflare.com."],"folderId":1668,"gtdEnabled":false,"nameServers":[{"ipv4":"208.94.147.112","ipv6":"2600:1800:0::1","fqdn":"ns1.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.113","ipv6":"2600:1801:1::1","fqdn":"ns2.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.114","ipv6":"2600:1802:2::1","fqdn":"ns3.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.116","ipv6":"2600:1801:3::1","fqdn":"ns4.sandbox.dnsmadeeasy.com"}],"pendingActionId":0,"updated":1472326176934}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [e777c3f4-addc-4593-987a-890563ba6e13]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['37']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "TXT", "name": "orig.testfull", "value": "challengetoken", "ttl":
      3600}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:36 GMT']
    method: POST
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/
  response:
    body: {string: !!python/unicode '{"name":"orig.testfull","value":"\"challengetoken\"","id":10124259,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"monitor":false,"sourceId":874984,"failover":false}'}
    headers:
      content-type: [application/json]
      location: ['http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10124259']
      x-dnsme-requestid: [f889340f-7b23-4f41-b336-82e00c912a6a]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['36']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:37 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records?recordName=orig.testfull&type=TXT
  response:
    body: {string: !!python/unicode '{"data":[{"name":"orig.testfull","value":"\"challengetoken\"","id":10124259,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"monitor":false,"sourceId":874984,"failover":false}],"page":0,"totalPages":1,"totalRecords":1}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [9e79645f-0be0-4c61-92d3-a3a1e9e4d339]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['35']
    status: {code: 200, message: OK}
- request:
    body: '{"value": "challengetoken", "type": "TXT", "id": 10124259, "name": "updated.testfull",
      "ttl": 3600}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:37 GMT']
    method: PUT
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10124259
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [7ac7006b-f693-4200-a8f4-5dc4d27b006e]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['34']
    status: {code: 200, message: OK}
version: 1
