interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:21 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=capsulecd.com
  response:
    body: {string: !!python/unicode '{"name":"capsulecd.com","id":874984,"created":1458864000000,"processMulti":false,"activeThirdParties":[],"delegateNameServers":["dawn.ns.cloudflare.com.","owen.ns.cloudflare.com."],"folderId":1668,"gtdEnabled":false,"nameServers":[{"ipv4":"208.94.147.112","ipv6":"2600:1800:0::1","fqdn":"ns1.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.113","ipv6":"2600:1801:1::1","fqdn":"ns2.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.114","ipv6":"2600:1802:2::1","fqdn":"ns3.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.116","ipv6":"2600:1801:3::1","fqdn":"ns4.sandbox.dnsmadeeasy.com"}],"pendingActionId":0,"updated":1472326176934}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [26c2c195-7e95-4da7-8661-cac505ad95a5]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['74']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "TXT", "name": "delete.testfqdn", "value": "challengetoken", "ttl":
      3600}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:21 GMT']
    method: POST
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/
  response:
    body: {string: !!python/unicode '{"name":"delete.testfqdn","value":"\"challengetoken\"","id":10124250,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"monitor":false,"sourceId":874984,"failover":false}'}
    headers:
      content-type: [application/json]
      location: ['http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10124250']
      x-dnsme-requestid: [08359078-4b1e-4809-9e22-4d6a18ae5411]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['73']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:21 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records?recordName=delete.testfqdn&type=TXT
  response:
    body: {string: !!python/unicode '{"data":[{"name":"delete.testfqdn","value":"\"challengetoken\"","id":10124250,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"monitor":false,"sourceId":874984,"failover":false}],"page":0,"totalPages":1,"totalRecords":1}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [9de7b645-befb-4227-9858-a0c979063233]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['72']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:21 GMT']
    method: DELETE
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10124250
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [86411dea-6e70-4e4b-8849-5692cafd4b98]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['71']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:22 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records?recordName=delete.testfqdn&type=TXT
  response:
    body: {string: !!python/unicode '{"data":[],"page":0,"totalPages":1,"totalRecords":0}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [da760e43-11a1-458b-9bab-831c0aa82334]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['70']
    status: {code: 200, message: OK}
version: 1
