interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 21 Mar 2018 05:25:32 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=capsulecd.com
  response:
    body: {string: !!python/unicode '{"created":1521590400000,"delegateNameServers":["dawn.ns.cloudflare.com.","owen.ns.cloudflare.com."],"folderId":2052,"gtdEnabled":false,"nameServers":[{"fqdn":"ns1.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.45","ipv6":"2600:1806:511:210:1eaf::45"},{"fqdn":"ns2.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.46","ipv6":"2600:1806:511:210:1eaf::46"},{"fqdn":"ns3.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.47","ipv6":"2600:1806:511:210:1eaf::47"},{"fqdn":"ns4.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.48","ipv6":"2600:1806:511:210:1eaf::48"},{"fqdn":"ns5.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.49","ipv6":"2600:1806:511:210:1eaf::49"}],"pendingActionId":0,"updated":1521609889401,"processMulti":false,"activeThirdParties":[],"name":"capsulecd.com","id":878951}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [cd347bc7-f201-44a5-8d37-70d804d0bb91]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['72']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"type": "TXT", "name": "orig.testfqdn", "value": "challengetoken",
      "ttl": 3600}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 21 Mar 2018 05:25:32 GMT']
    method: POST
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/878951/records/
  response:
    body: {string: !!python/unicode '{"failover":false,"monitor":false,"sourceId":878951,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"source":1,"name":"orig.testfqdn","value":"\"challengetoken\"","id":10169007,"type":"TXT"}'}
    headers:
      content-type: [application/json]
      location: ['http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/878951/records/10169007']
      x-dnsme-requestid: [f4ea0041-f14b-4467-88e4-a77a47be2713]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['71']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 21 Mar 2018 05:25:32 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/878951/records?recordName=orig.testfqdn&type=TXT
  response:
    body: {string: !!python/unicode '{"totalPages":1,"totalRecords":1,"data":[{"failover":false,"monitor":false,"sourceId":878951,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"source":1,"name":"orig.testfqdn","value":"\"challengetoken\"","id":10169007,"type":"TXT"}],"page":0}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [135bcdde-1486-4a06-9b60-5c7c5f7d34f3]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['70']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"value": "challengetoken", "type": "TXT", "id": 10169007,
      "name": "updated.testfqdn", "ttl": 3600}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 21 Mar 2018 05:25:33 GMT']
    method: PUT
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/878951/records/10169007
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [ea9a25b8-97fb-441a-8640-cde1fb5696a1]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['69']
    status: {code: 200, message: OK}
version: 1
