interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:27 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=capsulecd.com
  response:
    body: {string: !!python/unicode '{"name":"capsulecd.com","id":874984,"created":1458864000000,"processMulti":false,"activeThirdParties":[],"delegateNameServers":["dawn.ns.cloudflare.com.","owen.ns.cloudflare.com."],"folderId":1668,"gtdEnabled":false,"nameServers":[{"ipv4":"208.94.147.112","ipv6":"2600:1800:0::1","fqdn":"ns1.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.113","ipv6":"2600:1801:1::1","fqdn":"ns2.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.114","ipv6":"2600:1802:2::1","fqdn":"ns3.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.116","ipv6":"2600:1801:3::1","fqdn":"ns4.sandbox.dnsmadeeasy.com"}],"pendingActionId":0,"updated":1472326176934}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [2297efdc-c459-45fe-851f-ae29ef154429]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['56']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "TXT", "name": "random.fqdntest", "value": "challengetoken", "ttl":
      3600}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:27 GMT']
    method: POST
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/
  response:
    body: {string: !!python/unicode '{"name":"random.fqdntest","value":"\"challengetoken\"","id":10124254,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"monitor":false,"sourceId":874984,"failover":false}'}
    headers:
      content-type: [application/json]
      location: ['http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10124254']
      x-dnsme-requestid: [0b66a1e3-883d-437d-a72f-66227d02fe26]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['55']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:28 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records?recordName=random.fqdntest&type=TXT
  response:
    body: {string: !!python/unicode '{"data":[{"name":"random.fqdntest","value":"\"challengetoken\"","id":10124254,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"monitor":false,"sourceId":874984,"failover":false}],"page":0,"totalPages":1,"totalRecords":1}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [09e358cb-36a4-4c39-87f5-40c5577f9999]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['54']
    status: {code: 200, message: OK}
version: 1
