interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 30 Mar 2016 01:59:24 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=capsulecd.com
  response:
    body: {string: !!python/unicode '{"name":"capsulecd.com","id":874984,"created":1458864000000,"nameServers":[{"fqdn":"ns0.dnsmadeeasy.com","ipv4":"208.94.148.2","ipv6":"2600:1800:0::1"},{"fqdn":"ns1.dnsmadeeasy.com","ipv4":"208.80.124.2","ipv6":"2600:1801:1::1"},{"fqdn":"ns2.dnsmadeeasy.com","ipv4":"208.80.126.2","ipv6":"2600:1802:2::1"},{"fqdn":"ns3.dnsmadeeasy.com","ipv4":"208.80.125.2","ipv6":"2600:1801:3::1"},{"fqdn":"ns4.dnsmadeeasy.com","ipv4":"208.80.127.2","ipv6":"2600:1802:4::1"}],"pendingActionId":0,"updated":1459303138386,"processMulti":false,"activeThirdParties":[],"delegateNameServers":["dawn.ns.cloudflare.com.","owen.ns.cloudflare.com."],"folderId":1668,"gtdEnabled":false}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [a7861e6d-9a52-4f99-953c-ac54a3a50ecb]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['98']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "TXT", "name": "orig.testfull", "value": "challengetoken", "ttl":
      86400}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 30 Mar 2016 01:59:24 GMT']
    method: POST
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/
  response:
    body: {string: !!python/unicode '{"name":"orig.testfull","value":"\"challengetoken\"","id":10098834,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":86400,"failover":false,"monitor":false,"sourceId":874984}'}
    headers:
      content-type: [application/json]
      location: ['http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10098834']
      x-dnsme-requestid: [4a39cda8-70cf-4d09-82b1-22e53c8034c3]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['97']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 30 Mar 2016 01:59:24 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records?recordName=orig.testfull&type=TXT
  response:
    body: {string: !!python/unicode '{"data":[{"name":"orig.testfull","value":"\"challengetoken\"","id":10098834,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":86400,"failover":false,"monitor":false,"sourceId":874984}],"page":0,"totalRecords":1,"totalPages":1}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [c7c46780-2d4e-42bb-a983-ffcc5c3f45c3]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['96']
    status: {code: 200, message: OK}
- request:
    body: '{"value": "challengetoken", "type": "TXT", "id": 10098834, "name": "updated.testfull",
      "ttl": 86400}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 30 Mar 2016 01:59:25 GMT']
    method: PUT
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10098834
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [dac87b11-de51-4c05-b3a7-83d4464c724c]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['95']
    status: {code: 200, message: OK}
version: 1
