interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Fri, 25 Mar 2016 17:36:13 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=capsulecd.com
  response:
    body: {string: !!python/unicode '{"name":"capsulecd.com","id":874984,"created":1458864000000,"nameServers":[{"fqdn":"ns0.dnsmadeeasy.com","ipv4":"208.94.148.2","ipv6":"2600:1800:0::1"},{"fqdn":"ns1.dnsmadeeasy.com","ipv4":"208.80.124.2","ipv6":"2600:1801:1::1"},{"fqdn":"ns2.dnsmadeeasy.com","ipv4":"208.80.126.2","ipv6":"2600:1802:2::1"},{"fqdn":"ns3.dnsmadeeasy.com","ipv4":"208.80.125.2","ipv6":"2600:1801:3::1"},{"fqdn":"ns4.dnsmadeeasy.com","ipv4":"208.80.127.2","ipv6":"2600:1802:4::1"}],"pendingActionId":0,"updated":1458927243941,"processMulti":false,"activeThirdParties":[],"delegateNameServers":["dawn.ns.cloudflare.com.","owen.ns.cloudflare.com."],"folderId":1668,"gtdEnabled":false}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [7c3fb078-eeb3-4513-a7de-dd59c0e38b61]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['134']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "TXT", "name": "delete.test", "value": "challengetoken", "ttl":
      86400}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Fri, 25 Mar 2016 17:36:14 GMT']
    method: POST
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/
  response:
    body: {string: !!python/unicode '{"name":"delete.test","value":"\"challengetoken\"","id":10098496,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":86400,"failover":false,"monitor":false,"sourceId":874984}'}
    headers:
      content-type: [application/json]
      location: ['http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10098496']
      x-dnsme-requestid: [13e3274c-4f78-4d0d-86a9-54d891103374]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['133']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Fri, 25 Mar 2016 17:36:14 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records?recordName=delete.test&type=TXT
  response:
    body: {string: !!python/unicode '{"data":[{"name":"delete.test","value":"\"challengetoken\"","id":10098496,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":86400,"failover":false,"monitor":false,"sourceId":874984}],"page":0,"totalRecords":1,"totalPages":1}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [9753ef36-4feb-4b0a-abcf-a2d95ffd04bb]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['132']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Fri, 25 Mar 2016 17:36:14 GMT']
    method: DELETE
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10098496
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [eb80a1cf-40f0-4666-a530-32d67d6a72a3]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['131']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Fri, 25 Mar 2016 17:39:11 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records?recordName=delete.test&type=TXT
  response:
    body: {string: !!python/unicode '{"data":[],"page":0,"totalRecords":0,"totalPages":1}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [d602f419-6cc1-44b5-b66b-7a7ffea2a8be]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['141']
    status: {code: 200, message: OK}
version: 1
