interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 21 Mar 2018 05:25:26 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=capsulecd.com
  response:
    body: {string: !!python/unicode '{"created":1521590400000,"delegateNameServers":["dawn.ns.cloudflare.com.","owen.ns.cloudflare.com."],"folderId":2052,"gtdEnabled":false,"nameServers":[{"fqdn":"ns1.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.45","ipv6":"2600:1806:511:210:1eaf::45"},{"fqdn":"ns2.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.46","ipv6":"2600:1806:511:210:1eaf::46"},{"fqdn":"ns3.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.47","ipv6":"2600:1806:511:210:1eaf::47"},{"fqdn":"ns4.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.48","ipv6":"2600:1806:511:210:1eaf::48"},{"fqdn":"ns5.sandbox.dnsmadeeasy.com","ipv4":"208.80.120.49","ipv6":"2600:1806:511:210:1eaf::49"}],"pendingActionId":0,"updated":1521609889401,"processMulti":false,"activeThirdParties":[],"name":"capsulecd.com","id":878951}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [c035ba5b-13df-4093-9cf7-7e32971ece87]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['96']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"type": "TXT", "name": "ttl.fqdn", "value": "ttlshouldbe3600",
      "ttl": 3600}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 21 Mar 2018 05:25:26 GMT']
    method: POST
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/878951/records/
  response:
    body: {string: !!python/unicode '{"failover":false,"monitor":false,"sourceId":878951,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"source":1,"name":"ttl.fqdn","value":"\"ttlshouldbe3600\"","id":10169000,"type":"TXT"}'}
    headers:
      content-type: [application/json]
      location: ['http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/878951/records/10169000']
      x-dnsme-requestid: [fbb94da4-2b7c-48fc-b1c3-2bc5244dc3db]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['95']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 21 Mar 2018 05:25:26 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/878951/records?recordName=ttl.fqdn&type=TXT
  response:
    body: {string: !!python/unicode '{"totalPages":1,"totalRecords":1,"data":[{"failover":false,"monitor":false,"sourceId":878951,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"source":1,"name":"ttl.fqdn","value":"\"ttlshouldbe3600\"","id":10169000,"type":"TXT"}],"page":0}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [f06024ca-e829-4a7e-ba3d-b2347c274556]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['94']
    status: {code: 200, message: OK}
version: 1
