interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 30 Jul 2016 21:17:56 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=capsulecd.com
  response:
    body: {string: !!python/unicode '{"name":"capsulecd.com","id":874984,"created":1458864000000,"processMulti":false,"activeThirdParties":[],"delegateNameServers":["dawn.ns.cloudflare.com.","owen.ns.cloudflare.com."],"folderId":1668,"gtdEnabled":false,"nameServers":[{"ipv4":"208.94.147.112","ipv6":"2600:1800:0::1","fqdn":"ns1.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.113","ipv6":"2600:1801:1::1","fqdn":"ns2.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.114","ipv6":"2600:1802:2::1","fqdn":"ns3.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.116","ipv6":"2600:1801:3::1","fqdn":"ns4.sandbox.dnsmadeeasy.com"}],"pendingActionId":0,"updated":1469912667781}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [da2c0e9b-acfe-41ad-9bdc-fde691cd05a2]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['149']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "TXT", "name": "ttl.fqdn", "value": "ttlshouldbe3600", "ttl":
      3600}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 30 Jul 2016 21:17:57 GMT']
    method: POST
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/
  response:
    body: {string: !!python/unicode '{"name":"ttl.fqdn","value":"\"ttlshouldbe3600\"","id":10123501,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"monitor":false,"sourceId":874984,"failover":false}'}
    headers:
      content-type: [application/json]
      location: ['http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10123501']
      x-dnsme-requestid: [cc0f497c-2e88-4e8a-852f-78a4320aefae]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['148']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 30 Jul 2016 21:18:02 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records?recordName=ttl.fqdn&type=TXT
  response:
    body: {string: !!python/unicode '{"data":[{"name":"ttl.fqdn","value":"\"ttlshouldbe3600\"","id":10123501,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"monitor":false,"sourceId":874984,"failover":false}],"page":0,"totalPages":1,"totalRecords":1}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [3c968cd1-fc2a-466a-940d-de689c423751]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['147']
    status: {code: 200, message: OK}
version: 1
