interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:30 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=capsulecd.com
  response:
    body: {string: !!python/unicode '{"name":"capsulecd.com","id":874984,"created":1458864000000,"processMulti":false,"activeThirdParties":[],"delegateNameServers":["dawn.ns.cloudflare.com.","owen.ns.cloudflare.com."],"folderId":1668,"gtdEnabled":false,"nameServers":[{"ipv4":"208.94.147.112","ipv6":"2600:1800:0::1","fqdn":"ns1.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.113","ipv6":"2600:1801:1::1","fqdn":"ns2.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.114","ipv6":"2600:1802:2::1","fqdn":"ns3.sandbox.dnsmadeeasy.com"},{"ipv4":"208.94.147.116","ipv6":"2600:1801:3::1","fqdn":"ns4.sandbox.dnsmadeeasy.com"}],"pendingActionId":0,"updated":1472326176934}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [e695d9b1-21c1-4538-ba0c-a0aa0d5b5802]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['45']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "TXT", "name": "orig.test", "value": "challengetoken", "ttl":
      3600}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:30 GMT']
    method: POST
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/
  response:
    body: {string: !!python/unicode '{"name":"orig.test","value":"\"challengetoken\"","id":10124257,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"monitor":false,"sourceId":874984,"failover":false}'}
    headers:
      content-type: [application/json]
      location: ['http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10124257']
      x-dnsme-requestid: [10bc971a-eb5b-4907-94c2-8f4b5d7ba301]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['44']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:34 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records?recordName=orig.test&type=TXT
  response:
    body: {string: !!python/unicode '{"data":[{"name":"orig.test","value":"\"challengetoken\"","id":10124257,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":3600,"monitor":false,"sourceId":874984,"failover":false}],"page":0,"totalPages":1,"totalRecords":1}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [30373908-bc51-4bcf-bf7e-9c188fbfde83]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['43']
    status: {code: 200, message: OK}
- request:
    body: '{"value": "challengetoken", "type": "TXT", "id": 10124257, "name": "updated.test",
      "ttl": 3600}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sat, 27 Aug 2016 19:30:34 GMT']
    method: PUT
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10124257
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [a87e5414-12af-425d-9f1f-1604869d95fb]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['42']
    status: {code: 200, message: OK}
version: 1
