interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 30 Mar 2016 01:59:21 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=capsulecd.com
  response:
    body: {string: !!python/unicode '{"name":"capsulecd.com","id":874984,"created":1458864000000,"nameServers":[{"fqdn":"ns0.dnsmadeeasy.com","ipv4":"208.94.148.2","ipv6":"2600:1800:0::1"},{"fqdn":"ns1.dnsmadeeasy.com","ipv4":"208.80.124.2","ipv6":"2600:1801:1::1"},{"fqdn":"ns2.dnsmadeeasy.com","ipv4":"208.80.126.2","ipv6":"2600:1802:2::1"},{"fqdn":"ns3.dnsmadeeasy.com","ipv4":"208.80.125.2","ipv6":"2600:1801:3::1"},{"fqdn":"ns4.dnsmadeeasy.com","ipv4":"208.80.127.2","ipv6":"2600:1802:4::1"}],"pendingActionId":0,"updated":1459303138386,"processMulti":false,"activeThirdParties":[],"delegateNameServers":["dawn.ns.cloudflare.com.","owen.ns.cloudflare.com."],"folderId":1668,"gtdEnabled":false}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [1b4889a7-4862-40b8-9b27-d5de8bbc8489]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['108']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Wed, 30 Mar 2016 01:59:21 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records
  response:
    body: {string: !!python/unicode '{"data":[{"name":"_acme-challenge.fqdn","value":"\"challengetoken\"","id":10098822,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":86400,"failover":false,"monitor":false,"sourceId":874984},{"name":"_acme-challenge.full","value":"\"challengetoken\"","id":10098823,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":86400,"failover":false,"monitor":false,"sourceId":874984},{"name":"_acme-challenge.test","value":"\"challengetoken\"","id":10098824,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":86400,"failover":false,"monitor":false,"sourceId":874984},{"name":"docs","va[...]
