interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sun, 27 Mar 2016 02:27:25 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=capsulecd.com
  response:
    body: {string: !!python/unicode '{"name":"capsulecd.com","id":874984,"created":1458864000000,"nameServers":[{"fqdn":"ns0.dnsmadeeasy.com","ipv4":"208.94.148.2","ipv6":"2600:1800:0::1"},{"fqdn":"ns1.dnsmadeeasy.com","ipv4":"208.80.124.2","ipv6":"2600:1801:1::1"},{"fqdn":"ns2.dnsmadeeasy.com","ipv4":"208.80.126.2","ipv6":"2600:1802:2::1"},{"fqdn":"ns3.dnsmadeeasy.com","ipv4":"208.80.125.2","ipv6":"2600:1801:3::1"},{"fqdn":"ns4.dnsmadeeasy.com","ipv4":"208.80.127.2","ipv6":"2600:1802:4::1"}],"pendingActionId":0,"updated":1459045638187,"processMulti":false,"activeThirdParties":[],"delegateNameServers":["dawn.ns.cloudflare.com.","owen.ns.cloudflare.com."],"folderId":1668,"gtdEnabled":false}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [ddcb4d26-bda9-4042-ad93-13fd9ad177bb]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['135']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "TXT", "name": "orig.test", "value": "challengetoken", "ttl":
      86400}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sun, 27 Mar 2016 02:27:26 GMT']
    method: POST
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/
  response:
    body: {string: !!python/unicode '{"name":"orig.test","value":"\"challengetoken\"","id":10098505,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":86400,"failover":false,"monitor":false,"sourceId":874984}'}
    headers:
      content-type: [application/json]
      location: ['http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10098505']
      x-dnsme-requestid: [23c14237-4c65-4c8c-a3b5-d929d5ec7d9c]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['134']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sun, 27 Mar 2016 02:27:26 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records?recordName=orig.test&type=TXT
  response:
    body: {string: !!python/unicode '{"data":[{"name":"orig.test","value":"\"challengetoken\"","id":10098505,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":86400,"failover":false,"monitor":false,"sourceId":874984}],"page":0,"totalRecords":1,"totalPages":1}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [f81e0825-b21c-4373-964f-0c4761b082a3]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['133']
    status: {code: 200, message: OK}
- request:
    body: '{"value": "challengetoken", "type": "TXT", "id": 10098505, "name": "updated.test",
      "ttl": 86400}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Sun, 27 Mar 2016 02:27:26 GMT']
    method: PUT
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10098505
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [efc9ab60-6f9f-4c9c-932e-260c7ff43dbb]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['132']
    status: {code: 200, message: OK}
version: 1
