interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Fri, 25 Mar 2016 17:33:46 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/name?domainname=capsulecd.com
  response:
    body: {string: !!python/unicode '{"name":"capsulecd.com","id":874984,"created":1458864000000,"nameServers":[{"fqdn":"ns0.dnsmadeeasy.com","ipv4":"208.94.148.2","ipv6":"2600:1800:0::1"},{"fqdn":"ns1.dnsmadeeasy.com","ipv4":"208.80.124.2","ipv6":"2600:1801:1::1"},{"fqdn":"ns2.dnsmadeeasy.com","ipv4":"208.80.126.2","ipv6":"2600:1802:2::1"},{"fqdn":"ns3.dnsmadeeasy.com","ipv4":"208.80.125.2","ipv6":"2600:1801:3::1"},{"fqdn":"ns4.dnsmadeeasy.com","ipv4":"208.80.127.2","ipv6":"2600:1802:4::1"}],"pendingActionId":0,"updated":1458927142798,"processMulti":false,"activeThirdParties":[],"delegateNameServers":["dawn.ns.cloudflare.com.","owen.ns.cloudflare.com."],"folderId":1668,"gtdEnabled":false}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [7c5d2a80-0257-4172-9bd1-47026853e57d]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['138']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "TXT", "name": "orig.testfqdn", "value": "challengetoken", "ttl":
      86400}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Fri, 25 Mar 2016 17:33:46 GMT']
    method: POST
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/
  response:
    body: {string: !!python/unicode '{"name":"orig.testfqdn","value":"\"challengetoken\"","id":10098494,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":86400,"failover":false,"monitor":false,"sourceId":874984}'}
    headers:
      content-type: [application/json]
      location: ['http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10098494']
      x-dnsme-requestid: [f13122f8-2ae0-4d60-a0f9-96395ee3d7c5]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['137']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Fri, 25 Mar 2016 17:33:47 GMT']
    method: GET
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records?recordName=orig.testfqdn&type=TXT
  response:
    body: {string: !!python/unicode '{"data":[{"name":"orig.testfqdn","value":"\"challengetoken\"","id":10098494,"type":"TXT","source":1,"dynamicDns":false,"failed":false,"gtdLocation":"DEFAULT","hardLink":false,"ttl":86400,"failover":false,"monitor":false,"sourceId":874984}],"page":0,"totalRecords":1,"totalPages":1}'}
    headers:
      content-type: [application/json]
      x-dnsme-requestid: [23a50f35-7ccd-45a6-a3bb-62d0498665ab]
      x-dnsme-requestlimit: ['150']
      x-dnsme-requestsremaining: ['136']
    status: {code: 200, message: OK}
- request:
    body: '{"type": "TXT", "name": "updated.testfqdn", "value": "challengetoken"}'
    headers:
      Content-Type: [application/json]
      x-dnsme-requestDate: ['Fri, 25 Mar 2016 17:33:47 GMT']
    method: PUT
    uri: http://api.sandbox.dnsmadeeasy.com/V2.0/dns/managed/874984/records/10098494/
  response:
    body: {string: !!python/unicode "\r\n\r\n\r\n\r\n\r\n\r\n\r\n<!DOCTYPE html>\r\
        \n<html>\r\n<head>\r\n\t<title>Management Console</title>\r\n\t\r\n\r\n\r\n\
        \    <meta charset=\"utf-8\" />\r\n\r\n\r\n\t<link rel=\"stylesheet\" href='/V2.0/css/ui.jqgrid.css;jsessionid=7E20AB26049B26DDE2F16B4144B7D621'\
        \ type=\"text/css\" />\r\n\t<link rel=\"stylesheet\" href='/V2.0/css/jquery.multiselect.css;jsessionid=7E20AB26049B26DDE2F16B4144B7D621'\
        \ type=\"text/css\" />\r\n\t<link rel=\"stylesheet\" href='/V2.0/css/jquery.multiselect.filter.css;jsessionid=7E20AB26049B26DDE2F16B4144B7D621'\
        \ type=\"text/css\" />\r\n\t<link rel=\"stylesheet\" href='/V2.0/css/jquery.jqplot.min.css;jsessio[...]
