interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns.api.gandi.net/api/v5/domains/reachfactory.ca
  response:
    body: {string: '{"zone_uuid": "d26f3afc-6e6a-11e8-a212-00163ee24379", "domain_keys_href":
        "https://dns.api.gandi.net/api/v5/domains/reachfactory.ca/keys", "fqdn": "reachfactory.ca",
        "zone_href": "https://dns.api.gandi.net/api/v5/zones/d26f3afc-6e6a-11e8-a212-00163ee24379",
        "zone_records_href": "https://dns.api.gandi.net/api/v5/zones/d26f3afc-6e6a-11e8-a212-00163ee24379/records",
        "domain_records_href": "https://dns.api.gandi.net/api/v5/domains/reachfactory.ca/records",
        "domain_href": "https://dns.api.gandi.net/api/v5/domains/reachfactory.ca"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Last-Modified: ['Tue, 12 Jun 2018 22:05:29 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns.api.gandi.net/api/v5/domains/reachfactory.ca/records
  response:
    body: {string: '[{"rrset_type": "A", "rrset_ttl": 10800, "rrset_name": "@", "rrset_href":
        "https://dns.api.gandi.net/api/v5/domains/reachfactory.ca/records/%40/A",
        "rrset_values": ["217.70.184.38"]}, {"rrset_type": "MX", "rrset_ttl": 10800,
        "rrset_name": "@", "rrset_href": "https://dns.api.gandi.net/api/v5/domains/reachfactory.ca/records/%40/MX",
        "rrset_values": ["10 spool.mail.gandi.net.", "50 fb.mail.gandi.net."]}, {"rrset_type":
        "TXT", "rrset_ttl": 10800, "rrset_name": "@", "rrset_href": "https://dns.api.gandi.net/api/v5/domains/reachfactory.ca/records/%40/TXT",
        "rrset_values": ["\"v=spf1 include:_mailcust.gandi.net ?all\""]}, {"rrset_t[...]
