interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.gandi.net/api/v5/domains/thisisadomainidonotown.com
  response:
    body:
      string: !!python/unicode '{"code": 404, "message": "The resource could not be
        found.", "object": "HTTPNotFound", "cause": "Not Found"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 29 Mar 2019 20:34:18 GMT
    status:
      code: 404
      message: Not Found
version: 1
