interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gandi.net/v5/livedns/domains/t18s.fr
  response:
    body:
      string: '{"domain_keys_href":"https://api.gandi.net/v5/livedns/domains/t18s.fr/keys","fqdn":"t18s.fr","automatic_snapshots":true,"domain_records_href":"https://api.gandi.net/v5/livedns/domains/t18s.fr/records","domain_href":"https://api.gandi.net/v5/livedns/domains/t18s.fr"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"112-tyQllSkZqMzGHTaisDLSgpwZtfY"
      Last-Modified:
      - Thu, 22 Oct 2020 21:23:28 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gandi.net/v5/livedns/domains/t18s.fr/records/delete.testfull/TXT
  response:
    body:
      string: '{"code": 404, "message": "Can''t find the DNS record delete.testfull/TXT
        in the zone", "object": "dns-record", "cause": "Not Found"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 22 Oct 2020 21:23:29 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: '{"rrset_values": ["challengetoken"], "rrset_ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.gandi.net/v5/livedns/domains/t18s.fr/records/delete.testfull/TXT
  response:
    body:
      string: '{"message":"DNS Record Created"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"20-8GzTjxqNVdrkc6ay0Gf8zJRLVdc"
      Last-Modified:
      - Thu, 22 Oct 2020 21:23:29 GMT
      location:
      - https://api.gandi.net/v5/livedns/domains/t18s.fr/records/delete.testfull/TXT
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gandi.net/v5/livedns/domains/t18s.fr/records/delete.testfull/TXT
  response:
    body:
      string: '{"rrset_type":"TXT","rrset_ttl":3600,"rrset_name":"delete.testfull","rrset_href":"https://api.gandi.net/v5/livedns/domains/t18s.fr/records/delete.testfull/TXT","rrset_values":["\"challengetoken\""]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c8-wQZ7GUaswtvAbLvqAjX13QrbBTg"
      Last-Modified:
      - Thu, 22 Oct 2020 21:23:30 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gandi.net/v5/livedns/domains/t18s.fr/records/delete.testfull/TXT
  response:
    body:
      string: '{"code": 404, "message": "Can''t find the DNS record delete.testfull/TXT
        in the zone", "object": "dns-record", "cause": "Not Found"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 22 Oct 2020 21:23:30 GMT
    status:
      code: 404
      message: Not Found
version: 1
