interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gandi.net/v5/livedns/domains/t18s.fr
  response:
    body:
      string: '{"domain_keys_href":"https://api.gandi.net/v5/livedns/domains/t18s.fr/keys","fqdn":"t18s.fr","automatic_snapshots":true,"domain_records_href":"https://api.gandi.net/v5/livedns/domains/t18s.fr/records","domain_href":"https://api.gandi.net/v5/livedns/domains/t18s.fr"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"112-tyQllSkZqMzGHTaisDLSgpwZtfY"
      Last-Modified:
      - Thu, 22 Oct 2020 21:23:49 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gandi.net/v5/livedns/domains/t18s.fr/records/filter.thisdoesnotexist/TXT
  response:
    body:
      string: '{"code": 404, "message": "Can''t find the DNS record filter.thisdoesnotexist/TXT
        in the zone", "object": "dns-record", "cause": "Not Found"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 22 Oct 2020 21:23:49 GMT
    status:
      code: 404
      message: Not Found
version: 1
