interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns.api.gandi.net/api/v5/domains/reachfactory.ca
  response:
    body: {string: '{"zone_uuid": "d26f3afc-6e6a-11e8-a212-00163ee24379", "domain_keys_href":
        "https://dns.api.gandi.net/api/v5/domains/reachfactory.ca/keys", "fqdn": "reachfactory.ca",
        "zone_href": "https://dns.api.gandi.net/api/v5/zones/d26f3afc-6e6a-11e8-a212-00163ee24379",
        "zone_records_href": "https://dns.api.gandi.net/api/v5/zones/d26f3afc-6e6a-11e8-a212-00163ee24379/records",
        "domain_records_href": "https://dns.api.gandi.net/api/v5/domains/reachfactory.ca/records",
        "domain_href": "https://dns.api.gandi.net/api/v5/domains/reachfactory.ca"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Last-Modified: ['Tue, 12 Jun 2018 22:05:06 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns.api.gandi.net/api/v5/domains/reachfactory.ca/records/localhost/A
  response:
    body: {string: '{"code": 404, "message": "Can''t find the DNS record localhost/A
        in the zone", "object": "dns-record", "cause": "Not Found"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Last-Modified: ['Tue, 12 Jun 2018 22:05:06 GMT']
    status: {code: 404, message: Not Found}
- request:
    body: '{"rrset_values": ["127.0.0.1"], "rrset_ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dns.api.gandi.net/api/v5/domains/reachfactory.ca/records/localhost/A
  response:
    body: {string: '{"message": "DNS Record Created"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Last-Modified: ['Tue, 12 Jun 2018 22:05:06 GMT']
      Location: ['https://dns.api.gandi.net/api/v5/zones/d26f3afc-6e6a-11e8-a212-00163ee24379/records/localhost/A']
    status: {code: 201, message: Created}
version: 1
