interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.gandi.net/api/v5/domains/t18s.fr
  response:
    body:
      string: !!python/unicode '{"zone_uuid": "4fd93cb0-5c6c-11e8-b297-00163ee24379",
        "domain_keys_href": "https://dns.api.gandi.net/api/v5/domains/t18s.fr/keys",
        "fqdn": "t18s.fr", "zone_href": "https://dns.api.gandi.net/api/v5/zones/4fd93cb0-5c6c-11e8-b297-00163ee24379",
        "zone_records_href": "https://dns.api.gandi.net/api/v5/zones/4fd93cb0-5c6c-11e8-b297-00163ee24379/records",
        "domain_records_href": "https://dns.api.gandi.net/api/v5/domains/t18s.fr/records",
        "domain_href": "https://dns.api.gandi.net/api/v5/domains/t18s.fr"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 29 Mar 2019 20:35:08 GMT
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.gandi.net/api/v5/domains/t18s.fr/records
  response:
    body:
      string: !!python/unicode '[{"rrset_type": "A", "rrset_ttl": 10800, "rrset_name":
        "*", "rrset_href": "https://dns.api.gandi.net/api/v5/domains/t18s.fr/records/%2A/A",
        "rrset_values": ["62.210.124.142"]}, {"rrset_type": "AAAA", "rrset_ttl": 1800,
        "rrset_name": "*", "rrset_href": "https://dns.api.gandi.net/api/v5/domains/t18s.fr/records/%2A/AAAA",
        "rrset_values": ["2001:bc8:3dc1:100::142"]}, {"rrset_type": "MX", "rrset_ttl":
        10800, "rrset_name": "*", "rrset_href": "https://dns.api.gandi.net/api/v5/domains/t18s.fr/records/%2A/MX",
        "rrset_values": ["10 in1-smtp.messagingengine.com.", "20 in2-smtp.messagingengine.com."]},
        {"rrset_type": "A[...]
