interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gandi.net/v5/livedns/domains/thisisadomainidonotown.com
  response:
    body:
      string: '{"code": 404, "message": "The resource could not be found.", "object":
        "HTTPNotFound", "cause": "Not Found"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 22 Oct 2020 21:23:11 GMT
    status:
      code: 404
      message: Not Found
version: 1
