interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns.api.gandi.net/api/v5/domains/thisisadomainidonotown.com
  response:
    body: {string: '{"code": 404, "message": "The resource could not be found.", "object":
        "HTTPNotFound", "cause": "Not Found"}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      Last-Modified: ['Tue, 12 Jun 2018 22:05:06 GMT']
    status: {code: 404, message: Not Found}
version: 1
