interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.gandi.net/api/v5/domains/t18s.fr
  response:
    body:
      string: !!python/unicode '{"zone_uuid": "4fd93cb0-5c6c-11e8-b297-00163ee24379",
        "domain_keys_href": "https://dns.api.gandi.net/api/v5/domains/t18s.fr/keys",
        "fqdn": "t18s.fr", "zone_href": "https://dns.api.gandi.net/api/v5/zones/4fd93cb0-5c6c-11e8-b297-00163ee24379",
        "zone_records_href": "https://dns.api.gandi.net/api/v5/zones/4fd93cb0-5c6c-11e8-b297-00163ee24379/records",
        "domain_records_href": "https://dns.api.gandi.net/api/v5/domains/t18s.fr/records",
        "domain_href": "https://dns.api.gandi.net/api/v5/domains/t18s.fr"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 29 Mar 2019 20:34:29 GMT
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.gandi.net/api/v5/domains/t18s.fr/records/_acme-challenge.noop/TXT
  response:
    body:
      string: !!python/unicode '{"code": 404, "message": "Can''t find the DNS record
        _acme-challenge.noop/TXT in the zone", "object": "dns-record", "cause": "Not
        Found"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 29 Mar 2019 20:34:30 GMT
    status:
      code: 404
      message: Not Found
- request:
    body: !!python/unicode '{"rrset_values": ["challengetoken"], "rrset_ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.gandi.net/api/v5/domains/t18s.fr/records/_acme-challenge.noop/TXT
  response:
    body:
      string: !!python/unicode '{"message": "DNS Record Created"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 29 Mar 2019 20:34:31 GMT
      location:
      - https://dns.api.gandi.net/api/v5/zones/4fd93cb0-5c6c-11e8-b297-00163ee24379/records/_acme-challenge.noop/TXT
    status:
      code: 201
      message: Created
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.gandi.net/api/v5/domains/t18s.fr/records/_acme-challenge.noop/TXT
  response:
    body:
      string: !!python/unicode '{"rrset_type": "TXT", "rrset_ttl": 3600, "rrset_name":
        "_acme-challenge.noop", "rrset_href": "https://dns.api.gandi.net/api/v5/domains/t18s.fr/records/_acme-challenge.noop/TXT",
        "rrset_values": ["\"challengetoken\""]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 29 Mar 2019 20:34:31 GMT
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.gandi.net/api/v5/domains/t18s.fr/records/_acme-challenge.noop/TXT
  response:
    body:
      string: !!python/unicode '{"rrset_type": "TXT", "rrset_ttl": 3600, "rrset_name":
        "_acme-challenge.noop", "rrset_href": "https://dns.api.gandi.net/api/v5/domains/t18s.fr/records/_acme-challenge.noop/TXT",
        "rrset_values": ["\"challengetoken\""]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 29 Mar 2019 20:34:32 GMT
    status:
      code: 200
      message: OK
version: 1
