interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gandi.net/v5/livedns/domains/t18s.fr
  response:
    body:
      string: '{"domain_keys_href":"https://api.gandi.net/v5/livedns/domains/t18s.fr/keys","fqdn":"t18s.fr","automatic_snapshots":true,"domain_records_href":"https://api.gandi.net/v5/livedns/domains/t18s.fr/records","domain_href":"https://api.gandi.net/v5/livedns/domains/t18s.fr"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"112-tyQllSkZqMzGHTaisDLSgpwZtfY"
      Last-Modified:
      - Thu, 22 Oct 2020 21:23:51 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gandi.net/v5/livedns/domains/t18s.fr/records
  response:
    body:
      string: '[{"rrset_type":"A","rrset_ttl":600,"rrset_name":"@","rrset_href":"https://api.gandi.net/v5/livedns/domains/t18s.fr/records/%40/A","rrset_values":["82.64.93.53"]},{"rrset_type":"AAAA","rrset_ttl":600,"rrset_name":"@","rrset_href":"https://api.gandi.net/v5/livedns/domains/t18s.fr/records/%40/AAAA","rrset_values":["2a01:e0a:1f8:17e0:b62e:99ff:fef8:cdb9"]},{"rrset_type":"CNAME","rrset_ttl":3600,"rrset_name":"docs","rrset_href":"https://api.gandi.net/v5/livedns/domains/t18s.fr/records/docs/CNAME","rrset_values":["docs.example.com"]},{"rrset_type":"A","rrset_ttl":3600,"rrset_name":"localhost","rrset_href":"https://api.gandi.net/v5/livedns/doma[...]
