jobs:
  - job: pypi
    pool:
      vmImage: ubuntu-22.04
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: 3.11
          addToPath: true
        displayName: Install Python
      - script: |
          python -m pip install -U poetry
        displayName: Prepare environment
      - script: |
          poetry publish --build --username "$(twine.username)" --password "$(twine.password)"
        displayName: Build & Upload dist to PyPI

  - job: github
    pool:
      vmImage: ubuntu-22.04
    dependsOn:
      - pypi
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: 3.11
          addToPath: true
        displayName: Install Python
      - script: |
          python -m pip install -U poetry
        displayName: Prepare environment
      - script: |
          set -e
          version=`poetry version | awk '{print $2}'`
          echo "Version is: ${version}"
          python utils/extract_changelog.py "${version}" > "release_${version}.md"
          echo "##vso[task.setvariable variable=ReleaseVersion;]${version}"
      - task: GithubRelease@0
        inputs:
          gitHubConnection: github.com_lexicon
          title: Lexicon v$(ReleaseVersion)
          releaseNotesFile: release_$(ReleaseVersion).md
          addChangeLog: false
        displayName: Create GitHub Release
