interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.prod-cloud-ocb.orange-business.com/v2/zones?name=thisisadomainidonotown.com
  response:
    body:
      string: '{"zones":[],"links":{"self":"https://dns.prod-cloud-ocb.orange-business.com/v2/zones?name=thisisadomainidonotown.com"},"metadata":{"total_count":0}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
