interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.prod-cloud-ocb.orange-business.com/v2/zones?name=flexibleengine.test
  response:
    body:
      string: '{"zones":[{"id":"ff8080827274f00e018563dcecb527d3","name":"flexibleengine.test.","description":"This
        zone is for test purposes only.","email":"hostmaster@example.com","ttl":300,"serial":1,"masters":[],"status":"ACTIVE","pool_id":"ff80808261568dfe016156c446410001","project_id":"5374cb5cb9a1450f947a9ff0b60b0b5f","zone_type":"public","created_at":"2022-12-30T16:28:21.021","updated_at":"2022-12-30T16:28:42.022","record_num":4,"links":{"self":"https://dns.prod-cloud-ocb.orange-business.com/v2/zones/ff8080827274f00e018563dcecb527d3"}}],"links":{"self":"https://dns.prod-cloud-ocb.orange-business.com/v2/zones?name=flexibleengine.test"},"metadata":{"total_count":1}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "TXT", "name": "_acme-challenge.fqdn.flexibleengine.test", "records":
      ["\"challengetoken\""], "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.prod-cloud-ocb.orange-business.com/v2/zones/ff8080827274f00e018563dcecb527d3/recordsets
  response:
    body:
      string: '{"id":"ff8080827274f00e01856d6c8de61daa","name":"_acme-challenge.fqdn.flexibleengine.test.","description":null,"type":"TXT","ttl":3600,"records":["\"challengetoken\""],"status":"PENDING_CREATE","zone_id":"ff8080827274f00e018563dcecb527d3","zone_name":"flexibleengine.test.","create_at":"2023-01-01T13:01:48.890","update_at":null,"default":false,"project_id":"b0293a0756e94bff84b625b9402a6918","links":{"self":"https://dns.prod-cloud-ocb.orange-business.com/v2/zones/ff8080827274f00e018563dcecb527d3/recordsets/ff8080827274f00e01856d6c8de61daa"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
