interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones?folderId=b1gm2f812hg4h5s5jsgn&filter=zone%3D%27example.com.%27
  response:
    body:
      string: "{\n \"dnsZones\": [\n  {\n   \"privateVisibility\": {},\n   \"id\"\
        : \"dns3a9nospukjt4jlqdm\",\n   \"folderId\": \"b1gm2f812hg4h5s5jsgn\",\n\
        \   \"createdAt\": \"2022-04-30T09:55:06.586Z\",\n   \"zone\": \"example.com.\"\
        \n  }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:getRecordSet?name=orig.test.example.com.&type=TXT
  response:
    body:
      string: "{\n \"data\": [\n  \"challengetoken\"\n ],\n \"name\": \"orig.test.example.com.\"\
        ,\n \"type\": \"TXT\",\n \"ttl\": \"3600\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"replacements": [{"name": "orig.test.example.com.", "type": "TXT", "ttl":
      3600, "data": ["challengetoken"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm/upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\
        \n },\n \"response\": {\n  \"@type\": \"type.googleapis.com/google.protobuf.Empty\"\
        \n },\n \"id\": \"dnsh3v1r5vgcub74qf72\",\n \"description\": \"Upsert DNS\
        \ RecordSets\",\n \"createdAt\": \"2022-04-30T16:24:36.464780587Z\",\n \"\
        createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-04-30T16:24:36.464898173Z\"\
        \n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:listRecordSets?filter=type%3D%27TXT%27%20AND%20name%3D%27orig.test.example.com.%27
  response:
    body:
      string: "{\n \"recordSets\": [\n  {\n   \"data\": [\n    \"challengetoken\"\n\
        \   ],\n   \"name\": \"orig.test.example.com.\",\n   \"type\": \"TXT\",\n\
        \   \"ttl\": \"3600\"\n  }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:listRecordSets?filter=
  response:
    body:
      string: "{\n \"recordSets\": [\n  {\n   \"data\": [\n    \"challengetoken1\"\
        ,\n    \"challengetoken2\"\n   ],\n   \"name\": \"_acme-challenge.createrecordset.example.com.\"\
        ,\n   \"type\": \"TXT\",\n   \"ttl\": \"3600\"\n  },\n  {\n   \"data\": [\n\
    [...]
[...]
- request:
    body: '{"replacements": [{"data": ["challengetoken"], "name": "updated.test",
      "type": "TXT", "ttl": "3600"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm/upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\
        \n },\n \"response\": {\n  \"@type\": \"type.googleapis.com/google.protobuf.Empty\"\
        \n },\n \"id\": \"dnsna80mk2a7002hbs97\",\n \"description\": \"Upsert DNS\
        \ RecordSets\",\n \"createdAt\": \"2022-04-30T16:24:39.217038328Z\",\n \"\
        createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-04-30T16:24:39.217098933Z\"\
        \n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
