interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm
  response:
    body:
      string: "{\n \"privateVisibility\": {},\n \"id\": \"dns3a9nospukjt4jlqdm\",\n
        \"folderId\": \"b1gm2f812hg4h5s5jsgn\",\n \"createdAt\": \"2022-04-30T09:55:06.586Z\",\n
        \"zone\": \"example.com.\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:getRecordSet?name=localhost.example.com.&type=A
  response:
    body:
      string: "{\n \"code\": 5,\n \"message\": \"RecordSet not found: RecordSet.Id(dnsZoneId=DnsZone.Id(id=dns3a9nospukjt4jlqdm),
        name=localhost.example.com., rrType=A)\",\n \"details\": [\n  {\n   \"@type\":
        \"type.googleapis.com/google.rpc.RequestInfo\",\n   \"requestId\": \"10764218-d3e2-4a56-a1e3-d21fecb3406b\"\n
        \ }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"replacements": [{"name": "localhost.example.com.", "type": "A", "ttl":
      3600, "data": ["127.0.0.1"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\n
        },\n \"response\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.RecordSetDiff\",\n
        \ \"additions\": [\n   {\n    \"data\": [\n     \"127.0.0.1\"\n    ],\n    \"name\":
        \"localhost.example.com.\",\n    \"type\": \"A\",\n    \"ttl\": \"3600\"\n
        \  }\n  ]\n },\n \"id\": \"dnsb3nubmkjerog64al6\",\n \"description\": \"Upsert
        DNS RecordSets\",\n \"createdAt\": \"2022-10-04T22:39:46.530920876Z\",\n \"createdBy\":
        \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-10-04T22:39:46.531055746Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
