interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm
  response:
    body:
      string: "{\n \"privateVisibility\": {},\n \"id\": \"dns3a9nospukjt4jlqdm\",\n
        \"folderId\": \"b1gm2f812hg4h5s5jsgn\",\n \"createdAt\": \"2022-04-30T09:55:06.586Z\",\n
        \"zone\": \"example.com.\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:getRecordSet?name=_acme-challenge.test.example.com.&type=TXT
  response:
    body:
      string: "{\n \"code\": 5,\n \"message\": \"RecordSet not found: RecordSet.Id(dnsZoneId=DnsZone.Id(id=dns3a9nospukjt4jlqdm),
        name=_acme-challenge.test.example.com., rrType=TXT)\",\n \"details\": [\n
        \ {\n   \"@type\": \"type.googleapis.com/google.rpc.RequestInfo\",\n   \"requestId\":
        \"11a20b72-3f25-4be5-9822-133e71bc1fc5\"\n  }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"replacements": [{"name": "_acme-challenge.test.example.com.", "type":
      "TXT", "ttl": 3600, "data": ["challengetoken"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm/upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\n
        },\n \"response\": {\n  \"@type\": \"type.googleapis.com/google.protobuf.Empty\"\n
        },\n \"id\": \"dnskkm06f0icfpmoj0t9\",\n \"description\": \"Upsert DNS RecordSets\",\n
        \"createdAt\": \"2022-07-25T13:41:47.062363526Z\",\n \"createdBy\": \"ajesjg85676uboegshq0\",\n
        \"modifiedAt\": \"2022-07-25T13:41:47.062461265Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
