interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones?folderId=b1gm2f812hg4h5s5jsgn&filter=zone%3D%27example.com.%27
  response:
    body:
      string: "{\n \"dnsZones\": [\n  {\n   \"privateVisibility\": {},\n   \"id\"\
        : \"dns3a9nospukjt4jlqdm\",\n   \"folderId\": \"b1gm2f812hg4h5s5jsgn\",\n\
        \   \"createdAt\": \"2022-04-30T09:55:06.586Z\",\n   \"zone\": \"example.com.\"\
        \n  }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:getRecordSet?name=_acme-challenge.createrecordset.example.com.&type=TXT
  response:
    body:
      string: "{\n \"data\": [\n  \"challengetoken1\",\n  \"challengetoken2\"\n ],\n\
        \ \"name\": \"_acme-challenge.createrecordset.example.com.\",\n \"type\":\
        \ \"TXT\",\n \"ttl\": \"3600\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"replacements": [{"name": "_acme-challenge.createrecordset.example.com.",
      "type": "TXT", "ttl": 3600, "data": ["challengetoken1", "challengetoken2"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm/upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\
        \n },\n \"response\": {\n  \"@type\": \"type.googleapis.com/google.protobuf.Empty\"\
        \n },\n \"id\": \"dns46e613tom29lgsn6i\",\n \"description\": \"Upsert DNS\
        \ RecordSets\",\n \"createdAt\": \"2022-04-30T16:23:35.923908708Z\",\n \"\
        createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-04-30T16:23:35.923965645Z\"\
        \n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"replacements": [{"name": "_acme-challenge.createrecordset.example.com.",
      "type": "TXT", "ttl": 3600, "data": ["challengetoken1", "challengetoken2"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm/upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\
        \n },\n \"response\": {\n  \"@type\": \"type.googleapis.com/google.protobuf.Empty\"\
        \n },\n \"id\": \"dnsoera6mhanhiclm2rj\",\n \"description\": \"Upsert DNS\
        \ RecordSets\",\n \"createdAt\": \"2022-04-30T16:23:37.329233327Z\",\n \"\
        createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-04-30T16:23:37.329317636Z\"\
        \n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
