interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm
  response:
    body:
      string: "{\n \"privateVisibility\": {},\n \"id\": \"dns3a9nospukjt4jlqdm\",\n
        \"folderId\": \"b1gm2f812hg4h5s5jsgn\",\n \"createdAt\": \"2022-04-30T09:55:06.586Z\",\n
        \"zone\": \"example.com.\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:getRecordSet?name=_acme-challenge.deleterecordinset.example.com.&type=TXT
  response:
    body:
      string: "{\n \"code\": 5,\n \"message\": \"RecordSet not found: RecordSet.Id(dnsZoneId=DnsZone.Id(id=dns3a9nospukjt4jlqdm),
        name=_acme-challenge.deleterecordinset.example.com., rrType=TXT)\",\n \"details\":
        [\n  {\n   \"@type\": \"type.googleapis.com/google.rpc.RequestInfo\",\n   \"requestId\":
        \"8bf2d401-ab62-416c-a36c-5e463e1cac50\"\n  }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"replacements": [{"name": "_acme-challenge.deleterecordinset.example.com.",
      "type": "TXT", "ttl": 3600, "data": ["challengetoken1"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm/upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\n
        },\n \"response\": {\n  \"@type\": \"type.googleapis.com/google.protobuf.Empty\"\n
        },\n \"id\": \"dnstc979jujb2iv41ggp\",\n \"description\": \"Upsert DNS RecordSets\",\n
        \"createdAt\": \"2022-07-25T13:42:00.727533275Z\",\n \"createdBy\": \"ajesjg85676uboegshq0\",\n
        \"modifiedAt\": \"2022-07-25T13:42:00.727602587Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:listRecordSets?filter=type%3D%27TXT%27%20AND%20name%3D%27_acme-challenge.deleterecordinset.example.com.%27
  response:
    body:
      string: "{\n \"recordSets\": [\n  {\n   \"data\": [\n    \"challengetoken2\"\n
        \  ],\n   \"name\": \"_acme-challenge.deleterecordinset.example.com.\",\n
        \  \"type\": \"TXT\",\n   \"ttl\": \"3600\"\n  }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
