interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm
  response:
    body:
      string: "{\n \"privateVisibility\": {},\n \"id\": \"dns3a9nospukjt4jlqdm\",\n
        \"folderId\": \"b1gm2f812hg4h5s5jsgn\",\n \"createdAt\": \"2022-04-30T09:55:06.586Z\",\n
        \"zone\": \"example.com.\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:getRecordSet?name=delete.testfull.example.com.&type=TXT
  response:
    body:
      string: "{\n \"code\": 5,\n \"message\": \"RecordSet not found: RecordSet.Id(dnsZoneId=DnsZone.Id(id=dns3a9nospukjt4jlqdm),
        name=delete.testfull.example.com., rrType=TXT)\",\n \"details\": [\n  {\n
        \  \"@type\": \"type.googleapis.com/google.rpc.RequestInfo\",\n   \"requestId\":
        \"3df9f295-3d22-4bac-ab99-1f2d1446178b\"\n  }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"replacements": [{"name": "delete.testfull.example.com.", "type": "TXT",
      "ttl": 3600, "data": ["challengetoken"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\n
        },\n \"response\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.RecordSetDiff\",\n
        \ \"additions\": [\n   {\n    \"data\": [\n     \"challengetoken\"\n    ],\n
        \   \"name\": \"delete.testfull.example.com.\",\n    \"type\": \"TXT\",\n
        \   \"ttl\": \"3600\"\n   }\n  ]\n },\n \"id\": \"dns84t6tipkpgc3t8r75\",\n
        \"description\": \"Upsert DNS RecordSets\",\n \"createdAt\": \"2022-10-04T22:39:59.610445473Z\",\n
        \"createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-10-04T22:39:59.610615995Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"deletions": [{"data": ["challengetoken"], "name": "delete.testfull.example.com.",
      "type": "TXT", "ttl": "3600"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\n
        },\n \"response\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.RecordSetDiff\",\n
        \ \"deletions\": [\n   {\n    \"data\": [\n     \"challengetoken\"\n    ],\n
        \   \"name\": \"delete.testfull.example.com.\",\n    \"type\": \"TXT\",\n
        \   \"ttl\": \"3600\"\n   }\n  ]\n },\n \"id\": \"dns8ugnn0ci2fevo22f4\",\n
        \"description\": \"Upsert DNS RecordSets\",\n \"createdAt\": \"2022-10-04T22:40:00.408426204Z\",\n
        \"createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-10-04T22:40:00.408542710Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:listRecordSets?filter=type%3D%27TXT%27%20AND%20name%3D%27delete.testfull.example.com.%27
  response:
    body:
      string: '{}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
