interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm
  response:
    body:
      string: "{\n \"privateVisibility\": {},\n \"id\": \"dns3a9nospukjt4jlqdm\",\n
        \"folderId\": \"b1gm2f812hg4h5s5jsgn\",\n \"createdAt\": \"2022-04-30T09:55:06.586Z\",\n
        \"zone\": \"example.com.\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:getRecordSet?name=orig.test.example.com.&type=TXT
  response:
    body:
      string: "{\n \"code\": 5,\n \"message\": \"RecordSet not found: RecordSet.Id(dnsZoneId=DnsZone.Id(id=dns3a9nospukjt4jlqdm),
        name=orig.test.example.com., rrType=TXT)\",\n \"details\": [\n  {\n   \"@type\":
        \"type.googleapis.com/google.rpc.RequestInfo\",\n   \"requestId\": \"c4e57f42-81d9-4358-86b5-f4b7d3815f75\"\n
        \ }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"replacements": [{"name": "orig.test.example.com.", "type": "TXT", "ttl":
      3600, "data": ["challengetoken"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\n
        },\n \"response\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.RecordSetDiff\",\n
        \ \"additions\": [\n   {\n    \"data\": [\n     \"challengetoken\"\n    ],\n
        \   \"name\": \"orig.test.example.com.\",\n    \"type\": \"TXT\",\n    \"ttl\":
        \"3600\"\n   }\n  ]\n },\n \"id\": \"dnsm6a32s7d32cmp8i5c\",\n \"description\":
        \"Upsert DNS RecordSets\",\n \"createdAt\": \"2022-10-04T22:40:17.966987099Z\",\n
        \"createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-10-04T22:40:17.967089845Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:listRecordSets?filter=type%3D%27TXT%27%20AND%20name%3D%27orig.test.example.com.%27
  response:
    body:
      string: "{\n \"recordSets\": [\n  {\n   \"data\": [\n    \"challengetoken\"\n
        \  ],\n   \"name\": \"orig.test.example.com.\",\n   \"type\": \"TXT\",\n   \"ttl\":
        \"3600\"\n  }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:listRecordSets?filter=
  response:
    body:
      string: "{\n \"recordSets\": [\n  {\n   \"data\": [\n    \"challengetoken1\",\n
        \   \"challengetoken2\"\n   ],\n   \"name\": \"_acme-challenge.createrecordset.example.com.\",\n
        \  \"type\": \"TXT\",\n   \"ttl\": \"3600\"\n  },\n  {\n   \"data\": [\n    \"ch[...]
[...]
- request:
    body: '{"replacements": [{"data": ["challengetoken"], "name": "updated.test",
      "type": "TXT", "ttl": "3600"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\n
        },\n \"response\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.RecordSetDiff\",\n
        \ \"additions\": [\n   {\n    \"data\": [\n     \"challengetoken\"\n    ],\n
        \   \"name\": \"updated.test.example.com.\",\n    \"type\": \"TXT\",\n    \"ttl\":
        \"3600\"\n   }\n  ]\n },\n \"id\": \"dns7bcqeo0pp7m9555lq\",\n \"description\":
        \"Upsert DNS RecordSets\",\n \"createdAt\": \"2022-10-04T22:40:19.292519444Z\",\n
        \"createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-10-04T22:40:19.292722424Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
