interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm
  response:
    body:
      string: "{\n \"privateVisibility\": {},\n \"id\": \"dns3a9nospukjt4jlqdm\",\n
        \"folderId\": \"b1gm2f812hg4h5s5jsgn\",\n \"createdAt\": \"2022-04-30T09:55:06.586Z\",\n
        \"zone\": \"example.com.\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:getRecordSet?name=orig.nameonly.test.example.com.&type=TXT
  response:
    body:
      string: "{\n \"code\": 5,\n \"message\": \"RecordSet not found: RecordSet.Id(dnsZoneId=DnsZone.Id(id=dns3a9nospukjt4jlqdm),
        name=orig.nameonly.test.example.com., rrType=TXT)\",\n \"details\": [\n  {\n
        \  \"@type\": \"type.googleapis.com/google.rpc.RequestInfo\",\n   \"requestId\":
        \"7bff212f-90ec-42e4-8512-65e2309c4d59\"\n  }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"replacements": [{"name": "orig.nameonly.test.example.com.", "type": "TXT",
      "ttl": 3600, "data": ["challengetoken"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\n
        },\n \"response\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.RecordSetDiff\",\n
        \ \"additions\": [\n   {\n    \"data\": [\n     \"challengetoken\"\n    ],\n
        \   \"name\": \"orig.nameonly.test.example.com.\",\n    \"type\": \"TXT\",\n
        \   \"ttl\": \"3600\"\n   }\n  ]\n },\n \"id\": \"dns1i5v2ooclbrm9daio\",\n
        \"description\": \"Upsert DNS RecordSets\",\n \"createdAt\": \"2022-10-04T22:40:20.218154020Z\",\n
        \"createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-10-04T22:40:20.218323938Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"replacements": [{"name": "orig.nameonly.test", "type": "TXT", "ttl":
      3600, "data": ["updated"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\n
        },\n \"response\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.RecordSetDiff\",\n
        \ \"additions\": [\n   {\n    \"data\": [\n     \"updated\"\n    ],\n    \"name\":
        \"orig.nameonly.test.example.com.\",\n    \"type\": \"TXT\",\n    \"ttl\":
        \"3600\"\n   }\n  ],\n  \"deletions\": [\n   {\n    \"data\": [\n     \"challengetoken\"\n
        \   ],\n    \"name\": \"orig.nameonly.test.example.com.\",\n    \"type\":
        \"TXT\",\n    \"ttl\": \"3600\"\n   }\n  ]\n },\n \"id\": \"dnsmuvs6e8p89ihpjjou\",\n
        \"description\": \"Upsert DNS RecordSets\",\n \"createdAt\": \"2022-10-04T22:40:20.646556840Z\",\n
        \"createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-10-04T22:40:20.646678163Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
