interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm
  response:
    body:
      string: "{\n \"privateVisibility\": {},\n \"id\": \"dns3a9nospukjt4jlqdm\",\n
        \"folderId\": \"b1gm2f812hg4h5s5jsgn\",\n \"createdAt\": \"2022-04-30T09:55:06.586Z\",\n
        \"zone\": \"example.com.\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:getRecordSet?name=docs.example.com.&type=CNAME
  response:
    body:
      string: "{\n \"code\": 5,\n \"message\": \"RecordSet not found: RecordSet.Id(dnsZoneId=DnsZone.Id(id=dns3a9nospukjt4jlqdm),
        name=docs.example.com., rrType=CNAME)\",\n \"details\": [\n  {\n   \"@type\":
        \"type.googleapis.com/google.rpc.RequestInfo\",\n   \"requestId\": \"c10dae2a-a2a4-4264-b078-14b4386e7cc6\"\n
        \ }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"replacements": [{"name": "docs.example.com.", "type": "CNAME", "ttl":
      3600, "data": ["docs.example.com"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\n
        },\n \"response\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.RecordSetDiff\",\n
        \ \"additions\": [\n   {\n    \"data\": [\n     \"docs.example.com\"\n    ],\n
        \   \"name\": \"docs.example.com.\",\n    \"type\": \"CNAME\",\n    \"ttl\":
        \"3600\"\n   }\n  ]\n },\n \"id\": \"dnsvkhjsunrhkdqfpiv4\",\n \"description\":
        \"Upsert DNS RecordSets\",\n \"createdAt\": \"2022-10-04T22:39:47.546480174Z\",\n
        \"createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-10-04T22:39:47.546614238Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
