interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm
  response:
    body:
      string: "{\n \"privateVisibility\": {},\n \"id\": \"dns3a9nospukjt4jlqdm\",\n
        \"folderId\": \"b1gm2f812hg4h5s5jsgn\",\n \"createdAt\": \"2022-04-30T09:55:06.586Z\",\n
        \"zone\": \"example.com.\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:getRecordSet?name=_acme-challenge.deleterecordset.example.com.&type=TXT
  response:
    body:
      string: "{\n \"code\": 5,\n \"message\": \"RecordSet not found: RecordSet.Id(dnsZoneId=DnsZone.Id(id=dns3a9nospukjt4jlqdm),
        name=_acme-challenge.deleterecordset.example.com., rrType=TXT)\",\n \"details\":
        [\n  {\n   \"@type\": \"type.googleapis.com/google.rpc.RequestInfo\",\n   \"requestId\":
        \"646d438e-395e-46ff-a2fc-f996bfd595a0\"\n  }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: '{"replacements": [{"name": "_acme-challenge.deleterecordset.example.com.",
      "type": "TXT", "ttl": 3600, "data": ["challengetoken1"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\n
        },\n \"response\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.RecordSetDiff\",\n
        \ \"additions\": [\n   {\n    \"data\": [\n     \"challengetoken1\"\n    ],\n
        \   \"name\": \"_acme-challenge.deleterecordset.example.com.\",\n    \"type\":
        \"TXT\",\n    \"ttl\": \"3600\"\n   }\n  ]\n },\n \"id\": \"dns902ceac467ki47j14\",\n
        \"description\": \"Upsert DNS RecordSets\",\n \"createdAt\": \"2022-10-04T22:40:07.478871Z\",\n
        \"createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-10-04T22:40:07.478979336Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"replacements": [{"name": "_acme-challenge.deleterecordset.example.com.",
      "type": "TXT", "ttl": 3600, "data": ["challengetoken1", "challengetoken2"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\n
        },\n \"response\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.RecordSetDiff\",\n
        \ \"additions\": [\n   {\n    \"data\": [\n     \"challengetoken1\",\n     \"challengetoken2\"\n
        \   ],\n    \"name\": \"_acme-challenge.deleterecordset.example.com.\",\n
        \   \"type\": \"TXT\",\n    \"ttl\": \"3600\"\n   }\n  ],\n  \"deletions\":
        [\n   {\n    \"data\": [\n     \"challengetoken1\"\n    ],\n    \"name\":
        \"_acme-challenge.deleterecordset.example.com.\",\n    \"type\": \"TXT\",\n
        \   \"ttl\": \"3600\"\n   }\n  ]\n },\n \"id\": \"dnsfc2039je0b14s1uu3\",\n
        \"description\": \"Upsert DNS RecordSets\",\n \"createdAt\": \"2022-10-04T22:40:08.239725336Z\",\n
        \"createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-10-04T22:40:08.239827023Z\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:listRecordSets?filter=type%3D%27TXT%27%20AND%20name%3D%27_acme-challenge.deleterecordset.example.com.%27
  response:
    body:
      string: '{}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
