interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones?folderId=b1gm2f812hg4h5s5jsgn&filter=zone%3D%27example.com.%27
  response:
    body:
      string: "{\n \"dnsZones\": [\n  {\n   \"privateVisibility\": {},\n   \"id\"\
        : \"dns3a9nospukjt4jlqdm\",\n   \"folderId\": \"b1gm2f812hg4h5s5jsgn\",\n\
        \   \"createdAt\": \"2022-04-30T09:55:06.586Z\",\n   \"zone\": \"example.com.\"\
        \n  }\n ]\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:getRecordSet?name=orig.nameonly.test.example.com.&type=TXT
  response:
    body:
      string: "{\n \"data\": [\n  \"updated\"\n ],\n \"name\": \"orig.nameonly.test.example.com.\"\
        ,\n \"type\": \"TXT\",\n \"ttl\": \"3600\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"replacements": [{"name": "orig.nameonly.test.example.com.", "type": "TXT",
      "ttl": 3600, "data": ["updated", "challengetoken"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm/upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\
        \n },\n \"response\": {\n  \"@type\": \"type.googleapis.com/google.protobuf.Empty\"\
        \n },\n \"id\": \"dnsgi31672tikvo889ll\",\n \"description\": \"Upsert DNS\
        \ RecordSets\",\n \"createdAt\": \"2022-04-30T16:24:41.269590058Z\",\n \"\
        createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-04-30T16:24:41.269652668Z\"\
        \n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"replacements": [{"name": "orig.nameonly.test", "type": "TXT", "ttl":
      3600, "data": ["updated"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm/upsertRecordSets
  response:
    body:
      string: "{\n \"done\": true,\n \"metadata\": {\n  \"@type\": \"type.googleapis.com/yandex.cloud.dns.v1.UpsertRecordSetsMetadata\"\
        \n },\n \"response\": {\n  \"@type\": \"type.googleapis.com/google.protobuf.Empty\"\
        \n },\n \"id\": \"dns502qm4rviqls318ih\",\n \"description\": \"Upsert DNS\
        \ RecordSets\",\n \"createdAt\": \"2022-04-30T16:24:42.037906447Z\",\n \"\
        createdBy\": \"ajesjg85676uboegshq0\",\n \"modifiedAt\": \"2022-04-30T16:24:42.037951814Z\"\
        \n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
