interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm
  response:
    body:
      string: "{\n \"privateVisibility\": {},\n \"id\": \"dns3a9nospukjt4jlqdm\",\n
        \"folderId\": \"b1gm2f812hg4h5s5jsgn\",\n \"createdAt\": \"2022-04-30T09:55:06.586Z\",\n
        \"zone\": \"example.com.\"\n}\n"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.api.cloud.yandex.net/dns/v1/zones/dns3a9nospukjt4jlqdm:listRecordSets?filter=
  response:
    body:
      string: "{\n \"recordSets\": [\n  {\n   \"data\": [\n    \"challengetoken1\",\n
        \   \"challengetoken2\"\n   ],\n   \"name\": \"_acme-challenge.createrecordset.example.com.\",\n
        \  \"type\": \"TXT\",\n   \"ttl\": \"3600\"\n  },\n  {\n   \"data\": [\n    \"challengetoken2\"\n
        \  ],\n   \"name\": \"_acme-challenge.deleterecordinset.example.com.\",\n
        \  \"type\": \"TXT\",\n   \"ttl\": \"3600\"\n  },\n  {\n   \"data\": [\n    \"challengetoken\"\n
        \  ],\n   \"name\": \"_acme-challenge.fqdn.example.com.\",\n   \"type\": \"TXT\",\n
        \  \"ttl\": \"3600\"\n  },\n  {\n   \"data\": [\n    \"challengetoken\"\n
        \  ],\n   \"name\": \"_acme-challenge.full.example.com.\",\n   \"ty[...]
