interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com
  response:
    body:
      string: '{"zoneType":"PRIMARY","name":"lexicon-test.com","externalMasters":[],"self":"https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com","timeCreated":"2022-05-13T19:21:39Z","version":"91","serial":91,"nameservers":[{"hostname":"ns1.p68.dns.oraclecloud.net"},{"hostname":"ns2.p68.dns.oraclecloud.net"},{"hostname":"ns3.p68.dns.oraclecloud.net"},{"hostname":"ns4.p68.dns.oraclecloud.net"}],"compartmentId":"OCI-COMPARTMENT-ID","id":"DNS-ZONE-ID","lifecycleState":"ACTIVE","definedTags":{"Oracle-Tags":{"CreatedBy":"USER-ID","CreatedOn":"2022-05-13T19:21:38.526Z"}},"scope":"GLOBAL","viewId":null,"isProtected":false,"dnssecState":"Disabled","dnssecConfig":null}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"91ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65-b76469c1df67f3a1078010f356d0d815a13fff620a82562f86461ef12b97119238a13e42#application/json--gzip"'
      opc-request-id:
      - /9D964E11F152318733BD7063C9D4C102/9E26B984A6A35960C43418580FC09FAA
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "ADD", "domain": "random.test.lexicon-test.com",
      "rtype": "TXT", "rdata": "challengetoken", "ttl": 3600}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/random.test.lexicon-test.com
  response:
    body:
      string: '{"items":[{"domain":"random.test.lexicon-test.com","recordHash":"66c3ff7200d225bc381c30bbbf81671b","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"29","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"29ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /EB434C4DEF87CBC442CCCAA2C80EB29E/7ABCAD4C012A8E12F70CB5FB130FEE77
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/random.test.lexicon-test.com?limit=100&rtype=TXT
  response:
    body:
      string: '{"items":[{"domain":"random.test.lexicon-test.com","recordHash":"66c3ff7200d225bc381c30bbbf81671b","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"29","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"29ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /79EE17FFDC9A420F93928C9C8DDCE96E/A7F5C51EBCB2C9D5423C2693A79AF6C0
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
version: 1
