interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com
  response:
    body:
      string: '{"zoneType":"PRIMARY","name":"lexicon-test.com","externalMasters":[],"self":"https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com","timeCreated":"2022-05-13T19:21:39Z","version":"78","serial":78,"nameservers":[{"hostname":"ns1.p68.dns.oraclecloud.net"},{"hostname":"ns2.p68.dns.oraclecloud.net"},{"hostname":"ns3.p68.dns.oraclecloud.net"},{"hostname":"ns4.p68.dns.oraclecloud.net"}],"compartmentId":"OCI-COMPARTMENT-ID","id":"DNS-ZONE-ID","lifecycleState":"ACTIVE","definedTags":{"Oracle-Tags":{"CreatedBy":"USER-ID","CreatedOn":"2022-05-13T19:21:38.526Z"}},"scope":"GLOBAL","viewId":null,"isProtected":false,"dnssecState":"Disabled","dnssecConfig":null}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"78ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65-b76469c1df67f3a1078010f356d0d815a13fff620a82562f86461ef12b97119238a13e42#application/json--gzip"'
      opc-request-id:
      - /FC3A23EDC3994D913D6A257212E966C9/43A6943E4A70189CD1A920B5F26776E3
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "ADD", "domain": "docs.lexicon-test.com", "rtype":
      "CNAME", "rdata": "docs.example.com", "ttl": 3600}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/docs.lexicon-test.com
  response:
    body:
      string: '{"items":[{"domain":"docs.lexicon-test.com","recordHash":"0e991e1a14f5c7425caa0d4461328a8a","isProtected":false,"rdata":"docs.example.com.","rrsetVersion":"3","rtype":"CNAME","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /F0B2123E7A7F7C58600E6420AE0B0434/6A65641E4636A3FAC3793CD165B7BFA5
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
version: 1
