interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com
  response:
    body:
      string: '{"zoneType":"PRIMARY","name":"lexicon-test.com","externalMasters":[],"self":"https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com","timeCreated":"2022-05-13T19:21:39Z","version":"91","serial":91,"nameservers":[{"hostname":"ns1.p68.dns.oraclecloud.net"},{"hostname":"ns2.p68.dns.oraclecloud.net"},{"hostname":"ns3.p68.dns.oraclecloud.net"},{"hostname":"ns4.p68.dns.oraclecloud.net"}],"compartmentId":"OCI-COMPARTMENT-ID","id":"DNS-ZONE-ID","lifecycleState":"ACTIVE","definedTags":{"Oracle-Tags":{"CreatedBy":"USER-ID","CreatedOn":"2022-05-13T19:21:38.526Z"}},"scope":"GLOBAL","viewId":null,"isProtected":false,"dnssecState":"Disabled","dnssecConfig":null}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"91ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65-b76469c1df67f3a1078010f356d0d815a13fff620a82562f86461ef12b97119238a13e42#application/json--gzip"'
      opc-request-id:
      - /FB8CDB7DCEE523ECF7769B79B3AEB01C/450FEE219825FB791B3E7C5C401A1810
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "ADD", "domain": "_acme-challenge.listrecordset.lexicon-test.com",
      "rtype": "TXT", "rdata": "challengetoken1", "ttl": 3600}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/_acme-challenge.listrecordset.lexicon-test.com
  response:
    body:
      string: '{"items":[{"domain":"_acme-challenge.listrecordset.lexicon-test.com","recordHash":"15004456198ea9400cda40e72165cf24","isProtected":false,"rdata":"\"challengetoken1\"","rrsetVersion":"26","rtype":"TXT","ttl":3600},{"domain":"_acme-challenge.listrecordset.lexicon-test.com","recordHash":"56b3dadc9142176a2b6eea46967043c6","isProtected":false,"rdata":"\"challengetoken2\"","rrsetVersion":"26","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"26ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /408B036B810FA94E2C32EA4A69569EE2/0F4A107B39BF3F6F2778F89249D72B38
      opc-total-items:
      - '2'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/_acme-challenge.listrecordset.lexicon-test.com?limit=100&rtype=TXT
  response:
    body:
      string: '{"items":[{"domain":"_acme-challenge.listrecordset.lexicon-test.com","recordHash":"15004456198ea9400cda40e72165cf24","isProtected":false,"rdata":"\"challengetoken1\"","rrsetVersion":"26","rtype":"TXT","ttl":3600},{"domain":"_acme-challenge.listrecordset.lexicon-test.com","recordHash":"56b3dadc9142176a2b6eea46967043c6","isProtected":false,"rdata":"\"challengetoken2\"","rrsetVersion":"26","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"26ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json--gzip"'
      opc-request-id:
      - /DCD443CF7257C64100D12F2E73AA2A9B/BF4198C0FE24BCC1711CB005F834B829
      opc-total-items:
      - '2'
    status:
      code: 200
      message: OK
version: 1
