interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com
  response:
    body:
      string: '{"zoneType":"PRIMARY","name":"lexicon-test.com","externalMasters":[],"self":"https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com","timeCreated":"2022-05-13T19:21:39Z","version":"88","serial":88,"nameservers":[{"hostname":"ns1.p68.dns.oraclecloud.net"},{"hostname":"ns2.p68.dns.oraclecloud.net"},{"hostname":"ns3.p68.dns.oraclecloud.net"},{"hostname":"ns4.p68.dns.oraclecloud.net"}],"compartmentId":"OCI-COMPARTMENT-ID","id":"DNS-ZONE-ID","lifecycleState":"ACTIVE","definedTags":{"Oracle-Tags":{"CreatedBy":"USER-ID","CreatedOn":"2022-05-13T19:21:38.526Z"}},"scope":"GLOBAL","viewId":null,"isProtected":false,"dnssecState":"Disabled","dnssecConfig":null}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"88ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65-b76469c1df67f3a1078010f356d0d815a13fff620a82562f86461ef12b97119238a13e42#application/json--gzip"'
      opc-request-id:
      - /0723CCFA3410300094F072C24EA154B5/14DB6C67ECF8ACA45F3BC8F44755D2F6
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "ADD", "domain": "_acme-challenge.deleterecordset.lexicon-test.com",
      "rtype": "TXT", "rdata": "challengetoken1", "ttl": 3600}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/_acme-challenge.deleterecordset.lexicon-test.com
  response:
    body:
      string: '{"items":[{"domain":"_acme-challenge.deleterecordset.lexicon-test.com","recordHash":"8311f213f28d0af9ff117632777fcfce","isProtected":false,"rdata":"\"challengetoken1\"","rrsetVersion":"89","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"89ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /6599BBF1B111E89C29425F686D9B4C66/510B765C3D98BB42AF670ED040371FC3
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/_acme-challenge.deleterecordset.lexicon-test.com?limit=100&rtype=TXT
  response:
    body:
      string: '{"items":[{"domain":"_acme-challenge.deleterecordset.lexicon-test.com","recordHash":"539fe6afd399ec90496cbcc93a4bbc71","isProtected":false,"rdata":"\"challengetoken2\"","rrsetVersion":"90","rtype":"TXT","ttl":3600},{"domain":"_acme-challenge.deleterecordset.lexicon-test.com","recordHash":"8311f213f28d0af9ff117632777fcfce","isProtected":false,"rdata":"\"challengetoken1\"","rrsetVersion":"90","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"90ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json--gzip"'
      opc-request-id:
      - /F9763478871AFE798D7856AE7804F7B8/9FB223FCAB657C60FA0544ECABAF88A4
      opc-total-items:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/_acme-challenge.deleterecordset.lexicon-test.com/TXT
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
      opc-request-id:
      - /78A2BCFFD9882B876D52CB5ADA998195/8D910D09E4859A0844B8EFFBEC63F2ED
    status:
      code: 204
      message: No Content
[...]
