interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com
  response:
    body:
      string: '{"zoneType":"PRIMARY","name":"lexicon-test.com","externalMasters":[],"self":"https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com","timeCreated":"2022-05-13T19:21:39Z","version":"78","serial":78,"nameservers":[{"hostname":"ns1.p68.dns.oraclecloud.net"},{"hostname":"ns2.p68.dns.oraclecloud.net"},{"hostname":"ns3.p68.dns.oraclecloud.net"},{"hostname":"ns4.p68.dns.oraclecloud.net"}],"compartmentId":"OCI-COMPARTMENT-ID","id":"DNS-ZONE-ID","lifecycleState":"ACTIVE","definedTags":{"Oracle-Tags":{"CreatedBy":"USER-ID","CreatedOn":"2022-05-13T19:21:38.526Z"}},"scope":"GLOBAL","viewId":null,"isProtected":false,"dnssecState":"Disabled","dnssecConfig":null}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"78ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65-b76469c1df67f3a1078010f356d0d815a13fff620a82562f86461ef12b97119238a13e42#application/json--gzip"'
      opc-request-id:
      - /A31401196D6EDB56EE15280EB639C228/157038EEDF8D542177E64DD25E1EA801
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "ADD", "domain": "localhost.lexicon-test.com",
      "rtype": "A", "rdata": "127.0.0.1", "ttl": 3600}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/localhost.lexicon-test.com
  response:
    body:
      string: '{"items":[{"domain":"localhost.lexicon-test.com","recordHash":"61339e5f2f2aedd01250b2a060c05c06","isProtected":false,"rdata":"127.0.0.1","rrsetVersion":"2","rtype":"A","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /C7762736D13513AFD51E5E4DBD6BD3A0/BE04CA3DF17ACBD006EC01C73E694904
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
version: 1
