interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com
  response:
    body:
      string: '{"zoneType":"PRIMARY","name":"lexicon-test.com","externalMasters":[],"self":"https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com","timeCreated":"2022-05-13T19:21:39Z","version":"82","serial":82,"nameservers":[{"hostname":"ns1.p68.dns.oraclecloud.net"},{"hostname":"ns2.p68.dns.oraclecloud.net"},{"hostname":"ns3.p68.dns.oraclecloud.net"},{"hostname":"ns4.p68.dns.oraclecloud.net"}],"compartmentId":"OCI-COMPARTMENT-ID","id":"DNS-ZONE-ID","lifecycleState":"ACTIVE","definedTags":{"Oracle-Tags":{"CreatedBy":"USER-ID","CreatedOn":"2022-05-13T19:21:38.526Z"}},"scope":"GLOBAL","viewId":null,"isProtected":false,"dnssecState":"Disabled","dnssecConfig":null}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"82ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65-b76469c1df67f3a1078010f356d0d815a13fff620a82562f86461ef12b97119238a13e42#application/json--gzip"'
      opc-request-id:
      - /97BDC8229D361BA3F97DA5CA968D711A/0304A278269A138795E223660B7104A7
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "ADD", "domain": "delete.testfull.lexicon-test.com",
      "rtype": "TXT", "rdata": "challengetoken", "ttl": 3600}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/delete.testfull.lexicon-test.com
  response:
    body:
      string: '{"items":[{"domain":"delete.testfull.lexicon-test.com","recordHash":"253e857d95f0167f92d4395f2c00742d","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"83","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"83ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /D5FD5A6AC5C9004ADA8A25690ABCE7E8/C1FB57A7DC33C45AC87E045A33CD7E82
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/delete.testfull.lexicon-test.com?limit=100&rtype=TXT
  response:
    body:
      string: '{"items":[{"domain":"delete.testfull.lexicon-test.com","recordHash":"253e857d95f0167f92d4395f2c00742d","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"83","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"83ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /EC4E6B14E3FEC588D86FB5377A139776/1E93B0FA3F141E26C842085A2FFD1E2C
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "REMOVE", "recordHash": "253e857d95f0167f92d4395f2c00742d"}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records
  response:
    body:
      string: '{"items":[{"domain":"docs.lexicon-test.com","recordHash":"0e991e1a14f5c7425caa0d4461328a8a","isProtected":false,"rdata":"docs.example.com.","rrsetVersion":"3","rtype":"CNAME","ttl":3600},[...]
[...]
