interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com
  response:
    body:
      string: '{"zoneType":"PRIMARY","name":"lexicon-test.com","externalMasters":[],"self":"https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com","timeCreated":"2022-05-13T19:21:39Z","version":"80","serial":80,"nameservers":[{"hostname":"ns1.p68.dns.oraclecloud.net"},{"hostname":"ns2.p68.dns.oraclecloud.net"},{"hostname":"ns3.p68.dns.oraclecloud.net"},{"hostname":"ns4.p68.dns.oraclecloud.net"}],"compartmentId":"OCI-COMPARTMENT-ID","id":"DNS-ZONE-ID","lifecycleState":"ACTIVE","definedTags":{"Oracle-Tags":{"CreatedBy":"USER-ID","CreatedOn":"2022-05-13T19:21:38.526Z"}},"scope":"GLOBAL","viewId":null,"isProtected":false,"dnssecState":"Disabled","dnssecConfig":null}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"80ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65-b76469c1df67f3a1078010f356d0d815a13fff620a82562f86461ef12b97119238a13e42#application/json--gzip"'
      opc-request-id:
      - /A98276BD8DA93E00695F644BE988D2C3/8020A84CCA28533E30D28BF07A39D429
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "ADD", "domain": "delete.testfqdn.lexicon-test.com",
      "rtype": "TXT", "rdata": "challengetoken", "ttl": 3600}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/delete.testfqdn.lexicon-test.com
  response:
    body:
      string: '{"items":[{"domain":"delete.testfqdn.lexicon-test.com","recordHash":"1d698bf4d0006c76ecefa13511a8a7a4","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"81","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"81ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /BD6E5F2473A8B538BD8DBC04A5554D72/57D04FB7D3515718C5AF9403CD5D2694
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records/delete.testfqdn.lexicon-test.com?limit=100&rtype=TXT
  response:
    body:
      string: '{"items":[{"domain":"delete.testfqdn.lexicon-test.com","recordHash":"1d698bf4d0006c76ecefa13511a8a7a4","isProtected":false,"rdata":"\"challengetoken\"","rrsetVersion":"81","rtype":"TXT","ttl":3600}]}

        '
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"81ocid1.dns-zone.oc1..cf5fb531cabb4f329118b700b7d89f65#application/json"'
      opc-request-id:
      - /171C80FEEA6CB67C36CD6B5A05BC9BCF/08AECDCDFBF02463F7815662040A617A
      opc-total-items:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"items": [{"operation": "REMOVE", "recordHash": "1d698bf4d0006c76ecefa13511a8a7a4"}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://dns.us-ashburn-1.oraclecloud.com/20180115/zones/lexicon-test.com/records
  response:
    body:
      string: '{"items":[{"domain":"docs.lexicon-test.com","recordHash":"0e991e1a14f5c7425caa0d4461328a8a","isProtected":false,"rdata":"docs.example.com.","rrsetVersion":"3","rtype":"CNAME","ttl":3600},[...]
[...]
