interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://accounts.hetzner.com/login
  response:
    body: {string: '<form action="/login_check" class="form-signin" id="login-form"
        method="post">

        <div class="signin-content">

        <div class="form-group input-group form-group-addon">

        <span class="input-group-addon" id="login-addon"><i class="fa fa-user"></i></span>

        <input autofocus="" class="form-control" id="_username" name="_username" placeholder="Client
        number or login" required="" type="text"/>

        </div>

        <div class="form-group input-group form-group-addon">

        <span class="input-group-addon" id="email-addon"><i class="fa fa-lock"></i></span>

        <input class="form-control" id="_password" name="_password" placeholder="Password"
        required="" type="password"/>

        </div>

        </div>

        <div class="registry-container-bottom">

        <input class="btn btn-yellow btn-lg btn-block btn-with-text" id="submit-login"
        type="submit" value="Login"/>

        <p>

        <a href="/password/lost">Forgot password?</a>

        </p>

        </div>

        </form>'}
    headers:
      Content-Type: [text/html; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: ''
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://accounts.hetzner.com/login_check
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=UTF-8]
      Location: ['https://accounts.hetzner.com/']
    status: {code: 302, message: Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://accounts.hetzner.com/
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=UTF-8]
      Location: [/account/masterdata]
    status: {code: 302, message: Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://accounts.hetzner.com/account/masterdata
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://robot.your-server.de/dns/index/page/1
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: ['https://accounts.hetzner.com/oauth/authorize?client_id=robot_418&redirect_uri=https%3A%2F%2Frobot.your-server.de%2Flogin%2Fcheck&response_type=code&scope=openid&state=d3d91ae88f4203d4eb563475790926f9']
    status: {code: 302, message: Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://accounts.hetzner.com/oauth/authorize?client_id=robot_418&redirect_uri=https%3A%2F%2Frobot.your-server.de%2Flogin%2Fcheck&response_type=code&scope=openid&state=d3d91ae88f4203d4eb563475790926f9
  response:
    body: {string: None}
    headers:
      Content-Type: [application/json]
      Location: ['https://robot.your-server.de/login/check?code=a784aec2198d26f07e08a3eb8f3bb4763c671322&state=d3d91ae88f4203d4eb563475790926f9']
    status: {code: 302, message: Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://robot.your-server.de/login/check?code=a784aec2198d26f07e08a3eb8f3bb4763c671322&state=d3d91ae88f4203d4eb563475790926f9
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: ['https://robot.your-server.de/dns/index/page/1']
    status: {code: 302, message: Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://robot.your-server.de/dns/index/page/1
  response:
    body: {string: "<div class=\"centercolumn\" id=\"center_col\">\n<div class=\"\
        centerpadding\">\n<div id=\"search\">\n<form action=\"/dns\" class=\"quicksearch\"\
        \ id=\"quicksearch\" method=\"post\"> <select id=\"tld\" name=\"tld\">\n<option\
        \ selected=\"selected\" value=\"all\">alle TLDs</option>\n<option value=\"\
        DE\">.de</option>\n<option value=\"COM\">.com</option>\n<option value=\"NET\"\
        >.net</option>\n<option value=\"ORG\">.org</option>\n<option value=\"INFO\"\
        >.info</option>\n<option value=\"BIZ\">.biz</option>\n<option value=\"EU\"\
        >.eu</option>\n<option value=\"AT\">.at</option>\n</select> <select id=\"\
        status\" name=\"status\">\n<option selected=\"selected\" value=\"all\">alle\
        \ Status</option>\n<option value=\"fertig\">fertig</option>\n<option value=\"\
        in Bearbeitung\">in Bearbeitung</option>\n<option value=\"fehlerhaft\">gescheitert</option>\n\
        </select> <input id=\"text\" name=\"text\" onkeyup=\"javascript: this.blur();\
        \ this.focus(); document.getElementById('search_suggestion').style.visibility='visible';\"\
        \ type=\"text\" value=\"\"/> <input class=\"button calltoaction\" type=\"\
        submit\" value=\"Suchen\"/> </form>\n<div id=\"search_suggestion\"></div>\n\
        </div>\n<script>jQuery( document ).ready(function() {AjaxUpdater({\"update\"\
        :\"search_suggestion\",\"url\":\"dns/search\",\"script\":\"1\",\"watchElement\"\
        :\"quicksearch\",\"dataElement\":\"quicksearch\"});});</script>\n<hr/>\n<table\
        \ class=\"split_layout\">\n<tr>\n<td><input class=\"button\" onclick=\"javascript:\
        \ parent.location='/dns/create'\" type=\"button\" value=\"Neuer DNS-Eintrag\"\
        /><input class=\"button\" onclick=\"javascript: parent.location='/dns/nameserver'\"\
        \ type=\"button\" value=\"Registrierte Nameserver\"/><input class=\"button\"\
        \ onclick=\"javascript: parent.location='/dns/unused'\" type=\"button\" value=\"\
        Unbenutzte DNS-Eintr\xE4ge\"/><input class=\"button\" onclick=\"javascript:\
        \ parent.location='/dns/scheduled'\" type=\"button\" value=\"K\xFCndigungsvormerkungen\"\
        /><input class=\"button\" onclick=\"javascript: parent.location='/dns/csv'\"\
        \ type=\"button\" value=\"CSV-Export\"/></td>\n<td><span class=\"box_count\"\
        ><span class=\" tooltip\" tooltip=\"Anzahl DNS-Eintr\xE4ge\">7</span></span></td>\n\
        </tr>\n</table>\n<div class=\"sortbox\"><table class=\"sortbox\"><tr><td class=\"\
        dns_name\"><span class=\" tooltip\" tooltip=\"absteigend sortieren\"><a href=\"\
        /dns?sortcol=name&amp;sorttype=up&amp;page=1\"><img src=\"/images/sort_down.png\"\
        /></a></span></td><td class=\"dns_maturity\"><span class=\" tooltip\" tooltip=\"\
        aufsteigend sortieren\"><a href=\"/dns?sortcol=maturity&amp;sorttype=down&amp;page=1\"\
        ><img src=\"/images/sort_down_inactive.png\"/></a></span></td><td class=\"\
        dns_status\"></td></tr></table></div>\n<div class=\"box_wide\"><table class=\"\
        box_title\" onclick=\"javascript:expandBox(this, 'data_514989', '/dns/update/id/514989',\
        \ '514989', true, event);\"><tr><td class=\"title\">aranox.de</td><td class=\"\
        dns_type\"><span class=\"tooltip_underline tooltip\" tooltip=\"Dieser DNS-Eintrag\
        \ ist ein Primary-Eintrag. Das bedeutet, dass Sie die DNS-Daten direkt in\
        \ der Administartionsoberfl\xE4che Robot verwalten k\xF6nnen und diese durch\
        \ drei Hetzner-Nameserver ausgeliefert werden.\">primary</span></td><td class=\"\
        dns_maturity\"><span class=\"tooltip_underline tooltip\" tooltip=\"Dieser\
        \ DNS-Eintrag ist bis zum 13.06.19 abgerechnet\">13.06.19</span></td><td class=\"\
        status status_green\"><span class=\" tooltip\" tooltip=\"fertig\"><img class=\"\
        status_area\" src=\"/images/empty.gif\"/></span></td></tr></table><div class=\"\
        box_content\" id=\"content_514989\" style=\"display:none;\"><div class=\"\
        tabs\"><ul><li id=\"data_514989_tab\" style=\"background:#A4A4A4;\" url=\"\
        /dns/update/id/514989\">DNS-Daten</li><li id=\"cancel_514989_tab\" url=\"\
        /dns/cancel/id/514989\">DNS-Eintrag k\xFCndigen</li><li class=\"last\">\_\
        </li></ul><br/></div><div id=\"data_514989\" style=\"clear: left; position:relative;\"\
        ></div><div id=\"cancel_514989\" style=\"clear: left; position:relative;\"\
        ></div></div></div> <div class=\"box_wide\"><table class=\"box_title\" onclick=\"\
        javascript:expandBox(this, 'data_618450', '/dns/update/id/618450', '618450',\
        \ true, event);\"><tr><td class=\"title\">bettilaila.de</td><td class=\"dns_type\"\
        ><span class=\"tooltip_underline tooltip\" tooltip=\"Dieser DNS-Eintrag ist\
        \ ein Primary-Eintrag. Das bedeutet, dass Sie die DNS-Daten direkt in der\
        \ Administartionsoberfl\xE4che Robot verwalten k\xF6nnen und diese durch drei\
        \ Hetzner-Nameserver ausgeliefert werden.\">primary</span></td><td class=\"\
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://robot.your-server.de/login/logout/r/true
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: ['https://accounts.hetzner.com/logout?post_logout_redirect_uri=https://robot.your-server.de/']
    status: {code: 302, message: Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://accounts.hetzner.com/logout?post_logout_redirect_uri=https://robot.your-server.de/
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://robot.your-server.de/dns/update/id/556218
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: ['https://accounts.hetzner.com/oauth/authorize?client_id=robot_418&redirect_uri=https%3A%2F%2Frobot.your-server.de%2Flogin%2Fcheck&response_type=code&scope=openid&state=d18db4955a7f616a93250c56987e61c8']
    status: {code: 302, message: Found}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://robot.your-server.de/dns/update/id/556218
  response:
    body: {string: "<div class=\"centercolumn\" id=\"center_col\">\n<div class=\"\
        centerpadding\">\n<form action=\"/dns/update\" id=\"dns556218\" method=\"\
        post\" onsubmit=\"AjaxUpdater({&quot;url&quot;:&quot;dns/update&quot;,&quot;update&quot;:&quot;data_556218&quot;,&quot;script&quot;:&quot;1&quot;,&quot;loading&quot;:&quot;addAjaxLoader(\\\
        'data_556218\\')&quot;,&quot;dataElement&quot;:&quot;dns556218&quot;}); return\
        \ false;\"> <table class=\"form\" id=\"form_table\">\n<tr>\n<td colspan=\"\
        2\">\n</td>\n</tr>\n<tr>\n<td class=\"label_req\">\n<label for=\"zonefile\"\
        >Zonefile</label>*        </td>\n<td class=\"element\">\n<textarea cols=\"\
        30\" id=\"zonefile\" name=\"zonefile\" rows=\"15\">$TTL 3600\n@   IN SOA ns1.first-ns.de.\
        \ postmaster.robot.first-ns.de. (\n    2018121056   ; serial\n    14400  \
        \      ; refresh\n    1800         ; retry\n    604800       ; expire\n  \
        \  86400 )      ; minimum\n \n@                  86400 IN NS      robotns3.second-ns.com.\n\
        @                  86400 IN NS      robotns2.second-ns.de.\n@            \
        \      86400 IN NS      ns1.first-[...]
- request:
    body: id=556218&zonefile=%40+3600+IN+SOA+ns1.first-ns.de.+postmaster.robot.first-ns.de.+2018121056+14400+1800+604800+86400%0A%40+86400+IN+NS+robotns3.second-ns.com.%0A%40+86400+IN+NS+robotns2.second-ns.de.%0A%40+86400+IN+NS+ns1.first-ns.de.%0A_acme-challenge.createrecordset+3600+IN+TXT+%22challengetoken2%22%0A_acme-challenge.createrecordset+3600+IN+TXT+%22challengetoken1%22%0A_acme-challenge.deleterecordinset+3600+IN+TXT+%22challengetoken1%22%0Adocs+3600+IN+CNAME+docs.example.com%0A_acme-challenge.fqdn+3600+IN+TXT+%22challengetoken%22%0A_acme-challenge.full+3600+IN+TXT+%22challengetoken%22%0Alocalhost+86400+IN+A+127.0.0.1%0Aloopback+3600+IN+CNAME+localhost%0A_acme-challenge.noop+3600+IN+TXT+%22challengetoken%22%0A_acme-challenge.test+3600+IN+TXT+%22challengetoken%22%0A
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://robot.your-server.de/dns/update
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://accounts.hetzner.com/logout?post_logout_redirect_uri=https://robot.your-server.de/
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
