interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.name.com/v4/domains?page=1
  response:
    body:
      string: '{"domains":[{"domainName":"aur.im","locked":true,"autorenewEnabled":true,"expireDate":"2021-06-02T00:59:57Z","createDate":"2014-05-30T18:20:13Z"},{"domainName":"mim.pw","locked":true,"autorenewEnabled":true,"expireDate":"2021-05-30T23:59:59Z","createDate":"2014-05-30T18:20:16Z"}]}

        '
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "TXT", "host": "orig.testfqdn", "answer": "challengetoken", "ttl":
      3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.name.com/v4/domains/mim.pw/records
  response:
    body:
      string: '{"id":178073569,"domainName":"mim.pw","host":"orig.testfqdn","fqdn":"orig.testfqdn.mim.pw.","type":"TXT","answer":"challengetoken","ttl":3600}

        '
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.name.com/v4/domains/mim.pw/records?page=1
  response:
    body:
      string: '{"records": [{"id": 178073536, "domainName": "mim.pw", "host": "localhost",
        "fqdn": "localhost.mim.pw.", "type": "A", "answer": "127.0.0.1", "ttl": 3600},
        {"id": 178073537, "domainName": "mim.pw", "host": "docs", "fqdn": "docs.mim.pw.",
        "type": "CNAME", "answer": "docs.example.com", "ttl": 3600}, {"id": 178073538,
        "domainName": "mim.pw", "host": "_acme-challenge.fqdn", "fqdn": "_acme-challenge.fqdn.mim.pw.",
        "type": "TXT", "answer": "challengetoken", "ttl": 3600}, {"[...]
- request:
    body: '{"type": "TXT", "host": "updated.testfqdn", "answer": "challengetoken",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.name.com/v4/domains/mim.pw/records/178073569
  response:
    body:
      string: '{"id":178073569,"domainName":"mim.pw","host":"updated.testfqdn","fqdn":"updated.testfqdn.mim.pw.","type":"TXT","answer":"challengetoken","ttl":3600}

        '
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      ETag:
      - '"bc345a4dece46b5e3ba061b5c37f6bed2326055b-gzip"'
    status:
      code: 200
      message: OK
version: 1
