interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.name.com/v4/domains?page=1
  response:
    body:
      string: '{"domains":[{"domainName":"aur.im","locked":true,"autorenewEnabled":true,"expireDate":"2021-06-02T00:59:57Z","createDate":"2014-05-30T18:20:13Z"},{"domainName":"mim.pw","locked":true,"autorenewEnabled":true,"expireDate":"2021-05-30T23:59:59Z","createDate":"2014-05-30T18:20:16Z"}]}

        '
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "TXT", "host": "_acme-challenge.test", "answer": "challengetoken",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.name.com/v4/domains/mim.pw/records
  response:
    body:
      string: '{"id":178073540,"domainName":"mim.pw","host":"_acme-challenge.test","fqdn":"_acme-challenge.test.mim.pw.","type":"TXT","answer":"challengetoken","ttl":3600}

        '
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
