interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://subreg.cz/wsdl
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\"?>\n\t\t<definitions name=\"SubregCz\"\n\t\t\ttargetNamespace=\"http://subreg.cz/wsdl\"\n\t\t\txmlns:tn=\"http://subreg.cz/wsdl\"\n\t\t\txmlns:ns=\"http://subreg.cz/types\"\n\t\t\txmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n\t\t\txmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"\n\t\t\txmlns=\"http://schemas.xmlsoap.org/wsdl/\">\n\t\t<types>\n\t\t<xs:schema\n\t\t\ttargetNamespace=\"http://subreg.cz/types\"\n\t\t\txmlns=\"http://subreg.cz/types\">\n\t\t\n\t\t\t<xs:complexType
        name=\"Login_Response\">\n\t\t\t\t<xs:sequence>\n\t\t\t\t\t<xs:element name=\"status\"
        type=\"xs:string\"/>\n\t\t\t\t\t<xs:element name=\"data\" type=\"Login_Data\"
        minOccurs=\"0\" />\n\t\t\t\t\t<xs:element name=\"error\" type=\"Error_Info\"
        minOccurs=\"0\" />\n\t\t\t\t</xs:sequence>\n\t\t\t</xs:complexType>\n\t\t\n\t\t\t<xs:element
        name=\"Login_Container\">\n\t\t\t\t<xs:complexType>\n\t\t\t\t\t<xs:sequence>\n\t\t\t\t\t\t<xs:element
        name=\"response\" type=\"Login_Response\"/>\n\t\t\t\t\t</xs:sequence>\n\t\t\t\t</xs:complexType>\n\t\t\t</xs:element>\n\t\t\n\t\t\t<xs:element
        name=\"Login\">\n\t\t\t\t<xs:complexType>\n\t\t\t\t\t<xs:sequence>\n\t\t\t\t\t\t\n\t\t\t<xs:element
        name=\"login\" type=\"xs:string\"/>\n\t\t\n\t\t\t<xs:element name=\"password\"
        type=\"xs:string\"/>\n\t\t\n\t\t\t\t\t</xs:sequence>\n\t\t\t\t</xs:complexType>\n\t\t\t</xs:ele[...]
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Login
      xmlns:ns0="http://subreg.cz/types"><login>placeholder_auth_username</login><password>placeholder_auth_password</password></ns0:Login></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['"http://subreg.cz/wsdl#Login"']
    method: POST
    uri: https://subreg.cz/soap/cmd.php?soap_format=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://subreg.cz/types"><SOAP-ENV:Body><ns1:Login_Container><response><status>ok</status><data><ssid>5a1a4c5f425903c92c106b48a8ae6aec</ssid></data></response></ns1:Login_Container></SOAP-ENV:Body></SOAP-ENV:Envelope>

'}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Domains_List
      xmlns:ns0="http://subreg.cz/types"><ssid>5a1a4c5f425903c92c106b48a8ae6aec</ssid></ns0:Domains_List></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['"http://subreg.cz/wsdl#Domains_List"']
    method: POST
    uri: https://subreg.cz/soap/cmd.php?soap_format=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://subreg.cz/types"><SOAP-ENV:Body><ns1:Domains_List_Container><response><status>ok</status><data><count>1</count><domains><name>oldium.xyz</name><expire>2023-06-29</expire><autorenew>0</autorenew></domains></data></response></ns1:Domains_List_Container></SOAP-ENV:Body></SOAP-ENV:Envelope>

'}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Get_DNS_Zone
      xmlns:ns0="http://subreg.cz/types"><ssid>5a1a4c5f425903c92c106b48a8ae6aec</ssid><domain>oldium.xyz</domain></ns0:Get_DNS_Zone></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['"http://subreg.cz/wsdl#Get_DNS_Zone"']
    method: POST
    uri: https://subreg.cz/soap/cmd.php?soap_format=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://subreg.cz/types"><SOAP-ENV:Body><ns1:Get_DNS_Zone_Container><response><status>ok</status><data><domain>oldium.xyz</domain><records><id>3964703</id><name>docs</name><type>CNAME</type><content>docs.example.com</content><prio>0</prio><ttl>3600</ttl></records><records><id>3964702</id><name>localhost</name><type>A</type><content>127.0.0.1</content><prio>0</prio><ttl>3600</ttl></records><records><id>3964721</id><name>random.fqdntest</name><type>TXT</type><content>challengetoken</content><prio>0</prio><ttl>3600</ttl></records><records><id>3964722</id><name>random.fulltest</name><type>TXT</type><content>challengetoken</content><prio>0</prio><ttl>3600</ttl></records><records><id>3964718</id><name>ttl.fqdn</name><type>TXT</type><content[...]
- request:
    body: !!python/unicode '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Add_DNS_Record
      xmlns:ns0="http://subreg.cz/types"><ssid>5a1a4c5f425903c92c106b48a8ae6aec</ssid><domain>oldium.xyz</domain><record><name>random.test</name><type>TXT</type><content>challengetoken</content><ttl>3600</ttl></record></ns0:Add_DNS_Record></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['"http://subreg.cz/wsdl#Add_DNS_Record"']
    method: POST
    uri: https://subreg.cz/soap/cmd.php?soap_format=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://subreg.cz/types"><SOAP-ENV:Body><ns1:Add_DNS_Record_Container><response><status>ok</status><data/></response></ns1:Add_DNS_Record_Container></SOAP-ENV:Body></SOAP-ENV:Envelope>

'}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
[...]
