interactions:
- request:
    body: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope
      xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n<soap:Body>\n
      \   <Login xmlns=\"http://subreg.cz/types\">\n    <login>placeholder_auth_username</login><password>placeholder_auth_password</password></Login>\n</soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
    method: POST
    uri: https://subreg.cz/soap/cmd.php?soap_format=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://subreg.cz/types"><SOAP-ENV:Body><ns1:Login_Container><response><status>ok</status><data><ssid>123456789abcdef0123456789abcdef0</ssid></data></response></ns1:Login_Container></SOAP-ENV:Body></SOAP-ENV:Envelope>

'}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope
      xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n<soap:Body>\n
      \   <Domains_List xmlns=\"http://subreg.cz/types\">\n    <ssid>123456789abcdef0123456789abcdef0</ssid></Domains_List>\n</soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
    method: POST
    uri: https://subreg.cz/soap/cmd.php?soap_format=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://subreg.cz/types"><SOAP-ENV:Body><ns1:Domains_List_Container><response><status>ok</status><data><count>1</count><domains><name>oldium.net</name><expire>2023-10-20</expire><autorenew>0</autorenew></domains></data></response></ns1:Domains_List_Container></SOAP-ENV:Body></SOAP-ENV:Envelope>

'}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope
      xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n<soap:Body>\n
      \   <Get_DNS_Zone xmlns=\"http://subreg.cz/types\">\n    <domain>oldium.net</domain><ssid>123456789abcdef0123456789abcdef0</ssid></Get_DNS_Zone>\n</soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
    method: POST
    uri: https://subreg.cz/soap/cmd.php?soap_format=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://subreg.cz/types"><SOAP-ENV:Body><ns1:Get_DNS_Zone_Container><response><status>ok</status><data><domain>oldium.net</domain><records><id>3854792</id><name>docs</name><type>CNAME</type><content>docs.example.com</content><prio>0</prio><ttl>3600</ttl></records><records><id>3854791</id><name>localhost</name><type>A</type><content>127.0.0.1</content><prio>0</prio><ttl>3600</ttl></records><records><id>3854807</id><name>ttl.fqdn</name><type>TXT</type><content>ttlshouldbe3600</content><prio>0</prio><ttl>3600</ttl></records><records><id>3854796</id><name>_acme-challenge.createrecordset</name><type>TXT</type><content>challengetoken1</content><prio>0</prio><ttl>3600</ttl></records><records><id>3854797</id><name>_acme-challenge.createrecord[...]
- request:
    body: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope
      xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n<soap:Body>\n
      \   <Add_DNS_Record xmlns=\"http://subreg.cz/types\">\n    <record><type>TXT</type><name>_acme-challenge.listrecordset</name><content>challengetoken1</content><ttl>3600</ttl></record><domain>oldium.net</domain><ssid>123456789abcdef0123456789abcdef0</ssid></Add_DNS_Record>\n</soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
    method: POST
    uri: https://subreg.cz/soap/cmd.php?soap_format=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="http://subreg.cz/types"><SOAP-ENV:Body><ns1:Add_DNS_Record_Container><response><status>ok</status><data/></response></ns1:Add_DNS_Record_Container></SOAP-ENV:Body></SOAP-ENV:Envelope>

'}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
[...]
