interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"name":"capsulecd.com","ttl":1800,"zone_file":"$ORIGIN
        capsulecd.com.\n$TTL 1800\ncapsulecd.com. IN SOA ns1.digitalocean.com. hostmaster.capsulecd.com.
        1521528334 10800 3600 604800 1800\ncapsulecd.com. 1800 IN NS ns1.digitalocean.com.\ncapsulecd.com.
        1800 IN NS ns2.digitalocean.com.\ncapsulecd.com. 1800 IN NS ns3.digitalocean.com.\ncapsulecd.com.
        1800 IN A 127.0.0.1\n"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"14737b4e9755da61fdc598b65a8acfef"]
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4829']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"domain_records":[{"id":13310015,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":13310016,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":13310017,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":13310018,"type":"A","name":"@","data":"127.0.0.1","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}],"links":{},"meta":{"total":4}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"57376df3dd9b4b8068884260815f535e"]
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4828']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"data": "127.0.0.1", "type": "A", "name": "localhost"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"domain_record":{"id":38629349,"type":"A","name":"localhost","data":"127.0.0.1","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"d6198f8fb7c01dc3e2904f5e463ad39c"']
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4827']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 201, message: Created}
version: 1
