interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"name":"capsulecd.com","ttl":1800,"zone_file":"$ORIGIN
        capsulecd.com.\n$TTL 1800\ncapsulecd.com. IN SOA ns1.digitalocean.com. hostmaster.capsulecd.com.
        1521528334 10800 3600 604800 1800\ncapsulecd.com. 1800 IN NS ns1.digitalocean.com.\ncapsulecd.com.
        1800 IN NS ns2.digitalocean.com.\ncapsulecd.com. 1800 IN NS ns3.digitalocean.com.\ncapsulecd.com.
        1800 IN A 127.0.0.1\n"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"14737b4e9755da61fdc598b65a8acfef"]
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4831']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 200, message: OK}
version: 1
