interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"name":"capsulecd.com","ttl":1800,"zone_file":"$ORIGIN
        capsulecd.com.\n$TTL 1800\ncapsulecd.com. IN SOA ns1.digitalocean.com. hostmaster.capsulecd.com.
        1460668241 10800 3600 604800 1800\ncapsulecd.com. 1800 IN NS ns1.digitalocean.com.\ncapsulecd.com.
        1800 IN NS ns2.digitalocean.com.\ncapsulecd.com. 1800 IN NS ns3.digitalocean.com.\ncapsulecd.com.
        1800 IN A 127.0.0.1\n"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4994']
      ratelimit-reset: ['1460673047']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"data": "challengetoken", "type": "TXT", "name": "_acme-challenge.full"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"domain_record":{"id":13310406,"type":"TXT","name":"_acme-challenge.full","data":"challengetoken","priority":null,"port":null,"weight":null}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"63b53d2c0058e4e3cd651afae0d5dcda"']
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4989']
      ratelimit-reset: ['1460673047']
      status: [201 Created]
    status: {code: 201, message: Created}
version: 1
