interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"name":"capsulecd.com","ttl":1800,"zone_file":"$ORIGIN
        capsulecd.com.\n$TTL 1800\ncapsulecd.com. IN SOA ns1.digitalocean.com. hostmaster.capsulecd.com.
        1460668241 10800 3600 604800 1800\ncapsulecd.com. 1800 IN NS ns1.digitalocean.com.\ncapsulecd.com.
        1800 IN NS ns2.digitalocean.com.\ncapsulecd.com. 1800 IN NS ns3.digitalocean.com.\ncapsulecd.com.
        1800 IN A 127.0.0.1\n"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4997']
      ratelimit-reset: ['1460673047']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"data": "127.0.0.1", "type": "A", "name": "localhost"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"domain_record":{"id":13310404,"type":"A","name":"localhost","data":"127.0.0.1","priority":null,"port":null,"weight":null}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"639aea4088c5a4ec18add381c4b170b7"']
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4992']
      ratelimit-reset: ['1460673047']
      status: [201 Created]
    status: {code: 201, message: Created}
version: 1
