interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"name":"capsulecd.com","ttl":1800,"zone_file":"$ORIGIN
        capsulecd.com.\n$TTL 1800\ncapsulecd.com. IN SOA ns1.digitalocean.com. hostmaster.capsulecd.com.
        1521528452 10800 3600 604800 1800\ncapsulecd.com. 1800 IN NS ns1.digitalocean.com.\ncapsulecd.com.
        1800 IN NS ns2.digitalocean.com.\ncapsulecd.com. 1800 IN NS ns3.digitalocean.com.\ncapsulecd.com.
        1800 IN A 127.0.0.1\nlocalhost.capsulecd.com. 1800 IN A 127.0.0.1\ndocs.capsulecd.com.
        1800 IN CNAME docs.example.com.\n_acme-challenge.fqdn.capsulecd.com. 1800
        IN TXT challengetoken\n_acme-challenge.full.capsulecd.com. 1800 IN TXT challengetoken\n_acme-challenge.test.capsulecd.com.
        1800 IN TXT challengetoken\nrandom.fqdntest.capsulecd.com. 1800 IN TXT challengetoken\nrandom.fulltest.capsulecd.com.
        1800 IN TXT challengetoken\nrandom.test.capsulecd.com. 1800 IN TXT challengetoken\nupdated.test.capsulecd.com.
        1800 IN TXT challengetoken\n"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"740c9212fe06168150cfd054bf9aa506"]
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4769']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"domain_records":[{"id":13310015,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":13310016,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":13310017,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":13310018,"type":"A","name":"@","data":"127.0.0.1","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":38629349,"type":"A","name":"localhost","data":"127.0.0.1","pri[...]
- request:
    body: !!python/unicode '{"data": "challengetoken", "type": "TXT", "name": "orig.testfqdn"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"domain_record":{"id":38629390,"type":"TXT","name":"orig.testfqdn","data":"challengetoken","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"9517ede3489556ed7967fc0bc249d36b"']
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4767']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"data": "challengetoken", "type": "TXT", "name": "updated.testfqdn"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records/38629390
  response:
    body: {string: !!python/unicode '{"domain_record":{"id":38629390,"type":"TXT","name":"updated.testfqdn","data":"challengetoken","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"3ca3292a1a430bdd09867200d75c5504"]
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4765']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 200, message: OK}
version: 1
