interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"name":"capsulecd.com","ttl":1800,"zone_file":"$ORIGIN
        capsulecd.com.\n$TTL 1800\ncapsulecd.com. IN SOA ns1.digitalocean.com. hostmaster.capsulecd.com.
        1460669983 10800 3600 604800 1800\ncapsulecd.com. 1800 IN NS ns1.digitalocean.com.\ncapsulecd.com.
        1800 IN NS ns2.digitalocean.com.\ncapsulecd.com. 1800 IN NS ns3.digitalocean.com.\ncapsulecd.com.
        1800 IN A 127.0.0.1\nlocalhost.capsulecd.com. 1800 IN A 127.0.0.1\n_acme-challenge.fqdn.capsulecd.com.
        1800 IN TXT challengetoken\n_acme-challenge.full.capsulecd.com. 1800 IN TXT
        challengetoken\n_acme-challenge.test.capsulecd.com. 1800 IN TXT challengetoken\ndocs.capsulecd.com.
        1800 IN CNAME docs.example.com.\nrandom.fqdntest.capsulecd.com. 1800 IN TXT
        challengetoken\nrandom.fulltest.capsulecd.com. 1800 IN TXT challengetoken\nrandom.test.capsulecd.com.
        1800 IN TXT challengetoken\nupdated.test.capsulecd.com. 1800 IN TXT challengetoken\nupdated.testfqdn.capsulecd.com.
        1800 IN TXT challengetoken\nupdated.testfull.capsulecd.com. 1800 IN TXT challengetoken\n"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4960']
      ratelimit-reset: ['1460673047']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"data": "challengetoken", "type": "TXT", "name": "delete.testfull"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"domain_record":{"id":13310527,"type":"TXT","name":"delete.testfull","data":"challengetoken","priority":null,"port":null,"weight":null}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"cb8b074335c0b430bd9ae9f89f830a13"']
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4954']
      ratelimit-reset: ['1460673047']
      status: [201 Created]
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"domain_records":[{"id":13310015,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"weight":null},{"id":13310016,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"weight":null},{"id":13310017,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"weight":null},{"id":13310018,"type":"A","name":"@","data":"127.0.0.1","priority":null,"port":null,"weight":null},{"id":13310404,"type":"A","name":"localhost","data":"127.0.0.1","pr[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records/13310527
  response:
    body: {string: !!python/unicode ''}
    headers:
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4946']
      ratelimit-reset: ['1460673047']
      status: [204 No Content]
    status: {code: 204, message: No Content}
[...]
