interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains/foxwoodswebsites.com
  response:
    body:
      string: !!python/unicode '{"domain":{"name":"foxwoodswebsites.com","ttl":1800,"zone_file":"$ORIGIN
        foxwoodswebsites.com.\n$TTL 1800\nfoxwoodswebsites.com. IN SOA ns1.digitalocean.com.
        hostmaster.foxwoodswebsites.com. 1583891352 10800 3600 604800 1800\nfoxwoodswebsites.com.
        1800 IN NS ns1.digitalocean.com.\nfoxwoodswebsites.com. 1800 IN NS ns2.digitalocean.com.\nfoxwoodswebsites.com.
        1800 IN NS ns3.digitalocean.com.\nlocalhost.foxwoodswebsites.com. 3600 IN
        A 127.0.0.1\ndocs.foxwoodswebsites.com. 3600 IN CNAME docs.example.com.\n_acme-challenge.f[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records
  response:
    body:
      string: !!python/unicode '{"domain_records":[{"id":78210035,"type":"SOA","name":"@","data":"1800","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":78210036,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":78210037,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":78210038,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":92264100,"type":"A","name":"localhost","data":"127[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records?page=2
  response:
    body:
      string: !!python/unicode '{"domain_records":[{"id":92264158,"type":"TXT","name":"updated.testfqdn","data":"challengetoken","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null},{"id":92264161,"type":"TXT","name":"updated.testfull","data":"challengetoken","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null}],"links":{"pages":{"first":"https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records?page=1","prev":"https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records?page=1"}},"meta":{"total":22}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"350858b8adccedb5696a9672eed038b9"
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4820'
      ratelimit-reset:
      - '1583891032'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"data": "challengetoken1", "type": "TXT", "name": "_acme-challenge.deleterecordinset",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records
  response:
    body:
      string: !!python/unicode '{"domain_record":{"id":92264307,"type":"TXT","name":"_acme-challenge.deleterecordinset","data":"challengetoken1","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b1711dff44c0e9fc0040e8a4c6f1d357"'
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4819'
      ratelimit-reset:
      - '1583891032'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status:
      code: 201
      message: Created
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records/92264307
  response:
    body:
      string: !!python/unicode 
    headers:
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4814'
      ratelimit-reset:
      - '1583891032'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status:
      code: 204
      message: No Content
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records?page=2
  response:
    body:
      string: !!python/unicode '{"domain_records":[{"id":92264158,"type":"TXT","name":"updated.testfqdn","data":"challengetoken","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null},{"id":92264161,"type":"TXT","name":"updated.testfull","data":"challengetoken","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null}],"links":{"pages":{"first":"https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records?page=1","prev":"https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records?page=1"}},"meta":{"total":22}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"350858b8adccedb5696a9672eed038b9"
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4812'
      ratelimit-reset:
      - '1583891032'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status:
      code: 200
      message: OK
version: 1
