interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"name":"capsulecd.com","ttl":1800,"zone_file":"$ORIGIN
        capsulecd.com.\n$TTL 1800\ncapsulecd.com. IN SOA ns1.digitalocean.com. hostmaster.capsulecd.com.
        1521528430 10800 3600 604800 1800\ncapsulecd.com. 1800 IN NS ns1.digitalocean.com.\ncapsulecd.com.
        1800 IN NS ns2.digitalocean.com.\ncapsulecd.com. 1800 IN NS ns3.digitalocean.com.\ncapsulecd.com.
        1800 IN A 127.0.0.1\nlocalhost.capsulecd.com. 1800 IN A 127.0.0.1\ndocs.capsulecd.com.
        1800 IN CNAME docs.example.com.\n_acme-challenge.fqdn.capsulecd.com. 1800
        IN TXT challengetoken\n_acme-challenge.full.capsulecd.com. 1800 IN TXT challengetoken\n_acme-challenge.test.capsulecd.com.
        1800 IN TXT challengetoken\n"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"b3664919476cb350d1cacb4fc6d6bfcc"]
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4814']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"domain_records":[{"id":13310015,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":13310016,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":13310017,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":13310018,"type":"A","name":"@","data":"127.0.0.1","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":38629349,"type":"A","name":"localhost","data":"127.0.0.1","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":38629350,"type":"CNAME","name":"docs","data":"docs.example.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":38629351,"type":"TXT","name":"_acme-challenge.fqdn","data":"challengetoken","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":38629354,"type":"TXT","name":"_acme-challenge.full","data":"challengetoken","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":38629356,"type":"TXT","name":"_acme-challenge.test","data":"challengetoken","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}],"links":{},"meta":{"total":9}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"6233565674659fe96fd8233ffa44c43d"]
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4813']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"data": "challengetoken", "type": "TXT", "name": "delete.testfilt"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"domain_record":{"id":38629358,"type":"TXT","name":"delete.testfilt","data":"challengetoken","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"abd738f65ddf1a8f793deaa3d5b31a0c"']
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4812']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records/38629358
  response:
    body: {string: !!python/unicode ''}
    headers:
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4810']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 204, message: No Content}
[...]
