interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com
  response:
    body: {string: !!python/unicode '{"domain":{"name":"capsulecd.com","ttl":1800,"zone_file":"$ORIGIN
        capsulecd.com.\n$TTL 1800\ncapsulecd.com. IN SOA ns1.digitalocean.com. hostmaster.capsulecd.com.
        1521528444 10800 3600 604800 1800\ncapsulecd.com. 1800 IN NS ns1.digitalocean.com.\ncapsulecd.com.
        1800 IN NS ns2.digitalocean.com.\ncapsulecd.com. 1800 IN NS ns3.digitalocean.com.\ncapsulecd.com.
        1800 IN A 127.0.0.1\nlocalhost.capsulecd.com. 1800 IN A 127.0.0.1\ndocs.capsulecd.com.
        1800 IN CNAME docs.example.com.\n_acme-challenge.fqdn.capsulecd.com. 1800
        IN TXT challengetoken\n_acme-challenge.full.capsulecd.com. 1800 IN TXT challengetoken\n_acme-challenge.test.capsulecd.com.
        1800 IN TXT challengetoken\nrandom.fqdntest.capsulecd.com. 1800 IN TXT challengetoken\n"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"aee8ab6ea99f70f709d26a14583885df"]
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4786']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"domain_records":[{"id":13310015,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":13310016,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":13310017,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":13310018,"type":"A","name":"@","data":"127.0.0.1","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":38629349,"type":"A","name":"localhost","data":"127.0.0.1","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":38629350,"type":"CNAME","name":"docs","data":"docs.example.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":38629351,"type":"TXT","name":"_acme-challenge.fqdn","data":"challengetoken","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":38629354,"type":"TXT","name":"_acme-challenge.full","data":"challengetoken","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":38629356,"type":"TXT","name":"_acme-challenge.test","data":"challengetoken","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":38629375,"type":"TXT","name":"random.fqdntest","data":"challengetoken","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}],"links":{},"meta":{"total":10}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"e06a9b6e7bae99bd5d92367f8272b328"]
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4785']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"data": "challengetoken", "type": "TXT", "name": "random.fulltest"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.digitalocean.com/v2/domains/capsulecd.com/records
  response:
    body: {string: !!python/unicode '{"domain_record":{"id":38629378,"type":"TXT","name":"random.fulltest","data":"challengetoken","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"989faf3cd225996979f35817b9ded371"']
      ratelimit-limit: ['5000']
      ratelimit-remaining: ['4784']
      ratelimit-reset: ['1521525195']
      x-gateway: [Edge-Gateway]
      x-response-from: [service]
    status: {code: 201, message: Created}
[...]
