interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains/foxwoodswebsites.com
  response:
    body:
      string: !!python/unicode '{"domain":{"name":"foxwoodswebsites.com","ttl":1800,"zone_file":"$ORIGIN
        foxwoodswebsites.com.\n$TTL 1800\nfoxwoodswebsites.com. IN SOA ns1.digitalocean.com.
        hostmaster.foxwoodswebsites.com. 1583891420 10800 3600 604800 1800\nfoxwoodswebsites.com.
        1800 IN NS ns1.digitalocean.com.\nfoxwoodswebsites.com. 1800 IN NS ns2.digitalocean.com.\nfoxwoodswebsites.com.
        1800 IN NS ns3.digitalocean.com.\nlocalhost.foxwoodswebsites.com. 3600 IN
        A 127.0.0.1\ndocs.foxwoodswebsites.com. 3600 IN CNAME docs.example.com.\n_acme-challenge.f[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records
  response:
    body:
      string: !!python/unicode '{"domain_records":[{"id":78210035,"type":"SOA","name":"@","data":"1800","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":78210036,"type":"NS","name":"@","data":"ns1.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":78210037,"type":"NS","name":"@","data":"ns2.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":78210038,"type":"NS","name":"@","data":"ns3.digitalocean.com","priority":null,"port":null,"ttl":1800,"weight":null,"flags":null,"tag":null},{"id":92264100,"type":"A","name":"localhost","data":"127[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records?page=2
  response:
    body:
      string: !!python/unicode '{"domain_records":[{"id":92264158,"type":"TXT","name":"updated.testfqdn","data":"challengetoken","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null},{"id":92264161,"type":"TXT","name":"updated.testfull","data":"challengetoken","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null},{"id":92264331,"type":"TXT","name":"updated.test","data":"challengetoken","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null},{"id":92264338,"type":"TXT","name":"updated.testfqdn","data":"challengetoken","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null}],"links":{"pages":{"first":"https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records?page=1","prev":"https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records?page=1"}},"meta":{"total":24}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"26d63970397cb9e830844bea915e4c9e"
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4749'
      ratelimit-reset:
      - '1583891032'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"data": "challengetoken", "type": "TXT", "name": "orig.testfull",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records
  response:
    body:
      string: !!python/unicode '{"domain_record":{"id":92264345,"type":"TXT","name":"orig.testfull","data":"challengetoken","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"44b0ae6d5b35457c81adaa4d7d1ead38"'
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4748'
      ratelimit-reset:
      - '1583891032'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status:
      code: 201
      message: Created
[...]
- request:
    body: !!python/unicode '{"data": "challengetoken", "type": "TXT", "name": "updated.testfull",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.digitalocean.com/v2/domains/foxwoodswebsites.com/records/92264345
  response:
    body:
      string: !!python/unicode '{"domain_record":{"id":92264345,"type":"TXT","name":"updated.testfull","data":"challengetoken","priority":null,"port":null,"ttl":3600,"weight":null,"flags":null,"tag":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9a38a818f3c7205137d40d9b5a817632"
      ratelimit-limit:
      - '5000'
      ratelimit-remaining:
      - '4745'
      ratelimit-reset:
      - '1583891032'
      x-gateway:
      - Edge-Gateway
      x-response-from:
      - service
    status:
      code: 200
      message: OK
version: 1
