interactions:
- request:
    body: !!python/unicode '{"params": {"domain": "example.com"}, "method": "get-domain"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://njal.la/api/1/
  response:
    body:
      string: !!python/unicode '{"result": {"name": "example.com", "status": "active",
        "expiry": "2020-06-29T23:53:03Z", "mailforwarding": false, "max_nameservers":
        10}, "jsonrpc": "2.0"}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"params": {"content": "challengetoken", "domain": "example.com",
      "type": "TXT", "name": "_acme-challenge.fqdn.example.com.", "ttl": 3600}, "method":
      "add-record"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://njal.la/api/1/
  response:
    body:
      string: !!python/unicode '{"result": {"id": 133765, "name": "_acme-challenge.fqdn",
        "type": "TXT", "content": "challengetoken", "ttl": 3600}, "jsonrpc": "2.0"}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
