interactions:
- request:
    body: !!python/unicode '{"params": {"domain": "thisisadomainidonotown.com"}, "method":
      "get-domain"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://njal.la/api/1/
  response:
    body:
      string: !!python/unicode '{"error": {"code": 403, "message": "permission denied"},
        "jsonrpc": "2.0"}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
