interactions:
- request:
    body: !!python/unicode '{"params": {"domain": "example.com"}, "method": "get-domain"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://njal.la/api/1/
  response:
    body:
      string: !!python/unicode '{"result": {"name": "example.com", "status": "active",
        "expiry": "2020-06-29T23:53:03Z", "mailforwarding": false, "max_nameservers":
        10}, "jsonrpc": "2.0"}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
