interactions:
- request:
    body: !!python/unicode '{"params": {"domain": "example.com"}, "method": "get-domain"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://njal.la/api/1/
  response:
    body:
      string: !!python/unicode '{"result": {"name": "example.com", "status": "active",
        "expiry": "2021-06-29T23:53:03Z", "mailforwarding": false, "max_nameservers":
        10, "dnssec_type": "dsData"}, "jsonrpc": "2.0"}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
      onion-location:
      - http://njalladnspotetti.onion/api/1/
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"params": {"content": "challengetoken", "domain": "example.com",
      "type": "TXT", "name": "delete.testfilt", "ttl": 3600}, "method": "add-record"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://njal.la/api/1/
  response:
    body:
      string: !!python/unicode '{"result": {"id": 188139, "name": "delete.testfilt",
        "type": "TXT", "content": "challengetoken", "ttl": 3600}, "jsonrpc": "2.0"}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
      onion-location:
      - http://njalladnspotetti.onion/api/1/
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"params": {"domain": "example.com"}, "method": "list-records"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://njal.la/api/1/
  response:
    body:
      string: !!python/unicode '{"result": {"records": [{"id": 188132, "name": "localhost",
        "type": "A", "content": "127.0.0.1", "ttl": 3600}, {"id": 133783, "name":
        "@", "type": "Dynamic", "content": "hj96h42che8lw1l2", "ttl": 60, "update_url":
        "https://njal.la/update/?h=example.com&k=hj96h42che8lw1l2&auto", "current_ips":
        ["35.139.63.101"]}, {"id": 188133, "name": "docs", "type": "CNAME", "content":
        "docs.example.com", "ttl": 3600}, {"id": 188134, "name": "_acme-challenge.fqdn",
        "type": "TXT", "content": "challengetoken", "ttl": 3600}, {"id": 188135, "name":
        "_acme-challenge.full", "type": "TXT", "content": "challengetoken", "ttl":
        3600}, {"id": 188136, "name": "_acme-challenge.test", "type": "TXT", "content":
        "challengetoken", "ttl": 3600}, {"id": 188137, "name": "_acme-challenge.createrecordset",
        "type": "TXT", "content": "challengetoken1", "ttl": 3600}, {"id": 188138,
        "name": "_acme-challenge.createrecordset", "type": "TXT", "content": "challengetoken2",
        "ttl": 3600}, {"id": 188139, "name": "delete.testfilt", "type": "TXT", "content":
        "challengetoken", "ttl": 3600}]}, "jsonrpc": "2.0"}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
      onion-location:
      - http://njalladnspotetti.onion/api/1/
    status:
      code: 200
      message: OK
[...]
