interactions:
- request:
    body: !!python/unicode '{"params": {"domain": "example.com"}, "method": "get-domain"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://njal.la/api/1/
  response:
    body:
      string: !!python/unicode '{"result": {"name": "example.com", "status": "active",
        "expiry": "2020-06-29T23:53:03Z", "mailforwarding": false, "max_nameservers":
        10}, "jsonrpc": "2.0"}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"params": {"content": "challengetoken", "domain": "example.com",
      "type": "TXT", "name": "random.fulltest.example.com", "ttl": 3600}, "method":
      "add-record"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://njal.la/api/1/
  response:
    body:
      string: !!python/unicode '{"result": {"id": 133774, "name": "random.fulltest",
        "type": "TXT", "content": "challengetoken", "ttl": 3600}, "jsonrpc": "2.0"}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"params": {"domain": "example.com"}, "method": "list-records"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://njal.la/api/1/
  response:
    body:
      string: !!python/unicode '{"result": {"records": [{"id": 133763, "name": "localhost",
        "type": "A", "content": "127.0.0.1", "ttl": 3600}, {"id": 133764, "name":
        "docs", "type": "CNAME", "content": "docs.example.com", "ttl": 3600}, {"id":
        133765, "name": "_acme-challenge.fqdn", "type": "TXT", "content": "challengetoken",
        "ttl": 3600}, {"id": 133766, "name": "_acme-challenge.full", "type": "TXT",
        "content": "challengetoken", "ttl": 3600}, {"id": 133767, "name": "_acme-challenge.test",
        "type": "TXT", "content": "challengetoken", "ttl": 3600}, {"id": 133772, "name":
        "ttl.fqdn", "type": "TXT", "content": "ttlshouldbe3600", "ttl": 3600}, {"id":
        133773, "name": "random.fqdntest", "type": "TXT", "content": "challengetoken",
        "ttl": 3600}, {"id": 133774, "name": "random.fulltest", "type": "TXT", "content":
        "challengetoken", "ttl": 3600}, {"id": 132509, "name": "@", "type": "Dynamic",
        "content": "mh4itwa-n3c9sjyd", "ttl": 60, "update_url": "https://njal.la/update/?h=example.com&k=mh4itwa-n3c9sjyd&auto",
        "current_ips": ["47.196.152.76"]}, {"id": 133249, "name": "*", "type": "CNAME",
        "content": "@", "ttl": 10800}]}, "jsonrpc": "2.0"}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
