interactions:
- request:
    body: !!python/unicode '<?xml version=''1.0''?>

      <methodCall>

      <methodName>domain.info</methodName>

      <params>

      <param>

      <value><string>tBm11EzvfADiaiKGHZafv8R4</string></value>

      </param>

      <param>

      <value><string>xtestingx.com</string></value>

      </param>

      </params>

      </methodCall>

'
    headers:
      Content-Type: [text/xml]
    method: POST
    uri: https://rpc.ote.gandi.net/xmlrpc/
  response:
    body: {string: !!python/unicode '<?xml version=''1.0''?>

        <methodResponse>

        <params>

        <param>

        <value><struct>

        <member>

        <name>entity_id</name>

        <value><nil/></value></member>

        <member>

        <name>date_updated</name>

        <value><dateTime.iso8601>20160713T03:38:42</dateTime.iso8601></value>

        </member>

        <member>

        <name>date_delete</name>

        <value><dateTime.iso8601>20260826T15:37:15</dateTime.iso8601></value>

        </member>

        <member>

        <name>is_premium</name>

        <value><boolean>0</boolean></value>

        </member>

        <member>

        <name>date_hold_begin</name>

        <value><dateTime.iso8601>20260713T01:37:15</dateTime.iso8601></value>

        </member>

        <member>

        <name>date_registry_end</name>

        <value><dateTime.iso8601>20260713T01:37:15</dateTime.iso8601></value>

        </member>

        <member>

        <name>authinfo_expiration_date</name>

        <value><dateTime.iso8601>20170713T03:37:15</dateTime.iso8601></value>

        </member>

        <member>

        <name>contacts</name>

        <value><struct>

        <member>

        <name>owner</name>

        <value><struct>

        <member>

        <name>handle</name>

        <value><string>PM50-GANDI</string></value>

        </member>

        <member>

        <name>id</name>

        <value><int>95450</int></value>

        </member>

        </struct></value>

        </member>

        <member>

        <name>admin</name>

        <value><struct>

        <member>

        <name>handle</name>

        <value><string>PM50-GANDI</string></value>

        </member>

        <member>

        <name>id</name>

        <value><int>95450</int></value>

        </member>

        </struct></value>

        </member>

        <member>

        <name>bill</name>

        <value><struct>

        <member>

        <name>handle</name>

        <value><string>PM50-GANDI</string></value>

        </member>

        <member>

        <name>id</name>

        <value><int>95450</int></value>

        </member>

        </struct></value>

        </member>

        <member>

        <name>tech</name>

        <value><struct>

        <member>

        <name>handle</name>

        <value><string>PM50-GANDI</string></value>

        </member>

        <member>

        <name>id</name>

        <value><int>95450</int></value>

        </member>

        </struct></value>

        </member>

        <member>

        <name>reseller</name>

        <value><nil/></value></member>

        </struct></value>

        </member>

        <member>

        <name>nameservers</name>

        <value><array><data>

        <value><string>a.dns.gandi-ote.net</string></value>

        <value><string>b.dns.gandi-ote.net</string></value>

        <value><string>c.dns.gandi-ote.net</string></value>

        </data></array></value>

        </member>

        <member>

        <name>date_restore_end</name>

        <value><dateTime.iso8601>20260926T01:37:15</dateTime.iso8601></value>

        </member>

        <member>

        <name>id</name>

        <value><int>26481</int></value>

        </member>

     [...]
[...]
