interactions:
- request:
    body: !!python/unicode '<?xml version=''1.0''?>

      <methodCall>

      <methodName>domain.info</methodName>

      <params>

      <param>

      <value><string>tBm11EzvfADiaiKGHZafv8R4</string></value>

      </param>

      <param>

      <value><string>thisisadomainidonotown.com</string></value>

      </param>

      </params>

      </methodCall>

'
    headers:
      Content-Type: [text/xml]
    method: POST
    uri: https://rpc.ote.gandi.net/xmlrpc/
  response:
    body: {string: !!python/unicode '<?xml version=''1.0''?>

        <methodResponse>

        <fault>

        <value><struct>

        <member>

        <name>faultCode</name>

        <value><int>510042</int></value>

        </member>

        <member>

        <name>faultString</name>

        <value><string>Error on object : OBJECT_DOMAIN (CAUSE_NOTFOUND) [Domain ''thisisadomainidonotown.com''
        doesn''t exist.]</string></value>

        </member>

        </struct></value>

        </fault>

        </methodResponse>

'}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
