interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.zilore.com/dns/v1/domains
  response:
    body: {string: '{"status":"ok","response":[{"domain_id":"5432","domain_status":"DELEGATED","domain_name":"full4ir.tk"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-External-Url: [domains]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.zilore.com/dns/v1/domains/full4ir.tk/records
  response:
    body: {string: '{"status":"ok","response":[{"record_id":"84560","record_status":"enabled","record_name":"full4ir.tk","record_type":"SOA","record_value":"ns1.zilore.net
        support@zilore.com 1549468679","record_ttl":"3600","is_geo":"no","is_failover":"no"},{"record_id":"84561","record_status":"enabled","record_name":"full4ir.tk","record_type":"NS","record_value":"ns1.zilore.net","record_ttl":"3600","is_geo":"no","is_failover":"no"},{"record_id":"84562","record_status":"enabled","record_name":"full4ir.tk","record_type":"NS","record_value":"ns2.zilore.net","record_ttl":"3600","is_geo":"no","is_failover":"no"},{"record_id":"84563","record_status":"enabled","record_name":"full4ir.tk","record_type":"A","record_value":"188.166.203.57","record_ttl":"600","is_geo":"no","is_failover":"no"},{"record_id":"84564","record_status":"enabled","record_name":"*.full4ir.tk","record_type":"CNAME","record_value":"full4ir.tk","record_ttl":"600","is_geo":"no","is_failover":"no"},{"record_id":"84619","record_status":"enabled","record_name":"localhost.full4ir.tk","record_type":"A","record_value":"8.8.8.8","record_ttl":"3600","is_geo":"no","is_failover":"no"},{"record_id":"84620","record_status":"enabled","record_name":"localhost.full4ir.tk","record_type":"A","record_value":"1.1.1.1","record_ttl":"3600","is_geo":"no","is_failover":"no"},{"record_id":"84621","record_status":"enabled","record_name":"docs.full4ir.tk","record_type":"CNAME","record_value":"docs.example.com","record_ttl":"3600","is_geo":"no","is_failover":"no"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-External-Url: [domains/full4ir.tk/records]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://api.zilore.com/dns/v1/domains/full4ir.tk/records?record_type=TXT&record_name=_acme-challenge.fqdn.full4ir.tk&record_value=%22challengetoken%22&record_ttl=3600
  response:
    body: {string: '{"status":"ok","response":{"record_id":84622,"record_status":"added"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-External-Url: [domains/full4ir.tk/records]
    status: {code: 200, message: OK}
version: 1
