interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dnsadmin.hhome.me/api/v1/servers/localhost/zones/example.com
  response:
    body: {string: !!python/unicode '{"account": "", "dnssec": false, "id": "example.com.",
        "kind": "Master", "last_check": 0, "masters": [], "name": "example.com.",
        "notified_serial": 0, "rrsets": [{"comments": [], "name": "localhost.example.com.",
        "records": [{"content": "127.0.0.1", "disabled": false}], "ttl": 600, "type":
        "A"}, {"comments": [], "name": "_acme-challenge.test.example.com.", "records":
        [{"content": "\"challengetoken\"", "disabled": false}], "ttl": 600, "type":
        "TXT"}, {"comments": [], "name": "docs.example.com.", "records": [{"content":
        "docs.example.com.", "disabled": false}], "ttl": 600, "type": "CNAME"}, {"comments":
        [], "name": "_acme-challenge.fqdn.example.com.", "records": [{"content": "\"challengetoken\"",
        "disabled": false}], "ttl": 600, "type": "TXT"}, {"comments": [], "name":
        "_acme-challenge.full.example.com.", "records": [{"content": "\"challengetoken\"",
        "disabled": false}], "ttl": 600, "type": "TXT"}, {"comments": [], "name":
        "example.com.", "records": [{"content": "ns-internal.hhome.me. admin.hhome.me.
        2017033111 28800 7200 604800 86400", "disabled": false}], "ttl": 86400, "type":
        "SOA"}], "serial": 2017033111, "soa_edit": "", "soa_edit_api": "", "url":
        "api/v1/servers/localhost/zones/example.com."}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"rrsets": [{"records": [{"content": "\"challengetoken\"",
      "disabled": false}], "changetype": "REPLACE", "type": "TXT", "name": "delete.testfqdn.example.com.",
      "ttl": 600}]}'
    headers:
      Content-Type: [application/json]
    method: PATCH
    uri: https://dnsadmin.hhome.me/api/v1/servers/localhost/zones/example.com
  response:
    body: {string: !!python/unicode ''}
    headers:
    status: {code: 204, message: No Content}
[...]
