interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.sandbox.namecheap.com/xml.response?ClientIP=127.0.0.1&Command=namecheap.domains.getInfo&DomainName=example-aptise.com
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n\
        <ApiResponse Status=\"OK\" xmlns=\"http://api.namecheap.com/xml.response\"\
        >\r\n  <Errors />\r\n  <Warnings />\r\n  <RequestedCommand>namecheap.domains.getinfo</RequestedCommand>\r\
        \n  <CommandResponse Type=\"namecheap.domains.getInfo\">\r\n    <DomainGetInfoResult\
        \ Status=\"Ok\" ID=\"277432\" DomainName=\"example-aptise.com\" OwnerName=\"\
        jvsandbox\" IsOwner=\"true\" IsPremium=\"false\">\r\n      <DomainDetails>\r\
        \n        <CreatedDate>03/25/2018</CreatedDate>\r\n        <ExpiredDate>03/25/2019</ExpiredDate>\r\
        \n        <NumYears>0</NumYears>\r\n      </DomainDetails>\r\n      <LockDetails\
        \ />\r\n      <Whoisguard Enabled=\"NotAlloted\">\r\n        <ID>0</ID>\r\n\
        \      </Whoisguard>\r\n      <PremiumDnsSubscription>\r\n        <UseAutoRenew>false</UseAutoRenew>\r\
        \n        <SubscriptionId>-1</SubscriptionId>\r\n        <CreatedDate>0001-01-01T00:00:00</CreatedDate>\r\
        \n        <ExpirationDate>0001-01-01T00:00:00</ExpirationDate>\r\n       \
        \ <IsActive>false</IsActive>\r\n      </PremiumDnsSubscription>\r\n      <DnsDetails\
        \ ProviderType=\"FREE\" IsUsingOurDNS=\"true\" HostCount=\"24\" EmailType=\"\
        FWD\" DynamicDNSStatus=\"false\" IsFailover=\"false\">\r\n        <Nameserver>dns1.registrar-servers.com</Nameserver>\r\
        \n        <Nameserver>dns2.registrar-servers.com</Nameserver>\r\n      </DnsDetails>\r\
        \n      <Modificationrights All=\"true\" />\r\n    </DomainGetInfoResult>\r\
        \n  </CommandResponse>\r\n  <Server>PHX01SBAPI02</Server>\r\n  <GMTTimeDifference>--7:00</GMTTimeDifference>\r\
        \n  <ExecutionTime>0.104</ExecutionTime>\r\n</ApiResponse>"}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://api.sandbox.namecheap.com/xml.response?ClientIP=127.0.0.1&Command=namecheap.domains.dns.getHosts&SLD=example-aptise&TLD=com
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n\
        <ApiResponse Status=\"OK\" xmlns=\"http://api.namecheap.com/xml.response\"\
        >\r\n  <Errors />\r\n  <Warnings />\r\n  <RequestedCommand>namecheap.domains.dns.gethosts</RequestedCommand>\r\
        \n  <CommandResponse Type=\"namecheap.domains.dns.getHosts\">\r\n    <DomainDNSGetHostsResult\
        \ Domain=\"example-aptise.com\" EmailType=\"FWD\" IsUsingOurDNS=\"true\">\r\
        \n      <host HostId=\"524154\" Name=\"localhost\" Type=\"A\" Address=\"127.0.0.1\"\
        \ MXPref=\"10\" TTL=\"60\" AssociatedAppTitle=\"\" FriendlyName=\"\" IsActive=\"\
        true\" IsDDNSEnabled=\"false\" />\r\n      <host HostId=\"524155\" Name=\"\
        docs\" Type=\"CNAME\" Address=\"docs.example.com.\" MXPref=\"10\" TTL=\"60\"\
        \ AssociatedAppTitle=\"\" FriendlyName=\"\" IsActive=\"true\" IsDDNSEnabled=\"\
        false\" />\r\n      <host HostId=\"524153\" Name=\"xxxx\" Type=\"CNAME\" [...]
- request:
    body: !!python/unicode 'RecordType21=TXT&HostId19=524164&RecordType20=TXT&RecordType23=TXT&MXPref24=10&IsDDNSEnabled21=false&IsActive10=true&IsDDNSEnabled18=false&IsDDNSEnabled19=false&AssociatedAppTitle11=&IsDDNSEnabled14=false&IsDDNSEnabled15=false&IsDDNSEnabled16=false&IsDDNSEnabled17=false&IsDDNSEnabled10=false&IsDDNSEnabled11=false&IsDDNSEnabled12=false&IsDDNSEnabled13=false&AssociatedAppTitle13=&IsDDNSEnabled20=false&AssociatedAppTitle14=&AssociatedAppTitle15=&AssociatedAppT[...]
[...]
