interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.sandbox.namecheap.com/xml.response?ClientIP=127.0.0.1&Command=namecheap.domains.getInfo&DomainName=unittest2.dev
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ApiResponse Status=\"OK\"
        xmlns=\"http://api.namecheap.com/xml.response\">\r\n  <Errors />\r\n  <Warnings
        />\r\n  <RequestedCommand>namecheap.domains.getinfo</RequestedCommand>\r\n
        \ <CommandResponse Type=\"namecheap.domains.getInfo\">\r\n    <DomainGetInfoResult
        Status=\"Ok\" ID=\"589667\" DomainName=\"unittest2.dev\" OwnerName=\"phassberg\"
        IsOwner=\"true\" IsPremium=\"false\">\r\n      <DomainDetails>\r\n        <CreatedDate>05/20/2020</CreatedDate>\r\n
        \       <ExpiredDate>05/20/2021</ExpiredDate>\r\n        <NumYears>0</NumYears>\r\n
        \     </DomainDetails>\r\n      <LockDetails />\r\n      <Whoisguard Enabled=\"True\">\r\n
        \       <ID>481121</ID>\r\n        <ExpiredDate>05/20/2021</ExpiredDate>\r\n
        \       <EmailDetails WhoisGuardEmail=\"824017ccbed343119b3459c7d3304ba5.protect@whoisguard.com\"
        ForwardedTo=\"dr.doddo@gmail.com\" LastAutoEmailChangeDate=\"05/20/2020\"
        AutoEmailChangeFrequencyDays=\"3\" />\r\n      </Whoisguard>\r\n      <PremiumDnsSubscription>\r\n
        \       <UseAutoRenew>false</UseAutoRenew>\r\n        <SubscriptionId>-1</SubscriptionId>\r\n
        \       <CreatedDate>0001-01-01T00:00:00</CreatedDate>\r\n        <ExpirationDate>0001-01-01T00:00:00</ExpirationDate>\r\n
        \       <IsActive>false</IsActive>\r\n      </PremiumDnsSubscription>\r\n
        \     <DnsDetails ProviderType=\"FREE\" IsUsingOurDNS=\"true\" HostCount=\"31\"
        EmailType=\"FWD\" DynamicDNSStatus=\"false\" IsFailover=\"false\">\r\n        <Nameserver>dns1.registrar-servers.com</Nameserver>\r\n
        \       <Nameserver>dns2.registrar-servers.com</Nameserver>\r\n      </DnsDetails>\r\n
        \     <Modificationrights All=\"true\" />\r\n    </DomainGetInfoResult>\r\n
        \ </CommandResponse>\r\n  <Server>PHX01SBAPIEXT01</Server>\r\n  <GMTTimeDifference>--4:00</GMTTimeDifference>\r\n
        \ <ExecutionTime>0.241</ExecutionTime>\r\n</ApiResponse>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
