interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.sandbox.namecheap.com/xml.response?ClientIP=127.0.0.1&Command=namecheap.domains.getList&Page=1
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n\
        <ApiResponse Status=\"OK\" xmlns=\"http://api.namecheap.com/xml.response\"\
        >\r\n  <Errors />\r\n  <Warnings />\r\n  <RequestedCommand>namecheap.domains.getlist</RequestedCommand>\r\
        \n  <CommandResponse Type=\"namecheap.domains.getList\">\r\n    <DomainGetListResult>\r\
        \n      <Domain ID=\"160248\" Name=\"dnscontrol.com\" User=\"sandypants\"\
        \ Created=\"04/18/2017\" Expires=\"04/18/2018\" IsExpired=\"false\" IsLocked=\"\
        false\" AutoRenew=\"false\" WhoisGuard=\"NOTPRESENT\" IsPremium=\"false\"\
        \ IsOurDNS=\"true\" />\r\n      <Domain ID=\"261173\" Name=\"lexicontest.com\"\
        \ User=\"sandypants\" Created=\"01/16/2018\" Expires=\"01/16/2019\" IsExpired=\"\
        false\" IsLocked=\"false\" AutoRenew=\"false\" WhoisGuard=\"NOTPRESENT\" IsPremium=\"\
        false\" IsOurDNS=\"true\" />\r\n    </DomainGetListResult>\r\n    <Paging>\r\
        \n      <TotalItems>2</TotalItems>\r\n      <CurrentPage>1</CurrentPage>\r\
        \n      <PageSize>20</PageSize>\r\n    </Paging>\r\n  </CommandResponse>\r\
        \n  <Server>PHX01SBAPI02</Server>\r\n  <GMTTimeDifference>--8:00</GMTTimeDifference>\r\
        \n  <ExecutionTime>0.135</ExecutionTime>\r\n</ApiResponse>"}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://api.sandbox.namecheap.com/xml.response?ClientIP=127.0.0.1&Command=namecheap.domains.getList&Page=2
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n\
        <ApiResponse Status=\"OK\" xmlns=\"http://api.namecheap.com/xml.response\"\
        >\r\n  <Errors />\r\n  <Warnings />\r\n  <RequestedCommand>namecheap.domains.getlist</RequestedCommand>\r\
        \n  <CommandResponse Type=\"namecheap.domains.getList\">\r\n    <DomainGetListResult\
        \ />\r\n    <Paging>\r\n      <TotalItems>2</TotalItems>\r\n      <CurrentPage>2</CurrentPage>\r\
        \n      <PageSize>20</PageSize>\r\n    </Paging>\r\n  </CommandResponse>\r\
        \n  <Server>PHX01SBAPI02</Server>\r\n  <GMTTimeDifference>--8:00</GMTTimeDifference>\r\
        \n  <ExecutionTime>0.036</ExecutionTime>\r\n</ApiResponse>"}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
