interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.sandbox.namecheap.com/xml.response?ClientIP=127.0.0.1&Command=namecheap.domains.getList&Page=1
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n\
        <ApiResponse Status=\"OK\" xmlns=\"http://api.namecheap.com/xml.response\"\
        >\r\n  <Errors />\r\n  <Warnings />\r\n  <RequestedCommand>namecheap.domains.getlist</RequestedCommand>\r\
        \n  <CommandResponse Type=\"namecheap.domains.getList\">\r\n    <DomainGetListResult>\r\
        \n      <Domain ID=\"160248\" Name=\"dnscontrol.com\" User=\"sandypants\"\
        \ Created=\"04/18/2017\" Expires=\"04/18/2018\" IsExpired=\"false\" IsLocked=\"\
        false\" AutoRenew=\"false\" WhoisGuard=\"NOTPRESENT\" IsPremium=\"false\"\
        \ IsOurDNS=\"true\" />\r\n      <Domain ID=\"261173\" Name=\"lexicontest.com\"\
        \ User=\"sandypants\" Created=\"01/16/2018\" Expires=\"01/16/2019\" IsExpired=\"\
        false\" IsLocked=\"false\" AutoRenew=\"false\" WhoisGuard=\"NOTPRESENT\" IsPremium=\"\
        false\" IsOurDNS=\"true\" />\r\n    </DomainGetListResult>\r\n    <Paging>\r\
        \n      <TotalItems>2</TotalItems>\r\n      <CurrentPage>1</CurrentPage>\r\
        \n      <PageSize>20</PageSize>\r\n    </Paging>\r\n  </CommandResponse>\r\
        \n  <Server>PHX01SBAPI02</Server>\r\n  <GMTTimeDifference>--8:00</GMTTimeDifference>\r\
        \n  <ExecutionTime>0.016</ExecutionTime>\r\n</ApiResponse>"}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://api.sandbox.namecheap.com/xml.response?ClientIP=127.0.0.1&Command=namecheap.domains.dns.getHosts&SLD=lexicontest&TLD=com
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n\
        <ApiResponse Status=\"OK\" xmlns=\"http://api.namecheap.com/xml.response\"\
        >\r\n  <Errors />\r\n  <Warnings />\r\n  <RequestedCommand>namecheap.domains.dns.gethosts</RequestedCommand>\r\
        \n  <CommandResponse Type=\"namecheap.domains.dns.getHosts\">\r\n    <DomainDNSGetHostsResult\
        \ Domain=\"lexicontest.com\" EmailType=\"FWD\" IsUsingOurDNS=\"true\">\r\n\
        \      <host HostId=\"506042\" Name=\"localhost\" Type=\"A\" Address=\"127.0.0.1\"\
        \ MXPref=\"10\" TTL=\"1800\" AssociatedAppTitle=\"\" FriendlyName=\"\" IsActive=\"\
        true\" IsDDNSEnabled=\"false\" />\r\n      <host HostId=\"506043\" Name=\"\
        docs\" Type=\"CNAME\" Address=\"docs.example.com.\" MXPref=\"10\" TTL=\"1800\"\
        \ AssociatedAppTitle=\"\" FriendlyName=\"\" IsActive=\"true\" IsDDNSEnabled=\"\
        false\" />\r\n      <host HostId=\"506041\" Name=\"www\" Type=\"CNAME[...]
- request:
    body: !!python/unicode 'RecordType10=TXT&HostId8=506052&HostId9=505697&FriendlyName6=&HostId1=506042&HostId2=506043&HostId3=506041&HostId4=506044&HostId5=506045&HostId6=506046&HostId7=506051&RecordType6=TXT&RecordType7=TXT&RecordType4=TXT&RecordType5=TXT&RecordType2=CNAME&RecordType3=CNAME&RecordType1=A&RecordType8=TXT&RecordType9=URL&FriendlyName1=&FriendlyName3=CName+Record&AssociatedAppTitle5=&AssociatedAppTitle2=&AssociatedAppTitle3=&IsDDNSEnabled8=false&IsDDNSEnabled9=false&I[...]
[...]
