interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.sandbox.namecheap.com/xml.response?ClientIP=127.0.0.1&Command=namecheap.domains.getList&Page=1
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n\
        <ApiResponse Status=\"OK\" xmlns=\"http://api.namecheap.com/xml.response\"\
        >\r\n  <Errors />\r\n  <Warnings />\r\n  <RequestedCommand>namecheap.domains.getlist</RequestedCommand>\r\
        \n  <CommandResponse Type=\"namecheap.domains.getList\">\r\n    <DomainGetListResult>\r\
        \n      <Domain ID=\"160248\" Name=\"dnscontrol.com\" User=\"sandypants\"\
        \ Created=\"04/18/2017\" Expires=\"04/18/2018\" IsExpired=\"false\" IsLocked=\"\
        false\" AutoRenew=\"false\" WhoisGuard=\"NOTPRESENT\" IsPremium=\"false\"\
        \ IsOurDNS=\"true\" />\r\n      <Domain ID=\"261173\" Name=\"lexicontest.com\"\
        \ User=\"sandypants\" Created=\"01/16/2018\" Expires=\"01/16/2019\" IsExpired=\"\
        false\" IsLocked=\"false\" AutoRenew=\"false\" WhoisGuard=\"NOTPRESENT\" IsPremium=\"\
        false\" IsOurDNS=\"true\" />\r\n    </DomainGetListResult>\r\n    <Paging>\r\
        \n      <TotalItems>2</TotalItems>\r\n      <CurrentPage>1</CurrentPage>\r\
        \n      <PageSize>20</PageSize>\r\n    </Paging>\r\n  </CommandResponse>\r\
        \n  <Server>PHX01SBAPI02</Server>\r\n  <GMTTimeDifference>--8:00</GMTTimeDifference>\r\
        \n  <ExecutionTime>0.02</ExecutionTime>\r\n</ApiResponse>"}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://api.sandbox.namecheap.com/xml.response?ClientIP=127.0.0.1&Command=namecheap.domains.dns.getHosts&SLD=lexicontest&TLD=com
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n\
        <ApiResponse Status=\"OK\" xmlns=\"http://api.namecheap.com/xml.response\"\
        >\r\n  <Errors />\r\n  <Warnings />\r\n  <RequestedCommand>namecheap.domains.dns.gethosts</RequestedCommand>\r\
        \n  <CommandResponse Type=\"namecheap.domains.dns.getHosts\">\r\n    <DomainDNSGetHostsResult\
        \ Domain=\"lexicontest.com\" EmailType=\"FWD\" IsUsingOurDNS=\"true\">\r\n\
        \      <host HostId=\"506041\" Name=\"www\" Type=\"CNAME\" Address=\"parkingpage.namecheap.com.\"\
        \ MXPref=\"10\" TTL=\"1800\" AssociatedAppTitle=\"\" FriendlyName=\"CName\
        \ Record\" IsActive=\"true\" IsDDNSEnabled=\"false\" />\r\n      <host HostId=\"\
        505697\" Name=\"@\" Type=\"URL\" Address=\"http://www.lexicontest.com/?from=@\"\
        \ MXPref=\"10\" TTL=\"1800\" AssociatedAppTitle=\"\" FriendlyName=\"URL Record\"\
        \ IsActive=\"true\" IsDDNSEnabled=\"false\" />\r\n    </DomainDNSGetHostsResult>\r\
        \n  </CommandResponse>\r\n  <Server>PHX01SBAPI02</Server>\r\n  <GMTTimeDifference>--8:00</GMTTimeDifference>\r\
        \n  <ExecutionTime>1.021</ExecutionTime>\r\n</ApiResponse>"}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'TTL1=1800&HostName1=www&HostName2=%40&HostName3=localhost&IsActive2=true&HostId2=505697&Address1=parkingpage.namecheap.com.&TTL2=1800&Address3=127.0.0.1&IsDDNSEnabled2=false&MXPref2=10&MXPref1=10&IsDDNSEnabled1=false&FriendlyName1=CName+Record&FriendlyName2=URL+Record&AssociatedAppTitle2=&AssociatedAppTitle1=&TLD=com&SLD=lexicontest&HostId1=506041&IsActive1=true&RecordType2=URL&RecordType3=A&RecordType1=CNAME&Address2=http%3A%2F%2Fwww.lexicontest.com%2F%3Ffrom%3D%40'
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.sandbox.namecheap.com/xml.response?ClientIP=127.0.0.1&Command=namecheap.domains.dns.setHosts
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n\
        <ApiResponse Status=\"OK\" xmlns=\"http://api.namecheap.com/xml.response\"\
        >\r\n  <Errors />\r\n  <Warnings />\r\n  <RequestedCommand>namecheap.domains.dns.sethosts</RequestedCommand>\r\
        \n  <CommandResponse Type=\"namecheap.domains.dns.setHosts\">\r\n    <DomainDNSSetHostsResult\
        \ Domain=\"lexicontest.com\" IsSuccess=\"true\">\r\n      <Warnings />\r\n\
        \    </DomainDNSSetHostsResult>\r\n  </CommandResponse>\r\n  <Server>PHX01SBAPI02</Server>\r\
        \n  <GMTTimeDifference>--8:00</GMTTimeDifference>\r\n  <ExecutionTime>1.092</ExecutionTime>\r\
        \n</ApiResponse>"}
    headers:
      content-type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
