interactions:
- request:
    body: !!python/unicode '{"filter": {"field": "ZoneName", "value": "eruza.de"},
      "page": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://secure.hosting.de/api/dns/v1/json/zoneConfigsFind
  response:
    body:
      string: !!python/unicode "{\n    \"errors\": [\n    ],\n    \"metadata\": {\n
        \       \"clientTransactionId\": \"\",\n        \"serverTransactionId\": \"20190822084338278-dnsrobot-robots1-23691-0\"\n
        \   },\n    \"response\": {\n        \"data\": [\n            {\n                \"accountId\":
        \"190402dqdf2q2ra7qjq\",\n                \"addDate\": \"2019-04-02T14:19:31Z\",\n
        \               \"dnsSecMode\": \"off\",\n                \"dnsServerGroupId\":
        null,\n                \"emailAddress\": \"hostmaster@eruza.de\",\n                \"id\":
        \"190402ie2pps4ds4zx4\",\n                \"lastChangeDate\": \"2019-08-22T08:43:37Z\",\n
        \               \"masterIp\": \"\",\n                \"name\": \"eruza.de\",\n
        \               \"nameUnicode\": \"eruza.de\",\n                \"soaValues\":
        {\n                    \"expire\": 3600000,\n                    \"negativeTtl\":
        900,\n                    \"refresh\": 86400,\n                    \"retry\":
        7200,\n                    \"ttl\": 86400\n                },\n                \"status\":
        \"blocked\",\n                \"templateValues\": null,\n                \"type\":
        \"NATIVE\",\n                \"zoneTransferWhitelist\": [\n                ]\n
        \           }\n        ],\n        \"limit\": 25,\n        \"page\": 1,\n
        \       \"totalEntries\": 1,\n        \"totalPages\": 1,\n        \"type\":
        \"FindZoneConfigsResult\"\n    },\n    \"status\": \"success\",\n    \"warnings\":
        [\n    ]\n}\n"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"filter": {"subFilterConnective": "AND", "subFilter":
      [{"field": "zoneConfigId", "value": "190402ie2pps4ds4zx4"}]}, "page": 1}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://secure.hosting.de/api/dns/v1/json/recordsFind
  response:
    body:
      string: !!python/unicode "{\n    \"errors\": [\n    ],\n    \"metadata\": {\n
        \       \"clientTransactionId\": \"\",\n        \"serverTransactionId\": \"20190822084338453-dnsrobot-robots1-23691-0\"\n
        \   },\n    \"response\": {\n        \"data\": [\n            {\n                \"accountId\":
        \"190402dqdf2q2ra7qjq\",\n                \"addDate\": \"2019-08-22T08:42:15Z\",\n
        \               \"content\": \"\\\"challengetoken1\\\"\",\n                \"id\":
        \"190822jubmrq44cjwv2\",\n                \"lastChangeDate\": \"2019-08-22T08:42:15Z\",\n
        \               \"name\": \"_acme-challenge.createrecordset.eruza.de\",\n
        \               \"priority\": null,\n                \"recordTemplateId\":
        null,\n                \"ttl\": 3600,\n                \"type\": \"TXT\",\n
        \               \"zoneConfigId\": \"190402ie2pps4ds4zx4\"\n            },\n
        \           {\n                \"accountId\": \"190402dqdf2q2ra7qjq\",\n                \"addDate\":
        \"2019-08-22T08:42:17Z\",\n                \"content\": \"\\\"challengetoken2\\\"\",\n
        \               \"id\": \"1908224gtpiukb2awpq\",\n                \"lastChangeDate\":
        \"2019-08-22T08:42:17Z\",\n                \"name\": \"_acme-challenge.createrecordset.eruza.de\",\n
        \               \"priority\": null,\n     [...]
