interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my.rcodezero.at/api/v1/zones/lexicon-test.at
  response:
    body:
      string: !!python/unicode '{"id":544219,"domain":"lexicon-test.at","type":"MASTER","masters":[""],"serial":2019093202,"created":"2019-09-30T12:57:51Z","last_check":null,"dnssec_status":"Unsigned","dnssec_status_detail":"Unsigned"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '182'
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my.rcodezero.at/api/v1/zones/lexicon-test.at/rrsets?page_size=-1
  response:
    body:
      string: !!python/unicode '{"current_page":1,"data":[{"name":"localhost.lexicon-test.at.","type":"A","ttl":3600,"records":[{"content":"127.0.0.1","disabled":false}]},{"name":"random.fqdntest.lexicon-test.at.","type":"TXT","ttl":3600,"records":[{"content":"\"challengetoken\"","disabled":false}]},{"name":"random.fulltest.lexicon-test.at.","type":"TXT","ttl":3600,"records":[{"content":"\"challengetoken\"","disabled":false}]},{"name":"orig.nameonly.test.lexicon-test.at.","type":"TXT","ttl":3600,"records":[{"content":"\"updated\"","disabled":false}]},{"name":"random.test.lexicon-test.at.","type":"TXT","ttl":3600,"records":[{"content":"\"challengetoken\""[...]
- request:
    body: !!python/unicode '[{"records": [{"content": "docs.example.com.lexicon-test.at.",
      "disabled": false}], "changetype": "UPDATE", "type": "CNAME", "name": "docs.lexicon-test.at.",
      "ttl": 3600}]'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://my.rcodezero.at/api/v1/zones/lexicon-test.at/rrsets
  response:
    body:
      string: !!python/unicode '{"status":"ok","message":"RRsets updated"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '180'
    status:
      code: 200
      message: OK
version: 1
