interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://my.rcodezero.at/api/v1/zones/lexicon-test.at
  response:
    body:
      string: !!python/unicode '{"id":544219,"domain":"lexicon-test.at","type":"MASTER","masters":[""],"serial":2019093201,"created":"2019-09-30T12:57:51Z","last_check":null,"dnssec_status":"Unsigned","dnssec_status_detail":"Unsigned"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '200'
      x-ratelimit-remaining:
      - '187'
    status:
      code: 200
      message: OK
version: 1
