interactions:
- request:
    body: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=assertion_placeholder
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://www.googleapis.com/oauth2/v4/token
  response:
    body: {string: "{\n \"access_token\": \"access_token_placeholder\"\
        ,\n \"token_type\": \"Bearer\",\n \"expires_in\": 3600\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-type: [application/json]
    method: GET
    uri: https://content.googleapis.com/dns/v1/projects/named-archway-209418/managedZones
  response:
    body: {string: "{\n \"kind\": \"dns#managedZonesListResponse\",\n \"managedZones\"\
        : [\n  {\n   \"kind\": \"dns#managedZone\",\n   \"name\": \"fullm3tal-tk\"\
        ,\n   \"dnsName\": \"fullm3tal.tk.\",\n   \"description\": \"\",\n   \"id\"\
        : \"699036609868956548\",\n   \"nameServers\": [\n    \"ns-cloud-c1.googledomains.com.\"\
        ,\n    \"ns-cloud-c2.googledomains.com.\",\n    \"ns-cloud-c3.googledomains.com.\"\
        ,\n    \"ns-cloud-c4.googledomains.com.\"\n   ],\n   \"creationTime\": \"\
        2018-07-06T18:42:27.476Z\",\n   \"dnssecConfig\": {\n    \"kind\": \"dns#managedZoneDnsSecConfig\"\
        ,\n    \"state\": \"off\",\n    \"defaultKeySpecs\": [\n     {\n      \"kind\"\
        : \"dns#dnsKeySpec\",\n      \"keyType\": \"keySigning\",\n      \"algorithm\"\
        : \"rsasha256\",\n      \"keyLength\": 2048\n     },\n     {\n      \"kind\"\
        : \"dns#dnsKeySpec\",\n      \"keyType\": \"zoneSigning\",\n      \"algorithm\"\
        : \"rsasha256\",\n      \"keyLength\": 1024\n     }\n    ],\n    \"nonExistence\"\
        : \"nsec3\"\n   }\n  }\n ]\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-type: [application/json]
    method: GET
    uri: https://content.googleapis.com/dns/v1/projects/named-archway-209418/managedZones/699036609868956548/rrsets?type=TXT&name=random.fqdntest.fullm3tal.tk.
  response:
    body: {string: "{\n \"kind\": \"dns#resourceRecordSetsListResponse\",\n \"rrsets\"\
        : []\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: '{"additions": [{"name": "random.fqdntest.fullm3tal.tk.", "type": "TXT",
      "ttl": 3600, "rrdatas": ["\"challengetoken\""]}]}'
    headers:
      Content-type: [application/json]
    method: POST
    uri: https://content.googleapis.com/dns/v1/projects/named-archway-209418/managedZones/699036609868956548/changes
  response:
    body: {string: "{\n \"kind\": \"dns#change\",\n \"additions\": [\n  {\n   \"kind\"\
        : \"dns#resourceRecordSet\",\n   \"name\": \"random.fqdntest.fullm3tal.tk.\"\
        ,\n   \"type\": \"TXT\",\n   \"ttl\": 3600,\n   \"rrdatas\": [\n    \"\\\"\
        challengetoken\\\"\"\n   ]\n  }\n ],\n \"startTime\": \"2018-07-09T13:20:16.497Z\"\
        ,\n \"id\": \"237\",\n \"status\": \"pending\"\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-type: [application/json]
    method: GET
    uri: https://content.googleapis.com/dns/v1/projects/named-archway-209418/managedZones/699036609868956548/rrsets
  response:
    body: {string: "{\n \"kind\": \"dns#resourceRecordSetsListResponse\",\n \"rrsets\"\
        : [\n  {\n   \"kind\": \"dns#resourceRecordSet\",\n   \"name\": \"fullm3tal.tk.\"\
        ,\n   \"type\": \"NS\",\n   \"ttl\": 21600,\n   \"rrdatas\": [\n    \"ns-cloud-c1.googledom[...]
