interactions:
- request:
    body: !!python/unicode '{"auth": {"RAX-KSKEY:apiKeyCredentials": {"username":
      "foo", "apiKey": "bar"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access":{"token":{"expires":"2018-02-01T15:10:28.376Z","RAX-AUTH:issued":"2018-01-31T15:03:07.376Z","RAX-AUTH:authenticatedBy":["APIKEY"],"id":"placeholder_auth_token","tenant":{"name":"placeholder_auth_account","id":"placeholder_auth_account"}}}}'}
    headers:
      content-type: [application/json]

      x-node-id: [ord-05]
      x-tenant-id: ['placeholder_auth_account']
      x-trans-id: [eyJyZXF1ZXN0SWQiOiJhOGQ4YWQ4MS0xMWY4LTRiYmItOWEzYS1mNjM2OTdiZWMxZGIiLCJvcmlnaW4iOm51bGx9]
      x-xss-protection: [1; mode=block]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains?name=capsulecd.com
  response:
    body: {string: !!python/unicode '{"domains":[{"name":"capsulecd.com","id":1234567,"emailAddress":"hostmaster@capsulecd.com","updated":"2018-01-31T15:03:06.000+0000","created":"2017-09-21T21:02:56.000+0000"}],"totalEntries":1}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]

    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"records": [{"data": "challengetoken", "type": "TXT",
      "name": "orig.nameonly.test.capsulecd.com", "ttl": 3600}]}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: POST
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records
  response:
    body: {string: !!python/unicode '{"request":"{\"records\": [{\"data\": \"challengetoken\",
        \"type\": \"TXT\", \"name\": \"orig.nameonly.test.capsulecd.com\", \"ttl\":
        3600}]}","status":"RUNNING","verb":"POST","jobId":"27efbaf5-36ab-4948-bbae-eb59365c2725","callbackUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/status/27efbaf5-36ab-4948-bbae-eb59365c2725","requestUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records"}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]

    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/status/27efbaf5-36ab-4948-bbae-eb59365c2725?showDetails=true
  response:
    body: {string: !!python/unicode '[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records?data=updated&per_page=100&type=TXT&name=orig.nameonly.test.capsulecd.com
  response:
    body: {string: !!python/unicode '{"records":[{"name":"orig.nameonly.test.capsulecd.com","id":"TXT-1614076","type":"TXT","data":"challengetoken","ttl":3600,"updated":"2018-01-31T15:03:08.000+0000","created":"2018-01-31T15:03:08.000+0000"}]}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]

    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"data": "updated", "type": "TXT", "name": "orig.nameonly.test.capsulecd.com",
      "ttl": 3600}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: PUT
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records/TXT-1614076
  response:
    body: {string: !!python/unicode '[...]
{"request":"{\"data\": \"updated\", \"type\":
        \"TXT\", \"name\": \"orig.nameonly.test.capsulecd.com\", \"ttl\": 3600}","status":"COMPLETED","verb":"PUT","jobId":"6fe88212-747d-430a-acea-e98a1c126dc2","callbackUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/status/6fe88212-747d-430a-acea-e98a1c126dc2","requestUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records/TXT-1614076"}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]
    status: {code: 200, message: OK}
version: 1
