interactions:
- request:
    body: !!python/unicode '{"auth": {"RAX-KSKEY:apiKeyCredentials": {"username":
      "foo", "apiKey": "bar"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access":{"token":{"expires":"2018-02-01T14:55:10.439Z","RAX-AUTH:issued":"2018-01-31T15:03:02.440Z","RAX-AUTH:authenticatedBy":["APIKEY"],"id":"placeholder_auth_token","tenant":{"name":"placeholder_auth_account","id":"placeholder_auth_account"}}}}'}
    headers:
      content-type: [application/json]

      x-node-id: [ord-01]
      x-tenant-id: ['placeholder_auth_account']
      x-trans-id: [eyJyZXF1ZXN0SWQiOiI4YzY5Mjg1OC03YTk2LTQ3MWMtOWQ0ZC0xMTQxYWU1MjI1ZDgiLCJvcmlnaW4iOm51bGx9]
      x-xss-protection: [1; mode=block]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains?name=capsulecd.com
  response:
    body: {string: !!python/unicode '{"domains":[{"name":"capsulecd.com","id":1234567,"emailAddress":"hostmaster@capsulecd.com","updated":"2018-01-31T15:03:01.000+0000","created":"2017-09-21T21:02:56.000+0000"}],"totalEntries":1}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]

    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records?per_page=100
  response:
    body: {string: !!python/unicode '{"records":[{"name":"capsulecd.com","id":"A-21464626","type":"A","data":"192.168.1.1","ttl":300,"updated":"2017-09-22T20:19:19.000+0000","created":"2017-09-22T20:19:19.000+0000"},{"name":"localhost.capsulecd.com","id":"A-23093932","type":"A","data":"127.0.0.1","ttl":3600,"updated":"2018-01-31T15:02:26.000+0000","created":"2018-01-31T15:02:26.000+0000"},{"name":"capsulecd.com","id":"NS-13393507","type":"NS","data":"dns1.stabletransit.com","ttl":300,"updated":"2017-09-21T21:02:56.000+0000","created":"2017-09-21T21:02:56.000+0000"},{"name":"capsulecd.com","id":"NS-13393510","type":"NS","data":"dns2.stabletransit.com","ttl":300,"updated":"2017-09-21T21:02:56.000+0000","created":"2017-09-21T21:02:56.000+0000"},{"name":"capsulecd.com","id":"MX-6687355","priority":1,"type":"MX","data":"ASPMX.L.GOOGLE.COM","ttl":300,"updated":"2017-09-21T21:33:33.000+0000","created":"2017-09-21T21:33:33.000+0000"},{"name":"capsulecd.com","id":"MX-6687358","priority":5,"type":"MX","data":"ALT1.ASPMX.L.GOOGLE.COM","ttl":300,"updated":"2017-09-21T21:33:52.000+0000","created":"2017-09-21T21:33:52.000+0000"},{"name":"capsulecd.com","id":"MX-6687361","priority":5,"type":"MX","data":"ALT2.ASPMX.L.GOOGLE.COM","ttl":300,"updated":"2017-09-21T21:34:10.000+0000","created":"2017-09-21T21:34:10.000+0000"},{"name":"capsulecd.com","id":"MX-6687364","priority":10,"type":"MX","data":"ASPMX2.GOOGLEMAIL.COM","ttl":300,"updated":"2017-09-21T21:34:28.000+0000","created":"2017-09-21T21:34:28.000+0000"},{"name":"capsulecd.com","id":"MX-6687367","priority":10,"type":"MX","data":"ASPMX3.GOOGLEMAIL.COM","ttl":300,"updated":"2017-09-21T21:34:45.000+0000","created":"2017-09-21T21:34:45.000+0000"},{"name":"capsulecd.com","id":"TXT-1492876","type":"TXT","data":"google-site-verification=placeholder_google_site_key","ttl":300,"updated":"2017-09-21T21:21:01.000+0000","created":"2017-09-21T21:21:01.000+0000"},{"name":"capsulecd.com","id":"TXT-1492933","type":"TXT","data":"v=spf1
        include:_spf.google.com","ttl":300,"updated":"2017-09-22T04:32:25.000+0000","created":"2017-09-21T21:38:04.000+0000"},{"name":"_acme-challenge.fqdn.capsulecd.com","id":"TXT-1614040","type":"TXT","data":"challengetoken","ttl":3600,"updated":"2018-01-31T15:02:30.000+0000","created":"2018-01-31T15:02:30.000+0000"},{"name":"_acme-challenge.full.capsulecd.com","id":"TXT-1614043","type":"TXT","data":"challengetoken","ttl":3600,"updated":"2018-01-31T15:02:32.000+0000","created":"2018-01-31T15:02:32.000+0000"},[...]
