interactions:
- request:
    body: !!python/unicode '{"auth": {"RAX-KSKEY:apiKeyCredentials": {"username":
      "foo", "apiKey": "bar"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access":{"token":{"expires":"2018-02-01T15:06:42.350Z","RAX-AUTH:issued":"2018-01-31T15:02:29.350Z","RAX-AUTH:authenticatedBy":["APIKEY"],"id":"placeholder_auth_token","tenant":{"name":"placeholder_auth_account","id":"placeholder_auth_account"}}}}'}
    headers:
      content-type: [application/json]
      x-node-id: [ord-01]
      x-tenant-id: [placeholder_auth_account]
      x-trans-id: [eyJyZXF1ZXN0SWQiOiIxZWNlYWJiOC1lYzE5LTQzOTEtOTQxMi1kNjNiMzJlMGVkMWUiLCJvcmlnaW4iOm51bGx9]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains?name=capsulecd.com
  response:
    body: {string: !!python/unicode '{"domains":[{"name":"capsulecd.com","id":1234567,"emailAddress":"hostmaster@capsulecd.com","updated":"2018-01-31T15:02:28.000+0000","created":"2017-09-21T21:02:56.000+0000"}],"totalEntries":1}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"records": [{"data": "challengetoken", "type": "TXT",
      "name": "_acme-challenge.fqdn.capsulecd.com", "ttl": 3600}]}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: POST
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records
  response:
    body: {string: !!python/unicode '{"request":"{\"records\": [{\"data\": \"challengetoken\",
        \"type\": \"TXT\", \"name\": \"_acme-challenge.fqdn.capsulecd.com\", \"ttl\":
        3600}]}","status":"RUNNING","verb":"POST","jobId":"5f82fdfa-5942-47bc-8264-8f25371a5b95","callbackUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/status/5f82fdfa-5942-47bc-8264-8f25371a5b95","requestUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records"}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/status/5f82fdfa-5942-47bc-8264-8f25371a5b95?showDetails=true
  response:
    body: {string: !!python/unicode '{"request":"{\"records\": [{\"data\": \"challengetoken\",
        \"type\": \"TXT\", \"name\": \"_acme-challenge.fqdn.capsulecd.com\", \"ttl\":
        3600}]}","status":"COMPLETED","response":{"records":[{"name":"_acme-challenge.fqdn.capsulecd.com","id":"TXT-1614040","type":"TXT","data":"challengetoken","ttl":3600,"updated":"2018-01-31T15:02:30.000+0000","created":"2018-01-31T15:02:30.000+0000"}]},"verb":"POST","jobId":"5f82fdfa-5942-47bc-8264-8f25371a5b95","callbackUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/status/5f82fdfa-5942-47bc-8264-8f25371a5b95","requestUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records"}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]
    status: {code: 200, message: OK}
version: 1
