interactions:
- request:
    body: !!python/unicode '{"auth": {"RAX-KSKEY:apiKeyCredentials": {"username":
      "foo", "apiKey": "bar"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access":{"token":{"expires":"2018-02-01T15:03:15.271Z","RAX-AUTH:issued":"2018-01-31T15:02:55.271Z","RAX-AUTH:authenticatedBy":["APIKEY"],"id":"placeholder_auth_token","tenant":{"name":"placeholder_auth_account","id":"placeholder_auth_account"}}}}'}
    headers:
      content-type: [application/json]

      x-node-id: [ord-04]
      x-tenant-id: ['placeholder_auth_account']
      x-trans-id: [eyJyZXF1ZXN0SWQiOiIxYjQ4ZTFjMi04OGI1LTRhZjgtOTM2OS1hNGExZDYwNzk1OTMiLCJvcmlnaW4iOm51bGx9]
      x-xss-protection: [1; mode=block]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains?name=capsulecd.com
  response:
    body: {string: !!python/unicode '{"domains":[{"name":"capsulecd.com","id":1234567,"emailAddress":"hostmaster@capsulecd.com","updated":"2018-01-31T15:02:54.000+0000","created":"2017-09-21T21:02:56.000+0000"}],"totalEntries":1}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]

    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"records": [{"data": "challengetoken", "type": "TXT",
      "name": "random.fqdntest.capsulecd.com", "ttl": 3600}]}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: POST
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records
  response:
    body: {string: !!python/unicode '{"request":"{\"records\": [{\"data\": \"challengetoken\",
        \"type\": \"TXT\", \"name\": \"random.fqdntest.capsulecd.com\", \"ttl\": 3600}]}","status":"RUNNING","verb":"POST","jobId":"f4552878-a21c-4c37-9d6d-c195fc0a2a5e","callbackUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/status/f4552878-a21c-4c37-9d6d-c195fc0a2a5e","requestUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records"}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]

    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/status/f4552878-a21c-4c37-9d6d-c195fc0a2a5e?showDetails=true
  response:
    body: {string: !!python/unicode '[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records?per_page=100&type=TXT&name=random.fqdntest.capsulecd.com
  response:
    body: {string: !!python/unicode '{"records":[{"name":"random.fqdntest.capsulecd.com","id":"TXT-1614064","type":"TXT","data":"challengetoken","ttl":3600,"updated":"2018-01-31T15:02:56.000+0000","created":"2018-01-31T15:02:56.000+0000"}]}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]

    status: {code: 200, message: OK}
version: 1
