interactions:
- request:
    body: !!python/unicode '{"auth": {"RAX-KSKEY:apiKeyCredentials": {"username":
      "foo", "apiKey": "bar"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access":{"token":{"expires":"2018-02-01T15:11:11.590Z","RAX-AUTH:issued":"2018-01-31T15:02:39.590Z","RAX-AUTH:authenticatedBy":["APIKEY"],"id":"placeholder_auth_token","tenant":{"name":"placeholder_auth_account","id":"placeholder_auth_account"}}}}'}
    headers:
      content-type: [application/json]

      x-node-id: [ord-02]
      x-tenant-id: ['placeholder_auth_account']
      x-trans-id: [eyJyZXF1ZXN0SWQiOiIyZDVlNjJmOC00YWZlLTRkZmItYjI0NS00NGY4YTQ5NjVjM2QiLCJvcmlnaW4iOm51bGx9]
      x-xss-protection: [1; mode=block]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains?name=capsulecd.com
  response:
    body: {string: !!python/unicode '{"domains":[{"name":"capsulecd.com","id":1234567,"emailAddress":"hostmaster@capsulecd.com","updated":"2018-01-31T15:02:37.000+0000","created":"2017-09-21T21:02:56.000+0000"}],"totalEntries":1}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]

    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"records": [{"data": "challengetoken", "type": "TXT",
      "name": "delete.testfqdn.capsulecd.com", "ttl": 3600}]}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: POST
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records
  response:
    body: {string: !!python/unicode '{"request":"{\"records\": [{\"data\": \"challengetoken\",
        \"type\": \"TXT\", \"name\": \"delete.testfqdn.capsulecd.com\", \"ttl\": 3600}]}","status":"RUNNING","verb":"POST","jobId":"f0cc7afb-33fa-4e80-a7d6-36a6477173ff","callbackUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/status/f0cc7afb-33fa-4e80-a7d6-36a6477173ff","requestUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records"}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]

    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/status/f0cc7afb-33fa-4e80-a7d6-36a6477173ff?showDetails=true
  response:
    body: {string: !!python/unicode '[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records?content=challengetoken&per_page=100&type=TXT&name=delete.testfqdn.capsulecd.com
  response:
    body: {string: !!python/unicode '{"records":[{"name":"delete.testfqdn.capsulecd.com","id":"TXT-1614052","type":"TXT","data":"challengetoken","ttl":3600,"updated":"2018-01-31T15:02:40.000+0000","created":"2018-01-31T15:02:40.000+0000"}]}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]

    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: DELETE
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records/TXT-1614052
  response:
    body: {string: !!python/unicode '[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/1234567/records?per_page=100&type=TXT&name=delete.testfqdn.capsulecd.com
  response:
    body: {string: !!python/unicode '{"records":[]}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]
    status: {code: 200, message: OK}
version: 1
