interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access":{"serviceCatalog":[{"endpoints":[{"tenantId":"MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","region":"DFW"},{"tenantId":"MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","region":"ORD"},{"tenantId":"MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","region":"SYD"},{"tenantId":"MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","region":"IAD"},{"tenantId":"MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","region":"HKG"}],"name":"cloudFilesCDN","type":"rax:object-cdn"},{"endpoints":[{"tenantId":"MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","region":"DFW"},{"tenantId":"MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","region":"SYD"},{"tenantId":"MossoCloudFS_c7bd7f81-bf86-4957-8d40-c4d7f13affb2","publicURL[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains?name=capsulecd.com
  response:
    body: {string: !!python/unicode '{"domains":[{"name":"capsulecd.com","id":6156121,"emailAddress":"test@example.com","updated":"2018-03-26T20:43:57.000+0000","created":"2018-03-26T13:53:55.000+0000"}],"totalEntries":1}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"records": [{"type": "TXT", "data": "challengetoken",
      "name": "random.fqdntest.capsulecd.com", "ttl": 3600}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/6156121/records
  response:
    body: {string: !!python/unicode '{"request":"{\"records\": [{\"data\": \"challengetoken\",
        \"type\": \"TXT\", \"name\": \"random.fqdntest.capsulecd.com\", \"ttl\": 3600}]}","status":"RUNNING","verb":"POST","jobId":"3afbd5a6-1861-4343-b998-6603645e6d9a","callbackUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/status/3afbd5a6-1861-4343-b998-6603645e6d9a","requestUrl":"https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/6156121/records"}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/status/3afbd5a6-1861-4343-b998-6603645e6d9a?showDetails=true
  response:
    body: {string: !!python/unicode '[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains/6156121/records?per_page=100&type=TXT&name=random.fqdntest.capsulecd.com
  response:
    body: {string: !!python/unicode '{"records":[{"name":"random.fqdntest.capsulecd.com","id":"TXT-1685056","type":"TXT","data":"challengetoken","ttl":3600,"updated":"2018-03-26T20:44:00.000+0000","created":"2018-03-26T20:44:00.000+0000"}]}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]
    status: {code: 200, message: OK}
version: 1
