interactions:
- request:
    body: !!python/unicode '{"auth": {"RAX-KSKEY:apiKeyCredentials": {"username":
      "foo", "apiKey": "bar"}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
  response:
    body: {string: !!python/unicode '{"access":{"token":{"expires":"2018-02-01T15:13:03.818Z","RAX-AUTH:issued":"2018-01-31T15:02:24.818Z","RAX-AUTH:authenticatedBy":["APIKEY"],"id":"placeholder_auth_token","tenant":{"name":"placeholder_auth_account","id":"placeholder_auth_account"}}}}'}
    headers:
      content-type: [application/json]
      x-node-id: [ord-03]
      x-tenant-id: [placeholder_auth_account]
      x-trans-id: [eyJyZXF1ZXN0SWQiOiJmNzMyNTQ2Yi05MGVlLTQzMjktYjY3Mi0wMjlmY2E2M2Y3NzMiLCJvcmlnaW4iOm51bGx9]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Auth-Token: [!!python/unicode 'placeholder_auth_token']
    method: GET
    uri: https://dns.api.rackspacecloud.com/v1.0/placeholder_auth_account/domains?name=thisisadomainidonotown.com
  response:
    body: {string: !!python/unicode '{"domains":[],"totalEntries":0}'}
    headers:
      content-type: [application/json]
      x-api-version: [1.0.37]
    status: {code: 200, message: OK}
version: 1
