@reboot root env - `cat /etc/environment` /srv/dehydrated/dehydrated --cron --hook /srv/dehydrated/dehydrated.default.sh --challenge dns-01 >> /var/log/cron 2>&1
@monthly root env - `cat /etc/environment` /srv/dehydrated/dehydrated --cron --hook /srv/dehydrated/dehydrated.default.sh --challenge dns-01 >> /var/log/cron 2>&1
