interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/capsulecd.com
  response:
    body: {string: !!python/unicode '{"zone":{"id":170389,"name":"capsulecd.com","group":"Default
        Group","user-id":26963,"ttl":3600}}'}
    headers:
      content-type: [application/json]
      etag: ['"64759825f5fbcfb9ee3f1ac1c0819f88"']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"zone_record": {"record_type": "TXT", "data": "challengetoken", "name":
      "delete.testid"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pointhq.com/zones/170389/records
  response:
    body: {string: !!python/unicode '{"zone_record":{"name":"delete.testid.capsulecd.com.","data":"\"challengetoken\"","id":104418008,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}}'}
    headers:
      content-type: [application/json]
      etag: ['"20adbd935ca2cf38f494e15b95c14eb7"']
      status: [201 Created]
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/170389/records?record_type=TXT&name=delete.testid
  response:
    body: {string: !!python/unicode '[{"zone_record":{"name":"delete.testid.capsulecd.com.","data":"\"challengetoken\"","id":104418008,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}}]'}
    headers:
      content-type: [application/json]
      etag: ['"78f495ad2caaa4f492348ec9dabb650c"']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://pointhq.com/zones/170389/records/104418008
  response:
    body: {string: !!python/unicode '{"zone_record":{"status":"OK"}}'}
    headers:
      content-type: [application/json]
      status: [202 Accepted]
    status: {code: 202, message: Accepted}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/170389/records?record_type=TXT&name=delete.testid
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      etag: ['"d751713988987e9331980363e24189ce"']
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
