interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/capsulecd.com
  response:
    body: {string: !!python/unicode '{"zone":{"id":170389,"name":"capsulecd.com","group":"Default
        Group","user-id":26963,"ttl":3600}}'}
    headers:
      content-type: [application/json]
      etag: ['"64759825f5fbcfb9ee3f1ac1c0819f88"']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/170389/records?record_type=TXT&name=_acme-challenge.full
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      etag: ['"d751713988987e9331980363e24189ce"']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"zone_record": {"record_type": "TXT", "data": "challengetoken",
      "name": "_acme-challenge.full"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pointhq.com/zones/170389/records
  response:
    body: {string: !!python/unicode '{"zone_record":{"name":"_acme-challenge.full.capsulecd.com.","data":"\"challengetoken\"","id":1678594901,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}}'}
    headers:
      content-type: [application/json]
      etag: ['"2833c31f1eded268396e44191c02a5ae"']
      status: [201 Created]
    status: {code: 201, message: Created}
version: 1
