interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/capsulecd.com
  response:
    body: {string: !!python/unicode '{"zone":{"id":170389,"name":"capsulecd.com","group":"Default
        Group","user-id":26963,"ttl":3600}}'}
    headers:
      content-type: [application/json]
      etag: ['"64759825f5fbcfb9ee3f1ac1c0819f88"']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"zone_record": {"record_type": "A", "data": "127.0.0.1", "name": "localhost"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pointhq.com/zones/170389/records
  response:
    body: {string: !!python/unicode '{"zone_record":{"name":"localhost.capsulecd.com.","data":"127.0.0.1","id":104409911,"aux":null,"record_type":"A","ttl":3600,"zone_id":170389}}'}
    headers:
      content-type: [application/json]
      etag: ['"f162a9fcdc185311972c5bf22c12e0ae"']
      status: [201 Created]
    status: {code: 201, message: Created}
version: 1
