interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/capsulecd.com
  response:
    body: {string: !!python/unicode '{"zone":{"id":170389,"name":"capsulecd.com","group":"Default
        Group","user-id":26963,"ttl":3600}}'}
    headers:
      content-type: [application/json]
      etag: ['"64759825f5fbcfb9ee3f1ac1c0819f88"']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"zone_record": {"record_type": "TXT", "data": "challengetoken", "name":
      "delete.testfull"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pointhq.com/zones/170389/records
  response:
    body: {string: !!python/unicode '{"zone_record":{"name":"delete.testfull.capsulecd.com.","data":"\"challengetoken\"","id":104417982,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}}'}
    headers:
      content-type: [application/json]
      etag: ['"b722eac6ac369573b433904785c398d3"']
      status: [201 Created]
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/170389/records?record_type=TXT&data=challengetoken&name=delete.testfull
  response:
    body: {string: !!python/unicode '[{"zone_record":{"name":"delete.testfull.capsulecd.com.","data":"\"challengetoken\"","id":104417982,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}}]'}
    headers:
      content-type: [application/json]
      etag: ['"fbf599e0119d6b5901d8730554c0847c"']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://pointhq.com/zones/170389/records/104417982
  response:
    body: {string: !!python/unicode '{"zone_record":{"status":"OK"}}'}
    headers:
      content-type: [application/json]
      status: [202 Accepted]
    status: {code: 202, message: Accepted}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/170389/records?record_type=TXT&name=delete.testfull
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      etag: ['"d751713988987e9331980363e24189ce"']
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
