interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/capsulecd.com
  response:
    body: {string: !!python/unicode '{"zone":{"id":170389,"name":"capsulecd.com","group":"Default
        Group","user-id":26963,"ttl":3600}}'}
    headers:
      content-type: [application/json]
      etag: ['"64759825f5fbcfb9ee3f1ac1c0819f88"']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/170389/records
  response:
    body: {string: !!python/unicode '[{"zone_record":{"name":"random.fqdntest.capsulecd.com.","data":"\"challengetoken\"","id":104411031,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}},{"zone_record":{"name":"random.fulltest.capsulecd.com.","data":"\"challengetoken\"","id":104411045,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}},{"zone_record":{"name":"random.test.capsulecd.com.","data":"\"challengetoken\"","id":104411046,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}}]'}
    headers:
      content-type: [application/json]
      etag: ['"9e43311f8ed3b9d148e10b77b875ea1d"']
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
