interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/capsulecd.com
  response:
    body: {string: !!python/unicode '{"zone":{"id":170389,"name":"capsulecd.com","group":"Default
        Group","user-id":26963,"ttl":3600}}'}
    headers:
      content-type: [application/json]
      etag: ['"64759825f5fbcfb9ee3f1ac1c0819f88"']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/170389/records?record_type=TXT&name=_acme-challenge.createrecordset
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
      etag: ['"d751713988987e9331980363e24189ce"']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"zone_record": {"record_type": "TXT", "data": "challengetoken1",
      "name": "_acme-challenge.createrecordset"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pointhq.com/zones/170389/records
  response:
    body: {string: !!python/unicode '{"zone_record":{"name":"_acme-challenge.createrecordset.capsulecd.com.","data":"\"challengetoken1\"","id":1678594975,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}}'}
    headers:
      content-type: [application/json]
      etag: ['"e060056203be579623a59ae8c4d1de2a"']
      status: [201 Created]
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode '{"zone_record": {"record_type": "TXT", "data": "challengetoken2",
      "name": "_acme-challenge.createrecordset"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pointhq.com/zones/170389/records
  response:
    body: {string: !!python/unicode '{"zone_record":{"name":"_acme-challenge.createrecordset.capsulecd.com.","data":"\"challengetoken2\"","id":1678595008,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}}'}
    headers:
      content-type: [application/json]
      etag: ['"58bc661036aca27d53ceeca1ad25886f"']
      status: [201 Created]
    status: {code: 201, message: Created}
version: 1
