interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/capsulecd.com
  response:
    body: {string: !!python/unicode '{"zone":{"id":170389,"name":"capsulecd.com","group":"Default
        Group","user-id":26963,"ttl":3600}}'}
    headers:
      content-type: [application/json]
      etag: ['"64759825f5fbcfb9ee3f1ac1c0819f88"']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: '{"zone_record": {"record_type": "TXT", "data": "challengetoken", "name":
      "random.fqdntest"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://pointhq.com/zones/170389/records
  response:
    body: {string: !!python/unicode '{"zone_record":{"name":"random.fqdntest.capsulecd.com.","data":"\"challengetoken\"","id":104411031,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}}'}
    headers:
      content-type: [application/json]
      etag: ['"47e80e3bd2f438ef5fe9fc51f4cd4702"']
      status: [201 Created]
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/170389/records?record_type=TXT&name=random.fqdntest
  response:
    body: {string: !!python/unicode '[{"zone_record":{"name":"random.fqdntest.capsulecd.com.","data":"\"challengetoken\"","id":104411031,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}}]'}
    headers:
      content-type: [application/json]
      etag: ['"767ff12a46e8ea21cc78c01888466a8f"']
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
