interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/capsulecd.com
  response:
    body: {string: !!python/unicode '{"zone":{"id":170389,"name":"capsulecd.com","group":"Default
        Group","user-id":26963,"ttl":3600}}'}
    headers:
      content-type: [application/json]
      etag: ['"64759825f5fbcfb9ee3f1ac1c0819f88"']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://pointhq.com/zones/170389/records
  response:
    body: {string: !!python/unicode '[{"zone_record":{"name":"capsulecd.com.","data":"dns6.pointhq.com.","id":104410840,"aux":null,"record_type":"NS","ttl":3600,"zone_id":170389}},{"zone_record":{"name":"capsulecd.com.","data":"dns11.pointhq.com.","id":104410845,"aux":null,"record_type":"NS","ttl":3600,"zone_id":170389}},{"zone_record":{"name":"_acme-challenge.noop.capsulecd.com.","data":"\"challengetoken\"","id":1678605748,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}},{"zone_record":{"name":"_acme-challenge.deleterecordinset.capsulecd.com.","data":"\"challengetoken2\"","id":1678605754,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}},{"zone_record":{"name":"_acme-challenge.listrecordset.capsulecd.com.","data":"\"challengetoken1\"","id":1678605757,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}},{"zone_record":{"name":"_acme-challenge.listrecordset.capsulecd.com.","data":"\"challengetoken2\"","id":1678605758,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}},{"zone_record":{"name":"random.fqdntest.capsulecd.com.","data":"\"challengetoken\"","id":1678605759,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}},{"zone_record":{"name":"random.fulltest.capsulecd.com.","data":"\"challengetoken\"","id":1678605790,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}},{"zone_record":{"name":"random.test.capsulecd.com.","data":"\"challengetoken\"","id":1678606746,"aux":null,"record_type":"TXT","ttl":3600,"zone_id":170389}}]'}
    headers:
      content-type: [application/json]
      etag: ['"ea17b4ab7647213b74f9dd214f577209"']
      status: [200 OK]
    status: {code: 200, message: OK}
version: 1
