interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.infomaniak.com/1/product?service_name=domain&customer_name=testouille.at
  response:
    body:
      string: '{"result":"success","data":[{"id":890190,"account_id":1578,"service_id":14,"service_name":"domain","customer_name":"testouille.at","internal_name":null,"created_at":1540455848,"expired_at":1634680800,"version":1,"maintenance":false,"locked":false,"operation_in_progress":false,"tags":[],"unique_id":2787023,"description":"","is_free":false,"is_zero_price":false,"rights":{"technical":true}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.infomaniak.com/1/domain/890190/dns/record
  response:
    body:
      string: '{"result":"success","data":[{"id":"10041035","source":"localhost","source_idn":"localhost.testouille.at","type":"A","ttl":3600,"ttl_idn":"1
        h.","target_idn":"127.0.0.1","updated_at":1610096126,"dyndns_id":null,"priority":10,"target":"127.0.0.1"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "CNAME", "source": "docs", "target": "docs.example.com", "ttl":
      3600}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://api.infomaniak.com/1/domain/890190/dns/record
  response:
    body:
      string: '{"result":"success","data":"10041036"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
