interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.infomaniak.com/1/product?service_name=domain&customer_name=testouille.at
  response:
    body:
      string: '{"result":"success","data":[{"id":890190,"account_id":1578,"service_id":14,"service_name":"domain","customer_name":"testouille.at","internal_name":null,"created_at":1540455848,"expired_at":1634680800,"version":1,"maintenance":false,"locked":false,"operation_in_progress":false,"tags":[],"unique_id":2787023,"description":"","is_free":false,"is_zero_price":false,"rights":{"technical":true}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
