interactions:
  - request:
      body: "{}"
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://napi.arvancloud.ir/cdn/4.0/domains
    response:
      body:
        string:
          '{"data":[{"id":"0570750a-de45-4937-9612-b7d54c77bc10","user_id":"8f6b415c-0118-44c6-a358-86e3f05585c9","domain":"wkmag.ir","name":"wkmag.ir","plan_level":1,"ns_keys":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"smart_routing_status":"off","current_ns":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"status":"active","restriction":[],"type":"full","cname_target":null,"custom_cname":"","transfer":null,"fingerprint_status":false,"created_at":"2020-02-03T16:06:42+00:00","updated_at":"2023-09-17T17:33:30+00:00"},{"id":"1bdb811e-ff2d-4402-94a6-ffb657e55a56","user_id":"8f6b415c-0118-44c6-a358-86e3f05585c9","domain":"hatamiarash7.ir","name":"hatamiarash7.ir","plan_level":1,"ns_keys":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"smart_routing_status":"off","current_ns":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"status":"active","restriction":[],"type":"full","cname_target":null,"custom_cname":"","transfer":null,"fingerprint_status":false,"created_at":"2022-08-25T10:49:31+00:00","update[...]
  - request:
      body:
        '{"type": "TXT", "name": "delete.testfilt", "value": {"text": "challengetoken"},
        "ttl": 3600}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records
    response:
      body:
        string:
          '{"data":{"id":"9fb6d17a-f792-469e-ac43-9e92f4182587","type":"txt","name":"delete.testfilt","value":{"text":"challengetoken"},"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":false,"usage":[],"created_at":"2023-09-17T19:38:13+00:00","updated_at":"2023-09-17T19:38:13+00:00"},"message":"DNS
          record created successfully."}'
      headers:
        Content-Type:
          - application/json
        X-App-Version:
          - cdn-4.108.0
        X-SID:
          - "2060"
      status:
        code: 201
        message: Created
  - request:
      body: "{}"
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records?per_page=20&type=txt&search=delete.testfilt
    response:
      body:
        string:
          '{"data":[{"id":"9fb6d17a-f792-469e-ac43-9e92f4182587","type":"txt","name":"delete.testfilt","value":{"text":"challengetoken"},"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":false,"usage":[],"created_at":"2023-09-17T19:38:13+00:00","updated_at":"2023-09-17T19:38:13+00:00"}],"links":{"first":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","last":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
          Previous","active":false},{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","label":"1","active":true},{"url":null,"label":"Next
          &raquo;","active":false}],"path":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records","per_page":20,"to":1,"total":1}}'
      headers:
        Content-Type:
          - application/json
        X-App-Version:
          - cdn-4.108.0
        X-SID:
          - "2063"
      status:
        code: 200
        message: OK
  - request:
      body: "{}"
      headers:
        Content-Type:
          - application/json
      method: DELETE
      uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records/9fb6d17a-f792-469e-ac43-9e92f4182587
    response:
      body:
        string: '{"message":"DNS record deleted."}'
      headers:
        Content-Type:
          - application/json
        X-App-Version:
          - cdn-4.108.0
        X-SID:
          - "2060"
      status:
        code: 200
        message: OK
  - request:
      body: "{}"
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records?per_page=20&type=txt&search=delete.testfilt
    response:
      body:
        string:
          '{"data":[],"links":{"first":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","last":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":null,"last_page":1,"links":[{"url":null,"label":"&laquo;
          Previous","active":false},{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","label":"1","active":true},{"url":null,"label":"Next
          &raquo;","active":false}],"path":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records","per_page":20,"to":null,"total":0}}'
      headers:
        Content-Type:
          - application/json
        X-App-Version:
          - cdn-4.108.0
        X-SID:
          - "2062"
      status:
        code: 200
        message: OK
version: 1
