interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains
  response:
    body:
      string: '{"data":[{"id":"0570750a-de45-4937-9612-b7d54c77bc10","user_id":"8f6b415c-0118-44c6-a358-86e3f05585c9","domain":"wkmag.ir","name":"wkmag.ir","plan_level":1,"ns_keys":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"smart_routing_status":"off","current_ns":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"status":"active","restriction":[],"type":"full","cname_target":null,"custom_cname":"","transfer":null,"fingerprint_status":false,"created_at":"2020-02-03T16:06:42+00:00","updated_at":"2023-09-17T17:33:30+00:00"},{"id":"1bdb811e-ff2d-4402-94a6-ffb657e55a56","user_id":"8f6b415c-0118-44c6-a358-86e3f05585c9","domain":"hatamiarash7.ir","name":"hatamiarash7.ir","plan_level":1,"ns_keys":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"smart_routing_status":"off","current_ns":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"status":"active","restriction":[],"type":"full","cname_target":null,"custom_cname":"","transfer":null,"fingerprint_status":false,"created_at":"2022-08-25T10:49:31+00:00","update[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records?per_page=10
  response:
    body:
      string: '{"data":[{"id":"507ed174-66bf-45e1-88f7-6fc7c22511a3","type":"a","name":"localhost","value":[{"ip":"127.0.0.1","port":null,"weight":100,"country":""}],"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":false,"usage":[],"created_at":"2023-09-17T19:37:46+00:00","updated_at":"2023-09-17T19:37:46+00:00"},{"id":"f55dd991-24ea-4712-b8d7-149a72a2467e","type":"cname","name":"docs","value":{"host":"docs.example.com.","host_header":"source","port":-1},"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":false,"usage":[],"created_at":"2023-09-17T19:37:49+00:00","updated_at":"2023-09-17T19:37:49+00:00"},{"id":"5e85b67e-a0bb-4d00-bd3c-c2d66108f638","type":"ns","name":"@","value":{"host":"q.ns.arvancdn.ir."},"ttl":7200,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":true,"usage":[],"created_at":"2022-11-20T05:04:54+00:00","updated_at":"2022-11-20T05:04:54+00:00"},{"id":"b16272d0-11de-4f39-9d6d-099a0f293a68","type":"ns","name":"@","value":{"host":"m.ns.arvancdn.ir."},"ttl":7200,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":true,"usage":[],"created_at":"2022-11-20T05:04:54+00:00","updated_at":"2022-11-20T05:04:54+00:00"},{"id":"528a55eb-3d8e-4544-a21e-62776a56b928","type":"txt","name":"_acme-challenge.fqdn","value":{"text":"challengetoken"},"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":false,"usage":[],"created_at":"2023-09-17T19:37:50+00:00","updated_at":"2023-09-17T19:37:50+00:00"},{"id":"315a17ed-1271-4d54-b60a-5874222627ea","type":"txt","name":"_acme-challenge.full","value":{"text":"challengetoken"},"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"}[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records?per_page=10&page=2
  response:
    body:
      string: '{"data":[{"id":"b1d048c2-bf71-4d1a-93ac-f9df6f6c7f9e","type":"txt","name":"_acme-challenge.deleterecordinset","value":{"text":"challengetoken2"},"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records?per_page=10&page=3
  response:
    body:
      string: '{"data":[],"links":{"first":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","last":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=2","prev":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=2","next":null},"meta":{"current_page":3,"from":null,"last_page":2,"links":[{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=2","label":"&laquo;
        Previous","active":false},{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","label":"1","active":false},{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=2","label":"2","active":false},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records","per_page":10,"to":null,"total":17}}'
    headers:
      Content-Type:
      - application/json
      X-App-Version:
      - cdn-4.108.0
      X-Canary:
      - cdn
      X-SID:
      - '2060'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records?per_page=10&page=17
  response:
    body:
      string: '{"data":[],"links":{"first":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","last":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=2","prev":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=16","next":null},"meta":{"current_page":17,"from":null,"last_page":2,"links":[{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=16","label":"&laquo;
        Previous","active":false},{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","label":"1","active":false},{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=2","label":"2","active":false},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records","per_page":10,"to":null,"total":17}}'
    headers:
      Content-Type:
      - application/json
      X-App-Version:
      - cdn-4.108.0
      X-SID:
      - '2061'
    status:
      code: 200
      message: OK
version: 1
