interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir
  response:
    body:
      string: '{"data":{"id":"0570750a-de45-4937-9612-b7d54c77bc10","user_id":"8f6b415c-0118-44c6-a358-86e3f05585c9","domain":"wkmag.ir","name":"wkmag.ir","dns_cloud":true,"plan_level":1,"features":{"email_forwarding":false},"ns_keys":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"smart_routing_status":"off","email_forwarding_configured":false,"current_ns":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"status":"active","restriction":[],"type":"full","cname_target":null,"custom_cname":"","transfer":null,"fingerprint_status":false,"created_at":"2020-02-03T16:06:42+00:00","updated_at":"2024-05-28T07:05:41+00:00"},"message":""}'
    headers:
      Content-Type:
      - application/json
      X-App-Version:
      - cdn-4.126.4
      X-SID:
      - '2064'
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "TXT", "name": "_acme-challenge.deleterecordinset", "value": {"text":
      "challengetoken1"}, "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records
  response:
    body:
      string: '{"data":{"id":"a5aabbb5-3d43-4edb-908e-6a6b93ae71a9","type":"txt","name":"_acme-challenge.deleterecordinset","value":{"text":"challengetoken1"},"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":false,"usage":[],"created_at":"2024-05-28T07:29:03+00:00","updated_at":"2024-05-28T07:29:03+00:00"},"message":"DNS
        record created successfully."}'
    headers:
      Content-Type:
      - application/json
      X-App-Version:
      - cdn-4.126.4
      X-SID:
      - '2064'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records?per_page=20&type=txt&search=_acme-challenge.deleterecordinset
  response:
    body:
      string: '{"data":[{"id":"a5aabbb5-3d43-4edb-908e-6a6b93ae71a9","type":"txt","name":"_acme-challenge.deleterecordinset","value":{"text":"challengetoken1"},"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":false,"usage":[],"created_at":"2024-05-28T07:29:03+00:00","updated_at":"2024-05-28T07:29:03+00:00"},{"id":"eb92d289-3950-4a33-89ae-26107aa9a16f","type":"txt","name":"_acme-challenge.deleterecordinset","value":{"text":"challengetoken2"},"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":false,"usage":[],"created_at":"2024-05-28T07:29:06+00:00","updated_at":"2024-05-28T07:29:06+00:00"}],"links":{"first":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","last":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records","per_page":20,"to":2,"total":2}}'
    headers:
      Content-Type:
      - application/json
      X-App-Version:
      - cdn-4.126.4
      X-SID:
      - '2064'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records?per_page=20&type=txt&search=_acme-challenge.deleterecordinset&page=2
  response:
    body:
      string: '{"data":[],"links":{"first":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","last":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","prev":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","next":null},"meta":{"current_page":2,"from":null,"last_page":1,"links":[{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","label":"&laquo;
        Previous","active":false},{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","label":"1","active":false},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records","per_page":20,"to":null,"total":2}}'
    headers:
      Content-Type:
      - application/json
      X-App-Version:
      - cdn-4.126.4
      X-SID:
      - '2064'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records/a5aabbb5-3d43-4edb-908e-6a6b93ae71a9
  response:
    body:
      string: '{"message":"DNS record deleted."}'
    headers:
      Content-Type:
      - application/json
      X-App-Version:
      - cdn-4.126.4
      X-SID:
      - '2064'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records?per_page=20&type=txt&search=_acme-challenge.deleterecordinset
  response:
    body:
      string: '{"data":[{"id":"eb92d289-3950-4a33-89ae-26107aa9a16f","type":"txt","name":"_acme-challenge.deleterecordinset","value":{"text":"challengetoken2"},"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":false,"usage":[],"created_at":"2024-05-28T07:29:06+00:00","updated_at":"2024-05-28T07:29:06+00:00"}],"links":{"first":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","last":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records","per_page":20,"to":1,"total":1}}'
    headers:
      Content-Type:
      - application/json
      X-App-Version:
      - cdn-4.126.4
      X-SID:
      - '2064'
    status:
      code: 200
      message: OK
version: 1
