interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir
  response:
    body:
      string: '{"data":{"id":"0570750a-de45-4937-9612-b7d54c77bc10","user_id":"8f6b415c-0118-44c6-a358-86e3f05585c9","domain":"wkmag.ir","name":"wkmag.ir","dns_cloud":true,"plan_level":1,"features":{"email_forwarding":false},"ns_keys":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"smart_routing_status":"off","email_forwarding_configured":false,"current_ns":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"status":"active","restriction":[],"type":"full","cname_target":null,"custom_cname":"","transfer":null,"fingerprint_status":false,"created_at":"2020-02-03T16:06:42+00:00","updated_at":"2024-05-28T07:05:41+00:00"},"message":""}'
    headers:
      Content-Type:
      - application/json
      X-App-Version:
      - cdn-4.126.4
      X-SID:
      - '2064'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records?per_page=20
  response:
    body:
      string: '{"data":[{"id":"056b8e0b-98b7-4394-b175-4d00421f9f1e","type":"a","name":"localhost","value":[{"ip":"127.0.0.1","port":null,"weight":100,"country":""}],"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":false,"usage":[],"created_at":"2024-05-28T07:28:08+00:00","updated_at":"2024-05-28T07:28:08+00:00"},{"id":"e2c266f3-43d9-4b2a-83a0-816aa14c1f8b","type":"cname","name":"docs","value":{"host":"docs.example.com.","host_header":"source","port":-1},"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":false,"usage":[],"created_at":"2024-05-28T07:28:13+00:00","updated_at":"2024-05-28T07:28:13+00:00"},{"id":"5e85b67e-a0bb-4d00-bd3c-c2d66108f638","type":"ns","name":"@","value":{"host":"q.ns.arvancdn.ir."},"ttl":7200,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":true,"usage":[],"created_at":"2022-11-20T05:04:54+00:00","updated_at":"2022-11-20T05:04:54+00:00"},{"id":"b16272d0-11de-4f39-9d6d-099a0f293a68","type":"ns","name":"@","value":{"host":"m.ns.arvancdn.ir."},"ttl":7200,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":true,"usage":[],"created_at":"2022-11-20T05:04:54+00:00","updated_at":"2022-11-20T05:04:54+00:00"},{"id":"7eb7efd2-b15c-41fb-8eeb-31e804ec5a24","type":"txt","name":"_acme-challenge.fqdn","value":{"text":"challengetoken"},"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"},"is_protected":false,"usage":[],"created_at":"2024-05-28T07:28:14+00:00","updated_at":"2024-05-28T07:28:14+00:00"},{"id":"41d42914-49c0-48ed-9feb-69fe71debf96","type":"txt","name":"_acme-challenge.full","value":{"text":"challengetoken"},"ttl":3600,"cloud":false,"upstream_https":"default","ip_filter_mode":{"count":"single","order":"none","geo_filter":"none"}[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records?per_page=20&page=2
  response:
    body:
      string: '{"data":[],"links":{"first":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","last":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","prev":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","next":null},"meta":{"current_page":2,"from":null,"last_page":1,"links":[{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","label":"&laquo;
        Previous","active":false},{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","label":"1","active":false},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records","per_page":20,"to":null,"total":17}}'
    headers:
      Content-Type:
      - application/json
      X-App-Version:
      - cdn-4.126.4
      X-SID:
      - '2064'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records?per_page=20&page=8
  response:
    body:
      string: '{"data":[],"links":{"first":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","last":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","prev":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=7","next":null},"meta":{"current_page":8,"from":null,"last_page":1,"links":[{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=7","label":"&laquo;
        Previous","active":false},{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","label":"1","active":false},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records","per_page":20,"to":null,"total":17}}'
    headers:
      Content-Type:
      - application/json
      X-App-Version:
      - cdn-4.126.4
      X-Canary:
      - cdn
      X-SID:
      - '2064'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir/dns-records?per_page=20&page=17
  response:
    body:
      string: '{"data":[],"links":{"first":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","last":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","prev":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=16","next":null},"meta":{"current_page":17,"from":null,"last_page":1,"links":[{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=16","label":"&laquo;
        Previous","active":false},{"url":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records?page=1","label":"1","active":false},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/napi.arvancloud.ir\/4.0\/domains\/wkmag.ir\/dns-records","per_page":20,"to":null,"total":17}}'
    headers:
      Content-Type:
      - application/json
      X-App-Version:
      - cdn-4.126.4
      X-SID:
      - '2064'
    status:
      code: 200
      message: OK
version: 1
