interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://napi.arvancloud.ir/cdn/4.0/domains/wkmag.ir
  response:
    body:
      string: '{"data":{"id":"0570750a-de45-4937-9612-b7d54c77bc10","user_id":"8f6b415c-0118-44c6-a358-86e3f05585c9","domain":"wkmag.ir","name":"wkmag.ir","dns_cloud":true,"plan_level":1,"features":{"email_forwarding":false},"ns_keys":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"smart_routing_status":"off","email_forwarding_configured":false,"current_ns":["m.ns.arvancdn.ir","q.ns.arvancdn.ir"],"status":"active","restriction":[],"type":"full","cname_target":null,"custom_cname":"","transfer":null,"fingerprint_status":false,"created_at":"2020-02-03T16:06:42+00:00","updated_at":"2024-05-28T07:05:41+00:00"},"message":""}'
    headers:
      Content-Type:
      - application/json
      X-App-Version:
      - cdn-4.126.4
      X-SID:
      - '2064'
    status:
      code: 200
      message: OK
version: 1
