interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.online.net/api/v1/domain/capsulecd.com/version
  response:
    body: {string: !!python/unicode '[{"uuid_ref":"22e06ec0-f497-4885-81d3-65123fd5110b","name":"Zone
        Automatic Lexicon A","creation_date":"2018-08-17T09:27:40+02:00","domain":{"$ref":"\/api\/v1\/domain\/capsulecd.com"},"zone":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/version\/22e06ec0-f497-4885-81d3-65123fd5110b\/zone"},"active":true},{"uuid_ref":"63399517-91d2-476d-ae3e-3be26d93b4bc","name":"Zone
        Automatic Lexicon B","creation_date":"2018-08-17T09:27:46+02:00","domain":{"$ref":"\/api\/v1\/domain\/capsulecd.com"},"zone":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/version\/63399517-91d2-476d-ae3e-3be26d93b4bc\/zone"},"active":false},{"uuid_ref":"2136313e-6249-43fc-afb4-8b9e2dad8bf7","name":"Unicorn_DAdBVO9y","creation_date":"2018-08-16T16:25:53+02:00","domain":{"$ref":"\/api\/v1\/domain\/capsulecd.com"},"zone":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/version\/2136313e-6249-43fc-afb4-8b9e2dad8bf7\/zone"},"active":false}]'}
    headers:
      allow: ['GET, POST']
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.online.net/api/v1/domain/capsulecd.com/version/22e06ec0-f497-4885-81d3-65123fd5110b/zone
  response:
    body: {string: !!python/unicode '[{"id":3958691,"name":"www.capsulecd.com.","data":"127.0.0.1","type":"A","ttl":86400,"domain":{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/version"},"zone":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/zone"}}},{"id":3958692,"name":"localhost.capsulecd.com.","data":"127.0.0.1","type":"A","ttl":3600,"domain":{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/version"},"zone":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/zone"}}},{"id":3958693,"name":"docs.capsulecd.com.","data":"docs.example.com.capsulecd.com.","type":"CNAME",[...]
- request:
    body: !!python/unicode 'www.capsulecd.com. 86400 IN A 127.0.0.1

      localhost.capsulecd.com. 3600 IN A 127.0.0.1

      docs.capsulecd.com. 3600 IN CNAME docs.example.com.capsulecd.com.

      _acme-challenge.fqdn.capsulecd.com. 3600 IN TXT "challengetoken"

      _acme-challenge.full.capsulecd.com. 3600 IN TXT "challengetoken"

      _acme-challenge.test.capsulecd.com. 3600 IN TXT "challengetoken"

      _acme-challenge.createrecordset.capsulecd.com. 3600 IN TXT "challengetoken1"

      _acme-challenge.createrecordset.capsulecd.com. 3600 IN TXT "challengetoken2"

      _acme-challenge.noop.capsulecd.com. 3600 IN TXT "challengetoken"

      _acme-challenge.deleterecordinset.capsulecd.com. 3600 IN TXT "challengetoken2"

      ttl.fqdn.capsulecd.com. 3600 IN TXT "ttlshouldbe3600"

      _acme-challenge.listrecordset.capsulecd.com. 3600 IN TXT "challengetoken1"

      _acme-challenge.listrecordset.capsulecd.com. 3600 IN TXT "challengetoken2"

'
    headers:
      Content-Type: [text/plain]
    method: PUT
    uri: https://api.online.net/api/v1/domain/capsulecd.com/version/63399517-91d2-476d-ae3e-3be26d93b4bc/zone_from_bind
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: [PUT]
      content-type: [text/html; charset=UTF-8]
    status: {code: 204, message: No Content}
[...]
- request:
    body: !!python/unicode '{"priority": "", "data": "\"challengetoken\"", "type":
      "TXT", "name": "random.fqdntest.capsulecd.com.", "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.online.net/api/v1/domain/capsulecd.com/version/63399517-91d2-476d-ae3e-3be26d93b4bc/zone
  response:
    body: {string: !!python/unicode '{"id":3958730,"name":"random.fqdntest.capsulecd.com.","data":"\u0022challengetoken\u0022","type":"TXT","ttl":3600,"domain":{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/version"},"zone":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/zone"}}}'}
    headers:
      allow: ['GET, POST']
      content-type: [application/json]
      location: [/api/v1/domain/capsulecd.com/version/63399517-91d2-476d-ae3e-3be26d93b4bc/zone/3958730]
    status: {code: 302, message: Moved Temporarily}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.online.net/api/v1/domain/capsulecd.com/version/63399517-91d2-476d-ae3e-3be26d93b4bc/zone/3958730
  response:
    body: {string: !!python/unicode '{"id":3958730,"name":"random.fqdntest.capsulecd.com.","data":"\u0022challengetoken\u0022","type":"TXT","ttl":3600,"domain":{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/version"},"zone":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/zone"}}}'}
    headers:
      allow: ['DELETE, PATCH, GET']
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: PATCH
    uri: https://api.online.net/api/v1/domain/capsulecd.com/version/63399517-91d2-476d-ae3e-3be26d93b4bc/enable
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: [PATCH]
      content-type: [text/html; charset=UTF-8]
    status: {code: 204, message: No Content}
[...]
