interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.online.net/api/v1/domain/
  response:
    body: {string: !!python/unicode '[{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/223549\/version"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/zone"}}]'}
    headers:
      allow: [GET]
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.online.net/api/v1/domain/223549/version
  response:
    body: {string: !!python/unicode '[{"uuid_ref":"a5f1be65-1854-4b7c-86b9-7d84e3ed0130","name":"Zone
        Automatic Lexicon B","creation_date":"2018-06-22T00:39:05+02:00","domain":{"$ref":"\/api\/v1\/domain\/223549"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/version\/a5f1be65-1854-4b7c-86b9-7d84e3ed0130\/zone"},"active":true},{"uuid_ref":"9ec06ed7-1672-41e3-b05c-00d6295085d2","name":"Zone
        Automatic Lexicon A","creation_date":"2018-06-22T00:38:59+02:00","domain":{"$ref":"\/api\/v1\/domain\/223549"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/version\/9ec06ed7-1672-41e3-b05c-00d6295085d2\/zone"},"active":false},{"uuid_ref":"5ec71ab7-61f7-4939-bbda-2759bde55d5c","name":"NyanCat_YMTuca7H","creation_date":"2018-06-11T04:05:30+02:00","domain":{"$ref":"\/api\/v1\/domain\/223549"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/version\/5ec71ab7-61f7-4939-bbda-2759bde55d5c\/zone"},"active":false}]'}
    headers:
      allow: ['GET, POST']
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.online.net/api/v1/domain/223549/version/a5f1be65-1854-4b7c-86b9-7d84e3ed0130/zone
  response:
    body: {string: !!python/unicode '[{"id":3768357,"name":"capsulecd.com.","data":"62.210.16.23","type":"A","ttl":86400,"domain":{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/223549\/version"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/zone"}}},{"id":3768358,"name":"localhost.capsulecd.com.","data":"127.0.0.1","type":"A","ttl":3600,"domain":{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/223549\/version"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/zone"}}},{"id":3768359,"name":"docs.capsul[...]
- request:
    body: !!python/unicode 'capsulecd.com. 86400 IN A 62.210.16.23

      localhost.capsulecd.com. 3600 IN A 127.0.0.1

      docs.capsulecd.com. 3600 IN CNAME docs.example.com.capsulecd.com.

      _acme-challenge.fqdn.capsulecd.com. 3600 IN TXT "challengetoken"

      _acme-challenge.full.capsulecd.com. 3600 IN TXT "challengetoken"

      _acme-challenge.test.capsulecd.com. 3600 IN TXT "challengetoken"

      _acme-challenge.createrecordset.capsulecd.com. 3600 IN TXT "challengetoken1"

      _acme-challenge.createrecordset.capsulecd.com. 3600 IN TXT "challengetoken2"

      _acme-challenge.noop.capsulecd.com. 3600 IN TXT "challengetoken"

      _acme-challenge.deleterecordinset.capsulecd.com. 3600 IN TXT "challengetoken2"

      ttl.fqdn.capsulecd.com. 3600 IN TXT "ttlshouldbe3600"

      _acme-challenge.listrecordset.capsulecd.com. 3600 IN TXT "challengetoken1"

      _acme-challenge.listrecordset.capsulecd.com. 3600 IN TXT "challengetoken2"

      random.fqdntest.capsulecd.com. 3600 IN TXT "challengetoken"

      random.fulltest.capsulecd.com. 3600 IN TXT "challengetoken"

      random.test.capsulecd.com. 3600 IN TXT "challengetoken"

'
    headers:
      Content-Type: [text/plain]
    method: PUT
    uri: https://api.online.net/api/v1/domain/223549/version/9ec06ed7-1672-41e3-b05c-00d6295085d2/zone_from_bind
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: [PUT]
      content-type: [text/html; charset=UTF-8]
    status: {code: 204, message: No Content}
[...]
- request:
    body: !!python/unicode '{"priority": "", "data": "\"challengetoken\"", "type":
      "TXT", "name": "orig.test.capsulecd.com.", "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.online.net/api/v1/domain/223549/version/9ec06ed7-1672-41e3-b05c-00d6295085d2/zone
  response:
    body: {string: !!python/unicode '{"id":3768421,"name":"orig.test.capsulecd.com.","data":"\u0022challengetoken\u0022","type":"TXT","ttl":3600,"domain":{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/223549\/version"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/zone"}}}'}
    headers:
      allow: ['GET, POST']
      content-type: [application/json]
      location: [/api/v1/domain/223549/version/9ec06ed7-1672-41e3-b05c-00d6295085d2/zone/3768421]
    status: {code: 302, message: Moved Temporarily}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.online.net/api/v1/domain/223549/version/9ec06ed7-1672-41e3-b05c-00d6295085d2/zone/3768421
  response:
    body: {string: !!python/unicode '{"id":3768421,"name":"orig.test.capsulecd.com.","data":"\u0022challengetoken\u0022","type":"TXT","ttl":3600,"domain":{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/223549\/version"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/zone"}}}'}
    headers:
      allow: ['DELETE, PATCH, GET']
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: PATCH
    uri: https://api.online.net/api/v1/domain/223549/version/9ec06ed7-1672-41e3-b05c-00d6295085d2/enable
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: [PATCH]
      content-type: [text/html; charset=UTF-8]
    status: {code: 204, message: No Content}
[...]
