interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.online.net/api/v1/domain/
  response:
    body: {string: !!python/unicode '[{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/223549\/version"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/zone"}}]'}
    headers:
      allow: [GET]
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.online.net/api/v1/domain/223549/version
  response:
    body: {string: !!python/unicode '[{"uuid_ref":"5ec71ab7-61f7-4939-bbda-2759bde55d5c","name":"NyanCat_YMTuca7H","creation_date":"2018-06-11T04:05:30+02:00","domain":{"$ref":"\/api\/v1\/domain\/223549"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/version\/5ec71ab7-61f7-4939-bbda-2759bde55d5c\/zone"},"active":true},{"uuid_ref":"9ec06ed7-1672-41e3-b05c-00d6295085d2","name":"Zone
        Automatic Lexicon A","creation_date":"2018-06-22T00:38:59+02:00","domain":{"$ref":"\/api\/v1\/domain\/223549"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/version\/9ec06ed7-1672-41e3-b05c-00d6295085d2\/zone"},"active":false}]'}
    headers:
      allow: ['GET, POST']
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.online.net/api/v1/domain/223549/version/5ec71ab7-61f7-4939-bbda-2759bde55d5c/zone
  response:
    body: {string: !!python/unicode '[{"id":3767966,"name":"capsulecd.com.","data":"62.210.16.23","type":"A","ttl":86400,"domain":{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/223549\/version"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/zone"}}}]'}
    headers:
      allow: ['GET, POST']
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'capsulecd.com. 86400 IN A 62.210.16.23

'
    headers:
      Content-Type: [text/plain]
    method: PUT
    uri: https://api.online.net/api/v1/domain/223549/version/9ec06ed7-1672-41e3-b05c-00d6295085d2/zone_from_bind
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: [PUT]
      content-type: [text/html; charset=UTF-8]
    status: {code: 204, message: No Content}
[...]
- request:
    body: !!python/unicode '{"priority": "", "data": "127.0.0.1", "type": "A", "name":
      "localhost.capsulecd.com.", "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.online.net/api/v1/domain/223549/version/9ec06ed7-1672-41e3-b05c-00d6295085d2/zone
  response:
    body: {string: !!python/unicode '{"id":3767970,"name":"localhost.capsulecd.com.","data":"127.0.0.1","type":"A","ttl":3600,"domain":{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/223549\/version"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/zone"}}}'}
    headers:
      allow: ['GET, POST']
      content-type: [application/json]
      location: [/api/v1/domain/223549/version/9ec06ed7-1672-41e3-b05c-00d6295085d2/zone/3767970]
    status: {code: 302, message: Moved Temporarily}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.online.net/api/v1/domain/223549/version/9ec06ed7-1672-41e3-b05c-00d6295085d2/zone/3767970
  response:
    body: {string: !!python/unicode '{"id":3767970,"name":"localhost.capsulecd.com.","data":"127.0.0.1","type":"A","ttl":3600,"domain":{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/223549\/version"},"zone":{"$ref":"\/api\/v1\/domain\/223549\/zone"}}}'}
    headers:
      allow: ['DELETE, PATCH, GET']
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: PATCH
    uri: https://api.online.net/api/v1/domain/223549/version/9ec06ed7-1672-41e3-b05c-00d6295085d2/enable
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: [PATCH]
      content-type: [text/html; charset=UTF-8]
    status: {code: 204, message: No Content}
[...]
- request:
    body: !!python/unicode 'capsulecd.com. 86400 IN A 62.210.16.23

      localhost.capsulecd.com. 3600 IN A 127.0.0.1

'
    headers:
      Content-Type: [text/plain]
    method: PUT
    uri: https://api.online.net/api/v1/domain/223549/version/5ec71ab7-61f7-4939-bbda-2759bde55d5c/zone_from_bind
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: [PUT]
      content-type: [text/html; charset=UTF-8]
    status: {code: 204, message: No Content}
version: 1
