interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.online.net/api/v1/domain/capsulecd.com/version
  response:
    body: {string: !!python/unicode '[{"uuid_ref":"2136313e-6249-43fc-afb4-8b9e2dad8bf7","name":"Unicorn_DAdBVO9y","creation_date":"2018-08-16T16:25:53+02:00","domain":{"$ref":"\/api\/v1\/domain\/capsulecd.com"},"zone":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/version\/2136313e-6249-43fc-afb4-8b9e2dad8bf7\/zone"},"active":true}]'}
    headers:
      allow: ['GET, POST']
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"name": "Zone Automatic Lexicon A"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.online.net/api/v1/domain/capsulecd.com/version
  response:
    body: {string: !!python/unicode '{"uuid_ref":"22e06ec0-f497-4885-81d3-65123fd5110b","name":"Zone
        Automatic Lexicon A","creation_date":"2018-08-17T09:27:40+02:00","domain":{"$ref":"\/api\/v1\/domain\/capsulecd.com"},"zone":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/version\/22e06ec0-f497-4885-81d3-65123fd5110b\/zone"},"active":false}'}
    headers:
      allow: ['GET, POST']
      content-type: [application/json]
      location: [/api/v1/domain/capsulecd.com/version/22e06ec0-f497-4885-81d3-65123fd5110b]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.online.net/api/v1/domain/capsulecd.com/version/2136313e-6249-43fc-afb4-8b9e2dad8bf7/zone
  response:
    body: {string: !!python/unicode '[{"id":3957877,"name":"www.capsulecd.com.","data":"127.0.0.1","type":"A","ttl":86400,"domain":{"id":223549,"name":"capsulecd.com","dnssec":false,"external":false,"versions":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/version"},"zone":{"$ref":"\/api\/v1\/domain\/capsulecd.com\/zone"}}}]'}
    headers:
      allow: ['GET, POST']
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode 'www.capsulecd.com. 86400 IN A 127.0.0.1

'
    headers:
      Content-Type: [text/plain]
    method: PUT
    uri: https://api.online.net/api/v1/domain/capsulecd.com/version/22e06ec0-f497-4885-81d3-65123fd5110b/zone_from_bind
  response:
    body: {string: !!python/unicode ''}
    headers:
      allow: [PUT]
      content-type: [text/html; charset=UTF-8]
    status: {code: 204, message: No Content}
version: 1
