interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://my.easyname.com/en/login
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>Login | easyname</title>
        \   <meta charset=\"utf-8\">\n    <link rel=\"preconnect\" href=\"https://static.easyname.com/\">\n
        \   <meta name=\"viewport\" content=\"width=device-width\">\n            <meta
        name=\"author\" content=\"easyname GmbH\">\n            <meta name=\"copyright\"
        content=\"easyname GmbH, Vienna, Austria\">\n            <meta name=\"page-topic\"
        content=\"Webhosting, Website, Hosting, Domain, Webspace, Homepage\">\n            <meta
        name=\"description\" content=\"Be successful - with fast, easy and r[...]
- request:
    body: '{"emailAddress": "mail", "password": "password"}'
    headers:
      X-CSRF-TOKEN:
      - a51ebffcb3cf011337b97f8aa6ca25a823dfb931925b2e9adc576f
    method: POST
    uri: https://my.easyname.com/en/authentication-api/login
  response:
    body:
      string: '{"twoFactorRequired":false,"userId":19832,"redirectUrl":"https:\/\/my.easyname.com\/en\/dashboard"}'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-CSRF-TOKEN:
      - a51ebffcb3cf011337b97f8aa6ca25a823dfb931925b2e9adc576f
    method: GET
    uri: https://my.easyname.com/domains/
  response:
    body:
      string: "        <!DOCTYPE html>\n        <html lang=\"en\" >\n        <head>\n
        \           <title>easyname - Webhosting, Website Builder und Domains</title>\n
        \           <meta charset=\"utf8\">\n            <meta name=\"viewport\" content=\"width=device-width\">\n
        \[...]
- request:
    body: null
    headers:
      X-CSRF-TOKEN:
      - a51ebffcb3cf011337b97f8aa6ca25a823dfb931925b2e9adc576f
    method: GET
    uri: https://my.easyname.com/en/domain/dns/index/domain/347533/
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /en/domain/dns/index/domain/347533
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      X-CSRF-TOKEN:
      - a51ebffcb3cf011337b97f8aa6ca25a823dfb931925b2e9adc576f
    method: GET
    uri: https://my.easyname.com/en/domain/dns/index/domain/347533
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>easyname -
        Webhosting, Website Builder und Domains</title>    <meta charset=\"utf-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width\">\n            <meta
        name=\"aut[...]
