interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://my.easyname.com/en/login
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>Login | easyname</title>
        \   <meta charset=\"utf8\">\n    <meta name=\"viewport\" content=\"user-scalable=no,
        width=device-width\">\n            <meta name=\"author\" content=\"easyname
        GmbH\">\n            <meta name=\"copyright\" content=\"easyname GmbH, Vienna,
        Austria\">\n            <meta name=\"page-topic\" content=\"Webhosting, Website,
        Hosting, Domain, Webspace, Homepage\">\n            <meta name=\"description\"
        content=\"Be successful - with fast, easy and reliable Web Hosting. Get in
        touch now. Build your own website with just a few clicks - no programming
        skill required! Top support. No hidden costs.\">\n            <meta name=\"keywords\"
        content=\"domain,domains,domainname,domainnames,webhosting,hosting,register
        domain,buy domain, purchase domain,register domains,buy domains,webhosting
        provider,webhostingprovider,domain provider,domainprovider\">\n            <meta
        name=\"verify-v1\" content=\"5uZuAYTzZj4dnqmL+KOHbjr6o4mbSAS6ZUjNoDIwNhA=\">\n
        \           <meta name=\"language\" content=\"en\">\n        \n    <link rel=\"alternate\"
        hreflang=\"en-US\" href=\"https://my.easyname.com/en/login\" />\n<link rel=\"alternate\"
        hreflang=\"de-AT\" href=\"https://my.easyname.at/de/anmelden\" />\n<link rel=\"alternate\"
        hreflang=\"de-DE\" href=\"https://my.easyname.de/de/anmelden\" />\n<link rel=\"alternate\"
        hreflang=\"fr-FR\" href=\"https://my.easyname.fr/fr/login\" />\n<link rel=\"alternate\"
        hreflang=\"it-IT\" href=\"https://my.easyname.it/it/login\" />\n<link rel=\"alterna[...]
- request:
    body: '{"emailAddress": "mail", "password": "password"}'
    headers:
      X-CSRF-TOKEN:
      - 9965bacefc811cd567d81c5694d7f6a3eb710e8746a75ac9688f2b
    method: POST
    uri: https://my.easyname.com/en/authentication-api/login
  response:
    body:
      string: '{"userId":13371,"redirectUrl":"https:\/\/my.easyname.com\/en\/dashboard"}'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-CSRF-TOKEN:
      - 9965bacefc811cd567d81c5694d7f6a3eb710e8746a75ac9688f2b
    method: GET
    uri: https://my.easyname.com/domains/
  response:
    body:
      string: "        <!DOCTYPE html>\n        <html lang=\"en\" >\n        <head>\n
        \           <title>easyname - Webhosting, Website Builder und Domains</title>\n
        \           <meta charset=\"utf8\">\n            <meta name=\"viewport\" content=\"user-scalable=no,
        width=d[...]
- request:
    body: null
    headers:
      X-CSRF-TOKEN:
      - 9965bacefc811cd567d81c5694d7f6a3eb710e8746a75ac9688f2b
    method: GET
    uri: https://my.easyname.com/en/domain/dns/index/domain/347533/
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - /en/domain/dns/index/domain/347533
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      X-CSRF-TOKEN:
      - 9965bacefc811cd567d81c5694d7f6a3eb710e8746a75ac9688f2b
    method: GET
    uri: https://my.easyname.com/en/domain/dns/index/domain/347533
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <title>easyname -
        Webhosting, Website Builder und Domains</title>    <meta charset=\"utf8\">\n
        \   <meta name=\"viewport\" content=\"user-scalable=no, width=device-width\">\n
        \           <meta name=\"author\" content=\"easyname GmbH\">\n            <meta
        name=\"copyright\" content=\"easyname GmbH, Vienna, Austria\">\n            <meta
        name=\"page-topic\" content=\"Webhosting, Website, Hosting, Domain, Webspace,
        Homepage\">\n            <meta name=\"description\" content=\"Be successful
        - with fast, easy and reliable Web Hosting. Get in touch now. Build your own
        website with just a few clicks - no programming skill required! Top support.
        No hidden costs.\">\n            <meta name=\"keywords\" content=\"domain,domains,domainname,domainnames,webhosting,hosting,register
        domain,buy domain, purchase domain,register domains,buy domains,webhosting
        provider,webhostingprovider,domain provider,domainprovider\">\n            <meta
        name=\"verify-v1\" content=\"5uZuAYTzZj4dnqmL+KOHbjr6o4mbSAS6ZUjNoDIwNhA=\">\n
        \           <meta name=\"language\" content=\"en\">\n        <script crossorigin=\"anonymous\"
        src=https://polyfill.io/v3/polyfill.js?features=Intl\"></script>\n    <link
        href=\"https://static.easyname.com/css/en_controlpanel.css?t=1602598148\"
        media=\"all\" rel=\"stylesheet\" type=\"text/css\" />\n<link href=\"https://use.typekit.net/pww6dwq.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\" />\n<link href=\"https://my.easyname.com/en/domain/dns/index/domain/347533\"
        rel=\"canonical\" />    <link href=\"https://st[...]
- request:
    body: id=&name=_acme-challenge.test&type=TXT&content=challengetoken&priority=10&ttl=3600
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-CSRF-TOKEN:
      - 9965bacefc811cd567d81c5694d7f6a3eb710e8746a75ac9688f2b
    method: POST
    uri: https://my.easyname.com/en/domain/dns/create/domain/347533
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://my.easyname.com/en/domain/dns/index/domain/347533
    status:
      code: 302
      message: Found
[...]
