interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.misaka.io/dns/zones/misaka-dns-test.stream/settings
  response:
    body:
      string: '{"id":1957,"name":"misaka-dns-test.stream","friendly_name":"misaka-dns-test.stream","comment":"","email":"support+dev.lexicon@misaka.io","expiry":604800,"nxdomain_ttl":180,"default_ttl":600,"refresh":3600,"retry":600,"serial":2020090427,"managed_soa":true,"managed_acme":false,"enabled":true,"dirty":false,"created":"2020-09-03T14:23:24.007624Z","modified":"2020-09-03T20:00:37.106810Z","owner":698}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Misaka-Debug:
      - r=us-east-1, i=10.233.130.179
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.misaka.io/dns/zones/misaka-dns-test.stream/recordsets/_acme-challenge.noop/TXT
  response:
    body:
      string: '{"name":"_acme-challenge.noop","type":"TXT","ttl":3600,"enabled":true,"protected":false,"alias":null,"records":[{"value":"challengetoken"}],"filters":[]}'
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Misaka-Debug:
      - r=us-east-1, i=10.233.132.132
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.misaka.io/dns/zones/misaka-dns-test.stream/recordsets?name=_acme-challenge.noop
  response:
    body:
      string: '{"count":19,"next":null,"previous":null,"results":[{"name":"@","type":"SOA","ttl":86400,"enabled":true,"protected":false,"alias":null,"records":[{"value":"a.m1ns.moe.
        support+dev.lexicon.misaka.io. 2020090427 3600 600 604800 180"}],"filters":[]},{"name":"@","type":"NS","ttl":86400,"enabled":true,"protected":false,"alias":null,"records":[{"value":"a.m1ns.moe"},{"value":"b.m1ns.uk"},{"value":"c.m1ns.us"},{"value":"d.m1ns.com"},{"value":"e.m1ns.net"},{"value":"f.m1ns.org"}],"filters":[]},{"name":"_acme-challenge.test","type":"TXT","ttl":36[...]
