interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.misaka.io/dns/zones/misaka-dns-test.stream/settings
  response:
    body:
      string: '{"id":1957,"name":"misaka-dns-test.stream","friendly_name":"misaka-dns-test.stream","comment":"","email":"support+dev.lexicon@misaka.io","expiry":604800,"nxdomain_ttl":180,"default_ttl":600,"refresh":3600,"retry":600,"serial":2020090427,"managed_soa":true,"managed_acme":false,"enabled":true,"dirty":false,"created":"2020-09-03T14:23:24.007624Z","modified":"2020-09-03T20:00:37.106810Z","owner":698}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Misaka-Debug:
      - r=us-east-1, i=10.233.131.233
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.misaka.io/dns/zones/misaka-dns-test.stream/recordsets/_acme-challenge.test/TXT
  response:
    body:
      string: '{"name":"_acme-challenge.test","type":"TXT","ttl":3600,"enabled":true,"protected":false,"alias":null,"records":[{"value":"challengetoken"}],"filters":[]}'
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Misaka-Debug:
      - r=us-east-1, i=10.233.132.132
    status:
      code: 200
      message: OK
version: 1
