interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/calv.tk
  response:
    body:
      string: !!python/unicode '{"data":{"name":"calv.tk","description":""},"meta":{}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/calv.tk/records
  response:
    body:
      string: !!python/unicode '{"data":[{"id":2070373,"name":"calv.tk","type":"SOA","content":"ns0.ukfast.net
        miff2000.gmail.com 2019060108 7200 3600 604800 86400","updated_at":"2019-06-01T09:53:36+00:00","ttl":86400,"priority":0},{"id":2070374,"name":"calv.tk","type":"NS","content":"ns0.ukfast.net","updated_at":"2019-06-01T09:53:35+00:00","ttl":86400,"priority":0},{"id":2070375,"name":"calv.tk","type":"NS","content":"ns1.ukfast.net","updated_at":"2019-06-01T09:53:35+00:00","ttl":86400,"priority":0},{"id":2070376,"name":"calv.tk","type":"A","content":"94.229.165.115","updated_at":"2019-06-01T09:53:36+00:00","ttl":86400,"priority":0},{"id":2070377,"name":"www.calv.tk","type":"A","content":"94.229.165.115","updated_at":"2019-06-01T09:53:36+00:00","ttl":86400,"priority":0},{"id":3452810,"name":"a.calv.tk","type":"A","content":"192.168.1.1","updated_at":"2019-06-01T09:53:36+00:00","ttl":86400,"priority":0},{"id":3452813,"name":"b.calv.tk","type":"A","content":"192.168.1.1","updated_at":"2019-06-01T09:53:36+00:00","ttl":86400,"priority":0},{"id":3452816,"name":"c.calv.tk","type":"A","content":"192.168.1.1","updated_at":"2019-06-01T09:53:35+00:00","ttl":86400,"priority":0},{"id":3452819,"name":"d.calv.tk","type":"A","content":"192.168.1.1","updated_at":"2019-06-01T09:53:35+00:00","ttl":86400,"priority":0},{"id":3452822,"name":"e.calv.tk","type":"A","content":"192.168.1.1","updated_at":"2019-06-01T09:53:35+00:00","ttl":86400,"priority":0}],"meta":{"pagination":{"total":50,"count":10,"per_page":10,"current_page":1,"total_pages":5,"links":{"next":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/calv.tk\/records?page=2","last":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/calv.tk\/records?page=5"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/calv.tk/records?page=2
  response:
    body:
      string: !!python/unicode '{"data":[{"id":3452825,"name":"f.calv.tk","type":"A","content":"192.168.1.1","updated_at":"2019-06-01T09:53:35+00:00","ttl":86400,"priority":0},{"id":3452828,"name":"g.calv.tk","type":"A","content":"192.168.1.1","updated_at":"2019-06-01T09:53:35+00:00","ttl"[...]
[...]
