interactions:
- request:
    body: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<packet>\n\
      \t<site>\n\t\t<get>\n\t\t\t<filter>\n\t\t\t\t<name>thisisadomainidonotown.com</name>\n\
      \t\t\t</filter>\n\t\t\t<dataset></dataset>\n\t\t</get>\n\t</site>\n</packet>"
    headers:
      Authorization: [Basic aW90LXBsYXlncm91bmQ6ZTd5X2ZCNzk=]
      Content-type: [text/xml]
      HTTP_PRETTY_PRINT: ['TRUE']
    method: POST
    uri: https://quasispace.de:8443/enterprise/control/agent.php
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <packet version=\"1.6.9.1\">\n  <site>\n    <get>\n      <result>\n      \
        \  <status>error</status>\n        <errcode>1013</errcode>\n        <errtext>Site\
        \ does not exist</errtext>\n        <filter-id>thisisadomainidonotown.com</filter-id>\n\
        \      </result>\n    </get>\n  </site>\n</packet>\n"}
    headers:
      content-type: [text/xml;charset=UTF-8]
      last-modified: ['Tue, 21 Aug 2018 08:30:33 GMT']
    status: {code: 200, message: OK}
version: 1
