interactions:
- request:
    body: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<packet>\n\
      \t<site>\n\t\t<get>\n\t\t\t<filter>\n\t\t\t\t<name>lexicon-test.com</name>\n\
      \t\t\t</filter>\n\t\t\t<dataset></dataset>\n\t\t</get>\n\t</site>\n</packet>"
    headers:
      Authorization: [Basic aW90LXBsYXlncm91bmQ6ZTd5X2ZCNzk=]
      Content-type: [text/xml]
      HTTP_PRETTY_PRINT: ['TRUE']
    method: POST
    uri: https://quasispace.de:8443/enterprise/control/agent.php
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <packet version=\"1.6.9.1\">\n  <site>\n    <get>\n      <result>\n      \
        \  <status>ok</status>\n        <filter-id>lexicon-test.com</filter-id>\n\
        \        <id>71</id>\n        <data/>\n      </result>\n    </get>\n  </site>\n\
        </packet>\n"}
    headers:
      content-type: [text/xml;charset=UTF-8]
      last-modified: ['Tue, 21 Aug 2018 08:30:52 GMT']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<packet>\n\
      \t<dns>\n\t\t<get_rec>\n\t\t\t<filter>\n\t\t\t\t<site-id>71</site-id>\n\t\t\t\
      </filter>\n\t\t</get_rec>\n\t</dns>\n</packet>"
    headers:
      Authorization: [Basic aW90LXBsYXlncm91bmQ6ZTd5X2ZCNzk=]
      Content-type: [text/xml]
      HTTP_PRETTY_PRINT: ['TRUE']
    method: POST
    uri: https://quasispace.de:8443/enterprise/control/agent.php
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <packet version=\"1.6.9.1\">\n  <dns>\n    <get_rec>\n      <result>\n   \
        \     <status>ok</status>\n        <id>4836</id>\n        <data>\n       \
        \   <site-id>71</site-id>\n          <type>A</type>\n          <host>ipv4.lexicon-test.com.</host>\n\
        \          <value>83.169.2.56</value>\n          <opt/>\n        </data>\n\
        \      </result>\n      <result>\n        <status>ok</status>\n        <id>4837</id>\n\
        \        <data>\n          <site-id>71</site-id>\n          <type>TXT</type>\n\
        \          <host>lexicon-test.com.</host>\n          <value>v=spf1 +a +mx\
        \ -all</value>\n          <opt/>\n        </data>\n      </result>\n     \
        \ <result>\n        <status>ok</status>\n        <id>4838</id>\n        <data>\n\
        \          <site-id>71</site-id>\n          <type>PTR</type>\n          <host>83.169.2.56</host>\n\
        \          <value>lexicon-test.com.</value>\n          <opt>24</opt>\n   \
        \     </data>\n      </result>\n      <result>\n        <status>ok</status>\n\
        \        <id>4839</id>\n        <data>\n          <site-id>71</site-id>\n\
        \          <type>CNAME</type>\n          <host>ftp.lexicon-test.com.</host>\n\
        \          <value>lexicon-test.com.</value>\n          <opt/>\n        </data>\n\
        \      </result>\n      <result>\n        <status>ok</status>\n        <id>4840</id>\n\
        \        <data>\n          <site-i[...]
[...]
