interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"results": 1, "pages": 1, "data": [{"domain":
        "lexicon-test.com", "master_ips": [], "type": "master", "ttl_sec": 0, "expire_sec":
        0, "status": "active", "retry_sec": 0, "axfr_ips": [], "group": "", "soa_email":
        "contact@lexicon.com", "id": 1065421, "refresh_sec": 0, "description": ""}],
        "page": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['87']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['398']
      x-ratelimit-reset: ['1525257822']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1065421/records
  response:
    body: {string: !!python/unicode '{"pages": 1, "page": 1, "data": [], "results":
        0}'}
    headers:
      content-type: [application/json]
      retry-after: ['89']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['398']
      x-ratelimit-reset: ['1525257826']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ttl_sec": 0, "type": "A", "name": "localhost", "target":
      "127.0.0.1"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.linode.com/v4/domains/1065421/records
  response:
    body: {string: !!python/unicode '{"priority": 0, "tag": null, "service": null,
        "id": 9295232, "weight": 0, "name": "localhost", "target": "127.0.0.1", "port":
        0, "type": "A", "ttl_sec": 0, "protocol": null}'}
    headers:
      content-type: [application/json]
      retry-after: ['113']
      x-accepted-oauth-scopes: ['domains:read_write']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['398']
      x-ratelimit-reset: ['1525257851']
    status: {code: 200, message: OK}
version: 1
