interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: '{"pages": 1, "results": 1, "data": [{"type": "master", "retry_sec":
        0, "id": 1067233, "master_ips": [], "expire_sec": 0, "description": "", "group":
        "", "ttl_sec": 0, "domain": "lexicon-test.com", "status": "active", "soa_email":
        "trinopoty@gmail.com", "refresh_sec": 0, "axfr_ips": []}], "page": 1}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['115']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['398']
      X-RateLimit-Reset: ['1525878251']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"page": 1, "results": 0, "pages": 1, "data": []}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['119']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['399']
      X-RateLimit-Reset: ['1525878256']
    status: {code: 200, message: OK}
- request:
    body: '{"name": "localhost", "type": "A", "target": "127.0.0.1", "ttl_sec": 0}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"type": "A", "priority": 0, "tag": null, "target": "127.0.0.1",
        "name": "localhost", "port": 0, "protocol": null, "weight": 0, "id": 9322060,
        "service": null, "ttl_sec": 0}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['114']
      X-Accepted-OAuth-Scopes: ['domains:read_write']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['398']
      X-RateLimit-Reset: ['1525878253']
    status: {code: 200, message: OK}
version: 1
