interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "thisisadomainidonotown.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: '{"page": 1, "results": 0, "pages": 1, "data": []}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['119']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['399']
      X-RateLimit-Reset: ['1525878253']
    status: {code: 200, message: OK}
version: 1
