interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "thisisadomainidonotown.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"data": [], "page": 1, "pages": 1, "results":
        0}'}
    headers:
      content-type: [application/json]
      retry-after: ['119']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['399']
      x-ratelimit-reset: ['1525257851']
    status: {code: 200, message: OK}
version: 1
