interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"results": 1, "pages": 1, "data": [{"domain":
        "lexicon-test.com", "master_ips": [], "type": "master", "ttl_sec": 0, "expire_sec":
        0, "status": "active", "retry_sec": 0, "axfr_ips": [], "group": "", "soa_email":
        "contact@lexicon.com", "id": 1065421, "refresh_sec": 0, "description": ""}],
        "page": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['19']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['391']
      x-ratelimit-reset: ['1525257828']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1065421/records
  response:
    body: {string: !!python/unicode '{"data": [{"priority": 0, "tag": null, "service":
        null, "id": 9295232, "weight": 0, "name": "localhost", "target": "127.0.0.1",
        "port": 0, "type": "A", "ttl_sec": 0, "protocol": null}, {"priority": 0, "tag":
        null, "service": null, "id": 9295233, "weight": 0, "name": "docs", "target":
        "docs.example.com", "port": 0, "type": "CNAME", "ttl_sec": 0, "protocol":
        null}, {"priority": 0, "tag": null, "service": null, "id": 9295234, "weight":
        0, "name": "_acme-challenge.fqdn", "target": "challengetoken", "port": 0,
        "type": "TXT", "ttl_sec": 0, "protocol": null}, {"priority": 0, "tag": null,
        "service": null, "id": 9295236, "weight":[...]
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.linode.com/v4/domains/1065421/records/9295246
  response:
    body: {string: !!python/unicode '{}'}
    headers:
      content-type: [application/json]
      retry-after: ['4']
      x-accepted-oauth-scopes: ['domains:read_write']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['387']
      x-ratelimit-reset: ['1525257822']
    status: {code: 200, message: OK}
[...]
