interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: '{"data": [{"master_ips": [], "axfr_ips": [], "id": 1067233, "group":
        "", "expire_sec": 0, "refresh_sec": 0, "soa_email": "trinopoty@gmail.com",
        "retry_sec": 0, "domain": "lexicon-test.com", "description": "", "type": "master",
        "ttl_sec": 0, "status": "active"}], "pages": 1, "results": 1, "page": 1}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['83']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['398']
      X-RateLimit-Reset: ['1525878289']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"pages": 1, "results": 8, "data": [{"type": "A", "target": "127.0.0.1",
        "ttl_sec": 0, "name": "localhost", "weight": 0, "id": 9322060, "tag": null,
        "protocol": null, "service": null, "port": 0, "priority": 0}, {"type": "CNAME",
        "target": "docs.example.com", "ttl_sec": 0, "name": "docs", "weight": 0, "id":
        9322061, "tag": null, "protocol": null, "service": null, "port": 0, "priority":
        0}, {"type": "TXT", "target": "challengetoken", "ttl_sec": 0, "name": "_acme-challenge.fqdn",
        "weight": 0, "id": 9322062, "tag": null, "protocol": null, "service": null,
        "port": 0, "priority": 0}, {"type": "TXT", "target": "challengetoken", "ttl_sec":
        0, "name": "_acme-[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.linode.com/v4/domains/1067233/records/9322072
  response:
    body: {string: '{}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['59']
      X-Accepted-OAuth-Scopes: ['domains:read_write']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['391']
      X-RateLimit-Reset: ['1525878271']
    status: {code: 200, message: OK}
[...]
