interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: '{"page": 1, "results": 1, "pages": 1, "data": [{"soa_email": "trinopoty@gmail.com",
        "retry_sec": 0, "description": "", "expire_sec": 0, "axfr_ips": [], "type":
        "master", "group": "", "id": 1067233, "status": "active", "domain": "lexicon-test.com",
        "master_ips": [], "ttl_sec": 0, "refresh_sec": 0}]}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['110']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['397']
      X-RateLimit-Reset: ['1525878377']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"pages": 1, "results": 13, "data": [{"type": "A", "target": "127.0.0.1",
        "ttl_sec": 0, "name": "localhost", "weight": 0, "id": 9322060, "tag": null,
        "protocol": null, "service": null, "port": 0, "priority": 0}, {"type": "CNAME",
        "target": "docs.example.com", "ttl_sec": 0, "name": "docs", "weight": 0, "id":
        9322061, "tag": null, "protocol": null, "service": null, "port": 0, "priority":
        0}, {"type": "TXT", "target": "challengetoken", "ttl_sec": 0, "name": "_acme-challenge.fqdn",
        "weight": 0, "id": 9322062, "tag": null, "protocol": null, "service": null,
        "port": 0, "priority": 0}, {"type": "TXT", "target": "challengetoken", "ttl_sec":
        0, "name": "_acme-[...]
[...]
