interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"pages": 1, "page": 1, "data": [{"description":
        "", "domain": "lexicon-test.com", "group": "", "soa_email": "trinopoty@gmail.com",
        "id": 1067233, "master_ips": [], "expire_sec": 0, "status": "active", "retry_sec":
        0, "type": "master", "refresh_sec": 0, "axfr_ips": [], "ttl_sec": 0}], "results":
        1}'}
    headers:
      content-type: [application/json]
      retry-after: ['30']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['393']
      x-ratelimit-reset: ['1527430019']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: !!python/unicode '{"pages": 1, "results": 12, "data": [{"ttl_sec":
        0, "type": "A", "tag": null, "id": 9701864, "priority": 0, "port": 0, "weight":
        0, "service": null, "name": "localhost", "protocol": null, "target": "127.0.0.1"},
        {"ttl_sec": 0, "type": "CNAME", "tag": null, "id": 9701865, "priority": 0,
        "port": 0, "weight": 0, "service": null, "name": "docs", "protocol": null,
        "target": "docs.example.com"}, {"ttl_sec": 0, "type": "TXT", "tag": null,
        "id": 9701866, "priority": 0, "port": 0, "weight": 0, "service": null, "name":
        "_acme-challenge.fqdn", "protocol": null, "target": "challengetoken"}, {"ttl_sec":
        0, "type": "TXT", "tag": null, "id": 9701867, "prio[...]
[...]
