interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: '{"pages": 1, "results": 1, "data": [{"type": "master", "retry_sec":
        0, "id": 1067233, "master_ips": [], "expire_sec": 0, "description": "", "group":
        "", "ttl_sec": 0, "domain": "lexicon-test.com", "status": "active", "soa_email":
        "trinopoty@gmail.com", "refresh_sec": 0, "axfr_ips": []}], "page": 1}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['118']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['399']
      X-RateLimit-Reset: ['1525882320']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"data": [], "pages": 1, "results": 0, "page": 1}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['119']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['399']
      X-RateLimit-Reset: ['1525882322']
    status: {code: 200, message: OK}
- request:
    body: '{"name": "updaterecord.ttl", "type": "TXT", "target": "ttl-test", "ttl_sec":
      0}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"type": "TXT", "target": "ttl-test", "ttl_sec": 0, "name": "updaterecord.ttl",
        "weight": 0, "id": 9322280, "tag": null, "protocol": null, "service": null,
        "port": 0, "priority": 0}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['115']
      X-Accepted-OAuth-Scopes: ['domains:read_write']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['398']
      X-RateLimit-Reset: ['1525882320']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"target": "ttl-test", "ttl_sec": 3600}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.linode.com/v4/domains/1067233/records/9322280
  response:
    body: {string: '{"type": "TXT", "target": "ttl-test", "ttl_sec": 3600, "name":
        "updaterecord.ttl", "weight": 0, "id": 9322280, "tag": null, "protocol": null,
        "service": null, "port": 0, "priority": 0}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['119']
      X-Accepted-OAuth-Scopes: ['domains:read_write']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['399']
      X-RateLimit-Reset: ['1525882326']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"pages": 1, "results": 1, "data": [{"type": "TXT", "target":
        "ttl-test", "ttl_sec": 3600, "name": "updaterecord.ttl", "weight": 0, "id":
        9322280, "tag": null, "protocol": null, "service": null, "port": 0, "priority":
        0}], "page": 1}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['111']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['397']
      X-RateLimit-Reset: ['1525882320']
    status: {code: 200, message: OK}
version: 1
