interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: '{"pages": 1, "results": 1, "data": [{"type": "master", "retry_sec":
        0, "id": 1067233, "master_ips": [], "expire_sec": 0, "description": "", "group":
        "", "ttl_sec": 0, "domain": "lexicon-test.com", "status": "active", "soa_email":
        "trinopoty@gmail.com", "refresh_sec": 0, "axfr_ips": []}], "page": 1}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['24']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['379']
      X-RateLimit-Reset: ['1525878251']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"data": [{"id": 9322060, "name": "localhost", "tag": null, "port":
        0, "priority": 0, "weight": 0, "target": "127.0.0.1", "type": "A", "service":
        null, "ttl_sec": 0, "protocol": null}, {"id": 9322061, "name": "docs", "tag":
        null, "port": 0, "priority": 0, "weight": 0, "target": "docs.example.com",
        "type": "CNAME", "service": null, "ttl_sec": 0, "protocol": null}, {"id":
        9322062, "name": "_acme-challenge.fqdn", "tag": null, "port": 0, "priority":
        0, "weight": 0, "target": "challengetoken", "type": "TXT", "service": null,
        "ttl_sec": 0, "protocol": null}, {"id": 9322063, "name": "_acme-challenge.full",
        "tag": null, "port": 0[...]
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.linode.com/v4/domains/1067233/records/9322075
  response:
    body: {string: '{}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['35']
      X-Accepted-OAuth-Scopes: ['domains:read_write']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['389']
      X-RateLimit-Reset: ['1525878271']
    status: {code: 200, message: OK}
[...]
