interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"data": [{"expire_sec": 0, "axfr_ips": [], "id":
        1065421, "domain": "lexicon-test.com", "description": "", "refresh_sec": 0,
        "soa_email": "contact@lexicon.com", "group": "", "retry_sec": 0, "status":
        "active", "type": "master", "ttl_sec": 0, "master_ips": []}], "page": 1, "pages":
        1, "results": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['111']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['397']
      x-ratelimit-reset: ['1525257851']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1065421/records
  response:
    body: {string: !!python/unicode '{"results": 1, "pages": 1, "data": [{"name":
        "localhost", "id": 9295232, "weight": 0, "service": null, "type": "A", "ttl_sec":
        0, "port": 0, "priority": 0, "target": "127.0.0.1", "protocol": null, "tag":
        null}], "page": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['81']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['397']
      x-ratelimit-reset: ['1525257822']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ttl_sec": 0, "type": "CNAME", "name": "docs", "target":
      "docs.example.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.linode.com/v4/domains/1065421/records
  response:
    body: {string: !!python/unicode '{"priority": 0, "tag": null, "service": null,
        "id": 9295233, "weight": 0, "name": "docs", "target": "docs.example.com",
        "port": 0, "type": "CNAME", "ttl_sec": 0, "protocol": null}'}
    headers:
      content-type: [application/json]
      retry-after: ['118']
      x-accepted-oauth-scopes: ['domains:read_write']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['399']
      x-ratelimit-reset: ['1525257861']
    status: {code: 200, message: OK}
version: 1
