interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"pages": 1, "results": 1, "data": [{"retry_sec":
        0, "ttl_sec": 0, "type": "master", "description": "", "status": "active",
        "group": "", "expire_sec": 0, "refresh_sec": 0, "id": 1067233, "master_ips":
        [], "domain": "lexicon-test.com", "soa_email": "trinopoty@gmail.com", "axfr_ips":
        []}], "page": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['8']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['393']
      x-ratelimit-reset: ['1527430013']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: !!python/unicode '{"page": 1, "pages": 1, "data": [{"type": "A",
        "id": 9701864, "ttl_sec": 0, "tag": null, "weight": 0, "target": "127.0.0.1",
        "protocol": null, "priority": 0, "service": null, "port": 0, "name": "localhost"},
        {"type": "CNAME", "id": 9701865, "ttl_sec": 0, "tag": null, "weight": 0, "target":
        "docs.example.com", "protocol": null, "priority": 0, "service": null, "port":
        0, "name": "docs"}, {"type": "TXT", "id": 9701866, "ttl_sec": 0, "tag": null,
        "weight": 0, "target": "challengetoken", "protocol": null, "priority": 0,
        "service": null, "port": 0, "name": "_acme-challenge.fqdn"}, {"type": "TXT",
        "id": 9701867, "ttl_sec": 0, "tag": null, "weig[...]
[...]
