interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"page": 1, "pages": 1, "data": [{"type": "master",
        "group": "", "soa_email": "trinopoty@gmail.com", "ttl_sec": 0, "refresh_sec":
        0, "description": "", "expire_sec": 0, "axfr_ips": [], "status": "active",
        "retry_sec": 0, "id": 1067233, "master_ips": [], "domain": "lexicon-test.com"}],
        "results": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['4']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['392']
      x-ratelimit-reset: ['1527429892']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: !!python/unicode '{"pages": 1, "results": 8, "data": [{"ttl_sec":
        0, "type": "A", "tag": null, "id": 9701864, "priority": 0, "port": 0, "weight":
        0, "service": null, "name": "localhost", "protocol": null, "target": "127.0.0.1"},
        {"ttl_sec": 0, "type": "CNAME", "tag": null, "id": 9701865, "priority": 0,
        "port": 0, "weight": 0, "service": null, "name": "docs", "protocol": null,
        "target": "docs.example.com"}, {"ttl_sec": 0, "type": "TXT", "tag": null,
        "id": 9701866, "priority": 0, "port": 0, "weight": 0, "service": null, "name":
        "_acme-challenge.fqdn", "protocol": null, "target": "challengetoken"}, {"ttl_sec":
        0, "type": "TXT", "tag": null, "id": 9701867, "prio[...]
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.linode.com/v4/domains/1067233/records/9701875
  response:
    body: {string: !!python/unicode '{}'}
    headers:
      content-type: [application/json]
      retry-after: ['119']
      x-accepted-oauth-scopes: ['domains:read_write']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['399']
      x-ratelimit-reset: ['1527430019']
    status: {code: 200, message: OK}
[...]
