interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"pages": 1, "results": 1, "data": [{"retry_sec":
        0, "ttl_sec": 0, "type": "master", "description": "", "status": "active",
        "group": "", "expire_sec": 0, "refresh_sec": 0, "id": 1067233, "master_ips":
        [], "domain": "lexicon-test.com", "soa_email": "trinopoty@gmail.com", "axfr_ips":
        []}], "page": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['68']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['394']
      x-ratelimit-reset: ['1527430116']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: !!python/unicode '{"pages": 1, "page": 1, "data": [{"name": "localhost",
        "target": "127.0.0.1", "id": 9701864, "weight": 0, "port": 0, "type": "A",
        "service": null, "tag": null, "protocol": null, "priority": 0, "ttl_sec":
        0}, {"name": "docs", "target": "docs.example.com", "id": 9701865, "weight":
        0, "port": 0, "type": "CNAME", "service": null, "tag": null, "protocol": null,
        "priority": 0, "ttl_sec": 0}, {"name": "_acme-challenge.fqdn", "target": "challengetoken",
        "id": 9701866, "weight": 0, "port": 0, "type": "TXT", "service": null, "tag":
        null, "protocol": null, "priority": 0, "ttl_sec": 0}, {"name": "_acme-challenge.full",
        "target": "challengetoken"[...]
[...]
- request:
    body: !!python/unicode '{"target": "challengetoken"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.linode.com/v4/domains/1067233/records/9701894
  response:
    body: {string: !!python/unicode '{"ttl_sec": 0, "type": "TXT", "tag": null, "id":
        9701894, "priority": 0, "port": 0, "weight": 0, "service": null, "name": "update.testfull",
        "protocol": null, "target": "challengetoken"}'}
    headers:
      content-type: [application/json]
      retry-after: ['94']
      x-accepted-oauth-scopes: ['domains:read_write']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['396']
      x-ratelimit-reset: ['1527430156']
    status: {code: 200, message: OK}
version: 1
