interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"page": 1, "pages": 1, "data": [{"type": "master",
        "group": "", "soa_email": "trinopoty@gmail.com", "ttl_sec": 0, "refresh_sec":
        0, "description": "", "expire_sec": 0, "axfr_ips": [], "status": "active",
        "retry_sec": 0, "id": 1067233, "master_ips": [], "domain": "lexicon-test.com"}],
        "results": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['73']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['396']
      x-ratelimit-reset: ['1527429860']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: !!python/unicode '{"page": 1, "pages": 1, "data": [{"type": "A",
        "id": 9701864, "ttl_sec": 0, "tag": null, "weight": 0, "target": "127.0.0.1",
        "protocol": null, "priority": 0, "service": null, "port": 0, "name": "localhost"},
        {"type": "CNAME", "id": 9701865, "ttl_sec": 0, "tag": null, "weight": 0, "target":
        "docs.example.com", "protocol": null, "priority": 0, "service": null, "port":
        0, "name": "docs"}], "results": 2}'}
    headers:
      content-type: [application/json]
      retry-after: ['103']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['396']
      x-ratelimit-reset: ['1527429892']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ttl_sec": 0, "type": "TXT", "name": "_acme-challenge.fqdn",
      "target": "challengetoken"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: !!python/unicode '{"ttl_sec": 0, "type": "TXT", "tag": null, "id":
        9701866, "priority": 0, "port": 0, "weight": 0, "service": null, "name": "_acme-challenge.fqdn",
        "protocol": null, "target": "challengetoken"}'}
    headers:
      content-type: [application/json]
      retry-after: ['79']
      x-accepted-oauth-scopes: ['domains:read_write']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['397']
      x-ratelimit-reset: ['1527429871']
    status: {code: 200, message: OK}
version: 1
