interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"pages": 1, "page": 1, "data": [{"soa_email":
        "contact@lexicon.com", "status": "active", "description": "", "refresh_sec":
        0, "id": 1065421, "retry_sec": 0, "type": "master", "domain": "lexicon-test.com",
        "ttl_sec": 0, "master_ips": [], "group": "", "axfr_ips": [], "expire_sec":
        0}], "results": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['38']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['392']
      x-ratelimit-reset: ['1525257829']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1065421/records
  response:
    body: {string: !!python/unicode '{"pages": 1, "page": 1, "data": [{"id": 9295232,
        "target": "127.0.0.1", "service": null, "protocol": null, "name": "localhost",
        "ttl_sec": 0, "priority": 0, "tag": null, "port": 0, "weight": 0, "type":
        "A"}, {"id": 9295233, "target": "docs.example.com", "service": null, "protocol":
        null, "name": "docs", "ttl_sec": 0, "priority": 0, "tag": null, "port": 0,
        "weight": 0, "type": "CNAME"}, {"id": 9295234, "target": "challengetoken",
        "service": null, "protocol": null, "name": "_acme-challenge.fqdn", "ttl_sec":
        0, "priority": 0, "tag": null, "port": 0, "weight": 0, "type": "TXT"}, {"id":
        9295236, "target": "challengetoken", "service": null,[...]
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.linode.com/v4/domains/1065421/records/9295243
  response:
    body: {string: !!python/unicode '{}'}
    headers:
      content-type: [application/json]
      retry-after: ['29']
      x-accepted-oauth-scopes: ['domains:read_write']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['390']
      x-ratelimit-reset: ['1525257826']
    status: {code: 200, message: OK}
[...]
