interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"pages": 1, "page": 1, "data": [{"soa_email":
        "contact@lexicon.com", "status": "active", "description": "", "refresh_sec":
        0, "id": 1065421, "retry_sec": 0, "type": "master", "domain": "lexicon-test.com",
        "ttl_sec": 0, "master_ips": [], "group": "", "axfr_ips": [], "expire_sec":
        0}], "results": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['98']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['398']
      x-ratelimit-reset: ['1525257829']
    status: {code: 200, message: OK}
version: 1
