interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"pages": 1, "results": 1, "data": [{"retry_sec":
        0, "ttl_sec": 0, "type": "master", "description": "", "status": "active",
        "group": "", "expire_sec": 0, "refresh_sec": 0, "id": 1067233, "master_ips":
        [], "domain": "lexicon-test.com", "soa_email": "trinopoty@gmail.com", "axfr_ips":
        []}], "page": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['43']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['396']
      x-ratelimit-reset: ['1527430013']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: !!python/unicode '{"pages": 1, "results": 11, "data": [{"ttl_sec":
        0, "type": "A", "tag": null, "id": 9701864, "priority": 0, "port": 0, "weight":
        0, "service": null, "name": "localhost", "protocol": null, "target": "127.0.0.1"},
        {"ttl_sec": 0, "type": "CNAME", "tag": null, "id": 9701865, "priority": 0,
        "port": 0, "weight": 0, "service": null, "name": "docs", "protocol": null,
        "target": "docs.example.com"}, {"ttl_sec": 0, "type": "TXT", "tag": null,
        "id": 9701866, "priority": 0, "port": 0, "weight": 0, "service": null, "name":
        "_acme-challenge.fqdn", "protocol": null, "target": "challengetoken"}, {"ttl_sec":
        0, "type": "TXT", "tag": null, "id": 9701867, "prio[...]
