interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: '{"data": [{"master_ips": [], "axfr_ips": [], "id": 1067233, "group":
        "", "expire_sec": 0, "refresh_sec": 0, "soa_email": "trinopoty@gmail.com",
        "retry_sec": 0, "domain": "lexicon-test.com", "description": "", "type": "master",
        "ttl_sec": 0, "status": "active"}], "pages": 1, "results": 1, "page": 1}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['119']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['399']
      X-RateLimit-Reset: ['1525882095']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"pages": 1, "results": 3, "data": [{"type": "TXT", "target":
        "ttl-test", "ttl_sec": 3600, "name": "updaterecord.ttl", "weight": 5, "id":
        9322249, "tag": null, "protocol": null, "service": null, "port": 80, "priority":
        10}, {"type": "TXT", "target": "ttl-test", "ttl_sec": 300, "name": "createrecord.ttl-invalid",
        "weight": 5, "id": 9322258, "tag": null, "protocol": null, "service": null,
        "port": 80, "priority": 10}, {"type": "TXT", "target": "ttl-test", "ttl_sec":
        300, "name": "updaterecord.ttl-invalid", "weight": 5, "id": 9322259, "tag":
        null, "protocol": null, "service": null, "port": 80, "priority": 10}], "page":
        1}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['119']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['399']
      X-RateLimit-Reset: ['1525882096']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"data": [{"id": 9322249, "name": "updaterecord.ttl", "tag": null,
        "port": 80, "priority": 10, "weight": 5, "target": "ttl-test", "type": "TXT",
        "service": null, "ttl_sec": 3600, "protocol": null}, {"id": 9322258, "name":
        "createrecord.ttl-invalid", "tag": null, "port": 80, "priority": 10, "weight":
        5, "target": "ttl-test", "type": "TXT", "service": null, "ttl_sec": 300, "protocol":
        null}, {"id": 9322259, "name": "updaterecord.ttl-invalid", "tag": null, "port":
        80, "priority": 10, "weight": 5, "target": "ttl-test", "type": "TXT", "service":
        null, "ttl_sec": 300, "protocol": null}, {"id": 9322262, "name": "createrecord.ttl",
        "tag": null, "port": 0, "priority": 0, "weight": 0, "target": "ttl-test",
        "type": "TXT", "service": null, "ttl_sec": 3600, "protocol": null}], "pages":
        1, "results": 4, "page": 1}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['119']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['399']
      X-RateLimit-Reset: ['1525882099']
    status: {code: 200, message: OK}
version: 1
