interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: '{"pages": 1, "results": 1, "data": [{"type": "master", "retry_sec":
        0, "id": 1067233, "master_ips": [], "expire_sec": 0, "description": "", "group":
        "", "ttl_sec": 0, "domain": "lexicon-test.com", "status": "active", "soa_email":
        "trinopoty@gmail.com", "refresh_sec": 0, "axfr_ips": []}], "page": 1}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['104']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['398']
      X-RateLimit-Reset: ['1525878395']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"pages": 1, "results": 16, "data": [{"type": "A", "target": "127.0.0.1",
        "ttl_sec": 0, "name": "localhost", "weight": 0, "id": 9322060, "tag": null,
        "protocol": null, "service": null, "port": 0, "priority": 0}, {"type": "CNAME",
        "target": "docs.example.com", "ttl_sec": 0, "name": "docs", "weight": 0, "id":
        9322061, "tag": null, "protocol": null, "service": null, "port": 0, "priority":
        0}, {"type": "TXT", "target": "challengetoken", "ttl_sec": 0, "name": "_acme-challenge.fqdn",
        "weight": 0, "id": 9322062, "tag": null, "protocol": null, "service": null,
        "port": 0, "priority": 0}, {"type": "TXT", "target": "challengetoken", "ttl_sec":
        0, "name": "_acme-[...]
[...]
- request:
    body: '{"name": "update.testfull", "type": "TXT", "target": "newtoken"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.linode.com/v4/domains/1067233/records/9322091
  response:
    body: {string: '{"type": "TXT", "target": "newtoken", "ttl_sec": 0, "name": "update.testfull",
        "weight": 0, "id": 9322091, "tag": null, "protocol": null, "service": null,
        "port": 0, "priority": 0}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['75']
      X-Accepted-OAuth-Scopes: ['domains:read_write']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['393']
      X-RateLimit-Reset: ['1525878373']
    status: {code: 200, message: OK}
version: 1
