interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"page": 1, "pages": 1, "data": [{"type": "master",
        "group": "", "soa_email": "trinopoty@gmail.com", "ttl_sec": 0, "refresh_sec":
        0, "description": "", "expire_sec": 0, "axfr_ips": [], "status": "active",
        "retry_sec": 0, "id": 1067233, "master_ips": [], "domain": "lexicon-test.com"}],
        "results": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['108']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['398']
      x-ratelimit-reset: ['1527430173']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: !!python/unicode '{"pages": 1, "page": 1, "data": [{"name": "localhost",
        "target": "127.0.0.1", "id": 9701864, "weight": 0, "port": 0, "type": "A",
        "service": null, "tag": null, "protocol": null, "priority": 0, "ttl_sec":
        0}, {"name": "docs", "target": "docs.example.com", "id": 9701865, "weight":
        0, "port": 0, "type": "CNAME", "service": null, "tag": null, "protocol": null,
        "priority": 0, "ttl_sec": 0}, {"name": "_acme-challenge.fqdn", "target": "challengetoken",
        "id": 9701866, "weight": 0, "port": 0, "type": "TXT", "service": null, "tag":
        null, "protocol": null, "priority": 0, "ttl_sec": 0}, {"name": "_acme-challenge.full",
        "target": "challengetoken"[...]
[...]
