interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"pages": 1, "page": 1, "data": [{"soa_email":
        "contact@lexicon.com", "status": "active", "description": "", "refresh_sec":
        0, "id": 1065421, "retry_sec": 0, "type": "master", "domain": "lexicon-test.com",
        "ttl_sec": 0, "master_ips": [], "group": "", "axfr_ips": [], "expire_sec":
        0}], "results": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['80']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['396']
      x-ratelimit-reset: ['1525257829']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1065421/records
  response:
    body: {string: !!python/unicode '{"results": 3, "pages": 1, "data": [{"name":
        "localhost", "id": 9295232, "weight": 0, "service": null, "type": "A", "ttl_sec":
        0, "port": 0, "priority": 0, "target": "127.0.0.1", "protocol": null, "tag":
        null}, {"name": "docs", "id": 9295233, "weight": 0, "service": null, "type":
        "CNAME", "ttl_sec": 0, "port": 0, "priority": 0, "target": "docs.example.com",
        "protocol": null, "tag": null}, {"name": "_acme-challenge.fqdn", "id": 9295234,
        "weight": 0, "service": null, "type": "TXT", "ttl_sec": 0, "port": 0, "priority":
        0, "target": "challengetoken", "protocol": null, "tag": null}], "page": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['78']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['398']
      x-ratelimit-reset: ['1525257828']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ttl_sec": 0, "type": "TXT", "name": "_acme-challenge.full",
      "target": "challengetoken"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.linode.com/v4/domains/1065421/records
  response:
    body: {string: !!python/unicode '{"id": 9295236, "target": "challengetoken", "service":
        null, "protocol": null, "name": "_acme-challenge.full", "ttl_sec": 0, "priority":
        0, "tag": null, "port": 0, "weight": 0, "type": "TXT"}'}
    headers:
      content-type: [application/json]
      retry-after: ['77']
      x-accepted-oauth-scopes: ['domains:read_write']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['395']
      x-ratelimit-reset: ['1525257829']
    status: {code: 200, message: OK}
version: 1
