interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: '{"data": [{"master_ips": [], "axfr_ips": [], "id": 1067233, "group":
        "", "expire_sec": 0, "refresh_sec": 0, "soa_email": "trinopoty@gmail.com",
        "retry_sec": 0, "domain": "lexicon-test.com", "description": "", "type": "master",
        "ttl_sec": 0, "status": "active"}], "pages": 1, "results": 1, "page": 1}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['119']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['399']
      X-RateLimit-Reset: ['1525878418']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"page": 1, "results": 17, "pages": 1, "data": [{"type": "A",
        "priority": 0, "tag": null, "target": "127.0.0.1", "name": "localhost", "port":
        0, "protocol": null, "weight": 0, "id": 9322060, "service": null, "ttl_sec":
        0}, {"type": "CNAME", "priority": 0, "tag": null, "target": "docs.example.com",
        "name": "docs", "port": 0, "protocol": null, "weight": 0, "id": 9322061, "service":
        null, "ttl_sec": 0}, {"type": "TXT", "priority": 0, "tag": null, "target":
        "challengetoken", "name": "_acme-challenge.fqdn", "port": 0, "protocol": null,
        "weight": 0, "id": 9322062, "service": null, "ttl_sec": 0}, {"type": "TXT",
        "priority": 0, "tag": null, "target": "c[...]
[...]
