interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"results": 1, "pages": 1, "data": [{"domain":
        "lexicon-test.com", "master_ips": [], "type": "master", "ttl_sec": 0, "expire_sec":
        0, "status": "active", "retry_sec": 0, "axfr_ips": [], "group": "", "soa_email":
        "contact@lexicon.com", "id": 1065421, "refresh_sec": 0, "description": ""}],
        "page": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['98']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['396']
      x-ratelimit-reset: ['1525257948']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1065421/records
  response:
    body: {string: !!python/unicode '{"pages": 1, "page": 1, "data": [{"id": 9295232,
        "target": "127.0.0.1", "service": null, "protocol": null, "name": "localhost",
        "ttl_sec": 0, "priority": 0, "tag": null, "port": 0, "weight": 0, "type":
        "A"}, {"id": 9295233, "target": "docs.example.com", "service": null, "protocol":
        null, "name": "docs", "ttl_sec": 0, "priority": 0, "tag": null, "port": 0,
        "weight": 0, "type": "CNAME"}, {"id": 9295234, "target": "challengetoken",
        "service": null, "protocol": null, "name": "_acme-challenge.fqdn", "ttl_sec":
        0, "priority": 0, "tag": null, "port": 0, "weight": 0, "type": "TXT"}, {"id":
        9295236, "target": "challengetoken", "service": null,[...]
[...]
