interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"pages": 1, "results": 1, "data": [{"retry_sec":
        0, "ttl_sec": 0, "type": "master", "description": "", "status": "active",
        "group": "", "expire_sec": 0, "refresh_sec": 0, "id": 1067233, "master_ips":
        [], "domain": "lexicon-test.com", "soa_email": "trinopoty@gmail.com", "axfr_ips":
        []}], "page": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['88']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['397']
      x-ratelimit-reset: ['1527429866']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: !!python/unicode '{"pages": 1, "page": 1, "data": [{"name": "localhost",
        "target": "127.0.0.1", "id": 9701864, "weight": 0, "port": 0, "type": "A",
        "service": null, "tag": null, "protocol": null, "priority": 0, "ttl_sec":
        0}], "results": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['105']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['398']
      x-ratelimit-reset: ['1527429886']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"ttl_sec": 0, "type": "CNAME", "name": "docs", "target":
      "docs.example.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: !!python/unicode '{"type": "CNAME", "id": 9701865, "ttl_sec": 0,
        "tag": null, "weight": 0, "target": "docs.example.com", "protocol": null,
        "priority": 0, "service": null, "port": 0, "name": "docs"}'}
    headers:
      content-type: [application/json]
      retry-after: ['108']
      x-accepted-oauth-scopes: ['domains:read_write']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['397']
      x-ratelimit-reset: ['1527429892']
    status: {code: 200, message: OK}
version: 1
