interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"data": [{"expire_sec": 0, "axfr_ips": [], "id":
        1065421, "domain": "lexicon-test.com", "description": "", "refresh_sec": 0,
        "soa_email": "contact@lexicon.com", "group": "", "retry_sec": 0, "status":
        "active", "type": "master", "ttl_sec": 0, "master_ips": []}], "page": 1, "pages":
        1, "results": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['114']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['398']
      x-ratelimit-reset: ['1525257982']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1065421/records
  response:
    body: {string: !!python/unicode '{"data": [{"priority": 0, "tag": null, "service":
        null, "id": 9295232, "weight": 0, "name": "localhost", "target": "127.0.0.1",
        "port": 0, "type": "A", "ttl_sec": 0, "protocol": null}, {"priority": 0, "tag":
        null, "service": null, "id": 9295233, "weight": 0, "name": "docs", "target":
        "docs.example.com", "port": 0, "type": "CNAME", "ttl_sec": 0, "protocol":
        null}, {"priority": 0, "tag": null, "service": null, "id": 9295234, "weight":
        0, "name": "_acme-challenge.fqdn", "target": "challengetoken", "port": 0,
        "type": "TXT", "ttl_sec": 0, "protocol": null}, {"priority": 0, "tag": null,
        "service": null, "id": 9295236, "weight":[...]
[...]
- request:
    body: !!python/unicode '{"type": "TXT", "name": "updated.test", "target": "challengetoken"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.linode.com/v4/domains/1065421/records/9295256
  response:
    body: {string: !!python/unicode '{"name": "updated.test", "id": 9295256, "weight":
        0, "service": null, "type": "TXT", "ttl_sec": 0, "port": 0, "priority": 0,
        "target": "challengetoken", "protocol": null, "tag": null}'}
    headers:
      content-type: [application/json]
      retry-after: ['86']
      x-accepted-oauth-scopes: ['domains:read_write']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['394']
      x-ratelimit-reset: ['1525257960']
    status: {code: 200, message: OK}
version: 1
