interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"pages": 1, "results": 1, "data": [{"retry_sec":
        0, "ttl_sec": 0, "type": "master", "description": "", "status": "active",
        "group": "", "expire_sec": 0, "refresh_sec": 0, "id": 1067233, "master_ips":
        [], "domain": "lexicon-test.com", "soa_email": "trinopoty@gmail.com", "axfr_ips":
        []}], "page": 1}'}
    headers:
      content-type: [application/json]
      retry-after: ['107']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['398']
      x-ratelimit-reset: ['1527429871']
    status: {code: 200, message: OK}
version: 1
