interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: '{"page": 1, "results": 1, "pages": 1, "data": [{"soa_email": "trinopoty@gmail.com",
        "retry_sec": 0, "description": "", "expire_sec": 0, "axfr_ips": [], "type":
        "master", "group": "", "id": 1067233, "status": "active", "domain": "lexicon-test.com",
        "master_ips": [], "ttl_sec": 0, "refresh_sec": 0}]}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['104']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['396']
      X-RateLimit-Reset: ['1525878253']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"page": 1, "results": 3, "pages": 1, "data": [{"type": "A", "priority":
        0, "tag": null, "target": "127.0.0.1", "name": "localhost", "port": 0, "protocol":
        null, "weight": 0, "id": 9322060, "service": null, "ttl_sec": 0}, {"type":
        "CNAME", "priority": 0, "tag": null, "target": "docs.example.com", "name":
        "docs", "port": 0, "protocol": null, "weight": 0, "id": 9322061, "service":
        null, "ttl_sec": 0}, {"type": "TXT", "priority": 0, "tag": null, "target":
        "challengetoken", "name": "_acme-challenge.fqdn", "port": 0, "protocol": null,
        "weight": 0, "id": 9322062, "service": null, "ttl_sec": 0}]}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['106']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['397']
      X-RateLimit-Reset: ['1525878256']
    status: {code: 200, message: OK}
- request:
    body: '{"name": "_acme-challenge.full", "type": "TXT", "target": "challengetoken",
      "ttl_sec": 0}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"id": 9322063, "name": "_acme-challenge.full", "tag": null, "port":
        0, "priority": 0, "weight": 0, "target": "challengetoken", "type": "TXT",
        "service": null, "ttl_sec": 0, "protocol": null}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['119']
      X-Accepted-OAuth-Scopes: ['domains:read_write']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['399']
      X-RateLimit-Reset: ['1525878271']
    status: {code: 200, message: OK}
version: 1
