interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: !!python/unicode '{"pages": 1, "page": 1, "data": [{"description":
        "", "domain": "lexicon-test.com", "group": "", "soa_email": "trinopoty@gmail.com",
        "id": 1067233, "master_ips": [], "expire_sec": 0, "status": "active", "retry_sec":
        0, "type": "master", "refresh_sec": 0, "axfr_ips": [], "ttl_sec": 0}], "results":
        1}'}
    headers:
      content-type: [application/json]
      retry-after: ['101']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['398']
      x-ratelimit-reset: ['1527429913']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: !!python/unicode '{"pages": 1, "page": 1, "data": [{"name": "localhost",
        "target": "127.0.0.1", "id": 9701864, "weight": 0, "port": 0, "type": "A",
        "service": null, "tag": null, "protocol": null, "priority": 0, "ttl_sec":
        0}, {"name": "docs", "target": "docs.example.com", "id": 9701865, "weight":
        0, "port": 0, "type": "CNAME", "service": null, "tag": null, "protocol": null,
        "priority": 0, "ttl_sec": 0}, {"name": "_acme-challenge.fqdn", "target": "challengetoken",
        "id": 9701866, "weight": 0, "port": 0, "type": "TXT", "service": null, "tag":
        null, "protocol": null, "priority": 0, "ttl_sec": 0}, {"name": "_acme-challenge.full",
        "target": "challengetoken", "id": 9701867, "weight": 0, "port": 0, "type":
        "TXT", "service": null, "tag": null, "protocol": null, "priority": 0, "ttl_sec":
        0}, {"name": "_acme-challenge.test", "target": "challengetoken", "id": 9701868,
        "weight": 0, "port": 0, "type": "TXT", "service": null, "tag": null, "protocol":
        null, "priority": 0, "ttl_sec": 0}], "results": 5}'}
    headers:
      content-type: [application/json]
      retry-after: ['98']
      x-accepted-oauth-scopes: ['domains:read_only']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['397']
      x-ratelimit-reset: ['1527429913']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"ttl_sec": 0, "type": "TXT", "name": "_acme-challenge.createrecordset",
      "target": "challengetoken2"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: !!python/unicode '{"name": "_acme-challenge.createrecordset", "target":
        "challengetoken2", "id": 9701870, "weight": 0, "port": 0, "type": "TXT", "service":
        null, "tag": null, "protocol": null, "priority": 0, "ttl_sec": 0}'}
    headers:
      content-type: [application/json]
      retry-after: ['90']
      x-accepted-oauth-scopes: ['domains:read_write']
      x-oauth-scopes: ['domains:read_write']
      x-ratelimit-limit: ['400']
      x-ratelimit-remaining: ['395']
      x-ratelimit-reset: ['1527429913']
    status: {code: 200, message: OK}
version: 1
