interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: '{"page": 1, "results": 1, "pages": 1, "data": [{"soa_email": "trinopoty@gmail.com",
        "retry_sec": 0, "description": "", "expire_sec": 0, "axfr_ips": [], "type":
        "master", "group": "", "id": 1067233, "status": "active", "domain": "lexicon-test.com",
        "master_ips": [], "ttl_sec": 0, "refresh_sec": 0}]}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['73']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['389']
      X-RateLimit-Reset: ['1525878377']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"data": [{"id": 9322060, "name": "localhost", "tag": null, "port":
        0, "priority": 0, "weight": 0, "target": "127.0.0.1", "type": "A", "service":
        null, "ttl_sec": 0, "protocol": null}, {"id": 9322061, "name": "docs", "tag":
        null, "port": 0, "priority": 0, "weight": 0, "target": "docs.example.com",
        "type": "CNAME", "service": null, "ttl_sec": 0, "protocol": null}, {"id":
        9322062, "name": "_acme-challenge.fqdn", "tag": null, "port": 0, "priority":
        0, "weight": 0, "target": "challengetoken", "type": "TXT", "service": null,
        "ttl_sec": 0, "protocol": null}, {"id": 9322063, "name": "_acme-challenge.full",
        "tag": null, "port": 0[...]
[...]
- request:
    body: '{"name": "_acme-challenge.updaterecordinsetbycontent", "type": "TXT", "target":
      "newtoken1"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.linode.com/v4/domains/1067233/records/9322092
  response:
    body: {string: '{"type": "TXT", "target": "newtoken1", "ttl_sec": 0, "name": "_acme-challenge.updaterecordinsetbycontent",
        "weight": 0, "id": 9322092, "tag": null, "protocol": null, "service": null,
        "port": 0, "priority": 0}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['60']
      X-Accepted-OAuth-Scopes: ['domains:read_write']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['392']
      X-RateLimit-Reset: ['1525878373']
    status: {code: 200, message: OK}
[...]
