interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      X-Filter: ['{"domain": "lexicon-test.com"}']
    method: GET
    uri: https://api.linode.com/v4/domains
  response:
    body: {string: '{"data": [{"master_ips": [], "axfr_ips": [], "id": 1067233, "group":
        "", "expire_sec": 0, "refresh_sec": 0, "soa_email": "trinopoty@gmail.com",
        "retry_sec": 0, "domain": "lexicon-test.com", "description": "", "type": "master",
        "ttl_sec": 0, "status": "active"}], "pages": 1, "results": 1, "page": 1}'}
    headers:
      Content-Type: [application/json]
      Retry-After: ['118']
      X-Accepted-OAuth-Scopes: ['domains:read_only']
      X-OAuth-Scopes: ['domains:read_write']
      X-RateLimit-Limit: ['400']
      X-RateLimit-Remaining: ['399']
      X-RateLimit-Reset: ['1525879233']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.linode.com/v4/domains/1067233/records
  response:
    body: {string: '{"data": [{"id": 9322060, "name": "localhost", "tag": null, "port":
        0, "priority": 0, "weight": 0, "target": "127.0.0.1", "type": "A", "service":
        null, "ttl_sec": 0, "protocol": null}, {"id": 9322061, "name": "docs", "tag":
        null, "port": 0, "priority": 0, "weight": 0, "target": "docs.example.com",
        "type": "CNAME", "service": null, "ttl_sec": 0, "protocol": null}, {"id":
        9322062, "name": "_acme-challenge.fqdn", "tag": null, "port": 0, "priority":
        0, "weight": 0, "target": "challengetoken", "type": "TXT", "service": null,
        "ttl_sec": 0, "protocol": null}, {"id": 9322063, "name": "_acme-challenge.full",
        "tag": null, "port": 0[...]
[...]
