interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://auth.mythic-beasts.com/login
  response:
    body:
      string: '{"access_token":".tBmx1mfIIIqdVpo","expires_in":300,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones
  response:
    body:
      string: '{"zones":["lexitus.co.uk"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"records": [{"host": "docs", "type": "CNAME", "data": "docs.example.com.lexitus.co.uk.",
      "ttl": 3600}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records
  response:
    body:
      string: '{"message":"1 records added","records_added":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
