interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://auth.mythic-beasts.com/login
  response:
    body:
      string:
        access_token: null
        expires_in: 300
        token_type: bearer
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones
  response:
    body:
      string:
        access_token: null
        zones:
        - lexitus.co.uk
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"records": [{"host": "random.fulltest", "type": "TXT", "data": "challengetoken",
      "ttl": 3600}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records
  response:
    body:
      string:
        access_token: null
        message: 1 records added
        records_added: 1
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records/random.fulltest/TXT?verify
  response:
    body:
      string:
        access_token: null
        errors:
        - Received 0 record(s), expected 1 from ns1.mythic-beasts.com.
        - Received 0 record(s), expected 1 from ns2.mythic-beasts.com.
    headers:
      Content-Type:
      - application/json
    status:
      code: 409
      message: Inconsistent
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records?type=TXT&host=random.fulltest
  response:
    body:
      string:
        access_token: null
        records:
        - data: challengetoken
          host: random.fulltest
          ttl: 3600
          type: TXT
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
