interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://auth.mythic-beasts.com/login
  response:
    body:
      string: '{"access_token": "DUMMY_TOKEN","expires_in":300,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones
  response:
    body:
      string: '{"zones":["lexitus.co.uk"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"records": [{"host": "orig.testfull", "type": "TXT", "data": "challengetoken",
      "ttl": 3600}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records
  response:
    body:
      string: '{"message":"1 records added","records_added":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records/orig.testfull/TXT?verify
  response:
    body:
      string: "{\n  \"errors\": [\n    \"Received 0 record(s), expected 1 from ns1.mythic-beasts.com.\",\n
        \   \"Received 0 record(s), expected 1 from ns2.mythic-beasts.com.\"\n  ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 409
      message: Inconsistent
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records?type=TXT&host=orig.testfull
  response:
    body:
      string: '{"records":[{"data":"challengetoken","host":"orig.testfull","ttl":3600,"type":"TXT"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records
  response:
    body:
      string: '{"records":[{"_template":true,"data":"46.235.227.111","host":"@","ttl":3600,"type":"A"},{"_template":true,"data":"2a00:1098:82::6:1","host":"@","ttl":3600,"type":"AAAA"},{"_template":true,"data":"46.235.227.111","host":"www","ttl":3600,"type":"A"},{"_template":true,"data":"2a00:1098:82::6:1","host":"www","ttl":3600,"type":"AAAA"},{"_template":true,"data":"ns1.mythic-beasts.com.","host":"@","ttl":86400,"type":"NS"},{"_template":true,"data":"ns2.mythic-beasts.com.","host":"@","ttl":86400,"type":"NS"},{"_template":true,"data":"mx.mythic-beasts.com.","host":"@","mx_priority":10,"ttl":3600,"type":"MX"},{"_template":true,"data":"caracal.autoconfig.mythic-beasts.com.","host":"_autodiscover._tcp","srv_port":443,"srv_priority":50,"srv_weight":10,"ttl":300,"type":"SRV"},{"data":"127.0.0.1","host":"localhost","ttl":3600,"type":"A"},{"data":"docs.example.com.lexitus.co.uk.","host":"docs","ttl":3600,"type":"CNAME"},{"data":"challengetoken","host":"_acme-challenge.fqdn","ttl":3600,"type":"TXT"},{"data":"challengetoken","host":"_acme-challenge.full","ttl":3600,"type":"TXT"},{"data":"challengetoken","host":"_acme-challenge.test","ttl":3600,"type":"TXT"},{"data":"challengetoken1","host":"_acme-challenge.createrecordset","ttl":3600,"type":"TX[...]
- request:
    body: '{"records": [{"data": "challengetoken", "ttl": 3600}], "type": "TXT", "host":
      "updated.testfull"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records/orig.testfull/TXT?type=TXT&host=orig.testfull&data=challengetoken
  response:
    body:
      string: '{"message":"1 records added","records_added":1,"records_removed":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
