interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://auth.mythic-beasts.com/login
  response:
    body:
      string: '{"access_token": "DUMMY_TOKEN","expires_in":300,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones
  response:
    body:
      string: '{"zones":["lexitus.co.uk"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"records": [{"host": "delete.testid", "type": "TXT", "data": "challengetoken",
      "ttl": 3600}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records
  response:
    body:
      string: '{"message":"1 records added","records_added":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records/delete.testid/TXT?verify
  response:
    body:
      string: '{"records":[{"data":"challengetoken","host":"delete.testid","ttl":3600,"type":"TXT"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records?type=TXT&host=delete.testid
  response:
    body:
      string: '{"records":[{"data":"challengetoken","host":"delete.testid","ttl":3600,"type":"TXT"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records
  response:
    body:
      string: '{"records":[{"_template":true,"data":"46.235.227.111","host":"@","ttl":3600,"type":"A"},{"_template":true,"data":"2a00:1098:82::6:1","host":"@","ttl":3600,"type":"AAAA"},{"_template":true,"data":"46.235.227.111","host":"www","ttl":3600,"type":"A"},{"_template":true,"data":"2a00:1098:82::6:1","host":"www","ttl":3600,"type":"AAAA"},{"_template":true,"data":"ns1.mythic-beasts.com.","host":"@","ttl":86400,"type":"NS"},{"_template":true,"data":"ns2.mythic-beasts.com.","host":"@","ttl":86400,"type":"NS"},{"_template":true,"data":"mx.mythic-beasts.com.","host":"@","mx_priority":10,"ttl":3600,"type":"MX"},{"_template":true,"data":"caracal.autoconfig.mythic-beasts.com.","host":"_autodiscover._tcp","srv_port":443,"srv_priority":50,"srv_weight":10,"ttl":300,"type":"SRV"},{"data":"v=spf1
        include:_spf.mythic-beasts.com ~all","host":"@","ttl":300,"type":"TXT"},{"data":"127.0.0.1","host":"localhost","ttl":3600,"type":"A"},{"data":"docs.example.com.lexitus.co.uk.","host":"docs","ttl":3600,"type":"CNAME"},{"data":"challengetoken","host":"_acme-challenge.fqdn","ttl":3600,"type":"TXT"},{"data":"challengetoken","host":"_acme-challenge.full","ttl":3600,"type":"TXT"},{"data":"challengetoken","host":"_acme-challenge.test","ttl":3600,"type":"TXT"},{"data":"challengetoken1","host":"_acme-challenge.createrecordset","ttl":3600,"type":"TXT"},{"data":"challengetoken2","host":"_acme-challenge.createrecordset","ttl":3600,"type":"TXT"},{"data":"challengetoken","host":"_acme-challenge.noop","ttl":3600,"type":"TXT"},{"data":"challengetoken","host":"delete.testid","ttl":3600,"type":"TXT"},{"_generated":true,"data":"k3.lexitus.co.uk.dkim.mythic-beasts.com.","host":"mythic-beasts-k3._domainkey","ttl":300,"type":"CNAME"},{"_generated":true,"data":"k1.lexitus.co.uk.dkim.mythic-beasts.com.","host":"mythic-beasts-k1._domainkey","ttl":300,"type":"CNAME"},{"_generated":true,"data":"k2.lexitus.co.uk.dkim.mythic-beasts.com.","host":"mythic-beasts-k2._domainkey","ttl":300,"type":"CNAME"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records/@/TXT
  response:
    body:
      string: '{"records_removed":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records/_acme-challenge.fqdn/TXT
  response:
    body:
      string: '{"records_removed":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records/_acme-challenge.full/TXT
  response:
    body:
      string: '{"records_removed":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records/_acme-challenge.test/TXT
  response:
    body:
      string: '{"records_removed":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records/_acme-challenge.createrecordset/TXT
  response:
    body:
      string: '{"records_removed":2}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records/_acme-challenge.noop/TXT
  response:
    body:
      string: '{"records_removed":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records/delete.testid/TXT
  response:
    body:
      string: '{"records_removed":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records?type=TXT&host=delete.testid
  response:
    body:
      string: '{"records":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
