interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://auth.mythic-beasts.com/login
  response:
    body:
      string: '{"access_token": "DUMMY_TOKEN","expires_in":300,"token_type":"bearer"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones
  response:
    body:
      string: '{"zones":["lexitus.co.uk"]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"records": [{"host": "delete.testfull", "type": "TXT", "data": "challengetoken",
      "ttl": 3600}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records
  response:
    body:
      string: '{"message":"1 records added","records_added":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records/delete.testfull/TXT?verify
  response:
    body:
      string: "{\n  \"errors\": [\n    \"Received 0 record(s), expected 1 from ns1.mythic-beasts.com.\",\n
        \   \"Received 0 record(s), expected 1 from ns2.mythic-beasts.com.\"\n  ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 409
      message: Inconsistent
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records?type=TXT&host=delete.testfull&data=challengetoken
  response:
    body:
      string: '{"records":[{"data":"challengetoken","host":"delete.testfull","ttl":3600,"type":"TXT"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records/delete.testfull/TXT?type=TXT&host=delete.testfull&data=challengetoken
  response:
    body:
      string: '{"records_removed":1}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.mythic-beasts.com/dns/v2/zones/lexitus.co.uk/records?type=TXT&host=delete.testfull
  response:
    body:
      string: '{"records":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
