interactions:
- request:
    body: '{"action": "login"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"HwG4jQj9mEM4MOXb125WxYRMJ012","clientrequestid":"","action":"login","status":"success","statuscode":2000,"shortmessage":"Login
        successful","longmessage":"Session has been created successful.","responsedata":{"apisessionid":"NWo5MjcxNms0ODNCNHZBbW9IYVRqR2JyU2ZCUm1RSTU3NDMyOH"}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:37:27 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"action": "infoDnsZone"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"x9YDWnc1YON522yQMlFld01zMw14","clientrequestid":"","action":"infoDnsZone","status":"error","statuscode":5031,"shortmessage":"Getting
        DNS zone failed","longmessage":"Can not get DNS records for zone.  Domain
        not found.","responsedata":""}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:37:27 GMT']
    status: {code: 200, message: OK}
version: 1
