interactions:
- request:
    body: '{"action": "login"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"TxeAUwGUc01I01902F12yROj5xcR","clientrequestid":"","action":"login","status":"success","statuscode":2000,"shortmessage":"Login
        successful","longmessage":"Session has been created successful.","responsedata":{"apisessionid":"Mnl2ODQzMTU5bTc2NnZBbW9IYVRqR2JyU2ZCUm1RSTUxMjUzdD"}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:37:30 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"action": "infoDnsZone"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"12IUTl2ckUZw59T1ExTNx0W1My5Q","clientrequestid":"","action":"infoDnsZone","status":"success","statuscode":2000,"shortmessage":"DNS
        zone found","longmessage":"DNS zone was found.","responsedata":{"name":"coldfix.de","ttl":"86400","serial":"2019042072","refresh":"28800","retry":"7200","expire":"1209600","dnssecstatus":false}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:37:31 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"action": "infoDnsRecords"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"0Rx0c52I1Z9LMSV25y25Myj10UU2","clientrequestid":"","action":"infoDnsRecords","status":"success","statuscode":2000,"shortmessage":"DNS
        records found","longmessage":"DNS Records for this zone were found.","responsedata":{"dnsrecords":[{"id":"405422","hostname":"@","type":"A","priority":"0","destination":"37.120.171.171","deleterecord":false,"state":"unknown"},{"id":"11758160","hostname":"localhost","type":"A","priority":"0","destination":"127.0.0.1","deleterecord":false,"state":"unknown"},{"id":"405423","hostname":"www","type":"CNAME","priority":"0","destination":"@","deleterecord":false,"state":"unknown"}]}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:37:31 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"action": "updateDnsRecords"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"MeR1xA12n5D9EyT5Vk3x0Ws2Tz5M","clientrequestid":"","action":"updateDnsRecords","status":"success","statuscode":2000,"shortmessage":"DNS
        records successful updated","longmessage":"The given DNS records for this
        zone were updated.","responsedata":{"dnsrecords":[{"id":"405422","hostname":"@","type":"A","priority":"0","destination":"37.120.171.171","deleterecord":false,"state":"unknown"},{"id":"11758161","hostname":"docs","type":"CNAME","priority":"0","destination":"docs.example.com","deleterecord":false,"state":"unknown"},{"id":"11758160","hostname":"localhost","type":"A","priority":"0","destination":"127.0.0.1","deleterecord":false,"state":"unknown"},{"id":"405423","hostname":"www","type":"CNAME","priority":"0","destination":"@","deleterecord":false,"state":"unknown"}]}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:37:33 GMT']
    status: {code: 200, message: OK}
version: 1
