interactions:
- request:
    body: '{"action": "login"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"N9xE4IT31TT0OkNhZ9MC9O01MZl2","clientrequestid":"","action":"login","status":"success","statuscode":2000,"shortmessage":"Login
        successful","longmessage":"Session has been created successful.","responsedata":{"apisessionid":"MjQ1NnR1NzM5djE4OXZBbW9IYVRqR2JyU2ZCUm1RSTUxMjVmMz"}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:38:41 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"action": "infoDnsZone"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"x1VE0F9RjC1Md0IWTOM04DBaOTI2","clientrequestid":"","action":"infoDnsZone","status":"success","statuscode":2000,"shortmessage":"DNS
        zone found","longmessage":"DNS zone was found.","responsedata":{"name":"coldfix.de","ttl":"86400","serial":"2019042103","refresh":"28800","retry":"7200","expire":"1209600","dnssecstatus":false}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:38:42 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"action": "infoDnsRecords"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"1wU40y0wRTMxVT2xj1A1cUzM9YlR","clientrequestid":"","action":"infoDnsRecords","status":"success","statuscode":2000,"shortmessage":"DNS
        records found","longmessage":"DNS Records for this zone were found.","responsedata":{"dnsrecords":[{"id":"405422","hostname":"@","type":"A","priority":"0","destination":"37.120.171.171","deleterecord":false,"state":"unknown"},{"id":"11758161","hostname":"docs","type":"CNAME","priority":"0","destination":"docs.example.com","deleterecord":false,"state":"unknown"},{"id":"11758160","hostname":"localhost","type":"A","priority":"0","destination":"127.0.0.1","deleterecord":false,"state":"unknown"},{"id":"11758182","hostname":"orig.nameonly.test","type":"TXT","priority":"0","destination":"challengetoken","deleterecord":false,"state":"unknown"},{"id":"11758178","hostname":"random.fqdntest","type":"TXT","priority":"[...]
[...]
