interactions:
- request:
    body: '{"action": "login"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"22y261D0zlM1ScNjR9Im2bxFhxA1","clientrequestid":"","action":"login","status":"success","statuscode":2000,"shortmessage":"Login
        successful","longmessage":"Session has been created successful.","responsedata":{"apisessionid":"MXI5SDgzNzU0YTI2MnZBbW9IYVRqR2JyU2ZCUm1RSTU1MVo5Mz"}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:37:38 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"action": "infoDnsZone"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"XMMBwk1DzUyl2I6TTVU92Ec0231N","clientrequestid":"","action":"infoDnsZone","status":"success","statuscode":2000,"shortmessage":"DNS
        zone found","longmessage":"DNS zone was found.","responsedata":{"name":"coldfix.de","ttl":"86400","serial":"2019042075","refresh":"28800","retry":"7200","expire":"1209600","dnssecstatus":false}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:37:39 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"action": "infoDnsRecords"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"Z26z0QMDzY2E4Tdjo1E90wdWy115","clientrequestid":"","action":"infoDnsRecords","status":"success","statuscode":2000,"shortmessage":"DNS
        records found","longmessage":"DNS Records for this zone were found.","responsedata":{"dnsrecords":[{"id":"405422","hostname":"@","type":"A","priority":"0","destination":"37.120.171.171","deleterecord":false,"state":"unknown"},{"id":"11758161","hostname":"docs","type":"CNAME","priority":"0","destination":"docs.example.com","deleterecord":false,"state":"unknown"},{"id":"11758160","hostname":"localhost","type":"A","priority":"0","destination":"127.0.0.1","deleterecord":false,"state":"unknown"},{"id":"405423","hostname":"www","type":"CNAME","priority":"0","destination":"@","deleterecord":false,"state":"unknown"},{"id":"11758162","hostname":"_acme-challenge.fqdn","type":"TXT","priority":"0","destination":"challengetoken","deleterecord":false,"state":"unknown"},{"id":"11758163","hostname":"_acme-challenge.full","type":"TXT","priority":"0","destination":"challengetoken","deleterecord":false,"state":"unknown"}]}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:37:39 GMT']
    status: {code: 200, message: OK}
[...]
