interactions:
- request:
    body: '{"action": "login"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"z9WU2j5JZ3jz4AHSl1MN1gMx3j0S","clientrequestid":"","action":"login","status":"success","statuscode":2000,"shortmessage":"Login
        successful","longmessage":"Session has been created successful.","responsedata":{"apisessionid":"MzIxZng4Rjc1OTQ2NXZBbW9IYVRqR2JyU2ZCUm1RSTVKMjQxNT"}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:38:15 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"action": "infoDnsZone"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"JR30z1121K52T9MMMMTkMT4AN50U","clientrequestid":"","action":"infoDnsZone","status":"success","statuscode":2000,"shortmessage":"DNS
        zone found","longmessage":"DNS zone was found.","responsedata":{"name":"coldfix.de","ttl":"86400","serial":"2019042093","refresh":"28800","retry":"7200","expire":"1209600","dnssecstatus":false}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:38:16 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"action": "infoDnsRecords"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"09WXzMD2NEyQjVl5R3TMV11Mo1A5","clientrequestid":"","action":"infoDnsRecords","status":"success","statuscode":2000,"shortmessage":"DNS
        records found","longmessage":"DNS Records for this zone were found.","responsedata":{"dnsrecords":[{"id":"405422","hostname":"@","type":"A","priority":"0","destination":"37.120.171.171","deleterecord":false,"state":"unknown"},{"id":"11758161","hostname":"docs","type":"CNAME","priority":"0","destination":"docs.example.com","deleterecord":false,"state":"unknown"},{"id":"11758160","hostname":"localhost","type":"A","priority":"0","destination":"127.0.0.1","deleterecord":false,"state":"unknown"},{"id":"405423","hostname":"www","type":"CNAME","priority":"0","destination":"@","deleterecord":false,"state":"unknown"},{"id":"11758166","hostname":"_acme-challenge.createrecordset","type":"TXT","priority":"0","destinat[...]
[...]
