interactions:
- request:
    body: '{"action": "login"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"lGU3xjC91lDdMF027M2z3N1MZUzd","clientrequestid":"","action":"login","status":"success","statuscode":2000,"shortmessage":"Login
        successful","longmessage":"Session has been created successful.","responsedata":{"apisessionid":"Zzc0MTg5eTUyM0E2OXZBbW9IYVRqR2JyU2ZCUm1RSTU0Zzk4NT"}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:38:27 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"action": "infoDnsZone"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"NQMMxIRMzH0U94uu5z2ZF1Qp7131","clientrequestid":"","action":"infoDnsZone","status":"success","statuscode":2000,"shortmessage":"DNS
        zone found","longmessage":"DNS zone was found.","responsedata":{"name":"coldfix.de","ttl":"86400","serial":"2019042097","refresh":"28800","retry":"7200","expire":"1209600","dnssecstatus":false}}'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Fri, 19 Apr 2019 01:38:28 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"action": "infoDnsRecords"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON
  response:
    body: {string: '{"serverrequestid":"m3051KYEyUM1703M9tTW2j1SFlTm","clientrequestid":"","action":"infoDnsRecords","status":"success","statuscode":2000,"shortmessage":"DNS
        records found","longmessage":"DNS Records for this zone were found.","responsedata":{"dnsrecords":[{"id":"405422","hostname":"@","type":"A","priority":"0","destination":"37.120.171.171","deleterecord":false,"state":"unknown"},{"id":"11758161","hostname":"docs","type":"CNAME","priority":"0","destination":"docs.example.com","deleterecord":false,"state":"unknown"},{"id":"11758160","hostname":"localhost","type":"A","priority":"0","destination":"127.0.0.1","deleterecord":false,"state":"unknown"},{"id":"11758178","hostname":"random.fqdntest","type":"TXT","priority":"0","destination":"challengetoken","deleterecord":false,"state":"unknown"},{"id":"11758179","hostname":"random.fulltest","type":"TXT","priority":"0",[...]
[...]
