interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cloudns.net/dns/get-zone-info.json?domain-name=api-example.com
  response:
    body: {string: '{"name":"api-example.com","type":"master","zone":"domain","status":"1"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cloudns.net/dns/records.json?domain-name=api-example.com
  response:
    body: {string: '{"69469246":{"id":"69469246","type":"CNAME","host":"docs","record":"docs.example.com","ttl":"3600","status":1},"69469245":{"id":"69469245","type":"A","host":"localhost","record":"127.0.0.1","dynamicurl_status":0,"ttl":"3600","status":1},"69469265":{"id":"69469265","type":"TXT","host":"random.fqdntest","record":"challengetoken","ttl":"3600","status":1},"69469266":{"id":"69469266","type":"TXT","host":"random.fulltest","record":"challengetoken","ttl":"3600","status":1},"69469267":{"id":"69469267","type":"TXT","host":"random.test","record":"challengetoken","ttl":"3600","status":1},"69469261":{"id":"69469261","type":"TXT","host":"ttl.fqdn","record":"ttlshouldbe3600","ttl":"3600","status":1},"69469250":{"id[...]
