interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cloudns.net/dns/get-zone-info.json?domain-name=api-example.com
  response:
    body: {string: '{"name":"api-example.com","type":"master","zone":"domain","status":"1"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cloudns.net/dns/records.json?domain-name=api-example.com
  response:
    body: {string: '{"30776945":{"id":"30776945","type":"CNAME","host":"docs","record":"docs.example.com","ttl":"3600","status":1},"30776944":{"id":"30776944","type":"A","host":"localhost","record":"127.0.0.1","dynamicurl_status":0,"ttl":"3600","status":1},"30776956":{"id":"30776956","type":"TXT","host":"random.fqdntest","record":"challengetoken","ttl":"3600","status":1},"30776957":{"id":"30776957","type":"TXT","host":"random.fulltest","record":"challengetoken","ttl":"3600","status":1},"30776958":{"id":"30776958","type":"TXT","host":"random.test","record":"challengetoken","ttl":"3600","status":1},"30776954":{"id":"30776954","type":"TXT","host":"ttl.fqdn","record":"ttlshouldbe3600","ttl":"3600","status":1},"30776946":{"id":"30776946","type":"TXT","host":"_acme-challenge.fqdn","record":"challengetoken","ttl":"3600","status":1},"30776947":{"id":"30776947","type":"TXT","host":"_acme-challenge.full","record":"challengetoken","ttl":"3600","status":1},"30776948":{"id":"30776948","type":"TXT","host":"_acme-challenge.test","record":"challengetoken","ttl":"3600","status":1}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
