interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cloudns.net/dns/get-zone-info.json?domain-name=api-example.com
  response:
    body: {string: '{"name":"api-example.com","type":"master","zone":"domain","status":"1"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cloudns.net/dns/records.json?domain-name=api-example.com&host=docs&type=CNAME
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: domain-name=api-example.com&record-type=CNAME&host=docs&record=docs.example.com&ttl=3600&priority=placeholder_priority&weight=placeholder_weight&port=placeholder_port
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.cloudns.net/dns/add-record.json
  response:
    body: {string: '{"status":"Success","statusDescription":"The record was added
        successfully.","data":{"id":30776945}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
