interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cloudns.net/dns/get-zone-info.json?domain-name=api-example.com
  response:
    body: {string: '{"name":"api-example.com","type":"master","zone":"domain","status":"1"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cloudns.net/dns/records.json?domain-name=api-example.com&host=delete.testfilt&type=TXT
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: domain-name=api-example.com&record-type=TXT&host=delete.testfilt&record=challengetoken&ttl=3600&priority=placeholder_priority&weight=placeholder_weight&port=placeholder_port
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.cloudns.net/dns/add-record.json
  response:
    body: {string: '{"status":"Success","statusDescription":"The record was added
        successfully.","data":{"id":69469253}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cloudns.net/dns/records.json?domain-name=api-example.com&host=delete.testfilt&type=TXT
  response:
    body: {string: '{"69469253":{"id":"69469253","type":"TXT","host":"delete.testfilt","record":"challengetoken","ttl":"3600","status":1}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: domain-name=api-example.com&record-id=69469253
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.cloudns.net/dns/delete-record.json
  response:
    body: {string: '{"status":"Success","statusDescription":"The record was deleted
        successfully."}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cloudns.net/dns/records.json?domain-name=api-example.com&host=delete.testfilt&type=TXT
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
