interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zonomi.com/app/dns/dyndns.jsp?action=QUERY&name=%2A%2A.pcekper.com.ar
  response:
    body: {string: !!python/unicode "<?xml version =\"1.0\"  ?><!DOCTYPE html [<!ENTITY\
        \ nbsp '&#160;'><!ENTITY trade '&#8482;'><!ENTITY copy '&#169;'>]><dnsapi_result><is_ok>OK:</is_ok>\n\
        <result_counts \n added=\"0\"\n changed=\"0\"\n unchanged=\"0\"\n deleted=\"\
        0\"/>\n<actions>\n\n<action \n action=\"QUERY\"\n host=\"pcekper.com.ar, poto.pcekper.com.ar,\
        \ test.pcekper.com.ar, docs.pcekper.com.ar, _acme-challenge.fqdn.pcekper.com.ar,\
        \ _acme-challenge.full.pcekper.com.ar, _acme-challenge.test.pcekper.com.ar,\
        \ ttl.fqdn.pcekper.com.ar, random.fqdntest.pcekper.com.ar, random.fulltest.pcekper.com.ar,\
        \ random.test.pcekper.com.ar, updated.test.pcekper.com.ar, localhost.pcekper.com.ar,\
        \ updated.testfqdn.pcekper.com.ar, updated.testfull.pcekper.com.ar\">\n<record\
        \ \n name=\"pcekper.com.ar\"\n type=\"SOA\"\n content=\"ns1.zonomi.com. soacontact.zonomi.com.\
        \ 564 10800 3600 604800 3600\"\n ttl=\"86400 seconds\"\n prio=\"0\"/>\t\n\
        <record \n name=\"pcekper.com.ar\"\n type=\"NS\"\n content=\"ns1.zonomi.com\"\
        \n ttl=\"3600 seconds\"\n prio=\"0\"/>\t\n<record \n name=\"pcekper.com.ar\"\
        \n type=\"NS\"\n content=\"ns6.zonomi.com\"\n ttl=\"3600 seconds\"\n prio=\"\
        0\"/>\t\n<record \n name=\"pcekper.com.ar\"\n type=\"MX\"\n content=\"mail2.25mail.st\"\
        \n ttl=\"300 seconds\"\n prio=\"10\"/>\t\n<record \n name=\"pcekper.com.ar\"\
        \n type=\"A\"\n content=\"127.0.0.1\"\n ttl=\"3600 seconds\"\n pri[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zonomi.com/app/dns/dyndns.jsp?action=SET&name=random.fqdntest.pcekper.com.ar&prio=placeholder_priority&ttl=3600&type=TXT&value=challengetoken
  response:
    body: {string: !!python/unicode "<?xml version =\"1.0\"  ?><!DOCTYPE html [<!ENTITY\
        \ nbsp '&#160;'><!ENTITY trade '&#8482;'><!ENTITY copy '&#169;'>]><dnsapi_result><is_ok>OK:</is_ok>\n\
        <result_counts \n added=\"0\"\n changed=\"0\"\n unchanged=\"1\"\n deleted=\"\
        0\"/>\n<actions>\n\n<action \n action=\"SET\"\n host=\"random.fqdntest.pcekper.com.ar\"\
        \n type=\"TXT\"\n value=\"challengetoken\"\n ttl=\"3600\">\n<record \n name=\"\
        random.fqdntest.pcekper.com.ar\"\n type=\"TXT\"\n content=\"challengetoken\"\
        \n ttl=\"3600 seconds\"\n prio=\"0\"\n skipped=\"unchanged\"/>\t</action></actions></dnsapi_result>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://zonomi.com/app/dns/dyndns.jsp?action=QUERY&name=random.fqdntest.pcekper.com.ar&type=TXT
  response:
    body: {string: !!python/unicode "<?xml version =\"1.0\"  ?><!DOCTYPE html [<!ENTITY\
        \ nbsp '&#160;'><!ENTITY trade '&#8482;'><!ENTITY copy '&#169;'>]><dnsapi_result><is_ok>OK:</is_ok>\n\
        <result_counts \n added=\"0\"\n changed=\"0\"\n unchanged=\"0\"\n deleted=\"\
        0\"/>\n<actions>\n\n<action \n action=\"QUERY\"\n host=\"random.fqdntest.pcekper.com.ar\"\
        \n type=\"TXT\">\n<record \n name=\"random.fqdntest.pcekper.com.ar\"\n type=\"\
        TXT\"\n content=\"challengetoken\"\n ttl=\"3600 seconds\"\n prio=\"0\"/>\t\
        </action></actions></dnsapi_result>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
