interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zonomi.com/app/dns/dyndns.jsp?action=QUERY&name=%2A%2A.pcekper.com.ar&type=SOA
  response:
    body: {string: !!python/unicode "<?xml version =\"1.0\"  ?><!DOCTYPE html [<!ENTITY\
        \ nbsp '&#160;'><!ENTITY trade '&#8482;'><!ENTITY copy '&#169;'>]><dnsapi_result><is_ok>OK:</is_ok>\n\
        <result_counts \n added=\"0\"\n changed=\"0\"\n unchanged=\"0\"\n deleted=\"\
        0\"/>\n<actions>\n\n<action \n action=\"QUERY\"\n host=\"pcekper.com.ar\"\n\
        \ type=\"SOA\">\n<record \n name=\"pcekper.com.ar\"\n type=\"SOA\"\n content=\"\
        ns1.zonomi.com. soacontact.zonomi.com. 5 10800 3600 604800 3600\"\n ttl=\"\
        86400 seconds\"\n prio=\"0\"/>\t</action></actions></dnsapi_result>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://zonomi.com/app/dns/dyndns.jsp?action=SET&name=localhost.pcekper.com.ar&ttl=3600&type=A&value=127.0.0.1
  response:
    body: {string: !!python/unicode "<?xml version =\"1.0\"  ?><!DOCTYPE html [<!ENTITY\
        \ nbsp '&#160;'><!ENTITY trade '&#8482;'><!ENTITY copy '&#169;'>]><dnsapi_result><is_ok>OK:</is_ok>\n\
        <result_counts \n added=\"1\"\n changed=\"0\"\n unchanged=\"0\"\n deleted=\"\
        0\"/>\n<actions>\n\n<action \n action=\"SET\"\n host=\"localhost.pcekper.com.ar\"\
        \n type=\"A\"\n value=\"127.0.0.1\"\n ttl=\"3600\">\n<record \n name=\"localhost.pcekper.com.ar\"\
        \n type=\"A\"\n content=\"127.0.0.1\"\n ttl=\"3600 seconds\"\n prio=\"0\"\n\
        \ added=\"\"/>\t</action></actions></dnsapi_result>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
