interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zonomi.com/app/dns/dyndns.jsp?action=QUERY&name=%2A%2A.pcekper.com.ar&type=SOA
  response:
    body: {string: !!python/unicode "<?xml version =\"1.0\"  ?><!DOCTYPE html [<!ENTITY\
        \ nbsp '&#160;'><!ENTITY trade '&#8482;'><!ENTITY copy '&#169;'>]><dnsapi_result><is_ok>OK:</is_ok>\n\
        <result_counts \n added=\"0\"\n changed=\"0\"\n unchanged=\"0\"\n deleted=\"\
        0\"/>\n<actions>\n\n<action \n action=\"QUERY\"\n host=\"pcekper.com.ar\"\n\
        \ type=\"SOA\">\n<record \n name=\"pcekper.com.ar\"\n type=\"SOA\"\n content=\"\
        ns1.zonomi.com. soacontact.zonomi.com. 39 10800 3600 604800 3600\"\n ttl=\"\
        86400 seconds\"\n prio=\"0\"/>\t</action></actions></dnsapi_result>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://zonomi.com/app/dns/dyndns.jsp?action=SET&name=orig.test.pcekper.com.ar&ttl=3600&type=TXT&value=challengetoken
  response:
    body: {string: !!python/unicode "<?xml version =\"1.0\"  ?><!DOCTYPE html [<!ENTITY\
        \ nbsp '&#160;'><!ENTITY trade '&#8482;'><!ENTITY copy '&#169;'>]><dnsapi_result><is_ok>OK:</is_ok>\n\
        <result_counts \n added=\"1\"\n changed=\"0\"\n unchanged=\"0\"\n deleted=\"\
        0\"/>\n<actions>\n\n<action \n action=\"SET\"\n host=\"orig.test.pcekper.com.ar\"\
        \n type=\"TXT\"\n value=\"challengetoken\"\n ttl=\"3600\">\n<record \n name=\"\
        orig.test.pcekper.com.ar\"\n type=\"TXT\"\n content=\"challengetoken\"\n ttl=\"\
        3600 seconds\"\n prio=\"0\"\n added=\"\"/>\t</action></actions></dnsapi_result>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://zonomi.com/app/dns/dyndns.jsp?action=QUERY&name=orig.test.pcekper.com.ar&type=TXT
  response:
    body: {string: !!python/unicode "<?xml version =\"1.0\"  ?><!DOCTYPE html [<!ENTITY\
        \ nbsp '&#160;'><!ENTITY trade '&#8482;'><!ENTITY copy '&#169;'>]><dnsapi_result><is_ok>OK:</is_ok>\n\
        <result_counts \n added=\"0\"\n changed=\"0\"\n unchanged=\"0\"\n deleted=\"\
        0\"/>\n<actions>\n\n<action \n action=\"QUERY\"\n host=\"orig.test.pcekper.com.ar\"\
        \n type=\"TXT\">\n<record \n name=\"orig.test.pcekper.com.ar\"\n type=\"TXT\"\
        \n content=\"challengetoken\"\n ttl=\"3600 seconds\"\n prio=\"0\"/>\t</action></actions></dnsapi_result>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://zonomi.com/app/dns/dyndns.jsp?action=DELETE&name=orig.test.pcekper.com.ar&type=TXT&value=challengetoken
  response:
    body: {string: !!python/unicode "<?xml version =\"1.0\"  ?><!DOCTYPE html [<!ENTITY\
        \ nbsp '&#160;'><!ENTITY trade '&#8482;'><!ENTITY copy '&#169;'>]><dnsapi_result><is_ok>OK:</is_ok>\n\
        <result_counts \n added=\"0\"\n changed=\"0\"\n unchanged=\"0\"\n deleted=\"\
        1\"/>\n<actions>\n\n<action \n action=\"DELETE\"\n host=\"orig.test.pcekper.com.ar\"\
        \n type=\"TXT\"\n value=\"challengetoken\">\n<record \n name=\"orig.test.pcekper.com.ar\"\
        \n type=\"TXT\"\n content=\"challengetoken\"\n ttl=\"3600 seconds\"\n prio=\"\
        0\"\n deleted=\"\"/>\t</action></actions></dnsapi_result>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://zonomi.com/app/dns/dyndns.jsp?action=SET&name=updated.test.pcekper.com.ar&ttl=3600&type=TXT&value=challengetoken
  response:
    body: {string: !!python/unicode "<?xml version =\"1.0\"  ?><!DOCTYPE html [<!ENTITY\
        \ nbsp '&#160;'><!ENTITY trade '&#8482;'><!ENTITY copy '&#169;'>]><dnsapi_result><is_ok>OK:</is_ok>\n\
        <result_counts \n added=\"1\"\n changed=\"0\"\n unchanged=\"0\"\n deleted=\"\
        0\"/>\n<actions>\n\n<action \n action=\"SET\"\n host=\"updated.test.pcekper.com.ar\"\
        \n type=\"TXT\"\n value=\"challengetoken\"\n ttl=\"3600\">\n<record \n name=\"\
        updated.test.pcekper.com.ar\"\n type=\"TXT\"\n content=\"challengetoken\"\n\
        \ ttl=\"3600 seconds\"\n prio=\"0\"\n added=\"\"/>\t</action></actions></dnsapi_result>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
