interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.ote-godaddy.com/v1/domains/000.biz
  response:
    body: {string: !!python/unicode '{"domainId":1002111,"domain":"000.biz","status":"TRANSFERRED_OUT","expires":"2016-06-14T23:59:59Z","expirationProtected":false,"holdRegistrar":false,"locked":true,"privacy":false,"renewAuto":true,"renewable":false,"transferProtected":false,"createdAt":"2015-06-15T13:10:43Z","authCode":"C36C3C6M26XE4DB5","subaccountId":"857256"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"149-Wv5RnvoMk5suL5kc+t99b36u7fY"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '[{"data": "challengetoken", "ttl": 3600}]'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.ote-godaddy.com/v1/domains/000.biz/records/TXT/orig.testfqdn
  response:
    body: {string: !!python/unicode '{}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"2-vyGp6PvFo4RvsFtPoIWeCReyIC8"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.ote-godaddy.com/v1/domains/000.biz/records/TXT/orig.testfqdn
  response:
    body: {string: !!python/unicode '[{"type":"TXT","name":"orig.testfqdn","data":"challengetoken","ttl":3600}]'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"4a-aW/SVtCSAfRVB6zpFIu/v44tnzo"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '[{"data": "challengetoken", "ttl": 3600}]'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.ote-godaddy.com/v1/domains/000.biz/records/TXT/updated.testfqdn
  response:
    body: {string: !!python/unicode '{}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"2-vyGp6PvFo4RvsFtPoIWeCReyIC8"]
    status: {code: 200, message: OK}
version: 1
