interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online
  response:
    body: {string: '{"domainId":270044166,"domain":"fullm3tal.online","status":"ACTIVE","expires":"2019-06-05T23:59:59Z","expirationProtected":false,"holdRegistrar":false,"locked":true,"privacy":false,"renewAuto":true,"renewable":true,"renewDeadline":"2019-07-20T06:59:13Z","transferProtected":false,"createdAt":"2018-06-05T13:59:17Z","transferAwayEligibleAt":"2018-08-04T13:59:17Z"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"614-kO7enwn90TiiP0bH4cJJw0wEJ94"]
      X-DataCenter: [PHX3]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online/records/TXT/random.fqdntest.fullm3tal.online.
  response:
    body: {string: '[]

        '}
    headers:
      Content-Type: [application/json]
      X-DataCenter: [PHX3]
    status: {code: 200, message: OK}
- request:
    body: '[{"type": "TXT", "name": "random.fqdntest", "data": "challengetoken", "ttl": 3600}]'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online/records/TXT/random.fqdntest.fullm3tal.online.
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/plain; charset=utf-8]
      X-DataCenter: [PHX3]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online/records/TXT/random.fqdntest
  response:
    body: {string: '[{"data":"challengetoken","name":"random.fqdntest","ttl":3600,"type":"TXT"}]

        '}
    headers:
      Content-Type: [application/json]
      X-DataCenter: [PHX3]
    status: {code: 200, message: OK}
version: 1
