interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online
  response:
    body:
      string: '{"authCode":"184CR9F8C8924799","contactAdmin":{"addressMailing":{"address1":"485
        ROUTE DU PIN MONTARD","address2":"","city":"SOPHIA ANTIPOLIS","country":"FR","postalCode":"06902","state":"PACA"},"email":"accounting@amadeus.com","fax":"","nameFirst":"ALAIN","nameLast":"HERAUD","organization":"AMADEUS
        SAS","phone":"+33.497151296"},"contactBilling":{"addressMailing":{"address1":"485
        ROUTE DU PIN MONTARD","address2":"","city":"SOPHIA ANTIPOLIS","country":"FR","postalCode":"06902","state":"PACA"},"email":"accounting@amadeus.com","fax":"","nameFirst":"ALAIN","nameLast":"HERAUD","organization":"AMADEUS
        SAS","phone":"+33.497151296"},"contactRegistrant":{"addressMailing":{"address1":"485
        ROUTE DU PIN MONTARD","address2":"","city":"SOPHIA ANTIPOLIS","country":"FR","postalCode":"06902","state":"PACA"},"email":"accounting@amadeus.com","fax":"","nameFirst":"ALAIN","nameLast":"HERAUD","organization":"AMADEUS
        SAS","phone":"+33.497151296"},"contactTech":{"addressMailing":{"address1":"485
        ROUTE DU PIN MONTARD","address2":"","city":"SOPHIA ANTIPOLIS","country":"FR","postalCode":"06902","state":"PACA"},"email":"accounting@amadeus.com","fax":"","nameFirst":"ALAIN","nameLast":"HERAUD","organization":"AMADEUS
        SAS","phone":"+33.497151296"},"createdAt":"2018-02-02T14:26:44.000Z","domain":"fullm3tal.online","domainId":261238997,"expirationProtected":false,"expires":"2022-02-02T14:26:44.000Z","exposeWhois":false,"holdRegistrar":false,"locked":true,"nameServers":["ns09.domaincontrol.com","ns10.domaincontrol.com"],"privacy":false,"renewAuto":true,"renewDeadline":"2022-03-19T14:26:44.000Z","renewable":true,"redeemable":false,"status":"ACTIVE","transferProtected":false}

        '
    headers:
      Content-Type:
      - application/json
      X-DataCenter:
      - US_EAST_1
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online/records/A/localhost
  response:
    body:
      string: '[]

        '
    headers:
      Content-Type:
      - application/json
      X-DataCenter:
      - US_EAST_1
    status:
      code: 200
      message: OK
- request:
    body: '[{"type": "A", "name": "localhost", "data": "127.0.0.1", "ttl": 3600}]'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online/records/A/localhost
  response:
    body:
      string: ''
    headers:
      X-DataCenter:
      - US_EAST_1
    status:
      code: 200
      message: OK
version: 1
