interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online
  response:
    body: {string: '{"domainId":270044166,"domain":"fullm3tal.online","status":"PENDING_UPDATE","expires":"2019-06-05T23:59:59Z","expirationProtected":false,"holdRegistrar":false,"locked":true,"privacy":false,"renewAuto":true,"renewable":true,"renewDeadline":"2019-07-20T06:59:13Z","transferProtected":false,"createdAt":"2018-06-05T13:59:17Z","transferAwayEligibleAt":"2018-08-04T13:59:17Z"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"64d-dW9dFNh9UBBHsxZTrPxPnHz/jWE"]
      X-DataCenter: [PHX3]
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online/records
  response:
    body: {string: '[{"data":"ns49.domaincontrol.com","name":"@","ttl":3600,"type":"NS"},{"data":"ns50.domaincontrol.com","name":"@","ttl":3600,"type":"NS"},{"data":"_domainconnect.gd.domaincontrol.com","name":"_domainconnect","ttl":3600,"type":"CNAME"},{"data":"@","name":"www","ttl":3600,"type":"CNAME"}]

        '}
    headers:
      Content-Type: [application/json]
      X-DataCenter: [PHX3]
    status: {code: 200, message: OK}
- request:
    body: '[{"data": "ns49.domaincontrol.com", "name": "@", "ttl": 3600, "type": "NS"},
      {"data": "ns50.domaincontrol.com", "name": "@", "ttl": 3600, "type": "NS"},
      {"data": "_domainconnect.gd.domaincontrol.com", "name": "_domainconnect", "ttl":
      3600, "type": "CNAME"}, {"data": "@", "name": "www", "ttl": 3600, "type": "CNAME"},
      {"type": "A", "name": "localhost", "data": "127.0.0.1", "ttl": 3600}]'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online/records
  response:
    body: {string: ''}
    headers:
      Content-Type: [text/plain; charset=utf-8]
      X-DataCenter: [PHX3]
    status: {code: 200, message: OK}
version: 1
