interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.ote-godaddy.com/v1/domains/000.biz
  response:
    body: {string: !!python/unicode '{"domainId":1002111,"domain":"000.biz","status":"TRANSFERRED_OUT","expires":"2016-06-14T23:59:59Z","expirationProtected":false,"holdRegistrar":false,"locked":true,"privacy":false,"renewAuto":true,"renewable":false,"transferProtected":false,"createdAt":"2015-06-15T13:10:43Z","authCode":"C36C3C6M26XE4DB5","subaccountId":"857256"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"149-Wv5RnvoMk5suL5kc+t99b36u7fY"]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.ote-godaddy.com/v1/domains/000.biz/records
  response:
    body: {string: !!python/unicode '[{"type":"A","name":"@","data":"1.2.3.5","ttl":3600},{"type":"A","name":"localhost","data":"127.0.0.1","ttl":3600},{"type":"CNAME","name":"docs","data":"docs.example.com","ttl":3600},{"type":"CNAME","name":"domain-service-it","data":"mail","ttl":1000},{"type":"CNAME","name":"imap","data":"mail","ttl":1002},{"type":"CNAME","name":"pop","data":"mail","ttl":1003},{"type":"CNAME","name":"smtp","data":"mail","ttl":1004},{"type":"CNAME","name":"test2","data":"test","ttl":3600},{"type":"MX","name":"@","data":"mail.000.biz","priority":0,"ttl":3600},{"type":"TXT","name":"delete.testfilt","data":"challengetoken","ttl":3600},{"type":"TXT","name":"delete.testfqdn","data":"challengetoken","ttl":3600},{"type":"TXT","name":"delete.testfull","data":"challengetoken","ttl":3600},{"type":"TXT","name":"orig.nameonly.test","data":"updated","ttl":3600},{"type":"TXT","name":"orig.test","data":"challengetoken","ttl":3600},{"type":"TXT","name":"orig.testfqdn","data":"challengetoken","ttl":3600},{"type":"TXT","name":"orig.testfull","data":"cha[...]
