interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online
  response:
    body:
      string: '{"authCode":"184CR9F8C8924799","contactAdmin":{"addressMailing":{"address1":"485
        ROUTE DU PIN MONTARD","address2":"","city":"SOPHIA ANTIPOLIS","country":"FR","postalCode":"06902","state":"PACA"},"email":"accounting@amadeus.com","fax":"","nameFirst":"ALAIN","nameLast":"HERAUD","organization":"AMADEUS
        SAS","phone":"+33.497151296"},"contactBilling":{"addressMailing":{"address1":"485
        ROUTE DU PIN MONTARD","address2":"","city":"SOPHIA ANTIPOLIS","country":"FR","postalCode":"06902","state":"PACA"},"email":"accounting@amadeus.com","fax":"","nameFirst":"ALAIN","nameLast":"HERAUD","organization":"AMADEUS
        SAS","phone":"+33.497151296"},"contactRegistrant":{"addressMailing":{"address1":"485
        ROUTE DU PIN MONTARD","address2":"","city":"SOPHIA ANTIPOLIS","country":"FR","postalCode":"06902","state":"PACA"},"email":"accounting@amadeus.com","fax":"","nameFirst":"ALAIN","nameLast":"HERAUD","organization":"AMADEUS
        SAS","phone":"+33.497151296"},"contactTech":{"addressMailing":{"address1":"485
        ROUTE DU PIN MONTARD","address2":"","city":"SOPHIA ANTIPOLIS","country":"FR","postalCode":"06902","state":"PACA"},"email":"accounting@amadeus.com","fax":"","nameFirst":"ALAIN","nameLast":"HERAUD","organization":"AMADEUS
        SAS","phone":"+33.497151296"},"createdAt":"2018-02-02T14:26:44.000Z","domain":"fullm3tal.online","domainId":261238997,"expirationProtected":false,"expires":"2022-02-02T14:26:44.000Z","exposeWhois":false,"holdRegistrar":false,"locked":true,"nameServers":["ns09.domaincontrol.com","ns10.domaincontrol.com"],"privacy":false,"renewAuto":true,"renewDeadline":"2022-03-19T14:26:44.000Z","renewable":true,"redeemable":false,"status":"ACTIVE","transferProtected":false}

        '
    headers:
      Content-Type:
      - application/json
      X-DataCenter:
      - US_EAST_1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online/records/TXT/orig.testfqdn
  response:
    body:
      string: '[]

        '
    headers:
      Content-Type:
      - application/json
      X-DataCenter:
      - US_EAST_1
    status:
      code: 200
      message: OK
- request:
    body: '[{"type": "TXT", "name": "orig.testfqdn", "data": "challengetoken", "ttl":
      3600}]'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online/records/TXT/orig.testfqdn
  response:
    body:
      string: ''
    headers:
      X-DataCenter:
      - US_EAST_1
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online/records
  response:
    body:
      string: '[{"data":"15.197.142.173","name":"@","ttl":600,"type":"A"},{"data":"3.33.152.147","name":"@","ttl":600,"type":"A"},{"data":"127.0.0.1","name":"localhost","ttl":3600,"type":"A"},{"data":"ns09.domaincontrol.com","name":"@","ttl":3600,"type":"NS"},{"data":"ns10.domaincontrol.com","name":"@","ttl"[...]
- request:
    body: '[{"data": "challengetoken", "name": "updated.testfqdn", "ttl": 3600, "type":
      "TXT"}]'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online/records/TXT/updated.testfqdn
  response:
    body:
      string: ''
    headers:
      X-DataCenter:
      - US_EAST_1
    status:
      code: 200
      message: OK
version: 1
