interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online
  response:
    body:
      string: '{"contactAdmin":{"addressMailing":{"address1":"h4drien@gmail.com","address2":"","city":"Suresnes","country":"FR","postalCode":"92150","state":"Hauts-De-Seine"},"email":"ferrand.ad@gmail.com","fax":"","nameFirst":"Adrien","nameLast":"Ferrand","organization":"","phone":"+33.0674653958"},"contactBilling":{"addressMailing":{"address1":"h4drien@gmail.com","address2":"","city":"Suresnes","country":"FR","postalCode":"92150","state":"Hauts-De-Seine"},"email":"ferrand.ad@gmail.com","fax":"","nameFirst":"Adrien","nameLast":"Ferrand","organization":"","phone":"+33.0674653958"},"contactRegistrant":{"addressMailing":{"address1":"h4drien@gmail.com","address2":"","city":"Suresnes","country":"FR","postalCode":"92150","state":"Hauts-De-Seine"},"email":"ferrand.ad@gmail.com","fax":"","nameFirst":"Adrien","nameLast":"Ferrand","organization":"","phone":"+33.0674653958"},"contactTech":{"addressMailing":{"address1":"h4drien@gmail.com","address2":"","city":"Suresnes","country":"FR","postalCode":"92150","state":"Hauts-De-Seine"},"email":"ferrand.ad@gmail.com","fax":"","nameFirst":"Adrien","nameLast":"Ferrand","organization":"","phone":"+33.0674653958"},"createdAt":"2020-06-13T21:43:05.000Z","domain":"fullm3tal.online","domainId":320256437,"expirationProtected":false,"expires":"2021-06-13T23:59:59.000Z","exposeWhois":false,"holdRegistrar":false,"locked":true,"nameServers":["ns71.domaincontrol.com","ns72.domaincontrol.com"],"privacy":false,"renewAuto":true,"renewDeadline":"2021-07-28T14:43:02.000Z","renewable":true,"status":"ACTIVE","transferAwayEligibleAt":"2020-08-12T21:43:05.000Z","transferProtected":false}

        '
    headers:
      Content-Type:
      - application/json
      X-DataCenter:
      - PHX3
    status:
      code: 203
      message: Non-Authoritative Information
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online/records
  response:
    body:
      string: '[{"data":"127.0.0.1","name":"localhost","ttl":3600,"type":"A"},{"data":"ns71.domaincontrol.com","name":"@","ttl":3600,"type":"NS"},{"data":"ns72.domaincontrol.com","name":"@","ttl":3600,"type":"NS"},{"data":"_domainconnect.gd.domaincontrol.com","name":"_domainconnect","ttl":3600,"type":"CNAME"}]

        '
    headers:
      Content-Type:
      - application/json
      X-DataCenter:
      - PHX3
    status:
      code: 200
      message: OK
- request:
    body: '[{"data": "127.0.0.1", "name": "localhost", "ttl": 3600, "type": "A"},
      {"data": "ns71.domaincontrol.com", "name": "@", "ttl": 3600, "type": "NS"},
      {"data": "ns72.domaincontrol.com", "name": "@", "ttl": 3600, "type": "NS"},
      {"data": "_domainconnect.gd.domaincontrol.com", "name": "_domainconnect", "ttl":
      3600, "type": "CNAME"}, {"type": "CNAME", "name": "docs", "data": "docs.example.com",
      "ttl": 3600}]'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.godaddy.com/v1/domains/fullm3tal.online/records
  response:
    body:
      string: ''
    headers:
      X-DataCenter:
      - PHX3
    status:
      code: 200
      message: OK
version: 1
