interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v5/domains/thisisadomainidonotown.com
  response:
    body:
      string: '{"error":{"code":"not_found","message":"Domain name `thisisadomainidonotown.com`
        not found","name":"thisisadomainidonotown.com"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Remaining:
      - '498'
      X-RateLimit-Reset:
      - '1628539494'
      x-vercel-id:
      - sfo1::grcrn-1628539435489-810ed5f2592a
    status:
      code: 404
      message: Not Found
version: 1
