interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v5/domains/fullcr1stal.tk
  response:
    body:
      string: '{"domain":{"boughtAt":null,"configVerifiedAt":null,"createdAt":1628537900675,"expiresAt":null,"id":"QmV6itdBxJrSzPWWiQaSfQwb1nFYXem2c5qLjrjUGrW9yE","name":"fullcr1stal.tk","nsVerifiedAt":null,"serviceType":"na","transferredAt":null,"txtVerifiedAt":null,"verificationRecord":"3bhJ7Zwugm","cdnEnabled":true,"verified":true,"nameservers":[],"intendedNameservers":["ns1.vercel-dns.com","ns2.vercel-dns.com"],"creator":{"id":"rx5Jv1UNgWHvquEx7wuQYFBp","customerId":"cus_DBCzKtynJhunrQ","email":"ferrand.ad@gmail.com","username":"adferrand","name":"Adrien
        Ferrand"},"zone":true,"suffix":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Remaining:
      - '495'
      X-RateLimit-Reset:
      - '1628539494'
      x-vercel-id:
      - sfo1::hcj5h-1628539440399-dda1fc22ec7b
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v4/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"records":[{"id":"rec_74e2fcc96339e934107478b8","slug":"docs.fullcr1stal.tk.-address","name":"docs","type":"CNAME","value":"docs.example.com.","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539439671,"updated":1628539439671,"createdAt":1628539439671,"updatedAt":1628539439671,"ttl":60},{"id":"rec_455cf05a3f163a552ae8e512","slug":"localhost.fullcr1stal.tk.-address-127.0.0.1","name":"localhost","type":"A","value":"127.0.0.1","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539437465,"updated":1628539437465,"createdAt":1628539437465,"updatedAt":1628539437465,"ttl":60},{"id":"rec_dc6235119be4c8e5b98b7502","slug":"","name":"*","type":"CNAME","value":"cname.vercel-dns.com.","creator":"system","created":1628537900677,"updated":1628537900677,"createdAt":1628537900677,"updatedAt":1628537900677,"ttl":60},{"id":"rec_502046ca03f9be3af4d95edd","slug":"","name":"","type":"A","value":"76.76.21.21","creator":"system","created":1628537900676,"updated":1628537900676,"createdAt":1628537900676,"updatedAt":1628537900676,"ttl":60},{"id":"rec_0fefbcf9e6884c6768eb7c63","slug":"","name":"","type":"CAA","value":"0
        issue \"letsencrypt.org\"","creator":"system","created":1628537900675,"updated":1628537900675,"createdAt":1628537900675,"updatedAt":1628537900675,"ttl":60}],"pagination":{"count":5,"next":1628537900675,"prev":1628539439671}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-vercel-id:
      - sfo1::wsh6z-1628539441094-cda2ba9f7959
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "TXT", "name": "_acme-challenge.fqdn", "value": "challengetoken"}'
    headers:
    method: POST
    uri: https://api.vercel.com/v2/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"uid":"rec_734d6e2d48540e538e0b5039"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '95'
      X-RateLimit-Reset:
      - '1628542094'
      x-vercel-id:
      - sfo1::9dkdj-1628539441871-1c11541ef5cb
      x-vercel-link-create-domain-record:
      - https://vercel.link/configure-vercel-nameservers
      x-vercel-warning-create-domain-record:
      - Your Domain isn't using Vercel nameservers. In order for the changes to your
        DNS Records to get applied, however, it needs to.
    status:
      code: 200
      message: OK
version: 1
