interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v5/domains/fullcr1stal.tk
  response:
    body:
      string: '{"domain":{"boughtAt":null,"configVerifiedAt":null,"createdAt":1628537900675,"expiresAt":null,"id":"QmV6itdBxJrSzPWWiQaSfQwb1nFYXem2c5qLjrjUGrW9yE","name":"fullcr1stal.tk","nsVerifiedAt":null,"serviceType":"na","transferredAt":null,"txtVerifiedAt":null,"verificationRecord":"3bhJ7Zwugm","cdnEnabled":true,"verified":true,"nameservers":[],"intendedNameservers":["ns1.vercel-dns.com","ns2.vercel-dns.com"],"creator":{"id":"rx5Jv1UNgWHvquEx7wuQYFBp","customerId":"cus_DBCzKtynJhunrQ","email":"ferrand.ad@gmail.com","username":"adferrand","name":"Adrien
        Ferrand"},"zone":true,"suffix":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Remaining:
      - '493'
      X-RateLimit-Reset:
      - '1628539494'
      x-vercel-id:
      - sfo1::mdrs9-1628539444754-3dc8582b83c4
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v4/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"records":[{"id":"rec_6c1a93b78f1b2c4bfd867c80","slug":"_acme-challenge.full.fullcr1stal.tk.-text-41f55c2548","name":"_acme-challenge.full","type":"TXT","value":"challengetoken","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539444005,"updated":1628539444005,"createdAt":1628539444005,"updatedAt":1628539444005,"ttl":60},{"id":"rec_734d6e2d48540e538e0b5039","slug":"_acme-challenge.fqdn.fullcr1stal.tk.-text-41f55c2548","name":"_acme-challenge.fqdn","type":"TXT","value":"challengetoken","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539441992,"updated":1628539441992,"createdAt":1628539441992,"updatedAt":1628539441992,"ttl":60},{"id":"rec_74e2fcc96339e934107478b8","slug":"docs.fullcr1stal.tk.-address","name":"docs","type":"CNAME","value":"docs.example.com.","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":162[...]
- request:
    body: '{"type": "TXT", "name": "_acme-challenge.test", "value": "challengetoken"}'
    headers:
    method: POST
    uri: https://api.vercel.com/v2/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"uid":"rec_c6cd1b0dd7f0c818feff6aef"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '93'
      X-RateLimit-Reset:
      - '1628542094'
      x-vercel-id:
      - sfo1::v6s44-1628539446269-fbc036f9c6fa
      x-vercel-link-create-domain-record:
      - https://vercel.link/configure-vercel-nameservers
      x-vercel-warning-create-domain-record:
      - Your Domain isn't using Vercel nameservers. In order for the changes to your
        DNS Records to get applied, however, it needs to.
    status:
      code: 200
      message: OK
version: 1
