interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v5/domains/fullcr1stal.tk
  response:
    body:
      string: '{"domain":{"boughtAt":null,"configVerifiedAt":null,"createdAt":1628537900675,"expiresAt":null,"id":"QmV6itdBxJrSzPWWiQaSfQwb1nFYXem2c5qLjrjUGrW9yE","name":"fullcr1stal.tk","nsVerifiedAt":null,"serviceType":"na","transferredAt":null,"txtVerifiedAt":null,"verificationRecord":"3bhJ7Zwugm","cdnEnabled":true,"verified":true,"nameservers":[],"intendedNameservers":["ns1.vercel-dns.com","ns2.vercel-dns.com"],"creator":{"id":"rx5Jv1UNgWHvquEx7wuQYFBp","customerId":"cus_DBCzKtynJhunrQ","email":"ferrand.ad@gmail.com","username":"adferrand","name":"Adrien
        Ferrand"},"zone":true,"suffix":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Remaining:
      - '496'
      X-RateLimit-Reset:
      - '1628539494'
      x-vercel-id:
      - sfo1::v6s44-1628539438225-0a727b75f2b9
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v4/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"records":[{"id":"rec_455cf05a3f163a552ae8e512","slug":"localhost.fullcr1stal.tk.-address-127.0.0.1","name":"localhost","type":"A","value":"127.0.0.1","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539437465,"updated":1628539437465,"createdAt":1628539437465,"updatedAt":1628539437465,"ttl":60},{"id":"rec_dc6235119be4c8e5b98b7502","slug":"","name":"*","type":"CNAME","value":"cname.vercel-dns.com.","creator":"system","created":1628537900677,"updated":1628537900677,"createdAt":1628537900677,"updatedAt":1628537900677,"ttl":60},{"id":"rec_502046ca03f9be3af4d95edd","slug":"","name":"","type":"A","value":"76.76.21.21","creator":"system","created":1628537900676,"updated":1628537900676,"createdAt":1628537900676,"updatedAt":1628537900676,"ttl":60},{"id":"rec_0fefbcf9e6884c6768eb7c63","slug":"","name":"","type":"CAA","value":"0
        issue \"letsencrypt.org\"","creator":"system","created":1628537900675,"updated":1628537900675,"createdAt":1628537900675,"updatedAt":1628537900675,"ttl":60}],"pagination":{"count":4,"next":1628537900675,"prev":1628539437465}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-vercel-id:
      - sfo1::252bm-1628539438839-537a3ca5c785
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "CNAME", "name": "docs", "value": "docs.example.com"}'
    headers:
    method: POST
    uri: https://api.vercel.com/v2/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"uid":"rec_74e2fcc96339e934107478b8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '96'
      X-RateLimit-Reset:
      - '1628542094'
      x-vercel-id:
      - sfo1::w5kmr-1628539439547-f335c132ce99
      x-vercel-link-create-domain-record:
      - https://vercel.link/configure-vercel-nameservers
      x-vercel-warning-create-domain-record:
      - Your Domain isn't using Vercel nameservers. In order for the changes to your
        DNS Records to get applied, however, it needs to.
    status:
      code: 200
      message: OK
version: 1
