interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v5/domains/fullcr1stal.tk
  response:
    body:
      string: '{"domain":{"boughtAt":null,"configVerifiedAt":null,"createdAt":1628537900675,"expiresAt":null,"id":"QmV6itdBxJrSzPWWiQaSfQwb1nFYXem2c5qLjrjUGrW9yE","name":"fullcr1stal.tk","nsVerifiedAt":null,"serviceType":"na","transferredAt":null,"txtVerifiedAt":null,"verificationRecord":"3bhJ7Zwugm","cdnEnabled":true,"verified":true,"nameservers":[],"intendedNameservers":["ns1.vercel-dns.com","ns2.vercel-dns.com"],"creator":{"id":"rx5Jv1UNgWHvquEx7wuQYFBp","customerId":"cus_DBCzKtynJhunrQ","email":"ferrand.ad@gmail.com","username":"adferrand","name":"Adrien
        Ferrand"},"zone":true,"suffix":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Remaining:
      - '484'
      X-RateLimit-Reset:
      - '1628539494'
      x-vercel-id:
      - sfo1::hcj5h-1628539485164-7c03300678eb
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v4/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"records":[{"id":"rec_3d808396670032e7f5a5d49a","slug":"_acme-challenge.deleterecordinset.fullcr1stal.tk.-text-59e30531ae","name":"_acme-challenge.deleterecordinset","type":"TXT","value":"challengetoken2","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539475602,"updated":1628539475602,"createdAt":1628539475602,"updatedAt":1628539475602,"ttl":60},{"id":"rec_be01d9d4933bedb9deef397f","slug":"_acme-challenge.noop.fullcr1stal.tk.-text-41f55c2548","name":"_acme-challenge.noop","type":"TXT","value":"challengetoken","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539451988,"updated":1628539472005,"createdAt":1628539451988,"updatedAt":1628539472005,"ttl":60},{"id":"rec_34321fb6c253c19c337eb29d","slug":"_acme-challenge.createrecordset.fullcr1stal.tk.-text-59e30531ae","name":"_acme-challenge.createrecordset","type":"TXT","value":"challenge[...]
- request:
    body: '{"type": "TXT", "name": "_acme-challenge.listrecordset", "value": "challengetoken1"}'
    headers:
    method: POST
    uri: https://api.vercel.com/v2/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"uid":"rec_186f2e329a54c3e0ff9bd5d5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '81'
      X-RateLimit-Reset:
      - '1628542094'
      x-vercel-id:
      - sfo1::lwwtp-1628539486781-1cdad7c99a65
      x-vercel-link-create-domain-record:
      - https://vercel.link/configure-vercel-nameservers
      x-vercel-warning-create-domain-record:
      - Your Domain isn't using Vercel nameservers. In order for the changes to your
        DNS Records to get applied, however, it needs to.
    status:
      code: 200
      message: OK
[...]
