interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v5/domains/fullcr1stal.tk
  response:
    body:
      string: '{"domain":{"boughtAt":null,"configVerifiedAt":null,"createdAt":1628537900675,"expiresAt":null,"id":"QmV6itdBxJrSzPWWiQaSfQwb1nFYXem2c5qLjrjUGrW9yE","name":"fullcr1stal.tk","nsVerifiedAt":null,"serviceType":"na","transferredAt":null,"txtVerifiedAt":null,"verificationRecord":"3bhJ7Zwugm","cdnEnabled":true,"verified":true,"nameservers":[],"intendedNameservers":["ns1.vercel-dns.com","ns2.vercel-dns.com"],"creator":{"id":"rx5Jv1UNgWHvquEx7wuQYFBp","customerId":"cus_DBCzKtynJhunrQ","email":"ferrand.ad@gmail.com","username":"adferrand","name":"Adrien
        Ferrand"},"zone":true,"suffix":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Remaining:
      - '483'
      X-RateLimit-Reset:
      - '1628539496'
      x-vercel-id:
      - sfo1::k8dh5-1628539495675-af3725374ce6
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v4/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"records":[{"id":"rec_c164ed27be413d232dea62fe","slug":"random.fulltest.fullcr1stal.tk.-text-41f55c2548","name":"random.fulltest","type":"TXT","value":"challengetoken","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539494165,"updated":1628539494165,"createdAt":1628539494165,"updatedAt":1628539494165,"ttl":60},{"id":"rec_f870bfa5740a49dab2ee6c77","slug":"random.fqdntest.fullcr1stal.tk.-text-41f55c2548","name":"random.fqdntest","type":"TXT","value":"challengetoken","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539491391,"updated":1628539491391,"createdAt":1628539491391,"updatedAt":1628539491391,"ttl":60},{"id":"rec_f8f8b9983c93bafba3aa5f73","slug":"_acme-challenge.listrecordset.fullcr1stal.tk.-text-59e30531ae","name":"_acme-challenge.listrecordset","type":"TXT","value":"challengetoken2","creat[...]
