interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v5/domains/fullcr1stal.tk
  response:
    body:
      string: '{"domain":{"boughtAt":null,"configVerifiedAt":null,"createdAt":1628537900675,"expiresAt":null,"id":"QmV6itdBxJrSzPWWiQaSfQwb1nFYXem2c5qLjrjUGrW9yE","name":"fullcr1stal.tk","nsVerifiedAt":null,"serviceType":"na","transferredAt":null,"txtVerifiedAt":null,"verificationRecord":"3bhJ7Zwugm","cdnEnabled":true,"verified":true,"nameservers":[],"intendedNameservers":["ns1.vercel-dns.com","ns2.vercel-dns.com"],"creator":{"id":"rx5Jv1UNgWHvquEx7wuQYFBp","customerId":"cus_DBCzKtynJhunrQ","email":"ferrand.ad@gmail.com","username":"adferrand","name":"Adrien
        Ferrand"},"zone":true,"suffix":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Remaining:
      - '492'
      X-RateLimit-Reset:
      - '1628539494'
      x-vercel-id:
      - sfo1::bqppw-1628539447032-ffd5f5d92d2d
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v4/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"records":[{"id":"rec_c6cd1b0dd7f0c818feff6aef","slug":"_acme-challenge.test.fullcr1stal.tk.-text-41f55c2548","name":"_acme-challenge.test","type":"TXT","value":"challengetoken","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539446378,"updated":1628539446378,"createdAt":1628539446378,"updatedAt":1628539446378,"ttl":60},{"id":"rec_6c1a93b78f1b2c4bfd867c80","slug":"_acme-challenge.full.fullcr1stal.tk.-text-41f55c2548","name":"_acme-challenge.full","type":"TXT","value":"challengetoken","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539444005,"updated":1628539444005,"createdAt":1628539444005,"updatedAt":1628539444005,"ttl":60},{"id":"rec_734d6e2d48540e538e0b5039","slug":"_acme-challenge.fqdn.fullcr1stal.tk.-text-41f55c2548","name":"_acme-challenge.fqdn","type":"TXT","value":"challengetoken","creator":"rx5J[...]
- request:
    body: '{"type": "TXT", "name": "_acme-challenge.createrecordset", "value": "challengetoken1"}'
    headers:
    method: POST
    uri: https://api.vercel.com/v2/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"uid":"rec_49160e9b31b0298643dc43f6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '92'
      X-RateLimit-Reset:
      - '1628542094'
      x-vercel-id:
      - sfo1::f5qfq-1628539448271-c6efb108a77d
      x-vercel-link-create-domain-record:
      - https://vercel.link/configure-vercel-nameservers
      x-vercel-warning-create-domain-record:
      - Your Domain isn't using Vercel nameservers. In order for the changes to your
        DNS Records to get applied, however, it needs to.
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "TXT", "name": "_acme-challenge.createrecordset", "value": "challengetoken2"}'
    headers:
    method: POST
    uri: https://api.vercel.com/v2/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"uid":"rec_34321fb6c253c19c337eb29d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '91'
      X-RateLimit-Reset:
      - '1628542094'
      x-vercel-id:
      - sfo1::k8dh5-1628539449816-aebc40a2cc06
      x-vercel-link-create-domain-record:
      - https://vercel.link/configure-vercel-nameservers
      x-vercel-warning-create-domain-record:
      - Your Domain isn't using Vercel nameservers. In order for the changes to your
        DNS Records to get applied, however, it needs to.
    status:
      code: 200
      message: OK
version: 1
