interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v5/domains/fullcr1stal.tk
  response:
    body:
      string: '{"domain":{"boughtAt":null,"configVerifiedAt":null,"createdAt":1628537900675,"expiresAt":null,"id":"QmV6itdBxJrSzPWWiQaSfQwb1nFYXem2c5qLjrjUGrW9yE","name":"fullcr1stal.tk","nsVerifiedAt":null,"serviceType":"na","transferredAt":null,"txtVerifiedAt":null,"verificationRecord":"3bhJ7Zwugm","cdnEnabled":true,"verified":true,"nameservers":[],"intendedNameservers":["ns1.vercel-dns.com","ns2.vercel-dns.com"],"creator":{"id":"rx5Jv1UNgWHvquEx7wuQYFBp","customerId":"cus_DBCzKtynJhunrQ","email":"ferrand.ad@gmail.com","username":"adferrand","name":"Adrien
        Ferrand"},"zone":true,"suffix":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Remaining:
      - '485'
      X-RateLimit-Reset:
      - '1628539519'
      x-vercel-id:
      - sfo1::wbkkk-1628539516679-2db5f5238416
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v4/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"records":[{"id":"rec_d52d614a6383791e110642a7","slug":"updated.testfqdn.fullcr1stal.tk.-text-41f55c2548","name":"updated.testfqdn","type":"TXT","value":"challengetoken","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539515285,"updated":1628539515285,"createdAt":1628539515285,"updatedAt":1628539515285,"ttl":60},{"id":"rec_fd6d5127d2fc3e0c1091cbcd","slug":"orig.nameonly.test.fullcr1stal.tk.-text-27eb5e5150","name":"orig.nameonly.test","type":"TXT","value":"updated","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539510510,"updated":1628539510510,"createdAt":1628539510510,"updatedAt":1628539510510,"ttl":60},{"id":"rec_8b149a6a0b191e41e473a716","slug":"updated.test.fullcr1stal.tk.-text-41f55c2548","name":"updated.test","type":"TXT","value":"challengetoken","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","crea[...]
- request:
    body: '{"type": "TXT", "name": "orig.testfull", "value": "challengetoken"}'
    headers:
    method: POST
    uri: https://api.vercel.com/v2/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"uid":"rec_208f56a2f97c02e38a87511a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '70'
      X-RateLimit-Reset:
      - '1628542094'
      x-vercel-id:
      - sfo1::4k86p-1628539518063-298d928aee74
      x-vercel-link-create-domain-record:
      - https://vercel.link/configure-vercel-nameservers
      x-vercel-warning-create-domain-record:
      - Your Domain isn't using Vercel nameservers. In order for the changes to your
        DNS Records to get applied, however, it needs to.
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.vercel.com/v2/domains/fullcr1stal.tk/records/rec_208f56a2f97c02e38a87511a
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-vercel-id:
      - sfo1::mdrs9-1628539520959-c5422328544e
    status:
      code: 200
      message: OK
version: 1
