interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v5/domains/fullcr1stal.tk
  response:
    body:
      string: '{"domain":{"boughtAt":null,"configVerifiedAt":null,"createdAt":1628537900675,"expiresAt":null,"id":"QmV6itdBxJrSzPWWiQaSfQwb1nFYXem2c5qLjrjUGrW9yE","name":"fullcr1stal.tk","nsVerifiedAt":null,"serviceType":"na","transferredAt":null,"txtVerifiedAt":null,"verificationRecord":"3bhJ7Zwugm","cdnEnabled":true,"verified":true,"nameservers":[],"intendedNameservers":["ns1.vercel-dns.com","ns2.vercel-dns.com"],"creator":{"id":"rx5Jv1UNgWHvquEx7wuQYFBp","customerId":"cus_DBCzKtynJhunrQ","email":"ferrand.ad@gmail.com","username":"adferrand","name":"Adrien
        Ferrand"},"zone":true,"suffix":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Remaining:
      - '488'
      X-RateLimit-Reset:
      - '1628539494'
      x-vercel-id:
      - sfo1::v6s44-1628539464077-bdc30882b0ac
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v4/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"records":[{"id":"rec_be01d9d4933bedb9deef397f","slug":"_acme-challenge.noop.fullcr1stal.tk.-text-41f55c2548","name":"_acme-challenge.noop","type":"TXT","value":"challengetoken","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539451988,"updated":1628539451988,"createdAt":1628539451988,"updatedAt":1628539451988,"ttl":60},{"id":"rec_34321fb6c253c19c337eb29d","slug":"_acme-challenge.createrecordset.fullcr1stal.tk.-text-59e30531ae","name":"_acme-challenge.createrecordset","type":"TXT","value":"challengetoken2","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539449896,"updated":1628539449896,"createdAt":1628539449896,"updatedAt":1628539449896,"ttl":60},{"id":"rec_49160e9b31b0298643dc43f6","slug":"_acme-challenge.createrecordset.fullcr1stal.tk.-text-afaee04509","name":"_acme-challenge.createrecordset","type":"[...]
- request:
    body: '{"type": "TXT", "name": "delete.testfull", "value": "challengetoken"}'
    headers:
    method: POST
    uri: https://api.vercel.com/v2/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"uid":"rec_7c1d3955460c88b27b50fee7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '87'
      X-RateLimit-Reset:
      - '1628542094'
      x-vercel-id:
      - sfo1::tdhfd-1628539465465-500c277c3660
      x-vercel-link-create-domain-record:
      - https://vercel.link/configure-vercel-nameservers
      x-vercel-warning-create-domain-record:
      - Your Domain isn't using Vercel nameservers. In order for the changes to your
        DNS Records to get applied, however, it needs to.
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.vercel.com/v2/domains/fullcr1stal.tk/records/rec_7c1d3955460c88b27b50fee7
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-vercel-id:
      - sfo1::k8dh5-1628539466865-3e4d06b44fae
    status:
      code: 200
      message: OK
[...]
