interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v5/domains/fullcr1stal.tk
  response:
    body:
      string: '{"domain":{"boughtAt":null,"configVerifiedAt":null,"createdAt":1628537900675,"expiresAt":null,"id":"QmV6itdBxJrSzPWWiQaSfQwb1nFYXem2c5qLjrjUGrW9yE","name":"fullcr1stal.tk","nsVerifiedAt":null,"serviceType":"na","transferredAt":null,"txtVerifiedAt":null,"verificationRecord":"3bhJ7Zwugm","cdnEnabled":true,"verified":true,"nameservers":[],"intendedNameservers":["ns1.vercel-dns.com","ns2.vercel-dns.com"],"creator":{"id":"rx5Jv1UNgWHvquEx7wuQYFBp","customerId":"cus_DBCzKtynJhunrQ","email":"ferrand.ad@gmail.com","username":"adferrand","name":"Adrien
        Ferrand"},"zone":true,"suffix":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Remaining:
      - '485'
      X-RateLimit-Reset:
      - '1628539514'
      x-vercel-id:
      - sfo1::6rcfs-1628539511830-f31c0c73a945
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://api.vercel.com/v4/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"records":[{"id":"rec_fd6d5127d2fc3e0c1091cbcd","slug":"orig.nameonly.test.fullcr1stal.tk.-text-27eb5e5150","name":"orig.nameonly.test","type":"TXT","value":"updated","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539510510,"updated":1628539510510,"createdAt":1628539510510,"updatedAt":1628539510510,"ttl":60},{"id":"rec_8b149a6a0b191e41e473a716","slug":"updated.test.fullcr1stal.tk.-text-41f55c2548","name":"updated.test","type":"TXT","value":"challengetoken","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":1628539505261,"updated":1628539505261,"createdAt":1628539505261,"updatedAt":1628539505261,"ttl":60},{"id":"rec_6b46e316cd0b0cca4760de9e","slug":"random.test.fullcr1stal.tk.-text-41f55c2548","name":"random.test","type":"TXT","value":"challengetoken","creator":"rx5Jv1UNgWHvquEx7wuQYFBp","created":16[...]
- request:
    body: '{"type": "TXT", "name": "orig.testfqdn", "value": "challengetoken"}'
    headers:
    method: POST
    uri: https://api.vercel.com/v2/domains/fullcr1stal.tk/records
  response:
    body:
      string: '{"uid":"rec_35e06a68b16438c81b4eca36"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '72'
      X-RateLimit-Reset:
      - '1628542094'
      x-vercel-id:
      - sfo1::nwwdn-1628539513146-46240607e2a1
      x-vercel-link-create-domain-record:
      - https://vercel.link/configure-vercel-nameservers
      x-vercel-warning-create-domain-record:
      - Your Domain isn't using Vercel nameservers. In order for the changes to your
        DNS Records to get applied, however, it needs to.
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
    method: DELETE
    uri: https://api.vercel.com/v2/domains/fullcr1stal.tk/records/rec_35e06a68b16438c81b4eca36
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-vercel-id:
      - sfo1::tdhfd-1628539516014-ca583a3e043e
    status:
      code: 200
      message: OK
version: 1
