interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.nearlyfreespeech.net/dns/koupia.xyz/listRRs
  response:
    body: {string: '[{"name":"","type":"NS","data":"ns.phx5.nearlyfreespeech.net.","ttl":86400,"scope":"system"},{"name":"","type":"NS","data":"ns.phx7.nearlyfreespeech.net.","ttl":86400,"scope":"system"},{"name":"docs","type":"CNAME","data":"docs.example.com","ttl":3600,"scope":"member"},{"name":"localhost","type":"A","data":"127.0.0.1","ttl":3600,"scope":"member"},{"name":"orig.nameonly.test","type":"TXT","data":"updated","ttl":3600,"scope":"member"},{"name":"random.fqdntest","type":"TXT","data":"challengetoken","ttl":3600,"scope":"member"},{"name":"random.fulltest","type":"TXT","data":"challen[...]
- request:
    body: type=TXT&name=orig.testfull&data=challengetoken
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.nearlyfreespeech.net/dns/koupia.xyz/listRRs
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/x-nfsn-api]
      X-NFSN-Timestamp: ['1539663939']
    status: {code: 200, message: OK}
- request:
    body: name=orig.testfull&type=TXT&data=challengetoken&ttl=3600
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.nearlyfreespeech.net/dns/koupia.xyz/addRR
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/x-nfsn-api]
      X-NFSN-Timestamp: ['1539663940']
    status: {code: 200, message: OK}
[...]
- request:
    body: name=orig.testfull&type=TXT&data=challengetoken
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.nearlyfreespeech.net/dns/koupia.xyz/removeRR
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/x-nfsn-api]
      X-NFSN-Timestamp: ['1539663943']
    status: {code: 200, message: OK}
- request:
    body: name=updated.testfull&type=TXT&data=challengetoken&ttl=3600
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.nearlyfreespeech.net/dns/koupia.xyz/addRR
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/x-nfsn-api]
      X-NFSN-Timestamp: ['1539663946']
    status: {code: 200, message: OK}
version: 1
