interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.nearlyfreespeech.net/dns/koupia.xyz/listRRs
  response:
    body: {string: '[{"name":"","type":"NS","data":"ns.phx5.nearlyfreespeech.net.","ttl":86400,"scope":"system"},{"name":"","type":"NS","data":"ns.phx7.nearlyfreespeech.net.","ttl":86400,"scope":"system"},{"name":"docs","type":"CNAME","data":"docs.example.com","ttl":3600,"scope":"member"},{"name":"localhost","type":"A","data":"127.0.0.1","ttl":3600,"scope":"member"},{"name":"_acme-challenge.createrecordset","type":"TXT","data":"challengetoken1","ttl":3600,"scope":"member"},{"name":"_acme-challenge.createrecordset","type":"TXT","data":"challengetoken2","ttl":3600,"scope":"member"},{"name":"_acme-challenge.fqdn","type":"TXT","data":"challengetoken","ttl":3600,"scope":"member"},{"name":"_acme-challenge.full","type":"TXT","data":"challengetoken","ttl":3600,"scope":"member"},{"name":"_acme-challenge.noop","type":"TXT","data":"challengetoken","ttl":3600,"scope":"member"},{"name":"_acme-challenge.test","type":"TXT","data":"challengetoken","ttl":3600,"scope":"member"}]'}
    headers:
      Content-Type: [application/x-nfsn-api]
      X-NFSN-Timestamp: ['1539663851']
    status: {code: 200, message: OK}
[...]
- request:
    body: name=delete.testid&type=TXT&data=challengetoken&ttl=3600
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.nearlyfreespeech.net/dns/koupia.xyz/addRR
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/x-nfsn-api]
      X-NFSN-Timestamp: ['1539663852']
    status: {code: 200, message: OK}
[...]
- request:
    body: name=delete.testid&type=TXT&data=challengetoken
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.nearlyfreespeech.net/dns/koupia.xyz/removeRR
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/x-nfsn-api]
      X-NFSN-Timestamp: ['1539663855']
    status: {code: 200, message: OK}
- request:
    body: type=TXT&name=delete.testid
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.nearlyfreespeech.net/dns/koupia.xyz/listRRs
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/x-nfsn-api]
      X-NFSN-Timestamp: ['1539663858']
    status: {code: 200, message: OK}
version: 1
