interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.nearlyfreespeech.net/dns/koupia.xyz/listRRs
  response:
    body: {string: '[{"name":"","type":"NS","data":"ns.phx5.nearlyfreespeech.net.","ttl":86400,"scope":"system"},{"name":"","type":"NS","data":"ns.phx7.nearlyfreespeech.net.","ttl":86400,"scope":"system"}]'}
    headers:
      Content-Type: [application/x-nfsn-api]
      X-NFSN-Timestamp: ['1539663798']
    status: {code: 200, message: OK}
version: 1
