interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.nearlyfreespeech.net/dns/koupia.xyz/listRRs
  response:
    body: {string: '[{"name":"","type":"NS","data":"ns.phx5.nearlyfreespeech.net.","ttl":86400,"scope":"system"},{"name":"","type":"NS","data":"ns.phx7.nearlyfreespeech.net.","ttl":86400,"scope":"system"}]'}
    headers:
      Content-Type: [application/x-nfsn-api]
      X-NFSN-Timestamp: ['1539663799']
    status: {code: 200, message: OK}
[...]
- request:
    body: name=localhost&type=A&data=127.0.0.1&ttl=3600
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.nearlyfreespeech.net/dns/koupia.xyz/addRR
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/x-nfsn-api]
      X-NFSN-Timestamp: ['1539663799']
    status: {code: 200, message: OK}
version: 1
