interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.porkbun.com/api/json/v3/ping
  response:
    body:
      string: '{"status":"SUCCESS","yourIp":"8.8.8.8","xForwardedFor":"8.8.8.8"}'
    headers:
      Content-Language:
      - en-US, en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.porkbun.com/api/json/v3/dns/retrieve/thisisadomainidonotown.com
  response:
    body:
      string: '{"status":"ERROR","message":"Invalid domain."}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: ''
version: 1
