interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://porkbun.com/api/json/v3/ping
  response:
    body:
      string: '{"status":"SUCCESS","yourIp":"8.8.8.8"}'
    headers:
      Content-Language:
      - en-US, en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://porkbun.com/api/json/v3/dns/retrieve/example.xyz
  response:
    body:
      string: '{"status":"SUCCESS","cloudflare":"disabled","records":[{"id":"236096065","name":"example.xyz","type":"A","content":"8.8.8.8","ttl":"600","prio":"0"},{"id":"236238296","name":"www.example.xyz","type":"A","content":"8.8.8.8","ttl":"600","prio":"0"},{"id":"236272619","name":"localhost.example.xyz","type":"A","content":"127.0.0.1","ttl":"3600","prio":"0"},{"id":"230514990","name":"example.xyz","type":"ALIAS","content":"pixie.porkbun.com","ttl":"600","prio":null},{"id":"230514991","name":"www.example.xyz","type":"ALIAS","content":"pixie.porkbun.com","ttl":"600","prio":null},{"id":"230514992","name":"*.example.xyz","type":"CNAME","content":"p[...]
[...]
- request:
    body: '{"type": "TXT", "content": "challengetoken", "name": "random.test", "ttl":
      3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://porkbun.com/api/json/v3/dns/create/example.xyz
  response:
    body:
      string: '{"status":"SUCCESS","id":236272921}'
    headers:
      Content-Language:
      - en-US, en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
