interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.porkbun.com/api/json/v3/ping
  response:
    body:
      string: '{"status":"SUCCESS","yourIp":"8.8.8.8","xForwardedFor":"8.8.8.8"}'
    headers:
      Content-Language:
      - en-US, en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.porkbun.com/api/json/v3/dns/retrieve/example.xyz
  response:
    body:
      string: '{"status":"SUCCESS","cloudflare":"enabled","records":[{"id":"432480875","name":"localhost.example.xyz","type":"A","content":"127.0.0.1","ttl":"3600","prio":"0","notes":null},{"id":"421658077","name":"example.xyz","type":"A","content":"8.8.8.8","ttl":"600","prio":"0","notes":null},{"id":"421671186","name":"*.example.xyz","type":"CNAME","content":"example.xyz","ttl":"600","prio":"0","notes":""},{"id":"432480882","name":"docs.example.xyz","type":"CNAME","content":"docs.example.com","ttl":"3600","prio":"0","notes":null},{"id":"421642428","name":"example.xyz","type":"NS","content":"maceio.porkbun.com","ttl":"86400","prio":null,"notes":null},{"id":"421642429","name"[...]
[...]
- request:
    body: '{"type": "TXT", "content": "challengetoken1", "name": "_acme-challenge.listrecordset",
      "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.porkbun.com/api/json/v3/dns/create/example.xyz
  response:
    body:
      string: '{"status":"SUCCESS","id":432481019}'
    headers:
      Content-Language:
      - en-US, en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
