interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://accounts.hetzner.com/login
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: ''
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://accounts.hetzner.com/login_check
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=UTF-8]
      Location: ['https://accounts.hetzner.com/']
    status: {code: 302, message: Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://accounts.hetzner.com/
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=UTF-8]
      Location: [/account/masterdata]
    status: {code: 302, message: Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://accounts.hetzner.com/account/masterdata
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://robot.your-server.de/
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: ['https://accounts.hetzner.com/oauth/authorize?client_id=robot_418&redirect_uri=https%3A%2F%2Frobot.your-server.de%2Flogin%2Fcheck&response_type=code&scope=openid&state=9bc058ba924954ae846f8ddc86a0873e']
    status: {code: 302, message: Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://accounts.hetzner.com/oauth/authorize?client_id=robot_418&redirect_uri=https%3A%2F%2Frobot.your-server.de%2Flogin%2Fcheck&response_type=code&scope=openid&state=9bc058ba924954ae846f8ddc86a0873e
  response:
    body: {string: None}
    headers:
      Content-Type: [application/json]
      Location: ['https://robot.your-server.de/login/check?code=a792a1f04c985153b61fc16e68b1ec52ec1f2fab&state=9bc058ba924954ae846f8ddc86a0873e']
    status: {code: 302, message: Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://robot.your-server.de/login/check?code=a792a1f04c985153b61fc16e68b1ec52ec1f2fab&state=9bc058ba924954ae846f8ddc86a0873e
  response:
    body: {string: None}
    headers:
      Content-Type: [text/html; charset=utf-8]
      Location: ['https://robot.your-server.de/']
    status: {code: 302, message: Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://robot.your-server.de/
  response:
    body: {string: "<div class=\"centercolumn\" id=\"center_col\">\n<div class=\"\
        centerpadding\">\n<a href=\"https://www.hetzner.de/storage/nextcloud?country=DE\"\
        \ onclick=\"var w=window.open(this.href);w.focus();return false;\"><img src=\"\
        /images/banner_nextcloud_de.jpg\"/></a>\n<p>Herzlich Willkommen auf Ihrer\
        \ Weboberfl\xE4che zur Serveradministration und Domainverwaltung.</p>\n<p>Bitte\
        \ werfen Sie einen Blick auf unsere aktuellen Angebote:</p>\n<div class=\"\
        box_top\"><table class=\"box_title_highlighted_no_hover box_title_no_hover\"\
        \ id=\"box_title_products_top\"><tr><td class=\"title\">Top Angebote</td></tr></table>\n\
        <div class=\"box_product\"><table class=\"box_title_no_hover\" id=\"box_title_912\"\
        ><tr><td class=\"title\">Dedicated Root Server EX41</td></tr></table><div\
        \ class=\"box_content_product\" id=\"content_912\"><div class=\"product_details\"\
        ><ul class=\"list\"><li class=\"list\">Intel\xAE Core\u2122 i7-6700 Quad-Core\
        \ Skylake</li><li class=\"list\">32 GB DDR4 RAM</li><li class=\"list\">2 x\
        \ 4 TB SATA 6 Gb/s Enterprise HDD; 7200 rpm (Software-RAID 1)</li><li class=\"\
        list\">1 Gbit/s Anbindung</li></ul><a href=\"https://www.hetzner.de/dedicated-rootserver/ex41?country=DE\"\
        >mehr Infos...</a></div><hr/><strong>Preis (monatl.): ab <span class=\"price\
        \ price_small\">40,46 \u20AC</span></strong><br/><strong>Setup (einmal): 94,01\
        \ \u20AC</strong><hr/><form action=\"/order/server\" id=\"order_912\" method=\"\
        post\"><input id=\"product\" name=\"product\" type=\"hidden\" value=\"912\"\
        /><input id=\"category\" name=\"category\" type=\"hidden\" value=\"rootserver\"\
        /><input class=\"button calltoaction\" type=\"submit\" value=\"Bestellen\"\
        /></form></div></div>\n<div class=\"box_product\"><table class=\"box_title_no_hover\"\
        \ id=\"box_title_937\"><tr><td class=\"title\">Dedicated Root Server PX61-SSD</td></tr></table><div\
        \ class=\"box_content_product\" id=\"content_937\"><[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://robot.your-server.de/dns/index/page/1
  response:
    body: {string: "<div class=\"centercolumn\" id=\"center_col\">\n<div class=\"\
        centerpadding\">\n<div id=\"search\">\n<form action=\"/dns\" class=\"quicksearch\"\
        \ id=\"quicksearch\" method=\"post\"> <select id=\"tld\" name=\"tld\">\n<option\
        \ selected=\"selected\" value=\"all\">alle TLDs</option>\n<option value=\"\
        DE\">.de</option>\n<option value=\"COM\">.com</option>\n<option value=\"NET\"\
        >.net</option>\n<option value=\"ORG\">.org</option>\n<option value=\"INFO\"\
        >.info</option>\n<option value=\"BIZ\">.biz</option>\n<option value=\"EU\"\
        >.eu</option>\n<option value=\"AT\">.at</option>\n</select> <select id=\"\
        status\" name=\"status\">\n<option selected=\"selected\" value=\"all\">alle\
        \ Status</option>\n<option value=\"fertig\">fertig</option>\n<option value=\"\
        in Bearbeitung\">in Bearbeitung</option>\n<option value=\"fehlerhaft\">gescheitert</option>\n\
        </select> <input id=\"text\" name=\"text\" onkeyup=\"javascript: this.blur();\
        \ this.focus(); document.getElementById('search_suggestion').style.visibility='visible';\"\
        \ type=\"text\" value=\"\"/> <input class=\"button calltoaction\" type=\"\
        submit\" value=\"Suchen\"/> </form>\n<div id=\"search_suggestion\"></div>\n\
        </div>\n<script>jQuery( document ).ready(function() {AjaxUpdater({\"update\"\
        :\"search_suggestion\",\"url\":\"dns/search\",\"script\":\"1\",\"watchElement\"\
        :\"quicksearch\",\"dataElement\":\"quicksearch\"});});</script>\n<hr/>\n<table\
        \ class=\"split_layout\">\n<tr>\n<td><input class=\"button\" onclick=\"javascript:\
        \ parent.location='/dns/create'\" type=\"button\" value=\"Neuer DNS-Eintrag\"\
        /><input class=\"button\" onclick=\"javascript: parent.location='/dns/nameserver'\"\
        \ type=\"button\" value=\"Registrierte Nameserver\"/><input class=\"button\"\
        \ onclick=\"javascript: parent.location='/dns/unused'\" type=\"button\" value=\"\
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://robot.your-server.de/dns/update/id/556218
  response:
    body: {string: "<div class=\"centercolumn\" id=\"center_col\">\n<div class=\"\
        centerpadding\">\n<form action=\"/dns/update\" id=\"dns556218\" method=\"\
        post\" onsubmit=\"AjaxUpdater({&quot;url&quot;:&quot;dns/update&quot;,&quot;update&quot;:&quot;data_556218&quot;,&quot;script&quot;:&quot;1&quot;,&quot;loading&quot;:&quot;addAjaxLoader(\\\
        'data_556218\\')&quot;,&quot;dataElement&quot;:&quot;dns556218&quot;}); return\
        \ false;\"> <table class=\"form\" id=\"form_table\">\n<tr>\n<td colspan=\"\
        2\">\n</td>\n</tr>\n<tr>\n<td class=\"label_req\">\n<label for=\"zonefile\"\
        >Zonefile</label>*        </td>\n<td class=\"element\">\n<textarea cols=\"\
        30\" id=\"zonefile\" name=\"zonefile\" rows=\"15\">$TTL 3600\n@   IN SOA ns1.first-ns.de.\
        \ postmaster.robot.first-ns.de. (\n    2018120654   ; serial\n    14400  \
        \      ; refresh\n    1800         ; retry\n    604800       ; expire\n  \
        \  86400 )      ; minimum\n \n@                  86400 IN NS      robotns3.second-ns.com.\n\
        @                  86400 IN NS      robotns2.second-ns.de.\n@            \
        \      86400 IN NS      ns1.first-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://robot.your-server.de/preferences/culture
  response:
    body: {string: "<div class=\"centercolumn\" id=\"center_col\">\n<div class=\"\
        centerpadding\">\n<form action=\"/preferences/culture\" id=\"culture\" method=\"\
        post\" onsubmit=\"AjaxUpdater({&quot;url&quot;:&quot;preferences/culture&quot;,&quot;update&quot;:&quot;data_1&quot;,&quot;script&quot;:&quot;1&quot;,&quot;loading&quot;:&quot;addAjaxLoader(\\\
[...]
- request:
    body: id=556218&zonefile=%40+3600+IN+SOA+ns1.first-ns.de.+postmaster.robot.first-ns.de.+2018120654+14400+1800+604800+86400%0A%40+86400+IN+NS+robotns3.second-ns.com.%0A%40+86400+IN+NS+robotns2.second-ns.de.%0A%40+86400+IN+NS+ns1.first-ns.de.%0A_acme-challenge.createrecordset+3600+IN+TXT+%22challengetoken2%22%0A_acme-challenge.createrecordset+3600+IN+TXT+%22challengetoken1%22%0A_acme-challenge.deleterecordinset+3600+IN+TXT+%22challengetoken1%22%0Adocs+3600+IN+CNAME+docs.example.com%0A_acme-challenge.fqdn+3600+IN+TXT+%22challengetoken%22%0A_acme-challenge.full+3600+IN+TXT+%22challengetoken%22%0Alocalhost+86400+IN+A+127.0.0.1%0Aloopback+3600+IN+CNAME+localhost%0A_acme-challenge.noop+3600+IN+TXT+%22challengetoken%22%0A_acme-challenge.test+3600+IN+TXT+%22challengetoken%22%0A&_csrf_token=3ba164c3da6f2a2f113f68730dee1f73
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://robot.your-server.de/dns/update
  response:
    body: {string: "<blockquote class=\"msgbox_success\" id=\"msgbox\"><p>Vielen Dank\
        \ f\xFCr Ihren Auftrag. Der DNS-Eintrag wird nun ge\xE4ndert.</p><p>Den aktuellen\
        \ Status k\xF6nnen Sie auf der <a href=\"/dns\">Liste der DNS-Eintr\xE4ge</a>\
        \ einsehen.</p></blockquote>"}
    headers:
      Content-Type: [text/html; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: id=556218&zonefile=%40+3600+IN+SOA+ns1.first-ns.de.+postmaster.robot.first-ns.de.+2018120654+14400+1800+604800+86400%0A%40+86400+IN+NS+robotns3.second-ns.com.%0A%40+86400+IN+NS+robotns2.second-ns.de.%0A%40+86400+IN+NS+ns1.first-ns.de.%0A_acme-challenge.createrecordset+3600+IN+TXT+%22challengetoken2%22%0A_acme-challenge.createrecordset+3600+IN+TXT+%22challengetoken1%22%0A_acme-challenge.deleterecordinset+3600+IN+TXT+%22challengetoken2%22%0Adocs+3600+IN+CNAME+docs.example.com%0A_acme-challenge.fqdn+3600+IN+TXT+%22challengetoken%22%0A_acme-challenge.full+3600+IN+TXT+%22challengetoken%22%0Alocalhost+86400+IN+A+127.0.0.1%0Aloopback+3600+IN+CNAME+localhost%0A_acme-challenge.noop+3600+IN+TXT+%22challengetoken%22%0A_acme-challenge.test+3600+IN+TXT+%22challengetoken%22%0A&_csrf_token=3ba164c3da6f2a2f113f68730dee1f73
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://robot.your-server.de/dns/update
  response:
    body: {string: "<blockquote class=\"msgbox_success\" id=\"msgbox\"><p>Vielen Dank\
        \ f\xFCr Ihren Auftrag. Der DNS-Eintrag wird nun ge\xE4ndert.</p><p>Den aktuellen\
        \ Status k\xF6nnen Sie auf der <a href=\"/dns\">Liste der DNS-Eintr\xE4ge</a>\
        \ einsehen.</p></blockquote>"}
    headers:
      Content-Type: [text/html; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
