interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.hetzner.com/api/v1/zones
  response:
    body:
      string: '{"zones":[{"id":"xyncsydKx5x44qDZQCzpNM","name":"alt.coop","ttl":300,"registrar":"","legacy_dns_host":"","legacy_ns":["oxygen.ns.hetzner.com.","hydrogen.ns.hetzner.com.","helium.ns.hetzner.com."],"ns":["hydrogen.ns.hetzner.com","oxygen.ns.hetzner.com","helium.ns.hetzner.de"],"created":"2020-04-07
        01:23:59 +0000 UTC","verified":"2020-04-07 01:53:05.934062806 +0000 UTC m=+578.060435172","modified":"2020-04-08
        10:38:16.278 +0000 UTC","project":"","owner":"","permission":"","zone_type":{"id":"","name":"","description":"","prices":null},"status":"verified","paused":false,"is_secondary_dns":false,"txt_verification":{"name":"","token":""},"records_count":75},{"id":"JkBqVJDW3PpqefBb274BCZ","name":"softwarekollektiv.de","ttl":86400,"registrar":"","legacy_dns_host":"","legacy_ns":[],"ns":["hydrogen.ns.hetzner.com","oxygen.ns.hetzner.com","helium.ns.hetzner.de"],"created":"2020-04-08
        18:53:25.589 +0000 UTC","verified":"2020-04-08T18:53:27Z","modified":"2020-04-13
        15:17:43.767 +0000 UTC","project":"","owner":"","permission":"","zone_type":{"id":"","name":"","description":"","prices":null},"status":"verified","paused":false,"is_secondary_dns":false,"txt_verification":{"name":"","token":""},"records_count":10}],"meta":{"pagination":{"page":1,"per_page":100,"previous_page":1,"next_page":1,"last_page":1,"total_entries":2}}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.hetzner.com/api/v1/records?per_page=100&zone_id=JkBqVJDW3PpqefBb274BCZ
  response:
    body:
      string: '{"records":[{"id":"8jEciPwo7wF2obPTuBe3Yg","type":"SOA","name":"@","value":"ns1.your-server.de.
        dns.hetzner.com. 2020041584 86400 7200 3600000 3600","zone_id":"JkBqVJDW3PpqefBb274BCZ","created":"2020-04-13
        15:17:43.061 +0000 UTC","modified":"2020-04-13 20:34:59.09 +0000 UTC"},{"id":"ccLnXePkikrTK7MjNY2fqb","type":"A","name":"localhost.softwarekollektiv.de.","value":"127.0.0.1","ttl":3600,"zone_id":"JkBqVJDW3PpqefBb274BCZ","created":"2020-04-13
        20:32:37.644 +0000 UTC","modified":"2020-04-13 20:32:37.644 +0000 UTC"},{"id":"JQmTbgVAzdx4AADJeLMM3X","type":"CNAME","name":"docs.softwarekollektiv.de.","value":"docs.example.com","ttl":3600,"zo[...]
- request:
    body: '{"name": "_acme-challenge.deleterecordset.softwarekollektiv.de.", "type":
      "TXT", "value": "challengetoken1", "zone_id": "JkBqVJDW3PpqefBb274BCZ", "ttl":
      3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://dns.hetzner.com/api/v1/records
  response:
    body:
      string: '{"record":{"id":"s2MXhU85uhNMKCSjCfeWLn","type":"TXT","name":"_acme-challenge.deleterecordset.softwarekollektiv.de.","value":"challengetoken1","ttl":3600,"zone_id":"JkBqVJDW3PpqefBb274BCZ","created":"2020-04-13
        20:35:10.749 +0000 UTC","modified":"2020-04-13 20:35:10.749 +0000 UTC"}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://dns.hetzner.com/api/v1/records/s2MXhU85uhNMKCSjCfeWLn
  response:
    body:
      string: '{"error":{}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://dns.hetzner.com/api/v1/records/fjUFaWqcSVwt7WP2hEaBaf
  response:
    body:
      string: '{"error":{}}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
