interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - !!python/unicode application/json
    method: GET
    uri: https://dns.hetzner.com/api/v1/zones
  response:
    body:
      string: !!python/unicode '{"zones":[{"id":"hetznerapizoneid","name":"hetzner-api-test.de","ttl":3600,"registrar":"","legacy_dns_host":"","legacy_ns":["ns1.first-ns.de.","robotns2.second-ns.de.","robotns3.second-ns.com."],"ns":["hydrogen.ns.hetzner.com","oxygen.ns.hetzner.com","helium.ns.hetzner.de"],"created":"2020-04-07
        01:24:00 +0000 UTC","verified":"2020-04-07 01:51:26.114056422 +0000 UTC m=+478.240428717","modified":"2020-06-11
        07:02:20.999 +0000 UTC","project":"","owner":"","permission":"","zone_type":{"id":"","name":"","description":"","prices":null},"status":"verified","paused":false,"is_secondary_dns":false,"txt_verification":{"name":"","token":""},"records_count":9}],"meta":{"pagination":{"page":1,"per_page":100,"previous_page":1,"next_page":1,"last_page":1,"total_entries":12}}}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - !!python/unicode application/json
    method: GET
    uri: https://dns.hetzner.com/api/v1/records?per_page=100&zone_id=hetznerapizoneid
  response:
    body:
      string: !!python/unicode '{"records":[{"id":"9720b5653ca6fd0517ec91a8c6104685","type":"SOA","name":"@","value":"ns1.first-ns.de.
        dns.hetzner.com. 2020061214 14400 3600 1814400 3600","zone_id":"hetznerapizoneid","created":"2020-04-07
        01:24:42 +0000 UTC","modified":"2020-06-12 08:20:54.175 +0000 UTC"},{"id":"5b378a7097bdb11e6cbb5f58db6bb101","type":"MX","name":"@","value":"10
        mail.server-zugang.eu.","zone_id":"hetznerapizoneid","created":"2020-04-07
        01:25:12 +0000 UTC","modified":"2020-04-07 01:25:12 +0000 UTC"},{"id":"a26cfdd36217e559c14b305a558f2a3c","type":"AAAA","name":"@","value":"2a01:4f8:121:31ec::b","zone_id":"hetznerapizoneid","created":"2020-04-07
    [...]
- request:
    body: !!python/unicode '{"ttl": 3600, "type": "TXT", "name": "delete.testid",
      "value": "challengetoken", "zone_id": "hetznerapizoneid"}'
    headers:
      Content-Type:
      - !!python/unicode application/json
    method: POST
    uri: https://dns.hetzner.com/api/v1/records
  response:
    body:
      string: !!python/unicode '{"record":{"id":"69ab5d906a7fa7959f2112870a3b7acd","type":"TXT","name":"delete.testid","value":"challengetoken","ttl":3600,"zone_id":"hetznerapizoneid","created":"2020-06-12
        08:20:55.592 +0000 UTC","modified":"2020-06-12 08:20:55.592 +0000 UTC"}}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - !!python/unicode application/json
    method: DELETE
    uri: https://dns.hetzner.com/api/v1/records/69ab5d906a7fa7959f2112870a3b7acd
  response:
    body:
      string: !!python/unicode '{"error":{}}

        '
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
