interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/lexicon.tests
  response:
    body:
      string: !!python/unicode '{"data":{"name":"lexicon.tests","description":""},"meta":{}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/lexicon.tests/records
  response:
    body:
      string: !!python/unicode '{"data":[{"id":4291172,"name":"lexicon.tests","type":"SOA","content":"ns0.ukfast.net
        support@ukfast.co.uk 2020032002 300 300 300 300","updated_at":"2020-03-20T21:43:19+00:00","ttl":300,"priority":null},{"id":4291175,"name":"lexicon.tests","type":"NS","content":"ns0.ukfast.net","updated_at":"2020-03-20T21:43:19+00:00","ttl":300,"priority":null},{"id":4291178,"name":"lexicon.tests","type":"NS","content":"ns1.ukfast.net","updated_at":"2020-03-20T21:43:19+00:00","ttl":300,"priority":null},{"id":4291181,"name":"localhost.lexicon.tests","type":"A","content":"127.0.0.1","updated_at":"2020-03-20T21:44:28+00:00","ttl":86400,"priority":null},{"id":4291184,"name":"_acme-challenge.fqdn.lexicon.tests[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/lexicon.tests/records?page=2
  response:
    body:
      string: !!python/unicode '{"data":[{"id":4291217,"name":"_acme-challenge.deleterecordinset.lexicon.tests","type":"TXT","content":"\"challengetoken2\"","updated_at":"2020-03-20T21:44:38+00:00","ttl":86400,"priority":null},{"id":4291226,"name":"_acme-challenge.listrecordset.lexic[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/lexicon.tests/records?page=3
  response:
    body:
      string: !!python/unicode '{"data":[{"id":4291274,"name":"updated.test.lexicon.tests","type":"TXT","content":"\"challengetoken\"","updated_at":"2020-03-20T21:55:25+00:00","ttl":86400,"priority":null},{"id":4291277,"name":"orig.nameonly.test.lexicon.tests","type":"TXT","content":"\"challengetoken\"","updated_at":"2020-03-20T21:55:26+00:00","ttl":86400,"priority":null},{"id":4291280,"name":"updated.testfqdn.lexicon.tests","type":"TXT","content":"\"challengetoken\"","updated_at":"2020-03-20T21:55:29+00:00","ttl":86400,"priority":null},{"id":4291283,"name":"updated.testfull.lexicon.tests","type":"TXT","content":"\"challengetoken\"","updated_at":"2020-03-20T21:55:31+00:00","ttl":86400,"priority":null}],"meta":{"pagination":{"total":24,"count":4,"per_page":10,"current_page":3,"total_pages":3,"links":{"first":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/lexicon.tests\/records?page=1","previous":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/lexicon.tests\/records?page=2","next":null,"last":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/lexicon.tests\/records?page=3"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"content": "\"challengetoken\"", "type": "TXT", "name":
      "orig.test.lexicon.tests"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/zones/lexicon.tests/records
  response:
    body:
      string: !!python/unicode '{"data":{"id":4291307},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/lexicon.tests\/records\/4291307"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: !!python/unicode '{"content": "\"challengetoken\"", "type": "TXT", "name":
      "updated.test.lexicon.tests"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.ukfast.io/safedns/v1/zones/lexicon.tests/records/4291307
  response:
    body:
      string: !!python/unicode '{"data":{"id":4291307},"meta":{"location":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/lexicon.tests\/records\/4291307"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
