interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com
  response:
    body:
      string: !!python/unicode '{"data":{"name":"tests.lexicon.com","description":"Lexicon
        Test zone"},"meta":{}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records
  response:
    body:
      string: !!python/unicode '{"data":[{"id":3466895,"name":"localhost.tests.lexicon.com","type":"A","content":"127.0.0.1","updated_at":"2019-06-03T07:19:16+00:00","ttl":86400,"priority":0},{"id":3466898,"name":"_acme-challenge.fqdn.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-03T07:19:18+00:00","ttl":86400,"priority":0},{"id":3466901,"name":"_acme-challenge.full.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-03T07:19:18+00:00","ttl":86400,"priority":0},{"id":3466904,"name":"_acme-challenge.test.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-03T07:19:19+00:00","ttl[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records?page=2
  response:
    body:
      string: !!python/unicode '{"data":[{"id":3466946,"name":"random.fqdntest.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-03T07:19:36+00:00","ttl":86400,"priority":0},{"id":3466949,"name":"random.fulltest.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-03T07:19:37+00:00","ttl":86400,"priority":0},{"id":3466952,"name":"random.test.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-03T07:19:40+00:00","ttl":86400,"priority":0},{"id":3466955,"name":"updated.test.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-03T07:19:42+00:00","ttl":3600,"priority":0},{"id":3466958,"name":"updated.testfqdn.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-03T07:19:44+00:00","ttl":3600,"priority":0},{"id":3466961,"name":"updated.testfull.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-03T07:19:45+00:00","ttl":3600,"priority":0}],"meta":{"pagination":{"total":16,"count":6,"per_page":10,"current_page":2,"total_pages":2,"links":{"first":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/tests.lexicon.com\/records?page=1","previous":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/tests.lexicon.com\/records?page=1"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"content": "\"challengetoken1\"", "type": "TXT", "name":
      "_acme-challenge.deleterecordset.tests.lexicon.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records
  response:
    body:
      string: !!python/unicode '{"data":{"id":3466988},"meta":{"location":"http:\/\/apio-safedns\/v1\/zones\/tests.lexicon.com\/records\/3466988"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records/3466988
  response:
    body:
      string: !!python/unicode ''
    headers:
      content-type:
      - text/html; charset=UTF-8
    status:
      code: 204
      message: No Content
[...]
