interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com
  response:
    body:
      string: !!python/unicode '{"data":{"name":"tests.lexicon.com","description":"Lexicon
        Test zone"},"meta":{}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records
  response:
    body:
      string: !!python/unicode '{"data":[{"id":3836012,"name":"tests.lexicon.com","type":"NS","content":"ns0.ukfast.net","updated_at":"2019-06-19T17:20:09+00:00","ttl":86400,"priority":0},{"id":3836015,"name":"tests.lexicon.com","type":"NS","content":"ns1.ukfast.net","updated_at":"2019-06-19T17:20:09+00:00","ttl":86400,"priority":0},{"id":3849554,"name":"localhost.tests.lexicon.com","type":"A","content":"127.0.0.1","updated_at":"2019-06-25T19:58:10+00:00","ttl":86400,"priority":0}],"meta":{"pagination":{"total":3,"count":3,"per_page":10,"current_page":1,"total_pages":1,"links":{}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"content": "\"challengetoken\"", "type": "TXT", "name":
      "_acme-challenge.fqdn.tests.lexicon.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records
  response:
    body:
      string: !!python/unicode '{"data":{"id":3849557},"meta":{"location":"http:\/\/apio-safedns\/v1\/zones\/tests.lexicon.com\/records\/3849557"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
