interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com
  response:
    body:
      string: !!python/unicode '{"data":{"name":"tests.lexicon.com","description":"Lexicon
        Test zone"},"meta":{}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records
  response:
    body:
      string: !!python/unicode '{"data":[{"id":3836012,"name":"tests.lexicon.com","type":"NS","content":"ns0.ukfast.net","updated_at":"2019-06-19T17:20:09+00:00","ttl":86400,"priority":0},{"id":3836015,"name":"tests.lexicon.com","type":"NS","content":"ns1.ukfast.net","updated_at":"2019-06-19T17:20:09+00:00","ttl":86400,"priority":0},{"id":3849554,"name":"localhost.tests.lexicon.com","type":"A","content":"127.0.0.1","updated_at":"2019-06-25T19:58:10+00:00","ttl":86400,"priority":0},{"id":3849557,"name":"_acme-challenge.fqdn.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-25T19:58:13+00:00","ttl":86400,"priority":0},{"id":3849560,"name":"_acme-challenge.full.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-25T19:58:17+00:00","ttl":86400,"priority":0},{"id":3849563,"name":"_acme-challenge.test.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-25T19:58:21+00:00","ttl":86400,"priority":0},{"id":3849566,"name":"_acme-challenge.createrecordset.tests.lexicon.com","type":"TXT","content":"\"challengetoken1\"","updated_at":"2019-06-25T19:58:24+00:00","ttl":86400,"priority":0},{"id":3849569,"name":"_acme-challenge.createrecordset.tests.lexicon.com","type":"TXT","content":"\"challengetoken2\"","updated_at":"2019-06-25T19:58:27+00:00","ttl":86400,"priority":0},{"id":3849572,"name":"_acme-challenge.noop.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-25T19:58:30+00:00","ttl":86400,"priority":0}],"meta":{"pagination":{"total":9,"count":9,"per_page":10,"current_page":1,"total_pages":1,"links":{}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"content": "\"challengetoken\"", "type": "TXT", "name":
      "delete.testfilt.tests.lexicon.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records
  response:
    body:
      string: !!python/unicode '{"data":{"id":3849575},"meta":{"location":"http:\/\/apio-safedns\/v1\/zones\/tests.lexicon.com\/records\/3849575"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records/3849575
  response:
    body:
      string: !!python/unicode ''
    headers:
      content-type:
      - text/html; charset=UTF-8
    status:
      code: 204
      message: No Content
[...]
