interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com
  response:
    body:
      string: !!python/unicode '{"data":{"name":"tests.lexicon.com","description":"Lexicon
        Test zone"},"meta":{}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records
  response:
    body:
      string: !!python/unicode '{"data":[{"id":3466895,"name":"localhost.tests.lexicon.com","type":"A","content":"127.0.0.1","updated_at":"2019-06-03T07:19:16+00:00","ttl":86400,"priority":0},{"id":3836012,"name":"tests.lexicon.com","type":"NS","content":"ns0.ukfast.net","updated_at":"2019-06-19T17:20:09+00:00","ttl":86400,"priority":0},{"id":3836015,"name":"tests.lexicon.com","type":"NS","content":"ns1.ukfast.net","updated_at":"2019-06-19T17:20:09+00:00","ttl":86400,"priority":0},{"id":3836525,"name":"_acme-challenge.fqdn.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-19T18:57:46+00:00","ttl":86400,"priority":0},{"id":3836528,"name":"_acme-ch[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records?page=2
  response:
    body:
      string: !!python/unicode '{"data":[{"id":3836567,"name":"_acme-challenge.listrecordset.tests.lexicon.com","type":"TXT","content":"\"challengetoken1\"","updated_at":"2019-06-19T18:58:06+00:00","ttl":86400,"priority":0},{"id":3836570,"name":"_acme-challenge.listrecordset.test[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records?page=3
  response:
    body:
      string: !!python/unicode '{"data":[{"id":3836675,"name":"orig.nameonly.test.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-19T19:03:50+00:00","ttl":86400,"priority":0},{"id":3836678,"name":"orig.testfqdn.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-19T19:03:52+00:00","ttl":86400,"priority":0},{"id":3836681,"name":"orig.testfull.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-19T19:03:56+00:00","ttl":86400,"priority":0}],"meta":{"pagination":{"total":23,"count":3,"per_page":10,"current_page":3,"total_pages":3,"links":{"first":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/tests.lexicon.com\/records?page=1","previous":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/tests.lexicon.com\/records?page=2"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"content": "\"challengetoken1\"", "type": "TXT", "name":
      "_acme-challenge.deleterecordset.tests.lexicon.com"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records
  response:
    body:
      string: !!python/unicode '{"data":{"id":3836699},"meta":{"location":"http:\/\/apio-safedns\/v1\/zones\/tests.lexicon.com\/records\/3836699"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records/3836699
  response:
    body:
      string: !!python/unicode ''
    headers:
      content-type:
      - text/html; charset=UTF-8
    status:
      code: 204
      message: No Content
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.ukfast.io/safedns/v1/zones/tests.lexicon.com/records?page=3
  response:
    body:
      string: !!python/unicode '{"data":[{"id":3836675,"name":"orig.nameonly.test.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-19T19:03:50+00:00","ttl":86400,"priority":0},{"id":3836678,"name":"orig.testfqdn.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-19T19:03:52+00:00","ttl":86400,"priority":0},{"id":3836681,"name":"orig.testfull.tests.lexicon.com","type":"TXT","content":"\"challengetoken\"","updated_at":"2019-06-19T19:03:56+00:00","ttl":86400,"priority":0}],"meta":{"pagination":{"total":23,"count":3,"per_page":10,"current_page":3,"total_pages":3,"links":{"first":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/tests.lexicon.com\/records?page=1","previous":"https:\/\/api.ukfast.io\/safedns\/v1\/zones\/tests.lexicon.com\/records?page=2"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
