interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.nsone.net/v1/zones/lexicon-example.com
  response:
    body: {string: !!python/unicode '{"nx_ttl":3600,"retry":7200,"zone":"lexicon-example.com","dnssec":false,"network_pools":["p08"],"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"dns_servers":["dns1.p08.nsone.net","dns2.p08.nsone.net","dns3.p08.nsone.net","dns4.p08.nsone.net"],"records":[{"domain":"_acme-challenge.createrecordset.lexicon-example.com","short_answers":["challengetoken1","challengetoken2"],"link":null,"ttl":3600,"tier":1,"type":"TXT","id":"5ab7b712c9c79d0001ad45e6"},{"domain":"_acme-challenge.deleterecordinset.lexicon-example.com","short_answers":["challengetoken2"],"link":null,"ttl":3600,"tier":1,"type":"TXT","id":"5ab7b7320c13a400014ee149"},{"domain":"_acme-challenge.fqdn.lexicon-example.com","short_answers":["challengetoken"],"link":null,"ttl":3600,"tier":1,"type":"TXT","id":"5ab7b709a632f60001419f0e"},{"domain":"_acme-challenge.full.lexicon-example.com","short_answers":["challengetoken"],"link":null,"ttl":3600,"tier":1,"type"[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.nsone.net/v1/zones/lexicon-example.com/random.test.lexicon-example.com/TXT
  response:
    body: {string: !!python/unicode '{"message":"record not found"}

'}
    headers:
      content-type: [application/json]
      x-ratelimit-by: [customer]
      x-ratelimit-limit: ['900']
      x-ratelimit-period: ['300']
      x-ratelimit-remaining: ['899']
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"domain": "random.test.lexicon-example.com", "type":
      "TXT", "answers": [{"answer": ["challengetoken"]}], "zone": "lexicon-example.com"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.nsone.net/v1/zones/lexicon-example.com/random.test.lexicon-example.com/TXT
  response:
    body: {string: !!python/unicode '{"domain":"random.test.lexicon-example.com","zone":"lexicon-example.com","use_client_subnet":true,"answers":[{"answer":["challengetoken"],"id":"5ab7b7480c13a400014ee155"}],"id":"5ab7b7480c13a400014ee156","regions":{},"meta":{},"link":null,"filters":[],"ttl":3600,"tier":1,"type":"TXT","networks":[0]}

'}
    headers:
      content-type: [application/json]
      x-ratelimit-by: [customer]
      x-ratelimit-limit: ['100']
      x-ratelimit-period: ['200']
      x-ratelimit-remaining: ['99']
    status: {code: 200, message: OK}
[...]
