interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.nsone.net/v1/zones/lexicon-example.com
  response:
    body: {string: !!python/unicode '{"nx_ttl":3600,"retry":7200,"zone":"lexicon-example.com","dnssec":false,"network_pools":["p08"],"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"dns_servers":["dns1.p08.nsone.net","dns2.p08.nsone.net","dns3.p08.nsone.net","dns4.p08.nsone.net"],"records":[{"domain":"localhost.lexicon-example.com","short_answers":["127.0.0.1"],"link":null,"ttl":3600,"tier":1,"type":"A","id":"5ab7b702a632f60001b0b499"}],"meta":{},"link":null,"serial":1521989378,"ttl":3600,"id":"5ab69dd6bbccf900012ef579","hostmaster":"hostmaster@nsone.net","networks":[0],"pool":"p08"}

'}
    headers:
      content-type: [application/json]
      etag: [W/"5a28d770885332d8761b65a8ff54195aa5bc1a01"]
      x-ratelimit-by: [customer]
      x-ratelimit-limit: ['900']
      x-ratelimit-period: ['300']
      x-ratelimit-remaining: ['899']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.nsone.net/v1/zones/lexicon-example.com/docs.lexicon-example.com/CNAME
  response:
    body: {string: !!python/unicode '{"message":"record not found"}

'}
    headers:
      content-type: [application/json]
      x-ratelimit-by: [customer]
      x-ratelimit-limit: ['900']
      x-ratelimit-period: ['300']
      x-ratelimit-remaining: ['899']
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"domain": "docs.lexicon-example.com", "type": "CNAME",
      "answers": [{"answer": ["docs.example.com"]}], "zone": "lexicon-example.com"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.nsone.net/v1/zones/lexicon-example.com/docs.lexicon-example.com/CNAME
  response:
    body: {string: !!python/unicode '{"domain":"docs.lexicon-example.com","zone":"lexicon-example.com","use_client_subnet":true,"answers":[{"answer":["docs.example.com"],"id":"5ab7b7050c13a400014ee10b"}],"id":"5ab7b7050c13a400014ee10c","regions":{},"meta":{},"link":null,"filters":[],"ttl":3600,"tier":1,"type":"CNAME","networks":[0]}

'}
    headers:
      content-type: [application/json]
      x-ratelimit-by: [customer]
      x-ratelimit-limit: ['100']
      x-ratelimit-period: ['200']
      x-ratelimit-remaining: ['99']
    status: {code: 200, message: OK}
version: 1
