interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.nsone.net/v1/zones/capsulecd.com
  response:
    body: {string: !!python/unicode '{"nx_ttl":3600,"retry":7200,"zone":"capsulecd.com","network_pools":["p06"],"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"dns_servers":["dns1.p06.nsone.net","dns2.p06.nsone.net","dns3.p06.nsone.net","dns4.p06.nsone.net"],"records":[{"domain":"capsulecd.com","short_answers":["dns1.p06.nsone.net","dns2.p06.nsone.net","dns3.p06.nsone.net","dns4.p06.nsone.net"],"ttl":3600,"tier":1,"type":"NS","id":"56f85f4e9f939b00066237b0"}],"meta":{},"link":null,"ttl":3600,"id":"56f85f4e9f939b00066237ab","hostmaster":"hostmaster@nsone.net","networks":[0],"pool":"p06"}

        '}
    headers:
      content-type: [application/json]
      etag: [W/"8c4cce560a475eca3ef1ca2ba80888595d8b9f6c"]
      x-ratelimit-by: [customer]
      x-ratelimit-limit: ['900']
      x-ratelimit-period: ['300']
      x-ratelimit-remaining: ['899']
    status: {code: 200, message: OK}
- request:
    body: '{"domain": "orig.test.capsulecd.com", "type": "TXT", "answers": [{"answer":
      ["challengetoken"]}], "zone": "capsulecd.com"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.nsone.net/v1/zones/capsulecd.com/orig.test.capsulecd.com/TXT
  response:
    body: {string: !!python/unicode '{"domain":"orig.test.capsulecd.com","zone":"capsulecd.com","use_client_subnet":true,"answers":[{"answer":["challengetoken"],"id":"56f87aae59272400060f8adb"}],"id":"56f87aae59272400060f8adc","regions":{},"meta":{},"link":null,"filters":[],"ttl":3600,"tier":1,"type":"TXT","networks":[0]}

        '}
    headers:
      content-type: [application/json]
      x-ratelimit-by: [customer]
      x-ratelimit-limit: ['100']
      x-ratelimit-period: ['200']
      x-ratelimit-remaining: ['99']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"domain": "updated.test.capsulecd.com", "type": "TXT", "answers": [{"answer":
      ["challengetoken"]}], "zone": "capsulecd.com"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.nsone.net/v1/zones/capsulecd.com/updated.test.capsulecd.com/TXT
  response:
    body: {string: !!python/unicode '{"domain":"updated.test.capsulecd.com","zone":"capsulecd.com","use_client_subnet":true,"answers":[{"answer":["challengetoken"],"id":"56f87ab459272400060f8ae3"}],"id":"56f87ab459272400060f8ae4","regions":{},"meta":{},"link":null,"filters":[],"ttl":3600,"tier":1,"type":"TXT","networks":[0]}

        '}
    headers:
      content-type: [application/json]
      x-ratelimit-by: [customer]
      x-ratelimit-limit: ['100']
      x-ratelimit-period: ['200']
      x-ratelimit-remaining: ['99']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.nsone.net/v1/zones/capsulecd.com/orig.test.capsulecd.com/TXT
  response:
    body: {string: !!python/unicode '{}

        '}
    headers:
      content-type: [application/json]
      x-ratelimit-by: [customer]
      x-ratelimit-limit: ['100']
      x-ratelimit-period: ['200']
      x-ratelimit-remaining: ['99']
    status: {code: 200, message: OK}
version: 1
