interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.nsone.net/v1/zones/lexicon-example.com
  response:
    body: {string: !!python/unicode '{"nx_ttl":3600,"retry":7200,"zone":"lexicon-example.com","dnssec":false,"network_pools":["p08"],"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"dns_servers":["dns1.p08.nsone.net","dns2.p08.nsone.net","dns3.p08.nsone.net","dns4.p08.nsone.net"],"records":[{"domain":"_acme-challenge.fqdn.lexicon-example.com","short_answers":["challengetoken"],"link":null,"ttl":3600,"tier":1,"type":"TXT","id":"5ab7b709a632f60001419f0e"},{"domain":"_acme-challenge.full.lexicon-example.com","short_answers":["challengetoken"],"link":null,"ttl":3600,"tier":1,"type":"TXT","id":"5ab7b70cc94a900001c1dffa"},{"domain":"_acme-challenge.test.lexicon-example.com","short_answers":["challengetoken"],"link":null,"ttl":3600,"tier":1,"type":"TXT","id":"5ab7b70fa632f60001b0b4a6"},{"domain":"docs.lexicon-example.com","short_answers":["docs.example.com"],"link":null,"ttl":3600,"tier":1,"type":"CNAME","id":"5ab7b7050c13a400014ee10c"},{"domain":"localhost.lexicon-example.com","short_answers":["127.0.0.1"],"link":null,"ttl":3600,"tier":1,"type":"A","id":"5ab7b702a632f60001b0b499"}],"meta":{},"link":null,"serial":1521989391,"ttl":3600,"id":"5ab69dd6bbccf900012ef579","hostmaster":"hostmaster@nsone.net","networks":[0],"pool":"p08"}

'}
    headers:
      content-type: [application/json]
      etag: [W/"1e6c20b7f77c8a22a80f288a8699ec165ab3d730"]
      x-ratelimit-by: [customer]
      x-ratelimit-limit: ['900']
      x-ratelimit-period: ['300']
      x-ratelimit-remaining: ['899']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.nsone.net/v1/zones/lexicon-example.com/_acme-challenge.createrecordset.lexicon-example.com/TXT
  response:
    body: {string: !!python/unicode '{"message":"record not found"}

'}
    headers:
      content-type: [application/json]
      x-ratelimit-by: [customer]
      x-ratelimit-limit: ['900']
      x-ratelimit-period: ['300']
      x-ratelimit-remaining: ['899']
    status: {code: 404, message: Not Found}
- request:
    body: !!python/unicode '{"domain": "_acme-challenge.createrecordset.lexicon-example.com",
      "type": "TXT", "answers": [{"answer": ["challengetoken1"]}], "zone": "lexicon-example.com"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.nsone.net/v1/zones/lexicon-example.com/_acme-challenge.createrecordset.lexicon-example.com/TXT
  response:
    body: {string: !!python/unicode '{"domain":"_acme-challenge.createrecordset.lexicon-example.com","zone":"lexicon-example.com","use_client_subnet":true,"answers":[{"answer":["challengetoken1"],"id":"5ab7b712c9c79d0001ad45e5"}],"id":"5ab7b712c9c79d0001ad45e6","regions":{},"meta":{},"link":null,"filters":[],"ttl":3600,"tier":1,"type":"TXT","networks":[0]}

'}
    headers:
      content-type: [application/json]
      x-ratelimit-by: [customer]
      x-ratelimit-limit: ['100']
      x-ratelimit-period: ['200']
      x-ratelimit-remaining: ['99']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"type": "TXT", "name": "_acme-challenge.createrecordset.lexicon-example.com",
      "answers": [{"answer": ["challengetoken1"], "id": "5ab7b712c9c79d0001ad45e5"},
      {"answer": ["challengetoken2"]}], "ttl": 3600}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.nsone.net/v1/zones/lexicon-example.com/_acme-challenge.createrecordset.lexicon-example.com/TXT
  response:
    body: {string: !!python/unicode '{"domain":"_acme-challenge.createrecordset.lexicon-example.com","zone":"lexicon-example.com","use_client_subnet":true,"answers":[{"answer":["challengetoken1"],"id":"5ab7b712c9c79d0001ad45e5"},{"answer":["challengetoken2"],"id":"5ab7b714bbccf90001006bd4"}],"id":"5ab7b712c9c79d0001ad45e6","regions":{},"meta":{},"link":null,"filters":[],"ttl":3600,"tier":1,"type":"TXT","networks":[0]}

'}
    headers:
      content-type: [application/json]
      x-ratelimit-by: [customer]
      x-ratelimit-limit: ['300']
      x-ratelimit-period: ['300']
      x-ratelimit-remaining: ['299']
    status: {code: 200, message: OK}
version: 1
