interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/List?ResponseFormat=json&searchTermFilter=world-of-ysera.com
  response:
    body: {string: !!python/unicode '{"transactid":"48566b66025aee93402283330cf9ae27","status":"SUCCESS","domaincount":1,"domain":["world-of-ysera.com"]}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/DnsRecord/List?Domain=world-of-ysera.com&FilterType=TXT&ResponseFormat=json
  response:
    body: {string: !!python/unicode '{"transactid":"b0d48049cf3393ff06afdedc4976176e","status":"SUCCESS","total_records":17,"records":[{"name":"_amazonses.world-of-ysera.com","value":"PzgAAEOkx5B0XyMk16yC9S4UsBvJcW94ST+YtTte+ng=","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.fqdn.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.full.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.test.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.createrecordset.world-of-ysera.com","value":"challengetoken1","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.createrecordset.world-of-ysera.com","value":"challengeto[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.internet.bs/Domain/DnsRecord/Add?FullRecordName=orig.testfull.world-of-ysera.com&ResponseFormat=json&Ttl=3600&Type=TXT&Value=challengetoken
  response:
    body: {string: !!python/unicode '{"transactid":"73d576080d16cfff5d46713aa1981d25","status":"SUCCESS"}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/DnsRecord/List?Domain=world-of-ysera.com&ResponseFormat=json
  response:
    body: {string: !!python/unicode '{"transactid":"8db646b36b89fa636ff4e80aa636b341","status":"SUCCESS","total_records":30,"records":[{"name":"world-of-ysera.com","value":"ns-canada.topdns.com","ttl":3600,"type":"NS"},{"name":"world-of-ysera.com","value":"ns-usa.topdns.com","ttl":3600,"type":"NS"},{"name":"world-of-ysera.com","value":"ns-uk.topdns.com","ttl":3600,"type":"NS"},{"name":"world-of-ysera.com","value":"91.121.92.27","ttl":3600,"type":"A"},{"name":"*.world-of-ysera.com","value":"91.121.92.27","ttl":3600,"type":"A"},{"name":"localhost.world-of-ysera.com","value":"127.0.0.1","ttl":3600,"type":"A"},{"name":"world-of-ysera.com","value":"d.deleti.net","ttl":3600,"priority":1,"type":"MX"},{"name":"tmp.world-of-ysera.com","value":"smtp.yopmail.com","ttl":3600,"priority":1,"type":"MX"},{"name":"3eymkudjprv6jm3lwmqykuoxvau3mnng._domainkey.world-of-ysera.com","value":"3eymkudjprv6jm3lwmqykuoxvau3mnng.dkim.amazonses.com","ttl":3600,"type":"CNAME"},{"name":"docs.world-of-ysera.com","value":"docs.example.com","ttl":3600,"type":"CNAME"},{"name":"imgle7j2p2mqptirfslrf3neahbqhsfk._domainkey.world-of-ysera.com","value":"imgle7j2p2mqptirfslrf3neahbqhsfk.dkim.amazonses.com","tt[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.internet.bs/Domain/DnsRecord/Update?FullRecordName=orig.testfull.world-of-ysera.com&NewValue=challengetoken&ResponseFormat=json&Type=TXT
  response:
    body: {string: !!python/unicode '{"transactid":"8e51535f2ba38ad3e1cea97a140128ee","status":"SUCCESS"}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
