interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/List?ResponseFormat=json&searchTermFilter=world-of-ysera.com
  response:
    body: {string: !!python/unicode '{"transactid":"831f44e91e11ff565c74f7728e1b8075","status":"SUCCESS","domaincount":1,"domain":["world-of-ysera.com"]}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/DnsRecord/List?Domain=world-of-ysera.com&FilterType=TXT&ResponseFormat=json
  response:
    body: {string: !!python/unicode '{"transactid":"8e45c5d8cc80f323c54903cd95811ba7","status":"SUCCESS","total_records":9,"records":[{"name":"_amazonses.world-of-ysera.com","value":"PzgAAEOkx5B0XyMk16yC9S4UsBvJcW94ST+YtTte+ng=","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.fqdn.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.full.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.test.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.createrecordset.world-of-ysera.com","value":"challengetoken1","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.createrecordset.world-of-ysera.com","value":"challengetoken2","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.noop.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.deleterecordinset.world-of-ysera.com","value":"challengetoken2","ttl":3600,"type":"TXT"},{"name":"ttl.fqdn.world-of-ysera.com","value":"ttlshouldbe3600","ttl":3600,"type":"TXT"}]}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.internet.bs/Domain/DnsRecord/Add?FullRecordName=_acme-challenge.listrecordset.world-of-ysera.com&ResponseFormat=json&Ttl=3600&Type=TXT&Value=challengetoken1
  response:
    body: {string: !!python/unicode '{"transactid":"42fb6e8eacd58acf0d9af911a0e4d6cf","status":"SUCCESS"}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
[...]
