interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/List?ResponseFormat=json&searchTermFilter=world-of-ysera.com
  response:
    body: {string: !!python/unicode '{"transactid":"4517c4433a515b13bdb028531f59d43b","status":"SUCCESS","domaincount":1,"domain":["world-of-ysera.com"]}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/DnsRecord/List?Domain=world-of-ysera.com&FilterType=TXT&ResponseFormat=json
  response:
    body: {string: !!python/unicode '{"transactid":"518a631ba693436fc1e11b8372599683","status":"SUCCESS","total_records":2,"records":[{"name":"_amazonses.world-of-ysera.com","value":"PzgAAEOkx5B0XyMk16yC9S4UsBvJcW94ST+YtTte+ng=","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.fqdn.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"}]}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.internet.bs/Domain/DnsRecord/Add?FullRecordName=_acme-challenge.full.world-of-ysera.com&ResponseFormat=json&Ttl=3600&Type=TXT&Value=challengetoken
  response:
    body: {string: !!python/unicode '{"transactid":"c12e88aa93d47912db91e14e851795d0","status":"SUCCESS"}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
