interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/List?ResponseFormat=json&searchTermFilter=world-of-ysera.com
  response:
    body: {string: !!python/unicode '{"transactid":"3be4f03092fcc0ea1552f425b68243a4","status":"SUCCESS","domaincount":1,"domain":["world-of-ysera.com"]}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/DnsRecord/List?Domain=world-of-ysera.com&FilterType=TXT&ResponseFormat=json
  response:
    body: {string: !!python/unicode '{"transactid":"38b834ec803a7fe36e037cb36f2cb1cc","status":"SUCCESS","total_records":7,"records":[{"name":"_amazonses.world-of-ysera.com","value":"PzgAAEOkx5B0XyMk16yC9S4UsBvJcW94ST+YtTte+ng=","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.fqdn.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.full.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.test.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.createrecordset.world-of-ysera.com","value":"challengetoken1","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.createrecordset.world-of-ysera.com","value":"challengetoken2","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.noop.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"}]}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.internet.bs/Domain/DnsRecord/Add?FullRecordName=delete.testfilt.world-of-ysera.com&ResponseFormat=json&Ttl=3600&Type=TXT&Value=challengetoken
  response:
    body: {string: !!python/unicode '{"transactid":"d0da84b0e153e6ce9547fbaae659f3f4","status":"SUCCESS"}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.internet.bs/Domain/DnsRecord/Remove?FullRecordName=delete.testfilt.world-of-ysera.com&ResponseFormat=json&Type=TXT&Value=challengetoken
  response:
    body: {string: !!python/unicode '{"transactid":"427cbe95149c108edfc2af8d07b2b5f5","status":"SUCCESS"}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/DnsRecord/List?Domain=world-of-ysera.com&FilterType=TXT&ResponseFormat=json
  response:
    body: {string: !!python/unicode '{"transactid":"73fa775eab91ac564bd8cdb238a97b2a","status":"SUCCESS","total_records":7,"records":[{"name":"_amazonses.world-of-ysera.com","value":"PzgAAEOkx5B0XyMk16yC9S4UsBvJcW94ST+YtTte+ng=","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.fqdn.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.full.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.test.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.createrecordset.world-of-ysera.com","value":"challengetoken1","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.createrecordset.world-of-ysera.com","value":"challengetoken2","ttl":3600,"type":"TXT"},{"name":"_acme-challenge.noop.world-of-ysera.com","value":"challengetoken","ttl":3600,"type":"TXT"}]}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
