interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/List?ResponseFormat=json&searchTermFilter=world-of-ysera.com
  response:
    body: {string: !!python/unicode '{"transactid":"574768b8b431844a0be6a9ceb6cdfb21","status":"SUCCESS","domaincount":1,"domain":["world-of-ysera.com"]}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/DnsRecord/List?Domain=world-of-ysera.com&FilterType=A&ResponseFormat=json
  response:
    body: {string: !!python/unicode '{"transactid":"31733fc96a22892c38bb4b9562de51f9","status":"SUCCESS","total_records":2,"records":[{"name":"world-of-ysera.com","value":"91.121.92.27","ttl":3600,"type":"A"},{"name":"*.world-of-ysera.com","value":"91.121.92.27","ttl":3600,"type":"A"}]}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.internet.bs/Domain/DnsRecord/Add?FullRecordName=localhost.world-of-ysera.com&ResponseFormat=json&Ttl=3600&Type=A&Value=127.0.0.1
  response:
    body: {string: !!python/unicode '{"transactid":"aa295d6b7fb14820c3e9e9d92d3b03fa","status":"SUCCESS"}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
