interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/List?ResponseFormat=json&searchTermFilter=world-of-ysera.com
  response:
    body: {string: !!python/unicode '{"transactid":"ac45a2b0b7be8a651741066c9a4bc07d","status":"SUCCESS","domaincount":1,"domain":["world-of-ysera.com"]}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.internet.bs/Domain/DnsRecord/List?Domain=world-of-ysera.com&FilterType=CNAME&ResponseFormat=json
  response:
    body: {string: !!python/unicode '{"transactid":"097d9895593ddf72743e8f3aeca97e38","status":"SUCCESS","total_records":3,"records":[{"name":"zz4f642wjh2ad33ni3uknryd6o3n7bil._domainkey.world-of-ysera.com","value":"zz4f642wjh2ad33ni3uknryd6o3n7bil.dkim.amazonses.com","ttl":3600,"type":"CNAME"},{"name":"3eymkudjprv6jm3lwmqykuoxvau3mnng._domainkey.world-of-ysera.com","value":"3eymkudjprv6jm3lwmqykuoxvau3mnng.dkim.amazonses.com","ttl":3600,"type":"CNAME"},{"name":"imgle7j2p2mqptirfslrf3neahbqhsfk._domainkey.world-of-ysera.com","value":"imgle7j2p2mqptirfslrf3neahbqhsfk.dkim.amazonses.com","ttl":3600,"type":"CNAME"}]}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.internet.bs/Domain/DnsRecord/Add?FullRecordName=docs.world-of-ysera.com&ResponseFormat=json&Ttl=3600&Type=CNAME&Value=docs.example.com
  response:
    body: {string: !!python/unicode '{"transactid":"69e56ce0da6c0108dfea158b5199da90","status":"SUCCESS"}'}
    headers:
      content-type: [text/javascript; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
