interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/
  response:
    body:
      string: '[{"name":"***REMOVED***","type":"master"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/***REMOVED***/records/?data=challengetoken1&name=_acme-challenge.createrecordset&type=TXT
  response:
    body:
      string: '[{"name":"_acme-challenge.createrecordset","ttl":"3600","type":"TXT","data":"challengetoken1"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/***REMOVED***/records/?data=challengetoken2&name=_acme-challenge.createrecordset&type=TXT
  response:
    body:
      string: '[{"name":"_acme-challenge.createrecordset","ttl":"3600","type":"TXT","data":"challengetoken2"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
version: 1
