interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/
  response:
    body:
      string: '[{"name":"***REMOVED***","type":"master"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/***REMOVED***/records/?data=challengetoken&name=_acme-challenge.fqdn&type=TXT
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "_acme-challenge.fqdn", "data": "challengetoken", "type": "TXT",
      "ttl": 3600}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/***REMOVED***/records/
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/***REMOVED***/records/commit
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
version: 1
