interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/
  response:
    body:
      string: '[{"name":"fluchtkapsel.de","type":"master"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/?data=challengetoken&name=delete.testid&type=TXT
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "delete.testid", "data": "challengetoken", "type": "TXT", "ttl":
      3600}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/commit
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/?name=delete.testid&type=TXT
  response:
    body:
      string: '[{"name":"delete.testid","ttl":"3600","type":"TXT","data":"challengetoken"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "delete.testid", "data": "challengetoken", "type": "TXT"}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/delete
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/?name=delete.testid&type=TXT
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
version: 1
