interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/
  response:
    body:
      string: '[{"name":"***REMOVED***","type":"master"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/***REMOVED***/records/?data=challengetoken&name=orig.testfqdn&type=TXT
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "orig.testfqdn", "data": "challengetoken", "type": "TXT", "ttl":
      3600}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/***REMOVED***/records/
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/***REMOVED***/records/?name=orig.testfqdn&type=TXT
  response:
    body:
      string: '[{"name":"orig.testfqdn","ttl":"3600","type":"TXT","data":"challengetoken"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/***REMOVED***/records/?type=TXT
  response:
    body:
      string: '[{"name":"_acme-challenge","ttl":"1800","type":"TXT","data":"fRBvC_7Mr3bIYFTcQsMFe9E56jo_f6pb9HZXCsjArPI"},{"name":"_acme-challenge","ttl":"1800","type":"TXT","data":"dLhFTGu03GmW18icjrfQpDFPD0JlwWua6GWYCTJZA0I"},{"name":"_acme-challenge.fqdn","ttl":"3600","type":"TXT","data":"challengetoken"},{"name":"_acme-challenge.full[...]
[...]
- request:
    body: '{"name": "orig.testfqdn", "data": "challengetoken", "type": "TXT"}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/***REMOVED***/records/delete
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/***REMOVED***/records/?data=challengetoken&name=updated.testfqdn&type=TXT
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/***REMOVED***/records/commit
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
version: 1
