interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/
  response:
    body:
      string: '[{"name":"fluchtkapsel.de","type":"master"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/?data=challengetoken&name=orig.nameonly.test&type=TXT
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "orig.nameonly.test", "data": "challengetoken", "type": "TXT",
      "ttl": 3600}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/commit
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/?name=orig.nameonly.test&type=TXT
  response:
    body:
      string: '[{"name":"orig.nameonly.test","ttl":"3600","type":"TXT","data":"challengetoken"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/?type=TXT
  response:
    body:
      string: '[{"name":"test","ttl":"3600","type":"TXT","data":"TESTTEST2"},{"name":"test","ttl":"3600","type":"TXT","data":"TESTTEST3"},{"name":"test","ttl":"3600","type":"TXT","data":"TESTTEST4"},{"name":"test","ttl":"3600","type":"TXT","data":"FinalTest"},{"name":"_acme-challenge.fqdn","ttl":"3600","type":"TXT","data":"challengetok[...]
[...]
- request:
    body: '{"name": "orig.nameonly.test", "data": "challengetoken", "type": "TXT"}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/delete
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/?data=updated&name=orig.nameonly.test&type=TXT
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/commit
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
version: 1
