interactions:
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/
  response:
    body:
      string: '[{"name":"fluchtkapsel.de","type":"master"},{"name":"larp-bb.de","type":"master"},{"name":"wiedner.berlin","type":"master"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/?data=challengetoken&name=_acme-challenge.full&type=TXT
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "_acme-challenge.full", "data": "challengetoken", "type": "TXT",
      "ttl": 3600}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
- request:
    body: '{}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/dnszones/fluchtkapsel.de/records/commit
  response:
    body:
      string: ''
    headers:
      Upgrade:
      - h2,h2c
    status:
      code: 204
      message: No Content
version: 1
