interactions:
- request:
    body: '{"login": "***REMOVED***", "password": "***REMOVED***"}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/auth/token
  response:
    body:
      string: '{"token":"8ODUGIyIhfNPvD6ToeF1T3fb1dD61L4TQ9jFenmd6YC5kzrwNx2TIz3RLZyJVuA1","expires":3600}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/
  response:
    body:
      string: '[{"name":"***REMOVED***","type":"master"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
version: 1
