interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.namesilo.com/api/getDomainInfo?domain=capsulecdfake.com&type=xml&version=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <namesilo><request><operation>getDomainInfo</operation><ip>136.24.36.67</ip></request><reply><code>300</code><detail>success</detail><created>2016-04-02</created><expires>2018-04-02</expires><status>Active</status><locked>Yes</locked><private>Yes</private><auto_renew>Yes</auto_renew><traffic_type>Parked</traffic_type><email_verification_required>No</email_verification_required><portfolio>N/A</portfolio><forward_url>N/A</forward_url><forward_type>N/A</forward_type><nameservers><nameserver
        position="1">NS1.NAMESILO.COM</nameserver><nameserver position="2">NS2.NAMESILO.COM</nameserver></nameservers><contact_ids><registrant>1321</registrant><administrative>1321</administrative><technical>1321</technical><billing>1321</billing></contact_ids></reply></namesilo>

        '}
    headers:
      content-type: [text/xml]
      x-proxy-cache: [MISS]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.namesilo.com/api/dnsAddRecord?domain=capsulecdfake.com&rrhost=_acme-challenge.deleterecordset&rrttl=3600&rrtype=TXT&rrvalue=challengetoken1&type=xml&version=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <namesilo><request><operation>dnsAddRecord</operation><ip>136.24.36.67</ip></request><reply><code>300</code><detail>success</detail><record_id>1093363422701083c2e8bb6833663178</record_id></reply></namesilo>

        '}
    headers:
      content-type: [text/xml]
      x-proxy-cache: [MISS]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.namesilo.com/api/dnsListRecords?domain=capsulecdfake.com&type=xml&version=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <namesilo><request><operation>dnsListRecords</operation><ip>136.24.36.67</ip></request><reply><code>300</code><detail>success</detail><resource_record><record_id>94e84ad42c54cbdcb04b8fd687b018ab</record_id><type>A</type><host>capsulecdfake.com</host><value>107.161.23.204</value><ttl>172816</ttl><distance>0</distance></resource_record><resource_record><record_id>4e63e5777da5f7b93903999e653a9b64</record_id><type>A</type><host>capsulecdfake.com</host><value>192.161.187.200</value><ttl>172816</ttl><distance>0</distance></resource_record><resource_record><record_id>0e3ce692491d7b7d55648c5772bfa873</record_id><type>A</type><host>capsulecdfake.com</host><value>209.141.38.71</value><ttl>172816</ttl><distance>0</distance></resource_record><resource_record><record_id>b318260397dd3e024bedb73f3eeee938</reco[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.namesilo.com/api/dnsDeleteRecord?domain=capsulecdfake.com&rrid=1093363422701083c2e8bb6833663178&type=xml&version=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <namesilo><request><operation>dnsDeleteRecord</operation><ip>136.24.36.67</ip></request><reply><code>300</code><detail>success</detail></reply></namesilo>

        '}
    headers:
      content-type: [text/xml]
      x-proxy-cache: [MISS]
    status: {code: 200, message: OK}
[...]
