interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.namesilo.com/api/getDomainInfo?domain=capsulecdfake.com&type=xml&version=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <namesilo><request><operation>getDomainInfo</operation><ip>208.72.142.184</ip></request><reply><code>300</code><detail>success</detail><created>2016-04-02</created><expires>2018-04-02</expires><status>Active</status><locked>Yes</locked><private>Yes</private><auto_renew>Yes</auto_renew><traffic_type>Parked</traffic_type><forward_url>N/A</forward_url><forward_type>N/A</forward_type><nameservers><nameserver
        position="1">NS1.NAMESILO.COM</nameserver><nameserver position="2">NS2.NAMESILO.COM</nameserver></nameservers><contact_ids><registrant>1321</registrant><administrative>1321</administrative><technical>1321</technical><billing>1321</billing></contact_ids></reply></namesilo>

        '}
    headers:
      content-type: [text/xml]
      x-proxy-cache: [MISS]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.namesilo.com/api/dnsAddRecord?domain=capsulecdfake.com&rrhost=delete.testfilt&rrtype=TXT&rrvalue=challengetoken&type=xml&version=1&rrttl=3600
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <namesilo><request><operation>dnsAddRecord</operation><ip>208.72.142.184</ip></request><reply><code>300</code><detail>success</detail><record_id>b48a994b80808409870e4f59f8d13da5</record_id></reply></namesilo>

        '}
    headers:
      content-type: [text/xml]
      x-proxy-cache: [MISS]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.namesilo.com/api/dnsListRecords?domain=capsulecdfake.com&type=xml&version=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <namesilo><request><operation>dnsListRecords</operation><ip>208.72.142.184</ip></request><reply><code>300</code><detail>success</detail><resource_record><record_id>cf0f5addd6803a7700dbfc60ff8b7675</record_id><type>A</type><host>capsulecdfake.com</host><value>107.161.23.204</value><ttl>3603</ttl><distance>0</distance></resource_record><resource_record><record_id>189b6a5b36251145c060d453f771fb13</record_id><type>A</type><host>capsulecdfake.com</host><value>164.132.212.72</value><ttl>3603</ttl><distance>0</distance></resource_record><resource_record><record_id>df9ad7186be382e37997e8de575cd5a4</record_id><type>A</type><host>capsulecdfake.com</host><value>167.114.213.199</value><ttl>3603</ttl><distance>0</distance></resource_record><resource_record><record_id>b318260397dd3e024bedb73f3eeee938</record_[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.namesilo.com/api/dnsDeleteRecord?domain=capsulecdfake.com&rrid=b48a994b80808409870e4f59f8d13da5&type=xml&version=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <namesilo><request><operation>dnsDeleteRecord</operation><ip>208.72.142.184</ip></request><reply><code>300</code><detail>success</detail></reply></namesilo>

        '}
    headers:
      content-type: [text/xml]
      x-proxy-cache: [MISS]
    status: {code: 200, message: OK}
[...]
