interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.namesilo.com/api/getDomainInfo?domain=thisisadomainidonotown.com&version=1&type=xml
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <namesilo><request><operation>getDomainInfo</operation><ip>208.72.142.184</ip></request><reply><code>200</code><detail>Domain
        is not active, or does not belong to this user</detail></reply></namesilo>

        '}
    headers:
      content-type: [text/xml]
      x-proxy-cache: [MISS]
    status: {code: 200, message: OK}
version: 1
