interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.namesilo.com/api/getDomainInfo?domain=capsulecdfake.com&type=xml&version=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <namesilo><request><operation>getDomainInfo</operation><ip>136.24.36.67</ip></request><reply><code>300</code><detail>success</detail><created>2016-04-02</created><expires>2018-04-02</expires><status>Active</status><locked>Yes</locked><private>Yes</private><auto_renew>Yes</auto_renew><traffic_type>Parked</traffic_type><email_verification_required>No</email_verification_required><portfolio>N/A</portfolio><forward_url>N/A</forward_url><forward_type>N/A</forward_type><nameservers><nameserver
        position="1">NS1.NAMESILO.COM</nameserver><nameserver position="2">NS2.NAMESILO.COM</nameserver></nameservers><contact_ids><registrant>1321</registrant><administrative>1321</administrative><technical>1321</technical><billing>1321</billing></contact_ids></reply></namesilo>

        '}
    headers:
      content-type: [text/xml]
      x-proxy-cache: [MISS]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.namesilo.com/api/dnsAddRecord?domain=capsulecdfake.com&rrhost=_acme-challenge.createrecordset&rrttl=3600&rrtype=TXT&rrvalue=challengetoken1&type=xml&version=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <namesilo><request><operation>dnsAddRecord</operation><ip>136.24.36.67</ip></request><reply><code>300</code><detail>success</detail><record_id>9769d6359fa90a13fc320442f0534a70</record_id></reply></namesilo>

        '}
    headers:
      content-type: [text/xml]
      x-proxy-cache: [MISS]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.namesilo.com/api/dnsAddRecord?domain=capsulecdfake.com&rrhost=_acme-challenge.createrecordset&rrttl=3600&rrtype=TXT&rrvalue=challengetoken2&type=xml&version=1
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?>

        <namesilo><request><operation>dnsAddRecord</operation><ip>136.24.36.67</ip></request><reply><code>300</code><detail>success</detail><record_id>24050ef6ede7eb1667a9f324827b51cf</record_id></reply></namesilo>

        '}
    headers:
      content-type: [text/xml]
      x-proxy-cache: [MISS]
    status: {code: 200, message: OK}
version: 1
