interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.dnspark.com/v2/dns/capsulecd.com
  response:
    body: {string: !!python/unicode '{"status":200,"message":"OK","records":[{"record_id":"14527504","domain_id":"481510","rname":"capsulecd.com","ttl":"3600","rtype":"NS","rdata":"fns1.dnspark.net","readonly":"Y","active":"Y","ordername":null,"auth":"1","last_update":"2016-03-30T04:55:35Z"},{"record_id":"14527506","domain_id":"481510","rname":"capsulecd.com","ttl":"3600","rtype":"NS","rdata":"fns2.dnspark.net","readonly":"Y","active":"Y","ordername":null,"auth":"1","last_update":"2016-03-30T04:55:35Z"},{"record_id":"14527508","domain_id":"481510","rname":"capsulecd.com","ttl":"3600","rtype":"SOA","rdata":"fns1.dnspark.net
        hostmaster.dnspark.com 1459313735 14400 7200 1209600 3600","readonly":"N","active":"Y","ordername":null,"auth":"1","last_update":"2016-03-30T04:55:35Z"}],"additional":{"domain_id":"481510","date_added":"2016-03-30T04:55:35Z","notified_serial":"1459313735","dns_type":"MASTER","tsig_on":"Y","tsig_key_name":"testtesttest-capsulecd.com-dnspark","tsig_key_value":"NEfgx\/WTMyRVUg0\/ROKWZkyoeKdiLXkQGd6FsnnI27Y=","tsig_key_algorithm":"HMAC-MD5"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: ''}
- request:
    body: '{"rname": "docs", "rdata": "docs.example.com", "rtype": "CNAME"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.dnspark.com/v2/dns/481510
  response:
    body: {string: !!python/unicode '{"status":200,"message":"OK. Record created.","records":[{"record_id":"14527784","domain_id":"481510","rname":"docs.capsulecd.com","ttl":"3600","rtype":"CNAME","prio":"0","rdata":"docs.example.com","dynamic":"N","readonly":"N","active":"Y","ordername":"","auth":"0","last_update":"2016-03-30T05:22:28Z"}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: ''}
version: 1
