interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.dnspark.com/v2/dns/capsulecd.com
  response:
    body: {string: !!python/unicode '{"status":200,"message":"OK","records":[{"record_id":"14527504","domain_id":"481510","rname":"capsulecd.com","ttl":"3600","rtype":"NS","rdata":"fns1.dnspark.net","readonly":"Y","active":"Y","ordername":null,"auth":"1","last_update":"2016-03-30T04:55:35Z"},{"record_id":"14527506","domain_id":"481510","rname":"capsulecd.com","ttl":"3600","rtype":"NS","rdata":"fns2.dnspark.net","readonly":"Y","active":"Y","ordername":null,"auth":"1","last_update":"2016-03-30T04:55:35Z"},{"record_id":"14527508","domain_id":"481510","rname":"capsulecd.com","ttl":"3600","rtype":"SOA","rdata":"fns1.dnspark.net
        hostmaster.dnspark.com 1459315350 14400 7200 1209600 3600","readonly":"N","active":"Y","ordername":null,"auth":"1","last_update":"2016-03-30T05:22:30Z"},{"record_id":"14527784","domain_id":"481510","rname":"docs.capsulecd.com","ttl":"3600","rtype":"CNAME","rdata":"docs.example.com","readonly":"N","active":"Y","ordername":"","auth":"0","last_update":"2016-03-30T05:22:28Z"},{"record_id":"14527782","domain_id":"481510","rname":"localhost.capsulecd.com","ttl":"3600","rtype":"A","rdata":"127.0.0.1","dynamic":"N","readonly":"N","active":"Y","ordername":"","auth":"0","last_update":"2016-03-30T05:22:27Z"},{"record_id":"14527786","domain_id":"481510","rname":"_acme-challenge.fqdn.capsulecd.com","ttl":"3600","rtype":"TXT","rdata":"challengetoken","readonly":"N","active":"Y","ordername":"","auth":"0","last_update":"2016-03-30T05:22:29Z"},{"record_id":"14527788","domain_id":"481510","rname":"_acme-challenge.full.capsulecd.com","ttl":"3600","rtype":"TXT","rdata":"challengetoken","readonly":"N","active":"Y","ordername":"","auth":"0","last_update":"2016-03-30T05:22:30Z"},{"record_id":"14527790","domain_id":"481510","rname":"_acme-challenge.test.capsulecd.com","ttl":"3600","rtype":"TXT","rdata":"challengetoken","readonly":"N","active":"Y","ordername":"","auth":"0","last_update":"2016-03-30T05:22:30Z"}],"additional":{"domain_id":"481510","date_added":"2016-03-30T04:55:35Z","notified_serial":"1459313735","dns_type":"MASTER","tsig_on":"Y","tsig_key_name":"testtesttest-capsulecd.com-dnspark","tsig_key_value":"NEfgx\/WTMyRVUg0\/ROKWZkyoeKdiLXkQGd6FsnnI27Y=","tsig_key_algorithm":"HMAC-MD5"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: ''}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.dnspark.com/v2/dns/481510
  response:
    body: {string: !!python/unicode '{"status":200,"message":"OK","records":[{"record_id":"14527504","domain_id":"481510","rname":"capsulecd.com","ttl":"3600","rtype":"NS","rdata":"fns1.dnspark.net","readonly":"Y","active":"Y","ordername":null,"auth":"1","last_update":"2016-03-30T04:55:35Z"},{"record_id":"14527506","domain_id":"481510","rname":"[...]
