interactions:
- request:
    body: !!python/unicode '<?xml version=''1.0''?>

      <methodCall>

      <methodName>domain.info</methodName>

      <params>

      <param>

      <value><struct>

      <member>

      <name>domain</name>

      <value><string>lexicon-testrunner.com</string></value>

      </member>

      <member>

      <name>user</name>

      <value><string>user@fakedomain.com</string></value>

      </member>

      <member>

      <name>pass</name>

      <value><string>fakepassword</string></value>

      </member>

      </struct></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type: [text/xml]
    method: POST
    uri: https://api.ote.domrobot.com/xmlrpc/
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="UTF-8"?><methodResponse><params><param><value><struct><member><name>code</name><value><int>1000</int></value></member><member><name>msg</name><value><string>Command
        completed successfully</string></value></member><member><name>resData</name><value><struct><member><name>roId</name><value><int>30078</int></value></member><member><name>domain</name><value><string>lexicon-testrunner.com</string></value></member><member><name>domain-ace</name><value><string>lexicon-testrunner.com</string></value></member><member><name>withPrivacy</name><value><string/></value></member><member><name[...]
[...]
