interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://restapi.ultradns.com/v2/zones/example-abtest.com./rrsets
  response:
    body:
      string: !!python/unicode '{"zoneName":"example-abtest.com.","rrSets":[{"ownerName":"_acme-challenge.createrecordset.example-abtest.com.","rrtype":"TXT
        (16)","ttl":3600,"rdata":["challengetoken1","challengetoken2"]},{"ownerName":"_acme-challenge.deleterecordinset.example-abtest.com.","rrtype":"TXT
        (16)","ttl":3600,"rdata":["challengetoken2"]},{"ownerName":"_acme-challenge.fqdn.example-abtest.com.","rrtype":"TXT
        (16)","ttl":3600,"rdata":["challengetoken"]},{"ownerName":"_acme-challenge.full.example-abtest.com.","rrtype":"TXT
        (16)","ttl":3600,"rdata":["challengetoken"]},{"ownerName":"_acme-challenge.listrecordset.example-abtest.com.","rrtype":"TXT[...]
[...]
- request:
    body: !!python/unicode '{"rrtype": "TXT", "rdata": ["challengetoken"], "ownerName":
      "orig.testfull.example-abtest.com.", "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://restapi.ultradns.com/v2/zones/example-abtest.com./rrsets/TXT/orig.testfull.example-abtest.com.
  response:
    body:
      string: !!python/unicode '{"message":"Successful"}'
    headers:
      content-type:
      - application/json
      location:
      - http://restapi.ultradns.com/v2/zones/example-abtest.com./rrsets/TXT/orig.testfull.example-abtest.com.
    status:
      code: 201
      message: Created
[...]
- request:
    body: !!python/unicode '{"rrtype": "TXT", "rdata": ["challengetoken"], "ownerName":
      "updated.testfull.example-abtest.com.", "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://restapi.ultradns.com/v2/zones/example-abtest.com./rrsets/TXT/updated.testfull.example-abtest.com.
  response:
    body:
      string: !!python/unicode '{"message":"Successful"}'
    headers:
      content-type:
      - application/json
      location:
      - http://restapi.ultradns.com/v2/zones/example-abtest.com./rrsets/TXT/updated.testfull.example-abtest.com.
    status:
      code: 201
      message: Created
version: 1
