interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://restapi.ultradns.com/v2/zones/example-abtest.com./rrsets
  response:
    body:
      string: !!python/unicode '{"zoneName":"example-abtest.com.","rrSets":[{"ownerName":"_acme-challenge.fqdn.example-abtest.com.","rrtype":"TXT
        (16)","ttl":3600,"rdata":["challengetoken"]},{"ownerName":"_acme-challenge.full.example-abtest.com.","rrtype":"TXT
        (16)","ttl":3600,"rdata":["challengetoken"]},{"ownerName":"docs.example-abtest.com.","rrtype":"CNAME
        (5)","ttl":3600,"rdata":["docs.example.com.example-abtest.com."]},{"ownerName":"example-abtest.com.","rrtype":"MX
        (15)","ttl":300,"rdata":["10 mail10.example.com.","20 mail20.example.com."]},{"ownerName":"example-abtest.com.","rrtype":"NS
        (2)","ttl":86400,"rdata":["udns1.ultra[...]
[...]
- request:
    body: !!python/unicode '{"rrtype": "TXT", "rdata": ["challengetoken"], "ownerName":
      "_acme-challenge.test.example-abtest.com.", "ttl": 3600}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://restapi.ultradns.com/v2/zones/example-abtest.com./rrsets/TXT/_acme-challenge.test.example-abtest.com.
  response:
    body:
      string: !!python/unicode '{"message":"Successful"}'
    headers:
      content-type:
      - application/json
      location:
      - http://restapi.ultradns.com/v2/zones/example-abtest.com./rrsets/TXT/_acme-challenge.test.example-abtest.com.
    status:
      code: 201
      message: Created
version: 1
