interactions:
- request:
    body: username=USERNAME&password=PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://dns.services/api/login
  response:
    body:
      string: '{"token":"TOKEN","refresh":"REFRESH"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-RateLimit-Limit:
      - '25'
      X-RateLimit-Remaining:
      - '20'
      X-RateLimit-Reset:
      - '144'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Authorization:
      - Bearer TOKEN
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.services/api/dns
  response:
    body:
      string: '{"service_ids":["292"],"zones":[{"domain_id":"1178","name":"astylos.dk","service_id":"292"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
