interactions:
- request:
    body: username=USERNAME&password=PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://dns.services/api/login
  response:
    body:
      string: '{"token":"TOKEN","refresh":"REFRESH"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-RateLimit-Limit:
      - '25'
      X-RateLimit-Remaining:
      - '22'
      X-RateLimit-Reset:
      - '237'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Authorization:
      - Bearer TOKEN
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.services/api/dns
  response:
    body:
      string: '{"service_ids":["292"],"zones":[{"domain_id":"1178","name":"astylos.dk","service_id":"292"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Authorization:
      - Bearer TOKEN
      Content-Type:
      - application/json
    method: GET
    uri: https://dns.services/api/service/292/dns/1178
  response:
    body:
      string: '{"service_id":"292","name":"astylos.dk","records":{"0":{"id":"15257","domain_id":"1178","name":"astylos.dk","type":"SOA","content":["ns1.dns.services","post.dns.services","2022031027","10800","3600","1814400","7200"],"ttl":"60","prio":"0","change_date":"0","priority":"0"},"1":{"id":"15258","domain_id":"1178","name":"astylos.dk","type":"NS","content":"ns1.dns.services","ttl":"86400","prio":"0","change_date":"0","priority":"0"},"2":{"id":"15259","domain_id":"1178","name":"astylos.dk","type":"NS","content":"ns2.dns.services","ttl":"86400","prio":"0","change_date":"0","priority":"0"},"3":{"id":"15263","domain_id":"1178","name":"astylos.dk","type":"A","content":"85.184.142.35","ttl":"43200","prio":"0","change_date":"0","priority":"0"},"4":{"id":"15264","domain_id[...]
- request:
    body: '{"type": "TXT", "name": "orig.nameonly.test", "content": "updated", "ttl":
      3600}'
    headers:
      Authorization:
      - Bearer TOKEN
      Content-Type:
      - application/json
    method: PUT
    uri: https://dns.services/api/service/292/dns/1178/records/None
  response:
    body:
      string: '{"success":false,"error":["An error occurred while editing the DNS
        record"]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
