interactions:
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>domain.info</methodName>

      <params>

      <param>

      <value><string>placeholder_auth_token</string></value>

      </param>

      <param>

      <value><string>reachlike.ca</string></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type: [text/xml]
    method: POST
    uri: https://rpc.gandi.net/xmlrpc/
  response:
    body: {string: '<?xml version=''1.0''?>

        <methodResponse>

        <params>

        <param>

        <value><struct>

        <member>

        <name>entity_id</name>

        <value><string>badc90d0-cfbc-11e7-a050-00163ec31f40</string></value>

        </member>

        <member>

        <name>date_updated</name>

        <value><dateTime.iso8601>20180613T12:03:58</dateTime.iso8601></value>

        </member>

        <member>

        <name>date_delete</name>

        <value><dateTime.iso8601>20190820T01:41:46</dateTime.iso8601></value>

        </member>

        <member>

        <name>can_tld_lock</name>

        <value><boolean>1</boolean></value>

        </member>

        <member>

        <name>is_premium</name>

        <value><boolean>0</boolean></value>

        </member>

        <member>

        <name>is_special_price</name>

        <value><boolean>0</boolean></value>

        </member>

        <member>

        <name>date_hold_begin</name>

        <value><dateTime.iso8601>20190706T11:41:46</dateTime.iso8601></value>

        </member>

        <member>

        <name>date_registry_end</name>

        <value><dateTime.iso8601>20190706T11:41:46</dateTime.iso8601></value>

        </member>

        <member>

        <name>authinfo_expiration_date</name>

        <value><dateTime.iso8601>20190605T10:53:06</dateTime.iso8601></value>

        </member>

        <member>

        <name>contacts</name>

        <value><struct>

        <member>

        <name>owner</name>

        <value><struct>

        <member>

        <name>handle</name>

        <value><string>PG5332-GANDI</string></value>

        </member>

        <member>

        <name>id</name>

        <value><int>1508037</int></value>

        </member>

        </struct></value>

        </member>

        <member>

        <name>admin</name>

        <value><struct>

        <member>

        <name>handle</name>

        <value><string>PG5332-GANDI</string></value>

        </member>

        <member>

        <name>id</name>

        <value><int>1508037</int></value>

        </member>

        </struct></value>

        </member>

        <member>

        <name>bill</name>

        <value><struct>

        <member>

        <name>handle</name>

        <value><string>PG5332-GANDI</string></value>

        </member>

        <member>

        <name>id</name>

        <value><int>1508037</int></value>

        </member>

        </struct></value>

        </member>

        <member>

        <name>tech</name>

        <value><struct>

        <member>

        <name>handle</name>

        <value><string>PG5332-GANDI</string></value>

        </member>

        <member>

        <name>id</name>

        <value><int>1508037</int></value>

        </member>

        </struct></value>

        </member>

        <member>

        <name>reseller</name>

        <value><nil/></value></member>

        </struct></value>

        </member>

        <member>

        <name>nameservers</name>

        <value><array><data>

        <value><string>a.dns.gandi.net</string></value>

        <value><string>b.dns.gandi.net</string></value>

        <value><string>c.dns.gandi.net</string></value>

        </data></array></value>

        </member>

        <member>

        <name>date_restore_end</name>

        <value><dateTime.iso8601>20190919T11:41:46</dateTime.iso8601></value>

        </member>

        <member>

        <name>id</name>

        <value><int>3084498</int></value>

        </member>

        <member[...]
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>domain.zone.version.new</methodName>

      <params>

      <param>

      <value><string>placeholder_auth_token</string></value>

      </param>

      <param>

      <value><int>3386877</int></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type: [text/xml]
    method: POST
    uri: https://rpc.gandi.net/xmlrpc/
  response:
    body: {string: '<?xml version=''1.0''?>

        <methodResponse>

        <params>

        <param>

        <value><int>17</int></value>

        </param>

        </params>

        </methodResponse>

        '}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>domain.zone.record.list</methodName>

      <params>

      <param>

      <value><string>placeholder_auth_token</string></value>

      </param>

      <param>

      <value><int>3386877</int></value>

      </param>

      <param>

      <value><int>0</int></value>

      </param>

      <param>

      <value><struct>

      <member>

      <name>type</name>

      <value><string>TXT</string></value>

      </member>

      <member>

      <name>name</name>

      <value><string>delete.testid</string></value>

      </member>

      </struct></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type: [text/xml]
    method: POST
    uri: https://rpc.gandi.net/xmlrpc/
  response:
    body: {string: '<?xml version=''1.0''?>

        <methodResponse>

        <params>

        <param>

        <value><array><data>

        </data></array></value>

        </param>

        </params>

        </methodResponse>

        '}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
