interactions:
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>domain.info</methodName>

      <params>

      <param>

      <value><string>GANDI-TOKEN</string></value>

      </param>

      <param>

      <value><string>reachlike.ca</string></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type: [text/xml]
    method: POST
    uri: https://rpc.gandi.net/xmlrpc/
  response:
    body: {string: '<?xml version=''1.0''?>

        <methodResponse>

        <params>

        <param>

        <value><struct>

        <member>

        <name>entity_id</name>

        <value><nil/></value></member>

        <member>

        <name>date_updated</name>

        <value><dateTime.iso8601>20170614T21:19:49</dateTime.iso8601></value>

        </member>

        <member>

        <name>date_delete</name>

        <value><dateTime.iso8601>20180820T01:41:46</dateTime.iso8601></value>

        </member>

        <member>

        <name>can_tld_lock</name>

        <value><boolean>1</boolean></value>

        </member>

        <member>

        <name>is_premium</name>

        <value><boolean>0</boolean></value>

        </member>

        <member>

        <name>date_hold_begin</name>

        <value><dateTime.iso8601>20180706T11:41:46</dateTime.iso8601></value>

        </member>

        <member>

        <name>date_registry_end</name>

        <value><dateTime.iso8601>20180706T11:41:46</dateTime.iso8601></value>

        </member>

        <member>

        <name>authinfo_expiration_date</name>

        <value><dateTime.iso8601>20180605T10:49:25</dateTime.iso8601></value>

        </member>

        <member>

        <name>contacts</name>

        <value><struct>

        <member>

        <name>owner</name>

        <value><struct>

        <member>

        <name>handle</name>

        <value><string>GANDI-USER</string></value>

        </member>

        <member>

        <name>id</name>

        <value><int>1508037</int></value>

        </member>

        </struct></value>

        </member>

        <member>

        <name>admin</name>

        <value><struct>

        <member>

        <name>handle</name>

        <value><string>GANDI-USER</string></value>

        </member>

        <member>

        <name>id</name>

        <value><int>1508037</int></value>

        </member>

        </struct></value>

        </member>

        <member>

        <name>bill</name>

        <value><struct>

        <member>

        <name>handle</name>

        <value><string>GANDI-USER</string></value>

        </member>

        <member>

        <name>id</name>

        <value><int>1508037</int></value>

        </member>

        </struct></value>

        </member>

        <member>

        <name>tech</name>

        <value><struct>

        <member>

        <name>handle</name>

        <value><string>GANDI-USER</string></value>

        </member>

        <member>

        <name>id</name>

        <value><int>1508037</int></value>

        </member>

        </struct></value>

        </member>

        <member>

        <name>reseller</name>

        <value><nil/></value></member>

        </struct></value>

        </member>

        <member>

        <name>nameservers</name>

        <value><array><data>

        <value><string>a.dns.gandi.net</string></value>

        <value><string>b.dns.gandi.net</string></value>

        <value><string>c.dns.gandi.net</string></value>

        </data></array></value>

        </member>

        <member>

        <name>date_restore_end</name>

        <value><dateTime.iso8601>20180919T11:41:46</dateTime.iso8601></value>

        </member>

        <member>

        <name>id</name>

        <value><int>3084498</int></value>

        </member>

        <member[...]
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>domain.zone.version.new</methodName>

      <params>

      <param>

      <value><string>GANDI-TOKEN</string></value>

      </param>

      <param>

      <value><int>2752905</int></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type: [text/xml]
    method: POST
    uri: https://rpc.gandi.net/xmlrpc/
  response:
    body: {string: '<?xml version=''1.0''?>

        <methodResponse>

        <params>

        <param>

        <value><int>24</int></value>

        </param>

        </params>

        </methodResponse>

        '}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '<?xml version=''1.0''?>

      <methodCall>

      <methodName>domain.zone.version.set</methodName>

      <params>

      <param>

      <value><string>GANDI-TOKEN</string></value>

      </param>

      <param>

      <value><int>2752905</int></value>

      </param>

      <param>

      <value><int>25</int></value>

      </param>

      </params>

      </methodCall>

      '
    headers:
      Content-Type: [text/xml]
    method: POST
    uri: https://rpc.gandi.net/xmlrpc/
  response:
    body: {string: '<?xml version=''1.0''?>

        <methodResponse>

        <params>

        <param>

        <value><boolean>1</boolean></value>

        </param>

        </params>

        </methodResponse>

        '}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
