interactions:
- request:
    body: !!python/unicode '{"domainname": "capsulecd.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.glesys.com/domain/listrecords?format=json
  response:
    body: {string: !!python/unicode '{"response":{"status":{"code":200,"timestamp":"2017-03-28T16:01:26+02:00","text":"OK","transactionid":null},"records":[{"recordid":1044617,"domainname":"capsulecd.com","host":"ttl.fqdn.capsulecd.com","type":"TXT","data":"ttlshouldbe3600","ttl":3600},{"recordid":909871,"domainname":"capsulecd.com","host":"@","type":"NS","data":"ns1.namesystem.se.","ttl":3600},{"recordid":909872,"domainname":"capsulecd.com","host":"@","type":"NS","data":"ns2.namesystem.se.","ttl":3600},{"recordid":909873,"domainname":"capsulecd.com","host":"@","type":"NS","data":"ns3.namesystem.se.","ttl":3600},{"recordid":909876,"domainname":"capsulecd.com","host":"@","type":"TXT","data":"v=spf1
        include:spf.glesys.se -all","ttl":3600},{"recordid":1044609,"domainname":"capsulecd.com","host":"docs.capsulecd.com","type":"CNAME","data":"docs.example.com","ttl":3600},{"recordid":1044618,"domainname":"capsulecd.com","host":"random.fqdntest.capsulecd.com","type":"TXT","data":"challengetoken","ttl":3600},{"recordid":1044611,"domainname":"capsulecd.com","host":"_acme-challenge.full.capsulecd.com","type":"TXT","data":"challengetoken","ttl":3600},{"recordid":1044612,"domainname":"capsulecd.com","host":"_acme-challenge.test.capsulecd.com","type":"TXT","data":"challengetoken","ttl":3600},{"recordid":1044562,"domainname":"capsulecd.com","host":"localhost.capsulecd.com","type":"A","data":"127.0.0.1","ttl":3600},{"recordid":1044610,"domainname":"capsulecd.com","host":"_acme-challenge.fqdn.capsulecd.com","type":"TXT","data":"challengetoken","ttl":3600}],"debug":{"input":{"domainname":"capsulecd.com"}}}}'}
    headers:
      content-type: [application/json]
      status: ['200']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"data": "challengetoken", "host": "random.fulltest.capsulecd.com",
      "type": "TXT", "domainname": "capsulecd.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.glesys.com/domain/addrecord?format=json
  response:
    body: {string: !!python/unicode '{"response":{"status":{"code":200,"timestamp":"2017-03-28T16:01:26+02:00","text":"Record
        added.","transactionid":null},"record":{"recordid":1044619,"domainname":"capsulecd.com","host":"random.fulltest.capsulecd.com","type":"TXT","data":"challengetoken","ttl":3600},"debug":{"input":{"data":"challengetoken","host":"random.fulltest.capsulecd.com","type":"TXT","domainname":"capsulecd.com"}}}}'}
    headers:
      content-type: [application/json]
      status: ['200']
    status: {code: 200, message: OK}
[...]
