interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.glesys.com/domain/list?format=json
  response:
    body: {string: !!python/unicode '{"response":{"status":{"code":200,"timestamp":"2017-03-30T15:44:07+02:00","text":"OK","transactionid":null},"domains":[{"domainname":"capsulecd.com","createtime":"2016-07-27T14:57:07+02:00","recordcount":4,"registrarinfo":{"state":"OK","statedescription":"","expire":"2017-07-27","autorenew":"yes","tld":"se","invoicenumber":null}}],"debug":{"input":{}}}}'}
    headers:
      content-type: [application/json]
      status: ['200']
    status: {code: 200, message: OK}
version: 1
