interactions:
- request:
    body: '{"nonce": "333a56c8f6434160b74c9c786a895242", "global_key": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.transip.nl/v6/auth
  response:
    body:
      string: '{"token":"TOKEN"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.transip.nl/v6/domains/nuvius.nl
  response:
    body:
      string: '{"domain":{"name":"nuvius.nl","authCode":"AUTH_CODE","isTransferLocked":false,"registrationDate":"2020-01-05","renewalDate":"2023-01-05","isWhitelabel":false,"isDnsOnly":false,"cancellationDate":"","cancellationStatus":"","hasActionRunning":false,"supportsLocking":false,"tags":[],"hasAutoDns":false},"_links":[{"rel":"self","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl"},{"rel":"branding","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl\/branding"},{"rel":"contacts","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl\/contacts"},{"rel":"dns","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl\/dns"},{"rel":"nameservers","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl\/nameservers"},{"rel":"actions","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl\/actions"},{"rel":"zone-file","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl\/zone-file"}]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '863'
      X-Rate-Limit-Reset:
      - '1642373790'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.transip.nl/v6/domains/nuvius.nl/dns
  response:
    body:
      string: '{"dnsEntries":[{"name":"2019._domainkey","expire":86400,"type":"TXT","content":"v=DKIM1;k=rsa;t=s;s=email;p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsWlsP40XKeHQ\/fv4NmubpGi\/Szvlw5M4WPyEwTPCeUjNC9RlhMDsniEgWyUw22pZ5xe0JzfMvykkDjRRhJ3lb21MPwJkBAwto07rh2epg0W4CDR6k74KdWXshS8Z0l8dcX6obp5bCADJgjSi0xq3ivDtR5+lFc5K+wDvj08JIw0dDyxd7yIc5Q2hOBI7fMr4\/5uayoUYp8aa8JmnlfDx826qWml2R3EqfUQf0KV6wq4U2YoKR48B4pvG3lAKXzOklQVyBSZPNyFq9KRKSvy5bDVeeSfwsCJgio36+SXVUVwWJ5y+dKo\/kfJt25GoAnIedtKieCgq7oXYFac8SW39ywIDAQAB"},{"name":"@","expire":300,"type":"A","content":"45.83.235.134"},{"name":"[...]
