interactions:
- request:
    body: '{"nonce": "85d994802e5e4810a1a17cd30d3aee43", "global_key": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.transip.nl/v6/auth
  response:
    body:
      string: '{"token":"TOKEN"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.transip.nl/v6/domains/thisisadomainidonotown.com
  response:
    body:
      string: '{"error":"Domain with name ''thisisadomainidonotown.com'' not found"}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '949'
      X-Rate-Limit-Reset:
      - '1642373790'
    status:
      code: 404
      message: Not Found
version: 1
