interactions:
- request:
    body: '{"nonce": "ba049c94446b46ffad564720bdee20ee", "global_key": true}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.transip.nl/v6/auth
  response:
    body:
      string: '{"token":"TOKEN"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.transip.nl/v6/domains/nuvius.nl
  response:
    body:
      string: '{"domain":{"name":"nuvius.nl","authCode":"AUTH_CODE","isTransferLocked":false,"registrationDate":"2020-01-05","renewalDate":"2023-01-05","isWhitelabel":false,"isDnsOnly":false,"cancellationDate":"","cancellationStatus":"","hasActionRunning":false,"supportsLocking":false,"tags":[],"hasAutoDns":false},"_links":[{"rel":"self","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl"},{"rel":"branding","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl\/branding"},{"rel":"contacts","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl\/contacts"},{"rel":"dns","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl\/dns"},{"rel":"nameservers","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl\/nameservers"},{"rel":"actions","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl\/actions"},{"rel":"zone-file","link":"https:\/\/api.transip.nl\/v6\/domains\/nuvius.nl\/zone-file"}]}'
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '950'
      X-Rate-Limit-Reset:
      - '1642373790'
    status:
      code: 200
      message: OK
version: 1
