interactions:
- request:
    body: !!python/unicode '<?xml version=''1.0''?>

      <methodCall>

      <methodName>getDomains</methodName>

      <params>

      <param>

      <value><struct>

      <member>

      <name>headers</name>

      <value><struct>

      <member>

      <name>authenticate</name>

      <value><struct>

      <member>

      <name>username</name>

      <value><string>placeholder_auth_username</string></value>

      </member>

      <member>

      <name>apiKey</name>

      <value><string>placeholder_auth_api_key</string></value>

      </member>

      </struct></value>

      </member>

      <member>

      <name>SoftLayer_AccountObjectFilter</name>

      <value><struct>

      <member>

      <name>domains</name>

      <value><struct>

      <member>

      <name>name</name>

      <value><struct>

      <member>

      <name>operation</name>

      <value><string>_= example.com</string></value>

      </member>

      </struct></value>

      </member>

      </struct></value>

      </member>

      </struct></value>

      </member>

      </struct></value>

      </member>

      </struct></value>

      </param>

      </params>

      </methodCall>

'
    headers:
      Content-Type: [application/xml]
    method: POST
    uri: https://api.softlayer.com/xmlrpc/v3.1/SoftLayer_Account
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<params>\n<param>\n
        <value>\n  <array>\n   <data>\n    <value>\n     <struct>\n      <member>\n
        \      <name>id</name>\n       <value>\n        <int>2140781</int>\n       </value>\n
        \     </member>\n      <member>\n       <name>name</name>\n       <value>\n
        \       <string>example.com</string>\n       </value>\n      </member>\n
        \     <member>\n       <name>serial</name>\n       <value>\n        <int>2017071502</int>\n
        \      </value>\n      </member>\n      <member>\n       <name>updateDate</name>\n
        \      <value>\n        <string>2017-07-16T03:06:20-05:00</string>\n       </value>\n
        \     </member>\n     </struct>\n    </value>\n   </data>\n  </array>\n </value>\n</param>\n</params>\n"}
    headers:
      content-type: [text/xml]
      ntcoent-length: ['690']
      softlayer-total-items: ['1']
    status: {code: 200, message: OK}
version: 1
