interactions:
- request:
    body: !!python/unicode '<?xml version=''1.0''?>

      <methodCall>

      <methodName>getDomains</methodName>

      <params>

      <param>

      <value><struct>

      <member>

      <name>headers</name>

      <value><struct>

      <member>

      <name>authenticate</name>

      <value><struct>

      <member>

      <name>username</name>

      <value><string>placeholder_auth_username</string></value>

      </member>

      <member>

      <name>apiKey</name>

      <value><string>placeholder_auth_api_key</string></value>

      </member>

      </struct></value>

      </member>

      <member>

      <name>SoftLayer_AccountObjectFilter</name>

      <value><struct>

      <member>

      <name>domains</name>

      <value><struct>

      <member>

      <name>name</name>

      <value><struct>

      <member>

      <name>operation</name>

      <value><string>_= thisisadomainidonotown.com</string></value>

      </member>

      </struct></value>

      </member>

      </struct></value>

      </member>

      </struct></value>

      </member>

      </struct></value>

      </member>

      </struct></value>

      </param>

      </params>

      </methodCall>

'
    headers:
      Content-Type: [application/xml]
    method: POST
    uri: https://api.softlayer.com/xmlrpc/v3.1/SoftLayer_Account
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<params>\n<param>\n
        <value>\n  <array>\n   <data/>\n  </array>\n </value>\n</param>\n</params>\n"}
    headers:
      content-type: [text/xml]
      ntcoent-length: ['126']
      softlayer-total-items: ['0']
    status: {code: 200, message: OK}
version: 1
